[2022-07-15 09:18] #1373 closed, assigned to kshitij1326

[2022-07-15 09:19] #1461 closed, assigned to kshitij1326

[2022-07-15 09:19] #426 closed, assigned to ashish76

[2022-07-15 09:27] rupalichavan9860 commented on #1365
Verified

[2022-07-15 09:41] sonalizibtek commented on #1321
Tested on Production . It is working fine. @rupalichavan9860 Please confirm once

[2022-07-15 10:05] sonalizibtek commented on #1382
Tested on Production .It is working fine @rupalichavan9860 Please confirm once

[2022-07-15 10:19] sonalizibtek commented on #1357
Tested on Production . It is working fine . @rupalichavan9860 Please confirm once

[2022-07-15 10:36] subhancd commented on #1459
working fine on live. @rupalichavan9860 kindly verify.

[2022-07-15 11:05] sonalizibtek commented on #1398
Tested on Production . Not working
1.Score is showing one
2.User B support is removed . Please find the attached screenshot below
 . @rupalichavan9860 Please confirm once
![Screenshot (1017)](https://user-images.githubusercontent.com/99309948/179211234-2dfaf792-5442-4521-9db5-378fb5c467ff.png)

[2022-07-15 11:32] rupalichavan9860 commented on #1459
Verified

[2022-07-15 11:32] #1459 closed, assigned to ahmed130544

[2022-07-15 12:01] sonalizibtek opened #1487 "When you copy paste the url of browse page after checking the my created topic check box in new tab , and when user is not logged In , the complete topic list should be displayed"
Steps to Produce:
1.Login and navigate to Browse page.
2.Select any namespace from the dropdown. e.g user selects 2nd namespace as 'corporations' and check the box' My topics created' is URL https://staging.canonizer.com/browse?namespace=2&my=2 which is correct
3.Now copy the URL and log out
4.Paste the URL in a new BROWSER ,
the list will be seen Incorrect
5.Click on Login link and log in the app

[2022-07-15 12:43] rupalichavan9860 commented on #1430
Verified on production

[2022-07-15 12:43] #1430 closed, assigned to sunilspr7

[2022-07-15 12:46] rupalichavan9860 commented on #1321
Verified on production

[2022-07-15 12:48] rupalichavan9860 commented on #1382
Verified on production

[2022-07-15 12:48] #1382 closed, assigned to ahmed130544

[2022-07-15 12:54] rupalichavan9860 commented on #1350
Working fine all cases on live also but need to wait  24 hours for below case :
Topic in one namespace and moved to other - change submitted by another user and it should get move to new namespace after 24 hours ( I will check this after 24 hours)

SO will check tomorrow and then close

[2022-07-15 13:41] rupalichavan9860 commented on #1357
Verified on production

[2022-07-15 13:41] #1357 closed, assigned to kshitij1326

[2022-07-15 13:41] rupalichavan9860 commented on #1381
Verified on production

[2022-07-15 13:41] #1381 closed, assigned to ahmed130544

[2022-07-15 16:16] sonalizibtek opened #1488 "Not able to login using Face book in both live and staging"
![Screenshot (1021)](https://user-images.githubusercontent.com/99309948/179264641-bf50b356-8a4d-4c01-a50b-e92fa54a62cc.png)

[2022-07-17 20:36] ahmed130544 opened #1489 "Add check in migration files"
Add following check in migrations files:
1. Check if table already exists, do not run migration to create table.
2. Check if table already exists, then run migration to add new column or foreign key constraints.
3. Remove extra migration files.
4. Remove extra spaces in code.
5. Indent code.

[2022-07-18 02:44] rupalichavan9860 commented on #1350
Verified on production

[2022-07-18 02:44] #1350 closed, assigned to ahmed130544

[2022-07-18 04:49] rupalichavan9860 commented on #1425
@ahmed130544 Tested . This is not fixed yet. Please refer attached screenshot :
Live camp names :
![image](https://user-images.githubusercontent.com/40416610/179446967-8b4979a9-7c09-4cf5-8394-5ffacd17a7e9.png)

Supported Camps :
![image](https://user-images.githubusercontent.com/40416610/179446819-4a9759ed-1274-4901-8d5a-b816160f1594.png)

![image](https://user-images.githubusercontent.com/4041661

[2022-07-18 04:57] rupalichavan9860 commented on #1426
@ahmed130544 Tested and verified

[2022-07-18 05:01] rupalichavan9860 commented on #1468
@ahmed130544 Tested and verified

[2022-07-18 05:42] rupalichavan9860 commented on #1427
@ahmed130544 Working fine on all pages except supported camps/user supports/manage support page, but we have different ticket for that so closing this issue

[2022-07-18 05:43] rupalichavan9860 commented on #1385
Working social accounts fine on production except Facebook(created different ticket) so closing this issue

[2022-07-18 05:43] #1385 closed, assigned to kshitij1326

[2022-07-18 05:58] rupalichavan9860 commented on #1346
@sunilspr7 Tested and verified

[2022-07-18 06:36] rupalichavan9860 commented on #426
Tested and verified

[2022-07-18 08:11] rupalichavan9860 commented on #1467
@kshitij1326 This is not working in below case :
If user is logged out then default algorithm selected is "One person one vote"  then if user copied any topic URL and then log in -  User can see algorithm selected is "one person one vote" instead of selected algorithm from default algorithm preferences

[2022-07-18 11:23] #1476 closed, assigned to kshitij1326

[2022-07-19 04:39] rupalichavan9860 commented on #1461
Tested and verified

[2022-07-20 04:46] rupalichavan9860 commented on #1286
@BrentAllsop @karun0607gautam I checked with some sandy city addresses but I am facing below issue,
Whenever I select any address I can see city name "Sandy" in field "Address Line 2" and "Salt Lake County" in field "City"
![image](https://user-images.githubusercontent.com/40416610/179898775-9a024a80-1ead-4bd0-abcf-255bc41622a5.png)

Also I checked for Brent's  user

![image](https://user-images.g

[2022-07-20 04:50] rupalichavan9860 commented on #1286
Even I tried same address as Brent's address for my test account
![image](https://user-images.githubusercontent.com/40416610/179899275-dcf74652-798a-49d4-a222-573a8bfab336.png)

and observed score on topic when selecting "Sandy City" algorithm and it is showing 0 because city is "Salt Lake County"

![image](https://user-images.githubusercontent.com/40416610/179899482-6a5e6c2b-1e78-41cb-bd93-1b02ee

[2022-07-20 10:23] saniatg opened #1493 "Support tree is not showing for 2.0 live environment"
https://canonizer.com/topic/88-Theories-of-Consciousness/1-Agreement
![Screenshot 2022-07-20 at 3 55 48 PM](https://user-images.githubusercontent.com/91254708/179959556-f5e526e9-8f7d-4e56-9b45-ab7d7f24e503.png)

[2022-07-20 10:32] saniatg commented on #1493
As discussed with Rupali not an issue. Closing it

[2022-07-20 10:32] #1493 closed, assigned to nobody

[2022-07-20 16:18] BrentAllsop opened #1494 "New whitelist id canonizer algorithm system."
We need to have the ability to create named canonizer algorithms, where we make a list of nick_name_ids of the only ids that get how much vote.  For example, we want to have a "sandy city council" canonizer algorithm people can select to find out how the 7 people on the current sandy city council voted on topics like [this one](https://canonizer.com/topic/532-Sandy-City-Building-Needs/1-Agreement)

[2022-07-21 04:55] #1279 closed, assigned to kshitij1326

[2022-07-21 04:55] #1467 closed, assigned to kshitij1326

[2022-07-21 05:42] sonalizibtek commented on #1485
@ahmed130544 , this issue is not fixed.
Count of topics in main page is - 45 [general namespace]
Count of topics in browse is - 247 [ general namespace ]

[2022-07-21 06:03] sonalizibtek commented on #1425
Tested and verified .It is working fine. @rupalichavan9860  please confirm once

[2022-07-21 06:20] sonalizibtek commented on #1279
Tested and Verified . It is working fine . @rupalichavan9860 Please confirm once

[2022-07-21 06:21] subhancd commented on #1392
working fine @rupalichavan9860 . kindly, verify

[2022-07-21 06:43] sonalizibtek opened #1495 "Page crash on agreeing the other user changes"
steps to Produce :
case :

1. User A will create a topic and 2 camps : "camp1 " & "camp2"
2. Support "camp1"
3. Now create a subcamp "subcamp"under camp 2
4. Login with User B and directly support camp 1 ( Total support of camp 1 is 2)
5. Login with User A and change parent of "subcamp" from camp2 to "camp1"
6. and again change the parent of subcamp from camp1 to camp2  and commit the changes
7. L

[2022-07-21 07:34] sonalizibtek commented on #1398
Tested and Verified. It is working fine @rupalichavan9860 Please confirm once

[2022-07-21 07:37] rupalichavan9860 commented on #1392
Verified

[2022-07-21 08:13] rupalichavan9860 commented on #1425
Verified

[2022-07-21 09:15] sonalizibtek commented on #1467
Tested and Verified, its working fine . @rupalichavan9860  Please confirm once

[2022-07-21 09:20] rupalichavan9860 commented on #1467
Verified

[2022-07-21 11:35] rupalichavan9860 commented on #1279
Verified

[2022-07-21 11:40] rupalichavan9860 commented on #1478
Verified By Ashutosh

[2022-07-21 12:06] rupalichavan9860 commented on #1398
@sunilspr7 This is still not working in below case :
Steps:
1. User A creates a topic and 2 camps : "camp 1 " & "camp 2"
2. Support "camp 1"
3. Now create a subcamp "subcamp" under camp 2
4. Login with User B and directly support camp 1 ( Total support of camp 1 is 2)
5. Login with User A and change parent of "subcamp" from camp 2 to "camp 1"(score for camp 1 will be 2) - this is correct
6. Login

[2022-07-21 12:32] rupalichavan9860 opened #1497 "Profile Info : Address issue"
Whenever I select any address I can see city name "Sandy" in field "Address Line 2" and "Salt Lake County" in field "City"

![image](https://user-images.githubusercontent.com/40416610/180213751-b15449f9-16da-4729-8a4c-1eac7930b3cc.png)

![image](https://user-images.githubusercontent.com/40416610/180213784-6fca56f1-f29c-4fec-98d7-0b7cc60ca5a3.png)

As "Sandy" is city , it should show in "City" fiel

[2022-07-21 12:34] rupalichavan9860 commented on #1286
As discussed in meeting I have created separate ticket for above issue #1497

Once  1497 is fixed I will check "Sandy City" algorithm and close the ticket

[2022-07-21 16:10] rupalichavan9860 commented on #1477
Same on Browse page  and Canonizer Main Page :
![image](https://user-images.githubusercontent.com/40416610/180261871-23ba7dc0-cb22-41e6-9323-a32889449318.png)

![image](https://user-images.githubusercontent.com/40416610/180262192-997aadb9-239d-42a1-9210-bcb5c05e4845.png)

[2022-07-21 20:05] BrentAllsop opened #1498 "formatting character issues in forum thread posts."
I copied and pasted a forum post from MS word on July 21st.
https://canonizer.com/forum/270-Canonizer-Values/14-Accuracy-and-Fairness/threads/467

Evidently there were some extra characters at the end of the lines, which caused each line to be printed in it's own column in the e-mail that went out.  As you can see, each line was converted into a column in the e-mail:

![image](https://user-images.

[2022-07-22 08:32] rupalichavan9860 commented on #1428
@sunilspr7 Working fine for new thread but existing thread is getting updated with duplicate name . Please refer below screenshot :
![image](https://user-images.githubusercontent.com/40416610/180398471-d2d3e380-0d16-4e84-b808-9c7f8a3279b3.png)

[2022-07-22 09:41] sonalizibtek commented on #1495
Tested and Verified. It is working fine @rupalichavan9860 Please confirm once

[2022-07-22 11:14] rupalichavan9860 commented on #1495
Verified

[2022-07-22 13:16] rupalichavan9860 commented on #1497
Tested and verified

[2022-07-22 13:20] rupalichavan9860 commented on #1286
@karun0607gautam @BrentAllsop Tested and working fine .
If user is supporting 2 camps and selected algorithm is "Sandy City" then score is showing like :
Camp 1 : 0.50
Camp 2 : 0.25

Is this fine @BrentAllsop or it should be same like "One Person One vote"
Camp 1 : 0.75
Camp 2 : 0.25

[2022-07-25 02:44] rohit-talentelgia opened #1499 "Disable dropdown to change parent camp on Production only"
As discussed over the call, we need to disable the dropdown to change parent camp from production only, till the time hierarchy change issue is not resolved.

[2022-07-25 05:52] saniatg opened #1500 "Support is being removed when a delegated user is trying to support the camp directly"
Steps:

1. User A creates topic and support is automatically added
2. User B delegates support to User A in agreement camp
3. Now User B tries to support agreement camp directly . Warning "Warning! You have already delegated your support for this camp to user User A. If you continue your delegated support will be removed. " which is correct
4. Click on submit

Actual Result: User B support is remo

[2022-07-25 07:02] saniatg opened #1501 "Getting page crash when click on "delegate page" on an page which is not refreshed"
Precondition: User A and User B must be logged in two different browsers

Steps:

1. User A Create a topic , create a camp(Camp1) and a sub-camp (sub camp1)
2. Support sub camp1
3. Login with B in different browser and directly support sub camp1
4. Now navigate to User A browser and  create a new camp(camp2) and a sub camp(sub camp 2)
5. Click on sub camp 1, support will be seen 2 and in support t

[2022-07-25 07:06] rupalichavan9860 opened #1502 "Getting crash while adding support and support is getting added to every camp"
Please refer below screenshot :
![image](https://user-images.githubusercontent.com/40416610/180718048-0adff083-e593-4a47-8a1c-1aeb31be70c5.png)

Support getting added to parent and child with same choice number

![image](https://user-images.githubusercontent.com/40416610/180718451-fba5eb6d-ae51-4958-ada2-b9f8c715df15.png)

[2022-07-25 11:54] karun0607gautam commented on #1286
@rupalichavan9860 , @BrentAllsop Please test this

[2022-07-26 04:30] rupalichavan9860 commented on #1286
Tested and verified. Working fine for me
@BrentAllsop  Can you please test and close if fine for you

[2022-07-26 05:16] rupalichavan9860 commented on #1494
Tested and verified . I have checked for Algorithm Name: "Sandy City Council" with below users
Brent Allsop (1): 1
Jim Bennett (346): 1

and working fine for me
@BrentAllsop Can you please test and close if fine for you

[2022-07-26 11:06] ashish76 commented on #1488
@gautamv16 @akuks: Based on the error prompt on the screen it seems that the Facebook app is still in test mode. Could you please make it live.

[2022-07-27 08:26] #1414 closed, assigned to kshitij1326

[2022-07-27 08:26] #1479 closed, assigned to kshitij1326

[2022-07-27 09:40] sonalizibtek commented on #1428
Tested and Verified. It is working fine . @rupalichavan9860  Please confirm once

[2022-07-27 10:07] sonalizibtek commented on #1485
@ahmed130544 . this issue is not fixed.
case1 :Canonizer main page for sandbox testing namespace -  239
Browse for sandbox testing  - 237

case 2 : Canonizer main page for general namespace -  269
Browse for general - 265

[2022-07-27 10:10] sonalizibtek commented on #1483
Tested and Verified. It is working fine @rupalichavan9860  Please confirm once

[2022-07-27 10:12] saniatg commented on #1398
@rupalichavan9860 above mentioned case is working fine. Please confirm

[2022-07-27 14:50] saniatg commented on #1500
@sunilspr7 This issue is not fixed

[2022-07-27 20:12] ahmed130544 commented on #1485
Ok @sonalizibtek will work on it.

[2022-07-27 21:30] ahmed130544 opened #1506 "Fix issue to save failed jobs in database"

[2022-07-28 02:34] rupalichavan9860 commented on #1483
Verified

[2022-07-28 03:50] rupalichavan9860 commented on #1428
@sunilspr7 I found some more issues
1. When user tries to update thread without any changes , it is showing error message "Thread title must be unique"
2. I can see 2 different error messages "Error! Thread title must be unique!" and " Thread title must be unique" , error messages must be uniform

![image](https://user-images.githubusercontent.com/40416610/181416239-915b84a5-94d2-47ed-969b-d351945

[2022-07-28 04:58] rupalichavan9860 commented on #1398
Verified

[2022-07-28 05:19] sonalizibtek opened #1508 "Include Review is Not working on Staging 2.0"
![Screenshot (1126)](https://user-images.githubusercontent.com/99309948/181426336-af5314f5-30ee-4446-bddd-bfd0e5b2aeb1.png)

[2022-07-28 09:51] rupalichavan9860 opened #1509 "User's support should not removed from parent camp in below case"
Steps to reproduce :
1. "camp 1" and "camp 2" are sibling camps
2. User A supports  "camp 1" and User B supports "camp 2"
3. Now Login with User B and change parent of "camp 2" to "camp 1" from Agreement

Expected Result :
User A should be supporter of "camp 1" and User B should be supporter of "camp 2"

Actual Result :
Support of User A is removed from "camp 1" and User A is now supporter of "cam

[2022-07-29 05:43] subhancd opened #1510 "Namespace resets on changing the as of to "include review" from 'default'"
**Steps to reproduce**

1. navigate to https://staging.canonizer.com/
2. navigate to browse and select any namespace other than 'all'
3. change as of filter to 'include review'
**Actual Result**
namespace field resets
**Expected result**
namespace field shouldn't reset

[2022-07-29 09:26] saniatg commented on #1500
@rupalichavan9860 Tested and is working fine now.

[2022-07-29 09:51] subhancd commented on #1508
working fine. @rupalichavan9860 kindly verify

[2022-07-29 10:01] saniatg commented on #1428
Tested and is working fine @rupalichavan9860 Please confirm

[2022-07-29 10:03] subhancd commented on #1501
not working. @rupalichavan9860 kindly, verify this.

[2022-07-29 10:39] rupalichavan9860 commented on #1508
Tested and verified

[2022-07-29 10:43] rupalichavan9860 commented on #1428
Verified

[2022-07-29 10:43] rupalichavan9860 commented on #1500
Verified

[2022-07-29 11:07] saniatg commented on #1501
@sunilspr7 Not working
On 9th step when click  on delegate button warning is seen. Click on Submit button.
On click submit button , page is just loading nothing is happening

[2022-07-29 13:09] rupalichavan9860 opened #1512 ""Include Review" filter is not working on Browse page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Apply "include review" filter on home page or any topic detail page
4. Click on Browse page (Include review filter is persist on Browse page)
5. Observe topic names

Expected Result :
It should show in review topic names if any

Actual Result :
It is displaying live topic names and to see in revi

[2022-07-29 13:56] rupalichavan9860 commented on #1501
@sunilspr7 After 9th step User A and User B became delegated supporter of each other
![image](https://user-images.githubusercontent.com/40416610/181775739-fc54dc67-90d9-4b0f-bb15-de5bb4784d18.png)

![image](https://user-images.githubusercontent.com/40416610/181775753-c31f8f62-99f9-4b50-a93a-bf5ceff3e0b3.png)

And topic score is displaying as 0

![image](https://user-images.githubusercontent.com/40

[2022-08-01 06:28] rupalichavan9860 commented on #1502
Tested and verified

[2022-08-01 11:47] rupalichavan9860 commented on #1509
@BrentAllsop Can you please confirm

[2022-08-02 04:36] saniatg opened #1514 "Not able to propose a change for the agreement camp"
1. Create a topic
2. Click on manage/edit this camp button at the bottom
3. Propose a change , click on button 'submit camp update based on this'
4. Add changes
5. Click on submit

Actual result : Gives error "Camp name is taken" which is incorrect
![Screenshot 2022-08-02 at 10 05 41 AM](https://user-images.githubusercontent.com/91254708/182292596-4e86e852-e911-4a53-96c3-7cbb7a93cfa6.png)

[2022-08-02 05:54] rupalichavan9860 opened #1516 "Support is getting removed when changing parent"
Steps to reproduce :
1. Login with User A and create topic
2. Create 2 camps "camp 1" and "camp 2" and support both camps
3. Login with User B and support only "camp 1"
4. Login with User A and change parent of "camp 2" to "camp 1"

Expected Result :
User A should be supporter of "camp 2"  and User B should be supporter of "camp 1"  only

Actual Result :
User B's support is getting removed

[2022-08-02 06:00] #1514 closed, assigned to kshitij1326

[2022-08-02 06:08] saniatg commented on #1514
@rupalichavan9860 Working fine now.

[2022-08-02 07:16] rupalichavan9860 commented on #1514
Verified

[2022-08-02 07:23] saniatg commented on #1315
@rupalichavan9860 Issue seems to be fixed and  is working fine.

[2022-08-02 07:24] rupalichavan9860 commented on #1315
Verified

[2022-08-02 09:18] subhancd opened #1517 "nick name is getting created with 200 chars and under nick name tab limit is 50"
**Steps to reproduce**
1. create an account with 100 first name characters and 100 last name characters
2. the default nick name is created with 200 characters
**Actual Result**
[https://gyazo.com/dc94b68584c2b50704b88d1dd60980b7](image)
**Expected Result**
the nick name should not have more than 50 characters

[2022-08-02 11:42] saniatg opened #1520 "Created topic is not being seen in the respective namespace in the 'Canonizer Main Page': Canonized list for"
Steps

1. Create a Topic in any namespace e.g. general
2. Navigate to Canonizer Main Page
3. In the tree below Canonized list for search for the topic in the namespace created

Actual Result: The topic is not seen under Canonized list for
Expected : Topic must be seen under the respective namespaces

[2022-08-02 11:48] kshitij1326 commented on #1252
This is a user specific setting on his/her system and it cannot be changed through the code.
We discussed the issue on daily scrum and decided to ignore the issue and close the ticket.

[2022-08-02 12:01] ahmed130544 commented on #1477
@rupalichavan9860

Please check following pages list where we need to change logic, please have a look and let me know if some other page need to be checked.

1. Topic history
2. Manage topic
3. Camp history
4. Manage camp
5. Statement history
6. Manage statement
7. Browse page
8. Main page
9. Topic details page.
10. Topic support page.
11. Logged in user supported camps page
12. Supporter support

[2022-08-02 15:57] #1254 closed, assigned to kshitij1326

[2022-08-03 05:19] saniatg opened #1521 "Newly created camp is not listing and Expand the branch icon is not seen in Canonizer Sorted Camp Tree for the first time"
Steps to reproduce :

1. Hard reload and clear cache for https://staging.canonizer.com/
2. Login with valid email and password
3. Create a new topic
4. Create a new camp

Actual result: Newly created camp is not listing under tree and Expand the branch icon is not seen next to topic
Expected result: Newly created camp should show under tree and Expand the branch icon must be seen

Note : After rel

[2022-08-03 06:20] saniatg commented on #1512
@ahmed130544 When applied filter include review , changes must only be seen after committing not before that. Currently when I apply filter include review, and navigate to browse, if changes are not committed that changes are also seen which is incorrect.

[2022-08-03 06:37] saniatg commented on #1516
@rupalichavan9860 mentioned issue is working fine now. Please confirm

[2022-08-03 08:22] rupalichavan9860 commented on #1516
Verified

[2022-08-03 08:24] rupalichavan9860 opened #1522 "Support remains added for both parent and child in below scenario"
Consider scenario like “camp 1”->”sub camp”->”1”  , User A is supporting “sub camp” and “camp 2” which is sibling of “camp 1” and after supporting ,change parent of “camp 1” to “camp 2” then
Expected Behavior :
Support should get removed from “camp 2”, User A must be supporter of “sub camp” only  and total score should be “1”

Current Behavior :
Support remains added for  “camp 2” even if “camp 2”

[2022-08-03 15:44] BrentAllsop commented on #1509
Yes, this is an issue.
The only support records that should be removed are stacked (individual supports parent of a child) parent records, leaving only the child support record in the stack.
There are none of those in this case.

[2022-08-04 05:54] rupalichavan9860 commented on #1413
Tested and verified

[2022-08-04 06:13] #1252 closed, assigned to kshitij1326

[2022-08-04 06:56] saniatg commented on #1521
@rupalichavan9860 not able to reproduce now. Can you also check and confirm

[2022-08-04 08:12] rupalichavan9860 commented on #1521
Yes . working fine now

[2022-08-04 08:53] rupalichavan9860 commented on #1520
@ahmed130544 Facing this issue for "One Person One Vote" and "Mind Experts" algorithms
Working fine for other algorithms

[2022-08-04 08:57] rupalichavan9860 commented on #1485
@ahmed130544 Facing this issue for "One Person One Vote" and "Mind Experts" algorithms
Working fine for other algorithms

[2022-08-05 03:50] #1517 closed, assigned to kshitij1326

[2022-08-05 05:12] rupalichavan9860 commented on #1521
Tested and verified

[2022-08-05 12:04] rupalichavan9860 commented on #1522
Tested and verified

[2022-08-05 12:07] rupalichavan9860 commented on #1509
Tested and verified

[2022-08-05 12:46] rupalichavan9860 opened #1526 "Page crash while adding support to child camp(when already supported parent camp) and parent camp(when already supported child camp)"
Steps to reproduce :
1. Create topic and create "camp 1"
2. Support "camp 1"
3. Create "sub camp" under "camp 1"
4. Support "sub camp"

Getting below crash :
![image](https://user-images.githubusercontent.com/40416610/183080214-70278c5e-9ce1-4e39-984f-0b6d61368431.png)

[2022-08-08 05:59] rupalichavan9860 commented on #1517
Verified

[2022-08-08 22:08] BrentAllsop opened #1528 "Store and display IP address with all transactions."
Wikipedia stores the IP address in all the records recording transactions.
We should do the same.
This includes any submission from a user to new versions of statements, to new support modification, to forum posts, and so on.
We need to add an IP field to all of those records, and display it, whenever the record values are displayed.

[2022-08-09 12:35] gautamv16 commented on #1528
Not only IP address, we should store following thing.

1. Event Type : like, forum, camp, topic, support, etc
2. IP
3. NickName_ID
4. TimeStamp
5. Event_Description : If any

Capture all above data when ever any action is happening, samething is developed in 3.O so we can use same structure for 2.O also.

[2022-08-09 17:29] rupalichavan9860 opened #1529 "Both camp 1 and camp 2 score is displaying as 0.50 in below case"
Steps to reproduce :
1. Create new topic and create two camps "camp 1" and "camp 2"
2. Support both camps(score is camp 1: 0.75 and camp 2: 0.25)
3. Create third camp "camp 3" under "Agreement"
4. Change parent of "camp 3" to "camp 2"
5. Now observe score :
camp 1: 0.75 ----correct
camp 2: 0.25 ----correct
camp 3: 0 ----correct
7. Change parent of "camp 3" to "camp 1"

Expected Result :
Score shou

[2022-08-10 06:05] rupalichavan9860 commented on #1529
Also choice numbers are incorrect in above case :
![image](https://user-images.githubusercontent.com/40416610/183827271-da8ee5f5-e5be-4af8-855e-687fb3ec227f.png)

[2022-08-10 07:14] #1309 closed, assigned to kshitij1326

[2022-08-10 08:05] subhancd opened #1530 "Add check to fetch record from MySQL when tree:all command is running"

[2022-08-10 17:14] rupalichavan9860 opened #1531 "Parent change is not updating under Canonizer Sorted Camp Tree"
Steps to reproduce :
1. Create topic
2. Create two camps "camp 1" and "camp 2"
3. Support both camps by User A
4. Login with User B and change parent of "camp 2" to "camp 1" from agreement and commit changes
5. Wait for 24 hours and observe Canonizer Sorted Camp Tree

Expected Result :
"camp 2" must be child of "camp 1"

Actual Result :
Parent change is not updating under Canonizer Sorted Camp Tre

[2022-08-12 10:32] ahmed130544 commented on #1520
@rupalichavan9860 unable to reproduce issue
Working fine for all algorithms on both environments staging and live.

[2022-08-16 02:44] #1239 closed, assigned to kshitij1326

[2022-08-16 04:51] rupalichavan9860 commented on #1526
Tested and verified

[2022-08-16 04:56] rupalichavan9860 commented on #1520
Tested and verified

[2022-08-16 04:58] rupalichavan9860 commented on #1485
Tested and verified

[2022-08-16 05:27] saniatg opened #1534 "File upload- Browse button must show hand pointer as it is clickable"
Steps:

1. Login the application
2. Click on upload file
3. Hover on browse button

Actual result:  it shows pointer arrow
Expected Result: Hand pointer must be seen as the browse button is clickable
![Screenshot 2022-08-16 at 11 00 10 AM](https://user-images.githubusercontent.com/91254708/184804325-d68140c9-1cdc-4f8a-a0d5-696968340fb1.png)

[2022-08-18 18:43] ahmed130544 commented on #1501
Please provide content of the message, currently we are showing following message
**Error! You already have delegate support, you cannot delegate your support to this user**

Another scenario:
1. User A created a topic (support will be added automatically).
2. User B (logged in from different browser) directly support topic.
3. Now move to User A browser and refresh topic details page, now it will

[2022-08-19 12:13] ashish76 opened #1539 "Prevent the access of the system, if the user is marked as Inactive."

[2022-08-19 13:08] saniatg commented on #1512
@rupalichavan9860 Verified and is working fine.

[2022-08-19 13:22] saniatg commented on #1501
@rupalichavan9860 and @ahmed130544 The crash is fixed now  and is working fine.
Warning "Error! You already have delegate support, you cannot delegate your support to this user" is showing.

This is grammatically incorrect

It should be  something like"  "Error! [user_id name] is already delegating support to you , you cannot delegate your support to this user"

[2022-08-20 08:10] ahmed130544 commented on #1501
@saniatg @rupalichavan9860
Updated content message, raised pull request so move it back to review in progress from deployed on staging, we can test once the reviewer will merge pull request.

[2022-08-22 05:03] rupalichavan9860 opened #1541 "Incorrect score is displaying for delegated user when selected "Sand City" Algorithm"
Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/185842927-c659aa86-8bdd-4d20-8035-4e3997823c41.png)

[2022-08-22 05:04] rupalichavan9860 commented on #1541
@karun0607gautam Please check .
#1286 Related ticket

[2022-08-22 05:24] rupalichavan9860 opened #1542 ""Include Review" filter is displaying old topic name on Topic detail, Canonizer Main page and browse page"
Please refer attached screenshot :
Topic History Page :
![image](https://user-images.githubusercontent.com/40416610/185845074-11bd7f6d-2834-4caa-b328-365d31786129.png)

include review filter :
Browse page  :
![image](https://user-images.githubusercontent.com/40416610/185845311-be4b4ffe-13ab-44e6-863a-0ce692a4bc89.png)

Canonizer Main page :
![image](https://user-images.githubusercontent.com/404166

[2022-08-22 06:22] rupalichavan9860 commented on #1512
Verified

[2022-08-23 02:38] BrentAllsop opened #1546 "Create a "Forward Party" Canonizer Algorithm."
This will be an identical copy of the [Republican](https://canonizer.com/topic/53-Canonizer-Algorithms/15-Republican-Party) or [Democrat](https://canonizer.com/topic/53-Canonizer-Algorithms/16-Democratic-Party) algorithm, except use the [Forward Party camp id 231](https://canonizer.com/topic/231-Preferred-Political-Party/6-Forward-Party).

[2022-08-23 11:19] ashish76 opened #1547 "Activities (related to trees, camps, statements, threads, etc.) of any inactive users should not be visible to other active users."

[2022-08-23 11:41] ashish76 opened #1548 "Hide the Facebook button from the login screen temporarily."

[2022-08-24 06:47] rupalichavan9860 commented on #1266
This is working fine now as we have restricted child camp to be displayed in parent camp list so closing this

[2022-08-24 06:47] #1266 closed, assigned to kshitij1326

[2022-08-24 06:50] rupalichavan9860 opened #1550 "Camp is not listing in parent camp list drop down in below scenario"
Steps to reproduce :
1. Login with User A and create a new topic
2. Create New camps "Camp 1" & "Camp 2" and support both camps
3. Login with User B and submit camp change by changing parent of Camp 1 to Camp 2
4. Commit changes and it will be in review
5. Login with User A and object change proposed by User B
6. Try to change parent of "Camp 2" to "Camp 1" from "Agreement"

Expected Result :
"Cam

[2022-08-24 19:50] ahmed130544 opened #1552 "Fix issue of slow loading of camp and statement history pages"

[2022-08-25 09:20] rupalichavan9860 opened #1554 "Mobile issue : User is not able to type in input fields on Edit News page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/ in mobile
2. Login with valid email and password
3. Open ant topic
4. Create news or edit news if any
5. try to type in fields "Display Text" and "Link"

Actual result  :
User is not able to type in input fields

[2022-08-25 10:56] ahmed130544 commented on #1443
@rupalichavan9860 Discussed issue with Ashutosh and Ali. Issue can’t be resolved.

[2022-08-26 00:51] mark-shamy opened #1557 "Camp Achieving"
Related to #1287 and Topic https://canonizer.com/topic/8-Suggestion-Box/25-Camp-and-Topic-Achieving#statement

Add "isArchived" boolean to camp properties.
Add Archive button to UI of Manage/Edit This Camp page
Add preprocessor filter function to not display archived camps of Topic page
Add "include archive" radio button to "As Of" filter.
Recursively archive parent camps upon 24hr publication.

E

[2022-08-26 03:42] mark-shamy opened #1558 "Wikitext Parser Has No Sanitization"
Wikitext by design allows users to include HTML tags to their text body. If this user input is not sanitized, it allows for an attacker to include JavaScript elements.

Example of camp with JavaScript in the Camp Statement
https://canonizer.com/topic/561-Marketing-Strategies/2-Big-Tech-Censorship

For reference
https://doc.wikimedia.org/mediawiki-core/master/php/Sanitizer_8php_source.html

[2022-08-26 05:45] subhancd opened #1559 "OTP and Registration Emails"
**Actual Result:**
If you ever have any issues or feedback, feel free to e-mail: [email protected]
**Expected Result:**
If you ever have any issues or feedback, feel free to e-mail: [support@canonizer.com](mailto:support@canonizer.com).

[2022-08-26 05:54] #1534 closed, assigned to kshitij1326

[2022-08-27 08:57] mark-shamy commented on #1558
Script injection is also possible on Edit Summary text fields, Keywords text fields, and URL text field when user enters a malicious string like ` http://example.com/"><script>window.alert("Hello")</script> `

[2022-08-27 17:14] gautamv16 commented on #1558
@ashish76 can you please work on this urgently.

[2022-08-27 17:48] gautamv16 commented on #1488
@ashish76 new app credentials are provided so lets test and close this.

[2022-08-28 12:00] karun0607gautam commented on #1541
@rupalichavan9860 this is fixed . please test

[2022-08-29 02:39] ashish76 commented on #1558
Noted

[2022-08-29 11:17] #1488 closed, assigned to ashish76

[2022-08-30 05:00] saniatg commented on #1501
Working fine now with the error message. @rupalichavan9860 please confirm

[2022-08-30 05:05] saniatg commented on #1529
@rupalichavan9860 tested and is working fine

[2022-08-30 05:15] saniatg commented on #1510
@kshitij1326 this issue is not fixed

[2022-08-30 05:18] saniatg commented on #1205
@kshitij1326 this issue is not fixed . Still getting crash for all the cases mentioned above

[2022-08-30 05:26] #1205 closed, assigned to kshitij1326

[2022-08-30 05:26] #1299 closed, assigned to kshitij1326

[2022-08-30 05:26] #1510 closed, assigned to kshitij1326

[2022-08-30 05:26] #1253 closed, assigned to ashish76

[2022-08-30 05:29] kshitij1326 commented on #1205
@saniatg could you please retest this as it was not deployed earlier

[2022-08-30 05:30] kshitij1326 commented on #1510
@saniatg could you please retest it as it was not deployed earlier

[2022-08-30 05:38] saniatg commented on #1510
Yes working fine now. @rupalichavan9860 can you confirm

[2022-08-30 06:19] rupalichavan9860 opened #1565 "Filter < is not setting from 1 to 0"
If you clear all your cookies and browsing history, then go to canonizer (possibly select a topic) the filter gets set to 1.  Then, even if you clear that, and set it back to 0, something is putting it back to one

[2022-08-30 06:20] rupalichavan9860 commented on #1565
This is already fixed on staging and live

[2022-08-30 06:47] rupalichavan9860 opened #1566 "Getting page crash on as of date"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Open any topic and apply as of date filter less than or equal to topic created date

Actual Result :
Getting below  page crash
![image](https://user-images.githubusercontent.com/40416610/187368742-120b650c-fc06-4eaa-bc1e-90df9e74309b.png)

[2022-08-30 07:07] saniatg commented on #1312
@sunilspr7 The main issue is not fixed.
Also there is another issue the score count issue after 3rd step: User B will check the check box to 'I agree with this camp change'
Issue 1 - the score count is incorrect
![Screenshot 2022-08-30 at 12 38 59 PM](https://user-images.githubusercontent.com/91254708/187372225-a6737e2f-013a-4f31-8c6e-e85d49008ad5.png)
Issue 2- The score of another camp is gone. S

[2022-08-30 07:11] saniatg commented on #1205
Working fine now. @rupalichavan9860 please confirm

[2022-08-30 08:36] rupalichavan9860 commented on #1529
Verified

[2022-08-30 08:38] rupalichavan9860 commented on #1501
Verified

[2022-08-30 08:41] saniatg opened #1567 "Old deleted topics must not show crashed page when click on the link"
Following topic is deleted from db, but when click on the link. The page shows crash.
Crashed page must not be seen if the topic is removed/deleted.

Click on the link below
https://staging.canonizer.com/topic/690-1110-updated89/1-Agreement

[2022-08-30 09:55] rupalichavan9860 opened #1568 ""Forward Party" , "Democrat" and "Republican" algorithm : Incorrect score is displaying"
"Forward Party" :
Support only "Forward Party" camp from below topic
https://staging.canonizer.com/topic/231-Preferred-Political-Party/1-Agreement
and select "Forward Party" algorithm for same topic or any other topic where user is supporting only one camp under that topic

Expected Result :
According to algorithms https://staging.canonizer.com/topic/53-Canonizer-Algorithms/16-Democratic-Party#sta

[2022-08-30 10:09] rupalichavan9860 opened #1569 "Total Support for This Camp (including sub-camps) under section Support Tree for "camp name" Camp is displaying score as 0"
Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/187410524-b0cf9b49-e860-4508-a6ca-0c0bcaeba0e6.png)

![image](https://user-images.githubusercontent.com/40416610/187410623-466a949e-283e-49db-8947-0da0fc4cc846.png)

[2022-08-30 11:30] rupalichavan9860 commented on #1541
Verified

[2022-08-30 14:05] rupalichavan9860 commented on #1566
Tested and verified. Working fine now

[2022-08-30 14:18] rupalichavan9860 commented on #1205
Verified

[2022-08-30 14:27] rupalichavan9860 commented on #1510
Tested and verified

[2022-08-31 03:59] sunilspr7 commented on #1569
@sunnyjindal This issue appeared  when #1287 ticket was solved. @kshitij1326 worked on #1287 task. So I'll re-assign this ticket to him

[2022-08-31 05:53] rupalichavan9860 commented on #1299
Tested and verified

[2022-08-31 08:59] rupalichavan9860 opened #1573 "Implicit supporter of the agreement camp (by being a direct supporter of one of the sub camps) is unable to agree and object camp statement change"
Steps to reproduce :

1. Go to https://staging.canonizer.com/
2. Login with User A and create topic
3. Create new camp and support camp(Now User A is supporter of sub camp)
4. Login with User B and submit change to Agreement camp -add camp statement and commit changes

Expected Result :

Camp statement should be in "in review" and Implicit supporter of the agreement camp(User A) should able to see

[2022-08-31 10:05] rupalichavan9860 commented on #1568
@karun0607gautam Still incorrect score is displaying under Canonizer Sorted Camp Tree
Please refer below screenshot :
![image](https://user-images.githubusercontent.com/40416610/187653940-fc060274-429d-409e-98cf-5fb96643eb42.png)

[2022-08-31 10:05] kshitij1326 commented on #1548
We have got new facebook  app credential, so enabled the button again in  #1488

[2022-08-31 10:11] rupalichavan9860 commented on #1506
Verified by Ashutosh

[2022-08-31 10:12] rupalichavan9860 commented on #1530
Verified by Ashutosh

[2022-08-31 10:12] rupalichavan9860 commented on #1539
Verified by Ashutosh

[2022-08-31 10:13] rupalichavan9860 commented on #1548
Tested and verified

[2022-08-31 10:14] rupalichavan9860 commented on #1531
I have submitted change and will check after 24 hrs and close

[2022-08-31 10:31] rupalichavan9860 commented on #1546
Tested and verified on staging
@BrentAllsop Can you please check and close if fine for you

[2022-09-01 06:21] mark-shamy commented on #1528
This would make it possible to reason out true identities of nick names.

[2022-09-01 07:28] rupalichavan9860 commented on #1531
@sunilspr7
There are still below issues :
1. Canonizer sorted tree is not getting updated working when selecting algorithm "One Person One Vote", "Mind Experts" and "Computer Science Experts" and working fine for other algorithms
2. Support is not getting removed from parent camp

[2022-09-01 07:45] rupalichavan9860 commented on #1568
Not working when user supports 2 camps under topic https://staging.canonizer.com/topic/231-Preferred-Political-Party/1-Agreement
1. Forward Party - 0.75
2. Republican- 0.25
![image](https://user-images.githubusercontent.com/40416610/187861922-cf81d4e0-b6d0-4564-9d1a-7063717927b4.png)

Create new topic and create 2 camps and support both
Select "Forward Party" algorithm

Expected Result :
It should

[2022-09-01 08:34] sunilspr7 commented on #1531
@rupalichavan9860  related to first point, we need to discuss with @ahmed130544   team because above three algorithm data came from mongoDB.

[2022-09-01 09:50] rupalichavan9860 opened #1575 "Old camp name is displaying under Canonizer Sorted Camp Tree"
Scenario: Submit 2 change by non-supporter , one approved by direct supporter and one goes live after 24 hrs

![image](https://user-images.githubusercontent.com/40416610/187885414-17f40081-9ac9-480c-8806-d818002163a2.png)

But old name displaying under
1. Canonizer Sorted Camp Tree

![image](https://user-images.githubusercontent.com/40416610/187885519-e05bf1cd-4a53-4d5a-bcce-d135128e0dc7.png)

[2022-09-01 11:48] #1569 closed, assigned to kshitij1326

[2022-09-01 12:14] rupalichavan9860 commented on #1569
Tested and verified

[2022-09-01 12:17] rupalichavan9860 commented on #1479
Tested and verified

[2022-09-01 12:18] rupalichavan9860 commented on #1479
@BrentAllsop Can you please check on staging and confirm if fine for you

[2022-09-01 12:20] rupalichavan9860 commented on #1534
Tested and verified

[2022-09-01 12:22] rupalichavan9860 commented on #1239
Tested and verified

[2022-09-02 04:34] rupalichavan9860 commented on #1477
Tested and verified

[2022-09-02 04:36] rupalichavan9860 commented on #1546
Algorithm is implemented but there are some issues which are logged under ticket #1568
So closing this ticket

[2022-09-02 05:00] saniatg commented on #1312
@rupalichavan9860 tested and is working fine. Please confirm

[2022-09-02 05:19] rupalichavan9860 commented on #1312
Verified

[2022-09-02 10:24] cd-ali-ehsan commented on #1531
@rupalichavan9860 @sunilspr7 This is basically dependent on the ticket [1477](https://github.com/the-canonizer/canonizer.2.0/issues/1477). The 1477 ticket is deployed on Staging however @akuks will need to run a queue on the server in order to complete the deployment. Ashu said he will first verify the implementation and then run the queue.

Hopefully, when the queue is running, the tree will auto

[2022-09-02 10:56] #1573 closed, assigned to kshitij1326, ahmed130544

[2022-09-05 04:43] rupalichavan9860 opened #1579 "Old Statement displaying on default filter"
Please refer attached screenshot :

![image](https://user-images.githubusercontent.com/40416610/188361962-f7962c3e-51a8-4c77-bbb5-babf709a6a1d.png)

![image](https://user-images.githubusercontent.com/40416610/188362028-d9a81ff8-a9c1-4c95-b7d7-84be8b5f598c.png)

[2022-09-05 05:18] rupalichavan9860 commented on #1287
This is not working properly

[2022-09-05 07:28] kshitij1326 commented on #1287
@rupalichavan9860
Could you please test this again, since the latest canonizer service for staging was not deployed on server

[2022-09-05 11:09] rupalichavan9860 commented on #1573
Tested and verified

[2022-09-05 12:10] rupalichavan9860 opened #1582 "Buttons "Disable additional sub camps" and "Single level camps only" should be disabled in below scenario"
Steps to reproduce :
1. Create new topic
2. Edit "Agreement" camp - select  "Single level camps only"
3. Create sub camp "Camp 1"
4. Click on "Manage/edit this camp" for "Camp 1"
5. Observe update page

"Disable additional sub camps" and "Single level camps only" should be disabled on this page as user is not allowed to create sub camps

[2022-09-05 23:53] mark-shamy commented on #646
Is this closed?

[2022-09-05 23:54] mark-shamy commented on #1398
Please update the status of this issue.

[2022-09-06 05:01] rupalichavan9860 commented on #1568
@karun0607gautam Working fine when user supporting one or two camps  under topic https://staging.canonizer.com/topic/231-Preferred-Political-Party/1-Agreement
But still score is incorrect when user is supporting more than two camps under above topic
Please refer below scenario
User is supporting 3 camps under topic "Preferred Political Party"
![image](https://user-images.githubusercontent.com/4041

[2022-09-07 06:50] rupalichavan9860 commented on #1568
Tested and verified

[2022-09-07 12:34] cd-ali-ehsan commented on #1531
@rupalichavan9860 This is completed however, we are facing some issues while deploying a new queue on the staging server. @akuks, @sajid315, and @cd-ali-ehsan are debugging the issue and will hopefully deploy this in the next 2 to 3 days.

[2022-09-08 05:21] rupalichavan9860 opened #1587 "Display values of the camp records on Camp History and Topic view page"
As discussed in meeting all values of camp record should display on Camp History and Topic view page(Under Current Camp Record section)

Note : No need to display Edit summary on Topic view page(Under Current Camp Record section)

[2022-09-08 05:36] rupalichavan9860 commented on #1558
@mark-shamy
Can you please verify this on staging ?

[2022-09-08 05:47] rupalichavan9860 commented on #1582
As per discussed in meeting , Brent is fine with current implementation so closing this

[2022-09-08 05:47] #1582 closed, assigned to kshitij1326

[2022-09-08 05:49] rupalichavan9860 opened #1588 "User should able to check only one check box at a time on camp update page"
User should able to check only one check box from below at a time on camp update page
Disable additional sub camps
Single level camps only

[2022-09-08 05:50] mark-shamy commented on #1558
@rupalichavan9860 Tested and verified, script tags are not being stored or served.

[2022-09-08 05:51] mark-shamy commented on #1558
@rupalichavan9860  Tested and verified, script tags are not being stored or served.

[2022-09-08 05:51] #1558 closed, assigned to ashish76

[2022-09-08 05:57] rupalichavan9860 commented on #1558
@mark-shamy Thank you for verifying . I am moving this ticket to "staging approved" as changes are not on live environment so we will close once verified on live

[2022-09-08 06:05] rupalichavan9860 commented on #1552
Verified by @akuks

[2022-09-08 06:17] rupalichavan9860 commented on #1287
Found below issue :
Steps to reproduce :
1. Create New topic and update Agreement camp - select  "Single level sub camps only"
2. Create 2 sub camps "camp 1" and "camp 2"
3. Again update  Agreement camp - select  "Disable additional sub camps"
4. Go to "camp 1" update page  and  select  "Single level sub camps only"
5. Observe update page and canonizer sorted camp tree

Actual Result :
"camp 1" is

[2022-09-08 06:35] rupalichavan9860 opened #1589 "Changes are getting auto committed on camp history page"
Whenever user submitting new changes , old changes( not committed) are automatically gets committed on camp history page

![image](https://user-images.githubusercontent.com/40416610/189051287-0bea821f-596d-4845-808d-f86f50fefa32.png)

[2022-09-08 07:51] mark-shamy commented on #1589
@BrentAllsop This functionally has no recorded specifications. What behavior should the system follow?

- Prevent user from submitting new changes?
- Warn user of uncommitted changes?
- Delete uncommitted changes?

[2022-09-08 08:47] #1287 closed, assigned to ashish76, kshitij1326, ahmed130544

[2022-09-08 08:47] #1587 closed, assigned to kshitij1326

[2022-09-08 08:47] #1588 closed, assigned to kshitij1326

[2022-09-08 08:53] subhancd opened #1592 "the parent camp is showing topic name instead of camp name"
**Steps to reproduce**
user A created a topic and created 2 camps, camp1 and camp2 -> user B directly supports camp 1 -> user A changes the parent of camp1 to camp2 -> user B accepts the changes.
**Actual Result**
The Parent camp field shows the topic name instead of the camp name in current camp record.

[2022-09-08 09:39] rohit-talentelgia opened #1593 "Implement check in Canonizer2.0 based on Jira ticket CAN-1111"

[2022-09-08 09:47] sunilspr7 commented on #1593
@rohit-talentelgia  sir issue is solve in this PR - https://github.com/the-canonizer/canonizer.2.0/pull/1580

[2022-09-08 13:10] rupalichavan9860 commented on #1588
Tested and verified

[2022-09-08 13:12] rupalichavan9860 commented on #1587
Tested and verified

[2022-09-08 13:31] rupalichavan9860 commented on #1287
Tested and verified . I tested with all possible cases and looks okay to me

[2022-09-08 13:43] subhancd commented on #1592
working fine

[2022-09-08 13:43] #1592 closed, assigned to nobody

[2022-09-08 13:54] rupalichavan9860 opened #1596 "Enable dropdown to change parent camp on Production only"
We need to enable the dropdown to change parent camp on production , as hierarchy change issues are fixed in 33rd release except #1531

[2022-09-08 15:58] rupalichavan9860 commented on #1568
Verified on production

[2022-09-08 15:58] #1568 closed, assigned to karun0607gautam

[2022-09-08 15:59] rupalichavan9860 commented on #1546
Verified on production

[2022-09-08 15:59] #1546 closed, assigned to karun0607gautam

[2022-09-08 16:01] rupalichavan9860 commented on #1534
Verified on production

[2022-09-08 16:08] rupalichavan9860 commented on #1286
Verified on production

[2022-09-08 16:08] #1286 closed, assigned to karun0607gautam

[2022-09-08 16:08] rupalichavan9860 commented on #1541
Verified on production

[2022-09-08 16:08] #1541 closed, assigned to karun0607gautam

[2022-09-08 16:09] rupalichavan9860 commented on #1497
Verified on production

[2022-09-08 16:09] #1497 closed, assigned to karun0607gautam

[2022-09-08 16:14] rupalichavan9860 commented on #1428
Verified on production

[2022-09-08 16:14] #1428 closed, assigned to sunilspr7

[2022-09-08 16:18] rupalichavan9860 commented on #1587
Verified on production

[2022-09-08 16:19] rupalichavan9860 commented on #1588
Verified on production

[2022-09-08 16:22] rupalichavan9860 commented on #1479
Verified on production

[2022-09-08 16:24] rupalichavan9860 commented on #1239
Verified on production

[2022-09-08 16:36] rupalichavan9860 opened #1601 "All supported camps are not listing in email when user delegating support"
Steps to reproduce :
1. Create New topic and create 3 camps "camp 1" , "camp 2" and  "camp 3" By User A
2. Support all 3 camps by User A
3. Login with User B and delegate support to User A in any camp
4. Observe Email

Expected Result :
User A is supporting 3 camps , so it should list all 3 camps in "You are receiving this e-mail because:"

Actual Result :
Only one camp is listing  under "You are

[2022-09-08 16:39] rupalichavan9860 commented on #1299
Verified on production

[2022-09-08 16:41] rupalichavan9860 commented on #1569
Verified on production

[2022-09-08 16:55] rupalichavan9860 commented on #1287
Verified on production
@BrentAllsop Can you please verify this ticket?

[2022-09-08 17:03] rupalichavan9860 commented on #1485
Verified on production

[2022-09-08 17:03] #1485 closed, assigned to ahmed130544

[2022-09-09 05:18] subhancd commented on #1566
working fine on live. @rupalichavan9860 kindly, verify

[2022-09-09 05:37] subhancd commented on #1529
working fine on live. kindly, verify @rupalichavan9860

[2022-09-09 05:40] subhancd commented on #1526
working fine on live. kindly, verify @rupalichavan9860

[2022-09-09 05:46] subhancd commented on #1522
working fine on live. kindly, verify @rupalichavan9860

[2022-09-09 05:48] subhancd commented on #1521
not working on live. @rupalichavan9860

[2022-09-09 05:55] subhancd commented on #1520
working fine on live. kindly, verify @rupalichavan9860

[2022-09-09 05:58] subhancd commented on #1512
working fine on live. kindly, verify @rupalichavan9860

[2022-09-09 06:00] subhancd commented on #1508
working fine on live. kindly,verify @rupalichavan9860

[2022-09-09 06:06] subhancd commented on #1502
working fine on live. kindly, verify @rupalichavan9860

[2022-09-09 06:11] subhancd commented on #1500
working fine on live. kindly, verify @rupalichavan9860

[2022-09-09 06:21] subhancd commented on #1483
working fine on live. kindly, verify @rupalichavan9860

[2022-09-09 06:33] subhancd commented on #1477
working fine on live. kindly, verify @rupalichavan9860

[2022-09-09 06:37] subhancd commented on #1468
working fine on live. kindly, verify @rupalichavan9860

[2022-09-09 06:40] subhancd commented on #1426
working fine on live. kindly, verify @rupalichavan9860

[2022-09-09 06:42] subhancd commented on #1425
working fine on live. kindly, verify @rupalichavan9860

[2022-09-09 07:01] saniatg opened #1604 "When "Disable additional sub camps" is selected and then trying to select"Single level camps only" is not happening"
When  "Disable additional sub camps" is selected and then trying to select"Single level camps only" , it must get selected. Currently I have to deselect"Disable additional sub camps" and then select other option, which is not a good user experience.
This issue is on staging & live
![Screenshot 2022-09-09 at 12 30 33 PM](https://user-images.githubusercontent.com/91254708/189290793-0af779ef-ea99-450

[2022-09-09 07:26] rupalichavan9860 commented on #1566
Verified

[2022-09-09 07:26] #1566 closed, assigned to ahmed130544

[2022-09-09 07:29] subhancd commented on #1510
working fine on live. kindly, verify @rupalichavan9860

[2022-09-09 07:31] rupalichavan9860 commented on #1529
Verified on production

[2022-09-09 07:31] #1529 closed, assigned to sunilspr7

[2022-09-09 07:34] rupalichavan9860 commented on #1526
Verified

[2022-09-09 07:34] #1526 closed, assigned to sunilspr7

[2022-09-09 08:12] rupalichavan9860 commented on #1510
Verified

[2022-09-09 08:17] rupalichavan9860 commented on #1425
Verified

[2022-09-09 08:17] #1425 closed, assigned to ahmed130544

[2022-09-09 08:18] rupalichavan9860 commented on #1426
Verified on production

[2022-09-09 08:18] #1426 closed, assigned to ahmed130544

[2022-09-09 08:19] rupalichavan9860 commented on #1468
Verified

[2022-09-09 08:19] #1468 closed, assigned to ahmed130544

[2022-09-09 08:20] rupalichavan9860 commented on #1483
Verified

[2022-09-09 08:20] #1483 closed, assigned to sunilspr7

[2022-09-09 08:24] rupalichavan9860 commented on #1500
Verified

[2022-09-09 08:24] #1500 closed, assigned to sunilspr7

[2022-09-09 08:27] rupalichavan9860 commented on #1502
Verified

[2022-09-09 08:27] #1502 closed, assigned to sunilspr7

[2022-09-09 08:28] rupalichavan9860 commented on #1508
Verified

[2022-09-09 08:28] #1508 closed, assigned to ahmed130544

[2022-09-09 08:32] rupalichavan9860 commented on #1512
Verified

[2022-09-09 08:32] #1512 closed, assigned to ahmed130544

[2022-09-09 11:21] rupalichavan9860 commented on #426
Verified on production

[2022-09-09 11:27] rupalichavan9860 commented on #1548
Verified on production

[2022-09-09 11:27] #1548 closed, assigned to kshitij1326

[2022-09-09 11:27] rupalichavan9860 commented on #1467
Verified on production

[2022-09-09 11:41] cd-ali-ehsan opened #1605 "Complete implementation for CAN-1151"
https://canonizer.atlassian.net/browse/CAN-1151

[2022-09-09 11:47] rupalichavan9860 commented on #1494
Verified on production

[2022-09-09 11:47] #1494 closed, assigned to karun0607gautam

[2022-09-09 11:59] rupalichavan9860 commented on #1413
Verified on production

[2022-09-09 11:59] #1413 closed, assigned to akuks

[2022-09-09 12:44] rupalichavan9860 commented on #1346
Verified on production

[2022-09-09 12:44] #1346 closed, assigned to sunilspr7

[2022-09-09 12:51] saniatg commented on #1392
@rupalichavan9860 tested and working fine on production.

[2022-09-09 12:59] saniatg commented on #1514
@rupalichavan9860 Working fine on production.

[2022-09-09 13:16] saniatg commented on #1521
Working fine now @rupalichavan9860  verified on production

[2022-09-09 15:32] rupalichavan9860 commented on #1487
@sunilspr7 This is not working when user is not logged in

![image](https://user-images.githubusercontent.com/40416610/189387216-74b03bf4-43bb-4afc-8c56-641139530646.png)

[2022-09-10 00:37] mark-shamy commented on #1255
Man in the middle attack is not possible here as the data is encrypted through HTTPS. Please provide a proof of the vulnerability or I suggest this issue be closed.

[2022-09-10 00:47] mark-shamy commented on #1226
Vulnerability does not exist. Thank you for your feedback.

[2022-09-10 00:47] #1226 closed, assigned to nobody

[2022-09-10 00:57] mark-shamy commented on #1255
@akuks HSTS needs to be enabled on the AWS deployment. No other action is required. MITM attack tested on local network.

[2022-09-10 04:01] mark-shamy commented on #1589
Expected behavior.

[2022-09-10 04:01] #1589 closed, assigned to nobody

[2022-09-12 05:10] saniatg commented on #1312
@rupalichavan9860 Verified on production and is working fine.

[2022-09-12 05:39] saniatg commented on #1501
@rupalichavan9860 Verified on production and is working fine

[2022-09-12 06:00] saniatg commented on #1205
@rupalichavan9860 @kshitij1326 crash is coming in staging and production for
Add camp
add nickname
add news
![Screenshot 2022-09-12 at 11 23 16 AM](https://user-images.githubusercontent.com/91254708/189583707-d06a98cf-3e5c-4560-8a49-7941a92cb0c2.png)

[2022-09-12 06:43] ashish76 commented on #1247
@saniatg I have checked this issue. I am not getting any such message and I am getting the mail on mailtrap. Could you please check this once at your end?

[2022-09-12 10:25] saniatg commented on #1315
@rupalichavan9860 Tested and is working fine on Production

[2022-09-12 10:28] saniatg commented on #1509
@rupalichavan9860 tested and is working fine on production

[2022-09-12 10:40] saniatg commented on #1461
Working fine on production @rupalichavan9860 please confirm

[2022-09-12 17:16] rupalichavan9860 commented on #1461
Verified

[2022-09-12 17:23] rupalichavan9860 commented on #1392
Verified

[2022-09-12 17:23] #1392 closed, assigned to sunilspr7

[2022-09-12 17:26] rupalichavan9860 commented on #1312
Verified

[2022-09-12 17:26] #1312 closed, assigned to sunilspr7

[2022-09-12 17:29] rupalichavan9860 commented on #1521
Verified

[2022-09-12 17:29] #1521 closed, assigned to ahmed130544

[2022-09-12 17:32] rupalichavan9860 commented on #1520
Verified

[2022-09-12 17:32] #1520 closed, assigned to ahmed130544

[2022-09-12 17:34] rupalichavan9860 commented on #1501
Verified

[2022-09-12 17:34] #1501 closed, assigned to sunilspr7, ahmed130544

[2022-09-12 17:42] rupalichavan9860 commented on #1495
Verified on production

[2022-09-12 17:42] #1495 closed, assigned to sunilspr7

[2022-09-12 17:46] rupalichavan9860 commented on #1315
Verified

[2022-09-12 17:46] #1315 closed, assigned to kshitij1326

[2022-09-12 17:49] rupalichavan9860 commented on #1516
verified on production

[2022-09-12 17:49] #1516 closed, assigned to sunilspr7

[2022-09-12 17:50] rupalichavan9860 commented on #1509
Verified

[2022-09-12 17:50] #1509 closed, assigned to sunilspr7

[2022-09-12 17:53] rupalichavan9860 commented on #1522
Verified on production

[2022-09-12 17:53] #1522 closed, assigned to sunilspr7

[2022-09-12 17:55] rupalichavan9860 commented on #1573
Verified on production

[2022-09-12 17:58] rupalichavan9860 commented on #1514
Verified

[2022-09-12 18:12] rupalichavan9860 commented on #1427
Verified on live

[2022-09-12 18:12] #1427 closed, assigned to ahmed130544

[2022-09-12 18:19] rupalichavan9860 commented on #1477
Verified on live

[2022-09-12 18:19] #1477 closed, assigned to ahmed130544, sajid315

[2022-09-13 05:17] subhancd commented on #1517
working fine on live. kindly, verify @rupalichavan9860

[2022-09-13 05:37] saniatg commented on #1279
@rupalichavan9860 working fine on production

[2022-09-13 09:03] rupalichavan9860 commented on #1398
Verified on production

[2022-09-13 09:03] #1398 closed, assigned to sunilspr7

[2022-09-13 09:35] rupalichavan9860 commented on #1314
@sajid315 This is still not working for "One Person One Vote" and "Mind Experts"

[2022-09-13 11:08] sunilspr7 commented on #1593
@rupalichavan9860   I have implement this following cases
1) Topic add / edit case
2)  Camp create / Edit
3)  add direct support and delegate support
4)  Statement Add / Edit

5) Add threads / add replies and edit replies case

[2022-09-13 12:05] cd-ali-ehsan commented on #1205
It was decided in the call that we will add this to 35 release since it is not a critical issue. We also need to check it in Canonizer 3.0.

[2022-09-13 14:10] sajid315 commented on #1314
@rupalichavan9860 issue reviewed and working fine now.

[2022-09-13 14:30] rupalichavan9860 commented on #1247
@ashish76 I am closing this as we are unable to reproduce the issue

[2022-09-13 14:30] #1247 closed, assigned to ashish76

[2022-09-14 06:51] rupalichavan9860 commented on #1314
@sajid315 This issue is working fine now
But there are still some issues on "include review" filter and as discussed with @sajid315 and @cd-ali-ehsan  I have added separate ticket for the same #1608

[2022-09-14 07:26] rupalichavan9860 opened #1608 "Issues on "Include Review" filter"
Issue 1  :
User B submitted 2 changes :User B committed changes immediately for one change and for second change, changes committed automatically after one hour
![image](https://user-images.githubusercontent.com/40416610/190081651-96e2393f-27a5-4d7c-8aa4-ef4ecf7718ee.png)

When applying "include review" filter after 1 hour, it is displaying first change as in review record
It should show latest su

[2022-09-14 08:41] rupalichavan9860 commented on #1596
Verified on production

[2022-09-14 08:41] #1596 closed, assigned to sajid315

[2022-09-14 12:26] rupalichavan9860 commented on #1478
Verified By Ashutosh

[2022-09-14 12:26] #1478 closed, assigned to ahmed130544

[2022-09-14 12:27] rupalichavan9860 commented on #1506
Verified By Ashutosh

[2022-09-14 12:27] #1506 closed, assigned to ahmed130544

[2022-09-14 12:27] rupalichavan9860 commented on #1530
Verified By Ashutosh

[2022-09-14 12:27] #1530 closed, assigned to ahmed130544

[2022-09-14 12:30] rupalichavan9860 commented on #1539
Verified By Ashutosh

[2022-09-14 12:30] #1539 closed, assigned to ashish76

[2022-09-14 12:30] rupalichavan9860 commented on #1558
Verified By Ashutosh

[2022-09-14 12:30] rupalichavan9860 commented on #1552
Verified By Ashutosh

[2022-09-14 12:30] #1552 closed, assigned to ahmed130544

[2022-09-14 12:31] #1565 closed, assigned to kshitij1326

[2022-09-14 12:31] #1499 closed, assigned to karun0607gautam

[2022-09-15 05:13] #1604 closed, assigned to kshitij1326

[2022-09-15 05:13] #1559 closed, assigned to kshitij1326

[2022-09-15 06:21] rupalichavan9860 commented on #1487
Tested and verified

[2022-09-15 06:32] rupalichavan9860 commented on #1550
Tested and verified

[2022-09-15 07:31] saniatg commented on #1205
@kshitij1326 The crash issue is resolved but if I click on browser refresh icon after internet is switched on , then whatever action user was performing is completed when inter was turned off , but If I click enter from keyboard, the page redirects to main page instead of completing the action

[2022-09-15 08:07] kshitij1326 commented on #1205
@saniatg Could you please test again, now it will redirect back to edit page.

[2022-09-15 08:11] rupalichavan9860 commented on #1531
I have submitted change and will check after 24 hrs and update
https://staging.canonizer.com/camp/history/665-15311531/3-camp-2-updated

[2022-09-15 08:55] rupalichavan9860 commented on #1605
Tested and verified

[2022-09-15 08:57] saniatg commented on #1205
@rupalichavan9860 working fine now.

[2022-09-15 08:58] rupalichavan9860 commented on #1205
verified

[2022-09-15 11:30] rupalichavan9860 commented on #1593
@sunilspr7 Verified but I found minor issue in this . Warning message on supported camps is different in color than other places

Expected Result : It should be uniform at all places
Supported Camps :
![image](https://user-images.githubusercontent.com/40416610/190392726-e31af64f-a478-4e39-9a46-38388de36f46.png)

Other places :
![image](https://user-images.githubusercontent.com/40416610/190392592-8

[2022-09-16 08:13] rupalichavan9860 commented on #1531
@sunilspr7 @cd-ali-ehsan @sajid315 This is not fixed yet .Please refer attached screenshots for more details

![image](https://user-images.githubusercontent.com/40416610/190590333-d2fc5a46-c61f-40d0-8c2d-cfb216f22e38.png)

![image](https://user-images.githubusercontent.com/40416610/190590381-4dbd6f83-5742-4080-9403-f709e809213e.png)

[2022-09-16 08:30] rupalichavan9860 commented on #1604
Tested and verified

[2022-09-19 09:52] rupalichavan9860 opened #1613 "Incorrect score is displaying for delegated supporter from 3rd camp for existing topic"
Please refer attached screenshot :

![image](https://user-images.githubusercontent.com/40416610/190992538-1261b503-093b-4db0-9e5c-bd6c3be86262.png)

[2022-09-20 05:43] kshitij1326 commented on #1194
@rupalichavan9860
I am unable to reproduce this issue

[2022-09-20 07:48] rupalichavan9860 opened #1616 "Delegated supporter nick name is not displaying under camps for existing topics"
Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/191189183-fc28f837-e3a2-4843-a7a7-e3f4620495b5.png)

And "Rupali-Chavan" is supporting 4 camps under same topic :
![image](https://user-images.githubusercontent.com/40416610/191189410-4acd1d58-11ad-4598-9dd7-3cf23a9511b8.png)

[2022-09-20 11:45] sunnyjindal commented on #1194
@kshitij1326 please refer ticket #1616

[2022-09-20 13:11] sajid315 commented on #1531
@rupalichavan9860 can you please test it again, change jobs are working on staging now.

[2022-09-21 04:44] #1185 closed, assigned to kshitij1326

[2022-09-21 06:21] rupalichavan9860 opened #1617 "Newly created camp is not listing under tree and score is also not getting updated"
Please refer attached screenshots

![image](https://user-images.githubusercontent.com/40416610/191429094-f87890c7-7c4b-49cb-9465-6845cec29c93.png)

![image](https://user-images.githubusercontent.com/40416610/191429082-5dfb6327-c4d0-465c-8fa6-e4c272e4865a.png)

[2022-09-21 06:23] rupalichavan9860 opened #1618 "Incorrect subject line is displaying on staging emails"
![image](https://user-images.githubusercontent.com/40416610/191429417-0f3b399c-7748-45b9-9319-1535062b022f.png)

Expected Result :
It should be "[staging.canon/sandbox testing/]"

[2022-09-21 11:57] saniatg commented on #1475
@rupalichavan9860 working fine.

[2022-09-21 12:47] rupalichavan9860 commented on #1593
Tested and Verified

[2022-09-21 12:56] rupalichavan9860 commented on #1475
Verified

[2022-09-21 13:03] sajid315 commented on #1617
Working fine now on staging.

[2022-09-21 13:11] rupalichavan9860 commented on #1617
Tested and verified

[2022-09-21 13:29] saniatg commented on #1185
@rupalichavan9860 working fine.

[2022-09-22 04:10] rupalichavan9860 commented on #1185
Verified

[2022-09-22 05:21] rupalichavan9860 commented on #1531
@sajid315 @sunilspr7 I can see changes in tree now. Camp hierarchy is working fine but score is incorrect
![image](https://user-images.githubusercontent.com/40416610/191664505-02d54e3d-8f5d-48c2-9a6a-64e73249694d.png)

![image](https://user-images.githubusercontent.com/40416610/191664592-190ab9c9-31c1-46bf-9c1b-28efea96ab75.png)

[2022-09-22 06:00] rupalichavan9860 commented on #1531
@sunilspr7 @sajid315 Working fine on include review filter

[2022-09-22 09:04] rupalichavan9860 commented on #1440
I am unable to reproduce and This is working fine as of now

[2022-09-27 03:40] rupalichavan9860 commented on #1531
@sunilspr7 @sajid315 This is working fine now

[2022-09-28 16:50] sunilspr7 commented on #1618
@akuks and @karun0607gautam  need update .env file in staging server with text staging-canon (email subject)

[2022-09-29 05:45] saniatg commented on #1314
@rupalichavan9860 mentioned issue is working fine on production

[2022-09-29 05:58] rupalichavan9860 commented on #1314
Verified

[2022-09-29 05:58] #1314 closed, assigned to sajid315

[2022-09-29 05:58] saniatg commented on #1487
@rupalichavan9860 Tested and working fine on production.

[2022-09-29 06:01] rupalichavan9860 commented on #1604
Verified on production

[2022-09-29 06:19] saniatg commented on #1205
@rupalichavan9860 working fine on production

[2022-09-29 06:28] rupalichavan9860 commented on #1487
Verified

[2022-09-29 06:28] #1487 closed, assigned to sunilspr7

[2022-09-29 06:35] saniatg commented on #1550
@rupalichavan9860 working fine on production

[2022-09-29 07:00] rupalichavan9860 commented on #1550
Verified

[2022-09-29 07:00] #1550 closed, assigned to sunilspr7

[2022-09-29 07:02] rupalichavan9860 commented on #1605
Verified on live

[2022-09-29 07:02] #1605 closed, assigned to sajid315

[2022-09-29 07:23] saniatg commented on #1475
@kshitij1326 not working when sandbox filter <5, the pagination is seen without the records and also for general when filter<88. This needs to be fixed  for all cases irrespective of the filter number selected.

![Screenshot 2022-09-29 at 11 36 48 AM](https://user-images.githubusercontent.com/91254708/192966458-7394dc06-9a06-4da1-99ec-ee18e5cd0efb.png)

![image_2022_09_29T06_10_27_635Z](https://us

[2022-09-29 07:49] rupalichavan9860 commented on #1617
Verified on live

[2022-09-29 07:49] #1617 closed, assigned to sajid315

[2022-09-29 07:55] kshitij1326 commented on #1475
@sajid315  Could you please check this issue as the list is coming from canonizer service.

@saniatg Muhammad and @sajid315 was working on this issue.So I have assigned this to Sajid.

[2022-09-29 10:59] rupalichavan9860 commented on #1593
Verified on production

[2022-09-29 10:59] #1593 closed, assigned to sunilspr7

[2022-09-29 11:03] rupalichavan9860 commented on #1185
Verified on Production

[2022-09-29 11:25] rupalichavan9860 opened #1622 "Staging : Page crash on specific topic"
Please refer below link :
https://staging.canonizer.com/topic/646-1588-case-1/4-1#statement

[2022-09-30 04:36] #1440 closed, assigned to sajid315

[2022-09-30 06:59] subhancd opened #1623 "Spellings of "Patent" are incorrect"
Spellings of "**Patent**" in the footer are incorrect.
[screenshot](https://gyazo.com/ec7b6cedccea4506b40d22984e3a4374)

[2022-09-30 10:34] rupalichavan9860 commented on #1531
@sajid315 This is not working on live .Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/193251785-e132610b-60f2-4c61-990f-1bb933b205bc.png)

[2022-09-30 10:36] rupalichavan9860 commented on #1531
Canonizer sorted tree is not getting updated when selecting algorithm "One Person One Vote" and  "Mind Experts"
And support is not getting removed from parent camp

[2022-09-30 14:37] sajid315 commented on #1475
@saniatg above mentioned issue is fixed and PR been raised.

[2022-10-03 06:53] sajid315 commented on #1531
@rupalichavan9860 seems like jobs not working on our live server, I am looking into it with @akuks.

[2022-10-06 04:12] rupalichavan9860 opened #1626 "Page crash on camp forum"
Please refer below link :
https://staging.canonizer.com/forum/619-Topic-By-Rupali-C-2/1-Agreement/threads

Getting below page crash :
![image](https://user-images.githubusercontent.com/40416610/194212216-4423a692-2dd1-4491-9fc4-59912deead07.png)

[2022-10-06 06:25] #1622 closed, assigned to kshitij1326

[2022-10-06 06:25] #1623 closed, assigned to kshitij1326

[2022-10-06 08:43] rupalichavan9860 commented on #1618
Tested and verified

[2022-10-06 08:48] rupalichavan9860 commented on #1622
Tested and verified

[2022-10-06 12:53] rupalichavan9860 commented on #1475
Tested and verified

[2022-10-06 13:44] saniatg commented on #1193
@rupalichavan9860  Tested and is working fine .

[2022-10-06 13:52] saniatg commented on #1442
@sunilspr7 Not fixed
7.now User B will have this screen ,
8.And click on second review changes " I agree check box "

After 8 step when user B clicks  " I agree check box "-> The changes are not going live , message"Success! Your agreement to camp submitted successfully" is seen but the page remains still and the changes are still in review.
![Screenshot 2022-10-06 at 7 20 59 PM](https://user-imag

[2022-10-07 04:51] rupalichavan9860 commented on #1623
Tested . Working fine on all page footer and email footer but issue is still exists on blog page

[2022-10-07 05:08] rupalichavan9860 commented on #1193
Verified

[2022-10-10 07:35] sajid315 commented on #1531
@rupalichavan9860 jobs are working now on live.

[2022-10-11 06:40] rupalichavan9860 opened #1629 "Delegate support is not getting added in below case"
Steps to reproduce :
1. Go to http://staging.canonizer.com/
2. Login with valid email and password
3. Create topic (User A is supporter of Agreement camp )
4. Login with User B and support Agreement camp
5. Login with User A and try to delegate support to User B or Login with User b and try to delegate support to User A

Actual Result :
Direct support is getting removed but User is not added as a

[2022-10-11 07:54] sunnyjindal commented on #1297
Perfect.On Wed, Apr 20, 2022 at 9:55am, Ashutosh Kukreti ***@***.***> wrote:Yeah, yesternight we implemented it. We need AWS SES also as a backup as we already have EC2 instance deployed so 60K mails/month are available in free tier. We are thinking of getting rid of SendGrid.  We are thinking of using sendinblue and AWS on a failover basis.  On Wed, Apr 20, 2022 at 9:50 AM Sunny Jindal ***@***.**

[2022-10-17 14:12] sajid315 opened #1631 ""In review" statement is not displaying when applying filter "Include review""
Linked with CAN-1280 at CAN 3.0.

Steps to reproduce :

**Create new topic with User A

Create camp statement

Login with User B and submit camp statement update

Do not commit

Observe behavior after 1 hour**

Actual Result : Change is getting committed but on applying “Include review” filter it is showing live camp statement

[2022-11-08 12:53] rupalichavan9860 opened #1633 "Home page layout is breaking for "What's New at Canonizer" section"
Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/200569732-34b43eac-11ee-4939-9380-1a4f34511905.png)

[2022-11-08 17:38] rupalichavan9860 commented on #1631
Working fine now

[2022-11-09 07:37] rupalichavan9860 commented on #1232
@sunilspr7 Tested  and working fine now . As per current implementation, button is enabled and non clickable when there are no changes on the form
But I would suggest it will be good if we disabled the button

[2022-11-09 07:40] rupalichavan9860 commented on #1626
Not able to test as topic is not available .

[2022-11-09 07:46] rupalichavan9860 commented on #1629
Tested and verified

[2022-11-09 12:50] akuks commented on #1434
verified

[2022-11-09 13:01] saniatg commented on #1442
@rupalichavan9860 working fine on staging server

[2022-11-09 13:24] saniatg commented on #1264
@rupalichavan9860 working fine on staging server

[2022-11-09 13:33] rupalichavan9860 commented on #1264
Verified

[2022-11-09 16:43] rupalichavan9860 commented on #1531
Tested. Working fine now

[2022-11-10 08:11] sajid315 commented on #1633
@gautamv16 @akuks
We need to update the content of rendering in database on staging and production as well.

[code]

[2022-11-10 13:08] rupalichavan9860 commented on #1633
Verified

[2022-11-10 13:22] rupalichavan9860 commented on #1232
@sunilspr7 If user added any change and deleted the same and then button gets enabled and user is able to submit change , record is getting saved as a new record

But we can implement this in 3.0
@gautamv16 Let me know your thoughts

[2022-11-10 13:24] gautamv16 commented on #1232
@rupalichavan9860 yes not required now for 2.0. Let's pass this for 2.0 and create ticket for 3.0 to implement same.

[2022-11-10 13:29] rupalichavan9860 commented on #1232
Sure @gautamv16

[2022-11-10 13:32] rupalichavan9860 commented on #1232
One more case :
Login with User B and try to submit 1st change without updating any field- It should allow because nick name is different, but as of now it is not allowing
I will add this cases for 3.0

[2022-11-18 05:55] rupalichavan9860 opened #1641 "File Upload : Issues in camp statements when using more than 2 short codes"
Please refer attached screenshot :
2 short codes :
![image](https://user-images.githubusercontent.com/40416610/202630897-de0cc340-7531-4a03-83d0-e7ff388b4c58.png)

3 short codes :
![image](https://user-images.githubusercontent.com/40416610/202631031-d1331d03-15e3-4f63-90c8-b9e01acf382a.png)

[2022-11-21 07:40] gautamv16 opened #1644 "Setup Proxy on staging for file upload url."
Setup Proxy on staging for file upload url.