[2022-02-14 05:17] saniatg commented on #1094
@rupalichavan9860 Verified on production and is working fine. Please confirm.

[2022-02-14 05:23] saniatg commented on #1109
@rupalichavan9860 verified on production and is working fine. Please confirm.

[2022-02-14 05:26] saniatg commented on #1099
@rupalichavan9860 verified on production and is working fine. Please confirm

[2022-02-14 05:32] saniatg commented on #1078
@rupalichavan9860 verified on Production and is working fine

[2022-02-14 05:35] rupalichavan9860 commented on #1084
Verified on production

[2022-02-14 05:35] #1084 closed, assigned to HamzaBinMansoor

[2022-02-14 05:40] rupalichavan9860 commented on #1096
Verified on Production

[2022-02-14 05:59] saniatg commented on #1071
@rupalichavan9860 Tested and verified on production.

[2022-02-14 06:02] saniatg commented on #1086
@rupalichavan9860 Tested and verified on Production.

[2022-02-14 06:07] rupalichavan9860 commented on #1096
@sunilspr7 This is not working fine for existing topics. Some times it is displaying incorrect topic name (Not even old names) and sometimes displaying old names
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/153809172-d58d39cf-304d-412c-90a9-d81ca9810287.png)

![image](https://user-images.githubusercontent.com/40416610/153809304-b026df25-d625-495b-a2

[2022-02-14 06:22] saniatg commented on #1123
@rupalichavan9860 Tested and verified on production. Please confirm

[2022-02-14 06:30] Wajeeha1995 commented on #1087
@rupalichavan9860 Tested and verified on production

[2022-02-14 06:34] Wajeeha1995 commented on #1063
@rupalichavan9860 This is working fine on production

[2022-02-14 06:50] rupalichavan9860 commented on #1094
Verified

[2022-02-14 06:50] #1094 closed, assigned to sunilspr7

[2022-02-14 06:52] rupalichavan9860 commented on #1099
Verified

[2022-02-14 06:52] #1099 closed, assigned to kshitij1326

[2022-02-14 06:53] rupalichavan9860 commented on #1087
Verified

[2022-02-14 06:53] #1087 closed, assigned to sunilspr7

[2022-02-14 06:57] rupalichavan9860 commented on #1123
Verified

[2022-02-14 06:57] #1123 closed, assigned to nobody

[2022-02-14 07:13] sunilspr7 commented on #1096
updated support breadcrumb. Issue fixed some time support breadcrumb show blank title.

[2022-02-14 07:43] saniatg opened #1153 "The arrow is not properly aligned with the user name on top right corner"
Highlighted is the UI issue below.
![Screenshot 2022-02-14 at 1 08 23 PM](https://user-images.githubusercontent.com/91254708/153820918-0cc3c58e-1500-4281-a940-234e25ae9389.png)

[2022-02-14 08:17] saniatg opened #1154 "Url is navigating to service.canonizer.com when click on the camp from main page"
Navigate to https://staging.canonizer.com/
On main page click on any Topic .
The Url is of staging
Now from the Canonizer sorted camp tree, click on any camp.
 the url changes to service.canonizer.com

[2022-02-14 08:49] rupalichavan9860 commented on #1113
Verified on production

[2022-02-14 08:49] #1113 closed, assigned to sunilspr7

[2022-02-14 08:50] rupalichavan9860 commented on #1109
Verified

[2022-02-14 08:50] #1109 closed, assigned to sunilspr7

[2022-02-14 08:51] rupalichavan9860 commented on #1086
Verified

[2022-02-14 08:51] #1086 closed, assigned to sunilspr7

[2022-02-14 08:51] rupalichavan9860 commented on #1071
Verified

[2022-02-14 08:51] #1071 closed, assigned to kshitij1326

[2022-02-14 09:02] rupalichavan9860 commented on #1078
Verified

[2022-02-14 09:02] #1078 closed, assigned to HamzaBinMansoor

[2022-02-14 09:03] rupalichavan9860 commented on #1074
Verified on production

[2022-02-14 09:03] #1074 closed, assigned to sunilspr7

[2022-02-14 09:23] rupalichavan9860 opened #1155 "Unable to copy production data to staging"
When trying to copy production data to staging , it is displaying success message but in actual data is not getting copied and can see loading screen

![image](https://user-images.githubusercontent.com/40416610/153835637-c57e792e-151b-4e25-8fc5-db604d12ad5a.png)

[2022-02-14 09:39] rupalichavan9860 commented on #1096
Tested and verified on both staging and live also. Working fine now so closing

[2022-02-14 09:55] rupalichavan9860 commented on #1088
Verified on production

[2022-02-14 09:55] #1088 closed, assigned to nalwa

[2022-02-14 12:16] Wajeeha1995 opened #1156 "Scroller is missing plus last column is overlapping against the border"
![Screenshot_5](https://user-images.githubusercontent.com/92429083/153851245-bd4cf0c7-f8f5-4797-985e-5cca670a2c8c.png)

Issue produced on: Galaxy Fold

[2022-02-14 12:22] nalwa commented on #1138
@rupalichavan9860   i test this and i  have one question here

Should we  have "Remove Support button" when  going back in past date (selecting as of date filter)?

[2022-02-14 12:41] #1154 closed, assigned to aliahmad45

[2022-02-14 13:08] rupalichavan9860 commented on #1138
As per discussed in meeting we will disable the "Remove Support button" .
@BrentAllsop Can you please confirm on this?

[2022-02-14 13:22] rupalichavan9860 opened #1157 "UI issue on Canonizer Main Page - Canonized list for pagination"
As of now pagination is displaying as below :

![image](https://user-images.githubusercontent.com/40416610/153871785-ec51c095-232a-4c36-a037-eaf681ac56f2.png)

It doesn't looks good when there are more pages

It will be good if we can have pagination like below :

![image](https://user-images.githubusercontent.com/40416610/153871717-a23c16bf-6203-43f1-a39f-7a4fc2799742.png)

[2022-02-14 13:27] rupalichavan9860 opened #1158 "Need selected namespace Id in URL on Browse page"
We are facing issues while automating test cases for Browse page as for all namespaces URL is same "http://staging.canonizer.com/browse"

Can we have URL like "https://staging.canonizer.com/browse?namespace=1" and "https://staging.canonizer.com/browse?namespace=1&my=1" for selected namespace and only my topics(Namespace : General)

[2022-02-15 06:41] sonalizibtek opened #1159 "N/A is showing in the camp header - Topic creation page"
**Steps to Reproduce:**

1. Create topic , create camp
2. Select filter "as of date"
3.Then it will show topic created date format
4. Click on that date ,
5. Topic page is displayed
6. Click on Camp
**Actual result** : N/A is showing
![Screenshot (53)](https://user-images.githubusercontent.com/99309948/154006715-32b2c390-f29f-4d84-9390-554b10c6410e.png)

[2022-02-15 08:22] rupalichavan9860 commented on #1055
Tested and verified

[2022-02-15 09:53] sonalizibtek opened #1160 "Camp names are not displayed when you select a particular Algorithm"
Steps to Reproduce:
1. Create topic and create camp
2. Apply  as of date filter and it will display the camp created date link format
3.Click the link , It will display the Topic Page
4.Now select Algorithm one person one vote and mind experts - camp name is displayed
**Actual Result:**
5. Select algorithm :
computer science expert to canonizer canonizer  - the camp name is not showing
- Only for

[2022-02-15 09:54] rupalichavan9860 opened #1161 "Supported camps are not listing when user click on manage support in Firefox"
Chrome screenshot :
![image](https://user-images.githubusercontent.com/40416610/154037469-2c490de2-8ba4-49f6-b15c-c43d12662284.png)

Firefox screenshot :
![image](https://user-images.githubusercontent.com/40416610/154037594-08ae8c94-1e9e-4280-b374-fdd329e61f8f.png)

[2022-02-15 10:36] rupalichavan9860 commented on #1072
Not able to reproduce so closing this issue

[2022-02-15 10:36] #1072 closed, assigned to nobody

[2022-02-15 10:46] rupalichavan9860 commented on #1061
Not able to reproduce so closing this

[2022-02-15 10:46] #1061 closed, assigned to nobody

[2022-02-15 10:54] rupalichavan9860 commented on #1062
Verified on production

[2022-02-15 10:54] #1062 closed, assigned to sunilspr7

[2022-02-15 11:18] sunilspr7 commented on #1092
@rupalichavan9860  it is working fine.

[2022-02-15 15:48] saniatg opened #1163 "Spaces are getting trimmed when create or update camp/topic but not in the URL"
![Screenshot 2022-02-15 at 9 18 09 PM](https://user-images.githubusercontent.com/91254708/154097574-9cd990f4-1416-403f-8a3e-377d66632e58.png)

[2022-02-15 21:49] BrentAllsop opened #1164 "Add the remaining canonized score back to the first camp, so the total of all camps equals canonized score."
nth camp_score given N camps and canonized value of X.

If (N = 1) then camp_score := X
Else {
	camp_score := X * 1/(2^n)
	If n = 1 then camp_Score += X*1/(2^(N))
}

If I have the above algorithm psuedo code correct, then update the Multi Support Scoring section of the camp statement describing this: https://canonizer.com/topic/53-Canonizer-Algorithms/1-Agreement

In other words, include some psue

[2022-02-16 06:22] sonalizibtek commented on #1157
this is not yet fixed @rupalichavan9860

![Screenshot (58)](https://user-images.githubusercontent.com/99309948/154208018-5f3adffe-f076-4029-aba4-d06d410589cc.png)

[2022-02-16 06:28] sonalizibtek commented on #1153
Tested and verified. It is working fine .@rupalichavan9860 Please confirm

[2022-02-16 06:38] Wajeeha1995 commented on #1102
@rupalichavan9860 This is working fine now.Please verify this

[2022-02-16 06:43] sonalizibtek commented on #1075
Tested and verified . Its working fine. @rupalichavan9860 Please confirm

[2022-02-16 06:50] sonalizibtek commented on #1092
Tested and Verified, it is working fine . @rupalichavan9860  Please confirm

[2022-02-16 06:53] aliahmad45 commented on #1157
@sonalizibtek  can you reload the page and check again?
this is how it's look like
![Screenshot from 2022-02-16 11-53-22](https://user-images.githubusercontent.com/90698926/154211759-e717e1d3-ecec-4e28-ac9b-3a6296684ad2.png)

[2022-02-16 06:54] Wajeeha1995 commented on #1161
@rupalichavan9860 This is working fine. Now same camps are showing on chrome and firefox browser.

[2022-02-16 06:55] saniatg commented on #1095
@rupalichavan9860 Verified.

[2022-02-16 07:13] sonalizibtek commented on #1157
@aliahmad45
- The developed design is not matching according to the requirement
-the number icon (ex 1,2.. ) is in blue color
-It should be transparent
-Please find the attached requirement design below for the reference
![153871717-a23c16bf-6203-43f1-a39f-7a4fc2799742](https://user-images.githubusercontent.com/99309948/154214722-fbd6333d-1bdf-402d-bfa8-875cb6491f52.png)

[2022-02-16 07:29] rupalichavan9860 commented on #1075
Verified

[2022-02-16 07:30] rupalichavan9860 commented on #1153
Verified

[2022-02-16 07:37] rupalichavan9860 commented on #1161
Verified

[2022-02-16 07:48] rupalichavan9860 opened #1166 "Minor UI issue : Alignment of search functionality radio buttons is getting disturbed"
Please refer attached screenshot of staging :
![image](https://user-images.githubusercontent.com/40416610/154219143-0e479f21-1243-4c0c-9eda-460c156af32e.png)

Expected Result :
It should be like below
Live site Screenshot :
![image](https://user-images.githubusercontent.com/40416610/154219237-ad94aff1-89aa-4921-ae1c-8ea095b94158.png)

[2022-02-16 07:49] rupalichavan9860 commented on #1092
Verified

[2022-02-16 08:04] gautamv16 commented on #1150
@ashish76 can u test facebook login working for domain https://canonizer3.canonizer.com/

@BrentAllsop make me admin for all other platforms to whitelist canonizer 3 domain.

[2022-02-16 08:13] rupalichavan9860 opened #1168 "Firefox Browser issue : Remove All check box is not getting cleared when click on "Clear All Changes" on supported camps page"
Pre-condition : Use Firefox browser
Steps to reproduce  :
1. Open topic where user supported more than 2 camps
2. Click on any camp and click on "Manage Support"
3. Click on "Remove All"
4. Now click on "Clear All Changes"

Actual Result :
"Remove All" checkbox is not getting cleared in Firefox. (Note :  It is getting cleared in Chrome and Safari)

![image](https://user-images.githubusercontent.co

[2022-02-16 08:14] rupalichavan9860 commented on #1095
Verified

[2022-02-16 08:17] saniatg opened #1169 "Safari Browser- Drag /drop is not working for supported camp list"
Precondition: Supported camps list for topic "topic_name" must be more than 1

When trying to change order, drag and drop does not work.
![Screenshot 2022-02-16 at 1 40 07 PM](https://user-images.githubusercontent.com/91254708/154223494-e9b89f6a-cdf3-4df1-8861-1e9061d8f1b7.png)

[2022-02-16 09:00] ashish76 commented on #1150
@gautamv16 Sure Varun, I will check. I hope the Facebook credentials have been set on the server [canonizer3.canonizer.com/](https://canonizer3.canonizer.com/).

[2022-02-16 09:09] rupalichavan9860 commented on #1102
@Wajeeha1995 @aliahmad45 This is still not working in below scenario :

Steps to reproduce :
1. Go to  https://staging.canonizer.com/
2. Login with "User A"
3. Create New topic and add camp statement for agreement camp(Note : Statement is live)
4. Logout and Login with "User B"
5. Click on "Manage/Edit Camp Statement"

Expected Result :
User should see Camp Statement History with live record

Actu

[2022-02-16 09:15] rupalichavan9860 commented on #1085
Tested and verified

[2022-02-16 10:28] saniatg commented on #1081
@sunilspr7 Points 8 & 9 are not done. When delegating and removing support.
[Nick_name] has removed their delegated from [nick_name2] in [topic_name]
Nick_name2 must also be  a link
![Screenshot 2022-02-16 at 3 27 47 PM](https://user-images.githubusercontent.com/91254708/154245760-7f8b6d57-b0e9-4186-b405-e61e6fbd2fd1.png)

![Screenshot 2022-02-16 at 4 01 21 PM](https://user-images.githubuserconten

[2022-02-16 10:46] sunilspr7 commented on #1081
@saniatg  okay, I will check

[2022-02-16 11:18] sunilspr7 commented on #1081
@saniatg  fixed it and code PR created

[2022-02-16 12:52] rupalichavan9860 commented on #1160
According to me it should not show camps as topic/agreement camp is selected. Once we select sub camp then only it should display camp

@BrentAllsop Can you please confirm?

[2022-02-16 13:03] rupalichavan9860 commented on #1157
@aliahmad45 We are fine with the current format.

[2022-02-17 02:57] BrentAllsop commented on #1138
Yes, history can never be modified.  We can only submit new versions of things, that replace old things, as of the date submitted.

[2022-02-17 03:33] rupalichavan9860 opened #1171 "Error while accessing Facebook login"
Steps to reproduce :
1. Go to https://staging.canonizer.com/ or https://canonizer.com/
2. Click on Log in
3. Click on Facebook

Getting below error

![image](https://user-images.githubusercontent.com/40416610/154399902-e37cda9e-9a4b-4c53-bd92-b8c0f8e74db2.png)

[2022-02-17 06:21] saniatg commented on #1047
Verified @rupalichavan9860 please confirm.

[2022-02-17 06:31] rupalichavan9860 commented on #1047
@sunilspr7 @saniatg Crash is fixed and getting error message if try to upload more than 5 mb but not  able to upload file more than 2mb and less than 5 mb

[2022-02-17 07:04] saniatg commented on #1081
@rupalichavan9860 Tested for following cases:
1- Add /remove support
2- Add/remove delegated support
3-Create thread
4- Create /update post
5- Proposed change in camp/topic/statement
6- Objection email
7- Promotion email
Points 8 & 9 are also fixed. Let me know if I missed any email.

[2022-02-17 07:16] rupalichavan9860 commented on #1138
@nalwa As per discussed in meeting we need to disable the "Remove Support button" with tooltip.
@sunnyjindal @dakshiffort Can you please provide the content for tooltip?

[2022-02-17 07:57] rupalichavan9860 commented on #1102
Also found same issue in below scenario :

1. Go to  https://staging.canonizer.com/
2. Login with "User A"
3. Create New topic
4. Logout and Login with "User B" and add camp statement for agreement camp(Note : Statement is not live)
5. Logout and Login with "User A"
6. Click on "Manage/Edit Camp Statement" and object change
7. Observe camp statement history page

Actual Result :
 It is displaying

[2022-02-17 08:05] sunilspr7 commented on #1047
@saniatg  now issue from server side. @akuks please increase file upload size more than 2mb.

[2022-02-17 09:00] rupalichavan9860 commented on #1081
Verified

[2022-02-17 09:38] sunnyjindal commented on #1138
@rupalichavan9860 @BrentAllsop Should we not hide the button in this case instead of showing it with a tooltip?

[2022-02-17 10:44] shivavarman opened #1175 "Cross-Domain Misconfiguration: - ForgotPassword"
**Issue found in ForgotPassword page**

1.https://canonizer.com/forgotpassword

**(Access-Control-Allow-Origin: *)** - due to this  Web browser data loading may be possible, due to a Cross Origin Resource Sharing (CORS) misconfiguration on the web server.

Ensure that sensitive data is not available in an unauthenticated manner (using IP address white-listing, for instance). Configure the "Access-

[2022-02-17 12:01] shivavarman opened #1177 "X-Frame-Options Header Not Set"
Issue found in ForgotPassword page

1.https://canonizer.com/forgotpassword

X-Frame-Options header is not included in the HTTP response to protect against 'ClickJacking' attacks.

[2022-02-17 12:04] shivavarman opened #1178 "Vulnerable JS Library"
Issue found in blog page

1.https://canonizer.com/blog/wp-content/themes/cano-blog/assets/js/bootstrap.min.js?ver=3.3.6

Description: The identified library bootstrap, version 4.0.0 is vulnerable.

Solution: Please upgrade to the latest version of bootstrap.

[2022-02-17 13:08] dakshiffort commented on #1138
Option 1: You can only remove your support from the latest camp statement.
Option 2: You can only remove your support from the latest camp statement. To view the latest statement, select "default" option under “as of”.

Please see above options. @BrentAllsop please confirm.
@rupalichavan9860 @sunnyjindal

[2022-02-17 14:18] saniatg opened #1179 "Score is not getting updated in the tree for agreement camp and sub camps when removed support from 'Account Settings' page"
Create a new topic
By default support gets added to agreement camp
Now Click on account settings page and click 'supported camps'
Click on cross icon to remove support form agreement camp
Come back to the topic

Actual result : Support count will be seen 1 . The support is not removed from: Canonizer Sorted Camp Tree and Support Tree for "Agreement" Camp
Expected Result: Count must be seen 0, as t

[2022-02-18 08:05] rupalichavan9860 commented on #1135
As discussed in meeting user should not be able to delegate their support to their sub delegated supporters also

[2022-02-18 08:39] akuks commented on #1047
Done

[2022-02-18 09:15] saniatg commented on #1047
@rupalichavan9860 working fine now.
Please confirm

[2022-02-18 09:35] rupalichavan9860 commented on #1047
Verified

[2022-02-18 09:57] sonalizibtek commented on #1114
@rupalichavan9860 , Tested and verified . Its working fine . Please confirm

[2022-02-18 10:08] rupalichavan9860 commented on #1045
@kshitij1326 I have tested and verified for some camps and working fine now . But still total score is mismatching for below camp

Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/154661803-fa04add9-d9a4-4fe8-a285-882356109b4a.png)

[2022-02-18 10:53] saniatg commented on #1102
@aliahmad45 failing in this scenario:
Case:
Login with "User A"
Create New topic  and remove support from agreement.

Logout and Login with "User B"
Support agreement camp.
Click on "Add camp statement" and add new statement
User B will see live statement
User A is not able to see the live statement  in 'Camp Statement History page' but  sees the statement under statement section.

[2022-02-18 11:52] rupalichavan9860 opened #1182 "Minor grammatical mistakes on Multiple User Warning pop up"
I found some grammatical mistakes on Multiple User Warning pop up
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/154678027-fd655937-1221-495c-b429-9615923a3daf.png)

[2022-02-18 11:59] rupalichavan9860 commented on #1114
Verified

[2022-02-18 12:22] sunnyjindal commented on #1182
Could you please tag Daksh in this?

[2022-02-18 12:37] saniatg opened #1183 "Commit button is missing when submitting statement update for the 2nd time"
Login with User A
Create a topic and by default agreement camp is supported
Login with User B and add a statement .
User B is adding statement   , commit button will show first time and will be in  review.
Now again from User B  click on button 'Submit statement  update'  and submit update.
On click 'Submit Update' immediately the statement is in review without showing the commit button.

Commit b

[2022-02-21 09:05] rupalichavan9860 opened #1184 "User is able to create multiple camps with name "Agreement""
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/154922594-a50ddee6-af66-4e70-a7a6-c916ed6512b1.png)

![image](https://user-images.githubusercontent.com/40416610/154922714-072fc38a-c38b-4417-aedb-478668394e51.png)

![image](https://user-images.githubusercontent.com/40416610/154924960-4be63e53-b8ad-4ca6-93af-f31439242cda.png)

Expected Result :
Camp name

[2022-02-21 11:27] rupalichavan9860 commented on #1138
@dakshiffort I would like to do little correction here. It should be "latest camp" instead of "latest camp statement"

Also it will be good if we hide the button instead of showing it with a tooltip
@BrentAllsop Can you please confirm

[2022-02-21 13:57] rupalichavan9860 opened #1185 "Topic submitter/direct supporter is unable to add camp statement"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with User A and create new topic(User A is supporter of Agreement camp)
3. Log out and login with User B
4. Add camp statement to agreement camp

Note : It will be in "In review" if user committed immediately and User A can either agree or object to change and
If  User B not committed changes immediately ,it will take 1 hour gra

[2022-02-22 06:34] rupalichavan9860 commented on #1183
I found this issue in one more scenario :
Steps to reproduce :
1. Submit a proposed change to camp statement by different user (Do not commit changes)
2. Click on "Edit Change" and make some changes
3. Click on "Submit"

Expected Result :
User should see "Edit Change" and "Commit Change" buttons and user should able to edit change during grace period

Actual Result :
Statement is getting committed

[2022-02-22 10:37] nalwa commented on #1138
@rupalichavan9860  as per discussion with you i have hide the button  "Remove you support" AND "Delegate your support" whenever user go back in past dates.

[2022-02-22 11:55] ahmed130544 commented on #1118
@anilPodi please mention which characters are invalid for statement, by checking screenshot, i guess just special characters are wrong input.

[2022-02-22 12:03] ahmed130544 commented on #1119
@rupalichavan9860 please mention, steps to go to videos page, unable to find it.

[2022-02-22 12:22] rupalichavan9860 commented on #1119
@ahmed130544 Please refer below steps :
1. Go to https://staging.canonizer.com/ or https://canonizer.com/
2. Go to "What's New at Canonizer" block on right bottom of canonizer home page
3. Click on "Check it out" link or "It's Not a Hard Problem; It's a Color Problem" link or image
4. Observe footer

[2022-02-22 13:27] saniatg commented on #1117
@cd-ali-ehsan
Provider LinkedIn name is incorrect. 'I ' letter must be capital. It should be 'LinkedIn' not Linkedin
![Screenshot 2022-02-22 at 6 57 07 PM](https://user-images.githubusercontent.com/91254708/155141712-9a7d5038-c6c1-4bc8-9a9d-bb2141dec523.png)

[2022-02-22 13:29] rupalichavan9860 commented on #1045
Tested and verified

[2022-02-22 13:36] saniatg commented on #1179
Verified and is working fine. @rupalichavan9860 please confirm

[2022-02-22 13:38] rupalichavan9860 commented on #1179
Verified

[2022-02-22 13:47] saniatg commented on #1102
@aliahmad45 the above scenario is not fixed.

[2022-02-22 13:48] rupalichavan9860 commented on #1138
@sunnyjindal Can you please provide revised content as per discussed in meeting

[2022-02-22 14:01] rupalichavan9860 commented on #1117
User is unable to link social accounts and we observed below change

Screenshot of Staging :

![image](https://user-images.githubusercontent.com/40416610/155147573-c25cb634-591b-4a6e-9407-527f5efde35c.png)

Screenshot of live:

![image](https://user-images.githubusercontent.com/40416610/155147592-b91287a3-205b-4244-a948-cb7b6f99891e.png)

[2022-02-22 14:04] sunnyjindal commented on #1138
@rupalichavan9860 @nalwa
You cannot remove your support from an archived camp. For LIVE camp, select "default" option under “as of”.

[2022-02-23 06:00] rupalichavan9860 commented on #1155
Tested and verified

[2022-02-23 06:31] saniatg commented on #1104
@rupalichavan9860 not able to reproduce the issue for now. Can you also confirm.

[2022-02-23 06:43] rupalichavan9860 commented on #1104
Not able to reproduce so closing this issue

[2022-02-23 06:43] #1104 closed, assigned to ahmed130544

[2022-02-23 07:01] rupalichavan9860 commented on #1092
@sunilspr7 Getting same issue again. Please check
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/155274056-ea4541b9-fbda-40f4-934a-5226c581e6d3.png)

![image](https://user-images.githubusercontent.com/40416610/155274110-8a314b39-4871-4369-b0d2-bc8a369f10dd.png)

[2022-02-23 07:11] rupalichavan9860 commented on #961
Working fine now

[2022-02-23 08:04] ashish76 commented on #1101
@sunnyjindal Need some clarification on below points :

	1. What action will be performed by clicking on the Subscribe Entire Topic?
	2. If I click on a Subscribe Entire Topic, will only the topic be subscribe or all its camps also?
	3. If a camp is already subscribed, then what will happen to that camp?

Please brief all the logic behind this task.

[2022-02-23 08:11] sunnyjindal commented on #1101
@ashish76 let's discuss with @BrentAllsop in tomorrow's call.

[2022-02-23 09:16] rupalichavan9860 opened #1191 "Incorrect choice number and incorrect score is displaying under support tree"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create topic with User A and create 3 camps(Camp 1, Camp 2 and Camp 3)
4. Support all 3 camps
5. Login with User B and delegate support to User A in any camp
6. Login with User A and create sub camp under Camp 2 and support new sub camp
7. Again got to Camp 2 and support
8. Observe Score and choi

[2022-02-23 12:13] nalwa commented on #1138
@rupalichavan9860  @BrentAllsop  I have disabled / greyed out  link for past dates with tooltip displaying message provided by @sunnyjindal  which is:  "You cannot remove your support from an archived camp. For LIVE camp, select "default" option under “as of”."

[2022-02-23 12:27] rupalichavan9860 commented on #1191
Please refer one more scenario :
1. Create topic By "User A" and create "Camp 1" and support "Camp 1"
2. Login with "User B" and delegate support to "User A"
3. Login with "User C" and delegate support to "User B"
4. Login with "User D" and delegate support to "User C"
5. Login with "User A" and create second camp "Camp 2" and support "Camp 2"
6. Observe total score of "Camp 1" and total score of

[2022-02-23 13:08] saniatg opened #1193 "Delegated support is getting added when clicking cross icon from manage support"
1. Login with user A and create a topic
2. Now login with user B and click on Delegate your support
3. User B will be redirected to supported camps and click on cross icon next to 'Agreement'
4. Now click on 'Submit' button

Actual result: Delegated support gets added to User A
Expected  result: delegated support must not get added once user clicks on 'cross icon'. Works fine in case of direct sup

[2022-02-24 02:23] BrentAllsop commented on #1160
Yes, the name of the root camp is always "Agreement".  Sometimes, we can consider it to be the name of the topic.
All other camps have their own name.

[2022-02-24 02:51] BrentAllsop commented on #1138
I think it would be better to talk about history.  As in: 'History cannot be modified.  In order to modify your current support select the default option in the as-of box."

[2022-02-24 03:55] CanonizerJim commented on #1138
I approve

[2022-02-24 08:31] rupalichavan9860 opened #1194 "All camps are not listing under delegated supported camp list"
Please refer attached screenshot :

![image](https://user-images.githubusercontent.com/40416610/155487180-e86376b1-0989-4f13-9c98-ca01247d67d6.png)

![image](https://user-images.githubusercontent.com/40416610/155487304-11bd84d3-b590-48d6-9db8-db713a57bb17.png)

Following camp is missing in supported camp list :

![image](https://user-images.githubusercontent.com/40416610/155487558-027c0a5b-2cb4-46

[2022-02-24 08:43] rupalichavan9860 commented on #1194
Steps to reproduce :
1. Create topic and 2 camps by "User A" and support both camps
2. Login with "User B" and delegate support to "User A" in any camp
3. Login with User A and Create new camp "Test camp 1"
4. Update "Test camp 1" and change parent camp to "Camp 1" from "Agreement"
5. Support "Test camp 1"
6. Observe "User B"'s support

[2022-02-24 11:25] nalwa commented on #1138
@rupalichavan9860  i have update the message.

[2022-02-24 11:54] rupalichavan9860 commented on #1138
@nalwa Okay. I will check and update once deployed on staging

[2022-02-25 07:09] #1059 closed, assigned to kshitij1326

[2022-02-25 09:54] sunilspr7 commented on #1092
@gautamv16 @aliahmad45    We need to discuss this, the issue because of the caching system we are using. so the process is like when you create a new camp, it generates a event which get stores in queue, now if that queue takes time to process, until that time the camp will not get updated in the tree on topic view page. so we need to figure out a way either to show a message or to show loader unt

[2022-02-25 12:06] saniatg commented on #1117
@ahmed130544  user is not able to link the social accounts.

[2022-02-25 13:02] saniatg commented on #1183
@kshitij1326 @rupalichavan9860
Issue is not fixed.

[2022-02-25 14:02] rupalichavan9860 commented on #1138
@nalwa Page crash issue is resolved and I can see disabled button with tooltip but I have one doubt .
If another user logged in and select as of date ,then "delegate your support" button is also disabled (User cannot delegate in case of history), but user can directly support with button "Directly join and support" even if as of date selected
Is this correct behavior?

As per discussed in meeting

[2022-02-28 02:50] BrentAllsop commented on #1138
Yes, I believe everything should be the same.  One should never be able to change things from history pages, as history is immutable.

[2022-02-28 05:38] rupalichavan9860 opened #1197 "User is not able to create and edit camp with valid Camp About URL"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Browse and select any topic
4. Create new camp or update any existing camp with "https://www.example.com?post=1234" as Camp About URL

Expected Result :
It should allow user to save the data

Actual Result :
It is displaying error message "The camp about url format is invalid. (Example: htt

[2022-02-28 06:01] sonalizibtek opened #1199 "Add News Module - Unable to add the valid URL in the Link field"
**Steps To Produce:**
1.Select any topics
2.Click on Add News
3.In the Link field try to enter the valid url
**Actual Result:**  user entered the url as per mentioned in the error message  Example: https://www.example.com?post=1234 -but still  its throwing an error message to enter the valid url with example .
**Expected :** It should allow user to enter the valid url in the field

**case2:**
1.Cl

[2022-02-28 09:00] rupalichavan9860 opened #1201 "Camp statement is going live for Agreement camp when no supporters for Agreement camp"
Scenario :
When User A is direct supporter of Camp 1 and User B is delegated of User A in Camp 1 and Agreement camp don't have any supporter ,User C proposed a change to Agreement camp (It will go in "in Review" which is correct behavior)but when User C proposed change to Agreement camp statement, it it going live

Expected Result :
It should be in "In review"

[2022-02-28 10:22] rupalichavan9860 opened #1202 "Implicit supporter of the agreement camp (by being a direct supporter of one of the sub camps) is unable to agree and object camp change"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with User A and create topic
3. Create new camp and support camp(Now User A is supporter of sub camp)
4. Login with User B and submit change to Agreement camp -add camp statement /Agreement camp /topic

Expected Result :
1. Camp statement should be in "in review" and Implicit supporter of the agreement camp(User A) should able t

[2022-02-28 10:26] rupalichavan9860 opened #1203 "Delegated supporter is able to object topic/camp/statement change"
Steps to reproduce :

1. Go to https://staging.canonizer.com/
2. Login with User A and create topic
3. Create new camp and support camp "Camp 1"(Now User A is supporter of sub camp "Camp 1")
4. Login with User B and delegate support to User A
5. Login with User C and submit change to sub camp "Camp 1" - add camp statement /Change camp /Change topic
6. Login with User B and observe History pages

A

[2022-02-28 13:20] rupalichavan9860 opened #1204 "User can directly support with button "Directly join and support" even if as of date selected"
As per discussion user should never be able to change things from history pages, as history is immutable.
We need to disable the button "Directly join and support" with tooltip "History cannot be modified. In order to modify your current support select the default option in the as-of box."

[2022-02-28 13:22] rupalichavan9860 commented on #1138
As discussed I am closing this ticket as page crash issue is resolved and created new ticket for new requirement #1204

[2022-02-28 13:26] saniatg opened #1205 "Page crashes when internet is turned off and user try to Add/edit button"
1. Go to profile settings
2. Edit any field
3. Now disconnect the wifi
4. Click Update button
5. You will see" Internet not working"
6. Not connect wifi, and refresh the URL

Page crashes

The same issue is for the following cases mentioned below:

- When adding nick name
- Creating  Camp
- Creating Topic
- Creating/updating camp statement
- Create/edit /delete news
- Submit Support

![Screenshot

[2022-03-01 11:17] ahmed130544 commented on #1102
Scenario 3
User A creates topic -> support will be added automatically to agreement camp
When User A remove his support and User B add support and camp statement - It should go "live"(Grace period = 0)

[2022-03-02 05:49] saniatg commented on #1102
@rupalichavan9860 the above scenario is fixed. Please confirm

[2022-03-02 07:32] rupalichavan9860 commented on #1102
This is not working in case of sub camp

1. Go to  https://staging.canonizer.com/
2. Login with "User A"
3. Create New topic and create new camp "camp 1" and support "camp 1"
4. Logout and Login with "User B" and add camp statement for "camp 1" camp and commit change(Note : Statement is not live)
5. Logout and Login with "User A"
6. Click on "Manage/Edit Camp Statement" and object change
7. Observ

[2022-03-02 07:50] saniatg opened #1208 "Object button gets enabled for a proposed change , to a user who was not direct supporter at that time of proposing change"
1. User A creates topic and a camp1
2. Support camp1
3. Now User B navigates to that camp1 and click on 'Manage/Edit statement'
4. UserB when adds statement , it goes 'in review' which is correct and the 'Object' button is disabled which is again correct.
5. Now User B supports Camp1 and  again propose a change to statement .

Actual Result: In Statement History page , the 1st 'In review' statemen

[2022-03-02 07:51] rupalichavan9860 opened #1209 "User is unable to see latest live record on camp statement history"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with User A and Create topic and camp and support camp "camp 1"
3. Login with User B and add camp statement for "camp 1" (It will be in "in review")
4. Login with User A and agree to the change submitted by User B
5. Submit one more change by User A(It will be live)

Expected Result :
User A and User B both should see live recor

[2022-03-02 07:54] rupalichavan9860 commented on #951
Tested and verified

[2022-03-02 09:03] ashish76 commented on #1171
@rupalichavan9860 I am not able to replicate this issue. It is working as expected. Could you please verify at your end once?

[2022-03-02 09:05] rupalichavan9860 commented on #1171
@ashish76 This is working fine now on both staging and live. So closing this

[2022-03-02 09:05] #1171 closed, assigned to kshitij1326

[2022-03-02 12:44] sonalizibtek opened #1210 "When user select “include review “ filter, user is not able to see Topic and camp names under Canonizer Sorted Camp Tree"
**Steps to Produce:**
1.Login with the credential
2.Click on browse and select any topic
3.Apply include review filter

**Actual Result:** Include review : When user select “include review “ filter, user should able to see “In Review” topic names in Canonized list for - I m not able to see the Canonizer list of topic names
![Screenshot (105)](https://user-images.githubusercontent.com/99309948/1563

[2022-03-02 12:47] rupalichavan9860 opened #1211 "Support is getting removed when changing parent camp"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic and create 2 camps (By User A) and support both camps
4. Login with User B and support both camps
5. Case 1 : Change Parent camp of "camp 1" to "camp 2" from "Agreement"
    Case 2 : Change Parent camp of "camp 2" to "camp 1" from "Agreement"
   (Note : Login with User A or User

[2022-03-02 20:52] BrentAllsop commented on #1210
I'm not able to reproduce this?

[2022-03-03 02:50] sunnyjindal commented on #1210
I am not sure but I think this is related to caching.

[2022-03-03 09:15] rupalichavan9860 commented on #1102
@ahmed130544 Issue is still exists. I have updated the comment with steps to reproduce .

[2022-03-03 13:35] rupalichavan9860 commented on #1183
Tested and verified

[2022-03-03 13:59] rupalichavan9860 commented on #1102
@ahmed130544 Not working in below scenario :
1. Login with "User A"
2. Create New topic or use any existing topic and create sub camp "Camp 1" , Support "Camp 1"
3. Remove support from sub camp "Camp 1".
4. Logout and Login with "User B"
5. Support sub camp "Camp 1" .
6. Click on "Add camp statement" and add new statement
7. User B will see live statement
8. User A is not able to see the live stat

[2022-03-03 22:51] ahmed130544 commented on #1102
Scenario 4 :
User A: Created topic & camp and remove his support from camp
User B: Add support and camp statement to "camp 1" - It should go "live"(Grace period = 0)
@rupalichavan9860

[2022-03-04 08:49] sunnyjindal commented on #1101
@kshitij1326 @ashish76 in case this is done, can we raise the PR?

[2022-03-04 09:38] rupalichavan9860 commented on #1092
@ahmed130544 Still facing same issue
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/156738534-f02c0b12-1ce2-482f-8d7c-4246a004243c.png)

[2022-03-04 09:41] saniatg commented on #1209
@rupalichavan9860 working fine. Please confirm

[2022-03-04 09:45] rupalichavan9860 commented on #1209
Tested and verified

[2022-03-04 09:51] rupalichavan9860 commented on #1076
@sunilspr7 Tested . Support is not getting removed but if I go to "manage support" of "camp 2" it is displaying warning "Warning! "camp 2" is a parent camp to this list of child camps. If you commit support to "camp 2", the support of the camps in this list will be removed."

Please refer below screenshot
![image](https://user-images.githubusercontent.com/40416610/156740570-99b54ff0-5995-4896-ab60

[2022-03-04 09:56] saniatg commented on #1158
@rupalichavan9860 Working fine . Checked for Safari, Chrome and Firefox browsers . Please confirm

[2022-03-04 10:05] rupalichavan9860 commented on #1158
Verified

[2022-03-04 10:09] rupalichavan9860 commented on #1117
Tested and verified. As of now user is able to link and unlink social accounts but sometimes user need to click multiple times on unlink to unlink account.
we are unable to reproduce the scenario so as of now closing this

[2022-03-04 12:53] rupalichavan9860 commented on #1210
Still getting issue for some topics

[2022-03-04 13:00] rupalichavan9860 commented on #1102
Tested with all possible scenarios and everything is working fine

[2022-03-07 05:53] rupalichavan9860 commented on #1210
Tested and verified

[2022-03-07 05:57] rupalichavan9860 commented on #1092
We are unable to reproduce the issue , so for now closing this issue

[2022-03-08 06:16] rupalichavan9860 commented on #1179
@aliahmad45 We are again facing the same issue . Can you please check

[2022-03-08 06:40] rupalichavan9860 opened #1219 ""View This Version" is always displaying live records for topic/camp/camp statement records"
Submit change to topic/camp/camp statement - it will be in "in review" and click on "View This Version"
Observe page -
Expected Result : It should display selected record changes
Actual Result : It is displaying live data only

Object change to topic/camp/camp statement - it will be in "objected" and click on "View This Version"
Observe page -
Expected Result : It should display selected record ch

[2022-03-08 12:25] saniatg commented on #1047
@rupalichavan9860 working fine on production. Please confirm.

[2022-03-08 12:32] saniatg commented on #1161
@rupalichavan9860 working fine on production. Please confirm

[2022-03-08 12:39] saniatg commented on #1183
@rupalichavan9860 working fine on Production. Please confirm.

[2022-03-08 12:43] saniatg commented on #1158
@rupalichavan9860 Working fine on Production. Please confirm.

[2022-03-08 13:24] saniatg commented on #961
@rupalichavan9860 Working fine on Production. Please confirm

[2022-03-08 13:42] sonalizibtek commented on #1092
Tested and verified. In production its not  working . Please confirm @rupalichavan9860

[2022-03-08 18:40] rupalichavan9860 commented on #1210
Verified on production

[2022-03-08 18:49] rupalichavan9860 commented on #1045
Tested on production.
Working fine for camp : Steven Lehar but can see incorrect total score for below camp
Screenshot of live for camp "Chirapat Ukachoke"
![image](https://user-images.githubusercontent.com/40416610/157304922-9ebdcee4-2db0-4794-b3d0-7a14e2123706.png)

On staging it is displaying correct score. Please refer below screenshot
Screenshot of staging for camp "Chirapat Ukachoke"

![imag

[2022-03-08 19:00] rupalichavan9860 opened #1220 "Old camp name is displaying under "Canonizer Sorted Camp Tree" on live"
Please refer below camp :
https://canonizer.com/topic/81-Mind-Experts/20-David-Pearce?currentTime=

Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/157306662-9a7c241a-4507-4a01-9c92-68032208bbbd.png)

![image](https://user-images.githubusercontent.com/40416610/157306762-25126dc9-dcd0-442d-a2f5-d1db72a178d7.png)

[2022-03-08 19:02] rupalichavan9860 commented on #1045
Also check other camps under "Mind Experts" topic, total score displaying is incorrect for most of camps

[2022-03-08 19:05] rupalichavan9860 commented on #1158
Verified

[2022-03-08 19:05] #1158 closed, assigned to karun0607gautam

[2022-03-08 19:10] rupalichavan9860 commented on #1047
Verified

[2022-03-08 19:10] #1047 closed, assigned to sunilspr7, akuks

[2022-03-08 19:17] rupalichavan9860 commented on #1157
Verified on production

[2022-03-08 19:17] #1157 closed, assigned to aliahmad45

[2022-03-08 19:20] rupalichavan9860 commented on #1183
Verified

[2022-03-08 19:20] #1183 closed, assigned to kshitij1326

[2022-03-08 19:23] rupalichavan9860 commented on #1161
Verified

[2022-03-08 19:23] #1161 closed, assigned to sunilspr7

[2022-03-08 19:28] rupalichavan9860 commented on #1095
Verified on production

[2022-03-08 19:28] #1095 closed, assigned to sunilspr7

[2022-03-09 04:20] saniatg commented on #1153
@rupalichavan9860 working fine on Production.

[2022-03-09 04:22] saniatg commented on #1075
@rupalichavan9860 working fine on Production.

[2022-03-09 04:33] saniatg commented on #1209
@rupalichavan9860 Working fine on Production. Please confirm

[2022-03-09 05:31] sonalizibtek commented on #1117
Working fine, Tested and Verified. @rupalichavan9860 Please confirm

[2022-03-09 05:53] sonalizibtek commented on #1114
Tested and verified. Please confirm @rupalichavan9860

[2022-03-09 06:11] rupalichavan9860 opened #1221 "Getting error when click on canonizer logo from blog page on Live"
Getting below error when user is on blog page and click on canonizer logo to go back to canonizer main page

![image](https://user-images.githubusercontent.com/40416610/157382920-f1109352-e814-4c31-ad07-bac1f56f9c03.png)

[2022-03-09 06:23] kshitij1326 commented on #1045
@rupalichavan9860 As i can check it is displaying correct score for me, there would be some caching issue at that time.

[2022-03-09 06:52] saniatg commented on #1081
@rupalichavan9860 verified on  production working fine. Please confirm.

[2022-03-09 07:58] rupalichavan9860 commented on #1045
Yes. displaying correct score now so closing the issue

[2022-03-09 07:58] #1045 closed, assigned to kshitij1326

[2022-03-09 08:00] rupalichavan9860 commented on #1114
Verified

[2022-03-09 08:00] #1114 closed, assigned to kshitij1326

[2022-03-09 08:01] rupalichavan9860 commented on #1117
Verified

[2022-03-09 08:01] #1117 closed, assigned to ahmed130544

[2022-03-09 08:04] rupalichavan9860 commented on #1092
@ahmed130544 Can you please check this. Issue exists on live

![image](https://user-images.githubusercontent.com/40416610/157398520-6690ce3c-0e3d-46f9-8f6c-46c031a0757f.png)

[2022-03-09 08:05] rupalichavan9860 commented on #1075
Verified

[2022-03-09 08:05] #1075 closed, assigned to sunilspr7

[2022-03-09 08:13] rupalichavan9860 commented on #1055
Verified on production

[2022-03-09 08:13] #1055 closed, assigned to karun0607gautam

[2022-03-09 09:13] rupalichavan9860 commented on #1153
Verified

[2022-03-09 09:14] rupalichavan9860 commented on #961
verified

[2022-03-09 09:14] #961 closed, assigned to karun0607gautam

[2022-03-09 09:23] rupalichavan9860 commented on #1209
Verified

[2022-03-09 09:23] #1209 closed, assigned to ahmed130544

[2022-03-09 09:26] saniatg commented on #1102
@rupalichavan9860 working on Production. Please confirm.

[2022-03-09 10:18] rupalichavan9860 commented on #1102
Verified

[2022-03-09 10:18] #1102 closed, assigned to ahmed130544

[2022-03-09 10:29] saniatg commented on #1085
@rupalichavan9860 Verified and working fine on production.

[2022-03-09 10:31] rupalichavan9860 commented on #951
Verified on production

[2022-03-09 10:31] #951 closed, assigned to kshitij1326

[2022-03-09 10:43] rupalichavan9860 commented on #1138
Verified on production

[2022-03-09 10:43] #1138 closed, assigned to nalwa, sunilspr7

[2022-03-09 10:43] rupalichavan9860 commented on #1085
Verified

[2022-03-09 10:43] #1085 closed, assigned to nalwa

[2022-03-09 10:52] rupalichavan9860 commented on #1081
Verified

[2022-03-09 10:52] #1081 closed, assigned to sunilspr7

[2022-03-09 10:55] #1136 closed, assigned to ashish76

[2022-03-10 04:51] saniatg opened #1224 "Getting a pop up with message " error occurred" on click 'View this version' button"
Steps:

1. User A Created a topic and a camp 'camp1'
2. User A Supported Camp1
3. Login with User B and support Camp1
4. Now User B will try to add statement
5. Do not click 'commit' button instead
6. Click on view this version, now come back again click on "manage/edit statement"
7. Now click commit button and click "view this version"

On click 'View this version' you will get a pop up for a sec

[2022-03-10 08:42] rupalichavan9860 opened #1225 "Page crash on "Remove Your Support" button when user click multiple times"
Select any supported topic/camp and click on "Remove Your Support" button multiple times, getting below page crash
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/157621994-0f430f70-caef-47ab-b10f-2b37963e0e2f.png)

[2022-03-10 09:55] shivvarman opened #1226 "server-side template injection"
**Issue found in https://www.canonizer.com/topic/46-Abortion-Rights/1-Agreement?currentTime=**

1. (server-side template injection) - Due to this, attacker can use server-side template injection as the basis for numerous other attacks, potentially gaining read access to sensitive data and arbitrary files on the server.

The best way to prevent server-side template injection is to not allow any use

[2022-03-10 11:21] saniatg opened #1227 "Incorrect namespace is showing when user is logged out and then logged in"
Steps:

1. Login and navigate to Browse page.
2. Select any namespace from the dropdown. e.g user selects 2nd namespace as 'corporations URL is https://staging.canonizer.com/browse?namespace=2 which is correct
3. Now copy the URL and log out
4. Paste the URL in a new tab , the list will be seen correct
5. Click on Login link and log in the application
6. Now observe the URL, namespace selected and

[2022-03-10 11:57] sonalizibtek commented on #1204
1.We need to disable the button "Directly join and support" with tooltip "History cannot be modified. In order to modify your current support select the default option in the as-of box."
2. Tooltip background should be in black color

Please confirm @rupalichavan9860

[2022-03-10 12:05] rupalichavan9860 commented on #1204
@kshitij1326 I can see tooltip and button is no clickable but not disabled. Can you please check

[2022-03-10 12:11] saniatg commented on #1203
@rupalichavan9860 Working fine. Please confirm

[2022-03-10 12:43] saniatg opened #1229 "Crash when removing delegated support"
Steps:

1. User A creates a topic and a  camp 'camp 1 'and supports camp1
2. User B delegates support to User A for camp 1
3. Now User A creates camp 2 and supports it, and then create camp 3 and support it too
4. Login as User B and remove support from Camp 1 on click 'Remove support ' button it will crash

Actual Result: On click " Remove your support"  user B gets crash
Expected Result:  Suppor

[2022-03-10 12:57] rupalichavan9860 opened #1230 "Incorrect choice number and score is displaying and all supported camps are not listing under delegated supporter's lists"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with User A and create new topic
3. Create New camp "Camp 1" and support "Camp 1"
4. Login with User B and delegate support to User A in "Camp 1"
5. Login with User A and Create "Camp 2" and support "Camp 2"
Note :  Observe score of "Camp 1" after supporting "Camp 2". Please refer below screenshot

![image](https://user-images.g

[2022-03-10 13:12] saniatg commented on #1076
@rupalichavan9860 Tested and is working fine. Please confirm

[2022-03-10 14:02] sonalizibtek commented on #1211
Tested and Verified. Its working fine @rupalichavan9860 Please confirm

[2022-03-10 16:18] rupalichavan9860 commented on #1211
Verified

[2022-03-10 16:27] rupalichavan9860 commented on #1203
Verified

[2022-03-10 16:31] sonalizibtek opened #1232 "In Manage Edit Topic name /camp without updating any details just click on submit update button ,its going to review state."
**Case:**
1.create a topic and camp User A
2.Login with User B ,Click on agreement camp
3.click on manage edit this camp
4.click on submit camp update based on this
5.and it will redirect to edit camp page , there don't update anything and click on submit update

**Actual Result :**
1. Without entering details , in camp history page it is showing in review history and commit button  (user B)
2.In

[2022-03-10 16:39] rupalichavan9860 commented on #1076
Verified

[2022-03-11 05:57] rupalichavan9860 commented on #1101
@kshitij1326 I have subscribed the entire topic but Topic/camp name is missing in email in section "You are receiving this e-mail because:"
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/157810892-954e4d68-2828-43c6-8390-d3b47a039131.png)

[2022-03-11 06:02] saniatg commented on #1110
@rupalichavan9860 Verified and is working fine. Please confirm

[2022-03-11 07:18] rupalichavan9860 commented on #1110
@saniatg @sunilspr7 Support remains added for both "Camp 1" and "Camp 2" also even if "Camp 2" is parent of "Camp 1"

[2022-03-11 12:36] rupalichavan9860 commented on #1220
Getting this issue when selected algorithms "One Person One Vote" and "Mind Experts", working fine for other algorithms

[2022-03-14 13:32] saniatg opened #1235 "Mobile- Drag and drop is not working for supported camp list"
Precondition: Supported camps list for topic "topic_name" must be more than 1

When trying to change order of the supported camps in the list , drag and drop does not work.
![Skype_Picture_2022_03_14T13_21_30_086Z](https://user-images.githubusercontent.com/91254708/158182238-8f89ed21-7880-4072-b882-ccfaeb87f25c.jpeg)

[2022-03-15 09:36] rupalichavan9860 commented on #1092
Working fine on staging

[2022-03-15 09:47] rupalichavan9860 commented on #1204
Tested and verified

[2022-03-15 10:09] rupalichavan9860 commented on #1201
Tested and verified.

[2022-03-21 07:19] saniatg opened #1239 "'To' in the create /post thread is seen empty when Email ID is set to private"
Steps:

1. In the account profile settings, set email ID as 'Private'
2. Create a new Topic
3. Click on button 'Add forum' and create a thread

Actual Result: 'To'  in the email is seen empty
Expected Result: 'To'  in the email  must not be  empty irrespective of email Id been set as 'Private' or 'Public'
![Screenshot 2022-03-21 at 12 47 55 PM](https://user-images.githubusercontent.com/91254708/15

[2022-03-21 07:26] saniatg opened #1240 "When set 'As of' filter to future, 'Manage Support' button is see disabled"
Steps:

1. Create a topic
2. In the 'As if ' date filter choose any date that is of future.

Actual result: Remove your support button is seen enabled, which is correct but "Manage Support' button is seen disabled.
Expected result:  "Manage Support' button must also be enabled as the date selected is of future, only in case of past dates history cannot be modified.
![Screenshot 2022-03-21 at 12 20

[2022-03-22 11:30] rupalichavan9860 opened #1246 "Incorrect Total Support score displaying for topic"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with User A
3. Create new topic and create 3 camps
4. Support all 3 camps
5. Login with User B and delegate support to User A in any camp
6. Again Login with User A and support "Agreement" camp
7. Again support all 3 camps
8. Now go to any camp - Manage support
9. Click on "Remove All"
10. Click on "Submit"
11. Observe total sco

[2022-03-22 12:54] sunnyjindal commented on #1240
@kshitij1326 instead of disabling and enabling the buttons, we need to disable the selection of future date.

[2022-03-23 08:00] saniatg commented on #1225
@sunilspr7 Still getting crash.Not fixed.
![Screenshot 2022-03-23 at 1 32 04 PM](https://user-images.githubusercontent.com/91254708/159651033-a0e7bbfb-9974-4adf-8724-396b831b5c3d.png)

[2022-03-23 08:30] saniatg commented on #1229
@rupalichavan9860 This is fixed. Please confirm.

[2022-03-23 09:36] saniatg commented on #1179
@rupalichavan9860 Working fine. Please confirm.

[2022-03-23 09:48] saniatg opened #1247 "Getting error "Your performed action is complete, but We have issue sending you an email" when changing support to agreement camp for a specific topic"
Steps:

1. Navigate to topic-> https://staging.canonizer.com/topic/690-1110-updated89/1-Agreement
2. Directly Support all 3 camps
3. Now try supporting agreement camp
4. User will get a warning->Warning! "Agreement" is a parent camp to this list of child camps. If you commit support to "Agreement", the support of the camps in this list will be removed.
5. Now click on' Submit ' button

Actual resu

[2022-03-23 10:09] akuks commented on #1247
Is mailtrap is working?

On Wed, Mar 23, 2022 at 3:19 PM saniatg ***@***.***> wrote:

--
Thanks & Regards,
Ashutosh

[2022-03-23 10:39] rupalichavan9860 commented on #1210
Again facing same issue

![image](https://user-images.githubusercontent.com/40416610/159681081-ef265644-8332-4374-a2ff-3806430e0854.png)

[2022-03-23 10:43] rupalichavan9860 commented on #1179
Verified

[2022-03-23 10:58] saniatg commented on #1202
@rupalichavan9860 Working fine now. Please confirm

[2022-03-23 11:11] rupalichavan9860 commented on #1110
@sunilspr7 Tested. Now delegated supporter becoming direct supporter after changing parent

[2022-03-23 11:17] rupalichavan9860 commented on #1229
Verified

[2022-03-23 11:22] rupalichavan9860 commented on #1105
Tested and verified. Working fine now

[2022-03-23 11:32] rupalichavan9860 commented on #1202
Verified

[2022-03-23 11:34] rupalichavan9860 commented on #1220
Tested and verified

[2022-03-23 12:37] saniatg commented on #1225
@rupalichavan9860 Working fine now. Please confirm

[2022-03-23 12:54] rupalichavan9860 commented on #1225
Verified

[2022-03-23 13:00] rupalichavan9860 commented on #1119
Tested and verified

[2022-03-23 13:06] saniatg commented on #1131
@rupalichavan9860 Working fine. Please confirm

[2022-03-23 13:14] rupalichavan9860 commented on #1110
Tested and verified

[2022-03-23 13:14] rupalichavan9860 commented on #1131
Verified

[2022-03-24 05:22] sonalizibtek commented on #1227
Tested and verified. Please confirm @rupalichavan9860

[2022-03-24 05:31] rupalichavan9860 commented on #1227
Verified

[2022-03-24 05:55] saniatg commented on #1101
@kshitij1326 issues in the following cases:
Case1: When userA is a supporter of camp1 and has subscribed to the entire topic and UserB submits change in camp1 text "You are subscribed to the entire topic" is missing in the mail received to UserA
- **Fixed**

![Screenshot 2022-03-24 at 11 21 34 AM](https://user-images.githubusercontent.com/91254708/159851233-23d90d05-f9c2-4ce8-82a3-4c9ddcf7308c.png

[2022-03-24 06:00] sonalizibtek commented on #1101
case 1 : User A created topic and clicked on entire topic subscribe
- logout and login , in browse open the topic which you had subscribed
Actual result : The entire topic subscribe check box is shown unchecked
Expected : It should show checked

[2022-03-24 06:07] sonalizibtek commented on #1101
Case 1: User B clicked on manage edit topic  which user A created and  user A subscribed entire topic  and edited the topic and committed the changes
Actual Result :  user A dint receive subscribe email
-Expected : user A should receive subscribe email because he had subscribed  entire topic  - **Fixed**

Case 2: Both user A and User B subscribe to the same topic
Expected :both User A and User B s

[2022-03-24 07:29] sonalizibtek opened #1252 "Operating system Compatibility issue - "support@canonizer.com " link in footer is not working in Ubuntu system ."
**Steps to Produce:**
1. In ubuntu system , click on any page , check the footer and click support@canonizer.com link .
**Actual Result:** Please view this attached video link below
https://www.loom.com/share/88e07999b3c640bf84631065224a2cc8
Expected Result: it should show an popup
![Screenshot (225)](https://user-images.githubusercontent.com/99309948/159864616-ebc9d85b-cdcb-4542-8e7d-ad9e32cc96cb

[2022-03-24 07:39] rupalichavan9860 commented on #904
Tested and verified

[2022-03-24 08:04] ahmed130544 commented on #1140
Unable to reproduce the issue, working fine, @saniatg  please close this ticket.

[2022-03-24 09:23] rupalichavan9860 opened #1253 ""Remove Your Support" and "Delegate Your Support" buttons are grayed out even if selected filter is "default""
Some times "Remove Your Support" and "Delegate Your Support" buttons are grayed out even if selected filter is "default"
There is no specific scenario for this. Sometimes we are getting this issue after creating new camp or updating camp/statement

![image](https://user-images.githubusercontent.com/40416610/159884203-d96270a0-3f49-4b96-935b-dbe67d4a97d5.png)

[2022-03-24 09:27] saniatg opened #1254 "Greyed out buttons must not be clickable"
Steps:

1. Create a new topic
2. Select as of date filter
3. Click on link "This topic was first created on.."
4. Click in the button"remove your support" which is in grey color
Actual Result:  On click the button, the tooltip disappears
Expected Result: The button must not be clickable as it is greyed out.
![Screenshot 2022-03-24 at 2 46 27 PM](https://user-images.githubusercontent.com/91254708/1

[2022-03-24 12:42] shivvarman opened #1255 "API parameter encryption - Canonizer.2.0"
Issue found in https://canonizer.com/login

1. API parameters or not encrypted, so if anyone inspects the login parameters they are able to view parameters like username and password. So an attacker can perform a man in  the middle attack by hiding inspect page or using other tools, so we need to encrypt our data from frontend to backend

[2022-03-25 04:58] rupalichavan9860 commented on #1210
@ahmed130544 Still this is not working for some topics when selecting "One Person One Vote" and "Mind Experts" and selected filter as "include review"

![image](https://user-images.githubusercontent.com/40416610/160057162-301c6841-2af8-44cf-9b50-5a166ab2d057.png)

please refer same topic when selected different algorithm than  "One Person One Vote" and "Mind Experts" and selected filter as "includ

[2022-03-25 05:00] rupalichavan9860 commented on #1210
Even tree is missing when selected filter as "default" for "One Person One Vote" and "Mind Experts" algorithm

![image](https://user-images.githubusercontent.com/40416610/160057536-1a771f12-5a1c-4b85-9bff-b0716396f21f.png)

[2022-03-25 08:06] rupalichavan9860 commented on #1210
Tested and verified

[2022-03-25 09:01] rupalichavan9860 opened #1258 "Incorrect supported camp lists displaying and also page crash on "Remove Your Support" button"
Steps to reproduce :

Steps to reproduce :
1. Create topic with "User A" , create 3 camps and support all
2. Login with "User B" and delegate support to "User A"
3. Login with "User C" and delegate support to "User B"
4. Login with "User B" and create and directly support 4th camp
6. Observe supported camp list of "User C"

Expected Result :
User C is now delegated supporter of User B in 4th camp

[2022-03-25 09:03] rupalichavan9860 commented on #1258
Also getting crash when User C click on "Remove Your Support" from 4th camp

![image](https://user-images.githubusercontent.com/40416610/160089629-37f50274-fe55-4992-9a2b-76197c7b098d.png)

[2022-03-28 02:32] akuks commented on #806
It's done

[2022-03-28 02:32] #806 closed, assigned to akuks

[2022-03-28 10:12] rupalichavan9860 commented on #1130
Use "nick name 1" and support camps and again remove support.
Even if user used another nick name "nick name 2" for other contribution(Create camp using "nick name 2") , user can see only previously selected nick name "nick name 1" for supporting camps  .
It should only allow "nick name 2"

[2022-03-30 05:51] saniatg commented on #674
@rupalichavan9860 working fine now. Please confirm

[2022-03-30 06:12] sonalizibtek commented on #1240
Tested and Verified , working fine. @rupalichavan9860 Please confirm once.

[2022-03-30 06:32] rupalichavan9860 commented on #674
Verified

[2022-03-30 06:36] rupalichavan9860 commented on #1240
Verified

[2022-03-30 06:38] saniatg commented on #1089
@rupalichavan9860 Tested and is working fine.

[2022-03-30 06:59] saniatg commented on #1258
@rupalichavan9860 Tested and is working fine.

[2022-03-30 08:52] rupalichavan9860 commented on #1089
Verified

[2022-03-30 08:52] rupalichavan9860 commented on #1258
Verified

[2022-03-30 09:01] sonalizibtek commented on #1101
Caes1 : user A created topic and subscribed entire topic subscribe option
-User B created camp under the user A created topic
-Actual Result: user A dint receive subscribe email
-Expected : user A should receive subscribe email - **Not Fixed**

Case 2: User B created camp under user A subscribed entire topic and clicked on manage edit camp and edited the camp by changing the parent camp and submit

[2022-03-30 10:16] rupalichavan9860 commented on #1135
@sunilspr7 Still user is able to delegate their support to their delegated users
![image](https://user-images.githubusercontent.com/40416610/160808817-53b3dde8-ce41-40cf-9be3-5ab715c3bac1.png)

[2022-03-30 10:31] saniatg commented on #1108
@rupalichavan9860 Tested and is working fine.

[2022-03-30 10:48] saniatg commented on #1230
@rupalichavan9860 Tested and is working fine. Please confirm

[2022-03-30 11:25] rupalichavan9860 opened #1262 "Supports remains added for both parent and child camps"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic and create 3 camps "Camp 1" ,"Camp 2" and "Camp 3"
4. Support all 3 camps by "User A"
5. Log out and login with another user "User B" and delegate support to "User A" in any camp
6. Again login with user "User A" and change parent camp of "Camp 1" to "Camp 2" from "Agreement"
8.

[2022-03-30 11:26] rupalichavan9860 commented on #1108
Verified

[2022-03-30 11:26] rupalichavan9860 commented on #1230
Verified

[2022-03-30 11:47] rupalichavan9860 commented on #1101
@kshitij1326 also incorrect nick name is displaying in proposed changed to topic email .
In below case "R-C" is direct supporter of "camp 1" and subscribe to entire topic , "RC12345" proposed  changed to topic
Please refer below screenshots

![image](https://user-images.githubusercontent.com/40416610/160827085-2d598b9e-c22b-46c9-b950-f7cd144070db.png)

![image](https://user-images.githubuserconten

[2022-03-30 14:53] sonalizibtek opened #1263 "In Canonizer.com - Nick Name detail page is not found"
Steps to produce:
1. Login with credential
2. In canonizer.com - live
In search bar enter sonali_zibtek ( web search) - this is nick name
3. In search result , click on the below link
<img width="960" alt="Screenshot (252)" src="https://user-images.githubusercontent.com/99309948/160864162-24bf01ab-c928-4e5b-b7e1-ade845964800.png">

https://3.130.10.16/user/supports/604?topicnum=611&campnum=1&names

[2022-03-31 05:48] rupalichavan9860 commented on #1101
As discussed in meeting entire topic subscriber should receive all notifications

[2022-03-31 06:42] sonalizibtek commented on #1219
**Case 1:**
Submit change to topic/camp/camp statement - It will be in live" and click on "View This Version"

-  Created a topic  with name [ Test Reg 31]
-Click on Manage/Edit this topic , then edited the topic name into [ Test 31 Reg ]
- then click on view version ,
**Actual Result** : In Topic Page , filter is in as of date  - this new topic name is showing [ Test 31 Reg  ] and newly edited  s

[2022-03-31 07:02] sonalizibtek commented on #1219
**CASE 2:** Submit change to topic/camp name - it will be in "in review" and click on "View This Version"
**Observe page -
**Expected Result** : It should display old  record when filter is in as of date
**Actual Result** : It is displaying data which  is in review for "as of date filter"
<img width="960" alt="Screenshot (262)" src="https://user-images.githubusercontent.com/99309948/160996692-e68a

[2022-03-31 07:46] rupalichavan9860 commented on #1262
Please refer one more scenario :
User A login only
1. Create new topic and create 4 camps "Camp 1" ,"Camp 2" , "Camp 3" and "Camp 4"
2. Support all 4 camps
3. Change parent camp of  "Camp 2" to "Camp 1" from agreement
4. Change parent camp of  "Camp 4" to "Camp 3" from agreement
5. Change parent camp of  "Camp 3" to "Camp 2" from agreement

Expected Result :
Support should get added to only one ca

[2022-03-31 08:07] sonalizibtek commented on #1219
**CASE 3:**  Submit change to Manage/Edit this  statement  for Agreement camp  - it will be in "in review" and click on object , then click on  "View This Version"
Observe page -
**Expected Result** : It should display selected record changes(On selecting “ View This Version “, the user should navigate to the “Agreement Camp” page and should able to see specific contents of that selected record on

[2022-03-31 08:10] saniatg opened #1264 ""I agree with this camp change" check box is not seen to the direct supporter in a specific scenario"
Steps:

1. Login with User A and create new topic
2. Create New camp s"Camp 1, camp2, camp3" and support "all  camps"
3. Login with User B try to submit camp change by changing parent of camp3 to camp2
4. Commit changes and it will be in review .
5.  Login with UserA, navigate to camp3 . "I agree with this camp change" checkbox will be seen for the proposed change.
6. Now click on view this versio

[2022-03-31 08:29] saniatg opened #1266 "Page stops loading and white screen is seen on click button 'View this version' for a proposed change"
Steps:

1. Login with User A and create a new topic
2. Create New camps "Camp 1 &camp2 " and support both camps
3. Login with User B try to submit camp change by changing parent of camp1 to camp2 from 'Manage /edit this camp'
4 Commit changes and it will be in review .
5. Again commit camp change on click  button" Submit camp update based on this " This time do it reverse by changing parent of cam

[2022-03-31 14:49] shivvarman opened #1267 "Default Configuration"
Issue found on IP: 3.139.238.154

1. Need to remove the default configuration from the server IP: 3.139.238.154

[2022-04-01 08:12] rupalichavan9860 opened #1268 "drag & drop the camp box on your choice position is only changing choice numbers, but score is not getting changed"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Account Settings ->Supported Camps
4. drag and drop camps
5. Observe score

Expected Result :
Score should get changed according to choice number

Actual Result :
Only choice numbers are getting changed
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/404

[2022-04-01 11:08] rupalichavan9860 commented on #1221
Working fine so closing this issue

[2022-04-01 11:08] #1221 closed, assigned to nobody

[2022-04-01 13:53] rupalichavan9860 commented on #942
@akuks Tested and this is fixed on thread post page but still I can see all nick names in drop down for other contributions

[2022-04-04 06:46] rupalichavan9860 opened #1272 "Displaying old topic names under Canonizer Sorted Camp Tree for some specific topics"
Please refer below topics and screenshots :
https://staging.canonizer.com/topic/37-Canonizer-Services/1-Agreement

![image](https://user-images.githubusercontent.com/40416610/161487920-c813bde4-dafa-4879-beb6-aa51aad7955e.png)

https://staging.canonizer.com/topic/6-Canonizer-Jobs/1-Agreement

![image](https://user-images.githubusercontent.com/40416610/161488016-86eb2b23-2aaf-4b6f-bdec-073af9d8daa9

[2022-04-04 22:37] BrentAllsop opened #1275 "Creating new camp doesn't refresh original topic page."
Go to any camp on any topic.
create a new camp.
Complete the creation of a new camp.

Once completed, you are sent to the new camp page.
However, the tree is not updated, so you can't see the new camp in the tree, until you refresh the page.

This also happens when you do things like add support for a camp.
You are returned to the camp, but the tree is not updated to include the new support you ju

[2022-04-06 05:19] saniatg commented on #1163
@sunilspr7 issue not fixed.
![Screenshot 2022-04-06 at 10 44 06 AM](https://user-images.githubusercontent.com/91254708/161900738-8893c25b-2778-4226-9fdf-ff35c26de12e.png)

[2022-04-06 05:40] saideekshith8 opened #1277 "Spaces should be trimmed after creating Topic / ManageEdit Topic name and when the topic name is saved"
**Steps To produce:**
1. Create a Topic Name with more then one spaces
2. And click on create topic button
3. Click on ManageEdit/this topic
**Actual Result :**
<img width="960" alt="Screenshot (300)" src="https://user-images.githubusercontent.com/102719279/161903269-6e751d32-f1e9-4106-9e25-9344ee9f5ade.png">
**Expected Result :** The spaces should be trimmed while saving  Topic name

[2022-04-06 06:22] saideekshith8 commented on #1272
Tested and Verified . @rupalichavan9860 Please confirm once

[2022-04-06 06:23] sonalizibtek commented on #1272
Tested and Verified. @rupalichavan9860  Please confirm once

[2022-04-06 07:49] sunilspr7 commented on #1163
@saniatg  PR did not on Deployed  on Staging
@karun0607gautam please deployed this PR  in staging

[2022-04-06 07:55] saniatg commented on #1140
@ahmed130544 this issue is not coming now as the buttons are greyed out . @rupalichavan9860 Can you confirm and close this issue.

[2022-04-07 06:16] rupalichavan9860 commented on #1220
Tested and verified

[2022-04-07 06:17] rupalichavan9860 commented on #1272
Verified

[2022-04-07 07:22] saniatg commented on #1130
@kshitij1326  Not fixed in the case mentioned below:
Steps:

1. User A creates a topic
2. User B navigates to the same topic and click on"Directly Join And Support"
3. All nick names will be visible which is correct
4. Now choose any 1 nick name and submit
5. Remove the support
6. Create a new camp as UserB, all nick names will be seen which is correct, choose 1 and create camp
7. Now click on top

[2022-04-07 11:53] rupalichavan9860 commented on #1146
@ahmed130544 Tested but issue is not fixed yet

[2022-04-07 12:15] rupalichavan9860 commented on #1210
@ahmed130544 Again facing same so reopening this issue

[2022-04-07 12:45] rupalichavan9860 commented on #1210
Tested and verified. Working fine now

[2022-04-08 05:49] ahmed130544 commented on #1146
@rupalichavan9860 Yes, code gets reverted by reviewer.

[2022-04-08 05:55] rupalichavan9860 commented on #1121
Tested and Verified. Working fine on both staging and live

[2022-04-08 10:26] rupalichavan9860 commented on #1101
@kshitij1326 Getting incorrect content "You are subscribed to `topic name` " for user in below scenario

Scenario :
User A is supporter of "Agreement" camp and subscribed to entire topic
User B is supporter of "camp 1"
User C created thread and post for "Agreement" camp
Actual Result :
User B is getting incorrect content "You are subscribed to `topic name` " even if User B is only supporter in "ca

[2022-04-11 08:10] rupalichavan9860 commented on #1140
Verified

[2022-04-11 08:10] #1140 closed, assigned to ahmed130544

[2022-04-11 08:16] rupalichavan9860 commented on #1146
Tested and verified

[2022-04-11 09:44] #1159 closed, assigned to ahmed130544

[2022-04-12 05:46] saniatg opened #1279 "Incomplete text message when Subscribe and unsubscribe after use session expires"
Navigate to any topic
Click on the check boxes "Subscribe to entire topic "or "Subscribe".
Complete message is seen" You have successfully subscribed.
![Screenshot 2022-04-11 at 5 09 08 PM](https://user-images.githubusercontent.com/91254708/162889112-522c5566-0f8a-4993-a9a6-9ad04bc9977a.png)

Now leave the page idle and d not perform any action for few hours. After sometime when the session expire

[2022-04-13 08:27] rupalichavan9860 commented on #1077
@karun0607gautam Tested . Still it is not working . Please refer below scenarios and screenshots

I have created two camps under Mind Experts , "Rupali C" and "Rupali cano" and both users supporting both camps.

Screenshot of "Rupali C" camp when selected "One Person One Vote " algorithm :
Score of user "Rupali C" is 0.5 ---Correct
Score of user "Rupali cano" is 0.25 ---Correct
Total Score is 0.75

[2022-04-14 05:58] rupalichavan9860 commented on #726
This is working fine so closing this

[2022-04-14 05:58] #726 closed, assigned to nobody

[2022-04-14 05:59] #728 closed, assigned to nobody

[2022-04-14 05:59] #727 closed, assigned to nobody

[2022-04-14 06:03] #1155 closed, assigned to karun0607gautam

[2022-04-14 10:30] rupalichavan9860 commented on #675
This is working fine now so closing this

[2022-04-14 10:30] #675 closed, assigned to gautamv16

[2022-04-14 10:37] rupalichavan9860 commented on #1054
Working fine on both staging and live so closing this

[2022-04-14 10:37] #1054 closed, assigned to nobody

[2022-04-14 10:39] #1092 closed, assigned to ahmed130544

[2022-04-14 10:54] #1210 closed, assigned to ahmed130544

[2022-04-14 11:06] rupalichavan9860 commented on #1275
@BrentAllsop Can you please check this again? Earlier there was mongo DB issue which is resolved now and this scenario is working fine as of now

[2022-04-14 11:27] rupalichavan9860 commented on #1130
@kshitij1326 last commented issue is still exists .Can you please check again

[2022-04-14 11:32] rupalichavan9860 commented on #1145
@ahmed130544 tested. not fixed yet .Please refer below screenshot
![image](https://user-images.githubusercontent.com/40416610/163382544-bc5fd0af-8b13-4e2f-ac9a-1ca780b761ea.png)

[2022-04-14 11:48] sunnyjindal commented on #1130
Kshitij, could you please discuss this in detail with Rupali and sort out the issue?On Thu, Apr 14, 2022 at 4:58pm, Rupali Chavan ***@***.***> ***@***.*** last commented issue is still exists .Can you please check again—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>[
{
***@***.***": "schema.o

[2022-04-14 12:15] rupalichavan9860 commented on #1145
@ahmed130544 Tested. Newly created camp is not listing and support is not getting added

![image](https://user-images.githubusercontent.com/40416610/163388494-390c56a1-fe92-41fe-8cfd-bde4a6d4d469.png)

[2022-04-14 12:17] rupalichavan9860 commented on #1145
@ahmed130544 User is able to support only one camp for fresh topic . Please check this

![image](https://user-images.githubusercontent.com/40416610/163389005-0f3b1a5d-48d0-41d1-9291-1e2d781aacb1.png)

[2022-04-14 12:21] rupalichavan9860 commented on #1275
@BrentAllsop  I checked this on live and yes this is exists on live but working fine on staging. May be this will get fixed with 30th release

[2022-04-14 12:37] saniatg commented on #1111
@rupalichavan9860 Working fine now. Please confirm

[2022-04-14 12:43] rupalichavan9860 commented on #1111
Verified

[2022-04-14 12:46] rupalichavan9860 commented on #1130
Tested and verified

[2022-04-17 18:51] BrentAllsop opened #1286 "Create a "Sandy City" Canonizer Algorithm"
Create a sandy city canonizer algorithm that looks at the person's City field in their address.  If it is Sandy City they get one vote.

Make the comparison as open as possible, case insensitive, and any city value close to Sandy gets 1 vote.

[2022-04-17 21:18] BrentAllsop opened #1287 "Add options to camp records to prevent sub camps."
Add two independent checkbox options to the camp record edit form (display these values on the camp record):
Disable additional sub camps.    (mouse over msg: Disable the ability to add additional sub camps.)
Single level sub camps only.      (mouse over msg: "Disable the ability to add additional sub camps beyond direct sub camps."

This will also prevent changing a camp's parent to a camp that v

[2022-04-18 02:59] rupalichavan9860 opened #1288 "Default nick name is not getting created when user logged in using social logins"
When user sign up/login using social logins , system should create default nick name like normal registration does

[2022-04-18 04:35] sonalizibtek commented on #1101
@kshitij1326  case 1:
User  A and User C - subscriber of same topic
User B created a new camp - both User A and User C received an subscribed  email
User C will unsubscribe
Then User B created a camp , - User C is receiving the subscribed email
**Expected** : User C should not receive the email , only User A should receive email

[2022-04-18 07:08] rupalichavan9860 commented on #942
@ahmed130544 As per discussed, please refer below places where we need to implement this
1. Create New Camp
2. Add Camp Statement
3. Create a new thread
4. Add Direct/Delegate Support
5. Topic Update
6. Camp Update
7. Statement Update

[2022-04-18 09:46] sonalizibtek opened #1291 "Issues in Subscribe to the Camp functionality"
**case** 1: User should not receive notification once he is unsubscribed
User  A and User C - subscriber of  camp1
User B added a support for camp1 - both User A and User C received an subscribed  email
User C will unsubscribe
Then User B delegated the support , - User C is receiving the subscribed email
**Expected** : User C should not receive the email , only User A should receive email  - **Wor

[2022-04-18 11:38] rupalichavan9860 commented on #1145
@ahmed130544 Tested and verified

[2022-04-18 12:01] rupalichavan9860 commented on #942
@ahmed130544 Tested and verified

[2022-04-18 12:16] rupalichavan9860 commented on #1168
@ahmed130544 Tested and verified

[2022-04-18 12:20] sonalizibtek commented on #1101
@kshitij1326
**Steps**
1. created topic , checked the entire topic subscribe option ,
2. then unchecked it.
3. clicked on start new supporting camp here
4. again in that page clicked on agreement camp

**Actual Result:** Entire Topic subscribe check box is  shown checked
**Expected** : If the User Unsubscribes the Entire Topic , then it should not show subscribed [ tick mark ]. The subscribed tick

[2022-04-19 06:45] sonalizibtek commented on #999
Tested and verified. @rupalichavan9860  confirm once

[2022-04-19 06:47] rupalichavan9860 commented on #999
Verified

[2022-04-19 06:49] sonalizibtek commented on #1163
Tested and Verified. @rupalichavan9860 Please confirm once

[2022-04-19 06:54] sonalizibtek commented on #1277
Tested and Verified. @rupalichavan9860 Please confirm once

[2022-04-19 06:57] rupalichavan9860 commented on #1163
Verified

[2022-04-19 06:58] rupalichavan9860 commented on #1277
Verified

[2022-04-19 06:59] rupalichavan9860 commented on #1262
Tested and verified

[2022-04-19 07:04] rupalichavan9860 opened #1294 "Direct user is unable to delegate their support to another immediate direct supporters(downwards)"
Please refer attached screenshot :

![image](https://user-images.githubusercontent.com/40416610/163945142-9e6da153-276e-41aa-b242-b2793ab1af31.png)

![image](https://user-images.githubusercontent.com/40416610/163945234-8f32d938-4d7b-4477-8d5a-635397abc060.png)

[2022-04-19 07:09] sonalizibtek commented on #1246
Tested and Verified. @rupalichavan9860 Please confirm Once

[2022-04-19 07:35] rupalichavan9860 opened #1295 "Delegated support is getting removed and displaying incorrect score"
Steps to reproduce :

1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic By User A
4. User A is supporter of Agreement camp
5. Login with User B and delegate support to User A in Agreement camp
6. Login with User C and delegate support to User B in Agreement camp
7. Login with User D and support Agreement camp directly
8. Login with User E and suppor

[2022-04-19 08:22] rupalichavan9860 commented on #1246
Verified

[2022-04-19 08:25] rupalichavan9860 commented on #1135
Tested and verified

[2022-04-19 09:07] sonalizibtek commented on #1191
Tested and Verified. @rupalichavan9860 Please verify Once

[2022-04-19 10:22] rupalichavan9860 commented on #1191
Verified

[2022-04-19 11:02] rupalichavan9860 commented on #1295
Scenario 2 :
1. Login with User A and create new topic
2. Create new camp and support
3. Login with User B and delegate to User A
4. Login with User C and delegate to User B
5. Login with User D and delegate to User C
6. Login with User A and create another camp and support camp
7. Now try to support "Agreement" camp

It is displaying "Agreement" camp twice like below
![image](https://user-images.

[2022-04-19 17:39] akuks opened #1297 "Setting Up AWS SeS"
At present, we are sending our emails via sendgrid but sometimes canonizer accounts are suspended due to the compromised API keys. Customers stop receiving emails from our system. To prevent this, we need a failover system so that our system still send emails in case one of our accounts is suspended.

[2022-04-20 04:19] sunnyjindal commented on #1297
@akuks we have this service as an option too: https://www.sendinblue.com/. We use this for one of our different projects.

[2022-04-20 04:25] akuks commented on #1297
Yeah, yesternight we implemented it. We need AWS SES also as a backup as we
already have EC2 instance deployed so 60K mails/month are available in free
tier. We are thinking of getting rid of SendGrid.

We are thinking of using sendinblue and AWS on a failover basis.

On Wed, Apr 20, 2022 at 9:50 AM Sunny Jindal ***@***.***>
wrote:

--
Thanks & Regards,
Ashutosh

[2022-04-20 05:23] rupalichavan9860 opened #1298 "Topic name is displaying instead of camp name in Proposed change to topic email"
When user A directly supporting Agreement camp and also subscribed to entire topic and another user(User B) proposed change to topic, User A is receiving email, but in listing it is displaying "You are directly supporting `Link to topic name`" instead of "You are directly supporting `Link to Agreement camp `"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/4041

[2022-04-20 05:34] rupalichavan9860 opened #1299 "Blank camp name is displaying in removed delegated support email"
Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/164157461-684b40a0-740b-4d68-80a2-606075f6614f.png)

[2022-04-20 06:40] kshitij1326 commented on #1118
@anilPodi @rupalichavan9860  @gautamv16 @karun0607gautam @akuks @sunnyjindal @rohit-talentelgia @cd-ali-ehsan  As per wiki markup * denotes unordered list and also other special characters have their own meaning, so i think we should not have to validate based on special character since we are supporting wiki markup. Here we can do one thing if the statement is not having any alphabet we can throw

[2022-04-20 10:40] rupalichavan9860 opened #1300 "Button name is displaying as "Remove Your Support 1""
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/164213554-4768e91d-b61e-4c6b-ac88-92e87275995b.png)

[2022-04-20 11:00] rupalichavan9860 opened #1301 ""Agreement" camp is displaying twice while supporting"
Scenario:
1. Create new topic by User A
2. Create 2 camps and support both
3. Try to support agreement camp

getting below on supported camps page :
![image](https://user-images.githubusercontent.com/40416610/164216580-70ccfd8b-4197-4c01-9733-c73ff41e6b1d.png)

And after supporting choice number is displaying as "2"

![image](https://user-images.githubusercontent.com/40416610/164216747-9579add7-78

[2022-04-20 12:40] rupalichavan9860 commented on #1135
@sunilspr7 Again facing same issue so reopening the issue

[2022-04-20 13:40] sonalizibtek opened #1302 "On click of supported user nick name in Total score layout , Its redirecting to supported camp list, and on clicking on camp - Page crash"
**Steps to reproduce:**
1. https://staging.canonizer.com/topic/521-20-April/1-Agreement - Please refer this  Topic Url
2. Click on Camp11
**Actual Result** : Page crash in Topic view page
![Screenshot (349)](https://user-images.githubusercontent.com/99309948/164243921-68d6d59e-ac09-423e-a2ad-4c03f4c60fae.png)
![Screenshot (350)](https://user-images.githubusercontent.com/99309948/164243956-618a9efb

[2022-04-20 14:39] rupalichavan9860 opened #1303 "Page crash on while delegating support and remove support"
Please refer attached screenshot :

![image](https://user-images.githubusercontent.com/40416610/164255287-4be7cc21-e423-440c-bdb8-929e1902b272.png)

![image](https://user-images.githubusercontent.com/40416610/164256134-da54b587-a377-4d09-a2c3-108fd746bd44.png)

[2022-04-20 14:56] rupalichavan9860 commented on #1303
Working fine now so closing this

[2022-04-20 14:56] #1303 closed, assigned to nobody

[2022-04-20 15:07] rupalichavan9860 opened #1304 "Supports getting added multiple times and getting incorrect warning while submitting support"
Create scenario like below :

![image](https://user-images.githubusercontent.com/40416610/164261110-0e3376b4-9041-49ed-b6bf-dccb6cbe16cd.png)

Login with User B i.e. "RC" in above scenario and try to support "camp 1" directly and click on submit, getting below warning,

![image](https://user-images.githubusercontent.com/40416610/164261887-f657a2f1-0e1e-4348-bdf8-0445b3a6d82d.png)

also observe sup

[2022-04-20 15:11] sonalizibtek commented on #1302
**Fixed**

[2022-04-20 15:12] #1302 closed, assigned to nobody

[2022-04-21 06:29] rupalichavan9860 commented on #1301
Tested and verified

[2022-04-21 11:04] saniatg commented on #1294
Tested and is working fine. @rupalichavan9860 Please confirm

[2022-04-21 13:38] saniatg commented on #1300
@rupalichavan9860 Verified and is working fine. Please confirm.

[2022-04-21 21:53] BrentAllsop opened #1307 "Wrong name used in e-mail about change to supported."
![image](https://user-images.githubusercontent.com/6559312/164558008-0232e228-f293-4380-933a-5632430f3398.png)
As you can see in the above screen shot, Brannock proposed a change to a topic.
However, this is the e -mail that was sent to a supporter:
![image](https://user-images.githubusercontent.com/6559312/164558099-5f8286cb-1992-498f-99af-350931f6a29b.png)
It should say "brannock" has proposed a

[2022-04-22 04:13] rupalichavan9860 commented on #1300
Verified

[2022-04-22 04:23] rupalichavan9860 commented on #1307
@BrentAllsop This is known issue and fixed on staging . It will get fix on live in 30th release. Please refer #1111

[2022-04-22 04:41] rupalichavan9860 commented on #1294
Verified

[2022-04-22 05:25] sonalizibtek opened #1308 "Page Crash on accepting the parent change camp for User B"
**Steps to Reproduce:**

1.Create new topic and create 2 camps (By User A) and support both camps
2.Login with User B and support both camps(In other browser)
Case 1 : Change Parent camp of "camp 1" to "camp 2" from "Agreement"
Case 2 : Change Parent camp of "camp 2" to "camp 1" from "Agreement"
Click on Submit and Click on Commit changes(It will be "In Review")
3. Click on view this version in ca

[2022-04-22 06:53] saniatg opened #1309 "'As of date' filter shows future date"
Steps:
User A create a topic and a camp as camp1 and supports camp1
Login with user B and propose camp change in camp 1 and click on commit
Click on 'View this version'
Actual result -> In as of date field , date is seen of future date .
Expected result -> In as of date field, future date must be disabled.
![Screenshot 2022-04-22 at 12 15 33 PM](https://user-images.githubusercontent.com/91254708/1

[2022-04-22 07:45] sonalizibtek commented on #1291
**Case 3:**
1.User A created topic and created camp1 and subscribed only camp1
2. User B added a statement to camp1
**Actual Result** : User A dint receive a subscribe email notification
**Expected** : User A should receive the email notification -**Working fine**

**Case 4:**
1.User A created topic and created camp1 and subscribed only camp1
2. User B created a sub camp for camp1
**Actual Result

[2022-04-22 09:25] rupalichavan9860 opened #1310 "Camp name is not displaying as a parent camp"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password (User A)
3. Create new topic and create 2 camps and support both camps - User A Login
4. Login with User B and support both camps
5. Login with User B and change parent camp of "camp 1" to "camp 2" from "Agreement"
6. Login with User A and object change proposed by User B
7. try to change parent of

[2022-04-22 11:50] rupalichavan9860 commented on #1179
@ahmed130544 Again facing the same .

[2022-04-22 12:16] sonalizibtek commented on #1076
Tested and Verified. @rupalichavan9860 march 4th comment , is not fixed . Please confirm once

[2022-04-22 12:23] saniatg opened #1311 "Score Count is seen wrong when changing parent camp"
Steps:

1. User A creates a topic and camps and is supporting “camp 1” and “camp 2”
2. User A changes parent of 'camp2' to 'camp1'. Score of camp 2(child ) is 1 which is correct
3. Now change parent of camp 2 to 'agreement' score of camp2 is '1' and camp1 is '0' which is correct
4. Change parent of 'camp1' to 'camp2' and observe score of camp2
This time score of camp2 becomes '0' which is wrong .

[2022-04-22 12:31] saniatg opened #1312 "Check box to 'I agree with this camp change' in camp history page is not showing in case of 2 direct supporters"
Steps:

1. User A and User B  are supporting “camp 1” and “camp 2”
2. Now login with User C and change parent of “camp 2” to “camp 1” and the change is in review
3. User B will check the check box to 'I agree with this camp change'

Actual Result: User A will not see the check box to agree the change after User B has accepted the check by ticking the check box
Expected Result: User A must also see

[2022-04-25 05:02] rupalichavan9860 commented on #1308
This is working fine now so closing this

[2022-04-25 05:02] #1308 closed, assigned to nobody

[2022-04-25 07:12] rupalichavan9860 commented on #1179
Tested and verified

[2022-04-25 07:19] saniatg opened #1314 "When select "Include Review" changes are not reflected in the tree"
Steps:

1. User A creates a topic and camp1, camp2 , supports both camps
2. User B submits change and changes parent of 'camp2' to 'camp1' from "Agreement"
3. User B commits the change and is in review
Actual result: When select " include review" filter the in review changes are not reflected in the tree
Expected result: When applied" Include review" respective changes must be seen in the tree
![S

[2022-04-25 10:56] rupalichavan9860 commented on #1101
Tested and verified. We will log related issues separately if any

[2022-04-25 11:01] saniatg opened #1315 "Mail content is seen wrong in case support is removed from agreement"
steps:

1. User A creates a topic and camp 1 , camp2. Supports agreement camp
2. Also is subscribed to agreement and 'Entire topic subscription'
3. User B submits change for topic and is in review. Mail content is seen correct
4. Now User A unchecks 'subscribe' button  and gives support to camp 1. Now support is removed from agreement and given to camp 1 .
5. User B again submits change in the top

[2022-04-26 06:39] rupalichavan9860 commented on #1211
Verified on production

[2022-04-26 06:39] #1211 closed, assigned to sunilspr7

[2022-04-26 06:42] saniatg commented on #1227
@rupalichavan9860 Verified on production. Working fine. Please confirm.

[2022-04-26 06:51] saniatg opened #1318 ""My topics" check box is not working for a specific case"
Steps:

1. Login and navigate to Browse page.
2. Select any namespace from the dropdown. e.g user selects 2nd namespace as 'corporations URL is https://staging.canonizer.com/browse?namespace=2 which is correct
3. Now copy the URL and log out
4. Paste the URL in a new BROWSER , the list will be seen correct
5. Click on Login link and log in the application
6. User will see the namespace correctly,

[2022-04-26 06:57] sonalizibtek commented on #999
Tested and Verified in Production @rupalichavan9860  Please confirm once

[2022-04-26 06:59] sonalizibtek commented on #1168
Tested and verified in Production @rupalichavan9860  Please confirm Once

[2022-04-26 07:00] rupalichavan9860 commented on #1227
verified

[2022-04-26 07:00] #1227 closed, assigned to karun0607gautam

[2022-04-26 07:00] saniatg commented on #1204
@rupalichavan9860 verified on Production. Working fine. Please confirm.

[2022-04-26 07:02] saniatg commented on #1225
Verified and is working fine on production. @rupalichavan9860 Please confirm

[2022-04-26 07:03] rupalichavan9860 commented on #1168
Verified

[2022-04-26 07:03] #1168 closed, assigned to ahmed130544

[2022-04-26 07:03] rupalichavan9860 commented on #999
Verified

[2022-04-26 07:03] #999 closed, assigned to sunilspr7

[2022-04-26 07:04] sonalizibtek commented on #1163
Tested and verified in Production. @rupalichavan9860  Please confirm Once

[2022-04-26 07:05] rupalichavan9860 commented on #1204
Verified

[2022-04-26 07:05] #1204 closed, assigned to kshitij1326

[2022-04-26 07:05] saniatg commented on #1300
Verified and is working fine  on production. @rupalichavan9860 please confirm

[2022-04-26 07:06] rupalichavan9860 commented on #1225
Verified

[2022-04-26 07:06] #1225 closed, assigned to sunilspr7

[2022-04-26 07:12] saniatg commented on #1301
Verified and is working fine on production. @rupalichavan9860 please confirm.

[2022-04-26 07:14] rupalichavan9860 commented on #1163
verified

[2022-04-26 07:14] #1163 closed, assigned to sunilspr7

[2022-04-26 07:15] rupalichavan9860 commented on #1300
verified

[2022-04-26 07:15] #1300 closed, assigned to sunilspr7

[2022-04-26 07:22] saniatg commented on #942
@rupalichavan9860 Tested and verified on production. Please confirm.

[2022-04-26 07:40] sonalizibtek commented on #1277
Tested and Verified in Production @rupalichavan9860  Please confirm once

[2022-04-26 08:30] rupalichavan9860 commented on #942
Verified

[2022-04-26 08:30] #942 closed, assigned to akuks, ahmed130544

[2022-04-26 08:35] sonalizibtek commented on #1262
Tested and verified in Production @rupalichavan9860  Please confirm once

[2022-04-26 08:41] rupalichavan9860 commented on #1277
Verified

[2022-04-26 08:41] #1277 closed, assigned to sunilspr7

[2022-04-26 08:46] rupalichavan9860 commented on #1301
Verified

[2022-04-26 08:46] #1301 closed, assigned to ahmed130544

[2022-04-26 08:57] rupalichavan9860 commented on #1262
Verified

[2022-04-26 08:57] #1262 closed, assigned to sunilspr7

[2022-04-26 09:19] sonalizibtek commented on #1246
Tested and verified in Production @rupalichavan9860  Please confirm once

[2022-04-26 09:37] sonalizibtek commented on #1179
Tested and verified in Production @rupalichavan9860 Please confirm once

[2022-04-26 10:33] saniatg commented on #1294
Tested on production and is working fine. @rupalichavan9860 Please confirm

[2022-04-26 10:39] saniatg commented on #1111
@rupalichavan9860 verified on production and is working fine. Please confirm

[2022-04-26 11:10] saniatg commented on #1229
@rupalichavan9860 Tested on production and is working fine. Please confirm.

[2022-04-26 11:18] rupalichavan9860 commented on #1179
Verified

[2022-04-26 11:18] #1179 closed, assigned to ahmed130544

[2022-04-26 11:20] rupalichavan9860 commented on #1294
Verified

[2022-04-26 11:20] #1294 closed, assigned to sunilspr7

[2022-04-26 11:25] rupalichavan9860 commented on #1229
verified

[2022-04-26 11:25] #1229 closed, assigned to sunilspr7

[2022-04-26 11:27] rupalichavan9860 commented on #1111
Verified

[2022-04-26 11:27] #1111 closed, assigned to kshitij1326

[2022-04-26 11:35] rupalichavan9860 commented on #1246
Verified

[2022-04-26 11:35] #1246 closed, assigned to sunilspr7

[2022-04-26 11:42] saniatg commented on #1121
Tested and is working fine on Production. @rupalichavan9860 can you confirm

[2022-04-26 11:45] saniatg commented on #1119
Verified and is working fine on production. @rupalichavan9860 can you confirm

[2022-04-26 12:10] saniatg commented on #1130
@rupalichavan9860 Tested on production and is working fine. Please confirm

[2022-04-26 12:15] rupalichavan9860 commented on #1130
Verified

[2022-04-26 12:15] #1130 closed, assigned to kshitij1326

[2022-04-26 12:15] rupalichavan9860 commented on #674
Verified on production

[2022-04-26 12:15] #674 closed, assigned to akuks

[2022-04-26 12:17] sunnyjindal opened #1319 "Change Text "Entire Topic Subscribe" to "Subscribe to Entire Topic""

[2022-04-26 12:18] rupalichavan9860 commented on #1121
Verified

[2022-04-26 12:18] #1121 closed, assigned to ahmed130544

[2022-04-26 12:19] rupalichavan9860 commented on #1119
Verified

[2022-04-26 12:19] #1119 closed, assigned to karun0607gautam

[2022-04-26 12:21] rupalichavan9860 commented on #904
Verified on production

[2022-04-26 12:21] #904 closed, assigned to karun0607gautam

[2022-04-26 12:33] rupalichavan9860 commented on #1145
Verified on production
@BrentAllsop Can you please check and close if fine for you

[2022-04-26 12:55] saniatg commented on #1105
@rupalichavan9860 Tested and verified. Working fine on production.

[2022-04-26 13:00] saniatg commented on #1140
@rupalichavan9860 Working fine Production. Please confirm.

[2022-04-26 13:01] rupalichavan9860 commented on #1220
Verified on production

[2022-04-26 13:01] #1220 closed, assigned to ahmed130544

[2022-04-26 13:50] saniatg commented on #1191
@rupalichavan9860 Verified on production.Please confirm.

[2022-04-26 13:56] saniatg commented on #1089
@rupalichavan9860 Tested on production and is working fine. Please confirm

[2022-04-26 16:34] rupalichavan9860 commented on #1140
Verified

[2022-04-26 16:45] rupalichavan9860 commented on #1191
Verified

[2022-04-26 16:45] #1191 closed, assigned to sunilspr7

[2022-04-26 16:45] rupalichavan9860 commented on #1105
Verified

[2022-04-26 16:45] #1105 closed, assigned to sunilspr7

[2022-04-26 16:51] rupalichavan9860 commented on #1089
Verified

[2022-04-26 16:51] #1089 closed, assigned to sunilspr7

[2022-04-26 17:01] rupalichavan9860 commented on #1203
verified on production

[2022-04-26 17:01] #1203 closed, assigned to kshitij1326

[2022-04-26 17:03] rupalichavan9860 commented on #1146
Verified on production
@BrentAllsop Can you please check and close if fine for you

[2022-04-26 20:22] BrentAllsop commented on #1314
Ali pointed out what I had forgotten, that we did this, via consensus, on purpose, to improve performance.

He also proposed we also keep "in review" trees in the mongo db.
This will be good as "in review" is used far more often than any historical as-of value, and for the following reasons:

"in review" mongo trees can be programmed to be automatically removed when they go live, using the same co

[2022-04-27 03:29] sonalizibtek commented on #1110
Tested and Verified in production . @rupalichavan9860 Please confirm once

[2022-04-27 03:53] sonalizibtek commented on #1131
Tested and verified in production . @rupalichavan9860 Please confirm once

[2022-04-27 04:31] sonalizibtek commented on #1258
Tested and Verified in Production. @rupalichavan9860 Please confirm once

[2022-04-27 04:42] sonalizibtek commented on #1108
Tested and verified in Production . @rupalichavan9860  Please verify once

[2022-04-27 05:03] sonalizibtek commented on #1230
Tested and verified in production . @rupalichavan9860  Please verify once

[2022-04-27 05:42] rupalichavan9860 commented on #1201
Verified on production

[2022-04-27 05:42] #1201 closed, assigned to kshitij1326

[2022-04-27 05:43] saniatg commented on #1202
@rupalichavan9860 Verified on production and is working fine. Please confirm

[2022-04-27 05:47] rupalichavan9860 commented on #1230
Verified

[2022-04-27 05:47] #1230 closed, assigned to sunilspr7

[2022-04-27 05:51] rupalichavan9860 commented on #1202
Verified

[2022-04-27 05:51] #1202 closed, assigned to kshitij1326

[2022-04-27 05:53] rupalichavan9860 commented on #1108
Verified

[2022-04-27 05:53] #1108 closed, assigned to sunilspr7

[2022-04-27 05:55] rupalichavan9860 commented on #1110
Verified

[2022-04-27 05:55] #1110 closed, assigned to sunilspr7

[2022-04-27 05:55] rupalichavan9860 commented on #1131
Verified

[2022-04-27 05:55] #1131 closed, assigned to sunilspr7

[2022-04-27 05:59] rupalichavan9860 commented on #1258
Verified

[2022-04-27 05:59] #1258 closed, assigned to sunilspr7

[2022-04-27 06:05] rupalichavan9860 commented on #1272
Verified on production

[2022-04-27 06:05] #1272 closed, assigned to ahmed130544

[2022-04-27 06:05] saniatg commented on #1240
Verified on production and is working fine. @rupalichavan9860 Please confirm

[2022-04-27 06:10] rupalichavan9860 commented on #1240
Verified

[2022-04-27 06:10] #1240 closed, assigned to kshitij1326

[2022-04-27 07:05] rupalichavan9860 opened #1320 "Issues on Subscribe Entire Topic"
Issue 1 : Incorrect content is displaying in email when any user creates a new camp
Steps to reproduce :
1. User A create new topic and subscribed to entire topic
2. User A or User B creates new camp (User A should receive email as User A is Subscribed to Entire Topic)

Actual Result :
User A receives email but content is not proper
![image](https://user-images.githubusercontent.com/40416610/16546

[2022-04-27 08:05] rupalichavan9860 commented on #1184
Also as of now user is able to create duplicate camp name with change in case. Please refer below screenshot

![image](https://user-images.githubusercontent.com/40416610/165471300-3e31f346-0cc1-4db7-80af-1871f620612a.png)

@BrentAllsop Can you please confirm. Is this fine or do we need to restrict this?

[2022-04-27 08:08] sonalizibtek commented on #1101
Tested and Verified. @rupalichavan9860 Please confirm once

[2022-04-27 08:18] rupalichavan9860 commented on #1101
Verified

[2022-04-27 08:18] #1101 closed, assigned to kshitij1326

[2022-04-27 11:55] rupalichavan9860 opened #1321 "User is not able to subscribe camps"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password (User A)
3. Create new topic and create 2 camps and support both camps - User A Login
4. Login with User B and support both camps
5. Login with User B and change parent camp of "camp 1" to "camp 2" from "Agreement"
6. Login with User A and object change proposed by User B
7. Try to subscribe both ca

[2022-04-27 11:55] rupalichavan9860 commented on #1321
ref issue #1310

[2022-04-27 12:41] rupalichavan9860 commented on #1288
@kshitij1326 Tested and verified. Default nick name is getting created now

[2022-04-27 12:43] rupalichavan9860 commented on #1319
Tested and verified

[2022-04-27 13:07] rupalichavan9860 commented on #1115
@karun0607gautam Working fine when user enters alphabets but if user enters less than 10 digits error message should be "The phone number must be 10 digits." instead of "Enter the valid phone number."

[2022-04-27 13:11] rupalichavan9860 commented on #1077
@karun0607gautam This is not fixed yet

![image](https://user-images.githubusercontent.com/40416610/165525608-e6f17863-2a1d-4d24-b7a5-deffd801b1e6.png)

[2022-04-28 05:53] rupalichavan9860 commented on #1184
@kshitij1326 As discussed in meeting this is an issue . We should restrict user from creating/updating duplicate camp names with change case

[2022-04-28 05:57] rupalichavan9860 commented on #1320
@kshitij1326 As discussed in meeting remove content from mail body
"which you currently subscribed. If no supporters of this camp [Regression 30th release / camp 1 ](https://egfggag.r.af.d.sendibt2.com/tr/cl/Z5BEwBDiGmTMELza9IQAvazUv6lzAAXKLORZCh3dgyrka_k2pvO7BWX1EZklNKokdR_ZN27hiVJd5n1jbMEKEM_zMnBKgDbLCGilXbrXS6ZPTlvBOP7FICIravCLjYEUdrI-UkBedkc2wHa9oToClxfYl7bEOofVd5OAOvNiNh2nR35Clx7uIdCaw3WwAGli

[2022-04-28 09:18] shahab-ramzan opened #1323 "User is not able to open the news link"
If I add a news link without any protocol (http or https) and the protocol for that link is http, in that case I’m unable to to open the link from news feed since the actual URL runs on http.  For example if I add link: [app.tetongps.com/login](http://app.tetongps.com/login)

After appending protocol from newsfeed it becomes: https://app.tetongps.com/login

A correct solution would be to add a val

[2022-04-28 10:44] rupalichavan9860 commented on #1323
We need to implement same for camp statement as I have tested and above validation is missing for URL's on statement page.

[2022-04-28 10:51] rupalichavan9860 commented on #1307
@BrentAllsop Can you please check this again

[2022-04-28 10:52] rupalichavan9860 commented on #1275
@BrentAllsop Can you please check this and close if working fine for you

[2022-04-28 11:20] subhancd opened #1324 "nick name field behaves differently in create new topic page"
Steps to reproduce :

1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. click on "create new topic"
4. select a nick name which is not showing at the top of the nick name list
5. enter a special character in "topic name" field
6. click on create topic button

Expected Result:
All the fields shall behave in the same way after click the page refreshes upon clicking cr

[2022-04-28 12:16] rupalichavan9860 commented on #1135
Tested and verified

[2022-04-28 16:17] BrentAllsop commented on #1000
OH, I see what you are saying.  So the second one I opened was a duplicate of the already existing one?

[2022-04-29 00:46] BrentAllsop commented on #1146
Yea, looks great so closing this one.

[2022-04-29 00:46] #1146 closed, assigned to ahmed130544

[2022-04-29 00:55] BrentAllsop commented on #1145
Yea, working nicely.
so closing.

[2022-04-29 00:55] #1145 closed, assigned to ahmed130544

[2022-04-29 04:10] rupalichavan9860 commented on #1076
Tested and verified

[2022-04-29 06:13] subhancd opened #1325 "nick name field resets in the drop down on manage/edit this topic page"
Steps to reproduce

1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. click on browser
4. select a topic from sandbox testing
5. navigate to current topic record
6. click on manage/edit this topic
7. click on submit topic update based on this
8. select a nick name which is not at the top of the drop down
9. add a special character in topic name field
11. click on su

[2022-04-29 06:15] subhancd opened #1326 "nick name field resets in manage/edit this camp"
Steps to reproduce

1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. click on browser
4. select a topic from sandbox testing
5. navigate to current camp record
6. click on manage/edit this camp
7. click on submit camp update based on this
8. select a nick that is not at the first position in the
9. enter invalid data in the url field
10. click on submit update butt

[2022-04-29 06:19] subhancd opened #1327 "camp about nick name and nick name field resets in create new camp page"
Steps to reproduce

1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. click on browser
4. select a topic from sandbox testing
5. click on create new camp
6. select a nick name which is not at the top in the drop down
7. enter invalid data in the url field
8. select a user from the camp about nick name field
9. click on create camp

Actual Result:
camp about nick nam

[2022-04-29 06:22] subhancd opened #1328 "nick name field is reset in create a thread page"
Steps to reproduce

1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. click on browser
4. select a topic from sandbox testing
5. navigate to camp statement
6. click on camp forum
7. select a nick name
8. click on create thread

Actual Result:
nick name resets to the first nick name in the list
Expected Result:
nick name field shall not reset

[2022-04-29 12:07] subhancd opened #1329 "check box on browse page remains checked on returning back to the browse page"
Steps to reproduce:

1. navigate to https://staging.canonizer.com/
2. login with valid username and password
3. click on browse
4. check the checkbox, "only my topics"
5. click on a topic
6. click on the back button in the browser

Actual Result:
Check box is still ticked and it is showing all the namespaces

Expected Result:
check box shall be unchecked once user moves to other page from browse

[2022-04-29 12:21] sonalizibtek commented on #1291
case1 :
1.Create a topic , create camp1 and subscribe only camp1 by user A
2. Create a camp2 by user B
3. Support a Camp2 by user A
Actual result : User A received a subscribe email for removing a support from agreement
Expected : Only if there is any change for camp1 , user A should receive an email  - **Invalid*
<img width="960" alt="Screenshot (413)" src="https://user-images.githubusercontent.c

[2022-04-29 12:36] sonalizibtek commented on #1291
**case4:**
"1. Go to https://staging.canonizer.com/
2. Login with valid Email and Password
3. Click on Create New Topic
4. Create the topic  and camp1 , subscribe the camp1 by user A
5.Add a support  by user A
6. Observe the email
 **Actual Result :**
1.User A  received the subscribe notification for removing a support of agreement camp
**Expected :**
2.2.User A should not receive the subscribe no

[2022-04-29 12:39] saniatg opened #1330 "Error"Statement field is required " is still seen even if data is added in the field ."
Steps:
1-Add statement by any user , add all the data in the fields and it will be live if it has no supporters
2- Now click on Manage/Edit statement
3-Click on  button "Submit update based of this"
4- You will see the data pre-filled, now clear data in statement field
5- Click on submit button
6- You will see the error but the cleared data in the statement field is seen back
Refer screenshot
![Sc

[2022-04-29 12:48] sonalizibtek commented on #1291
**case7:**
"1. Go to https://staging.canonizer.com/
2. Login with valid Email and Password
3. Click on Create New Topic
4. Create the topic  and camp1 , subscribe the camp1 by user A
5.Create a sub camp under camp1 by user B
6.User B added a statement to sub camp
7. Observe the email
 **Actual** :"User A dint receive the subscribe notification for adding a statement to the sub camp"
**Expected** :

[2022-04-29 12:50] sonalizibtek commented on #1291
**case9**:
"1. Go to https://staging.canonizer.com/
2. Login with valid Email and Password
3. Click on Create New Topic
4. Create the topic  and camp1 , subscribe the camp1 by user A
5.Create a sub camp under camp1 by user B
6.User A added a support for sub camp, User B delegated to sub camp, User C delegated to User B for sub camp
7. Observe the email
 "
**Actual** :"User A dint receive the subsc

[2022-05-04 05:32] sonalizibtek commented on #1166
Tested and verified. @rupalichavan9860 Please confirm once

[2022-05-04 06:03] rupalichavan9860 commented on #1166
Verified

[2022-05-04 06:04] sonalizibtek commented on #1295
Tested and verified. @rupalichavan9860 Please confirm once

[2022-05-04 06:07] rupalichavan9860 commented on #1118
@kshitij1326 New note "Note: We support wiki markup. To get reference [click here](https://staging.canonizer.com/topic/132-Help/5-Canonizer-wiki-text-formatting)." is missing on statement update page
Add Camp Statement :
![image](https://user-images.githubusercontent.com/40416610/166630088-e698e8ae-0a1a-4c3a-8eff-da00d24690ea.png)

Statement Update :
![image](https://user-images.githubusercontent.

[2022-05-04 06:31] rupalichavan9860 commented on #1295
Verified

[2022-05-04 08:14] kshitij1326 commented on #1320
As mentioned i have to remove the specified content when a new camp has been created. But what happen when a camp has been updated and it go live immediately (when no supporter are there). Are we removing the content or keep as it is ?

[2022-05-04 12:30] sonalizibtek commented on #1118
Tested and Verified. @rupalichavan9860 Please Confirm Once

[2022-05-04 12:34] rupalichavan9860 commented on #1118
Verified

[2022-05-05 02:52] sonalizibtek commented on #1253
<img width="960" alt="Screenshot (420)" src="https://user-images.githubusercontent.com/99309948/166857239-187d0a78-e10c-45da-af56-4a5824646de3.png">
Case 1:  User A and User B  are supporting “camp 1” and “camp 2”. Now when any user change parent of “camp 2” to “camp 1” but don't commit .
- go to user A and click on camp1 , click on view version,
-in topic view page click on , camp2.

[2022-05-05 03:25] BrentAllsop commented on #1275
Yup, working great now, so closing this.

[2022-05-05 03:25] #1275 closed, assigned to nobody

[2022-05-05 03:38] BrentAllsop commented on #1307
Yup, tested it and appears to be working.

[2022-05-05 03:38] #1307 closed, assigned to nobody

[2022-05-05 05:33] sonalizibtek commented on #1312
Case 1:  User A , User B and User C  are supporting “camp 1” and User A and User B are supporting  camp 2”.  user C change parent of “camp 2” to “camp 1” then

Actual Result:
- when User A agrees to change ,
- In User B side the check box to agree the changes is not showing .
-  when user A check the agree box , and User B is not able to check the agree box. and In the topic view page , the camp h

[2022-05-05 11:00] rupalichavan9860 opened #1334 "Support is getting removed from both child and parent camp while changing parent"
Steps to reproduce :
1. Create topic and 2 camps by "User A" and support both camps
2. Login with "User B" and delegate support to "User A" in any camp
3. Login with User A and Create new camp "Test camp 1" and support camp "Test camp 1"
4. Update "Test camp 1" and change parent camp to "Camp 1" from "Agreement"

Expected Result :
Support should get removed from parent camp

Actual Result :
Suppor

[2022-05-05 11:34] rupalichavan9860 commented on #1334
Steps to reproduce :
1. Create topic and 2 camps by "User A" and support both camps
2. Create new camp "Test camp 1"
3. Update "Test camp 1" and change parent camp to "Camp 1" from "Agreement"

Expected Result :
Support should get removed from parent camp and added to child camp

Actual Result :
Support is getting removed from parent but not added to child

[2022-05-06 11:54] akuks commented on #1297
AWS SES is not worthy. So closing this ticket.

[2022-05-06 11:54] #1297 closed, assigned to nobody

[2022-05-07 21:17] BrentAllsop opened #1336 "Explain why greyed out buttons can't be executed."
![image](https://user-images.githubusercontent.com/6559312/167271888-2760acfe-e320-46c4-95c7-6c9ad6f71682.png)

If you mouse over this greyed out "object" button with the (i), it just says:
"You cannot object" which is already obvious, that is why it is greyed out and does not work.

It should say why, or describe what is required to object.  Something like: "**Only direct supporters at the time t

[2022-05-08 14:29] rupalichavan9860 commented on #1336
@BrentAllsop On "Object" button click we already have pop up which describes what is required to object

![image](https://user-images.githubusercontent.com/40416610/167300875-6294c3f1-95cb-4193-9166-ced91272210a.png)

Can you please confirm, do we still need the same in tooltip?

[2022-05-09 02:42] BrentAllsop commented on #1336
good point, that looks great, I didn't realize this popped up if you clicked on it.
Would this be an improvement on that?  "**Only direct supporters at the time this change was submitted can object.**"
keep the "For more information...." stuff.

[2022-05-09 08:48] ahmed130544 commented on #1182
@dakshiffort Can you please share correct grammar and English?

[2022-05-09 09:08] rupalichavan9860 commented on #1115
This is not fixed yet

[2022-05-09 09:34] sonalizibtek opened #1338 "Support is getting removed ,when user B edits the camp name"
**Steps to Produce:**
1.User A created topic  and subscribed ,by default support got added to agreement camp
2.User A created a camp
3.User B edited the camp name from camp to camp1

**Actual Result** :.In User A side score changed to [0]. score is getting removed
**Expected** : Support should not be removed from parent camp
<img width="960" alt="Screenshot (437)" src="https://user-images.githubus

[2022-05-09 10:42] sonalizibtek commented on #1320
Tested and Verified. @rupalichavan9860 Please confirm once

[2022-05-09 11:13] rupalichavan9860 commented on #1219
@ahmed130544 This is not working for camps . Please refer below link

https://staging.canonizer.com/topic/507-retesting-1219-updated-1/2-camp-1?asof=bydate&asofdate=2022/05/10%2010:53:25

[2022-05-09 12:54] sonalizibtek commented on #1304
Tested and verified. @rupalichavan9860 Please confirm once

[2022-05-09 13:16] rupalichavan9860 commented on #1219
@ahmed130544 Still not working for objected camp view this version and also "include review" is not working

Objected :
![image](https://user-images.githubusercontent.com/40416610/167418139-fceacd66-0836-4684-a2ae-f5a0c4595740.png)

Include Review :
![image](https://user-images.githubusercontent.com/40416610/167417994-8d53bfbe-757f-4699-b21a-20fddd009713.png)

[2022-05-10 05:19] rupalichavan9860 commented on #1304
Verified

[2022-05-10 05:23] rupalichavan9860 commented on #1320
Verified

[2022-05-10 06:26] dakshiffort commented on #1182
It seems that there is already a user linked with this email in Canonizer. If that user belongs to you then it is a violation of Canonizer’s agreement. So we suggest you deactivate your other account and keep only a single master account active. If you do not want to deactivate then click on cancel and try linking with another email for this social account. If you wish to deactivate then select th

[2022-05-10 06:43] rupalichavan9860 commented on #1219
@ahmed130544 Got below  page crash on camp history page "View This version"
![image](https://user-images.githubusercontent.com/40416610/167564815-9030481b-2324-4744-96e3-52069d503670.png)

[2022-05-10 08:54] rupalichavan9860 commented on #1224
Same exists on "Submit Camp Update Based On This"/"Submit Topic Update Based On This" and "Submit Statement Update Based On This" buttons

[2022-05-11 04:53] rupalichavan9860 commented on #1219
@ahmed130544 On filter "Default" , live camp name is not displaying in tree . Please refer below screenshot

![image](https://user-images.githubusercontent.com/40416610/167771519-d9c13c37-42b8-4414-a17d-13c8f382d700.png)

[2022-05-11 08:59] rupalichavan9860 opened #1344 "Page crash on selecting Mind Experts algorithm"
Steps to reproduce :
1. https://staging.canonizer.com/
2. Login with valid email and password
3. Select any topic and go to any camp history page
4. Click on "View This Version"
5. Select "Mind Experts" algorithm

Actual Result :
![image](https://user-images.githubusercontent.com/40416610/167811581-1e90e13b-d407-4271-993f-135c5f4ea43f.png)

[2022-05-11 10:10] rupalichavan9860 opened #1346 "Supports are not getting removed when removing supports from Manage support -Remove All"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic and create 2 camps
4. Support both camps
5. Go to any camp and click on "Manage Support"
6. Click on "Remove All" checkbox and Click on Submit

Expected Result :
Supports  should get removed from both camps

Actual Result :
Supports are not getting removed

[2022-05-11 10:33] saniatg commented on #1153
@aliahmad45 This issue is coming again on Canonizer main page so reopening the issue .
![Screenshot 2022-05-11 at 4 01 21 PM](https://user-images.githubusercontent.com/91254708/167829865-09ba0f07-27a1-4935-8e1d-aca4a2cca363.png)

[2022-05-11 11:20] rupalichavan9860 commented on #1344
@ahmed130544 Tested and verified

[2022-05-11 12:12] rupalichavan9860 opened #1347 "Canonizer Main Page : "Canonized list for" Issues"
Issue 1  : "Canonized list for"  listing topics which are not present on Browse page

Browse page screenshot :

![image](https://user-images.githubusercontent.com/40416610/167846035-3b6dc459-6a24-4c83-9188-cc22c17c0721.png)

"Canonized list for"  Screenshot :

![image](https://user-images.githubusercontent.com/40416610/167846146-09f1d06b-3876-4775-86b2-665f931f28e9.png)

Issue 2 :
Getting blank pa

[2022-05-12 03:07] rupalichavan9860 opened #1350 "Namespace General on Canonizer Main page is displaying topics from sandbox testing"
Steps to reproduce :
1. Go to https://canonizer.com/ or https://staging.canonizer.com/
2. Create New topic under General Namespace and move to sandbox testing
3. Observe "Canonized list for" - General Namespace topics

Actual Result :
Namespace General on Canonizer Main page is displaying moved topics from sandbox testing

Note : There are some test topics created by testers under general namespac

[2022-05-12 05:20] saniatg commented on #1219
@ahmed130544 found one case in which topic name is not visible when click 'View this Version'

1. User A created a topic and a camp and supported the camp
2. Login with User B and add statement in camp. It will be in review.
3. Now click on 'View this version'
![Screenshot 2022-05-12 at 10 43 17 AM](https://user-images.githubusercontent.com/91254708/167997425-6a8a2c73-9254-4091-9b20-84e618396938.p

[2022-05-12 08:29] sonalizibtek commented on #1182
Tested and Verified. @rupalichavan9860 , Please confirm once.

[2022-05-12 08:36] sonalizibtek commented on #1156
Tested and Verified in Nord.  @rupalichavan9860 , Please confirm once

[2022-05-12 10:12] rupalichavan9860 commented on #1182
Verified

[2022-05-12 10:13] rupalichavan9860 commented on #1156
Verified

[2022-05-12 11:10] sonalizibtek commented on #1219
Tested and Verified. @rupalichavan9860 , Please confirm once

[2022-05-12 12:25] rupalichavan9860 commented on #1219
Verified

[2022-05-13 05:34] rupalichavan9860 opened #1351 "Displays incorrect/bad URL's when user changes the namespace frequently"
Steps to reproduce :
1. Go to https://canonizer.com/
2. Login with valid email and password
3. Go to Canonizer Main Page
4. Select any algorithm
5. Keep changing namespace from Canonized list for  drop down

Actual Result :
Displays incorrect/bad URL's when user changes the namespace frequently. Please refer below screenshot

![image](https://user-images.githubusercontent.com/40416610/168217681-ba

[2022-05-13 09:26] rupalichavan9860 commented on #1351
Tested and verified

[2022-05-13 09:26] #1351 closed, assigned to ahmed130544

[2022-05-13 09:33] rupalichavan9860 commented on #1350
Tested and verified

[2022-05-13 10:12] sonalizibtek opened #1354 "It should display under my topics of A or B?"
Steps :
1.user A created a topic
2.user B edited the topic changed the topic namespace from  general to sandbox testing and committed the changes
3.user A agreed the changes
4.Click on browser , select only my topic check box[user A]
The topic created by user A is not shown under only my topic section and uncheck the box , the topic is displayed
5.Click on browser , select only my topic check box[

[2022-05-13 10:24] subhancd opened #1355 "Captcha field is not working on the sign up page"
Steps to reproduce:

1. go to https://canonizer.com/
2. click on sign up button
3. scroll down to captcha field

Actual Result:
Captcha field is not displaying the image

Expected Result:
Captcha field shall work properly.
[Image](https://gyazo.com/e3bc202b742d50cb2d9e6dd9a11e83ed)

[2022-05-13 11:22] subhancd commented on #1355
this has been resolved and rechecked

[2022-05-13 11:22] #1355 closed, assigned to nobody

[2022-05-14 17:36] rupalichavan9860 opened #1356 "Include review filter is displaying old topic name record"
Getting this error on staging :

http://staging.canonizer.com/topic/37-Partner-Strategy/1-Agreement?filter=0.000&_token=EYLedbJ1UvqlQ9VixYEDTbsBhuuEaf4SsQXEgsGZ&asof=review&topic_history=0

Please refer above topic

Same for jobs topic : click on jobs link from left panel

[2022-05-16 04:43] sonalizibtek commented on #1291
Four cases have not yet fixed, @kshitij1326 .

[2022-05-16 08:41] rupalichavan9860 commented on #1356
Same for this :  https://staging.canonizer.com/topic/81-Mind-Experts/20-Recycle-3#statement

[2022-05-16 11:14] saniatg opened #1357 "Page is crashing when removing delegate support in case page is not refreshed"
Steps:

1. Create topic and 2 camps by "User A" and support both camps
2. Login with "User B" in different browser and delegate support to "User A" in any camp
3. User A creates  new camp "camp 3" and supports it
4. Update camp 3 and change parent camp to "Camp 1" from "Agreement"
5. Now again change parent to "agreement" from "camp1"
6. Go to the browser where User B is logged in , do not refresh

[2022-05-16 15:31] sonalizibtek commented on #1153
not yet fixed. @aliahmad45
case: Logout and login to the application
- Arrow is aligned up. In the home screen

[2022-05-16 16:14] ahmed130544 commented on #1153
@sonalizibtek changes are not showing in code, let me ask Ashutosh please, will update once deployed.

[2022-05-16 16:20] ahmed130544 commented on #1153
@sonalizibtek changes are deployed, you can test

[2022-05-16 16:30] sonalizibtek commented on #1224
Tested and Verified. @rupalichavan9860 , please verify once

[2022-05-17 05:56] rupalichavan9860 opened #1363 "Login symbol is not properly alinged"
Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/168739187-2612286b-f023-45ea-a191-0bd880706955.png)

[2022-05-17 06:00] saniatg commented on #1153
Working fine on staging . @rupalichavan9860 Please confirm.

[2022-05-17 06:05] subhancd commented on #1115
this issue has been resolved and is displaying the correct error message.
[error message image](https://gyazo.com/26a023272c4b2c05fc24b1163b18ac7b)

[2022-05-17 06:13] rupalichavan9860 commented on #1153
Verified

[2022-05-17 06:13] rupalichavan9860 commented on #1115
Verified

[2022-05-17 06:20] saniatg commented on #1169
Drag and drop is now working fine. @rupalichavan9860 Please confirm

[2022-05-17 06:52] rupalichavan9860 opened #1364 "Old and objected camp name is displaying on "Default" filter on topic view page"
Please refer topic :
https://staging.canonizer.com/topic/543-Change-namespace-5/2-camp-4#statement

Please refer attached screenshots :
![image](https://user-images.githubusercontent.com/40416610/168747492-b09af919-bbba-4c74-b195-a480a0aa4dc6.png)

![image](https://user-images.githubusercontent.com/40416610/168747620-fd9e697c-d238-451b-b716-18b459070a3f.png)

[2022-05-17 06:56] rupalichavan9860 commented on #1268
Tested and verified

[2022-05-17 06:59] rupalichavan9860 commented on #1169
Verified

[2022-05-17 07:06] sonalizibtek opened #1365 "Create Thread , Post- subscribe email content should be aligned properly"
1. Instead of displaying the title name below , it can be displayed next to the  thread title
2. Same for post . the post name can be displayed next to the post title
<img width="960" alt="Screenshot (510)" src="https://user-images.githubusercontent.com/99309948/168749475-036d2f13-c112-422b-aa1e-c457d45b4739.png">
3. Gap should be reduced
<img width="960" alt="Screenshot (511)" src="https://user-i

[2022-05-17 07:15] saniatg commented on #1224
@rupalichavan9860 Tested and is working fine. Please confirm

[2022-05-17 07:29] rupalichavan9860 commented on #1364
Same for topic name :
https://staging.canonizer.com/topic/81-Mind-Experts/1-Agreement?filter=0.000&_token=amyqaG5ekUheApzMXSUX2LTppBjZ3Bhvjdw99jfk&asof=default&topic_history=0

![image](https://user-images.githubusercontent.com/40416610/168754287-9a75c7a9-5e5b-4172-b86e-e8d385be377f.png)

[2022-05-17 08:40] rupalichavan9860 commented on #1208
Case : If someone submitted a change and direct supporter removes their support
Actual Result : As of now user is not able to agree and object submitted change even if support was there after change submit

@BrentAllsop Is this correct behavior?

[2022-05-17 08:41] rupalichavan9860 commented on #1347
Tested and verified

[2022-05-17 08:43] rupalichavan9860 commented on #1224
Verified

[2022-05-18 06:07] rupalichavan9860 opened #1367 ""nick names" should be a link showing the supports for that nick name on Canonizer Forum Details page"
Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/168968921-fe271834-8013-4470-8577-f2f93455711b.png)

[2022-05-18 08:57] rupalichavan9860 commented on #1291
Tested and Verified

[2022-05-18 11:14] rupalichavan9860 commented on #1364
@ahmed130544 Tested. Still facing same issue

![image](https://user-images.githubusercontent.com/40416610/169026211-c8784a5e-c856-48f2-8962-9f66a5c71cc7.png)

[2022-05-18 11:38] rupalichavan9860 commented on #1356
@ahmed130544 Tested and verified

[2022-05-18 12:31] rupalichavan9860 opened #1369 "Total Support for This Camp (including sub-camps) is displaying incorrect"
Created scenario like below :
![image](https://user-images.githubusercontent.com/40416610/169038741-fc20d848-5422-49ae-b6b9-00c955f85dd2.png)

Now "RC" delegate their support to "Rupali N", Total score should be " 2.5"

![image](https://user-images.githubusercontent.com/40416610/169039185-263bebfc-5a4b-4384-965d-1b72ae3ddb2f.png)

Actual Result : It is displaying "1" instead of "2.5"

[2022-05-18 15:52] BrentAllsop opened #1370 "Add name space to subject of e-mail for /sandbox/ and /sandbox testing/ name space proposals."
Currently e-mails that go out have [canonizer] prepended to the subject of the e-mail.

If the namespace of the topic is /sandbox/ or /sandbox testing/ add this like this:
[canon/sandbox testing/] or [canon/sandbox/]
So we can separate testing e-mail from real use e-mail with filters.

[2022-05-18 19:29] ahmed130544 commented on #1310
@rupalichavan9860 issue also exists if we do not object change, in review state, "camp 1" is not listing in parent camp drop down when wants to add change in camp 2.

[2022-05-19 03:22] rupalichavan9860 commented on #1354
As per discussed topic should get listed under My topics of User A

[2022-05-19 03:23] rupalichavan9860 commented on #1208
As discussed this is correct behavior

[2022-05-19 03:26] rupalichavan9860 opened #1372 "Browse- Change label "Only My topics" to "My Created Topics""

[2022-05-19 04:46] rupalichavan9860 opened #1373 "Issue on grace_period when topic creating/updating"
When the topic is created and updated for the first time by same user, the grace_period = 1 is saved into the database. It should be 0

[2022-05-19 16:50] BrentAllsop opened #1376 "Who can object, approve, and when."
If all direct supporters "approve" an in review change, it should go live before the 24 hours.

If there is one remaining direct supporter to approve the change, If that person removes their support, the change should then go live, since it now has unanimous support.  It does not currently do this, and you then can't make it go live, till after the 24 hour timeout.

Also, if there was a second dir

[2022-05-19 18:17] BrentAllsop opened #1377 "Delegation check should be done first."
If you delegate your support to someone supporting a parent camp of some camps you already directly support, you get this message:
![image](https://user-images.githubusercontent.com/6559312/169371852-d9f18d86-f991-45d7-946d-8ffc41112eca.png)
Which is incorrect.  The delegation check should be done first, and the delegation warning should be given, not this incorrect warning.

[2022-05-20 07:27] sonalizibtek opened #1378 "On clicking on view this version page crash appears"
steps to produce :
case 1:
1. Login with valid email and password (User A)
2. Create new topic and create 2 camps and support both camps - User A Login
3. Login with User B and support both camps
4. Login with User B and change parent camp of "camp 1" to "camp 2" from "Agreement"
5. Login with User A and object change proposed by User B
6. User A change parent of "camp 2" to "camp 1" - and commit

[2022-05-20 07:35] saniatg commented on #1364
Tested and is working fine. @rupalichavan9860 Can you confirm

[2022-05-20 11:32] sonalizibtek commented on #1310
Tested and verified. @rupalichavan9860 Please confirm once

[2022-05-23 00:26] akuks opened #1379 "Page indexing issue detected for site canonizer.com"
Google indexing is reporting a 500 internal server error with this url:

https://canonizer.com/topic/350/4

This link is not working.

I have checked this, it is a test Topic created for testing on production. But the link should work.

[2022-05-23 03:08] akuks commented on #1379
There are 2 camps,
https://canonizer.com/topic/350/4 and https://canonizer.com/topic/350/2 which are not showing up.

And the reason is they are parent of each other. Camp 4 is the parent of 2 and Camp 2 is the parent of 4. Hence we are getting the page crash.

We moved the parent of camp 4 to Agreement. Hence the issue is fixed.

[2022-05-23 03:08] #1379 closed, assigned to nobody

[2022-05-23 05:45] rupalichavan9860 commented on #1364
Verified

[2022-05-23 05:52] rupalichavan9860 commented on #1378
This is not fixed yet

[2022-05-23 10:07] saniatg opened #1381 "Camp filter is being applied on history pages"
User A is a direct supporter , and when user B proposes  change to any camp and do  not commit the changes and submit update on that change and commits the latest change after that  User A accepts the change and then user B applies as of date filter .
User A sees live record as old
![Screenshot 2022-05-23 at 3 27 28 PM](https://user-images.githubusercontent.com/91254708/169795846-ff6fcff0-432d-4e7

[2022-05-23 10:47] saniatg commented on #1365
Also, remove an unnecessary dot below the post title.
![Screenshot 2022-05-23 at 4 20 23 PM](https://user-images.githubusercontent.com/91254708/169803150-1212d10d-0dd4-4ed8-b475-7da021367f8e.png)

[2022-05-24 05:55] rupalichavan9860 commented on #1310
As per discussed in meeting we have reverted this changes ,as because of this parent camp and child camp are going in a loop and getting page crash on View this version refer #1378.
Tested with reverted changes and working

[2022-05-24 05:56] rupalichavan9860 commented on #1378
This is working fine now as #1310 changes are reverted

[2022-05-24 06:30] rupalichavan9860 opened #1382 "Message "There is no statement history available right now. It may also be possible that a statement has been added, but it is in a review state." is displaying even if objected statement is available"
Steps to reproduce :
1. Create Camp "camp1" and support by User A and User B
2. Add camp statement By User A
3. Object By User B
4. Now observe User A and User B camp statement history page
Please refer attached screenshot :
User A  login :

![image](https://user-images.githubusercontent.com/40416610/169963488-8637d683-66c8-43f1-8484-8a382dc3ba0e.png)

User B Login :

![image](https://user-images.

[2022-05-24 07:08] rupalichavan9860 commented on #1382
![image](https://user-images.githubusercontent.com/40416610/169969968-2ad88228-f82e-4d2f-b126-198dbd4172c6.png)

[2022-05-24 10:34] saniatg commented on #1169
@rupalichavan9860 Tested and verified on production. Please confirm

[2022-05-24 10:35] saniatg commented on #1153
Verified on production and is working fine. @rupalichavan9860 Please confirm

[2022-05-24 10:39] saniatg commented on #1166
Tested and verified on production. @rupalichavan9860 Please confirm

[2022-05-24 10:50] saniatg commented on #1319
Tested and verified on production. @rupalichavan9860 Please confirm

[2022-05-24 11:11] saniatg commented on #1076
@rupalichavan9860 Working fine on production. Please confirm

[2022-05-24 11:14] rupalichavan9860 commented on #1153
Verified

[2022-05-24 11:14] #1153 closed, assigned to ahmed130544

[2022-05-24 11:15] sonalizibtek commented on #1115
Tested and verified on Production. @rupalichavan9860 Please confirm once

[2022-05-24 11:15] rupalichavan9860 commented on #1166
Verified

[2022-05-24 11:15] #1166 closed, assigned to sunilspr7

[2022-05-24 11:16] rupalichavan9860 commented on #1319
Verified

[2022-05-24 11:16] #1319 closed, assigned to kshitij1326

[2022-05-24 11:24] rupalichavan9860 commented on #1169
Verified

[2022-05-24 11:24] #1169 closed, assigned to kshitij1326

[2022-05-24 11:26] sonalizibtek commented on #1344
Tested and Verified on Production. @rupalichavan9860 , Please confirm.

[2022-05-24 11:39] saniatg commented on #1268
@rupalichavan9860 verified on production and is working fine.

[2022-05-24 11:46] sonalizibtek commented on #1182
Tested and verified on Production. @rupalichavan9860 Please confirm once

[2022-05-24 11:50] sonalizibtek commented on #1156
Tested and Verified on Production. @rupalichavan9860 Please confirm.

[2022-05-24 12:01] saniatg commented on #1224
@rupalichavan9860 Tested and is working fine on production.

[2022-05-24 12:05] rupalichavan9860 commented on #1268
Verified

[2022-05-24 12:05] #1268 closed, assigned to sunilspr7, ahmed130544

[2022-05-24 12:07] rupalichavan9860 commented on #1182
Verified

[2022-05-24 12:07] #1182 closed, assigned to ahmed130544

[2022-05-24 12:19] rupalichavan9860 commented on #1350
@ahmed130544 Tested on live and I am still facing issue for one topic. Please refer https://canonizer.com/topic-history/389-Testing-Topic-1

Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/170032767-2c3bd157-d982-47db-b27f-7a46635aa214.png)

![image](https://user-images.githubusercontent.com/40416610/170032791-577bb384-0aa1-4a0a-9c8c-cb258b1518d6.png)

[2022-05-24 14:28] rupalichavan9860 commented on #1344
Verified

[2022-05-24 14:28] #1344 closed, assigned to ahmed130544

[2022-05-24 14:29] rupalichavan9860 commented on #1156
Verified

[2022-05-24 14:29] #1156 closed, assigned to ahmed130544

[2022-05-24 14:30] rupalichavan9860 commented on #1115
Verified

[2022-05-24 14:30] #1115 closed, assigned to kshitij1326

[2022-05-24 14:32] sonalizibtek commented on #1347
Tested and verified on Production. @rupalichavan9860 Please confirm once

[2022-05-24 14:35] sonalizibtek commented on #1320
Tested and Verified on Production. @rupalichavan9860 Please confirm

[2022-05-25 05:28] rupalichavan9860 commented on #1364
Verified on production

[2022-05-25 05:28] #1364 closed, assigned to ahmed130544

[2022-05-25 05:32] rupalichavan9860 commented on #1356
Verified on production

[2022-05-25 05:32] #1356 closed, assigned to ahmed130544

[2022-05-25 05:35] rupalichavan9860 commented on #1310
Verified

[2022-05-25 05:35] #1310 closed, assigned to sunilspr7, ahmed130544

[2022-05-25 05:35] rupalichavan9860 commented on #1378
Verified

[2022-05-25 05:35] #1378 closed, assigned to ahmed130544

[2022-05-25 06:35] rupalichavan9860 opened #1385 "Default nick name is not getting created when user logged in using social logins"
When user logged in using social logins (which is not having email address) ,default nick name is not getting created

[2022-05-25 06:38] rupalichavan9860 commented on #1288
Verified on production

[2022-05-25 06:38] #1288 closed, assigned to kshitij1326

[2022-05-25 06:53] rupalichavan9860 commented on #1135
Verified on production

[2022-05-25 06:53] #1135 closed, assigned to sunilspr7

[2022-05-25 09:44] rupalichavan9860 commented on #1076
Verified

[2022-05-25 09:44] #1076 closed, assigned to sunilspr7

[2022-05-25 10:05] rupalichavan9860 commented on #1224
Verified

[2022-05-25 10:05] #1224 closed, assigned to kshitij1326, ahmed130544

[2022-05-25 10:51] saniatg commented on #1304
@rupalichavan9860 Tested and working fine on production. Please confirm

[2022-05-25 11:05] rupalichavan9860 commented on #1295
Verified on production

[2022-05-25 11:05] #1295 closed, assigned to sunilspr7

[2022-05-25 11:24] rupalichavan9860 commented on #1304
Verified

[2022-05-25 11:24] #1304 closed, assigned to sunilspr7

[2022-05-25 11:46] rupalichavan9860 commented on #1347
Verified

[2022-05-25 11:46] #1347 closed, assigned to ahmed130544

[2022-05-25 11:59] rupalichavan9860 commented on #1118
Verified

[2022-05-25 11:59] #1118 closed, assigned to kshitij1326

[2022-05-25 12:02] saniatg commented on #1320
@rupalichavan9860 Tested and working fine on Production.

[2022-05-25 13:01] saniatg commented on #1219
@rupalichavan9860 Tested and is working fine on production. Please confirm

[2022-05-25 14:31] sonalizibtek commented on #1291
Tested and Verified on Production. @rupalichavan9860  Please confirm once

[2022-05-25 21:10] BrentAllsop opened #1388 "Don't send email when adding support to sub camp of supported camp."
Currently, if you add your support to a sub camp of a camp you already support, you generate two e-mails, one for removing your support to the parent camp, and one for adding your support to the sub camp.

Don't send the e-mail about removing your support from the parent, as you are still supporting the parent camp, just implicity instead of explicitly.  Only send the email about joining the sub c

[2022-05-26 02:57] rupalichavan9860 commented on #1320
Verified on production

[2022-05-26 02:57] #1320 closed, assigned to kshitij1326

[2022-05-26 03:03] rupalichavan9860 commented on #1219
Verified on production

[2022-05-26 03:03] #1219 closed, assigned to ahmed130544

[2022-05-26 03:05] rupalichavan9860 commented on #1291
Verified on production

[2022-05-26 03:05] #1291 closed, assigned to kshitij1326

[2022-05-26 05:27] rupalichavan9860 commented on #1388
@BrentAllsop I guess this is duplicate of issue #1149 . Can you please confirm?

[2022-05-26 05:32] rupalichavan9860 commented on #1235
Working fine now so closing this issue

[2022-05-26 05:32] #1235 closed, assigned to nobody

[2022-05-26 06:01] rupalichavan9860 commented on #1298
Fixed in another ticket of 31st release so closing this issue

[2022-05-26 08:26] #1150 closed, assigned to gautamv16

[2022-05-26 11:49] subhancd commented on #1311
working fine. @saniatg kindly, verify

[2022-05-26 11:53] saniatg commented on #1197
Verified and is working fine. @rupalichavan9860 Please confirm.

[2022-05-26 12:00] subhancd commented on #1334
working fine. @rupalichavan9860 kindly, verify

[2022-05-26 12:00] rupalichavan9860 commented on #1363
Tested and verified

[2022-05-26 12:01] saniatg commented on #1311
Working fine. @rupalichavan9860

[2022-05-26 12:06] rupalichavan9860 commented on #1197
Verified

[2022-05-26 12:18] saniatg commented on #1367
@rupalichavan9860 Tested and working fine

[2022-05-26 12:18] rupalichavan9860 commented on #1334
Verified

[2022-05-26 12:22] rupalichavan9860 commented on #1311
Verified

[2022-05-26 12:25] rupalichavan9860 commented on #1367
Verified

[2022-05-26 12:27] subhancd commented on #1184
working fine. kindly verify @rupalichavan9860

[2022-05-26 12:47] rupalichavan9860 commented on #1184
Verified

[2022-05-26 12:51] saniatg commented on #1346
@sunilspr7 there is a case where support must be removed.
Steps to reproduce :

1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic and create 2 camps
4. Support any one camp eg 'Camp1'
5. Login with User B , delegate support to 'Camp1'
6. Now click on button'Directly join/support' 2nd camp 'camp2' by User B
7. Message'Warning! You have delegated your

[2022-05-26 14:21] saniatg opened #1392 "Delegated supporters are getting removed when changing parent"
Steps:

1. User A created a topic and created 2 camps: 'camp1' & 'camp2'. Support will be added to Agreement by default
2. Now create a subcamp under camp1
3. Now login with User B , delegate support to User A in agreement camp
4. Login with user C and delegate support to User B
Support tree will look like
![Screenshot 2022-05-26 at 7 49 08 PM](https://user-images.githubusercontent.com/91254708/17

[2022-05-26 17:36] rupalichavan9860 commented on #1298
This is still exists for below scenario :
1. Create topic By User A in one namespace
2. Login with User B and submit proposed change to topic (update namespace)
3. Observe email

Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/170544067-cccca9ac-49bb-4cfe-923c-89a4ac6656b6.png)

[2022-05-26 17:40] rupalichavan9860 commented on #1350
@ahmed130544 Checked for mentioned topic and it is working fine. I am  checking for one more topic - I will check after 24 hour and update accordingly

[2022-05-26 17:53] rupalichavan9860 opened #1393 "Page crash when removing support"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Create new topic (Support added to Agreement)
3. Open Account Settings->Supported camps in one tab
4. Open Topic Detail page in another tab
5. Remove support from Account Settings->Supported camps
6. Remove support from Topic Detail page

Getting below page crash
![image](https://user-images.githubusercontent.com/40416610/170546725-bc

[2022-05-27 00:51] BrentAllsop opened #1394 "Live version of statement not showing up"
https://canonizer.com/statement/history/418-Platform-of-the-People/1-Agreement, the green camp doesn't show up on the camp page, when the as-of value is set to default.
Instead, the objected to version is being displayed.

[2022-05-27 06:01] subhancd commented on #1350
@ahmed130544 this is not fixed. I've checked this with topic "test topic 20may". it is displaying in general namespace in the canonized list. in browse, it shows in the sandbox testing namespace.

[2022-05-27 06:02] rupalichavan9860 commented on #1369
@sunilspr7 This is not fixed yet
![image](https://user-images.githubusercontent.com/40416610/170639966-fc24c975-90f5-4efb-94b9-b262a7d29f4c.png)

[2022-05-27 07:17] saniatg commented on #1148
@kshitij1326 Sometimes when try to click  the highlighted area  mentioned in the screenshot attached , it is not being clickable ,page 1 should be highlighted so that user can click it. It is still  not smooth.

![Screenshot 2022-05-27 at 12 05 11 PM](https://user-images.githubusercontent.com/91254708/170650690-1e2fae31-aefd-4111-9e65-d9191b47cd02.png)

[2022-05-27 10:01] saniatg opened #1398 "Direct support is getting removed , when changing parent camp in a specific case mention below."
Steps:

1. User A will create a topic and 2 camps : "camp1 " & "camp2"
2. Support "camp1"
3. Now create a subcamp "subcamp"under camp 2
4. Login with User B and directly support camp 1 ( Total support of camp 1 is 2)
![Screenshot 2022-05-27 at 2 09 35 PM](https://user-images.githubusercontent.com/91254708/170677693-f8038174-24aa-49f1-b776-08475f79e90e.png)
5. Login with User A and change parent of

[2022-05-27 21:58] BrentAllsop commented on #1394
I verified this is fixed on live, so closing this issue.
thanks @ahmed130544 for getting this fixed, fast.

[2022-05-27 21:58] #1394 closed, assigned to ahmed130544

[2022-05-29 12:28] BrentAllsop commented on #1096
In the comment I made on Jan 26, 2022, It sounds like I'm saying that the topic name shouldn't be included in the bread crumbs, but I now think it should not say that.  There should be a: "Camp: Agreement", at the start of all "Camp:" lines of a breadcrumbs block, which should be a link to the agreement statement.
There should also be a "Topic: Suggestion Box" line on all bread crumbs blocks on an

[2022-05-29 13:22] BrentAllsop opened #1399 "Provide Entire canonized score on all supported camps option in the Canonizer block"
Add a check mark to the "[Canonizer Block](https://github.com/the-canonizer/canonizer.2.0/issues/1096)" with the label: "%100 of canonized score on all supported camps".

Whenever this is checked, add 100% of the supporters canonized score to all camps supported, instead of splitting this up and allocating ever decreasing portions of their canonized score to all the camps they support in this topi

[2022-05-30 02:58] BrentAllsop commented on #1096
Let's not close this issue till these have been fixed in 2.0 and implemented in 3.0?

[2022-05-30 11:46] sunnyjindal commented on #1399
I have added this in Canonizer 3 Jira board. Closing the ticket here.

[2022-05-30 11:46] #1399 closed, assigned to sunnyjindal

[2022-05-30 16:10] rupalichavan9860 opened #1401 "Implement lazy loading on topic/camp/statement history"

[2022-05-31 05:30] subhancd commented on #1372
fixed @rupalichavan9860

[2022-05-31 05:33] subhancd commented on #1329
fixed @rupalichavan9860

[2022-05-31 05:40] subhancd commented on #1318
fixed @rupalichavan9860

[2022-05-31 06:09] saniatg commented on #1318
@ahmed130544 mentioned case above works fine but the same issue is seen when select'My topic'
Steps:

1. Login and navigate to Browse page.
2. Select any namespace from the dropdown. e.g user selects 2nd namespace as 'corporations' and check the box' My topics created' is URL https://staging.canonizer.com/browse?namespace=2&my=2 which is correct
3. Now copy the URL and log out
4. Paste the URL in

[2022-05-31 06:23] rupalichavan9860 commented on #1372
Verified

[2022-05-31 06:28] rupalichavan9860 commented on #1329
Verified

[2022-05-31 10:20] rupalichavan9860 commented on #1318
@ahmed130544 This is not fixed

[2022-05-31 10:20] rupalichavan9860 commented on #1350
@ahmed130544 This is not fixed yet

[2022-05-31 10:22] ahmed130544 commented on #1350
Yes, @rupalichavan9860 , still working on following ticket, there were a pull request regarding it, so Ashutosh, moved it to deployed on staging. Moving to "in progress" section.

[2022-05-31 10:58] rupalichavan9860 opened #1404 "Issue on grace_period when camp /camp statement creating/updating"
When the new camp/statement is created and updated for the first time by same user, the grace_period = 1 is saved into the database. It should be 0

Whenever any camp and statement go live immediately ,grace period should be 0

grace period should be 1 : Only when user submitted a change to topic/camp/statement(which is in "in review") and changes are not committed yet

[2022-05-31 12:35] saniatg commented on #1318
@rupalichavan9860 working fine now . Please confirm

[2022-05-31 12:41] saniatg commented on #1148
@rupalichavan9860 works fine now. Can you confirm.

[2022-05-31 12:58] rupalichavan9860 commented on #1148
Page numbers are getting highlighted when selecting general namespace but not for other namespaces. Please refer attached screenshot
General :
![image](https://user-images.githubusercontent.com/40416610/171178418-0d5d889a-2541-4c5a-b757-a19ab56468ad.png)

Sandbox testing :
Page numbers 1 to 7 are not getting highlighted
![image](https://user-images.githubusercontent.com/40416610/171178707-5ab5c336

[2022-05-31 12:59] rupalichavan9860 commented on #1318
Verified

[2022-05-31 13:06] saniatg commented on #1148
@kshitij1326  also pagination on every namespace must show after 20 records only not before that.

![Screenshot 2022-05-31 at 6 33 42 PM](https://user-images.githubusercontent.com/91254708/171180348-eaf46001-27b3-4240-a6e7-1a6b45309ffc.png)

[2022-06-01 06:43] rupalichavan9860 opened #1405 "Incorrect score is displaying when user delegates support"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic (Support added to Agreement camp) - User A login
4. Login with User B and delegate support to User A
5. Observe score

Actual Result :
Score is displaying as "3"
Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/171343645-3f25b45c-5269

[2022-06-01 10:04] subhancd commented on #1350
create a topic in /general/ namespace
remove support, the score becomes 0
search the topic in the canonized list the /general/ namespace, the topic doesn't show in the list

[2022-06-01 10:14] rupalichavan9860 commented on #1350
@ahmed130544 I checked this with below scenarios :
1. Topic in one namespace and moved to other - change submitted by same user(Working fine)
2. Topic in one namespace and moved to other -  change submitted by another user and agreed by direct supporter(Working fine)
3. Topic in one namespace and moved to other -  change submitted by another user and it should get move to new namespace after 24 ho

[2022-06-02 02:36] rupalichavan9860 opened #1407 "Page crash when delegated supporter removes their support"
Please refer below screenshot :
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic (Support added to Agreement camp) - User A login
4. Login with User B and delegate support to User A
5. Remove delegated support

getting below page crash :
![image](https://user-images.githubusercontent.com/40416610/171540184-85f59901-a11b-4fcf-80

[2022-06-02 02:40] BrentAllsop commented on #1388
Yes, this is a duplicate, so I will close this?

[2022-06-02 02:40] #1388 closed, assigned to ahmed130544

[2022-06-02 02:48] rupalichavan9860 commented on #1407
duplicate

[2022-06-02 02:48] #1407 closed, assigned to nobody

[2022-06-02 04:22] rupalichavan9860 opened #1408 "On Live : Objected camp name is displaying on "Default" filter on topic view page"
Please refer link :
https://canonizer.com/topic/420-test-spaces-include-review/4-camp-1-objected#statement

[2022-06-02 05:19] rupalichavan9860 opened #1409 "Score is displaying as 0 for second camp"
Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/171558138-fbdcb4ba-54bd-4828-9dea-22127eeb5d44.png)

[2022-06-02 05:40] rupalichavan9860 commented on #1409
According to new algorithm score should be :
If user supports "camp 1" and "camp 2" , score should be "0.75" and "0.25" respectively

[2022-06-02 09:30] rupalichavan9860 commented on #1405
Verified

[2022-06-02 13:10] rupalichavan9860 commented on #1350
@ahmed130544 checked 3rd case and not working. I can see topic under earlier namespace. Please refer https://staging.canonizer.com/topic/728-Topic-1-JUN-2022/1-Agreement

[2022-06-02 13:16] rupalichavan9860 commented on #1409
tested and verified

[2022-06-02 14:38] ahmed130544 commented on #1350
Ok @rupalichavan9860

[2022-06-03 06:43] saniatg commented on #1148
@rupalichavan9860 working fine now. Please confirm.

[2022-06-03 06:43] rupalichavan9860 commented on #1148
Tested and verified

[2022-06-03 10:53] rupalichavan9860 commented on #1149
@BrentAllsop I have one question
If user is delegated user of parent camp and supports child camp directly then, user should received removed support email or not?

[2022-06-03 11:01] rupalichavan9860 opened #1412 "Delegated supporter score is different than direct supporter's score"
When User A supports 3 camps and User B delegates support to User A ,then for first camp score of delegated user is different than direct supporter's score
Please refer screenshot :
![image](https://user-images.githubusercontent.com/40416610/171841559-cbcb5fa5-cce8-42f0-993c-8379766973b6.png)

[2022-06-03 13:18] BrentAllsop opened #1413 "increase the share limit in admin"
![image](https://user-images.githubusercontent.com/6559312/171861825-2941fe0c-af13-4b43-b233-4b720f94b39e.png)

We need to increase the share limit to 1 million.

[2022-06-05 11:39] BrentAllsop opened #1414 "Set default filter to 1, if there are more than 50 camps in a topic."
On a topic/camp page, set default canonizer filter to 1, if there are more than 50 camps and more than 50 supporters in that topic.

Don't close this issue till it is implemented, and is 100% automated tested in 2.0 and 3.0.

[2022-06-06 08:02] rupalichavan9860 opened #1416 "Topic Name is missing when applying as of date filter"
Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/172120681-5555c83c-3e3c-4537-ac5f-ce6a79a42f62.png)

[2022-06-06 08:19] ahmed130544 commented on #1416
Yes, @rupalichavan9860
For now to test new changes regarding score calculation for "mind experts" and "one person one vote", we have commented out the code that pull the data from Canonizer service in Canonizer 2.0 code.
@karun0607gautam commented in team group.
Will revert this commented change, when testing will be completed.

[2022-06-06 09:15] sonalizibtek commented on #1385
Tested and verified on staging. @rupalichavan9860 Please confirm once

[2022-06-06 10:05] saniatg commented on #1381
@rupalichavan9860 @ahmed130544 not able to reproduce this issue again. Closing for now.

[2022-06-06 11:40] rupalichavan9860 commented on #1408
@ahmed130544 Still can see objected camp name on supports page
![image](https://user-images.githubusercontent.com/40416610/172153747-8bbf1fbd-3720-4ef1-bbb6-d6298df748c0.png)

[2022-06-06 13:03] ahmed130544 opened #1419 "Duplicate topics are showing on main page"

[2022-06-07 06:39] sonalizibtek commented on #1147
Current implementation in the design looks like this. But the box high light color is not looking good .Please find the attached screenshot below :
![Screenshot (706)](https://user-images.githubusercontent.com/99309948/172320648-52c7a704-4ea5-48ba-a6f9-c0068ceb3e69.png)

[2022-06-07 06:53] rupalichavan9860 commented on #1160
Not an issue

[2022-06-07 06:53] #1160 closed, assigned to nobody

[2022-06-07 07:53] rupalichavan9860 commented on #1314
I can see changes in tree now but do we need to check score also
Because as of now can see same user support for both parent and child camp and total score of camp 1 is addition of camp 1 and camp 2 score
![image](https://user-images.githubusercontent.com/40416610/172326249-0b733b12-3b21-479b-ba37-00c221c82f93.png)

@BrentAllsop Can you please confirm

[2022-06-07 09:26] sonalizibtek commented on #1408
Tested and Verified. @rupalichavan9860  Please confirm once

[2022-06-07 09:44] rupalichavan9860 commented on #1408
Verified

[2022-06-08 06:18] #1419 closed, assigned to ahmed130544

[2022-06-09 07:22] subhancd commented on #1393
fixed. @rupalichavan9860 kindly, verify.

[2022-06-09 09:52] rupalichavan9860 opened #1425 ""In Review" camp name is displaying on supported camps and user supports page"
Please refer attached screenshot :
Default Filter :
Topic View Page :
![image](https://user-images.githubusercontent.com/40416610/172819085-4ccd09f3-8153-41b7-8606-eb5d00001a72.png)

Supported Camps Page :
![image](https://user-images.githubusercontent.com/40416610/172819150-c013aa6e-b03c-4b5d-a548-eac90719b502.png)

Include Review Filter :
Topic View Page :
![image](https://user-images.githubuser

[2022-06-09 10:03] rupalichavan9860 opened #1426 ""In Review" camp name is displaying on Camp forum pages"
Please refer attached screenshot :
Live camp name :
![image](https://user-images.githubusercontent.com/40416610/172821565-8c0a5002-1639-4415-bab4-574c7b11f33c.png)

Camp Forum Screenshots :
![image](https://user-images.githubusercontent.com/40416610/172821707-7f0da987-8c14-43c9-8e67-8c9438dc8d57.png)

![image](https://user-images.githubusercontent.com/40416610/172821780-76b89b8e-9e60-4115-91db-bd2

[2022-06-09 10:32] rupalichavan9860 opened #1427 ""In Review" camp name and topic name is displaying on Camp History, Add Camp Statement and Camp Statement History Bread crumbs"
Apply filter "Include Review" and check history pages bread crumbs
Please refer attached screenshot :

Live Names :
![image](https://user-images.githubusercontent.com/40416610/172826817-61b252b4-1383-466e-a624-b4f94252b725.png)

After applying "Include Review" filter :
Add Camp Statement :
![image](https://user-images.githubusercontent.com/40416610/172826960-629cd75a-04f6-4b76-88b1-450c5a108abf.pn

[2022-06-09 10:34] rupalichavan9860 commented on #1425
![image](https://user-images.githubusercontent.com/40416610/172827576-7f97d9f3-12af-4a44-a38b-50e8e49fcb56.png)

[2022-06-09 10:36] rupalichavan9860 commented on #1393
Verified

[2022-06-09 10:39] rupalichavan9860 commented on #1381
@ahmed130544 Still facing issue on staging so reopening this

Please refer attached screenshot :
Default Filter :
![image](https://user-images.githubusercontent.com/40416610/172828457-df0f6b83-d855-4ab7-a923-2afb6e176af0.png)

Include Review Filter :
![image](https://user-images.githubusercontent.com/40416610/172828367-65e5872d-14de-4d3e-890b-ddab742a42e3.png)

[2022-06-09 11:37] rupalichavan9860 commented on #1357
Tested and verified

[2022-06-09 11:50] rupalichavan9860 commented on #1412
Tested and verified

[2022-06-10 05:40] rupalichavan9860 opened #1428 "Duplicate thread is getting created"
Steps to reproduce :
1. Create thread "thread 1"
2. Create another thread "thread                          1"(same name with more than 2 spaces) and click on Submit

Expected Result :
It should display error message

Actual Result :
 Duplicate thread is getting created  .Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/172997964-d1dd92dc-58d8-4b4b-a333-f

[2022-06-13 02:55] rupalichavan9860 commented on #1147
@kshitij1326 I can see 2 borders when I click on Parent camp fields, Can you please check this

![image](https://user-images.githubusercontent.com/40416610/173271089-4074dd81-07fd-42b1-b7d5-74a37a2aa2de.png)

[2022-06-13 02:58] BrentAllsop commented on #1314
Yes, the canonizer service should be called with a topic num, camp num, canonizer algorithm, and as_of value.
Everything should be "as of" for that value, as it was at that date in the past, or as it will be if the in review goes live.

This concerns me that this is even possible.  The architecture shouldn't even allow this.
We should not be calculating things like this on the fly.
If this is occu

[2022-06-13 03:01] BrentAllsop commented on #1149
I'd think the type of support, explicit or implicit, or delegated..., or switching between any of these cases, should not change the functionality.  The user is still supporting the camp, even if the type of support has changed, so no e-mail is necessary.

[2022-06-13 04:48] rupalichavan9860 opened #1430 "Support remains added for both child and parent camp"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create New topic
4. Create 4 camps and support by User A
5. Update camp 2 and change parent camp to "camp 1" (By User B)
6. Commit changes and observe after 24 hours

Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/173281610-18c5ccc2-6ff2-41ab-b02b-7

[2022-06-13 09:06] rupalichavan9860 opened #1432 "Incorrect warning message is displaying in some cases"
Case 1 : When user is delegating support to more than one child camps , and trying to support Agreement camp directly

Expected Result : Warning should be "Warning! You have delegated your support to user “username” under this topic. If you continue your delegated support will be removed."

Actual Result : Warning is displaying as "Warning! "Agreement" is a parent camp to this list of child camps.

[2022-06-13 11:53] cd-ali-ehsan opened #1434 "Create and Client ID and Client Secret Authentication in Canonizer Service"

[2022-06-13 12:17] rupalichavan9860 commented on #1338
Tested and verified

[2022-06-13 12:28] rupalichavan9860 commented on #1373
Verified by Ashutosh

[2022-06-13 12:28] rupalichavan9860 commented on #1404
Verified by Ashutosh

[2022-06-13 12:35] rupalichavan9860 commented on #1096
@sunilspr7 Missing on Create thread page
![image](https://user-images.githubusercontent.com/40416610/173354805-227a5b60-4b08-4e34-8d81-80887af4c60d.png)

[2022-06-13 12:42] rupalichavan9860 commented on #1147
Verified.
@BrentAllsop Can you please check and close if fine for you

[2022-06-13 12:50] rupalichavan9860 commented on #1164
@karun0607gautam @BrentAllsop Whenever user added supports to new camp , score is getting added to first camp only. Is this fine ?

![image](https://user-images.githubusercontent.com/40416610/173357062-621c0954-5cf0-4031-93da-1dc8dad09662.png)

Because according to Brent comment "Yes, the actual value for the 3rd camp will be 0.125, and **this is the value that will be add in the tree, up to the a

[2022-06-13 13:15] rupalichavan9860 commented on #1398
Tested and verified

[2022-06-13 13:35] cd-ali-ehsan commented on #1314
Hi @BrentAllsop,

Currently, the Staging environment is not using Canonizer Service since there was some work being done on the Mind Expert Algorithm.

I think the issue has to do with the nature of the problem rather than the architecture of Canonizer. Users should not be allowed to change the parent of a camp because it violates the rules we have set for adding support.

- Suppose User A has add

[2022-06-13 14:44] rupalichavan9860 commented on #1430
@sunilspr7 Same issue exists for simple case below :
case :  User A created camp 1 and camp 2 and supports both and then same user change parent of camp 2 to camp 1

Actual Result :  Supports remains added for both child and parent camp

![image](https://user-images.githubusercontent.com/40416610/173379830-dee0aafe-8a3d-4684-aea5-3eb81ba0b3c5.png)

![image](https://user-images.githubusercontent.co

[2022-06-14 07:46] rupalichavan9860 opened #1436 "Incorrect total score is displaying for topic"
Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/173522325-c0ab3ebb-76df-4318-be99-bcbdd86af0ae.png)

[2022-06-14 08:40] rupalichavan9860 commented on #1365
@kshitij1326 Thread title  and post should be normal text, as of now it is displaying as bold .Also getting layout issue. Please refer below screenshot

![image](https://user-images.githubusercontent.com/40416610/173533649-321498a0-fa9a-4f1d-ae2e-502c838acf1a.png)

![image](https://user-images.githubusercontent.com/40416610/173533934-0e7660da-05d4-4d02-aab1-45b5b3845b83.png)

[2022-06-15 10:43] ahmed130544 opened #1438 "Duplicate topics are showing on main page"
On main page, some topics was showing duplicate, for example same topic is showing on both page 1 and page 2, which is wrong.
Issue was reported by Canonizer 3.0 front-end team, found issue on canonizer 2.0 as well, now fixed it in both environments.

For canonizer 3.0, following ticket is made.
https://canonizer.atlassian.net/browse/CAN-571

[2022-06-15 15:08] ahmed130544 commented on #1382
Issue exists for both topic (Agreement camp) and child camp.

[2022-06-16 06:37] rupalichavan9860 commented on #1164
@karun0607gautam As discussed in meeting total score should be 1 and need to change score according to new changes so moving this to "to do"

[2022-06-16 06:58] rupalichavan9860 opened #1440 "Incorrect score is displaying on Canonizer Main Page"
Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/174010754-0ff90c33-412f-4ac2-bbd7-daabe1803068.png)

![image](https://user-images.githubusercontent.com/40416610/174010813-24453cca-ac77-4667-94d6-76b06cee57fe.png)

[2022-06-16 06:58] sonalizibtek commented on #1438
Tested and Verified . @rupalichavan9860 Please confirm once

[2022-06-16 09:15] ahmed130544 commented on #1382
@rupalichavan9860  have a scenario,
User A login and creates a camp , and add support to it.
User B login and also support that camp.
User A added new statement, it will be in review, now User A object change request by himself. Rejected statement change is showing to User A which is fine, but not showing to User B.

AFAIK only review changes in grace period should not be visible to other direct s

[2022-06-16 09:33] rupalichavan9860 commented on #1382
@ahmed130544 Yes. We need to handle the case you mentioned

[2022-06-16 13:01] rupalichavan9860 commented on #1436
Not an issue

[2022-06-16 13:01] #1436 closed, assigned to nobody

[2022-06-16 13:05] rupalichavan9860 commented on #1438
Verified

[2022-06-16 13:41] sonalizibtek opened #1442 "Topic is not going live when user click on I agree check box"
Steps to Produce:

1. User A create a topic and two camps
2. support both camps
3. User B support both camps
4. User A change the parent of camp2 to camp1 from agreement and click on commit , it will be in review
5. User B don't agree  , and now click on submit camp based on this
6. and change the parent of camp 2 to agreement  and commit
Actual Result :
![Screenshot (782)](https://user-images.git

[2022-06-16 13:49] rupalichavan9860 opened #1443 "Canonizer Main Page : as of date filter is not working"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Observe Canonizer Main Page : Canonized list for for default filter and as of date filter

Expected Result :
It should work according to applied filter

Actual Result :
1. It is displaying more topics including moved topic( from one namespace to other)

![image](https://user-images.githubusercontent.com/40416610/174084329-000fd926-dc7

[2022-06-17 06:38] rupalichavan9860 commented on #1077
@karun0607gautam Please check below scenario :
"Rupali C " is mind experts and supporting camp "Brent Allsop" only

![image](https://user-images.githubusercontent.com/40416610/174239643-f6647b2d-a23e-4b2c-977d-88dfafdf8889.png)

![image](https://user-images.githubusercontent.com/40416610/174239507-34f748f5-7499-412d-9d9d-bf7bbec6d3bf.png)

So if I select "Mind Experts" , score should display - 1*

[2022-06-17 06:40] rupalichavan9860 commented on #1000
@karun0607gautam This is still not working .I have added comment in issue #1077

[2022-06-17 09:29] rupalichavan9860 commented on #1350
@ahmed130544 Third case is still not working .Moved topic is listing under both namespaces
Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/174270620-bdffe300-6617-4c08-adb0-265cf087ed21.png)

![image](https://user-images.githubusercontent.com/40416610/174270676-73887ccd-8192-4fc9-b580-7812603c7065.png)

[2022-06-19 10:46] karun0607gautam commented on #1077
@rupalichavan9860 this is correct as the score in case of mind expert will come from the camp in which Rupali C is an expert. Since score in that camp is 0, so it is coming 0 in case of mind expert

@BrentAllsop Can you please confirm this

[2022-06-20 04:37] rupalichavan9860 commented on #1164
@karun0607gautam Tested and verified

![image](https://user-images.githubusercontent.com/40416610/174526163-dc8dd791-b3f4-4fdb-97d5-462763bf7eeb.png)

@BrentAllsop Can you please confirm and close

[2022-06-20 06:05] #1365 closed, assigned to kshitij1326

[2022-06-20 06:05] #1336 closed, assigned to kshitij1326

[2022-06-20 06:05] #1325 closed, assigned to kshitij1326

[2022-06-20 06:05] #1326 closed, assigned to kshitij1326

[2022-06-20 06:05] #1327 closed, assigned to kshitij1326

[2022-06-20 06:05] #1330 closed, assigned to kshitij1326

[2022-06-20 08:08] sonalizibtek commented on #426
This issue is again appearing :
Please find the attached screen shot
<img width="960" alt="Screenshot (817)" src="https://user-images.githubusercontent.com/99309948/174555157-747bb2a7-4669-4915-b59e-255da1dd8a60.png">
![Screenshot (819)](https://user-images.githubusercontent.com/99309948/174555186-8ea3838a-8ed5-459b-90d0-dd1af8f579e1.png)

[2022-06-20 11:55] rupalichavan9860 commented on #1077
@BrentAllsop Score looks okay to me .Can you please test once?

[2022-06-20 11:55] rupalichavan9860 commented on #1000
@BrentAllsop Score looks okay to me .Can you please test once?

[2022-06-20 12:22] saniatg commented on #1370
@rupalichavan9860 tested on staging and is working fine. Please confirm

[2022-06-20 12:41] rupalichavan9860 commented on #1370
Verified

[2022-06-20 12:59] rupalichavan9860 commented on #1096
@sunilspr7 As per discussed in meeting, need to remove highlighted points.

![image](https://user-images.githubusercontent.com/40416610/174607010-86f08f5e-6860-4de9-bc5c-3de57ccca4e4.png)

[2022-06-20 13:00] rupalichavan9860 commented on #1350
@ahmed130544 Again I need to wait for 24 hours for 3rd case. I will check and close after 24 hours

[2022-06-21 05:09] saniatg commented on #1382
@ahmed130544 not working for the case mentioned below:

When user is not logged in this is what is seen:
 The Statement  is still incorrect that the record is in review.
![Screenshot 2022-06-21 at 11 51 16 AM](https://user-images.githubusercontent.com/91254708/174730596-ef70eaa1-f3b8-47e3-833e-f85d71ac2cf1.png)

Now log the app, the record will show. Need to fix this case
![Screenshot 2022-06-21 a

[2022-06-21 05:48] rupalichavan9860 commented on #1382
Verified

[2022-06-21 11:53] rupalichavan9860 commented on #1149
@ahmed130544 Tested. This is still not working for below scenario :
If user currently supporting "Agreement" camp and trying to support sub level child camp (child of camp 1 ) , then user is receiving removed email

[2022-06-21 12:45] saniatg commented on #1350
@ahmed130544 Not working for the 3rd case. After the record went live after 24 hours.
The live record is in "sandbox testing" namespace
But when check in the list it shows in 'General' list , not in 'Sandbox Testing' list.
![Screenshot 2022-06-21 at 5 54 45 PM](https://user-images.githubusercontent.com/91254708/174802393-e0e93085-4910-47c5-b6a5-c759bf935587.png)
![Screenshot 2022-06-21 at 5 54 28

[2022-06-22 05:30] subhancd commented on #1325
fixed.

[2022-06-22 05:36] subhancd commented on #1326
parent camp field resets. all fields shall behave in the same way.

[2022-06-22 05:43] sonalizibtek commented on #1330
Tested and Verified, its working fine @rupalichavan9860 Please confirm

[2022-06-22 05:52] rupalichavan9860 commented on #1325
Verified

[2022-06-22 05:56] subhancd commented on #1327
"Camp about nick name" field is reset. "Parent Camp" field also resets. all fields should have same behavior.

[2022-06-22 06:21] sonalizibtek commented on #1365
Tested and Verified, its working fine . @rupalichavan9860  Please confirm

[2022-06-22 06:34] rupalichavan9860 commented on #1323
@kshitij1326 Working fine for news but still not working for statement

[2022-06-22 06:45] rupalichavan9860 commented on #1365
Verified

[2022-06-22 06:51] subhancd commented on #1324
fixed

[2022-06-22 07:52] rupalichavan9860 commented on #1324
Verified

[2022-06-22 07:59] rupalichavan9860 commented on #1330
Verified

[2022-06-22 08:54] rupalichavan9860 commented on #1336
Tested and verified

[2022-06-22 09:03] rupalichavan9860 opened #1449 "Parent camp drop down value is not inline with other fields on the pages (Create New Camp and Camp Update pages)"
Please refer attached screenshot :

Create New Camp :
![image](https://user-images.githubusercontent.com/40416610/174989505-15a039c8-c99a-4ffe-92f9-2eaae8d97cb0.png)

Camp Update :
![image](https://user-images.githubusercontent.com/40416610/174989305-e618dfce-2c88-4edc-89a0-60e87ea147de.png)

[2022-06-22 09:10] rupalichavan9860 commented on #1449
Also "Nick Name" should be first field on the camp update page

[2022-06-22 09:58] sonalizibtek commented on #1381
Tested and Verified , its working fine . @rupalichavan9860  Please confirm once

[2022-06-22 13:04] rupalichavan9860 commented on #1381
Verified

[2022-06-22 15:05] #1328 closed, assigned to kshitij1326

[2022-06-22 15:06] #1449 closed, assigned to kshitij1326

[2022-06-22 15:34] rupalichavan9860 commented on #1350
Tested and verified

[2022-06-23 02:36] BrentAllsop commented on #1164
Yes, looks nice so closing this one.

[2022-06-23 02:36] #1164 closed, assigned to karun0607gautam

[2022-06-23 06:34] rupalichavan9860 opened #1455 "Incorrect message is displaying while creating new camp"
Getting below error :
![image](https://user-images.githubusercontent.com/40416610/175231184-e2f4a26f-1852-4d6a-9505-5fea31d26f0d.png)

[2022-06-23 07:03] rupalichavan9860 opened #1456 "Camps are displaying twice on manage support and choice number is getting changed"
Please refer attached screenshot :
I click on manage support- User is supporting only one camp
![image](https://user-images.githubusercontent.com/40416610/175236411-89991950-50ff-423e-86aa-60be553c733e.png)

When I submit support again on above page then choice number is getting changed to -2
![image](https://user-images.githubusercontent.com/40416610/175236302-e3b18ffa-3fcc-4fb1-ac29-b4dc82ae238c

[2022-06-23 07:07] sonalizibtek commented on #1456
After creating a topic and then create a new camp , the tree is displaying like this. Please refer the attached screen shot
![Screenshot (863)](https://user-images.githubusercontent.com/99309948/175236896-71fb764f-a3a1-4e3a-a47b-afeadfa2c6a5.png)

[2022-06-23 07:12] sonalizibtek commented on #1432
Tested and Verified. It is working fine . @rupalichavan9860 Please confirm once

[2022-06-23 08:25] rupalichavan9860 commented on #1456
@sunilspr7 Tested and verified

[2022-06-23 08:31] rupalichavan9860 commented on #1455
As of now this is working fine now so closing this

[2022-06-23 08:52] subhancd commented on #1328
fixed. @rupalichavan9860

[2022-06-23 10:18] rupalichavan9860 commented on #1416
Tested and verified

[2022-06-23 10:20] rupalichavan9860 commented on #1328
Verified

[2022-06-23 10:21] rupalichavan9860 commented on #1449
Tested and verified

[2022-06-23 12:35] rupalichavan9860 commented on #1432
Tested and verified

[2022-06-23 12:37] ahmed130544 commented on #1443
Ticket has some dependencies, need to discuss with Ashutosh and Rupali, will take time, moving ticket to next release.
@akuks @rupalichavan9860

[2022-06-23 13:49] saniatg opened #1459 "Objected record is not being seen for 'Topic History' page when a user is not logged in"
User A who is direct supporter has objected his own change for Topic and can see the objected record but not able to see when not logged in

[2022-06-23 20:49] BrentAllsop commented on #1147
Yea, I guess alphabetically is good enough, so closing this issue.

[2022-06-23 20:49] #1147 closed, assigned to kshitij1326

[2022-06-23 21:01] BrentAllsop commented on #1077
There are still problems with this.
Leon is getting the *5 reward in his [mind expert camp](https://staging.canonizer.com/topic/81-Mind-Experts/19-Leon-Maurer). even though [he is only supporting himself](http://staging.canonizer.com/user/supports/38?topicnum=81&campnum=19&namespace=13#camp_81_19).

Also, leon meur's delegate JohnDe1941 is not a mind expert.  While JohnDe1941's vote is counted in

[2022-06-23 21:04] BrentAllsop commented on #1077
This is very bad to have so many repeated close, then reopen failures like this.
We need to have automated tests for all these cases, so  nobody can even check in the code, till all of these failure cases pass the automated tests.

[2022-06-23 21:37] BrentAllsop commented on #1000
There are still problems with this.
See issue #1077 for a description of the remaining issues.

[2022-06-24 08:47] rupalichavan9860 opened #1461 "Incorrect mail content when delegated user directly supporting camp"
Steps to reproduce :
1. Create new topic By User A and create 5 camps
2. Support all 5 camps By User A
3. Login with User B and delegate support to User A in any camp
4. Try to support any camp directly

Actual Result :
User A and User B receives 5 emails each(for all camps) - removed support from `<camp name>`
and subject of email is - `<nickname>` has removed their support from `<topic name>/<ca

[2022-06-24 10:08] ahmed130544 commented on #1459
Found another issue, follow steps:
1. Create new topic by user A, supported will be added automatically.
2. Add support by user B.
3. Update topic name by User A, it will go in review.
4. Reject change request by User A, itself.
Now rejected change is showing to User A, which is fine, but not showing to User B. (Both users are logged in)
@saniatg @rupalichavan9860

[2022-06-24 12:03] saniatg commented on #1264
Also facing a related issue where "I agree to this  camp change" check box is not visible for 2nd topic/camp change

-User A is a direct supporter and  submits topic/camp change twice , commit the change and will be in review
-User B is also direct supporter and accepts 1st in review change, now the "I agree to this  camp change" check box is not visible for the 2nd change.
![Screenshot 2022-06-24

[2022-06-24 18:02] ahmed130544 commented on #1427
Topic history page:
1. Topic history page: showing live topic name in breadcrumb, working fine.
2. Edit topic name, not showing live topic name in breadcrumb, not working fine.
3. Object topic name change request, not showing live topic name in breadcrumb, not working fine.
4. Manage/Edit this camp (when no camp is created, show topic details in this section): Not showing live topic name, not work

[2022-06-24 18:48] ahmed130544 opened #1463 "Wrong parent camp name is showing in case of nested child camp"
Steps:
1. Create a topic.
2. Create a camp, let's say "camp 1".
3. Create a sub-camp of "camp 1", lets say "camp 1 child"
Now on edit this camp, showing wrong parent camp (Agreement) instead it should show "camp 1".

[2022-06-27 07:11] subhancd commented on #1327
fixed.

[2022-06-27 07:16] subhancd commented on #1326
fixed.

[2022-06-27 10:31] rupalichavan9860 commented on #1326
Verified

[2022-06-27 10:32] rupalichavan9860 commented on #1327
Verified

[2022-06-27 11:02] rupalichavan9860 commented on #1463
Verified

[2022-06-27 11:17] rupalichavan9860 commented on #1149
Verified
@BrentAllsop Can you please check and close?

[2022-06-27 11:41] rupalichavan9860 commented on #1459
Tested and verified

[2022-06-27 11:42] saniatg commented on #1382
@ahmed130544 last commented issue, is not fixed.

[2022-06-27 13:03] #644 closed, assigned to nobody

[2022-06-27 13:05] #707 closed, assigned to akuks

[2022-06-27 14:08] ahmed130544 commented on #1382
@rupalichavan9860, updated logic (all statuses including rejected and in-review) for each case topic, camp and statement, please test all these cases.

[2022-06-27 14:12] ahmed130544 opened #1466 "Write Job to remove all records, for past 30 days from Mongo database."
Due to excessive data in Mongo database, we need to constantly clean database up-to specific time interval (30 days for now).
As in Mongo we create cache off all topics (from MySQL database) on daily basis, so it will not create any issue.

[2022-06-28 05:45] rupalichavan9860 opened #1467 "Default algorithm is not selected on Main page and topic view"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Account Settings ->Profile Info
4. Select any algorithm from "Choose default algorithm preferences " other than "One Person One Vote"
5. Log out and again login

Expected Result :
When user logged in , by default selected algorithm should be-  selected algorithm from account settings

Actua

[2022-06-28 08:23] rupalichavan9860 opened #1468 ""In review" topic name is displaying on Camp forum pages"
Apply "include review" filter on topic view page/select View this version(in review record)  and click on "Camp Forum" and observe bread crumb topic name camp forum -post page

Please refer attached screenshot :

Live topic Name :
![image](https://user-images.githubusercontent.com/40416610/176131045-d5b3cce5-dbcf-46b6-9113-e7255be02c15.png)

Issue :

![image](https://user-images.githubusercontent.

[2022-06-29 06:30] saniatg commented on #1382
@rupalichavan9860 working fine. Please confirm

[2022-06-29 06:57] rupalichavan9860 commented on #1382
Verified

[2022-06-29 11:32] rupalichavan9860 opened #1471 "Delegated supports are getting removed"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password(User A)
3. Create and support "camp 1" by User A
4. Login with User B and delegate support to User A in "camp 1"
5. Login with User C and delegate support to User B in "camp 1"
6. Login with User D and delegate support to User C in "camp 1"
7. Login with User E and  support  "camp 1" directly
8. Cre

[2022-06-29 12:21] BrentAllsop commented on #1430
This is as designed. Adding agenda item to discuss this for Thursday's engineering meeting.

[2022-06-30 05:26] sonalizibtek commented on #1354
Tested and Verified. @rupalichavan9860  Please confirm once

[2022-06-30 05:31] rupalichavan9860 commented on #1354
Verified

[2022-06-30 06:30] kshitij1326 commented on #1199
Fixed in another issue #1323

[2022-06-30 06:32] rupalichavan9860 commented on #1199
Verified

[2022-06-30 11:58] karun0607gautam commented on #1000
@BrentAllsop  can you please check mind expert algorithm changes

[2022-06-30 11:59] karun0607gautam commented on #1077
@BrentAllsop Please test mind expert algorithm fixes

[2022-06-30 12:33] BrentAllsop commented on #1077
There are 3 supporters of this '[Mind Expert](https://staging.canonizer.com/topic/81-Mind-Experts/19-Leon-Maurer)' camp.  Only one of them is an expert (has a mind expert camp).  Mike Gashler, correctly  has no "mind expert" score, but, similarly, JohnDe1941, should not have a score, since he is also not a mind expert.

[2022-06-30 13:24] BrentAllsop commented on #1430
I take my last comment back.  Removing the parent support is a good solution.

[2022-06-30 14:38] BrentAllsop commented on #1000
Yes, these are now working, so closing this issue.

[2022-06-30 14:38] #1000 closed, assigned to karun0607gautam

[2022-06-30 14:39] BrentAllsop commented on #1077
Yes, everything is working now, so closing this issue.

[2022-06-30 14:39] #1077 closed, assigned to karun0607gautam

[2022-06-30 14:52] BrentAllsop commented on #1149
Yes, I verified this is working, so closing this issue.

[2022-06-30 14:52] #1149 closed, assigned to ahmed130544

[2022-06-30 14:56] BrentAllsop commented on #1430
Rupali verified this is working, so closing this.

[2022-06-30 16:31] saniatg opened #1475 "Pagination must not be seen when there are no records under Canonized list for when applied filter"
1. Apply filter  greater than 0 in the  Canonizer main page
2. Now click on pagination 2

Actual result : there are no records
Expected result: Pagination must not se seen when there are no record
![Screenshot 2022-06-30 at 9 47 26 PM](https://user-images.githubusercontent.com/91254708/176730081-3e0a6c81-040e-434b-b928-fed1b7a4cdc2.png)
s

[2022-07-01 06:38] subhancd commented on #1443
**Case**
**Pre-conditions**
- As of "Default"
- Algorithms "Computer science experts", "Ph.D", "Christian", "Mormon", "Universal Unitarian", "Atheist", "Transhumanist", "United Utah", "Republican", "Democrat", "Canonizer Shares", "Canonizer Canonizer"
- Namespace /general/
**Actual Result**
The topics are not ordered on the basis of score when user moves through pages.

[2022-07-01 10:50] sunilspr7 commented on #1467
sorry wrong ticket mentioned

[2022-07-05 07:56] sunilspr7 commented on #1377
@BrentAllsop and @rupalichavan9860  this issue is already solved against the ticket id #1432

[2022-07-05 09:37] #1298 closed, assigned to kshitij1326

[2022-07-05 09:37] #1323 closed, assigned to kshitij1326

[2022-07-05 09:37] #1321 closed, assigned to kshitij1326

[2022-07-05 10:39] subhancd commented on #1321
working fine @rupalichavan9860

[2022-07-05 10:44] sonalizibtek commented on #1298
Tested and Verified. Its working fine @rupalichavan9860 Please confirm once

[2022-07-05 10:55] subhancd commented on #1346
working fine @rupalichavan9860

[2022-07-05 11:01] subhancd commented on #1323
working fine @rupalichavan9860

[2022-07-05 11:18] rupalichavan9860 commented on #1346
@sunilspr7 Supports are getting removed now .But I am facing below issue,
Scenario :
User A supports camp 1, camp 2 and camp 3, Now click on Manage Support -Remove All and Click on cross icon of camp 3 and then Submit

Expected Result :
Supports should get removed from camp 1 and camp 2 but choice number of camp 3 should be 1

Actual Result :
Choice number for camp 3 is displaying as "3"
![image](

[2022-07-05 11:26] rupalichavan9860 commented on #1323
Verified

[2022-07-05 11:36] rupalichavan9860 commented on #1298
Verified

[2022-07-05 12:03] akuks opened #1476 "Mind Experts algorithm is taking time to load when Theories and Consiousness Topic is selected."
On the canonizer 2.0 if we select the Mind Expert algorithm and then the page is not loading.

[2022-07-05 12:07] rupalichavan9860 opened #1477 "Old Topic name is displaying under "Canonizer Sorted Camp Tree" on default filter"
Please refer attached screenshot :

![image](https://user-images.githubusercontent.com/40416610/177323749-0f18ce3a-e4de-43e1-8172-249c3bd5c85a.png)

![image](https://user-images.githubusercontent.com/40416610/177323656-0fa84ea7-2859-4bf6-9810-dc376f024ea1.png)

[2022-07-05 14:33] sonalizibtek commented on #1096
Tested and Verified . @rupalichavan9860 , Please confirm once

[2022-07-05 14:56] sonalizibtek commented on #1432
Tested and Verified. @rupalichavan9860 Please confirm once

[2022-07-05 14:57] sonalizibtek commented on #1377
Tested and Verified. @rupalichavan9860 Please confirm once

[2022-07-06 04:18] rupalichavan9860 commented on #1096
Verified

[2022-07-06 04:26] rupalichavan9860 commented on #1471
Tested and verified

[2022-07-06 04:27] rupalichavan9860 commented on #1369
Tested and verified

[2022-07-06 04:55] rupalichavan9860 commented on #1310
Verified

[2022-07-06 04:55] rupalichavan9860 commented on #1321
Verified

[2022-07-06 04:56] rupalichavan9860 commented on #1377
@BrentAllsop Can you please check and confirm?

[2022-07-07 11:06] ahmed130544 opened #1478 "Create a route url to generate all topics trees in Mongo database"

[2022-07-10 20:46] BrentAllsop opened #1479 "bad limit on birthday year in profile info page"
The birthday field in the profile info page is too limited.
It should go back to 1900.

Don't close this issue till we are sure it is fixed, or at least not an issue in 3.0.

[2022-07-13 15:46] rupalichavan9860 commented on #1363
Verified on production

[2022-07-13 15:46] #1363 closed, assigned to kshitij1326

[2022-07-13 15:48] rupalichavan9860 commented on #1372
Verified on production

[2022-07-13 15:48] #1372 closed, assigned to ahmed130544

[2022-07-13 15:51] rupalichavan9860 commented on #1408
Verified on production

[2022-07-13 15:51] #1408 closed, assigned to ahmed130544

[2022-07-13 15:55] rupalichavan9860 commented on #1328
Verified on live

[2022-07-13 15:58] rupalichavan9860 commented on #1197
Verified on live

[2022-07-13 15:58] #1197 closed, assigned to kshitij1326

[2022-07-13 16:06] rupalichavan9860 commented on #1164
Verified on production

[2022-07-13 17:45] rupalichavan9860 commented on #1354
Verified on production

[2022-07-13 17:45] #1354 closed, assigned to ahmed130544

[2022-07-13 17:47] rupalichavan9860 commented on #1367
Verified on production

[2022-07-13 17:47] #1367 closed, assigned to kshitij1326

[2022-07-13 17:48] rupalichavan9860 commented on #1184
Verified on production

[2022-07-13 17:48] #1184 closed, assigned to kshitij1326

[2022-07-13 17:54] rupalichavan9860 commented on #1405
Verified on production

[2022-07-13 17:54] #1405 closed, assigned to karun0607gautam

[2022-07-13 17:56] rupalichavan9860 commented on #1324
Verified on production

[2022-07-13 17:56] #1324 closed, assigned to kshitij1326

[2022-07-13 17:58] rupalichavan9860 commented on #1336
Verified on production

[2022-07-14 03:04] sonalizibtek commented on #1377
Tested on Production, its working fine @rupalichavan9860 Please confirm once

[2022-07-14 03:10] sonalizibtek commented on #1324
Tested on Production. its working fine @rupalichavan9860 Please confirm

[2022-07-14 05:38] rupalichavan9860 commented on #1409
Verified on production

[2022-07-14 05:38] #1409 closed, assigned to karun0607gautam

[2022-07-14 05:55] rupalichavan9860 commented on #1370
Verified on production

[2022-07-14 05:55] #1370 closed, assigned to kshitij1326

[2022-07-14 05:58] rupalichavan9860 commented on #1147
Verified on production

[2022-07-14 06:06] sonalizibtek commented on #1377
Tested in Production. It is working fine @rupalichavan9860 Please confirm once

[2022-07-14 06:08] rupalichavan9860 commented on #1326
Verified on production

[2022-07-14 06:14] rupalichavan9860 commented on #1377
Verified

[2022-07-14 06:14] #1377 closed, assigned to sunilspr7

[2022-07-14 06:17] sonalizibtek commented on #1438
Tested on Production. It is working fine. @rupalichavan9860 Please confirm once

[2022-07-14 06:17] rupalichavan9860 commented on #1393
Verified on production

[2022-07-14 06:17] #1393 closed, assigned to kshitij1326

[2022-07-14 06:20] sonalizibtek commented on #1329
Tested on Production. It is working fine. @rupalichavan9860 Please confirm

[2022-07-14 06:25] rupalichavan9860 commented on #1329
Verified

[2022-07-14 06:25] #1329 closed, assigned to ahmed130544

[2022-07-14 06:29] rupalichavan9860 commented on #1416
Verified on production

[2022-07-14 06:29] #1416 closed, assigned to ahmed130544

[2022-07-14 06:36] sonalizibtek commented on #1318
Tested in Production. It is working fine @rupalichavan9860 Please confirm once

[2022-07-14 06:45] rupalichavan9860 commented on #1327
Verified on production

[2022-07-14 06:55] sonalizibtek commented on #1330
Tested on Production. It is working fine. @rupalichavan9860 Please confirm once

[2022-07-14 07:05] sonalizibtek commented on #1432
Tested on Production. It is working, @rupalichavan9860 Please confirm once

[2022-07-14 07:06] rupalichavan9860 opened #1483 "Error messages on Edit news should not be clickable"
Error messages on edit news page are clickable

Please refer attached screenshot :
![image](https://user-images.githubusercontent.com/40416610/178922349-8a108f73-14a7-4b99-b171-3fc3423cd431.png)

Expected Result :  Error messages on Edit news should not be clickable

[2022-07-14 07:17] rupalichavan9860 commented on #1330
Verified

[2022-07-14 07:22] rupalichavan9860 commented on #1432
Verified

[2022-07-14 07:22] #1432 closed, assigned to sunilspr7

[2022-07-14 07:36] sonalizibtek commented on #1298
Tested on Production. It is working fine. @rupalichavan9860 Please confirm once

[2022-07-14 07:43] sonalizibtek commented on #1148
Tested on Production . It is working fine . @rupalichavan9860  Please confirm once

[2022-07-14 07:46] sonalizibtek commented on #1325
Tested on Production .It is working fine . @rupalichavan9860  Please confirm once

[2022-07-14 08:37] rupalichavan9860 commented on #1325
Verified

[2022-07-14 08:50] rupalichavan9860 commented on #1199
Verified on production

[2022-07-14 08:50] #1199 closed, assigned to nobody

[2022-07-14 09:09] rupalichavan9860 commented on #1298
Verified

[2022-07-14 09:21] rupalichavan9860 commented on #1334
Verified on production

[2022-07-14 09:21] #1334 closed, assigned to sunilspr7

[2022-07-14 09:52] sonalizibtek commented on #1096
Tested on Production .It is working fine @rupalichavan9860 Please confirm once

[2022-07-14 10:01] sonalizibtek commented on #1463
Tested on Production. It is working fine.@rupalichavan9860 Please confirm once

[2022-07-14 11:30] rupalichavan9860 commented on #1463
verified

[2022-07-14 11:30] #1463 closed, assigned to ahmed130544

[2022-07-14 11:31] rupalichavan9860 commented on #1096
Verified

[2022-07-14 11:31] #1096 closed, assigned to sunilspr7

[2022-07-14 11:38] rupalichavan9860 commented on #1148
Verified

[2022-07-14 11:38] #1148 closed, assigned to kshitij1326

[2022-07-14 15:46] rupalichavan9860 commented on #1318
Verified

[2022-07-14 15:46] #1318 closed, assigned to ahmed130544

[2022-07-14 15:57] rupalichavan9860 commented on #1369
Verified on production

[2022-07-14 15:57] #1369 closed, assigned to sunilspr7

[2022-07-14 15:58] rupalichavan9860 commented on #1323
Verified on production

[2022-07-14 16:15] rupalichavan9860 commented on #1311
Verified on production

[2022-07-14 16:15] #1311 closed, assigned to sunilspr7

[2022-07-14 16:18] rupalichavan9860 commented on #1412
Verified on production

[2022-07-14 16:18] #1412 closed, assigned to karun0607gautam

[2022-07-14 16:23] rupalichavan9860 commented on #1338
Verified on production

[2022-07-14 16:23] #1338 closed, assigned to sunilspr7

[2022-07-14 16:39] rupalichavan9860 opened #1485 "On Live : Count of topics on browse and count of topics on Canonizer Main page is mismatching"
Select General namespace on browse page and count number of topics and for same namespace check on canonizer main page

Expected Result :
Count should match

Actual Result :
Count of topics on browse and count of topics on Canonizer Main page is mismatching

[2022-07-15 05:01] rupalichavan9860 commented on #1471
Verified on production

[2022-07-15 05:01] #1471 closed, assigned to sunilspr7

[2022-07-15 05:12] rupalichavan9860 commented on #1456
Verified on production

[2022-07-15 05:12] #1456 closed, assigned to sunilspr7

[2022-07-15 06:16] rupalichavan9860 commented on #1438
Verified

[2022-07-15 06:16] #1438 closed, assigned to ahmed130544

[2022-07-15 06:18] rupalichavan9860 commented on #1455
Verified on production

[2022-07-15 06:18] #1455 closed, assigned to nobody

[2022-07-15 06:27] sonalizibtek commented on #1381
Tested on Production. Its working fine @rupalichavan9860 Please confirm once

[2022-07-15 07:13] sonalizibtek commented on #1449
Tested on Production. It is working fine @rupalichavan9860 Please confirm once

[2022-07-15 07:21] rupalichavan9860 commented on #1449
Verified

[2022-07-15 07:51] sonalizibtek commented on #1365
Tested on Production. It is working fine . @rupalichavan9860 Please confirm once

[2022-07-15 09:17] rupalichavan9860 commented on #1466
Verified by @akuks on live so closing this

[2022-07-15 09:17] #1466 closed, assigned to ahmed130544

[2022-07-15 09:17] rupalichavan9860 commented on #1404
Verified by @akuks on live so closing this

[2022-07-15 09:17] #1404 closed, assigned to kshitij1326

[2022-07-15 09:18] rupalichavan9860 commented on #1373
Verified by @akuks on live so closing this