[2018-01-03 05:17] akuks opened #1 "Canonizer 2.0 - Develop a Front Page Layout"
Develop a Front Page Layout for Canonizer 2.0 Web application.

[2018-01-03 05:30] akuks opened #2 "Canonizer 2.0 - Develop UMS (User Management System)"
The Canonizer application must have:

1. **Guest Mode**
2. **Registered User**
3. **Logged In**

**Registered User** can be determined via cookie, but the user is not yet logged in.
The user can browse, and use default settings, but the user wouldn't set or modify the user setting or contribute in any way in the Canonizer Application.

[2018-01-03 05:33] akuks opened #3 "Canonizer 2.0 must have ability to reclaim 1.0 user account"
User accounts from Canonizer 1.0 must have seamlessly transferred to Canonizer 2.0

[2018-01-03 05:47] akuks opened #4 "Canonizer 2.0 UMS Management"
UMS (User Management System) must have a management settings page. Following are the features that
should be the part of the management page:

1. Manage nicknames (both private and public) used to identify contributions.
2. Ability to change things like e-mail, password, and other settings/preferences, like default canonizer algorithm.

[2018-01-03 05:59] akuks opened #5 "Canonized Topic with Camps outline displayed on front page and camp pages"
1. Topic with Camps Outline must display on the Front Page.
2. Topic with Camps Outline must display on the Camp Pages.

[2018-01-03 06:19] akuks opened #6 "Canonizer 2.0 - New Topic and Camp Pages"
1. The user must be able to create new **Topics**.
2. The user must be able to create new **Camps**.

[2018-01-03 06:42] akuks opened #7 "Canonizer 2.0 Topic, Camp and Camp Text History Pages"
1. Ability to See all the versions of topics, camps, and camp text on their history pages.
2. History pages are in a sorted manner.
3. The Version must be shown as Yellow if it is not yet live.
4. The Version must be shown as Green if it is live.
5. The Version must be shown as Red if someone objected it.
6. All remaining old version will be shown in blue.
7. It should display the **submitted** Da

[2018-01-03 06:58] akuks opened #8 "Canonizer 2.0 Camp Forums"
1. Must have Threaded Forums.
2. Link to camp forum page for each camp.See 1.0 version and formatting of the forum thread page here: https://web.archive.org/web/20120525223652/http://canonizer.com/forum.asp/88/6
3. Must have the ability to scroll back through all camp threads and discussions, for all time.  1.0 version used 10 posts per page and had a page index link bar.
4. Must have the ability

[2018-01-04 03:26] akuks opened #9 "Canonizer 2.0 Wiki Text System (WTS)"
1. WTS needs to implement to display the camp pages.
2. A tool or method needs to be developed to convert all versions of all camp statements from the purple wiki formatting used in the 1.0 system to the Wikimedia format.

[2018-01-04 03:28] akuks opened #10 "Canonizer 2.0 Help and Description system"
Help and Description system needs to be designed and implemented.
This should probably include redesigning what text is displayed on the main page.

[2018-01-04 03:28] akuks commented on #10
Karl Kjer should review and help with all user-facing text.

[2018-01-04 03:55] akuks commented on #9
**Wiki Parser**
For the time being, use one of the available PHP wiki parsers, some good ones are listed here:
https://www.mediawiki.org/wiki/Alternative_parsers

List of possibilities for initial wiki parser:
**Wiky.php**
*Link :* https://github.com/lahdekorpi/Wiky.php
*Description : * A tiny PHP library that uses only regular expressions to convert Wiki markup to HTML.
This one looks very simple

[2018-01-04 04:02] akuks opened #11 "Canonizer 2.0 Auto Delegation"

[2018-01-04 04:03] akuks commented on #11
This feature will be available in the next release of Canonizer.

[2018-01-16 05:30] akuks commented on #8
There is an issue in the old database that none of the threads have the creation date. It is discussed that:
1. Choose the creation date with the oldest reply on the thread.
2. Move the threads having posts.

[2018-01-16 05:34] akuks opened #12 "Canonizer 2.0 database missing the foreign key relationship."
Canonizer 2.0 database missing the foreign key relationship. This needs to be fixed because it can increase the chances of updating the garbage value in the database.

[2018-01-16 05:35] akuks commented on #12
It is not the Minimum Viable functionality so it can be fixed after the first release.

[2018-01-19 10:12] gautamv16 commented on #6
100%

[2018-01-19 10:12] #6 closed

[2018-02-09 06:08] akuks opened #13 "[Canonizer Forum] User must be able to update his/her own threads."
The user must be able to update threads created or owned by the user

[2018-02-09 06:08] akuks commented on #13
This feature will be the part of next release of canonizer.

[2018-02-09 06:10] akuks opened #14 "[Canonizer Forum] User must be able to update his/her own posts"
The user must update the post (owned by the user) to threads.

[2018-02-09 06:10] akuks commented on #14
This feature will be added in the next release of Canonizer.

[2018-02-09 06:11] akuks commented on #8
Forums are created and integrated with the canonizer application.

[2018-02-09 06:11] #8 closed

[2018-02-09 06:15] akuks opened #15 "Canonizer Database Cleanup"
Database Cleanup is required in the Canonizer application.

[Canonizer_DB_Model_08022018.zip](https://github.com/the-canonizer/canonizer.2.0/files/1709926/Canonizer_DB_Model_08022018.zip)

[2018-02-09 06:20] gautamv16 commented on #7
This is done.

[2018-02-09 06:20] #7 closed

[2018-02-09 06:21] gautamv16 commented on #3
Done

[2018-02-09 06:21] #3 closed

[2018-02-09 06:23] gautamv16 commented on #1
Done @karun

[2018-02-09 06:23] #1 closed

[2018-02-09 06:24] gautamv16 commented on #2
Done

[2018-02-09 06:24] #2 closed

[2018-02-09 06:26] gautamv16 commented on #4
#1 and #2 partially done. Default canonizer algorithm setting needs to be implement @karun you need to get it done. Then i will implement the algorithm based on default setting.

[2018-02-09 06:27] gautamv16 commented on #10
@BrentAllsop please provide some more detail what it is exactly and what need to done in this.

[2018-02-09 06:28] gautamv16 commented on #9
@karun is working on this.

[2018-02-09 06:29] gautamv16 commented on #5
Done

[2018-02-09 06:29] #5 closed

[2018-02-09 06:33] gautamv16 opened #16 "Canonizer 2.0 Algorithms"
There are 10 algorithms need to be developed.

#1 filter topic

#2 outline topic / camp based on algorithm

[2018-02-09 06:34] gautamv16 opened #17 "Canonizer 2.0 Internal Search / Web Google Search"
# Internal Search / Web Google Search

[2018-02-09 06:36] gautamv16 opened #18 "Canonizer 2.0 Database cleanup changes in developed canonizer2.0 application"
Needs to clean and change code according to the database cleanup done.

[2018-02-19 08:38] gautamv16 opened #20 "Browse Topic"
Create a listing page for all topic in alphabatical order. with topic name and topic title.

[2018-02-19 17:03] CanonizerJim opened #21 "Fix canonizer selection box"
Currently we have "Algorithm Information:" at the top. Move this below the algorithm selection box. Remove the colon and make it a link to a page that describes the currently selected algorithm.

Currently we have "Canonizer Algorithm:"  Move that above the selection box.

[2018-02-20 12:32] gautamv16 commented on #21
Fixed

[2018-02-20 12:32] #21 closed

[2018-02-20 12:33] gautamv16 commented on #18
Done

[2018-02-20 12:33] #18 closed

[2018-02-20 12:35] gautamv16 commented on #17
Done

[2018-02-20 12:35] #17 closed

[2018-02-21 02:09] BrentAllsop opened #22 "Create Wordpress Instance on canonizer.com"
We want to be able to insert frames on canonizer.com pages with content from wordpress.

[2018-02-21 02:12] BrentAllsop opened #23 "Set up canonizer.com db backup process."
We want to be sure we never ever will loose any data.
Need multiple copies, and abilities to take periodic snapshots.

[2018-02-21 02:15] BrentAllsop opened #24 "Add new topic name_space system."
Create a new table containing records of hierarchical name spaces.
Each topic should belong to a namespace (in 1.0 system null name space represents "general")
Add administrator abilities to create new name spaces.
pre populate the table with the values from the name_space fields, ad update topics to reference these namespace records.

[2018-02-21 04:26] akuks commented on #23
I will work on the backup DB script.

[2018-03-06 15:29] gautamv16 commented on #20
IT requires namespace filter. Pending

[2018-03-06 15:31] #15 closed

[2018-03-06 15:32] gautamv16 commented on #9
Need to replace img with file

[2018-03-08 15:29] BrentAllsop opened #25 "Set up main canonizer.com DB, replication, backup process."
* have two seperate versions of the MySQL database (for canonizer and blog)
    - One for production.
    - One for Staging (on http://staging.canonizer.com)
* Create a replication process so we can do one way replication of data from live to staging, and to other canonizer.com instances for development...

[2018-03-16 16:38] gautamv16 commented on #20
Done

[2018-03-16 16:38] #20 closed

[2018-03-16 16:40] gautamv16 commented on #9
Done

[2018-03-16 16:40] #9 closed

[2018-03-16 16:41] #4 closed

[2018-03-19 02:04] BrentAllsop opened #26 "special characters in the statement text are all messed up."
Here is just one example of a snippet of text in this camp:

https://canonizer.com/canonizer2.0/public/topic/88-Macro-Material-Property-Dualism/36

" In the idealized theory world, this would be â€˜â€™â€™glutamateâ€™â€™â€™. For grenness, weâ€™ll say itâ€™s another random neurotransmitter like say â€˜â€™â€™glycineâ€™â€™â€™."

These values were just fine in the 1.0 version, so we need to figure out

[2018-03-19 02:17] BrentAllsop opened #27 "People should be able to browse, everything, without logging in."
People (and especially search robots) should be able to browse, everything, without having to log in.
They should only be required to log in, any time they want to make a contribution of any kind.
If we don't know who they are, they should be operating as a "guest", and still be able to save session state (like their currently selected canonizer).

Once they log in, we should save a cookie indicat

[2018-03-19 02:30] BrentAllsop opened #28 "Make 1.0 links work in 2.0 systems (including testing systems)."
Many camp statements contain references using this 1.0 form of URL:

https://canonizer.com/topic.asp/53/11

the current 2.0 system uses this form:

https://canonizer.com/canonizer2.0/public/topic/53-Mind-Experts/11
or
https://canonizer.com/canonizer2.0/public/topic/53-Mind-Experts/11

We need to make the following work:
•	All old references should work in the 2.0 system.
o	If we can’t make them wo

[2018-03-20 11:09] gautamv16 commented on #26
@BrentAllsop after investigating the issue, i found that data of latest version statement is in this format in our database which you sent us earlier. So these camps data is corrupted and need add such content again. So lets discuss what will be the process for it and who will do it.

[2018-03-20 11:11] gautamv16 commented on #16
Done

[2018-03-20 11:11] #16 closed

[2018-03-20 11:12] gautamv16 commented on #24
Admin panel dashboard is left from where admin can approve namespaces or can add new namespace.

[2018-03-21 08:12] gautamv16 commented on #27
Solved

[2018-03-21 08:12] #27 closed

[2018-03-24 04:17] BrentAllsop opened #29 "Parent links in camp header use old camp values."
The parent links in the header of camp pages like this:

https://canonizer.com/canonizer2.0/public/topic/88-Macro-Material-Property-Dualism/36

use values from old versions of the camps.

Also rather than have two versions of the code executing separately, it should just use the same data in the outline.

[2018-04-03 12:25] gautamv16 commented on #29
Done

[2018-04-03 12:25] #29 closed

[2018-04-03 12:26] gautamv16 commented on #24
Done

[2018-04-03 12:26] #24 closed

[2018-04-09 10:05] #26 closed

[2018-04-17 13:39] gautamv16 opened #30 "Convert All Old Wiki text / image to the text stuff used in the forums."
Convert All Old Wiki text / image to support media wiki format.

[2018-04-19 15:09] BrentAllsop opened #31 "Set up canonizer.com e-mail aliases."
set up the following e-mail addresses:

karl.kjer@canonizer.com  -> karl.kjer@gmail.com

support@canonizer.com   ->  assuredservices.28@gmail.com
help@canonizer.com
kinari@kanonizer.com

[2018-04-21 22:21] BrentAllsop opened #32 "Can't get the rest of the topics on the main page."
It seems like on windows chrome and IE, I can't get the home page to list any more than the first 10 topics.
But it does seem to work on Chrome, on my android phone.

[2018-04-23 05:36] gautamv16 commented on #31
Its taking time as on new server whole email server setup system needs to install and configure. Due to some misconfigurations, its creating problem, still working on it. Will figure out soon.

[2018-04-23 15:42] #23 closed

[2018-04-23 15:42] #25 closed

[2018-04-23 15:54] BrentAllsop opened #33 "Create method to insert camp outline in blog post."

[2018-04-24 14:05] BrentAllsop opened #34 "When you set the as_of value to include review, it does not show latest review version."
When you set the as_of value to include review, it does not show latest review version.

[2018-04-25 16:19] BrentAllsop opened #37 "genaral should be spelled: general"
The list to select for topic name spaces contains the choice spelled: genaral.

The correct spelling is general.

[2018-04-25 16:25] BrentAllsop opened #38 "remove all language selection references in UI."
For example, in the create topic UI page there is a language selection box that needs to be removed.

We have fields in the DB, for future language use, but we don't want any of this in the UI, yet.

[2018-04-26 10:54] gautamv16 commented on #31
@BrentAllsop please check test and close the issue.

[2018-04-26 10:55] gautamv16 commented on #34
@KKjer  and @BrentAllsop  please test and close the issue once confirmed on staging

[2018-04-26 10:55] gautamv16 commented on #30
@BrentAllsop please test and close this feature

[2018-04-26 10:58] gautamv16 commented on #32
@BrentAllsop  your browser have issue due to ads. Please tryt to re-install chrome and test it. Once tested please close this issue

[2018-04-26 15:32] BrentAllsop opened #39 "When there is no support, go live instantly (submit time = go live time)"
If there is no support, we don't need approval of anyone, so go live instantly.

[2018-04-26 16:23] BrentAllsop opened #40 "<nowiki> </nowiki> tags are having problems."
In order to create the help pages for wiki markup, we need to use the <nowiki> tag to turn of wiki parsing, and just display text as is.

When you add a <nowiki> tag, it does turn of wiki parsing, but it also displays the <nowiki> tag.  It should not display the <nowiki> tag.

You should be able to turn wiki parsing back on, with the close xml tag: </nowiki>.  But this is not working, it just cont

[2018-04-26 16:28] gautamv16 commented on #40
@brent can you send me link for that topic statement where this happens..

*With Highest Regards*

*Varun Gautam*

*Software Developer*

*+91-9888-207706*

*gautamv16@gmail.com <gautamv16@gmail.com>*

*Great Minds Think Alike*

On Thu, Apr 26, 2018 at 9:53 PM, BrentAllsop <notifications@github.com>
wrote:

[2018-04-26 17:09] BrentAllsop opened #41 "Fixes to the history page."
* Change the label of the submit button to include: "Submit Statement Update Based On This".
* When there is no history, there is no way to "Submit Statement Update Based On This".  There should be a "Create New Camp Statement", not associated with any history object.
* Add a 3rd button for each history object that will take the user to that object, with an "as_of" value = "go live time" of that v

[2018-04-26 18:31] BrentAllsop opened #42 "Name and Title issues."
Names need to be limited to 30 characters.
Make the label on the edit page be: "Name (Limit 30)"
Make this change to the DB schema.

[2018-04-26 18:47] BrentAllsop commented on #39
When you create a new topic set the go_live time to be the same as submit time.
Also create a new support record for the topic with the same nic_id.

Currently, if you try to add support to a camp, with a conflicting (parent or child) support record, it disallows it.  You must manually remove the conflicting support, then come back to add the desired support.

We want to change this, so that inste

[2018-04-27 11:50] gautamv16 commented on #39
@BrentAllsop this task has been completed and deployed on production, staging. Please test the flow properly.

Thanks

[2018-05-01 15:23] BrentAllsop opened #43 "Inforce single nick name in all of topic."
In order to avoid "sock puppet", we must never allow a person to submit anything to a topic/camp/camp forum with a different nick_name, than the fist one he used on this topic.

When a person makes a request for any change or post to a topic/camp, we must check to see if he already has a nick_name for that topic.  If so, he will not have a chance to select a different one.  If not, we will give hi

[2018-05-02 10:57] gautamv16 commented on #42
@BrentAllsop this is solved

[2018-05-02 11:05] gautamv16 commented on #38
@BrentAllsop solved updated on staging server for testing

[2018-05-02 11:07] gautamv16 commented on #31
@BrentAllsop please close this issue if its tested and working.

[2018-05-02 23:58] BrentAllsop commented on #42
@gautamv16  This is working good for camps.
I think we should also make this same limit on topic names.

[2018-05-03 00:01] BrentAllsop commented on #40
@gautamv16
The current live statement of this topic uses the <nowiki> and </nowiki> tags, and they don't currently work:
http://staging.canonizer.com/topic/73-purple-wiki-text/1

[2018-05-03 00:05] BrentAllsop commented on #39
I verified that this was resolved.

[2018-05-03 00:06] BrentAllsop commented on #38
I verified that this has been resolved.

[2018-05-03 00:06] #38 closed, assigned to nobody

[2018-05-03 10:51] gautamv16 commented on #42
@BrentAllsop its done.

[2018-05-03 11:01] #37 closed, assigned to nobody

[2018-05-03 11:02] gautamv16 commented on #34
@BrentAllsop @KKjer please test the flow and close the issue

[2018-05-03 11:03] #31 closed, assigned to nobody

[2018-05-03 14:40] BrentAllsop commented on #42
@gautamv16
I can't test this yet, when I try to create a new topic, it says:
"Error!This topic is not live yet, you dont have access to view the detail. Please try after sometime."

Unrelated, but rather than create issues for these minor issues, could you fix them before clossing this issue?
there should be a space between "Error!This"
And could you set the default namespace to be General, so you

[2018-05-03 14:42] #34 closed, assigned to nobody

[2018-05-03 14:47] BrentAllsop commented on #32
@gautamv16
I cleared cache and everything, but still can't seem to get more than 10 topics.
The same is true in IE and Chrome.

[2018-05-03 14:56] BrentAllsop commented on #39
Ooops, another related issue, so reopened this, rather than create a new one.

If you submit a modification to a topic, camp, statement, and you are the only supporter, it should go live instantly, the same as if there was no support.

[2018-05-04 10:52] gautamv16 commented on #42
@BrentAllsop  please test all these issues and flow according to various conditions or test cases to make sure everything is covered.

[2018-05-04 10:59] gautamv16 commented on #39
@BrentAllsop please test all cases. Modified the flow.

Please test for following cases.

1. If there is 0 support

2. If you are the only supporter

3. If there are other supporters.

In all 3 cases results needs to be tested and confirmed to close this ticket.

[2018-05-04 11:00] gautamv16 opened #45 "Canonizer - Email system flow"
Develop a email communication system for each event.

[2018-05-04 20:22] KKjer opened #46 "System crashes if you submit without a nickname selected."
We submitted a new statement (edit) without having selected a "nickname" (field was blank for nickname). The system crashed. To test, we did the same thing, but this time, selecting a nickname, and it was fine.

[2018-05-04 21:45] BrentAllsop commented on #42
@varun
Yea, everything checks out fine.
Except I wonder if you could change this label for the Namespace, when working on a new topic:

Namespace (General is recommended, unless you know otherwise):

[2018-05-05 08:02] gautamv16 commented on #46
@KKjer its solved. Please test with same test case again and confirm the fix. If done please close the ticket.

[2018-05-05 08:03] gautamv16 commented on #42
@BrentAllsop done. Please confirm and close the ticket if done.

[2018-05-07 15:32] BrentAllsop commented on #46
@KKjer, @gautamv16
I verified this is fixed, and closed it.
Thanks.
Brent

[2018-05-07 15:33] #46 closed, assigned to nobody

[2018-05-07 15:34] BrentAllsop commented on #42
All fixed and tested.

[2018-05-07 15:34] #42 closed, assigned to gautamv16

[2018-05-07 15:46] BrentAllsop commented on #39
@gautamv16
This is all working and tested.
But I noticed one minor issue, so could we include that here, before we close this?

You can add the key words to a topic record, when you edit it.
You also need to be able to add key words when you create a new topic.

[2018-05-07 20:17] BrentAllsop commented on #40
Also, if you have a list with a single # line, it converts to a * (or bullet, not number).

[2018-05-07 20:31] BrentAllsop opened #47 "No object button on history objects already live."
Currently all history objects have an object button.
Only things that have a go live time past now, should have an object button.

[2018-05-07 20:42] BrentAllsop opened #48 "Submitting a new camp currently crashes."
I tried to create a new camp, with no statement value
and it crashed.

Also, creation of a statement should not be part of a camp creation.
The creation and editing of a camp record should be different than creation/editing of a camp statement.  The history is also different.

Also, when you "join or directly support" a camp, if you don't support one yet it says:

"You didn't supported any camp ye

[2018-05-07 20:48] BrentAllsop opened #49 "History pages should have bread crumbs at top of page, like camps."
Also, each object should have a link to the version of the object (with an as_of value in the URL.)

[2018-05-08 05:53] gautamv16 commented on #39
@BrentAllsop we dont have keyword feature for topic. There is no keyword field for topic. Do you want a new field to be added in topic table for keyword?

[2018-05-08 06:11] gautamv16 commented on #48
@BrentAllsop solved. Please test as per flow.

[2018-05-08 07:07] gautamv16 commented on #47
@BrentAllsop solved. Please test

[2018-05-08 08:29] gautamv16 commented on #49
@BrentAllsop link to camp detail page added as per go live time as_of value.

[2018-05-08 17:01] CanonizerJim opened #50 "Acceleration of "go live.""
There are two parts to this idea.

1. The first is adding a feature that would allow supporters of a camp to indicate agreement to changes prior to the one-week review period. Each supporter would have a checkbox on the history block for the record that would allow them to say they agree to the change. The change then would go live at the moment that everyone has checked the box.  This will requir

[2018-05-08 17:10] CanonizerJim opened #51 "Clearing note field on edit"
When you submit an update based on an old version, the additional note field should be cleared for the new submission.

[2018-05-08 17:49] CanonizerJim commented on #49
Also remove the title line from the camp history block.

[2018-05-08 17:54] BrentAllsop opened #52 "Old record values used on main page topic list."
In the topic lists, on the main canonizer.com page, the topic names are names from old versions of the camp record.

[2018-05-08 18:18] BrentAllsop opened #53 "Better handle non existent topics and camps."
If you specify a topic number in a topic URL that doesn’t exist, the error message currently states:

Error! Selected camp is not available in the selected parameters, Please check the filters for more accurate results.

It should handle this case better, and state:

“Topic <number> does not exist.”

Or for camps that do not exist, should similarely say:

“Camp <number> does not exist.”

[2018-05-08 18:27] BrentAllsop commented on #11
@akuks  Not sure what this issue is.  Could you provide more detail?

[2018-05-08 18:33] BrentAllsop opened #54 "When you create a new topic, add support to root camp."
When you create a new topic, this also creates a root camp.
By default, the submitter should be added as a supporter of this root camp.

[2018-05-08 20:58] BrentAllsop commented on #52
Also, in the camp page it displays the current values for the topic and camp records.
It is not showing the right version of the name space value.:
http://canonizer.com/canonizer/public/topic/131-Create-Topic-Steps/1

This is the one I noticed.  I suspect other values may be incorrect, also, possibly on camp record also?

Found another one:
In the browse page, it is showing old values, also.  Look

[2018-05-08 21:25] BrentAllsop opened #55 "Hide other namespace in Manage Topic page, when not selected."
In the "Manage Topic" page, the other namespace edit box should only show up when selected.

The note for that edit box says:
"Note: Name space is categorization of your topic, it can be something like: General,crypto_currency etc."

This should also only show up, when "other" is selected, and it should say:
"Note: Name space for hierarchical categorization of topics.  It can be something like: /c

[2018-05-08 21:52] BrentAllsop opened #56 "Set help page link on all pages to go to topic 132"
Here is the actual link, on the live system:

http://canonizer.com/topic/132-Help/1

[2018-05-08 21:58] BrentAllsop commented on #39
@gautamv16
Oh, my bad.  Sorry.  We only have, and only want, key words on camps.
Closing this.

[2018-05-08 21:58] #39 closed, assigned to nobody

[2018-05-08 22:23] BrentAllsop commented on #48
@gautamv16,
Everything looks good, closing this issue.

[2018-05-08 22:23] #48 closed, assigned to nobody

[2018-05-08 22:25] BrentAllsop commented on #47
@gautamv16,
tested this, and it works.
closing this issue.

[2018-05-08 22:25] #47 closed, assigned to nobody

[2018-05-08 22:26] BrentAllsop commented on #49
@gautamv16 ,
Yes, we've been using this feature, works great.
closing this issue.

[2018-05-08 22:26] #49 closed, assigned to nobody

[2018-05-09 09:12] gautamv16 commented on #33
its done by @Karun @CanonizerJim @BrentAllsop  please test

[2018-05-09 09:25] akuks commented on #11
Hi Brent,
This is created to add the feature of Auto Delegation.

It is in one of the old versions of the Canonizer Plan Sheet

_User’s settings management page.
Eventual control of auto delegation abilities (but not for first release)

If it is not required, then we can close this ticket.

[2018-05-09 13:09] gautamv16 commented on #40
@BrentAllsop  please check the issue and check the format i sent you on email for wiki samples. All those are standard wikimedia supported tags. So please create help docs based on that.

[2018-05-10 09:11] gautamv16 commented on #54
@BrentAllsop  please test this with creating new topic.

[2018-05-10 09:16] gautamv16 commented on #56
@BrentAllsop its done.

[2018-05-10 09:20] gautamv16 commented on #53
@BrentAllsop done

[2018-05-10 11:53] gautamv16 commented on #52
@BrentAllsop please test these Karun fixed all these today cleaned and tested.

[2018-05-10 12:08] gautamv16 commented on #51
@BrentAllsop  fixed.

[2018-05-10 14:20] BrentAllsop commented on #33
Working great - thanks.

[2018-05-10 14:20] #33 closed, assigned to nobody

[2018-05-10 14:24] BrentAllsop commented on #54
I tested this on staging.canonizer.com.
But the topic I created had no support.

[2018-05-10 14:26] BrentAllsop commented on #56
Nice, closing issue.

[2018-05-10 14:26] #56 closed, assigned to nobody

[2018-05-10 14:28] BrentAllsop commented on #53
@gautamv16 Could we add the topic or camp number that does not exist, to the error message?

[2018-05-10 14:36] BrentAllsop commented on #53
Looks Good.

[2018-05-10 14:36] #53 closed, assigned to nobody

[2018-05-10 14:37] BrentAllsop commented on #51
Verified.

[2018-05-10 14:37] #51 closed, assigned to nobody

[2018-05-15 05:55] gautamv16 commented on #54
@BrentAllsop solved this now.

[2018-05-15 05:56] gautamv16 commented on #40
@brent please test this.

[2018-05-15 10:07] gautamv16 commented on #43
@BrentAllsop  done. only @akuks needs to use given function where ever he is using nickname to submit anything.

[2018-05-15 10:12] gautamv16 commented on #32
@BrentAllsop please test this once again after clearing cache. Made some changes, lets see if that works on your system.

[2018-05-15 10:28] gautamv16 commented on #41
@BrentAllsop  please test these new features...

[2018-05-15 10:28] gautamv16 opened #58 "In the Camp edit page, need a preview button"
* In the actual edit page, we need a preview button so the user can verify they have everything correct, before they do the submit.

[2018-05-15 13:21] BrentAllsop opened #59 "Change the way adding direct support to camps works."
When you select the join/support camp button, it will take you to an edit page, showing all previous camps currently supported, with the new one at the end of the list.

At this point, the user can delete, reorder, camp support... with the changes only occurring on the client.
Then, once the user get's things the way they like them, they will commit this support.
This is the only operation that wi

[2018-05-15 20:45] BrentAllsop commented on #54
@gautamv16,
tested and closing.

[2018-05-15 20:51] BrentAllsop commented on #40
@gautamv16, @CanonizerJim,
This is great, the <nowiki> markup is now working, closing this github issue.
Jim, we can now work on a set of new wiki text for this help page:
http://production.canonizer.com/topic/73-wiki-text/1

[2018-05-15 20:51] #40 closed, assigned to nobody

[2018-05-15 20:54] BrentAllsop commented on #43
@gautamv16 thanks,
@akuks, let me know when you have the rest of this done, for forums.
then I will close this.

[2018-05-15 20:59] BrentAllsop commented on #32
@gautamv16,
Dang still doesn't seem to be working.
Cleared cash, tried both chrome and IE. just doesn't work for me.

[2018-05-17 11:31] gautamv16 commented on #41
@BrentAllsop  tested then close this.

[2018-05-17 11:32] gautamv16 opened #60 "*.canonizer.com SSL certificate installation"
*.canonizer.com SSL certificate installation on both servers.

[2018-05-18 05:54] gautamv16 commented on #45
https://docs.google.com/document/d/1xpdJ9XHs7FgZkJth9NE4chhTBR73p9XY_iu5S6OQLYg/edit?usp=sharing

[2018-05-23 10:17] iamkinnarid opened #65 "Error Exception while testing"
![image](https://user-images.githubusercontent.com/38903802/40418620-7f746630-5ea0-11e8-9145-5de0dbf910e6.png)

[2018-05-23 10:24] gautamv16 commented on #65
@iamkinnarid please check now. It was server issue

[2018-05-23 10:25] iamkinnarid commented on #65
Ok! Thanks!

On 23 May 2018 at 15:54, gautamv16 <notifications@github.com> wrote:

[2018-05-24 05:31] #65 closed, assigned to nobody

[2018-05-24 16:20] BrentAllsop opened #66 "Create a "Camp URL Format" Help Page."
Included in this issue is adding the new ability to specify a canonizer algorithm to a camp URL.

We need to document the format of the camp URL.

Create a new "Camp URL Format" topic help page for this.
Add a link to this new topic in the main help page list of other help pages:
http://production.canonizer.com/topic/132-Help/1

Things you should be able to add to a camp URL:
* Topic num
* Camp nu

[2018-05-24 16:25] BrentAllsop opened #67 "Add new "White Paper" link to the side bar on all pages."
Add this new link to the sidebar of all pages:

Canonizer Main
Browse
Create New Topic
Upload File
Help
White Paper  <-- new link to James Carroll's "Amplifying the Wisdom of the Crowd" pdf.
Blog

Also:
Change the links on the side bar, so the page you are on is green and is not a link, like the bread crumbs and camp outline links.

[2018-05-24 16:27] BrentAllsop opened #68 "Add css to remove blog header on main page."

[2018-05-24 17:17] BrentAllsop commented on #52
@gautamv16,
It looks like the browse page is still using old topic names.
Especially see the browse topics /organizations/mta/
Many of those have been recycled to general topics with different names.

[2018-05-28 07:02] gautamv16 commented on #67
@BrentAllsop done please test with different test cases.

[2018-05-28 09:14] gautamv16 commented on #52
@BrentAllsop those topic which are recycled to general will not come under /organizations/mta those will come under General and for browse topic now i have developed it in wa with asofdate value so that version of topic will come. Please test and lets discuss in meeting.

[2018-05-28 10:19] gautamv16 commented on #41
@BrentAllsop please test this one

[2018-05-28 11:07] gautamv16 commented on #66
@BrentAllsop  here is the sample url and values.

Url : www.production.canonizer.com/topic/{topic_num}-{topic_name}/{camp_num}?filter=0.000&asof={bydate,review,default}&asofdate={date('Y/m/d')}&canonizer={key_value_from following following algorithm array }

'blind_popularity'=>'One Person One Vote',
            'mind_experts'=>'Mind Experts',
            'computer_science_experts'=>'Computer Scie

[2018-05-29 03:13] BrentAllsop commented on #67
@gautamv16,
Not seeing any of this.
Don't see the "White Paper" link on any pages
This link to the white paper (from the current countdown page) still doesn't work:
https://canonizer.com/canonizer2.0/public/files/2012_amplifying_final.pdf

[2018-05-29 03:21] BrentAllsop commented on #52
@gautamv16
Correct, when we recycled them, we changed them from MTA topics to general topics, as they were no longer needed for the MTA.

When I set the main canonizer.com page to /organizations/mta/, many of the ones that are no longer mta topics are still showing up.

For example, this topic is now general namespace:
https://staging.canonizer.com/topic/11-New-ExpertNet-Name/1
But it is still sho

[2018-05-29 03:27] BrentAllsop commented on #41
@gautamv16,
Hmmm, when I go to this history page, trying to test this, nothing is showing up?

https://staging.canonizer.com/statement/history/88-Theories-of-Mind-and-Consciousness/1

[2018-05-29 06:57] gautamv16 commented on #52
@BrentAllsop this is not feasible in this way as both are now seperate entities. Both records have unique values based on different condition. Either we have to set some status for those records which are recycled.

Think like this, if you select general those are coming, now there is record in database for /organization/mta/ namespace and when a where clause do namespace='/organization/mta/' then

[2018-05-29 07:27] gautamv16 commented on #41
@BrentAllsop solved.

[2018-05-29 07:30] gautamv16 commented on #43
@akuks any update on this.

[2018-05-29 08:56] akuks commented on #43
@Brent, it's already done.

On Tue, May 29, 2018 at 1:00 PM, gautamv16 <notifications@github.com> wrote:

--
Thanks & Regards,
Ashutosh Kukreti

[2018-05-29 12:37] gautamv16 commented on #68
@BrentAllsop  please check this one and close ticket.

[2018-05-29 12:38] gautamv16 commented on #67
@BrentAllsop  Karun forget to push his code, i thought he did as we are using same account. So it was not updated thats why not showing.

Please test today, all this is done.

[2018-05-29 12:39] gautamv16 commented on #60
@BrentAllsop  done. Closing this ticket

[2018-05-29 12:39] #60 closed, assigned to gautamv16

[2018-05-30 02:34] BrentAllsop commented on #41
Verified fixed on developement.canonizer.com and closed.

[2018-05-30 02:34] #41 closed, assigned to nobody

[2018-05-30 02:43] BrentAllsop commented on #43
One more nit pick...

the message:
"(Once you pick a nick name, for anything about a topic, you must always use the same nick name.)"

should clear up that it is only for this topic with:
"(Once you pick a nick name, for any contribution to a topic, you must always use the same nick name for any other contribution or forum post to this topic.)"

[2018-05-30 02:46] BrentAllsop commented on #68
Looking great - closing.

[2018-05-30 02:46] #68 closed, assigned to nobody

[2018-05-30 02:49] BrentAllsop commented on #67
looking great now, closing...

[2018-05-30 02:49] #67 closed, assigned to nobody

[2018-06-05 07:44] gautamv16 commented on #59
@BrentAllsop finished it with testing. Please check all scenarios. karun will be still doing unit manual tetsing on this by this week for any issue as this is the main part. But i need you to test it for all possible test cases. So that we will have a go ahead on this feature now.

[2018-06-05 07:45] gautamv16 commented on #66
@BrentAllsop please check this.

[2018-06-05 07:45] gautamv16 commented on #45
@BrentAllsop  Please test the email flow.

[2018-06-05 07:50] gautamv16 commented on #43
@BrentAllsop done

[2018-06-05 16:25] BrentAllsop commented on #59
This is looking great.  Closing this issue.

[2018-06-05 16:25] #59 closed, assigned to nobody

[2018-06-05 17:48] BrentAllsop commented on #43
Verified - closing.

[2018-06-05 17:48] #43 closed, assigned to gautamv16

[2018-06-05 18:01] BrentAllsop commented on #45
@gautamv16,
I need to log into here to do this, right?:
https://development.canonizer.com/admin/login

I couldn't seem to get in, with the same credentials I use on canonizesr.com.
Do I have different ones for this?

Also, after multiple tries, I got this exception:

TokenMismatchException
--
in VerifyCsrfToken.php (line 68)
at VerifyCsrfToken->handle(object(Request), object(Closure))in Pipeline.p

[2018-06-06 07:40] gautamv16 commented on #45
Hey @BrentAllsop no you dont need admin access to test emails. You have to do just various action on staging where your email address is in env file and you have to test each email.

Like on new account signup, 1.0 account claim, support email, anyone object, new change submit. Do these action and test the content of email. You will receive those emails in your email on staging. Also please buy em

[2018-06-06 07:42] gautamv16 commented on #32
@BrentAllsop working on this issue still not figuring out your system issue. I changed last time the library for scroll but still not work on your system. So i think we can give button of load more topic instead of automatic scroll ? Think on it and let me know.

[2018-06-06 07:43] gautamv16 commented on #52
@BrentAllsop please test this now. @karun done with this.

[2018-06-06 15:16] BrentAllsop commented on #32
@gautamv16
Yea, I like the button idea.  Seems to give the user more control.

[2018-06-06 17:24] BrentAllsop opened #69 "Add google search to blog."
Currently, there is a word press search field on the top of the blog page that does not show up, when in the main page iframe.  We want to replace this with the same identical google search on the main page.

[2018-06-06 20:01] BrentAllsop opened #70 "Modified e-mail for modifications and objections."
I modified the text for these two standard e-mails:
To Direct supporters when change proposed.
Submitter is notified if anyone objects to his submitted change.

See the modified e-mail in this google doc:
https://docs.google.com/document/d/1xpdJ9XHs7FgZkJth9NE4chhTBR73p9XY_iu5S6OQLYg/edit

Be sure when we have <topic | camp | statement>, the appropriate one is included in the text.

[2018-06-07 10:30] gautamv16 commented on #70
@BrentAllsop for statement what text needs to be put as we have only statement value available nothing else.

[2018-06-07 11:09] gautamv16 opened #71 "Issue in Mind Expert and Special Mind Expert Algorithm !!!"
Reported By @Karun : when matching the result of mind expert in canonizer 1.0 there is difference of scores in 2.0 system. Please match and try new supports and match logic with 1.0 system.

[2018-06-07 11:11] gautamv16 opened #72 "All fields which are required must be described as *"
Reported By @Kinari all required fields must indicate that all are required or not.

[2018-06-07 11:13] gautamv16 opened #73 "Load more issue in topics on canonizer main page"
We can have a loading icon - when the whole list is being loaded. Presently it gives the message 'Please wait loading tree' and
--
that too only if you scroll down. Not otherwise.

[2018-06-07 11:14] gautamv16 opened #74 "Back to Site Link issue on blog"
The 'Back to Site' link is not working on Blog Page. Gives an error message of "Not Found".
--

@BrentAllsop today need to discuss this how this needs to be done.

[2018-06-07 15:18] BrentAllsop commented on #69
This should include changing the canonizer icon link to go to the main site (not the blog)
and remove the "back to site" link.

[2018-06-11 11:29] gautamv16 opened #75 "Admin panel dynamic email template , email campaigns, contact list , Sendgrid Integration"
Admin panel dynamic email template , email campaigns, contact list , Sendgrid Integration.

Need to intergrate sendgrid API for sending bulk emails with a dynamic templates.

[2018-06-11 15:10] BrentAllsop opened #76 "Corruptic topic tree in "mind expert" ranking topic (81)"
Somehow we lost the root camp of this topic, and the camp for Daniel Dennett is the root camp on the production and staging systems:
https://staging.canonizer.com/topic/81

This is a corruption from the original 1.0 topic, which can be seen in archive.org here:
https://web.archive.org/web/20140906184517/http://canonizer.com/topic.asp/81

[2018-06-11 15:11] BrentAllsop commented on #76
We might also want to consider the root cause of this issue, and think about if there are similar problems elsewhere in the 2.0 data.

[2018-06-11 16:13] BrentAllsop commented on #76
The theory is, that some of the objected to values, did not get carried over to the 2.0 DB.
For example, if you look for this history, of the topic record for topic 81, the first version of the record is the correct value.  We predict that all later values of this record, in the 1.0 DB, have been objected to, resulting in the topic name being "Mind Experts" instead of "Daniel Dennett" (an objected

[2018-06-12 11:01] gautamv16 commented on #74
@BrentAllsop and @Kinari solved please check.......

[2018-06-12 11:01] #73 closed, assigned to gautamv16

[2018-06-12 11:02] gautamv16 commented on #72
@BrentAllsop @kinari please test this. Its done..

[2018-06-12 11:02] gautamv16 commented on #71
I have tested it, its working good now.

[2018-06-12 11:02] #71 closed, assigned to gautamv16

[2018-06-12 11:04] gautamv16 commented on #70
@BrentAllsop please test this... @kinari can verify this as she will receive all emails on staging.

[2018-06-12 11:04] gautamv16 commented on #69
@BrentAllsop this is done..... added search feature.... with other chnages too.

[2018-06-12 11:05] gautamv16 commented on #52
@BrentAllsop  please test this..

[2018-06-12 11:05] #45 closed, assigned to gautamv16

[2018-06-12 11:06] gautamv16 commented on #32
@BrentAllsop please check new feature added with a button now. By pressing this button all remaining topic will load in background..... It means all topic will load in 2 phases now. No need to click more and more to get all topics. I think this looks ok and also speed of loading is ok too.. Let me know on this.

[2018-06-12 11:09] #11 closed

[2018-06-12 13:10] CanonizerJim opened #77 "Wiki Markup for Images"
Wiki markup for images is not working properly.

<img src="&lt;img src=" http:="" production.canonizer.com="" files="" canonizer_logo.jpg"="">

[2018-06-12 13:39] BrentAllsop opened #78 "There is an issue with the supports page"
The "John Gregg" camp, should be second, but is showing up 3rd here:
http://production.canonizer.com/user/supports/1?namespace=13

The support order is listed, correctly, here:]
http://production.canonizer.com/support

And the algorithm (one person one vote) is being calculated correctly for topics like:
http://production.canonizer.com/topic/81-Brent-Allsop/3?
Notice the the nickid keithsharris, h

[2018-06-13 16:56] CanonizerJim opened #79 "Cached pages are interfering with updates in Safari"
In a Safari browser, we were looking at a atopic page with one supporter. Someone else on another browser removed that support, but it didn't show up in the Safari browser, indicating the page was cached.

We need to find out how to tell a Safari browser not to cache dynamic pages like this one.

Emptying the cache doesn't solve the problem. There appears to be some server-side state that is not b

[2018-06-13 17:06] CanonizerJim opened #80 "We need user warning re: camp edit page about Camp About nicknames and Camp About URLs"
We'd like to have text that tells users that they shouldn't change the Camp About URL and Camp About nickname edit fields unless they specifically know what they're doing.

Above the Camp About Url edit field, we should add the following user note:

"The following fields are rarely used and are for advanced users only."

[2018-06-13 17:13] CanonizerJim opened #81 "We need to remove the camp title data from the topic page"
http://production.canonizer.com/topic/129/1

Title is still showing up in the camp record data - e.g. "Title : Is the singularity near?"

Previously, we decided to not use a root camp title field as the root camp title is the same as the topic. This field has been functionally removed everywhere except this location.

[2018-06-13 17:17] CanonizerJim opened #82 "Support added when modifying topic"
When we recycled a topic that we were not supporting to turn it into a help page, I was added as a supporter to the root camp by default. This should only happen when you create a new topic, not when you modify a topic.

[2018-06-14 02:11] BrentAllsop commented on #70
@gautamv16 and @kinari,

I tried to modify this camp record:
https://staging.canonizer.com/topic/88/20
When I hit submit on the record edit page, I got a fatal error of undefined variable topic.
But it looks like the modification was submitted, as the yellow record showed up in the history page.
Kinari, could you let us know if you received an e-mail for this?  there are 3 direct supporters of thi

[2018-06-14 02:28] kinari commented on #70
Sorry guys i think you misspelled.. @kinnari good luck 🤞

[2018-06-14 02:52] BrentAllsop commented on #70
Sorry, that was me, I know I sometimes do that, and am working on it.
Thanks

[2018-06-14 02:54] BrentAllsop commented on #69
oh, nice, I verified it is fixed...
closing this issue.

[2018-06-14 02:54] #69 closed, assigned to nobody

[2018-06-14 02:58] BrentAllsop commented on #52
Verified this is fixed, closing.

[2018-06-14 02:58] #52 closed, assigned to nobody

[2018-06-14 03:00] BrentAllsop commented on #32
That works.
closing this issue.

[2018-06-14 03:00] #32 closed, assigned to nobody

[2018-06-14 07:08] gautamv16 commented on #70
@BrentAllsop undefined erroe solved.

And for objection you must have to go for edit page and when you click on object there is option comes out to provide objection reason and notes and click submit that means you are objecting the camp. This is objection flow.....

[2018-06-14 07:10] gautamv16 commented on #74
@kinaari and @BrentAllsop  please test

[2018-06-14 07:51] gautamv16 commented on #77
Hey @BrentAllsop and @CanonizerJim  here is the markup for image. Please use this standard markup style.

For example, <nowiki> [[File:http://canonizer.com/files/canonizer_logo.jpg]]</nowiki> displays:

[[File:http://canonizer.com/files/canonizer_logo.jpg]]

[2018-06-14 15:18] BrentAllsop commented on #74
verified.

[2018-06-14 15:18] #74 closed, assigned to gautamv16

[2018-06-14 15:20] BrentAllsop opened #83 ""Load All Topic" should be "Load All Topics""
The "Load All Topic" button on the main page should be "Load All Topics".

[2018-06-19 11:58] gautamv16 commented on #83
@BrentAllsop its solved

[2018-06-19 12:00] gautamv16 commented on #82
@CanonizerJim its solved, please test and close issue.

[2018-06-19 12:02] gautamv16 commented on #76
@BrentAllsop please test it thouroughly, its correct accoridngly....

[2018-06-19 12:05] gautamv16 commented on #81
@CanonizerJim its solved. deployed to staging only.

[2018-06-19 12:08] gautamv16 commented on #80
@CanonizerJim its done and deployed

[2018-06-19 22:42] BrentAllsop commented on #80
@gautamv16 @CanonizerJim,
This is working great for the camp record edit form.
But on the create new camp form, it is after the camp url field.
Both "about" fields should be under the note.

[2018-06-19 22:44] BrentAllsop commented on #81
@gautamv16 @CanonizerJim,
Verified and closed this issue.

[2018-06-19 22:44] #81 closed, assigned to nobody

[2018-06-19 22:51] BrentAllsop commented on #76
@gautamv16 @CanonizerJim ,
I'm seeing this fix on staging, looks OK there, but not seeing it in the production db.

[2018-06-19 23:04] BrentAllsop commented on #82
@CanonizerJim @gautamv16
Verified and closing.

[2018-06-19 23:04] #82 closed, assigned to gautamv16

[2018-06-19 23:05] BrentAllsop opened #84 "Support tree not shown when one supporter."
On topics with only one supporter, like this sandbox topic:

https://staging.canonizer.com/topic/205?asof=bydate&asofdate=2018/06/19%2023:02:49

It shows in the support section that there is a total support of 1, but doesn't list who it is.

[2018-06-19 23:07] BrentAllsop commented on #83
Verified.

[2018-06-19 23:07] #83 closed, assigned to nobody

[2018-06-19 23:11] BrentAllsop commented on #79
Not sure if this is related, but sometimes, on the left bar navigation menu, the incorrect page will be green.  (i.e. the "Help" link will be green, when not on the help page.)

[2018-06-20 06:20] gautamv16 commented on #76
@BrentAllsop code is not migrated to production yet. Today i will merge staging with production. Please check then.

[2018-06-20 06:24] gautamv16 commented on #80
@BrentAllsop solved

[2018-06-20 06:27] gautamv16 commented on #77
@CanonizerJim and @BrentAllsop please check this.

[2018-06-20 06:28] gautamv16 commented on #70
@BrentAllsop please test this. And for objection you must have to go for edit page and when you click on object there is option comes out to provide objection reason and notes and click submit that means you are objecting the camp. This is objection flow.....

[2018-06-20 14:59] BrentAllsop commented on #80
@gautamv16 ,
Not seeing this in production, staging, or development yet.

[2018-06-20 15:33] BrentAllsop commented on #77
@CanonizerJim @gautamv16,
Jim, this looks OK to me, if you agree, could you close this issue?
Thanks
Brent

[2018-06-20 15:39] BrentAllsop opened #85 "We can host image files on canonizer.com."
@CanonizerJim,
I assigned this issue to you.
in the wiki markup help page it says:

"Canonizer does not host image files for posts on its servers, but you can still include an image file in your post if you put the file on a web server and simply insert the URL to that file."

This is incorrect.  On the side bar, there is an "upload file" option people can take to upload files which will be access

[2018-06-26 10:00] gautamv16 commented on #78
@BrentAllsop please check this. Test this as per different cases you have.

[2018-06-26 10:01] gautamv16 commented on #80
@BrentAllsop its on all three.

[2018-06-26 10:02] gautamv16 commented on #79
@CanonizerJim can please retest again now.

[2018-06-26 15:21] BrentAllsop commented on #78
Briefly verified, closing this.

[2018-06-26 15:21] #78 closed, assigned to nobody

[2018-06-26 15:25] BrentAllsop commented on #79
@CanonizerJim,
I don't know a way to reproduce this, so am going to assume this is fixed, and close it.
As I indicated in the engineering meeting, this morning, we all need to carefully watch for any evidence that this issue might still exist.
If anyone sees any evidence, whatsoever, we need to collect as much data as possible about exactly what was going on, and exactly what happened, and enter t

[2018-06-26 15:25] #79 closed, assigned to nobody

[2018-06-26 15:35] BrentAllsop commented on #80
Yup, fixed.
Closing.

[2018-06-26 15:35] #80 closed, assigned to nobody

[2018-06-28 03:16] CanonizerJim commented on #77
I'll close it now.

[2018-06-28 03:16] #77 closed, assigned to nobody

[2018-06-28 03:19] CanonizerJim commented on #66
I understand this, and I'll close this as soon as I write up the help page.

[2018-06-28 03:23] CanonizerJim commented on #85
Got it. Will change the help page and close the issue.

[2018-06-28 03:24] CanonizerJim commented on #85
I won't close it until I've changed the help pages

[2018-06-28 03:24] CanonizerJim commented on #84
Pending

[2018-06-28 07:54] rupalichavan9860 opened #86 "Error messages on Register page should be proper."
Error messages should be proper.
1.Error message for "First Name" field should be "First Name is required." instead of "The firstname field is required."
2.Error message for "Last Name" field should be "Last Name is required." instead of "The lastname field is required."
3.Error message for "Email" field should be "Email is required." instead of "The email field is required."
4.Error message for "

[2018-06-28 08:03] rupalichavan9860 opened #87 ""Username" field should be present on Register page"
Username fields should be present so that user can either login using Username or Email.

[2018-06-28 08:06] rupalichavan9860 opened #88 "Register page should have "Login" option/button for existing users"

[2018-06-28 08:12] rupalichavan9860 opened #89 "Error messages for character length should be proper on Register page."
Error messages for character length should be proper.
1.Enter more than 255 characters in "First Name" field.Error message should be "First Name may not be greater than 255 characters." instead of "The firstname may not be greater than 255 characters."
2.Enter more than 255 characters in "Last Name" field.Error message should be "Last Name may not be greater than 255 characters." instead of "The l

[2018-06-28 08:16] rupalichavan9860 opened #90 "On Register page,Cursor should focus on first entry field on the page load."
1.Go to https://staging.canonizer.com/
2.Click on Register
3.Cursor should focus on Email text box on the page load.

[2018-06-28 08:23] rupalichavan9860 opened #91 "Validations are missing for Password field on Register page."
Expected Result:
Password must be combination of characters,numbers and special symbols.
It must contains at least one special character.

Actual Result:
Password field is accepting only numbers/only characters/only alphanumeric.

Steps to reproduce:
1.Go to https://staging.canonizer.com/
2.Click on Register
3.Enter all mandatory fields
4.Do following scenarios for Password field:
     a.Enter onl

[2018-06-28 08:25] rupalichavan9860 opened #92 "Password field should have strength checker and guidelines on Register page."

[2018-06-28 08:35] rupalichavan9860 opened #93 "Error message for character length of Password field should be proper on Register page"
Enter less than 6 characters in Password field on Register page,Error message should be "Password must be at least 6 characters." instead of "The password must be at least 6 characters."

[2018-06-28 08:41] rupalichavan9860 opened #94 "On Register page error message for password mismatch should display below Confirm Password and it should be proper."
Error message for password mismatch should be display below Confirm Password and it should be "Password confirmation does not match." instead of "The password confirmation does not match."

[2018-06-28 08:49] rupalichavan9860 opened #95 "If password doesn't matches it clears entered "Password" and "Confirm Password".It should not clear and cursor should focus on Confirm Password text box"
1. Go to https://staging.canonizer.com/
2. Enter valid data in all fields
3. Enter different password in Confirm Password text box than Password
4.Click on "Create you account" button.

Expected Result:
It should not clear "Password" and "Confirm Password" text box and cursor should focus on Confirm Password text box

[2018-06-28 08:53] rupalichavan9860 opened #96 "Error on Canonizer Main Page "Error establishing a database connection""
![image](https://user-images.githubusercontent.com/40416610/42023992-d11588d4-7ade-11e8-9b8c-a884325fd537.png)

[2018-06-28 08:58] rupalichavan9860 opened #97 ""Forgot Password" Link name is incorrect on Login page"
Expected Result:
Link  name should be "Forgot Password".
Actual Result:
Link   name is displaying as "Forget Password".
![image](https://user-images.githubusercontent.com/40416610/42024297-7336c29a-7adf-11e8-9f61-d932134e0ea4.png)

[2018-06-28 09:01] rupalichavan9860 opened #98 "Login page should have "Register" button for new users."

[2018-06-28 09:04] rupalichavan9860 opened #99 "On Login page cursor should focus on first entry field on the page load."
Cursor should focus on Email text box on the page load.

[2018-06-28 09:05] rupalichavan9860 opened #100 "Login page doesn't have facility to login into the system by Username."
User should able to login by Username/Email.

[2018-06-28 09:23] rupalichavan9860 opened #101 "Error messages should be proper on Login page"
Error message for Email field should be "Email is required." instead of "The email field is required."
Error message for Password field should be "Password is required." instead of "The password field is required."
Steps to reproduce:
1. Go to https://staging.canonizer.com/
2. Leave Email field as blank
3. Leave Password field as blank
4. Press Login button

[2018-06-28 09:32] rupalichavan9860 opened #102 "Confirmation Page or resetlinksent page contents should be proper."
Every bullet-ed sentence under "Note: If you do not receive the email in few minutes:" must start with Capital letter.
![image](https://user-images.githubusercontent.com/40416610/42026252-41bcc11a-7ae4-11e8-84e5-aeaadb927d26.png)

[2018-06-28 09:38] rupalichavan9860 opened #103 "Validations are missing for Password fields on Reset New Password page"
Expected Result:
Password must be combination of characters,numbers and special symbols.It must contains at least one special character.
Actual Result:
Password field is accepting only numbers/only characters/only alphanumeric.
Steps to reproduce:
1.Go to https://staging.canonizer.com/
2.Click on Log in
3.Click on "Forget Password" link
4.Enter Email and click on "Submit" button.This will sent pas

[2018-06-28 09:40] rupalichavan9860 opened #104 "Password fields should have strength checker and guidelines on Reset New Password page"

[2018-06-28 09:44] rupalichavan9860 opened #105 "Page contents are overlapping when minimising window."
![image](https://user-images.githubusercontent.com/40416610/42026875-dd974dd4-7ae5-11e8-9dd5-a776285d5623.png)

[2018-06-28 09:47] rupalichavan9860 opened #106 "After login into canonizer "Browsing as: Guest_31" should display "Logged in as :(Logged in user name e.g Rupali Chavan)" . Please clarify?"

[2018-06-28 09:48] gautamv16 commented on #100
@rupalichavan9860 this is not an issue, we only have email as username and login only work with email. So why do you need username ? 2 different fields dont makes sense as email is always unique. So lets close this ticket.

[2018-06-28 09:48] #100 closed, assigned to nobody

[2018-06-28 09:50] gautamv16 commented on #105
@rupalichavan9860 test this on standard device sizes. Resizing only dont confirm the responsiveness.

[2018-06-28 09:54] rupalichavan9860 opened #107 "Page crashed after hitting https://staging.canonizer.com/"
![image](https://user-images.githubusercontent.com/40416610/42027364-29e41108-7ae7-11e8-87d4-76a2a3c377a0.png)

[2018-06-28 17:22] rupalichavan9860 opened #108 "If user hits the same URL in two tabs of same browser,Logout from any one tab should logged out the user from both application."
Steps to Reproduce:
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3.Open new tab within the same browser hit the application with URL  https://staging.canonizer.com/     4.Click on log out from one tab

Expected Result:
User should be logged out after clicking on any operation from the application

[2018-06-28 17:26] rupalichavan9860 opened #109 "Search functionality is not working for some links. It is displaying error message "Not Found The requested URL /browse was not found on this server.""
![image](https://user-images.githubusercontent.com/40416610/42050363-50472a12-7b26-11e8-90d0-6c3ddf1872a8.png)

[2018-06-28 17:30] rupalichavan9860 opened #110 "Website search is not having auto suggest feature"
Steps to reproduce:

1. Go to https://staging.canonizer.com/
2.Enter any search keyword
3.Observe Search functionality on Canonizer Main Page

Expected Result:
Website search should have auto suggest feature

[2018-06-28 17:40] rupalichavan9860 opened #111 "“Manage Profile info" sub tab should have name "Manage Profile Info" instead of "Manage Profile info" for uniformity."
Every first letter of all sub tabs name is starting with capital letter. “Manage Profile info" sub tab also should have name "Manage Profile Info" instead of "Manage Profile info" for uniformity.

[2018-06-28 17:45] rupalichavan9860 opened #112 "Page-top("^") on right bottom of page is not working"
Page should go to top when click on page-top("^") icon.

[2018-06-28 17:51] rupalichavan9860 opened #113 "Required/mandatory fields should be marked with asterisk mark (*) against the field on "Manage Profile Info" page and "*" should be in red colour."

[2018-06-28 18:00] rupalichavan9860 opened #114 "Validations for maximum length for fields First Name,Middle Name and Last Name are missing on "Manage Profile info" page"
Input fields should be checked for maximum field value.Input values greater than specified maximum limit should not be accepted or stored in the database

[2018-06-28 18:04] rupalichavan9860 opened #115 "Enter more than 255 characters in "First Name" and "Last Name" field on "Manage Profile Info" page, Profile is getting updated successfully and because of long name UI is getting disturbed."
1. Go to https://staging.canonizer.com/
2. Click on Log in
3. Login with valid Email and password
4.Click on logged in user name and Go to Account Settings
5.Go to Manage Profile Info
6.Enter more than 255 characters in "First Name" and "Last Name" field. Profile is getting updated successfully and because of long name right corner contents( i.e Browsing as and logged in user name ) are not displa

[2018-06-28 18:10] rupalichavan9860 opened #116 "UI is getting disturbed in case of long name"
Logged in user name is not displaying properly in case of long name.
(I think there should be some username with limited characters like 50).
Now logged in user name is displaying First Name +Last Name.Please let me know your thoughts
![image](https://user-images.githubusercontent.com/40416610/42052442-78d34802-7b2c-11e8-86e6-ac272c0dc9de.png)

[2018-06-28 18:18] rupalichavan9860 opened #117 "Labels are missing for all drop downs on "Manage Profile Info""
How user will know what is the meaning of drop down values "Public" and "Private".
All drop downs on "Manage Profile info" should have label "Visibility Status" like on "Add & Manage Nick Names".
![image](https://user-images.githubusercontent.com/40416610/42052797-66c3807c-7b2d-11e8-8d40-52a66cec8023.png)

[2018-06-28 18:23] rupalichavan9860 opened #118 ""First Name" and "Last Name" fields are accepting blank spaces and profile is getting updated.Because of this logged in username is also displaying as blank."
![image](https://user-images.githubusercontent.com/40416610/42053139-59578bc6-7b2e-11e8-819f-8f0d13365692.png)

[2018-06-28 18:29] rupalichavan9860 opened #119 "Profile is getting updated with all fields blank."
Put all fields blank and click on Update button.Record is getting updated successfully.It should display error messages for mandatory fields.

[2018-06-28 18:41] rupalichavan9860 opened #120 "Language drop down on "Manage Profile info" page is not displaying in alphabetically sorted order"
![image](https://user-images.githubusercontent.com/40416610/42054050-ef0709ce-7b30-11e8-9555-42844c7cf320.png)

[2018-06-28 18:48] rupalichavan9860 opened #121 ""Add & Manage Nick Names" sub tab title name is not proper"
"Add & Manage Nick Names" sub tab title should be "Nick Names" instead of "Nicknames". Please let me know your thoughts

[2018-06-28 18:55] rupalichavan9860 opened #122 "Column name on "Add & Manage Nick Names" page grid should be proper"
I think column name for first column should be "Sr.No" instead of "S.No"..Please confirm

[2018-06-28 19:03] rupalichavan9860 opened #123 "Label names are not proper on "Add New Nick Name" page"
Label names should be "Nick Name" instead of "Add Nick Name" and "Visibility Status" instead of "Visibility status"

[2018-06-28 19:05] rupalichavan9860 opened #124 "Error message for "Add Nick Name" field is not proper on "Add New Nick Name" page."
Error message for "Add Nick Name" field should be "Nick Name is required." instead of "The nick name field is required."

[2018-06-29 05:58] rupalichavan9860 opened #125 "Validation is missing on "Add New Nick Name" page.It is accepting duplicate data"
Steps to Reproduce :

1. Go   to https://staging.canonizer.com/
2. Click on Log in
3. Login with valid Email and password
4.Click on logged in user name and Go to Account Settings
5.Go to Add & Manage Nick Names
6.Enter existing data/record in "Add Nick Name" text box
6.Click on "Create" button

Expected result:
Error message should be displayed for duplication.

Actual Result:
It is accepting dup

[2018-06-29 08:20] rupalichavan9860 opened #126 "Selected drop down value is not getting saved properly on "Add Nick Name" page"
1. Go to https://staging.canonizer.com/
 2. Click on Log in
3. Login with valid Email and password
4.Click on logged in user name and Go to Account Settings
5.Go to Add & Manage Nick Names
6.Enter any text in "Add Nick Name" text box and select Visibility status as "Private"
7.Click on "Create" button

Expected result:
It should save record with Visibility Status as "Private"

Actual Result:
Even

[2018-06-29 08:26] rupalichavan9860 opened #127 ""Cancel" button is not working properly on "Add New Nick Name" page."
Steps to reproduce:
1.Go to https://staging.canonizer.com/
2.Click on Log in
3.Login with valid Email and password
4.Click on logged in user name and Go to Account Settings
5.Go to Add & Manage Nick Names
6.Enter data in fields
7.Click on "Cancel" button

Expected result:
It should clear out entered fields and should not save data

Actual result:
Data is getting saved to database

[2018-06-29 08:47] rupalichavan9860 opened #128 ""Default Algorithm" sub tabs on "Account Settings" is displaying incorrect title"
Both sub tabs "My Supports" and " Default Algorithm" displaying same tittle name as "Supported Camps".
"Default Algorithm" should display respective title.

[2018-06-29 08:53] rupalichavan9860 opened #129 ""Choose default algorithm preferences" drop down values on "Default Algorithm" page are not displaying in alphabetically sorted order"
![image](https://user-images.githubusercontent.com/40416610/42083241-f2243218-7ba7-11e8-9b7f-8ce695c45858.png)

[2018-06-29 09:06] rupalichavan9860 opened #130 "User is not able to edit and delete Nick Name."
"Add & Manage Nick Names" should have functionality to edit and delete nick names.

[2018-06-29 09:11] rupalichavan9860 opened #131 "UI of grid is getting disturbed in case of long Nick Name on "Add & Manage Nick Names" ."
"Add Nick Name" field should have some max limit.Because of long nick name UI of grid is getting disturbed(Not able to see Visibility Status column)Please refer attachment

![image](https://user-images.githubusercontent.com/40416610/42084093-63fb483e-7baa-11e8-926b-995e54203c03.png)

[2018-06-29 09:28] rupalichavan9860 opened #132 "User is not able to delete uploaded file on "Upload File" grid."
"Upload File" should have delete functionality so that user can delete if he/she by mistakenly uploaded wrong file.

[2018-06-29 09:39] rupalichavan9860 opened #133 "Proper error message should display when File Name is too long on "Upload File" page."
Error message should display like "File Name may not be greater than 255 characters"

![image](https://user-images.githubusercontent.com/40416610/42085297-a88cfc2e-7bad-11e8-95a8-3392dc340fff.png)

[2018-06-29 10:57] rupalichavan9860 commented on #105
I have tested on mobile also..Please refer attachment
![screenshot_2018-06-29-01-07-24-832_com android chrome 1](https://user-images.githubusercontent.com/40416610/42089011-42a5a7ce-7bb9-11e8-930c-2a903654d266.png)

[2018-06-29 11:07] rupalichavan9860 opened #134 "Footer contents of Blog page are different than other pages of Canonizer"
I think footer contents for all pages should be same.Please confirm?
![image](https://user-images.githubusercontent.com/40416610/42089384-7d280d5a-7bba-11e8-99dd-4de724f9081b.png)

![image](https://user-images.githubusercontent.com/40416610/42089402-932a02d4-7bba-11e8-8c42-660f1215685e.png)

[2018-06-29 11:16] rupalichavan9860 opened #135 ""Canonizer Algorithm" drop down values are not displaying in alphabetically sorted order"
Drop down values should displayed in alphabetically sorted order.

![image](https://user-images.githubusercontent.com/40416610/42089653-dad96010-7bbb-11e8-9891-5ffb5d6ab189.png)

[2018-06-29 16:08] rupalichavan9860 opened #136 "Link name on "Create Topic" should be proper."
Link name below "Nick Name" drop down should be "Add New Nick Name" instead of "Add new nickname".

[2018-06-29 16:12] rupalichavan9860 opened #137 "Error messages should be proper on "Create Topic" page"
1.Error message for field "Topic Name" should be "Topic Name is required." instead of "The topic name field is required."
2."Additional Note" field is mandatory/required but error message is not displaying for required field.
It should display error message "Additional Note is required."
3.Enter Topic Name more than 30 characters,error message should be "Topic Name may not be greater than 30 chara

[2018-06-29 16:26] rupalichavan9860 opened #138 "Error message is displaying after successful topic creation"
Steps to reproduce:
1.Go To https://staging.canonizer.com/
2.Login with valid email and password
3.Go to Create New Topic
4.Enter data in all mandatory fields
5.Click on Create Topic button
6.Click on back button of browser

Expected Result:
Topic should get created and user should redirect to Create New Topic page with it should clear fields
Actual Result:
Topic is getting created and user is red

[2018-06-29 16:33] rupalichavan9860 opened #139 ""Nick Name" drop down values on "Create New Topic" page are not displaying in alphabetically sorted order"
"Nick Name" drop down items/values should get listed in alphabetically sorted order.

![image](https://user-images.githubusercontent.com/40416610/42103878-2608d0f8-7be8-11e8-8b70-1d7fa34f42a4.png)

[2018-06-29 16:41] rupalichavan9860 opened #140 "Create Topic functionality is not working properly for "Other" namespace"
Create new topic with "Other" as a Namespace,topic should get added under "Other" Namespace,now it is getting added under "General" Namespace.

[2018-06-29 17:59] rupalichavan9860 opened #141 "Required/mandatory fields should be marked with asterisk mark (*) against the field and "*" should be in red colour on "Manage Topic" page."

[2018-06-29 18:06] rupalichavan9860 opened #142 "Link name and error messages are not displaying properly on "Manage Topic" page"
1.Link name below Nick Name drop down should be "Add New Nick Name" instead of "Add new nickname"
2.Error message for "Topic Name" should be "Topic Name is required." instead of "The topic name field is required."
3.Error message for "Additional Note" should be "Additional Note is required." instead of "The note field is required."
4.Enter more than 30 characters in "Topic Name" text box,error mes

[2018-06-29 18:56] rupalichavan9860 opened #143 "Language is not getting updated on "Manage Profile info" page."
Select any language from "Language" drop down other than "English".
Expected Result:
Profile should be updated successfully with selected language.
Actual Result:
Profile is always getting updated with language as "English" instead of selected language.

[2018-06-29 19:13] rupalichavan9860 opened #144 "Remove/Cross icon on records of "My Supports" page is not displaying any tool tip text on mouse over"
Remove/cross icon should display tool tip on mouse over like "Remove Support" or "Delete Support"

[2018-06-29 19:38] rupalichavan9860 opened #145 "Required/mandatory fields should be marked with asterisk mark (*) against the field and "*" should be in red colour on "System Update" page."
Steps to reproduce:
1.Go to https://staging.canonizer.com
2.Login with valid email and password
3.Go to Browse(From left panel)
4.Select any topic and click on "Manage/Edit This Camp"
5.Click on "Submit Camp Update Based On This"

[2018-06-29 19:45] rupalichavan9860 opened #146 "Link name and error messages are not displaying properly on "System Update" page"
1.Link name below Nick Name drop down should be "Add New Nick Name" instead of "Add new nickname"
2.Error message for "Camp Name" should be "Camp Name is required." instead of "The camp name field is required."
3.Error message for "Additional Note" should be "Additional Note is required." instead of "The note field is required."
4.Enter more than 30 characters in "Camp Name" text box,error message

[2018-06-29 19:50] rupalichavan9860 opened #147 "Camp update success message should be uniform."
Success message should be "Success! Camp update submitted successfully. It's live now." instead of "Success! Camp update submitted Successfully. It's live now."

![image](https://user-images.githubusercontent.com/40416610/42111933-b4cb31c6-7c03-11e8-8abb-8f3a57c45038.png)

[2018-06-29 20:03] rupalichavan9860 opened #148 "Required/mandatory fields should be marked with asterisk mark (*) against the field and "*" should be in red colour on "Submit Statement" page."
Steps to reproduce:
1.Go to https://staging.canonizer.com
2.Login with valid email and password
3.Go to Browse(From left panel)
4.Select any topic and click on "Add Camp Statement"

[2018-06-29 20:06] rupalichavan9860 opened #149 "Link name and error messages are not displaying properly on "Submit Statement" page"
1.Link name below Nick Name drop down should be "Add New Nick Name" instead of "Add new nickname"
2.Error message for "Statement Value" should be "Statement Value is required." instead of "The statement field is required."
3.Error message for "Note" should be "Note is required." instead of "The note field is required."

[2018-06-29 20:09] rupalichavan9860 opened #150 "Statement update success message should be uniform."
Success message should be "Success! Statement update submitted successfully**. It's live now." instead of "Success! Statement update submitted Successfully. It's live now."
![image](https://user-images.githubusercontent.com/40416610/42112718-66ad01e2-7c06-11e8-81d1-4999c1118502.png)

[2018-06-30 08:53] rupalichavan9860 opened #151 ""Collapse this branch" and "Expand this branch" arrow are not working properly"
Steps to reproduce:
1.Go to https://staging.canonizer.com
2.Login with valid email and password
3.Click on "Algorithm Information" link on left side bar
4.Do following scenarios:
  1.Mouse over on first arrow (Canonizer Algorithms)
   Clicking on arrow is working fine but tooltip should display "Collapse this branch" instead of
   "Collapse",because "Collapse" tool tip is displaying for first time

[2018-06-30 09:11] rupalichavan9860 opened #152 "Drop down "Browse Topic" on Browse page and "Canonized list for" on Canonizer Main Page are not having "Other" item/values in drop down list."
"Browse Topic" and "Canonized list for" drop downs should have "Other" in drop down item lists because at Create Topic page user is able to select "Other" Namespace from drop down and can put his/her topic under "Other"Namespace.

[2018-06-30 09:19] rupalichavan9860 opened #153 "Link name and error messages are not displaying properly on "Create New Camp" page"
1.Link name below Nick Name drop down should be "Add New Nick Name" instead of "Add new nickname"
2.Error message for "Camp Name" should be "Camp Name is required." instead of "The camp name field is required."
3.Error message for "Additional Note" should be "Additional Note is required." instead of "The note field is required."
4.Enter more than 30 characters in "Camp Name" text box,error message

[2018-06-30 09:23] rupalichavan9860 opened #154 "Camp created success message should be uniform."
Success message should be "Success! Camp created successfully. It's live now." instead of "Success! Camp Created Successfully."

[2018-06-30 18:46] rupalichavan9860 opened #155 "Error message should be proper on "Blog" page"
Steps to reproduce:
1.Go to https://staging.canonizer.com/
2.Go to Blog
3.Select any blog and click on "CONTINUE READING" button
4.Go to "LEAVE A REPLY" part
5.Without entering in any field click on "POST COMMENT" button

Expected Result:
Error message should be "ERROR: Please fill the required fields (Name, Email)." and should be in red colour. Fields name in error message must match with fields

[2018-06-30 19:00] rupalichavan9860 opened #156 ""POST COMMENT" button on blog page is not validating all required fields in one click."
Steps to reproduce:
1.Go to https://staging.canonizer.com/
2.Go to Blog page
3.Select any blog and Click on "CONTINUE READING"
4.Go to "LEAVE  A REPLY" part
5.Enter data only in Name & Email fields and click on "POST COMMENT" button

Expected Result:
1.Error message should be in red colour
2.Error message should be "ERROR: Please type a comment."
3.If Comment is mandatory field it should marked wi

[2018-06-30 19:13] rupalichavan9860 opened #157 "Error message should be proper on "Blog" page"
Steps to reproduce:
1.Go to https://staging.canonizer.com/
2.Go to Blog
3.Select any blog and click on "CONTINUE READING" button
4.Go to "LEAVE A REPLY" part
5.Do following scenarios:
            a. Enter comment,email ,Enter more than 255 characters in Name field and Enter more than 255
               characters in Website field  and click on "POST COMMENT" button
            b.Enter invalid emai

[2018-06-30 19:34] rupalichavan9860 opened #158 "Validations missing for "Website" field on "LEAVE A REPLY""
Steps to reproduce:
1.Go to https://staging.canonizer.com/
2.Go to Blog
3.Select any blog and click on "CONTINUE READING" button
4.Go to "LEAVE A REPLY" part
5.Enter in all fields and enter any text in Website text box

Expected Result:
Website field is URL so it should be validated for URL pattern

Actual Result:
Website field is accepting any text

[2018-07-01 09:52] rupalichavan9860 opened #159 "Calendar search on Blog page is not more effective"
Calendar search should be more effective.
Now user is able to search blogs month wise only.User should able to select year so that user can easily search blogs.

Consider following scenario:
By default calendar is displaying for current month.But if user wants blogs from July 2015,he needs to click on previous month name several times until July 2015.

[2018-07-02 05:38] gautamv16 commented on #135
@rupalichavan9860 this is as per priority and not an issue.

[2018-07-02 05:38] #135 closed, assigned to nobody

[2018-07-02 06:02] gautamv16 commented on #110
It will not be there as its google search...... so closing this issue.

[2018-07-02 06:02] #110 closed, assigned to nobody

[2018-07-02 06:04] gautamv16 commented on #109
@rupalichavan9860 mention step how you came to this page...

[2018-07-02 06:06] gautamv16 commented on #87
Its not required....

[2018-07-02 06:06] #87 closed, assigned to nobody

[2018-07-02 06:07] gautamv16 commented on #87
@rupalichavan9860 both are same thing and username not required as we have old 1.0 user too...

[2018-07-02 06:08] gautamv16 commented on #107
@rupalichavan9860 its not an issue

[2018-07-02 06:08] #107 closed, assigned to nobody

[2018-07-02 06:09] gautamv16 commented on #96
@rupalichavan9860 not an issue

[2018-07-02 06:09] #96 closed, assigned to nobody

[2018-07-02 06:10] rupalichavan9860 opened #160 "Account creation mail with activation link"
When a user registers to an application for the first time, he/she needs to activate the account by clicking on the activation link sent in Email. This also verifies the user’s given Email address is valid and accessible.

[2018-07-02 06:10] gautamv16 commented on #130
@rupalichavan9860 as per the feature of the system user cant delete nicknames. so its not required.

[2018-07-02 06:10] #130 closed, assigned to nobody

[2018-07-02 06:11] gautamv16 commented on #129
@rupalichavan9860 its not required as it a  standard from 1.0 system...

[2018-07-02 06:11] #129 closed, assigned to nobody

[2018-07-02 06:25] gautamv16 commented on #108
@rupalichavan9860 its happening, you have to referesh page to see effect or when you will do any action on other tab you will see user is logged out. So this is invalid issue.

[2018-07-02 07:14] gautamv16 commented on #127
@rupalichavan9860 cancel button is removed as it has no use there. Please check and close issue

[2018-07-02 07:17] gautamv16 commented on #126
@rupalichavan9860 fixed test and close.

[2018-07-02 07:18] gautamv16 commented on #125
@rupalichavan9860 please test and close. Its fixed.

[2018-07-02 07:20] gautamv16 commented on #124
@rupalichavan9860 fixed, test and close.

[2018-07-02 07:23] gautamv16 commented on #122
@rupalichavan9860  fixed

[2018-07-02 07:24] gautamv16 commented on #121
@rupalichavan9860 fixed

[2018-07-02 07:29] gautamv16 commented on #119
@rupalichavan9860 fixed

[2018-07-02 07:29] gautamv16 commented on #118
@rupalichavan9860 fixed

[2018-07-02 07:31] gautamv16 commented on #117
@rupalichavan9860 its very clear from the field that itsfor visibility. It will look messy on this page if we give label to this field.

[2018-07-02 07:31] #117 closed, assigned to nobody

[2018-07-02 07:46] rupalichavan9860 commented on #127
Tested

[2018-07-02 07:46] #127 closed, assigned to nobody

[2018-07-02 07:46] rupalichavan9860 commented on #127
Tested.Working fine

[2018-07-02 07:48] #126 closed, assigned to nobody

[2018-07-02 07:52] #122 closed, assigned to gautamv16

[2018-07-02 07:53] rupalichavan9860 commented on #122
Tested.Fixed

[2018-07-02 07:55] rupalichavan9860 commented on #121
Tested.Verified

[2018-07-02 07:55] #121 closed, assigned to nobody

[2018-07-02 08:02] rupalichavan9860 commented on #125
@gautamv16 Retested and verified.But error message should be "Nick Name has already been taken." instead of "The nick name has already been taken."

[2018-07-02 08:04] rupalichavan9860 commented on #123
@gautamv16 Tested and verified.

[2018-07-02 08:04] #123 closed, assigned to nobody

[2018-07-02 08:05] rupalichavan9860 commented on #124
@gautamv16 Error message should be "Nick Name is required."

[2018-07-02 08:10] gautamv16 commented on #95
This is not an issue.. whenever password and confirm password doesn't match these are cleared because 1. User have entered wrong password mistakenly in either of these two .. So we cant guess which one may be this.
2. we can't set cursor to these fields because there may be any other field giving validation error so its not correct to set cursor to these either of these fields.

[2018-07-02 08:10] rupalichavan9860 commented on #120
@gautamv16 Tested and verified

[2018-07-02 08:10] #120 closed, assigned to nobody

[2018-07-02 11:09] #86 closed, assigned to nobody

[2018-07-02 11:10] gautamv16 commented on #88
@rupalichavan9860 fixed

[2018-07-02 11:11] gautamv16 commented on #89
@rupalichavan9860 fixed

[2018-07-02 11:12] gautamv16 commented on #90
@rupalichavan9860 developed this feature

[2018-07-02 11:14] gautamv16 commented on #97
@rupalichavan9860 done

[2018-07-02 11:14] gautamv16 commented on #95
@rupalichavan9860 not an issue.

[2018-07-02 11:14] #95 closed, assigned to nobody

[2018-07-02 11:15] gautamv16 commented on #94
not an issue

[2018-07-02 11:15] #94 closed, assigned to nobody

[2018-07-02 11:16] gautamv16 commented on #93
@rupalichavan9860 not an issue

[2018-07-02 11:16] #93 closed, assigned to nobody

[2018-07-02 11:18] gautamv16 commented on #72
@rupalichavan9860 pls test and close this

[2018-07-02 11:19] gautamv16 commented on #70
@rupalichavan9860 pls test

[2018-07-02 11:21] gautamv16 commented on #98
@rupalichavan9860 pls test and close

[2018-07-02 11:21] gautamv16 commented on #99
@rupalichavan9860 pls test and close

[2018-07-02 11:21] #101 closed, assigned to nobody

[2018-07-02 11:22] gautamv16 commented on #102
@rupalichavan9860 pls test and close all ASAP

[2018-07-02 11:29] gautamv16 commented on #125
@rupalichavan9860  will check these message thing with brent and JIM, please focus on funtional testing. According to me, all validation messages are correct and in standard format. The word is used as per validation message standard. So focus on other things. I can see most of the bugs are only for these validation messages.

[2018-07-02 11:29] #125 closed, assigned to nobody

[2018-07-02 11:30] gautamv16 commented on #124
@rupalichavan9860 as per standard error message is ok, please focus on other issue except these error messages.

[2018-07-02 11:30] #124 closed, assigned to nobody

[2018-07-02 11:35] gautamv16 commented on #109
@rupalichavan9860 please provide steps...

[2018-07-02 11:36] gautamv16 commented on #106
@rupalichavan9860 no requirement....

[2018-07-02 11:36] #106 closed, assigned to nobody

[2018-07-02 11:40] gautamv16 commented on #152
@rupalichavan9860 this is next release feature. Where admin approved Namespaces will show. So its not an bug.

[2018-07-02 13:38] rupalichavan9860 commented on #97
@gautamv16 Retested..Verified

[2018-07-02 13:38] #97 closed, assigned to nobody

[2018-07-02 13:46] rupalichavan9860 commented on #99
@gautamv16 Retested.It is working now

[2018-07-02 13:46] #99 closed, assigned to nobody

[2018-07-02 13:48] rupalichavan9860 commented on #90
@gautamv16 Retested.Working now

[2018-07-02 13:48] #90 closed, assigned to nobody

[2018-07-02 13:53] rupalichavan9860 commented on #102
@gautamv16 Retested.still not fixed please check
![image](https://user-images.githubusercontent.com/40416610/42168000-6a47d682-7e2d-11e8-81b1-1e43b35c7c90.png)

[2018-07-02 13:58] rupalichavan9860 commented on #111
@gautamv16 Retested.Verified

[2018-07-02 13:58] #111 closed, assigned to nobody

[2018-07-02 13:59] rupalichavan9860 commented on #118
@gautamv16 Retested.It is working fine now

[2018-07-02 13:59] #118 closed, assigned to nobody

[2018-07-02 14:04] rupalichavan9860 commented on #109
Steps to reproduce:
1.Go to https://staging.canonizer.com
2.Check Canonizer.com radio button and enter "Testing" keyword in "Search For..."text box.
3.Click on "Google Search"
4.Click on first link "Browse - Canonizer"(http://canonizer.com/browse)

[2018-07-02 14:07] rupalichavan9860 commented on #112
@gautamv16 Retested . It is working now

[2018-07-02 14:07] #112 closed, assigned to nobody

[2018-07-02 14:09] rupalichavan9860 commented on #113
@gautamv16 Retested.verified

[2018-07-02 14:09] #113 closed, assigned to nobody

[2018-07-02 14:14] rupalichavan9860 commented on #114
@gautamv16 Retested.Working now

[2018-07-02 14:14] #114 closed, assigned to nobody

[2018-07-02 14:20] rupalichavan9860 commented on #115
@gautamv16 Retested.It is working fine now

[2018-07-02 14:20] #115 closed, assigned to rupalichavan9860

[2018-07-02 14:21] rupalichavan9860 commented on #116
@gautamv16 Retested.Working

[2018-07-02 14:21] #116 closed, assigned to nobody

[2018-07-02 14:22] rupalichavan9860 commented on #119
@gautamv16 Retested..working..

[2018-07-02 14:22] #119 closed, assigned to nobody

[2018-07-02 17:00] #108 closed, assigned to nobody

[2018-07-02 17:04] rupalichavan9860 commented on #88
@gautamv16 Retested.Verified
But it should be "Already have an account? Login Here" instead of "Already have have account Login Here"

[2018-07-02 17:05] rupalichavan9860 commented on #98
@gautamv16  Retested and verified.
But it should be "Don't have an account? Sign up Now" instead of "Don't have account Signup Now"

[2018-07-02 17:37] rupalichavan9860 commented on #72
@gautamv16 Tested.Verified

[2018-07-02 17:37] #72 closed, assigned to gautamv16

[2018-07-03 08:31] rupalichavan9860 commented on #70
@gautamv16 I have tested Modified e-mail for modifications and objections.Everything is fine expect one thing. "Sincerely,
The Canonizer Team" font size is smaller in modifications mail.It should be uniform

[2018-07-03 15:01] rupalichavan9860 opened #161 "Page crashed when registering new user."
Steps to reproduce:
1. Go to https://staging.canonizer.com
2. Click on Register
3. Enter all mandatory fields
4. Click on "Create your account" button

![image](https://user-images.githubusercontent.com/40416610/42227835-0582a8d4-7f00-11e8-9a73-16eb0fc6b0ff.png)

[2018-07-03 15:33] rupalichavan9860 opened #162 ""Canonizer Sorted Camp Tree" panel is displaying incorrect count for supports count on page load"
Steps to reproduce:
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Create New topic and Login with another user to support this newly added camp
4. Now again login with submitter account
5. Go to Browse and click on added topic
6. Observe page

Expected result:

"Canonizer Sorted Camp Tree" panel and "Support Tree for "Agreement" Camps" panel should display camp c

[2018-07-03 17:29] rupalichavan9860 opened #163 "For some users "Canonized list for" panel is not loading all topics."
![image](https://user-images.githubusercontent.com/40416610/42235196-a467e752-7f14-11e8-8f7a-da70eb5d107b.png)

[2018-07-03 18:15] rupalichavan9860 opened #164 ""Canonizer Sorted Camp Tree" is not displaying for some submitters"
Steps to reproduce:
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic
4. Go to browse and select newly added topic

Expected result:

It should display Topic name in "Canonizer Sorted Camp Tree" panel for submitter.

Actual result:

It is not displaying Topic name in "Canonizer Sorted Camp Tree" panel for submitter.Now login with another user ,and g

[2018-07-03 18:37] rupalichavan9860 opened #165 ""Browse" page should have functionality for "Topics By Me" which will list topics created by logged in user."
As Browse page is listing all topics together,it is difficult for user to search and open topics created by him/her.
I think it should have functionality who will list out topics created by logged in user.So it will be more user friendly

[2018-07-03 19:05] rupalichavan9860 opened #166 ""Canonizer Sorted Camp Tree" panel is not displaying any data if user updated his/her default algorithm preference"
Steps to reproduce:
1.Go to https://staging.canonizer.com/
2.Login with valid email and password
3.Create new topic
4.Go to Account Settings and update default algorithm preference
5.Go to browse and select added topic--("Canonizer Sorted Camp Tree" panel is not displaying any data)
6.Again Go to Account Settings and update default algorithm preference(Previous one)--("Canonizer Sorted Camp Tree"

[2018-07-04 05:16] gautamv16 commented on #166
@rupalichavan9860 these are not issues, you have to understand algorithm to test these. Each algorithm selection will show topic according to algorihtm. Algorithm is filter for topics to display.

[2018-07-04 05:16] #166 closed, assigned to nobody

[2018-07-04 06:09] gautamv16 commented on #164
@rupalichavan9860 again after investigation, its not an issue. This is algorithm selection effect. In one account you have One person one vote and in other you have Computer science Expert, so both will have different value.

Please understand alogithm first before testing else it will waste your time. Every algorithm have their own score value.

[2018-07-04 06:10] #164 closed, assigned to nobody

[2018-07-04 06:11] gautamv16 commented on #163
@rupalichavan9860 this is again algorithm selection. Its not an issue

[2018-07-04 06:11] #163 closed, assigned to nobody

[2018-07-04 06:14] gautamv16 commented on #162
@rupalichavan9860 this is not an issue. In first screenshot you have selected a topic for a particular date and time and that time it has only 1 support and overall it has 2. So i think you need to understand complete flow first before testing these. So lets have a meeting for this. Dont test such issue untill you dont know the flow.

[2018-07-04 07:11] rupalichavan9860 commented on #162
@gautamv16  Okay.Sure

[2018-07-04 07:11] #162 closed, assigned to nobody

[2018-07-04 08:15] rupalichavan9860 opened #167 "Design of the drop-down is not proper on Internet Explorer and Mozilla Firefox"
Design of drop down should be uniform on all browsers.
Please check this for all canonizer pages drop downs

![image](https://user-images.githubusercontent.com/40416610/42265076-15ec0ef0-7f90-11e8-9402-c582a312a318.png)

![image](https://user-images.githubusercontent.com/40416610/42265101-2e3f3a4a-7f90-11e8-8c2a-5d4be86c5b6e.png)

[2018-07-04 08:21] gautamv16 commented on #167
@rupalichavan9860 dont waste time on such things.  Each browser have their own compilers and this design will be different for different browser.

Please post some bugs which are genuine.......

[2018-07-04 08:21] #167 closed, assigned to nobody

[2018-07-04 09:07] rupalichavan9860 commented on #167
@gautamv16 I put this issue because I understood that it can be customize to same look & feel

[2018-07-04 09:37] gautamv16 commented on #140
This is not a bug. When we select other that means user will submit a namespace and it will go to the review of admin and when admin will aprove it, it will display otherwise it will be general. So this feature will be done in next release.

[2018-07-04 09:49] gautamv16 commented on #137
@rupalichavan9860 retest it. Note : The will remain in the message sentence.

[2018-07-04 09:52] gautamv16 commented on #105
@rupalichavan9860 clear your browser cache before testing this.

[2018-07-04 09:53] gautamv16 commented on #128
@rupalichavan9860 test and close this one

[2018-07-04 09:54] gautamv16 commented on #131
@rupalichavan9860 test and close

[2018-07-04 09:55] gautamv16 commented on #133
@rupalichavan9860 test it. It will have customer predefined messages of the tool.

[2018-07-04 09:55] gautamv16 commented on #136
@rupalichavan9860 test and close

[2018-07-04 09:57] gautamv16 commented on #139
@rupalichavan9860 test and close

[2018-07-04 09:57] gautamv16 commented on #161
@rupalichavan9860 test and close

[2018-07-05 08:00] gautamv16 commented on #154
@rupalichavan9860 there will be no live message in camp as it has a different flow for live.

[2018-07-05 08:01] gautamv16 commented on #154
@rupalichavan9860 just updated for small caps.... test for that...

[2018-07-05 08:06] gautamv16 commented on #153
@rupalichavan9860 add new nick name captilization done, except that everything else is as per standard, no need to change the messages.

[2018-07-05 08:11] gautamv16 commented on #151
@rupalichavan9860  Not any bug at all. Its working properly as per requirement. If there is no child it will not show anything, test it with different topics who have child too, dont test only one case for this, test different cases and check collaps functionality.

[2018-07-05 08:13] gautamv16 commented on #150
@rupalichavan9860  changed message to as per our actual requirement.

[2018-07-05 08:16] gautamv16 commented on #149
@rupalichavan9860  #1 is done, all other is ok no need to change.

[2018-07-05 08:20] gautamv16 commented on #148
@rupalichavan9860 its done

[2018-07-05 10:17] rupalichavan9860 commented on #161
@gautamv16 Retested.It is working now

[2018-07-05 10:17] #161 closed, assigned to nobody

[2018-07-05 10:19] rupalichavan9860 commented on #88
@gautamv16 Retested.Verified

[2018-07-05 10:19] #88 closed, assigned to nobody

[2018-07-05 10:24] rupalichavan9860 commented on #148
@gautamv16 Retested.Verified

[2018-07-05 10:24] #148 closed, assigned to nobody

[2018-07-05 10:25] #149 closed, assigned to nobody

[2018-07-05 10:28] rupalichavan9860 commented on #150
@gautamv16 Retested.Verified

[2018-07-05 10:28] #150 closed, assigned to nobody

[2018-07-05 10:32] rupalichavan9860 commented on #153
@gautamv16 Retested.Verified and ignored for error messages as per @gautamv16 comment

[2018-07-05 10:32] #153 closed, assigned to nobody

[2018-07-05 10:38] rupalichavan9860 commented on #128
@gautamv16 Retested and Verified

[2018-07-05 10:38] #128 closed, assigned to nobody

[2018-07-05 16:44] rupalichavan9860 commented on #154
@gautamv16 Retested and verified

[2018-07-05 16:44] #154 closed, assigned to nobody

[2018-07-05 16:59] rupalichavan9860 opened #168 "ErrorException on "https://staging.canonizer.com/""
![image](https://user-images.githubusercontent.com/40416610/42336944-dc18f47c-80a2-11e8-94c4-1abf66bbbf9c.png)

[2018-07-05 18:09] rupalichavan9860 commented on #168
@gautamv16 Its working now

[2018-07-05 18:09] #168 closed, assigned to nobody

[2018-07-05 18:11] rupalichavan9860 commented on #139
@gautamv16 Retested and verified.

[2018-07-05 18:11] #139 closed, assigned to nobody

[2018-07-05 18:13] rupalichavan9860 commented on #136
@gautamv16 Retested and verified

[2018-07-05 18:13] #136 closed, assigned to nobody

[2018-07-05 18:18] rupalichavan9860 commented on #137
@gautamv16 Retested and Verified.The is okay but I think label name in every error messages should be standard (It should be as it is like label name i.e Topic Name,Additional Note).Please check with Brent

[2018-07-05 18:18] #137 closed, assigned to nobody

[2018-07-05 18:19] rupalichavan9860 commented on #131
@gautamv16 Retested and verified

[2018-07-05 18:19] #131 closed, assigned to nobody

[2018-07-05 18:21] rupalichavan9860 commented on #133
@gautamv16 Retested and verified

[2018-07-05 18:21] #133 closed, assigned to nobody

[2018-07-05 18:27] rupalichavan9860 commented on #105
@gautamv16 Retested.Working fine

[2018-07-05 18:27] #105 closed, assigned to nobody

[2018-07-05 18:31] rupalichavan9860 commented on #98
@gautamv16 Retested .
It should be "Don't have **an** account? Sign up Now" instead of "Don't have account? Signup Now"

[2018-07-06 08:25] #89 closed, assigned to nobody

[2018-07-06 10:08] rupalichavan9860 opened #169 "Total Support for This Camp (including sub-camps) count is displaying incorrect when opening any topic from Browse page"
Steps to reproduce:
1.Go to https://staging.canonizer.com
2.Login with valid email and password
3.Choose default algorithm as "One Person One Vote"
3.Create any topic
4.Go to Browse and select recently added topic(reference topic:OPNV-RC-Topic1)

Expected result:

It should display as count 1 for all algorithms when you are selecting from Landing page or from Browse page.

Actual Result:

If selec

[2018-07-06 11:48] gautamv16 commented on #147
@rupalichavan9860 restest.

[2018-07-06 11:48] gautamv16 commented on #146
@rupalichavan9860 retest

[2018-07-06 11:56] gautamv16 commented on #144
@rupalichavan9860 retest

[2018-07-06 11:56] gautamv16 commented on #143
@rupalichavan9860 restest

[2018-07-06 11:57] gautamv16 commented on #141
@rupalichavan9860 retest

[2018-07-06 11:58] gautamv16 commented on #142
@rupalichavan9860 retest

[2018-07-06 12:00] #102 closed, assigned to nobody

[2018-07-06 12:06] gautamv16 commented on #70
@rupalichavan9860  don retest it.

Note : when you restest a issue and its status is fixed and if you found isssue not fixed then change its status to Re-Opened

[2018-07-06 12:06] gautamv16 commented on #98
@rupalichavan9860 retest

[2018-07-06 18:57] rupalichavan9860 commented on #98
@gautamv16 Retested.Verified

[2018-07-06 18:57] #98 closed, assigned to nobody

[2018-07-06 18:59] rupalichavan9860 commented on #141
@gautamv16 Retested and verified.

[2018-07-06 18:59] #141 closed, assigned to nobody

[2018-07-06 19:00] rupalichavan9860 commented on #142
@gautamv16 Retested and verified.

[2018-07-06 19:00] #142 closed, assigned to nobody

[2018-07-06 19:02] rupalichavan9860 commented on #147
@gautamv16 Retested and Verified

[2018-07-06 19:02] #147 closed, assigned to nobody

[2018-07-06 19:06] #145 closed, assigned to nobody

[2018-07-06 19:09] #146 closed, assigned to nobody

[2018-07-06 19:11] rupalichavan9860 commented on #143
@gautamv16 Retested .Working now

[2018-07-06 19:11] #143 closed, assigned to nobody

[2018-07-06 19:12] rupalichavan9860 commented on #144
@gautamv16 Retested.Verified

[2018-07-06 19:20] rupalichavan9860 commented on #144
@gautamv16 "Remove Support" should ask for confirmation message for deletion.Now it is directly deleting

[2018-07-06 19:34] rupalichavan9860 opened #170 "Profile is getting updated with "Date Of Birth" as future date on "Manage Profile Info""
![image](https://user-images.githubusercontent.com/40416610/42396972-acfca96a-8181-11e8-992b-5d2d613cd4ce.png)

[2018-07-06 19:45] rupalichavan9860 opened #171 ""Manage Profile Info" is accepting any data in City,State and Zip Code"
I think State and City should have drop down.And it should depends on Country drop down.
State drop down should populate/lists only states in selected Country
City drop down should populate/lists only cities in selected State

Or
 City,State should auto populate on Zip Code

![image](https://user-images.githubusercontent.com/40416610/42397379-5e7a879c-8183-11e8-9bb4-fae13b22decd.png)

[2018-07-07 06:11] gautamv16 commented on #171
@rupalichavan9860  right now this is flexible and not restricted. Do you think without this we have any issue ? If brent want this to be done then it will be in next release and its not an bug.

[2018-07-07 08:55] rupalichavan9860 commented on #171
@gautamv16 Validation should be there.We can say its an enhancement.

[2018-07-07 09:09] rupalichavan9860 opened #172 ""List of supported camps" is not displaying properly"
Some items are displaying as blank.
![image](https://user-images.githubusercontent.com/40416610/42409127-523e574a-81f3-11e8-861c-348a47850299.png)

[2018-07-07 09:16] rupalichavan9860 commented on #70
@gautamv16 Retested and Verified.

[2018-07-07 09:16] #70 closed, assigned to nobody

[2018-07-07 09:45] rupalichavan9860 opened #173 ""Add new nickname" Link name should be proper on Supported Camps page"
Link name should be "Add New Nick Name" instead of "Add new nickname"

![image](https://user-images.githubusercontent.com/40416610/42409463-58ad2ade-81f8-11e8-9e99-27f338802742.png)

[2018-07-07 10:18] rupalichavan9860 opened #174 ""<Start new supporting camp here>" is displaying "Error!Topic does not exist." on "Create New Camp" for first time"
Steps to reproduce:
1.Go to https://staging.canonizer.com
2.Login with valid email and password
3.Select "Mind Experts" from Canonizer Algorithm drop down from left panel
4.Click on Algorithm Information
5.Select "Mind Experts" from Canonizer Sorted Camp Tree
6.Click on "Mind Experts Topic" in Camp Statement
7.Click on "Start new supporting camp here"

![image](https://user-images.githubuserconten

[2018-07-09 07:56] gautamv16 commented on #174
@rupalichavan9860 cant reproduce this.

[2018-07-09 09:29] rupalichavan9860 commented on #174
@gautamv16 Please follow steps.
1.Go to https://staging.canonizer.com
2.Login with valid email and password
3.Select "Mind Experts" from Canonizer Algorithm drop down from left panel
4.Click on Algorithm Information
5.Select "Mind Experts" from Canonizer Sorted Camp Tree
6.Click on "Mind Experts Topic" in Camp Statement
7.Click on "Start new supporting camp here"
![image](https://user-images.githu

[2018-07-09 09:35] gautamv16 commented on #174
Followed these steps, thats why i replied that i cant reproduce this.

On Mon, 9 Jul 2018, 2:59 pm Rupali Chavan, <notifications@github.com> wrote:

[2018-07-09 09:40] rupalichavan9860 commented on #174
@gautamv16  Sometimes this error is displaying on "Topic: Mind Experts" page also.Please find attached screenshot

![image](https://user-images.githubusercontent.com/40416610/42443052-0f188eca-838a-11e8-9744-afbf6b88348d.png)

[2018-07-09 09:47] gautamv16 commented on #174
It will come if you type wrong topic id or trying to access wrong topic.
Then it will redirect to your last visited page and show this message.

On Mon, 9 Jul 2018, 3:10 pm Rupali Chavan, <notifications@github.com> wrote:

[2018-07-09 09:59] rupalichavan9860 opened #175 "Validation is missing on "Create Topic" page.It is accepting duplicate topic name"
Steps to Reproduce :

1.Go to https://staging.canonizer.com/
2.Click on Log in
3.Login with valid Email and password
4.Go to "Create New Topic"
5.Enter existing topic name in "Topic Name" text box
6.Click on "Create Topic" button
Expected result:
Topic name should be unique.Error message should be displayed for duplication.

Actual Result:
It is accepting duplicate data

![image](https://user-imag

[2018-07-09 10:01] gautamv16 commented on #175
There is no such validation required. Will check later with brent for such
things.

*With Highest Regards*

*Varun Gautam*

*Software Developer*

*+91-9888-207706*

*gautamv16@gmail.com <gautamv16@gmail.com>*

*Great Minds Think Alike*

On Mon, Jul 9, 2018 at 3:29 PM, Rupali Chavan <notifications@github.com>
wrote:

[2018-07-09 10:02] gautamv16 commented on #175
@rupalichavan9860 its not a bug. Will check this later if required.

[2018-07-09 10:08] rupalichavan9860 commented on #175
@gautamv16 I think its a bug.How user will identify his/her topic from browse list if list have 100 topics with same name.But if you think its not a bug,will check with Brent.

[2018-07-09 10:15] gautamv16 commented on #175
@rupalichavan9860 yes its not a bug, it can be a new feature which we didnt disussed yet, required or not. Different topic can have same name, 2 people can think similar and can create their own topic of same name. Topic is not a unique indentity. will discuss with the brent and jim then decide its workability. Thanks

[2018-07-09 11:16] rupalichavan9860 opened #176 ""Change Password" functionality is missing in Account Settings"
"Account Settings" must have one more sub tab for "Change Password" functionality.So that user can change their password according to their needs.

[2018-07-09 18:26] rupalichavan9860 opened #177 ""Confirm Support" button is not working properly."
If user is already supporting camp and again he/she tries to support the camp warning is displaying as "Warning! You are already supporting this camp. You cant submit support again.",but it is allowing to do confirm support again(User is able to click on "Confirm Support" button again and success message is displaying "Success! Your support has been submitted successfully.")

Same for Delegate you

[2018-07-10 11:51] gautamv16 commented on #174
@rupalichavan9860 retest it. Its not on my machines even tested on Karun system..

[2018-07-10 11:52] gautamv16 commented on #177
@rupalichavan9860 this must not happen. Please restest.

[2018-07-10 11:53] gautamv16 commented on #173
@rupalichavan9860 retest it

[2018-07-10 11:58] rupalichavan9860 commented on #173
@gautamv16 Retested.verfied

[2018-07-10 11:58] #173 closed, assigned to nobody

[2018-07-10 12:10] gautamv16 commented on #172
@rupalichavan9860 retest

[2018-07-10 12:11] gautamv16 commented on #169
@rupalichavan9860 test it again after clearing cache

[2018-07-10 12:12] gautamv16 commented on #138
@rupalichavan9860 retest

[2018-07-10 12:15] rupalichavan9860 commented on #177
@gautamv16 If user is already supporting parent camp and tries to support child camp,user should able to support child camp and then it will remove parent camp support.
But now "Support" button  is not working on Supported Camps page(User is not able to click on "Submit" button)

![image](https://user-images.githubusercontent.com/40416610/42509241-eed4eca0-8468-11e8-8680-b98c5b6ccd24.png)

[2018-07-10 12:22] gautamv16 commented on #177
@rupalichavan9860 it wont come, dont you see Submit button for confirmation ? This is used to submit the support.

[2018-07-10 12:24] rupalichavan9860 commented on #138
@gautamv16 Retested .Error message is not displaying now but text boxes should get cleared because if user again click on "Create Topic" button,it is creating another topic with same name.

[2018-07-10 12:27] gautamv16 commented on #138
@rupalichavan9860 why text boxes should be cleared ? and on back button previous data never removed as browser state will remane there. So its not an issue..

[2018-07-10 12:27] rupalichavan9860 commented on #177
@gautamv16 But after clicking on "Support" nothing is happening

[2018-07-10 12:32] rupalichavan9860 commented on #138
@gautamv16 Okay.But while refreshing the same page text boxes are getting cleared so I thought it is an issue

[2018-07-10 12:47] gautamv16 commented on #177
@rupalichavan9860 there is no support button there its submit button.  Can you please check your browser, i have tested on different browser, also i have listed nickname there too to view supported nickname.

[2018-07-10 12:48] gautamv16 commented on #138
Yes, thats why i said on browser back button previous history never cleared.

[2018-07-10 12:49] #138 closed, assigned to nobody

[2018-07-10 12:52] rupalichavan9860 commented on #177
@gautamv16 Its working now.Thanks

[2018-07-10 12:52] #177 closed, assigned to nobody

[2018-07-10 12:56] rupalichavan9860 commented on #174
@gautamv16 Retested.Working fine now

[2018-07-10 12:56] #174 closed, assigned to nobody

[2018-07-10 13:31] BrentAllsop commented on #165
Something close to this already exists in the user support page.
We may want to design and enhance more functionality in this entire area.

[2018-07-10 13:33] BrentAllsop commented on #160
Varun suggested sending a code to the user's e-mail...

[2018-07-10 14:03] BrentAllsop opened #178 "Develop way to have same blog data on live, staging, development..."
Currently, when we start a testing sequence, on a server (like staging.canonizer.com) we clear the database, and load it from live data.

We want to be able to include the blog data in this process.
This means all links in the blog posts, including the outline links to canonized topics, must have the "staging." server names added to the values for the "staging" server.

[2018-07-10 16:02] rupalichavan9860 commented on #169
@gautamv16 Retested and Working fine now.

[2018-07-10 16:13] rupalichavan9860 commented on #172
@gautamv16 Retested.It is not displaying any blank data in list but according to my understanding it should lists all supported camps which are present in Account Settings->My Supports
Please clarify

[2018-07-10 16:58] rupalichavan9860 opened #179 ""Total Support for This Camp (including sub-camps)" is not listing supporter names correctly"
Please check following scenario:

For "Testing Topic by RN-ME1" topic "Total Support for This Camp (including sub-camps)" is not listing supporter nick name "Rupali C" .
1.For "Rupali C"  Account Settings->My Supports this topic is listed under supported camps
2.When trying to support this camp it is displaying "Warning! You are already supporting this camp. You cant submit support again." but nam

[2018-07-10 17:31] rupalichavan9860 opened #180 "Modification in "When you get a new delegated supporter" email format"
Please check body of email.
It should be "{nick_id} has just delegated **his/her(Gender specific)** support to you in this topic: <link to first choice camp>" instead of "{nick_id} has just delegated his support to you in this topic: <link to first choice camp>"
Ideally this should be decided by logged in users Gender.
![image](https://user-images.githubusercontent.com/40416610/42526736-4d0998ea-8

[2018-07-10 19:22] rupalichavan9860 opened #181 "Page crash"
Steps to reproduce:
1.Go to https://staging.canonizer.com
2.Login with valid email and password
3.Create new topic or open already added topic
4.Click on "Start new supporting camp here"
5.Enter valid data and Click on "Create Camp" button,this will send mail for camp submittal
6.Open mail and click on "Click Here To View History"

![image](https://user-images.githubusercontent.com/40416610/425324

[2018-07-10 19:37] rupalichavan9860 opened #182 "File upload issues"
1. Symbol in File Name column should have tool tip text on mouse over.

2. Image file without extension is getting uploaded. Ideally upload should validate the file extensions.

![file upload 1](https://user-images.githubusercontent.com/40416610/42532931-f0b27190-84a5-11e8-9856-22d0bbd111bf.PNG)
![file upload 2](https://user-images.githubusercontent.com/40416610/42532932-f0daaf8e-84a5-11e8-8dc5-1c

[2018-07-11 07:44] gautamv16 commented on #179
@rupalichavan9860 this is not an issue. This is not coming because you have chnaged camp name from Agreement to Agreement ME and old support is for Agreement Camp, So it will not count your support in Agreement camp. For this there is validation for camp edit where you cant change name of a camp if its Agreement camp which is done but not on staging.

[2018-07-11 08:00] gautamv16 commented on #181
@rupalichavan9860  retest it

[2018-07-11 08:07] gautamv16 commented on #172
@rupalichavan9860 your aaccount have support issue as you have changed Agreement Camp name which cant be changed as that is the base for all topics. Root camp name cant be changed from Agreement and that validation is there now. So if you want to test. Check all other camps supports except that topic camps and Agreement Me. or do fresh topic and fresh account testing.

[2018-07-11 08:11] gautamv16 commented on #157
@rupalichavan9860 this comment feature or reply feature will not be in blog as discussed yesterday and for this already created another ticket so its not an issue of feature required.

[2018-07-11 08:11] #157 closed, assigned to nobody

[2018-07-11 08:11] gautamv16 commented on #156
@rupalichavan9860 this comment feature or reply feature will not be in blog as discussed yesterday and for this already created another ticket so its not an issue of feature required.

[2018-07-11 08:11] #156 closed, assigned to nobody

[2018-07-11 08:11] gautamv16 commented on #155
@rupalichavan9860 this comment feature or reply feature will not be in blog as discussed yesterday and for this already created another ticket so its not an issue of feature required.

[2018-07-11 08:11] #155 closed, assigned to nobody

[2018-07-11 08:15] gautamv16 commented on #109
@rupalichavan9860 this is not an issue. Our main canonizer.com is not live yet , so its very understandable live domain url will not work untill we go live. So ignore such live url issues. Thanks

[2018-07-11 08:15] #109 closed, assigned to rupalichavan9860

[2018-07-11 08:16] #76 closed, assigned to nobody

[2018-07-11 08:17] #12 closed

[2018-07-11 08:30] rupalichavan9860 commented on #181
@gautamv16 Retested and working fine now.

[2018-07-11 08:30] #181 closed, assigned to nobody

[2018-07-11 08:57] rupalichavan9860 commented on #172
@gautamv16 Validation is there now but user can change Keywords,Additional Note,Camp About URL and Camp About Nick Name.As of now Camp Name field is disabled but user can change other fields and not able to save changes.

Check following scenario:
Enter data in editable fields and click on "System Update" button.It is displaying error message "The camp name field is required." even if camp name is

[2018-07-11 09:01] rupalichavan9860 commented on #179
@gautamv16 Thanks for clarification.Retested for other topics and camps.Working fine

[2018-07-11 09:01] #179 closed, assigned to nobody

[2018-07-11 09:10] gautamv16 commented on #172
@rupalichavan9860 check it now

[2018-07-11 09:22] rupalichavan9860 opened #183 "Open link in new tab for link "logged in username" is displaying blank page"
Steps to reproduce:
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Right click on logged in username link and click on "Open link in new tab"

Expected Result:
It should open same page in new tab

Actual Result:
It is opening blank page

![image](https://user-images.githubusercontent.com/40416610/42562620-d6405d1c-8519-11e8-8df9-2ec4277ec36d.png)

![image](https:

[2018-07-11 09:27] rupalichavan9860 commented on #172
@gautamv16 Retested.it is working now

[2018-07-11 09:27] #172 closed, assigned to nobody

[2018-07-11 09:28] gautamv16 commented on #183
@rupalichavan9860 this is useless issue. Its not an issue.

[2018-07-11 09:34] rupalichavan9860 commented on #183
@gautamv16 This is an issue and not useless issue.There are standard test cases for links you can check on internet.
test case for links: Test to check if there are any blank page to link

[2018-07-11 09:55] gautamv16 commented on #183
@rupalichavan9860 this is useless interms of our functionality and feature of the canonizer. There is no link for username and its not necessary in any test case that a link always have a url and must be directed to a page. So it has no use here. I have checked all test cases and this is not required and have no use here.

[2018-07-11 10:06] rupalichavan9860 commented on #183
@BrentAllsop Please clarify.

[2018-07-11 10:36] gautamv16 commented on #183
@rupalichavan9860 @BrentAllsop in any term this is not a bug and this is very much clarified to @rupalichavan9860 but she is not ready to understand. @rupalichavan9860 must have to agree on things which are explained. This ticket is completely out of scope and invalid. username is name under which a menu item is opening so its not required to open same on on its right click open in new tab. Hope y

[2018-07-11 11:10] rupalichavan9860 commented on #183
@gautamv16  Okay.Fair enough.I clearly understood the issue but just wanted to confirm with Brent.If this is functionality and you are okay then I will close this one.Also please note I am agree with what you explained but my job is to confirm once again.Also there is no bug/issue which is tagged as useless.I am not testing according to developer.
I hope no more explanation required on this.Thanks

[2018-07-11 11:16] gautamv16 commented on #183
@rupalichavan9860 discussion is very important and required for correct decision makings. You arenot testing as per developer and that is very good. And this is not an issue / bug according to my past decades experience, this is just result of testing. But it must be related to the application and flow and user usecases, it must not be forced on developer once it is confirmed. If there is no need

[2018-07-11 16:55] rupalichavan9860 opened #184 "Incorrect Submitter Nickname is displaying on "Camp History" page"
Incorrect Submitter Nickname is displaying for old version of camp on "Camp History" page.And this nickname is not present in Account Settings->Add & Manage Nick Names

![image](https://user-images.githubusercontent.com/40416610/42587524-9b96c4c8-8558-11e8-9b12-9280ec253263.png)

[2018-07-11 17:26] rupalichavan9860 opened #185 "Related URL is not displaying in "Current Camp Record" panel"
Steps to reproduce:
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Create new topic or open existing topic
4. Click on Manage/Edit This Camp and Click on "Submit Camp Update Based On This
5. Enter data in all fields and click on "System Update"
6. Click on "View This Version" of live Camp

Expected Result:

It should display Related URL

Actual Result:

URL is dis

[2018-07-11 17:45] rupalichavan9860 opened #186 "Incorrect Topic Name is displaying on "Canonizer Forum Details" page"
Steps to reproduce:

1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Create new topic or open existing topic
4. Click on "Camp Forum" in Camp Statement panel

Expected Result:

It should display topic name of selected topic

Actual Result:

It is displaying incorrect topic name.
See URL for correct topic name

![image](https://user-images.githubusercontent.com/4041

[2018-07-11 17:55] rupalichavan9860 opened #187 "Required/mandatory fields should be marked with asterisk mark (*) against the field and "*" should be in red colour on "Create New Thread" page."
Steps to reproduce:
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Create new topic or open existing topic
4. Click on "Camp Forum" in Camp Statement panel
5. Click on "Create New Thread" from left panel

[2018-07-11 18:00] rupalichavan9860 opened #188 "Link name on "Create New Thread" page should be proper."
Steps to reproduce:

1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Create new topic or open existing topic
4. Click on "Camp Forum" in Camp Statement panel
5. Click on "Create New Thread" from left panel

Expected Result:

Link name should be "Add New Nick Name"

Actual Result:

Link name is displaying as "Add new nickname"

[2018-07-11 18:10] rupalichavan9860 opened #189 "Success message is not displaying after creating new thread."
Steps to reproduce:

1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Create new topic or open existing topic
4. Click on "Camp Forum" in Camp Statement panel
5. Click on "Create New Thread" from left panel
6. Enter Title and select Nick Name from drop down
7. Click on "Submit" button

Expected Result:

It should display success message for thread creation.

Actual

[2018-07-11 18:19] rupalichavan9860 opened #190 ""Title of Thread": Title text box is accepting unlimited characters"
It should have some limit on character length.
UI is also getting disturbed.

![image](https://user-images.githubusercontent.com/40416610/42591626-d83ee08e-8564-11e8-92db-7b97f693be41.png)

[2018-07-11 18:33] rupalichavan9860 opened #191 ""Create New Thread" page is displaying page title as topic name along with ID."
Steps to reproduce:

1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Create new topic or open existing topic
4. Click on "Camp Forum" in Camp Statement panel
5. Click on "Create New Thread" from left panel

As of now it is displaying "Create a new thread for ID-TopicName"(e.g. "Create a new thread for 221-NewTopicfornickname"). Is it included in functionality to di

[2018-07-12 03:29] gautamv16 commented on #185
@rupalichavan9860 not an issue again this is system flow of browsing history or camp by date and it will show what ever is submitted in that time range. So its not an issue. Such issues must be in question if not clear.

[2018-07-12 03:50] BrentAllsop commented on #184
Varun is going to verify this.
If it is a problem, it is a show stopper, so we will set show stopper now.
If it is found to be not a show stopper, varun will resolve the issue.

[2018-07-12 03:56] BrentAllsop commented on #183
After discussing, we realized this is a problem with the drop down, which is out of our control.
We would have no way to make it go to another page, without breaking the drop down functionality.
So we are going to close this issue.

[2018-07-12 03:56] #183 closed, assigned to nobody

[2018-07-12 03:59] BrentAllsop commented on #180
We will change this to "their" instead of "his" or "her".

[2018-07-12 04:08] BrentAllsop commented on #132
For the time being, we don't want to be able to delete files.
If the user must delete something, they will need to contact support, for the foreseeable future.
But, to resolve this issue, let's add a warning near the submit button, which will let the user know there will be no way to delete this operation.

[2018-07-12 04:10] BrentAllsop commented on #104
This is a duplicate of 103, so closing.

[2018-07-12 04:10] #104 closed, assigned to nobody

[2018-07-12 04:17] BrentAllsop commented on #84
http://staging.canonizer.com/topic/205

[2018-07-12 04:20] CanonizerJim commented on #85
I've added language to this help page, but I won't close this until I've written a new help page for images.

[2018-07-12 04:26] BrentAllsop commented on #58
This is an involved fix, but very important.
Higher priority than any other "Fix Soon" issue.

[2018-07-12 04:28] BrentAllsop commented on #10
closing this, since we have other issues entered for the few remaining issues.

[2018-07-12 04:39] rupalichavan9860 commented on #185
@gautamv16 after removing date filter also it is not displaying Related URL

![image](https://user-images.githubusercontent.com/40416610/42612911-9734b97c-85bb-11e8-81fe-444324d1889b.png)

[2018-07-12 07:32] rupalichavan9860 opened #192 "User is not able be identify his/her owned thread on "List of all the Threads""
I think "List of all the Threads" page should have Thread Owner Name along with Thread Name(As of now Thread Name is present).So that user can easily identify his/her own thread and see posts in that thread.
Please let me know your thoughts.

[2018-07-12 07:42] rupalichavan9860 opened #193 "User is able to create duplicate threads several times.Is it functionality or an issue?Please Clarify."
Steps to reproduce:
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Create new topic or open existing topic
4. Click on "Camp Forum" in Camp Statement panel
5. Click on "Create New Thread" from left panel
6. Enter title which is already present in "List of all the Threads"
7. Click on "Submit" button

Actual Result:

User is able to create duplicate threads several

[2018-07-12 09:07] rupalichavan9860 opened #194 "Pagination is missing on "List of all the Threads"."
Steps to reproduce:
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Create new topic or open existing topic
4. Click on "Camp Forum" in Camp Statement panel

Expected Result:

"List of all the Threads" should have pagination like "Thread Post" . 10 Records on each page

Actual Result:

Need to scroll more for large number of thread lists

![image](https://user-imag

[2018-07-12 09:53] akuks commented on #192
@rupalichavan9860, this functionality will be available in next release. This is already in pipeline. I will keep this issue until our next release.

[2018-07-12 09:56] akuks commented on #193
Title of the thread is not a unique Property. There can be multiple threads with the same title. Most probably will discuss in the next meeting and if required, then fix in next release.

[2018-07-12 09:59] akuks commented on #191
@rupalichavan9860, yes this is the functionality. To make the URL SEO friendly, it is decided to use this format. You can close this ticket.

[2018-07-12 16:45] rupalichavan9860 commented on #191
@akuks Okay.Thank you for clarification.

[2018-07-12 16:45] #191 closed, assigned to akuks

[2018-07-12 17:05] rupalichavan9860 opened #195 ""Thread Posts" page should be user friendly."
If user adds 5 posts to same thread at the same time,he/she needs to click on back button of browser several times to go back to the "List of all the Threads".
Posts page should have some functionality to directly go back to the "List of all the Threads" page.
Is it possible or this is designed as per business requirement?
Please let me know your thoughts.

[2018-07-13 03:06] BrentAllsop opened #196 "Incorrect camp outline for old page."
https://staging.canonizer.com/topic/88/6?filter=1&asof=bydate&asofdate=2010%2F07%2F01

The bread crumbs for the above page says:
Camp: Agreement / Approachable Via Science / Representational Qualia

But there is no camp tree displayed.

There should always be at least the root camp displayed on every topic.

[2018-07-13 07:39] rupalichavan9860 opened #197 ""Canonizer Forum Details" page UI is not proper."
Steps to reproduce:
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Create new topic or open existing topic
4. Click on "Camp Forum" in Camp Statement panel

"Canonizer Forum Details" page
Alignment of all fields on the page must be uniform
1. Should have space between "Canonizer Forum Details" and ":" for uniformity
2. Should have space between "Camp" and ":" for

[2018-07-13 07:58] rupalichavan9860 opened #198 "Is is necessary to have a "Title" placeholder on "Create New Thread" page if text box is already having label named "Title of Thread:"."
Steps to reproduce:

1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Create new topic or open existing topic
4. Click on "Camp Forum" in Camp Statement panel
5. Click on "Create New Thread" from left panel

I think text box placeholder is not required if text box is already having label named "Title of Thread:"
And Label names must be uniform.
Labels name should be

[2018-07-13 08:46] rupalichavan9860 opened #199 "Validations are missing for text fields"
Validations are missing for text fields.

Depending on the text field requirement in the form the inputs needs to processed accordingly :

1. Name field needs to only accept alphabet values.Name field should not accept the numeric content or the special symbols
2. Zip Code field should accept only the alphanumeric input.
3. Address field should allow characters,numeric and symbols input

As of now

[2018-07-13 10:03] gautamv16 commented on #196
@BrentAllsop i can view the camps in the link you sent and every topic has root camp always in tree.  Please check and let me know

[2018-07-13 10:15] gautamv16 commented on #184
@rupalichavan9860 as i have checked it in detail. This is not an issue. You are missing your nickname, "bb" is your nickname i have verified in database and its status is private so you have used bb nickname for this. Please check properly your nicknames and you will see it there.

[2018-07-13 10:33] rupalichavan9860 commented on #184
@gautamv16 Retested.still different name is displaying.
I have submitted "NickNameDisplay" topic with RCanonizer nick name but when I am updating camp with same nick name,for live version this is displaying correct nick name and incorrect for old version
![image](https://user-images.githubusercontent.com/40416610/42687226-ddb894cc-86b5-11e8-8c4d-5fec6a95daa0.png)

[2018-07-13 10:38] rupalichavan9860 commented on #184
@gautamv16 On topic history it is displaying correct nick name but on Camp history it is displaying incorrect nick name.I have created another topic with "RCanonizer" nick name ,please see attached screenshot
![image](https://user-images.githubusercontent.com/40416610/42687577-df926f56-86b6-11e8-80d4-ed5551609e0e.png)

And "Btest" is not present in my nick name list
![image](https://user-images.gi

[2018-07-13 11:27] rupalichavan9860 opened #200 "Any user has access to edit Help page and Canonizer Algorithm Information page."
As of now any user can edit Camp,Topic and Camp Statement on Help page and Canonizer Algorithm Information page.
I think it must be restricted for normal users.Only selected Users/Roles should have access to add/update Help and Canonizer Algorithm Information page
Please clarify..

[2018-07-13 12:12] gautamv16 commented on #180
@rupalichavan9860 please test

[2018-07-13 14:34] rupalichavan9860 commented on #180
@gautamv16 Retested.Please do it for subject line also.

![image](https://user-images.githubusercontent.com/40416610/42697123-d8b58774-86d7-11e8-940d-2c188cafc275.png)

[2018-07-13 16:51] akuks commented on #198
@rupalichavan9860, Yes, I think so, I have seen on other websites also where the forums have 'Title' as heading and in Placeholder also. If you are ok with the response, then we can close this Issue.

[2018-07-13 16:54] akuks commented on #197
UI Changes Updated.

[2018-07-13 16:59] akuks commented on #188
![image](https://user-images.githubusercontent.com/12954663/42704063-1e6f4458-86ec-11e8-956f-f52f6178d1e2.png)
Done.

[2018-07-13 17:07] rupalichavan9860 opened #201 "Page crash on Objection Mail->Camp Forum link"
Steps to reproduce:
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Open any existing topic
4. Object any camp
5. Open Objection mail and click on Camp Forum link in Objection mail

![image](https://user-images.githubusercontent.com/40416610/42704377-3105424c-86ed-11e8-92b5-a3b3f874193e.png)

[2018-07-13 17:15] akuks commented on #195
This is a good functionality to add on forums. I will include this :)

[2018-07-13 18:20] akuks commented on #195
Functionality Added. A new hyperlink added to the page, on click it will go to the list of all threads under the topic.

[2018-07-13 18:22] akuks commented on #189
Fixed.
--> Now the Success message is also displayed
--> When a new thread is created, the application will directly go to the list of all the threads.

[2018-07-14 08:56] rupalichavan9860 opened #202 "Incorrect language is displaying on "Topic History","Camp Statement History" and "Camp History""
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Go to Account Settings->Select any language other than English
4. Click on "Create New Topic"
5. Check for language on "Topic History","Camp Statement History" and "Camp History" page

Expected Result:
It should display language selected on "Manage Profile Info"

Actual Result:
It is displaying la

[2018-07-14 18:22] rupalichavan9860 opened #203 "Error message for Nick Name field is displaying on two places on Create New Thread page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password(Who don't have any Nick Name)
3. Go to Browse and select any topic
4. Click on "Camp Forum" on Agreement page
5. Click on "Create New Thread"
6. Without entering in any field click on "Submit" button.

Expected Result :

It should display error messages for mandatory field at particular place and one

[2018-07-14 18:31] rupalichavan9860 opened #204 "Required/mandatory fields should be marked with asterisk mark (*) against the field and "*" should be in red colour on "Add & Manage Nick Names" page."
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid Email and password
3. Click on logged in user name and Go to Account Settings
4. Go to Add & Manage Nick Names

Expected Result :
Required/mandatory fields should be marked with asterisk mark (*) against the field and "*" should be in red colour on "Add & Manage Nick Names" page.

Actual Result :
"Nick Name" is not ma

[2018-07-14 18:47] rupalichavan9860 opened #205 "Page Crash/Error Exception on "Supported Camps" page."
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password(**Who don't have any Nick Name**)
3. Go to Browse and select any topic
4. Click on "Join or Directly Support This Camp" Or "Delegate Your Support"
5. Nick Name drop down is blank. Without adding any Nick Name directly click on "Confirm Support" button.

Expected Result :
It should display error messa

[2018-07-14 19:52] rupalichavan9860 opened #206 "Page crash/Error Exception on "List of all the Threads page""
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Without login into system click on "Browse"
3. Select any topic (who have threads) and click on "Camp Forum" on Agreement page
4. Click on any thread from "List of all the Threads"

![image](https://user-images.githubusercontent.com/40416610/42728146-6ed8f732-87d1-11e8-878f-b28eb2bdea6b.png)

[2018-07-15 07:51] rupalichavan9860 opened #207 "Email field is accepting invalid email addresses on register page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Click on Register

Email field is accepting following combinations :
1. test@yahoo.co.in.in.in
2. test@testtesttest.testtesttesttest

Please verify are they valid email addresses?
![image](https://user-images.githubusercontent.com/40416610/42731764-bdfe316e-8831-11e8-95df-be710be405a7.png)

![image](https://user-images.githubuserconten

[2018-07-15 12:32] rupalichavan9860 opened #208 "Incorrect {nick_id} is displaying in "When you get a new delegated supporter" email body and subject line"
Scenario :
Login Details : test@yahoo.co.in.in.in
First name : TestUser1
Last Name : TestUser1
Nick Name : Test User

I have selected "Topic for language test"  who have One supporter "Rupali C".If I click on "Delegate Your Support" mail will go to "Rupali C".

Expected Result :
I think body should be  :
Hi Rupali Chavan,
Test User has just delegated their support to you in this topic: <link to fi

[2018-07-15 22:45] BrentAllsop commented on #196
@gautamv16
![image](https://user-images.githubusercontent.com/6559312/42739122-1a4fcd3a-884e-11e8-84fd-9cda492cff68.png)
This is what it looks like to me.  There is nothing in the "Canonizer Sorted Camp Tree" section.
I'm using Chrome.

[2018-07-15 22:58] BrentAllsop commented on #199
We may want to restrict some of this, at some time in the future.  But for now, if someone wants to enter these values, in these fields, we may want to just let them.  For example, someone may want to add some third party system interface, that uses special characters in various fields.
Also, some countries do allow alphanumeric in their zip codes.
See canada:  https://en.wikipedia.org/wiki/Postal

[2018-07-15 23:07] BrentAllsop commented on #200
@rupalichavan9860,
Currently, this is as designed.  This is the way all wikipedia pages work.
I anyone, possibly me or JIm adds support for these, it will force any changes to be reviewed, and we will be able to object to any changes made in that case.
In the production system, we don't want anyone supporting these, so both Jim, or I, can make changes, without having to go through the 1 week revie

[2018-07-15 23:07] #200 closed, assigned to nobody

[2018-07-15 23:18] BrentAllsop commented on #202
@rupalichavan9860
Currently, we have "language" values in the DB.
But we don't want to turn any different language ability on, now.
We will do this in the future.
So for the time being, the "Language:" value in the display of topic values should not be displayed.
So, to fix this, all references to a Language field, should be removed in the UI.
But it is OK, for users to specify their language, in

[2018-07-15 23:23] BrentAllsop commented on #207
Yes, it would probably be good to verify the after @ hostname via dns lookup.
Other than this, we will expect users to be able to verify their e-mail, once we send and e-mail to them for verification purposes.

[2018-07-16 05:56] rupalichavan9860 commented on #199
@BrentAllsop Yes sure.I will close this one.

For Zip codes:
Zip codes should be alphanumeric,but should not accept special symbols.

[2018-07-16 05:56] gautamv16 commented on #208
@rupalichavan9860 one topic can have only one nickname so default nickname will be used everywhere for which that topic is created

[2018-07-16 06:19] gautamv16 commented on #196
@BrentAllsop what algorithm you have selected, if you dont have selected One Person One Vote and you have filter 1 then it will not have any score and it will not display in the tree....

Please clarify...

[2018-07-16 06:22] gautamv16 commented on #204
@rupalichavan9860 test

[2018-07-16 06:22] gautamv16 commented on #201
@rupalichavan9860 test

[2018-07-16 06:23] gautamv16 commented on #205
@rupalichavan9860 test

[2018-07-16 07:20] rupalichavan9860 commented on #204
@gautamv16 Retested and verified.

[2018-07-16 07:20] #204 closed, assigned to nobody

[2018-07-16 07:24] rupalichavan9860 commented on #205
@gautamv16 Retested.Working now.

[2018-07-16 07:24] #205 closed, assigned to nobody

[2018-07-16 07:34] rupalichavan9860 commented on #201
@gautamv16 Retested.It is working now.

[2018-07-16 07:34] #201 closed, assigned to nobody

[2018-07-16 15:58] rupalichavan9860 commented on #198
@akuks Sure.Closing this issue

[2018-07-16 15:58] #198 closed, assigned to akuks

[2018-07-16 17:43] akuks commented on #187
Fixed.

[2018-07-16 18:19] akuks commented on #203
This issue is fixed. Removed the additional message from the page.

[2018-07-16 18:21] akuks commented on #186
This issue is fixed. It was taking the old name of the Topic. Now it displays the correct Topic name on Forums thread.

[2018-07-17 07:38] akuks commented on #206
@rupalichavan9860, I am unable to replicate this issue. Can you retest it again?

[2018-07-17 07:40] akuks commented on #195
@rupalichavan9860, Please test this issue.

[2018-07-17 07:53] rupalichavan9860 commented on #206
@akuks Retested.Page crash is still exists.Please check it again
Note : Browse as guest( Don't Log in ) and select topic who have threads(refer topic : "ComputerSE-A-By-RN")

[2018-07-17 08:04] rupalichavan9860 commented on #195
@akuks Retested.It is working good now.
But I think newly added link name should be "List of all the Threads" instead of  "List of All Threads" as it is redirecting to "List of all the Threads" page. Just for uniformity..
Please clarify

[2018-07-17 08:25] rupalichavan9860 opened #210 "Filter < { 1 } is displaying Canonizer Sorted Camp Tree who have count >=1"
I think at left panel it should be Filter > { text box } instead of Filter < { text box }  .
Because as of now it is displaying tree who have count >=1 for Filter < 1
Please clarify

[2018-07-17 08:48] rupalichavan9860 opened #211 "Browse topic page is not displaying any message when no record found for particular date range"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid Email and Password
3. Go to Browse
4. Select "as of (yy/mm/dd)" from As Of panel
5. Select "2006/07/01" from calendar control
Records are not present for this date range.

Expected result :
It should display "No record found for this date range " or any other  respective message instead of blank lists

Actual Result :

[2018-07-17 09:00] rupalichavan9860 commented on #197
@akuks Retested and verified

[2018-07-17 09:00] #197 closed, assigned to akuks

[2018-07-17 09:17] rupalichavan9860 commented on #186
@akuks Retested.Now it is displaying correct topic name but it is not displaying properly if topic name contains special symbols.
![image](https://user-images.githubusercontent.com/40416610/42808177-4adca4cc-89d0-11e8-9e1f-273f093fc4fa.png)

[2018-07-17 09:21] rupalichavan9860 commented on #189
@akuks Retested and verified. But success message should be "Thread Created Successfully!" instead of "Thread Posted Successfully!"

[2018-07-17 09:24] rupalichavan9860 commented on #188
@akuks Retested and verified.

[2018-07-17 09:24] #188 closed, assigned to akuks

[2018-07-17 09:53] akuks commented on #206
Unable to retest this issue locally.

[2018-07-17 12:55] rupalichavan9860 opened #212 "Canonizer Forum Details page is not displaying any message when respective topic don't have any threads."
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid Email and Password
3. Go to Browse
4. Select any topic who don't have any threads
5. Click on "Camp Forum" on agreement page

Threads are not present for this topic

Expected result :
It should display "No threads present for this topic " or any other respective message instead of blank lists

Actual Result :
![image]

[2018-07-17 13:05] BrentAllsop commented on #196
Ooops, Varun was right - user error.
I had the filter set to filter the entire tree.

[2018-07-17 13:05] #196 closed, assigned to nobody

[2018-07-17 16:27] CanonizerJim commented on #85
This is now included in the help page, now titled "Wiki Markup and File Uploads."

[2018-07-17 16:27] #85 closed, assigned to BrentAllsop, CanonizerJim

[2018-07-17 16:27] CanonizerJim commented on #66
This page is now online.

[2018-07-17 16:27] #66 closed, assigned to CanonizerJim

[2018-07-17 16:47] rupalichavan9860 opened #213 "Incorrect validations for First Name and Last Name on Register page"
Validations for First Name on Manage Profile Info is "The first name may not be greater than 50 characters." and for Last Name is "The last name may not be greater than 50 characters."
But on Register page validations are different

Expected Result :

As we discussed earlier validations should be
1. For First Name it should be  "The first name may not be greater than 50 characters."
2. And for Las

[2018-07-17 17:28] akuks commented on #212
When the topic doesn't have any new threads, it shows "No threads available for this topic. Start New Threads."

[2018-07-17 18:07] akuks commented on #190
Title of the thread is limited to 100 characters.

[2018-07-17 18:10] akuks commented on #186
@rupalichavan9860, if you are referring to '-', then it wouldn't show it. Because in the Database, '-' is not there. The symbol is added to make SEO friendly URL's.

[2018-07-17 18:17] rupalichavan9860 commented on #186
@akuks If I have added topic with "-" symbol,then it should display.Right?
Please clarify
Please refer screenshot
![image](https://user-images.githubusercontent.com/40416610/42837350-7dafb330-8a1b-11e8-9877-ce4d074caf5e.png)

[2018-07-17 18:20] rupalichavan9860 commented on #186
@akuks check for "!@#$%%^^&&&*****" topic.I have created topic whose topic name contains only symbols. And for this topic Camp Forum page is displaying topic name as blank
![image](https://user-images.githubusercontent.com/40416610/42837586-2051c15a-8a1c-11e8-9caa-0194c74e57eb.png)

[2018-07-17 18:28] akuks commented on #186
![image](https://user-images.githubusercontent.com/12954663/42837969-34ef3bfa-8a1d-11e8-950e-9361829ca711.png)
It is showing. Please see the image

[2018-07-17 18:29] akuks commented on #186
!@#$%%^^&&&*****, Whats the URL for this topic?

[2018-07-17 18:31] rupalichavan9860 commented on #186
https://staging.canonizer.com/topic/218-----------------/1

[2018-07-17 18:32] rupalichavan9860 commented on #186
Name is not displaying properly in URL also for topic name which contains only symbols

[2018-07-17 18:33] akuks commented on #186
Ok, got it, if you check the URL, it is coming as blank. I mean it is only getting "----------" in the URL i.e. why it showing as blank.

[2018-07-17 18:33] rupalichavan9860 commented on #186
Yes

[2018-07-17 18:34] rupalichavan9860 opened #214 "Check validation for Add New Nick Name on "Create New Camp","Submit Statement","Supported Camps","Camp Forum","Manage Topic","Camp Update" Page"
As per "**Once you pick a nick name, for any contribution to a topic, you must always use the same nick name for any other contribution or forum post to this topic.**" validation user must use same nick name for any other contribution or forum post for submitted topic.
According to this validation "Add New Nick Name" should be disabled once user picked a nick name.
It should not display "Add New N

[2018-07-17 18:37] akuks commented on #186
if you view source" the page from where it is called. Href is showing as "https://staging.canonizer.com/forum/218-----------------/1/threads". Needs to check with Varun on this Issue. I will ping him tomorrow as he is the owner of this page.

[2018-07-17 18:40] rupalichavan9860 commented on #186
See for the camp name for same topic,even if camp name contains only symbols it is displaying properly on camp forum but not in URL
![image](https://user-images.githubusercontent.com/40416610/42838627-ef7b43d2-8a1e-11e8-9578-cf98a4f8a651.png)

[2018-07-17 18:49] akuks commented on #186
![image](https://user-images.githubusercontent.com/12954663/42839001-ea884266-8a1f-11e8-8e73-4472feb21287.png)
To prevent another hit on Database, we took the topic name from the URL.  See the View Source of the page. There is a blank topic name in the URL. When this page was created somehow it is not showing the correct topic name. I will ping Varun on this as he created this page.

[2018-07-17 18:51] rupalichavan9860 commented on #186
Okay.sure

[2018-07-18 17:35] akuks commented on #186
@rupalichavan9860,
Hi Rupali,
I have a word with Varun and found out, In the URL,  the topic name is not accurate, as there is some concatenation of camp name to somewhere in the URL for SEO purpose. Topic Name from the URL and from the CAMP Forum Details would not match always.

[2018-07-18 18:02] akuks commented on #194
Pagination functionality is added to the threads.  Threads are limited to 10 threads per page.

[2018-07-19 03:46] BrentAllsop commented on #206
@gautamv16, @akuks,
How is the work going on this one remaining show stopper?

[2018-07-19 03:54] akuks commented on #206
@BrentAllsop, Still unable to reproduce this issue. I even tried by replicating the staging database locally on all the flavors of OS(I.e. windows, Ubuntu and Windows), but no success. I will try a few more combinations to reproduce it and let you know.

[2018-07-20 08:39] gautamv16 commented on #206
@rupalichavan9860  please check it and confirm

[2018-07-20 08:42] rupalichavan9860 commented on #212
@akuks Tested and verified.

[2018-07-20 08:42] #212 closed, assigned to akuks

[2018-07-20 08:47] rupalichavan9860 commented on #206
@gautamv16 @akuks Retested and verified.It is working now

[2018-07-20 08:47] #206 closed, assigned to nobody

[2018-07-20 08:53] gautamv16 commented on #206
@rupalichavan9860 please inform everyone on email that Show Stoppers are fixed.. so that i can move ahead with production deployment

@BrentAllsop @CanonizerJim

[2018-07-20 08:56] rupalichavan9860 commented on #194
@akuks Retested and verified

[2018-07-20 08:56] #194 closed, assigned to akuks

[2018-07-20 09:13] rupalichavan9860 commented on #190
@akuks Retested and verified.

[2018-07-20 09:13] #190 closed, assigned to akuks

[2018-07-20 09:15] rupalichavan9860 commented on #189
@akuks Retested and verified.

[2018-07-20 09:15] #189 closed, assigned to akuks

[2018-07-20 09:18] rupalichavan9860 commented on #187
@akuks Retested and verified.

[2018-07-20 09:18] #187 closed, assigned to akuks

[2018-07-20 09:19] rupalichavan9860 commented on #195
@akuks Retested and verified.

[2018-07-20 09:19] #195 closed, assigned to akuks

[2018-07-20 09:28] rupalichavan9860 commented on #203
@akuks Retested and verified.

[2018-07-20 09:28] #203 closed, assigned to akuks

[2018-07-20 09:28] rupalichavan9860 commented on #186
@akuks Okay.I am closing this.

[2018-07-20 09:28] #186 closed, assigned to akuks

[2018-07-21 23:08] BrentAllsop opened #217 "Incorrect escaped special characters in forum data."
@gautamv16, @akuks, @rupalichavan9860,

As can be seen on this forum page:

http://production.canonizer.com/forum/88-Theories-of-Mind-and-Consciousness/6/threads/77

There are still some incorrect escaped special characters in the old forum data.

i.e.: ...does something like prove â€œproperty dualismâ€ is epiphenomenal.

Can we get this fixed, ASAP?

Thanks,

Brent

[2018-07-22 06:52] rupalichavan9860 opened #218 "Incorrect page title on Forgot Password Page"
Steps to reproduce :

1. Go to https://staging.canonizer.com or http://production.canonizer.com
2. Click on Log in
3. Click on "Forgot Password" link

Expected Result :

Page title should be "Forgot Password" instead of "Forget Password"

Actual Result :

![image](https://user-images.githubusercontent.com/40416610/43043109-638eb4ec-8da9-11e8-8c8b-1e63880d3186.png)

[2018-07-22 07:19] rupalichavan9860 opened #219 ""Sign In" link on Thread posts is redirecting to incorrect page after log in"
Steps to reproduce :
1. Go to http://production.canonizer.com/ or https://staging.canonizer.com/
2. Without login click on Browse
3. Select any topic who have threads
4. Click on "Camp Forum"
5. Click on any thread form List of all threads
6. Click on "Sign In" link
7. Login with valid email and password

Expected Result :

After login it should redirect to thread posts page where use can reply to

[2018-07-22 13:17] rupalichavan9860 opened #220 "Page contents are overlapping in production environment for Mobile device"
Testing Environment : Mobile Device
Steps to reproduce :
1. Go to http://production.canonizer.com/
2. Click on Menu icon

Expected Result :

UI should be proper

Actual Result :
Working fine on staging.
Page contents are overlapping on production.
![screenshot_2018-07-22-18-42-28-790_com android chrome](https://user-images.githubusercontent.com/40416610/43045955-5c00b33e-8ddf-11e8-999e-d9dc58feac3

[2018-07-22 13:26] rupalichavan9860 opened #221 "Error messages are not displaying on Register page (Production environment on Mobile device)"
Testing Environment : Mobile Device

Steps to reproduce :
1. Go to http://production.canonizer.com
2. Click on menu icon
3. Click on "Register" link
4. Without entering in any fields click on "Create Your Account" button

Expected Result :

It should display error messages for mandatory/required fields.

Actual Result :
It is working fine on PC's(Staging and Production) and Mobile(Staging)
It is n

[2018-07-22 17:04] rupalichavan9860 opened #222 "Search functionality is displaying records from staging environment also"
Steps to reproduce :
1. Go to http://production.canonizer.com/
2. Select Canonizer.com from search functionality
3. Enter any keyword in Search text box
4. Click on "Google Search" button

Expected Result  :

It should display records from production database only.

Actual Result :

It is displaying data from staging database.
![image](https://user-images.githubusercontent.com/40416610/43048026-9a

[2018-07-22 18:04] rupalichavan9860 opened #223 "Error messages are not displaying on Login page (Production environment on Mobile device)"
Testing Environment : Mobile Device

Steps to reproduce :
1. Go to http://production.canonizer.com
2. Click on menu icon
3. Click on "Log in" link
4. Without entering in any fields click on "Log in" button

Expected Result :

It should display error messages for mandatory/required fields.

Actual Result :
It is working fine on PC's(Staging and Production) and Mobile(Staging)
It is not displaying e

[2018-07-22 18:12] rupalichavan9860 opened #224 "Error message is not displaying on Upload File page (Production environment on Mobile device)"
Testing Environment : Mobile Device

Steps to reproduce :
1. Go to http://production.canonizer.com
2. Login with valid Email and Password
3. Click on menu icon
3. Click on "Upload File" link
4. Without entering in any fields and without selecting file click on "Upload" button

Expected Result :

It should display error message "Error! The file field is required."

Actual Result :
It is working fin

[2018-07-23 04:33] akuks commented on #217
@BrentAllsop, We will check this and let you know

[2018-07-23 07:29] rupalichavan9860 opened #225 "Page crash/Query Exception on production Browse page"
Steps to reproduce :
1. Go to http://production.canonizer.com/
2. Go to Browse
3. Select "as of (yy/mm/dd)" from As Of filter
4. Put date "28/07/2010" in text box
5. Press Enter key on keyboard

Actual Result :
Page crash/Error Exception
![image](https://user-images.githubusercontent.com/40416610/43062942-0393008c-8e78-11e8-9412-3234e96605c3.png)

[2018-07-23 07:40] rupalichavan9860 commented on #225
@gautamv16 Please check this.This issue is exists on staging also

[2018-07-23 08:34] rupalichavan9860 opened #226 "Page Crash/Error Exception on Canonizer Forum Details page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/ or http://production.canonizer.com/
2. Login with valid Email and Password
3. Go to Browse
4. Select any topic
5. Click on "Camp Forum"
6. Select "as of (yy/mm/dd)" from As Of filter
7. Select old date like "2008/07/01" in text box
Actual Result :
Page crash.

![image](https://user-images.githubusercontent.com/40416610/43066044-3ac3725e-

[2018-07-23 10:27] akuks commented on #226
@rupalichavan9860, The exception is correct on this. Because "As of Filter" is not for the forums. Keep this issue open, we will discuss this in the meeting.

[2018-07-23 13:23] rupalichavan9860 commented on #226
@akuks Okay.Sure

[2018-07-24 07:18] gautamv16 commented on #225
@rupalichavan9860 please check and verify ASAP

[2018-07-24 07:19] gautamv16 commented on #226
@rupalichavan9860 @akuks please check this solved. Yes this feature is not for forum . But error is coming because there are empty camp data forwarded, solved it, please check.

[2018-07-24 07:40] gautamv16 commented on #217
@BrentAllsop  @akuks i have fixed this. Please test

[2018-07-24 08:12] rupalichavan9860 commented on #226
@gautamv16 @akuks Retested and verified.Working fine now

[2018-07-24 08:12] #226 closed, assigned to nobody

[2018-07-24 08:19] rupalichavan9860 commented on #225
@gautamv16 Retested and verified.

[2018-07-24 08:19] #225 closed, assigned to nobody

[2018-07-24 13:35] gautamv16 commented on #180
@rupalichavan9860 fixed

[2018-07-24 17:36] rupalichavan9860 commented on #180
@gautamv16 Retested and verified.

[2018-07-24 17:36] #180 closed, assigned to gautamv16

[2018-07-24 18:14] rupalichavan9860 opened #228 "Incorrect error message is displaying on Upload File page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Go to Upload File
4. Upload any image file

Expected Result :

 If user is uploading file with file name whose name is same as file name which is uploaded by another user ,it should allow user to upload file with same file name.
Otherwise user will get confused,he/she is not able to see the file n

[2018-07-25 08:15] rupalichavan9860 opened #229 "If only supporter should go live (was: "Pas" should spell correctly in Algorithm Information->Mind Experts->Camp Statement"
Steps to reproduce :
1. Go to http://production.canonizer.com Or https://staging.canonizer.com
2. Go to "Algorithm Information"
3. Click on "Mind Experts" from Canonizer Sorted Camp Tree
4. Observe Camp Statement

Expected Result :

"Pas" should spell correctly.It must be "Pass"

Actual Result :

![image](https://user-images.githubusercontent.com/40416610/43187859-4a4c95a8-9010-11e8-8401-44d423b5f

[2018-07-25 08:51] rupalichavan9860 opened #230 "Canonizer Blog on Canonizer Main Page is not working properly when opening any camp from Canonizer Sorted Camp Tree"
Steps to reproduce :
1. Go to http://production.canonizer.com/
2. Login with valid Email and Password
3. Go to Canonizer Main Page
4. Click on "CONTINUE READING" button for "Canonizing Climate Change" blog
5. Go to bottom of blog and click on any camp from tree structure

Expected Result :
It should display Agreement page within that area

Actual Result :
If you click on "Start new supporting camp

[2018-07-25 17:28] rupalichavan9860 opened #231 "Once selected user is not able to remove selected date from "as of (yy/mm/dd)" text box"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Go to Browse
4. Select "as of (yy/mm/dd)" and select any date
5. Now select include review or default from As Of Filter

Expected Result :

If user have selected "as of (yy/mm/dd)" mistakenly and want to select only "include review" or "default" from "As Of" filters,he/she should able to remove se

[2018-07-25 22:15] BrentAllsop commented on #229
Nice catch.
This is a content issue, and I'm the only supporter of the camp, so I submitted a new version with the correct.

However, there was a problem.  Since I am the only supporter, when I submit a change, it should go live instantly.  So we need to get this fixed.

[2018-07-25 22:18] BrentAllsop commented on #217
Yup, looks nice.
Thanks.

[2018-07-25 22:18] #217 closed, assigned to nobody

[2018-08-01 16:16] BrentAllsop opened #232 ""under review" messages need to be fixed."
@gautamv16, @rupalichavan9860, @CanonizerJim
When I submitted a change to a topic record, I got this message:

"Success! Topic update submitted successfully. Its under review, once approved it will be live."

All messages like this (for topics, camps, statements...) should be changed to be this:

"Topic change submitted successfully.  If no direct supporters object to this change, it will go live

[2018-08-01 16:18] CanonizerJim commented on #232
Yes. At least, it’s better than the existing language you received, which has some grammar problems.

[2018-08-01 17:02] BrentAllsop opened #233 "Edit camp parent."
We must be able to edit the parent of a camp.
Needs to be a drop down selector of all available camps for a topic.
Default to current value.

[2018-08-03 03:35] gautamv16 commented on #233
@BrentAllsop need discusion on this. Its not clear to me.

[2018-08-04 03:05] BrentAllsop commented on #233
@gautamv16,

When you edit a camp, you can currently change or set the following fields in a camp record:
Camp Name
Keywords
Additional Note
Camp About URL
Camp About Nick Name

You also need to be able to edit or change the Parent camp field in this record.
It should default to the current camp, but have all other camps in the topic as selectable parent camps.
In other words, this is how you chan

[2018-08-07 13:37] BrentAllsop opened #234 "New Secure reference system for anonymous IDs"
We need to design, then implement, some way to link anonymous id records, to the actual user.

[2018-08-08 17:22] gautamv16 commented on #182
@rupalichavan9860 all done. Point 5th is not required as it can contain anything in name of the file.

[2018-08-08 17:51] gautamv16 commented on #207
@BrentAllsop  after review this i found, there is no validation check for email like this. For this there needs to be seperate DNS check API for domain verification which we dont require here. We just need to verify the email address of user and activate the account. So this feature is already mentioned in other ticket. So close this ticket after reviewing what i said.  @rupalichavan9860

[2018-08-08 18:16] gautamv16 commented on #132
@rupalichavan9860 please test

[2018-08-08 18:16] gautamv16 commented on #170
@rupalichavan9860  please test

[2018-08-08 18:16] gautamv16 commented on #232
@rupalichavan9860  please test

[2018-08-08 18:17] gautamv16 commented on #202
@rupalichavan9860  please test

[2018-08-08 18:17] gautamv16 commented on #175
@rupalichavan9860 please test

[2018-08-08 18:18] gautamv16 commented on #233
@rupalichavan9860  @BrentAllsop  please test

[2018-08-08 19:10] BrentAllsop commented on #233
@rupalichavan9860, @gautamv16
Nice, verified it is working in development.canonizer.com
I was able to change a camp's parent camp.
Looking forward to seeing this in production.

[2018-08-09 09:10] rupalichavan9860 commented on #202
@gautamv16 Retested and verified.

[2018-08-09 09:10] #202 closed, assigned to nobody

[2018-08-09 09:21] rupalichavan9860 opened #235 "UI is not proper on Camp Statement History page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid Email and Password
3. Select any topic and click on "Manage/Edit Camp Statement"
4. Observe page

Expected Result  :

1.Gap between "Statement" and "Note" should be uniform like other fields on the page.
2."Go live Time" should display like "Go live Time : 09/08/2018, 14:35:42" .Remove ";"

Actual Result :
1. Extra ga

[2018-08-09 09:23] rupalichavan9860 commented on #132
@gautamv16 Retested and verified.

[2018-08-09 09:23] #132 closed, assigned to nobody

[2018-08-09 09:31] rupalichavan9860 commented on #232
@gautamv16 Retested. Success message is displaying **"Success! Topic change submitted successfully."** But according to previous discussions All messages like this (for topics, camps, statements...) should be changed to be this:**"Topic change submitted successfully. If no direct supporters object to this change, it will go live on <go live date/time>"**

@BrentAllsop Please confirm

[2018-08-09 09:39] rupalichavan9860 commented on #229
@gautamv16 Retested.This issue is fixed on Production but not on Staging.Please fix this on staging also

[2018-08-09 09:42] rupalichavan9860 commented on #229
![image](https://user-images.githubusercontent.com/40416610/43891254-7f9b1716-9be6-11e8-9181-6bbfc7d68790.png)

![image](https://user-images.githubusercontent.com/40416610/43891323-a1a549b2-9be6-11e8-97a7-1d1a7a823fdf.png)

[2018-08-09 10:03] rupalichavan9860 commented on #175
@gautamv16 Retested and it is working fine when user is trying to create new topic with existing topic name.But while editing the topic it is not allowing to submit update with same name.Please consider following scenario
1. Select existing topic for example : "ComputerSE-A-By-RN"
2. Click on "Manage/Edit This Topic"
3. Click on "Submit Topic Update Based On This"
4. Enter "Additional Note" and cl

[2018-08-09 10:18] gautamv16 commented on #229
This is just speeling, @brent or jim will fix it. Production is important
to fix as staging will be replicated with production data soon and it will
be overided and fixed. So mark it fixed.

*With Highest Regards*

*Varun Gautam*

*Software Developer*

*+91-9888-207706*

*gautamv16@gmail.com <gautamv16@gmail.com>*

*Great Minds Think Alike*

On Thu, Aug 9, 2018 at 3:12 PM, Rupali Chavan <notificat

[2018-08-09 10:20] gautamv16 commented on #232
Here, if topic is going be live in future then date will come, if its
already live then only change message will come as we dont have any future
live data in that case. So its not an issue.

*With Highest Regards*

*Varun Gautam*

*Software Developer*

*+91-9888-207706*

*gautamv16@gmail.com <gautamv16@gmail.com>*

*Great Minds Think Alike*

On Thu, Aug 9, 2018 at 3:01 PM, Rupali Chavan <notificat

[2018-08-09 10:22] gautamv16 commented on #235
2. Time is not any issues its 24 Hrs format over all. So its not an issue
here.

*With Highest Regards*

*Varun Gautam*

*Software Developer*

*+91-9888-207706*

*gautamv16@gmail.com <gautamv16@gmail.com>*

*Great Minds Think Alike*

On Thu, Aug 9, 2018 at 2:51 PM, Rupali Chavan <notifications@github.com>
wrote:

[2018-08-09 10:24] rupalichavan9860 commented on #229
@gautamv16 Okay.Closing this issue as it is fixed on production

[2018-08-09 10:28] rupalichavan9860 commented on #232
@gautamv16 Retested for topic which will be live in future.Working fine but there is mismatch in dates.Please find screenshot and confirm
![image](https://user-images.githubusercontent.com/40416610/43893577-0e687c44-9bed-11e8-87bd-dd367d6851b4.png)

[2018-08-09 10:32] rupalichavan9860 commented on #235
@gautamv16 Please check this on "Topic History". It looks good
![image](https://user-images.githubusercontent.com/40416610/43893711-85db01d4-9bed-11e8-82b8-34c44e1ba212.png)

[2018-08-09 10:33] rupalichavan9860 commented on #235
@gautamv16 Even on Camp History. This issue is exists only on Camp Statement History and only for "Go live Time"

[2018-08-09 10:39] gautamv16 commented on #235
Dont know what issue you are talking. Its date format and its showing
correctly as per the camp timings and topic. There is flow of go live time
after 1 week qnd its showing date and time according to local timezone.

On Thu, 9 Aug 2018, 4:03 pm Rupali Chavan, <notifications@github.com> wrote:

[2018-08-09 10:39] rupalichavan9860 commented on #170
@gautamv16 Retested and verified.It is working fine but as user can edit Date Of Birth ,But it should be like other editable fields(Colour should be White instead of Gray)

[2018-08-09 10:44] rupalichavan9860 commented on #235
It's just UI issue.I just want to say remove extra semicolon which is present at the end of the date .Please check screenshot

[2018-08-09 10:45] gautamv16 commented on #170
@rupali again this issue is not relevant. This field is readonly user can
only select the value from calender and and cant edit manually and it will
greyed out. Please close issue if ticket problem is fixed.

On Thu, 9 Aug 2018, 4:09 pm Rupali Chavan, <notifications@github.com> wrote:

[2018-08-09 10:47] rupalichavan9860 commented on #170
@gautamv16 Okay .No issues.I m closing this

[2018-08-09 10:47] #170 closed, assigned to nobody

[2018-08-09 15:59] BrentAllsop commented on #182
@rupalichavan9860 @gautamv16
When I specified the name to be epist2.gif, it gave it this name: epist2.gif.gif, can't do this.
I got an error: "Error! There is already a file with name epist2, Please use different name."
should use the real name "epist2.gif" not just epist2.  What about jpg...?
Need to discuss all this in a meeting.

[2018-08-09 16:02] BrentAllsop commented on #207
Looks OK to me, so closing.

[2018-08-09 16:02] #207 closed, assigned to nobody

[2018-08-09 17:07] rupalichavan9860 commented on #182
@gautamv16 Incorrect error message is displaying when I am trying to upload image with size greater than 25 Mb.
When I am trying to upload image file with size 25.1 MB it is not allowing me to upload file  and I got an error : "Error! The file may not be greater than 2000 kilobytes."

**But 2000 Kilobytes = 1.9531 Megabytes and 25 Megabytes = 25600 Kilobytes**

Even I am trying to upload image fil

[2018-08-09 17:10] rupalichavan9860 commented on #182
Refer this screenshot
![image](https://user-images.githubusercontent.com/40416610/43914305-22410956-9c25-11e8-928c-35f5bc6e7ef3.png)

[2018-08-09 17:12] gautamv16 commented on #182
Its is 2000 KB, need to change 25 MB to 2000 KB

*With Highest Regards*

*Varun Gautam*

*Software Developer*

*+91-9888-207706*

*gautamv16@gmail.com <gautamv16@gmail.com>*

*Great Minds Think Alike*

On Thu, Aug 9, 2018 at 10:37 PM, Rupali Chavan <notifications@github.com>
wrote:

[2018-08-10 04:10] BrentAllsop commented on #182
Change the file size limit to 5 MB.
Change the pre filled out value from just "File Name" to "File Name (with no extension)"
There is an issue, when you first upload a file with a 1.0 file name that already exists, the first time it says it succeeded, but in reality, the file URL still points to the old 1.0 image file.

[2018-08-10 07:31] rupalichavan9860 commented on #182
@gautamv16 Please check Issue Id-228.This is also file upload issue

[2018-08-10 07:51] rupalichavan9860 commented on #182
@gautamv16 When I am trying to upload bmp image file with 0 bytes in size, it is displaying error "Error! The file must be a file of type: jpeg, bmp, png, jpg, gif."
It should display error message for minimum file size instead of type of file.
Please confirm..

[2018-08-10 08:16] gautamv16 commented on #182
0 byte file size systen recognize as invalid file and it seems it can be
tempered. So there is no minimum size in file systems.

*With Highest Regards*

*Varun Gautam*

*Software Developer*

*+91-9888-207706*

*gautamv16@gmail.com <gautamv16@gmail.com>*

*Great Minds Think Alike*

On Fri, Aug 10, 2018 at 1:21 PM, Rupali Chavan <notifications@github.com>
wrote:

[2018-08-11 07:59] gautamv16 commented on #232
@rupalichavan9860  please test and close issue

[2018-08-11 07:59] gautamv16 commented on #175
@rupalichavan9860 please test and close

[2018-08-11 08:01] gautamv16 commented on #228
@rupalichavan9860 no same file name cant be uploaded as per system rule. There cant be 2 same name file on system, not matter who is the user.

[2018-08-11 09:48] gautamv16 commented on #182
@rupalichavan9860 solved  as per discussion. @BrentAllsop  please check existing file issue.

[2018-08-11 09:59] #184 closed, assigned to nobody

[2018-08-11 10:11] rupalichavan9860 commented on #232
@gautamv16 Retested and Verified. It is working fine for Topic.
Please fix this for camp also
Please refer attached screenshot for details
![image](https://user-images.githubusercontent.com/40416610/43990685-68bf95fc-9d7c-11e8-8e17-3976eb32e1b4.png)

[2018-08-11 10:24] rupalichavan9860 commented on #175
@gautamv16 Retested and verified.

[2018-08-11 10:24] #175 closed, assigned to nobody

[2018-08-11 10:27] rupalichavan9860 commented on #232
@gautamv16 Please fix this time issue in respective mails also.
Please refer screenshot
![image](https://user-images.githubusercontent.com/40416610/43990853-2782c886-9d7f-11e8-8e3f-53b3c208be7c.png)
![image](https://user-images.githubusercontent.com/40416610/43990864-3c58c756-9d7f-11e8-959a-6aa91ab48d67.png)

[2018-08-11 10:52] rupalichavan9860 commented on #182
@gautamv16 Retested for file size issue .It is working fine now

[2018-08-12 08:12] rupalichavan9860 opened #236 "Regarding page title for statement update"
Steps to reproduce :
 1. Go to https://staging.canonizer.com/
 2. Login with valid Email and Password
 3. Go to Browse
 4. Select any topic and click on "Manage/Edit Camp Statement" on Agreement page
 5.Click on "Submit Statement Update Based On This"

Expected Result :
Page title should be "Statement update"

Actual Result :
As of now page title is displaying as "Submit update"

 Please confirm?

[2018-08-17 14:54] #182 closed, assigned to nobody

[2018-08-17 15:27] rupalichavan9860 commented on #208
![image](https://user-images.githubusercontent.com/40416610/44274574-19e81380-a260-11e8-89b3-34205c950c89.png)

[2018-08-17 15:34] rupalichavan9860 opened #237 "HTTP ERROR 500"
https://staging.canonizer.com/statement/history/211-ComputerSE-A-By-RN/1

[2018-08-17 15:41] rupalichavan9860 commented on #211
Message should display "No records found for selected as of date."

[2018-08-17 15:44] #210 closed, assigned to nobody

[2018-08-17 15:50] rupalichavan9860 commented on #213
We have decided to limit the character length of 100 for First Name,Last Name,Middle Name

[2018-08-17 15:56] rupalichavan9860 commented on #214
Need to fix this on Camp forum page also

[2018-08-17 16:10] rupalichavan9860 commented on #222
Update all SEO issues

[2018-08-17 16:19] rupalichavan9860 commented on #230
Working now so closing this issue

[2018-08-17 16:19] #230 closed, assigned to nobody

[2018-08-17 16:22] #231 closed, assigned to nobody

[2018-08-18 08:30] gautamv16 commented on #232
@rupalichavan9860  camp and statement history page time fixed. And for email timing i have removed time as its not possible to pass local time zone which we are using on browser based i.e client side as its rendering it dynamically. So there is only a message that it will go live in 1 week. On the email we cant use the unix time based on browser timezone as email is not rendering from browser.

So

[2018-08-18 08:31] gautamv16 commented on #134
@rupalichavan9860  please check and close.

[2018-08-18 08:48] gautamv16 commented on #237
@rupalichavan9860 please check and close

[2018-08-18 10:51] rupalichavan9860 commented on #237
@gautamv16 Retested.Issue is still exists but now it is displaying "HTTP ERROR 500" when you click on "ComputerSE-A-By-RN" topic on Browse page

![image](https://user-images.githubusercontent.com/40416610/44298486-8bc46980-a301-11e8-886a-111203515bf5.png)

[2018-08-18 11:05] rupalichavan9860 commented on #237
@gautamv16 Same issue is exists when I am opening topic from "Proposed change to Agreement submitted" email
Even exists when I am clicking on link in
"Proposed change to camp statement #1370 submitted" email

Steps to reproduce :
1.Go to https://staging.canonizer.com
2. Login with valid email and password.
3.Click on any topic
4.Click on "Manage/Edit This Topic"
5.Click on "Submit Camp Update Base

[2018-08-18 11:19] rupalichavan9860 commented on #134
@gautamv16 Retested and vefified

[2018-08-18 11:19] #134 closed, assigned to nobody

[2018-08-18 11:27] rupalichavan9860 commented on #232
@gautamv16 Retested and Verified.

[2018-08-18 11:27] #232 closed, assigned to nobody

[2018-08-18 12:13] rupalichavan9860 commented on #220
@gautamv16 Retested after clearing cache.It is looking good. So closing this issue

[2018-08-18 12:13] #220 closed, assigned to nobody

[2018-08-18 15:42] gautamv16 commented on #237
@rupalichavan9860  please check this. This issue arises due to parent camp drop down newly built. As per flow we cant change Root camp parent any how, buts system allowing it to change and then complete structure got messed.

Please test same scanario too and these camp issue too. If any of othe test camp have this same issue then its parent association issue. You cant change root camp parent.

No

[2018-08-18 19:46] rupalichavan9860 opened #238 "Fatal Error Exception"
I am getting fatal error exception when click on link from "proposed a change to this camp" mail.
Steps to reproduce :
1.Go to https://staging.canonizer.com/
2.Login with valid Email and Password
3.Open any topic who have child camps
4.Click on child camp from "Canonizer Sorted Camp Tree"
5.Click on "Manage/Edit This Camp"
6.Click on "Submit Camp Update Based On This" and do some changes in fields

[2018-08-18 20:16] rupalichavan9860 commented on #237
@gautamv16 Retested
1.Root Camp parent : this issue is working fine for root camp parent as we can't change root camp parent
2.Child Camp : Create a child camp using <Start new supporting camp here>under root camp and try to update this camp by selecting different values from "Parent Camp" drop down.Now it is displaying "HTTP ERROR 500" on Submit update/View this version and when opening link from

[2018-08-19 08:50] rupalichavan9860 commented on #224
@gautamv16 After clearing cache it is working fine.So closing this issue

[2018-08-19 08:50] #224 closed, assigned to nobody

[2018-08-19 08:51] rupalichavan9860 commented on #223
@gautamv16 After clearing cache it is working fine.So closing this issue

[2018-08-19 08:51] #223 closed, assigned to nobody

[2018-08-19 08:51] rupalichavan9860 commented on #221
@gautamv16 After clearing cache it is working fine.So closing this issue

[2018-08-19 08:51] #221 closed, assigned to nobody

[2018-08-20 05:00] rupalichavan9860 commented on #237
@gautamv16 This issue is exists for Child camp.Please refer following steps to reproduce this
Steps to reproduce :
1.Go to https://staging.canonizer.com
2.Login with valid Email and Password
3.Select any topic or create new topic
4.Go to Agreement page and Click on Start new supporting camp here
5.Enter in all fields and click on "Create Camp" button
6.Click on "View This Version" and support this

[2018-08-22 06:56] gautamv16 commented on #237
@rupalichavan9860  please check and test. Dont use above url as it has wrong dates and time selection. Test it from the flow.

[2018-08-22 06:57] gautamv16 commented on #238
@rupalichavan9860  please test again with the flow. Dont use old email and tested data.

[2018-08-22 07:28] rupalichavan9860 commented on #237
@gautamv16 I have tested for fresh topic with the flow,but if I am trying to update any camp and if I am trying to select same camp from Parent Camp drop down as a Parent Camp this issue is occurring.

Need to discuss this

[2018-08-22 07:30] rupalichavan9860 commented on #238
@gautamv16 I have tested for fresh topic with the flow,but if I am trying to update any camp and if I am trying to select same camp from Parent Camp drop down as a Parent Camp this issue is occurring.

Needs to discuss this

[2018-08-22 08:33] rupalichavan9860 opened #240 ""Parent Camp" is displaying multiple entries with same camp name"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Create new topic and Create 2 camps under this topic
4. Now select any one camp and submit 2-3 times new changes for the camp
5. Now select another camp and click on "Manage/Edit This Camp"
6. Click on "Submit Camp Update Based On This"
7. Click on "Parent Camp" drop down
8. Observe "Parent Camp"

[2018-08-22 08:40] rupalichavan9860 commented on #240
This is creating confusion at the time of supporting camps also.Please refer screenshot
![image](https://user-images.githubusercontent.com/40416610/44452782-04cf0400-a615-11e8-8513-0753926a83ea.png)

[2018-08-22 10:18] akuks commented on #219
@rupalichavan9860 Please test this issue in staging environment

[2018-08-22 11:26] gautamv16 commented on #238
@rupalichavan9860  can you please check it for that solution now. I made some changes.

[2018-08-22 11:27] gautamv16 commented on #237
@rupalichavan9860 check it for same camp solution, made some changes.

[2018-08-22 11:39] rupalichavan9860 commented on #219
@akuks Retested and verified.It is redirecting to respective page now

[2018-08-22 11:39] #219 closed, assigned to akuks

[2018-08-22 11:54] rupalichavan9860 commented on #238
@gautamv16 Retested and working fine now

[2018-08-22 11:54] #238 closed, assigned to nobody

[2018-08-22 11:55] rupalichavan9860 commented on #237
@gautamv16 Retested and working now

[2018-08-22 11:55] #237 closed, assigned to nobody

[2018-08-22 16:34] rupalichavan9860 commented on #240
@gautamv16 Retested and verified.

[2018-08-22 16:34] #240 closed, assigned to nobody

[2018-08-22 17:39] rupalichavan9860 opened #241 "Upload File issue on production environment"
Steps to reproduce :
1. Go to https://production.canonizer.com
2. Login with valid Email and Password
3. Go to Upload File
4. Try following scenarios
               1.Try to upload file greater than 2 MB
               2.Try to upload file greater than 5 MB

Expected Result :
1.File should get uploaded successfully
2.It should display error message "Error! The file may not be greater than 5 MB. "

[2018-08-23 08:20] rupalichavan9860 opened #242 "When user clicks on any camp of Canonizer Sorted Camp Tree on blog page it is redirecting to https://canonizer.com"
Steps to reproduce :
1.Go to https://production.canonizer.com
2. Login with valid Email and Password
3.Go to Blog
4.Open any blog and go to bottom part(Canonizer Sorted Camp Tree)
5.Click on any camp from Camp tree

Expected Result :
It should redirect to respective production site agreement page

Actual Result :
As of now it is redirecting to agreement page of https://canonizer.com

![image](http

[2018-08-23 10:56] rupalichavan9860 commented on #241
@gautamv16 .txt file is getting uploaded on both staging and production.
Steps to reproduce :
1.Rename any .jpg file to .txt and upload
2.Upload the .txt file
Please refer following screenshot
![image](https://user-images.githubusercontent.com/40416610/44521584-2c939a00-a6f1-11e8-9551-59bf0d05c441.png)

[2018-08-23 17:34] rupalichavan9860 commented on #241
@gautamv16 Retested and verified.As per discussion it is a production server issue so I am closing this

[2018-08-28 13:38] akuks opened #243 "UI got disrupted when the URL https://canonizer.com/index.php is called"
UI got disrupted while calling the URL https://canonizer.com/index.php.
Tested on Chrome.

![image](https://user-images.githubusercontent.com/12954663/44726547-99de6b00-aaf5-11e8-8751-e47a9e2e7fa5.png)

[2018-08-29 12:32] gautamv16 commented on #243
@akuks please check and close.

[2018-08-29 14:24] akuks commented on #243
Working fine. Closing the issue.

[2018-08-29 14:24] #243 closed, assigned to nobody

[2018-09-02 16:25] BrentAllsop opened #244 "Bad link when changing "Canonized List" back to General."
Steps to reproduce:
1. Go to https://canonizer.com
2. In the "Canonized List For" drop down, select /sandbox/
     Notice that this works, and lists the /sandbox/ topics.
3. change it back to General
    It goes to this bad URL: https://canonizer.comgeneral/

[2018-09-04 06:55] gautamv16 commented on #235
@rupalichavan9860 test and close

[2018-09-04 06:56] gautamv16 commented on #242
Its not an isssue

[2018-09-04 06:56] #242 closed, assigned to nobody

[2018-09-04 06:57] gautamv16 commented on #236
@rupalichavan9860 pls test

[2018-09-04 06:59] gautamv16 commented on #218
@rupalichavan9860 pls test

[2018-09-04 07:04] gautamv16 commented on #213
@rupalichavan9860 pls test

[2018-09-04 07:06] gautamv16 commented on #211
@rupalichavan9860 pls test

[2018-09-04 07:10] gautamv16 commented on #159
This issue is solved by jim and brent, its not an issue, calender is working properly adn showing only those dates which have blog post only.

[2018-09-04 07:10] #159 closed, assigned to nobody

[2018-09-04 07:11] #158 closed, assigned to CanonizerJim

[2018-09-04 07:12] gautamv16 commented on #103
@rupalichavan9860 done pls test

[2018-09-04 07:12] gautamv16 commented on #92
@rupalichavan9860 pls test

[2018-09-04 07:15] gautamv16 commented on #222
Its fixed and will take at least 2-3 months to remove staging website from google indexing.

[2018-09-04 07:19] #84 closed, assigned to gautamv16

[2018-09-04 07:20] #75 closed, assigned to gautamv16

[2018-09-04 09:37] rupalichavan9860 commented on #236
@gautamv16 Retested and verified.But I think 'u' from 'update' should be in capital letter for uniformity.
I just checked title for other pages and observed title names are like "Create New Topic","Create New Camp","Manage Topic","Topic History" etc
So this also should be uniform
1.It should be "Statement Update" instead of "Statement update"
2.And for camp update also title should be "Camp Update

[2018-09-04 09:41] rupalichavan9860 commented on #235
@gautamv16 Retested and verified.

[2018-09-04 09:41] #235 closed, assigned to nobody

[2018-09-04 09:45] rupalichavan9860 commented on #218
@gautamv16 Retested and Verified.

[2018-09-04 09:45] #218 closed, assigned to nobody

[2018-09-04 09:51] rupalichavan9860 commented on #211
@gautamv16 Retested.
As per discussion message should display "No records found for selected as of date." but it is displaying message "No Record Found!"
Please confirm

![image](https://user-images.githubusercontent.com/40416610/45024167-0d342f80-b056-11e8-8edc-c89dacf280e3.png)

[2018-09-04 10:07] gautamv16 commented on #244
@BrentAllsop @rupalichavan9860 fixed.

[2018-09-04 10:21] gautamv16 commented on #211
@rupalichavan9860 done changed

[2018-09-04 10:22] gautamv16 commented on #236
@rupalichavan9860 done pls check

[2018-09-04 12:58] rupalichavan9860 commented on #211
@gautamv16 Retested and verified.

[2018-09-04 12:58] #211 closed, assigned to nobody

[2018-09-04 13:03] rupalichavan9860 commented on #236
@gautamv16 Retested and verified

[2018-09-04 13:03] #236 closed, assigned to nobody

[2018-09-04 18:20] rupalichavan9860 commented on #213
@gautamv16 Retested.It is working fine on Register page but it is not working for Middle Name on Manage Profile Info page
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Go to Account Settings
4. Enter more than 100 characters in Middle Name text box
5. Click on Update button

Expected Result :
It should display error message "The middle name m

[2018-09-04 19:00] rupalichavan9860 commented on #92
@gautamv16 Tested.I think look & feel for Password guidelines should be more effective.
 Please let me know your thoughts

Current Look & Feel  :
![image](https://user-images.githubusercontent.com/40416610/45050303-91120a00-b09e-11e8-9b85-3c226de77960.png)

Please refer Facebook sign up page or any other website for Password guidelines look & feel.

![image](https://user-images.githubusercontent.c

[2018-09-04 19:57] BrentAllsop opened #246 "Posts to forums must send e-mail to all direct supporters of that camp, and all sub camps."
I've added the description of the content of this e-mail to the Canonizer Email google docs:

To Direct supporters when a post is made to a camp forum.

https://docs.google.com/document/d/1xpdJ9XHs7FgZkJth9NE4chhTBR73p9XY_iu5S6OQLYg/edit?usp=sharing

[2018-09-05 06:30] gautamv16 commented on #92
@rupalichavan9860 looka and feel is ok. Its simpler and good. So please test functionality. If that works please close the issue. We will see in future about look and feel of complete canonizer.

[2018-09-05 06:36] gautamv16 commented on #213
@rupalichavan9860 before testing please clear you system cache once. Its working for me. Please check

[2018-09-05 08:42] rupalichavan9860 commented on #213
@gautamv16 Yes working.

[2018-09-05 08:42] #213 closed, assigned to nobody

[2018-09-05 08:44] rupalichavan9860 commented on #92
@gautamv16 Okay.I will focus on functionality and closing this

[2018-09-05 08:44] #92 closed, assigned to nobody

[2018-09-05 08:54] rupalichavan9860 commented on #91
@gautamv16 Tested.Validations are working

[2018-09-05 09:25] rupalichavan9860 commented on #103
@gautamv16 Tested .Validations are working properly

[2018-09-05 09:33] rupalichavan9860 commented on #222
@gautamv16 Okay.I will check this after 2 months and let you know.Till then I will keep this open

[2018-09-05 09:42] rupalichavan9860 commented on #103
@gautamv16 Confirm Password on Reset New Password page should be encrypted

Actual Result :
Confirm Password is not displaying encrypted password.

![image](https://user-images.githubusercontent.com/40416610/45085318-02dd6880-b11e-11e8-9222-2c7741976998.png)

[2018-09-05 09:57] rupalichavan9860 opened #247 "Incorrect validation on Register page for Middle Name"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Click on Register
3. Enter valid data in all mandatory fields and keep Middle Name as blank as it is non mandatory
4. Click on "Create your account" button

Expected Result :
User should get registered and user should see canonizer main page

Actual Result :
User is not getting registered and It is displaying error message "The middle

[2018-09-05 17:45] rupalichavan9860 commented on #247
This error message is also displaying when trying to click on "Create Your account" without entering into any field
Scenario :
Without entering into any field directly click on "Create your account" button on register page
refer screenshot for details

![image](https://user-images.githubusercontent.com/40416610/45110924-3f7e8380-b161-11e8-92d2-67ff230e6d5d.png)

[2018-09-05 18:11] rupalichavan9860 commented on #91
@gautamv16 While performing negative testing I found the following issue
Password field is accepting spaces in password(leading,trailing or anywhere in password)
e.g. "  test@12345","test@12 12","test@12345  "

[2018-09-05 18:12] rupalichavan9860 commented on #103
@gautamv16 While performing negative testing I found the following issue
Password field is accepting spaces in password(leading,trailing or anywhere in password)
e.g. "  test@12345","test@12 12","test@12345  "

[2018-09-05 18:53] gautamv16 commented on #103
Passwords can have spaces. Space is a ASacci code which can be used for
password, even it will be more secure. And when u do testing again then if
u have such doubts creates each time new issue as this is not related to
this ticket.

On Wed, 5 Sep 2018, 11:42 pm Rupali Chavan, <notifications@github.com>
wrote:

[2018-09-05 18:54] gautamv16 commented on #91
Saw my message on other ticket its not an issue. Close this ticket as per
the issue this ticket has been fixed.

On Wed, 5 Sep 2018, 11:41 pm Rupali Chavan, <notifications@github.com>
wrote:

[2018-09-06 06:19] gautamv16 commented on #247
@rupalichavan9860  please check this..

[2018-09-06 06:21] gautamv16 commented on #103
@rupalichavan9860  pls check this and close.

[2018-09-06 06:21] gautamv16 commented on #91
@rupalichavan9860 its fine. pls close

[2018-09-06 17:50] rupalichavan9860 commented on #247
@gautamv16 Retested and verified

[2018-09-06 17:50] #247 closed, assigned to nobody

[2018-09-06 17:53] rupalichavan9860 commented on #91
@gautamv16 Okay.closing this

[2018-09-06 17:53] #91 closed, assigned to nobody

[2018-09-06 17:54] rupalichavan9860 commented on #103
@gautamv16 Retested.Confirm Password is now displaying in encrypted form.So closing this issue

[2018-09-06 17:54] #103 closed, assigned to nobody

[2018-09-06 18:39] rupalichavan9860 commented on #244
@gautamv16 Tested and Verified.It looks good to me.
@BrentAllsop Please check and close if it is fine.

[2018-09-10 07:45] gautamv16 commented on #140
closing this issue as its related to 152.

[2018-09-10 07:45] #140 closed, assigned to nobody

[2018-09-11 09:13] rupalichavan9860 opened #248 "Regarding page title when user click on Add Camp Statement button"
Steps to reproduce :

1. Go to https://staging.canonizer.com/
2. Login with valid Email and Password
3. Go to Browse
4. Select any topic and click on "Add Camp Statement" on Agreement page

Expected Result :
Page title should be "Add Camp Statement" or "Create Camp Statement"

Actual Result :
As of now page title is displaying as "Submit Statement".Button name is also "Submit Statement"

Please co

[2018-09-11 09:47] rupalichavan9860 opened #249 "Can we have a Contact Us page for any questions or queries instead of sending email to support@canonizer.com"
As of now for any Comments and Questions user needs to send email to support@canonizer.com.
Instead of this can we have a Contact Us page where user can put their comments and asks questions in case of any queries.

[2018-09-12 10:08] gautamv16 commented on #176
@rupalichavan9860 pls check and close.

[2018-09-12 10:09] gautamv16 commented on #160
@rupalichavan9860  and @BrentAllsop please check and close

[2018-09-12 10:09] gautamv16 commented on #208
@rupalichavan9860 pls check and close

[2018-09-12 10:12] akuks commented on #246
Email functionality is added and deployed on staging. @BrentAllsop @rupalichavan9860 Please test it.

[2018-09-12 20:55] BrentAllsop opened #251 "Submitting forum post causes fatal error."
I submitted a post to a forum of this agreement camp:

https://staging.canonizer.com/topic/30-Attorney-Test-Topic/1

and got this fatal error:

(1/1) ErrorExceptionUndefined variable: camp_id
--
in CommonForumFunctions.php line 42
at HandleExceptions->handleError(8, 'Undefined variable: camp_id', '/var/www/html/canonizer-staging/app/CommonForumFunctions.php', 42, array('topicid' => '30', 'campnum'

[2018-09-13 03:56] rupalichavan9860 commented on #251
@BrentAllsop @akuks I have also tested camp forum for emails functionality.While creating new thread I am getting "Swift_RfcComplianceException"
Please refer following screenshot for more details
![image](https://user-images.githubusercontent.com/40416610/45466368-059c1700-b737-11e8-8c5d-731ae5810b55.png)

[2018-09-13 03:59] rupalichavan9860 commented on #251
@BrentAllsop @akuks When I am trying to reply to the thread post I am getting another error exception than above
Please refer screenshot for more details
![image](https://user-images.githubusercontent.com/40416610/45466423-60357300-b737-11e8-8154-13b40526083a.png)

[2018-09-13 04:47] rupalichavan9860 opened #253 "UI issues on Change Password page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Go to Account Settings
4. Click on Change Password
5. Observe Change Password page

Expected Result :
1. Change Password page title name should be "Change Password"
2. Label names should be uniform like "Enter Old Password","Enter New Password" and "Confirm Password"

Actual Result :
1. Page title

[2018-09-13 04:57] rupalichavan9860 opened #254 "Incorrect error message on Change Password"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Account Settings
4. Click on "Change Password"
5. Enter incorrect password in "Enter old password" text box and enter valid data in "Enter New password" and "Confirm password" text boxes

Expected Result :

Error message should be "Error! Incorrect Old Password."
Or Change label name to "Ent

[2018-09-13 06:55] rupalichavan9860 commented on #176
@gautamv16 I have tested Change Password functionality and I have added new issues for this.Please check

[2018-09-13 07:04] rupalichavan9860 opened #255 "Page is redirecting to change password page when user logged in after successful password change"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Account Settings
4. Click on Change Password
5. Enter valid data in all fields and click on Save button
6. Now this will redirect to Login page
7. Login with email and changed password

Expected Result :
User should redirect to Canonizer home page

Actual Result :
User is redirecting to Chan

[2018-09-13 07:14] rupalichavan9860 commented on #208
@gautamv16 Retested and working fine now

[2018-09-13 07:14] #208 closed, assigned to gautamv16

[2018-09-13 07:22] akuks commented on #251
The issue is related to #246

[2018-09-13 07:29] akuks commented on #251
#246 --> It will be fixed with Issue 246

[2018-09-13 07:39] rupalichavan9860 commented on #160
@gautamv16 Tested and it is working good.
@BrentAllsop Please check this functionality and One Time Verification Code email.If it is fine for you I will close this issue

[2018-09-13 07:42] rupalichavan9860 commented on #176
@gautamv16 I can see the Change Password functionality in Account Settings now,So I am closing this issue.Please check issues related to this functionality

[2018-09-13 07:42] #176 closed, assigned to nobody

[2018-09-13 16:06] gautamv16 commented on #254
@rupalichavan9860 fixed

[2018-09-13 16:07] gautamv16 commented on #253
@rupalichavan9860 fixed.

[2018-09-14 03:19] rupalichavan9860 commented on #253
@gautamv16 Retested.
Please change error message for "Enter current password" field to "The current password field is required." instead of "The old password field is required."
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/45527725-c636fe80-b7fa-11e8-8b9e-f009c9666c9f.png)

[2018-09-14 03:22] rupalichavan9860 commented on #254
@gautamv16 Retested and verified.Closing this

[2018-09-14 03:22] #254 closed, assigned to nobody

[2018-09-14 03:54] gautamv16 commented on #253
@rupalichavan9860 solved fixed.

[2018-09-14 04:15] BrentAllsop commented on #244
Brent verified this was fixed, so closing.

[2018-09-14 07:31] rupalichavan9860 commented on #253
@gautamv16 Retested and verified.

[2018-09-14 07:31] #253 closed, assigned to nobody

[2018-09-14 14:36] rupalichavan9860 commented on #251
@akuks I have tested Forum emails functionality.Error exception issue is fixed and supporters are getting mail now,but needs some UI changes in mail format
Missing things:
1. Header - Canonizer
2. Footer - © 2018 Canonizer. All rights reserved.
3. Alignment - Alignment should be center
It should be like other canonizer emails for uniformity.Please check attached screenshot for more details

Expect

[2018-09-14 16:41] rupalichavan9860 commented on #160
@gautamv16 Working good so closing this issue.

[2018-09-14 16:41] #160 closed, assigned to nobody

[2018-09-16 00:25] BrentAllsop opened #256 "Old style URLs bad and not working."
There are two issues contained in this report.

#1 old URLs, of the format: http://canonizer.com/topic.asp/88/6 do not work.
There are lots of these on the internet, like on this quora page:
https://www.quora.com/What-exactly-are-qualia
so it would be nice to get them working, redirect or something.

#2 There are a bunch of topics in the old data that had these old style links in them.
It looks li

[2018-09-16 00:27] BrentAllsop commented on #256
We should find and fix all of these.

[2018-09-18 07:30] akuks commented on #251
@rupalichavan9860 Please Test

[2018-09-18 17:35] rupalichavan9860 commented on #244
@gautamv16 This issue is working fine on staging,but still exists on Production environment(Canonizer Main Page and Browse page)
Please refer attached screenshot for more details
Staging :
![image](https://user-images.githubusercontent.com/40416610/45705327-ee29b780-bb96-11e8-8697-4ed74d91c1a5.png)
![image](https://user-images.githubusercontent.com/40416610/45705452-4365c900-bb97-11e8-8b35-59d64ad

[2018-09-19 08:59] rupalichavan9860 commented on #251
@akuks Tested and working good.Closing this

[2018-09-19 08:59] #251 closed, assigned to akuks

[2018-09-19 09:01] rupalichavan9860 commented on #246
@akuks Functionality is working so closing this

[2018-09-19 09:01] #246 closed, assigned to akuks

[2018-09-19 09:14] rupalichavan9860 opened #258 "Incorrect error message on Change Password"
Steps to reproduce :

1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Account Settings
4. Click on "Change Password"
5. Enter valid password in "Enter current password" text box and enter same password in "Enter new password" and "Confirm password" text boxes
6. Click on "Save" button

Expected Result :
Error message should be "The new password and current pa

[2018-09-19 17:13] rupalichavan9860 commented on #255
@gautamv16 Please check this issue.

[2018-09-20 06:43] gautamv16 commented on #256
@BrentAllsop this link is working.

For example the links on this important camp page:
https://canonizer.com/index.php/topic/105-Consciousness-Srvy-Prjct/1

And we must have to find old url which have topic.asp because if there is .asp extension in url it will not work.

[2018-09-20 06:45] gautamv16 commented on #244
@rupalichavan9860 its not an issue. You are matching the name or spelling of general but not explaining the issue if any. Its working fine, redirecting fine. Only diff is label of the general.