[2018-09-20 06:45] #244 closed, assigned to gautamv16

[2018-09-20 07:12] gautamv16 commented on #258
@rupalichavan9860 test it

[2018-09-20 07:12] gautamv16 commented on #255
@rupalichavan9860 test it

[2018-09-20 07:13] gautamv16 commented on #248
@rupalichavan9860 check and close

[2018-09-20 17:47] rupalichavan9860 commented on #248
@gautamv16 Retested and verified

[2018-09-20 17:47] #248 closed, assigned to nobody

[2018-09-20 17:53] rupalichavan9860 commented on #258
@gautamv16 Retested and verified

[2018-09-20 17:53] #258 closed, assigned to nobody

[2018-09-20 18:05] rupalichavan9860 commented on #255
@gautamv16 Retested and verified.

[2018-09-20 18:05] #255 closed, assigned to nobody

[2018-09-20 20:00] BrentAllsop commented on #256
@gautamv16,
Yes.  There are many links arround the internet that use the .asp format I was hopping we could make work.
Can we not make old format .asp links work?

Also, some of the links on this page:
https://canonizer.com/index.php/topic/105-Consciousness-Srvy-Prjct/1
in particular this one:
Theories of Mind and Consciousness:  https://canonizer.com/index.php/index.php/topic/88
which are not for

[2018-09-21 02:40] BrentAllsop opened #259 "Cannot support camp even though don't support any camps."
@gautamv16, @rupalichavan9860
It appears that nobody is supporting any camps in this topic:

https://canonizer.com/topic/39-Organic-Strategy/2

But when I try to join that camp, it says I already support it?

Also, in the topic outline at the top of each camp page, I think it would be nice if we display the current camp, and all parent camps, even if they would otherwise be filtered out.  Currentl

[2018-09-21 03:27] BrentAllsop commented on #256
Hmm, it looks like the canonizer.com URLs in most camps are bad?
For example, the URLs in this camp.
https://canonizer.com/index.php/topic/132-Help/1

https://canonizer.com/index.php/index.php/topic/73-wiki-text/1

[2018-09-21 04:16] akuks opened #260 "Add Markup for Forum Posts"
Add Markup for forum posts to make posts more elegant.

[2018-09-22 16:22] BrentAllsop commented on #260
I'm thinking we should decide exactly what we are going to do here, before we spend time actually doing it.  For example, Do we want to use different markup than what the camps use...?

[2018-09-22 17:34] BrentAllsop opened #261 "Object Button operation is indistinguishable from new version button."
@gautamv16, @rupalichavan9860

When you press the object button, the resulting page looks almost identical to the "submit update based on this" button.

The object page should change in these ways:
* there should be no section for editing the statement.
* There should be no note section.
* The "submit update" button should read "Submit Objection"

When you press the "Submit Objection" it should no

[2018-09-22 17:35] BrentAllsop commented on #261
The way it currently works, the record being objected to would still go live after one week right?  Only the new record would not go live?

[2018-09-24 16:30] akuks commented on #260
We will discuss this on Tuesday's (25th Sep 2018)  meeting and decide what needs to be done there.

[2018-09-27 18:42] gautamv16 commented on #214
@rupalichavan9860 fixed, i did a one change i.e  Add new nickname only will come if there is no Nickname added in account yet. In that way it will solve all problems. Please check and close.

[2018-09-27 18:43] gautamv16 commented on #261
@BrentAllsop please check this one, re-developed accordingly.

[2018-09-27 18:45] gautamv16 commented on #256
@BrentAllsop  please test and close. Developed a new way for all old style url to work according to newer one.

[2018-09-27 19:02] gautamv16 commented on #144
@rupalichavan9860 fixed please test

[2018-09-28 08:20] rupalichavan9860 commented on #144
@gautamv16 Tested and verified.

[2018-09-28 08:20] #144 closed, assigned to nobody

[2018-09-28 08:44] rupalichavan9860 commented on #261
@gautamv16 Tested and working accordingly,But the page title should be different

It should be "Statement Object" or any other respective title instead of "Statement Update".
And I think "Your Objection Reason" should be mandatory.As of now "Your Objection Reason" field is non-mandatory.Is it fine?please confirm

[2018-09-28 08:47] gautamv16 commented on #261
Title is update because we are updating it. It must not be object as its
already mention on button. And object reason is not mandatory as per record.

On Fri, 28 Sep 2018, 2:14 pm Rupali Chavan, <notifications@github.com>
wrote:

[2018-09-28 08:48] rupalichavan9860 commented on #261
Okay

[2018-09-28 09:20] rupalichavan9860 commented on #214
@gautamv16 Retested.It is working on "Camp Update","Manage Topic" and "Statement Update" pages
But "Add New Nick Name" link is still available on following pages where user is not able to select another Nick Name(because according to functionality User must use same nick name which he/she have selected at the time of Topic submission)

Please refer screenshot for more details

1.Create New Camp
![

[2018-09-28 09:34] rupalichavan9860 commented on #261
@BrentAllsop I have tested this and looks good to me . Please check this and close if fine for you

[2018-09-28 17:17] BrentAllsop opened #262 "Camp outline arrow default setting is wrong when there is sub structure."
@gautamv16 @rupalichavan9860

When you first open a page with lots of structure, like this one:
https://staging.canonizer.com/topic/88-Theories-of-Consciousness/1
All the arrows point the right, indicating the sub structure is not open, when it is open.
The first time you click it, it changes the arrow, but does not close the structure.
Only on the second click, does the arrow go back to the right

[2018-09-28 17:28] rupalichavan9860 commented on #262
@BrentAllsop I already added this issue but as per Varun it was not an issue and it was closed.
Please refer closed issue 151

[2018-09-28 17:30] BrentAllsop commented on #261
@rupalichavan9860 @gautamv16
I'm in Rupali's camp on these.
I think an update operation in canonizer.com, is something that creates new version of the record, containing the update.  Objecting to an update, is very different than an update.

I think the object reason should be required, when objecting.

The current label is: "<camp/topic/statement> update" but I think it should instead say:
"Objec

[2018-09-28 17:40] BrentAllsop commented on #262
Oh, yea, I seem to vaguely recall something like that.  Sorry I missed it.
I added the duplicate flag to this one.
Is there are better way to link this to issue 151, than just set the duplicate flag, and reference 151 here?

[2018-09-28 17:42] rupalichavan9860 commented on #262
Okay.No issues.Just setting the duplicate flag is fine :)

[2018-09-28 17:45] rupalichavan9860 commented on #262
Let keep this open because issue 151 was marked as invalid and closed.

[2018-09-28 18:03] rupalichavan9860 opened #263 "Footer contents on canonizer emails are different than other pages of Canonizer"
I think footer contents at all places should be same.Please confirm?
Canonizer footer contents :
![image](https://user-images.githubusercontent.com/40416610/46225356-93524600-c376-11e8-86b5-edf98744f29b.png)

Canonizer email footer contents  :
![image](https://user-images.githubusercontent.com/40416610/46225390-aa913380-c376-11e8-80d7-6c7320592ce9.png)

[2018-09-29 06:46] gautamv16 commented on #214
@rupalichavan9860 retest..

[2018-09-29 06:46] gautamv16 commented on #261
@BrentAllsop  and @rupalichavan9860 please retest

[2018-09-29 06:48] gautamv16 commented on #165
@rupalichavan9860 check browse page, you will have option to select own topics.....

[2018-09-29 06:49] gautamv16 commented on #58
@BrentAllsop and @rupalichavan9860 please check the preview button on camp edit and statement edit page.

[2018-09-29 10:10] rupalichavan9860 commented on #261
@gautamv16 Retested.
Expected Result :

1. "Object to this proposed update" should display only one button i.e "Submit Objection"
2. Error message for "Your Objection Reason " should be "The objection reason field is required."

Actual Result :

Please refer attached screenshot for more details :
1. "Object to this proposed update" is displaying 3 buttons "Submit Objection","Submit Update" and "Ca

[2018-09-29 10:27] rupalichavan9860 commented on #214
@gautamv16 Retested.
Please remove the link form Forum Posts page also,refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/46244686-4fa41e80-c400-11e8-8aec-29f9e71345f7.png)

[2018-09-29 11:17] rupalichavan9860 commented on #165
@gautamv16 Tested.Option is available to select own topics.
But I found following issue in vase of user is new(Who don't have any topics)

Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Create a new user account and log in using new user
3. Go to Browse
4. Click on "Only My Topics" checkbox

Expected result :
It should display "No records found" or any other respective message

Act

[2018-09-29 11:51] rupalichavan9860 commented on #58
@gautamv16 Tested functionality of preview button on statement update page.I found following issues
1. Incorrect date is displaying for "Go Live Time"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Create a fresh topic and add camp statement
4. Using same user try to update added camp statement
5. Click on "Preview" button
6. Observe Statement

[2018-09-29 12:04] rupalichavan9860 opened #264 ""Submit Statement" button is not working properly on Add Camp Statement page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Open any topic  or create new topic
4. Create new camp
5. Click on "Add Camp Statement"
6. Enter valid data in "Statement" field
7. Without entering into "Note" field click on "Submit Statement"

Expected Result :
It should display error message "The note field is required." without clearing data

[2018-09-29 12:11] rupalichavan9860 commented on #58
@gautamv16 @BrentAllsop I think Preview button should be present on "Add Camp Statement" also so that user can see preview of  whatever he/she is adding in statement field.Please confirm
Is there any need of Preview button on "Camp Update" page?Because user is not adding any statement on Camp update page

[2018-09-29 16:49] gautamv16 commented on #165
@rupalichavan9860  pls restest

[2018-09-29 16:51] gautamv16 commented on #58
@rupalichavan9860 Preview is required on camp edit majorly. But i have also added on statement too. I dont think its required on add as we need to preview on update to compare it with existing.

Have done some issue remaining please retest

[2018-09-29 17:02] gautamv16 commented on #214
@rupalichavan9860 its fixed. Retest

[2018-09-29 17:02] gautamv16 commented on #261
@rupalichavan9860  its fixed. Retest...

[2018-09-29 17:11] gautamv16 opened #265 "tttttttttt"

[2018-09-29 17:12] #265 closed, assigned to nobody

[2018-09-29 18:49] rupalichavan9860 commented on #261
@gautamv16 Retested.
Error message for "Your Objection Reason " should be "The objection reason field is required."

[2018-09-29 18:58] rupalichavan9860 commented on #165
@gautamv16 Retested.It looks fine now so closing this

[2018-09-29 18:58] #165 closed, assigned to nobody

[2018-09-29 19:08] rupalichavan9860 commented on #214
@gautamv16 Retested and verified

[2018-09-30 09:41] rupalichavan9860 commented on #58
@gautamv16 Incorrect date is displaying for "Go Live Time" this issue is still exists.Please fix this issue.I have added details above with screenshots.please check

[2018-09-30 10:09] rupalichavan9860 opened #266 "Validations are missing for Your Objection Reason field on Object to this proposed update page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid username and password
3. Go to browse
4. Select any topic
5. Click on Manage/Edit Camp Statement
6. Click on "Object"
7. Enter more than 300 characters in "Your Objection Reason" field
8. Click on "Submit Objection" button
9. Observe recently objected record on "Camp Statement History"

Expected Result :
Your Objection

[2018-10-01 06:27] gautamv16 commented on #266
@rupalichavan9860 please check.

[2018-10-01 06:27] gautamv16 commented on #264
@rupalichavan9860 please check

[2018-10-01 06:28] gautamv16 commented on #261
@rupalichavan9860  please check

[2018-10-01 06:28] gautamv16 commented on #58
@rupalichavan9860 please check

[2018-10-01 08:12] rupalichavan9860 opened #267 "Camp Statement History page is displaying mismatch in Go Live Time"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Browse
4. Select any topic and go to "Manage/Edit Camp Statement"
5. Click on "Object"
6. Enter in all mandatory fields and click on "Submit Objection" button

Expected Result :
Go Live Time in success message and objected record should be match

Actual Result :
As of now success message go

[2018-10-01 08:13] rupalichavan9860 commented on #266
@gautamv16 Retested and verified.

[2018-10-01 08:13] #266 closed, assigned to nobody

[2018-10-01 08:14] rupalichavan9860 commented on #261
@gautamv16 Retested and verified

[2018-10-01 08:14] #261 closed, assigned to nobody

[2018-10-01 08:20] rupalichavan9860 commented on #264
@gautamv16 Tested and working fine now.

[2018-10-01 08:20] #264 closed, assigned to nobody

[2018-10-01 08:31] rupalichavan9860 commented on #58
@gautamv16 "Go Live Time" issue is still exists.As submitter is trying to submit the statement update "Go Live Time" should be today's date only and not 1 week after .
**Go Live Time is displaying correctly on Camp Statement History,But not on Statement Review
Please check this again**
![image](https://user-images.githubusercontent.com/40416610/46277917-59558f80-c582-11e8-88c4-56fde0efddb3.png)

!

[2018-10-01 09:03] gautamv16 commented on #58
Go live time will display 1 week after date. its correct.

@rupalichavan9860 when ever we try to object anything it will be in review for 1 week so it will dissplay date after 1 week but when it is submitted actual live time will be calculated based on the records i.e If we dont have any current live or there is no other reason for not going live then it will be live instantly. So either we have t

[2018-10-01 09:15] rupalichavan9860 commented on #58
@gautamv16 Yes that is okay.But if Statement submitter is trying to update his/her own record then the "Go live time" date  on Camp Statement History is displaying same as "Submitted On" date but not only on "Statement review".
Please go through the steps I have provided and check again

[2018-10-01 09:41] rupalichavan9860 opened #268 ""Statement preview" pop up UI is not proper for Object Reason"
Steps to reproduce :
1. Object any statement and put 100 characters in "Your Objection Reason" field
2. Click on "Submit Objection"
2. Now click on "Submit Statement Update Based On This" of recently objected record
3. Click on "Preview" button
4. Observe "Statement preview" pop up for  for Object Reason
Refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/4628118

[2018-10-02 04:16] BrentAllsop commented on #256
Looks great.

[2018-10-02 08:40] rupalichavan9860 commented on #268
@gautamv16 Retested and verified

[2018-10-02 08:40] #268 closed, assigned to nobody

[2018-10-02 08:43] rupalichavan9860 commented on #58
@gautamv16 Retested and as per discussion I can see Submitted On and Go Live Time fields are removed from preview pop up.So I m closing this issue

[2018-10-02 17:53] rupalichavan9860 opened #269 ""Statement preview" pop up and Camp Statement History page UI is not proper when user enters long statement and note"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on "Add Statement" or "Manage/Edit Camp Statement"
5. Click on "Submit Statement Update Based On This"
6. Enter long data in Statement and Note field(refer attached screenshot for data)
7. Click on "Preview" button and Observe page
8. Click on "Submit Upd

[2018-10-02 18:10] rupalichavan9860 opened #270 ""Updated camp record preview" pop up and Camp History page UI is not proper when user enters long Keyword, URL and note"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on "Manage/Edit This Camp"
5. Click on "Submit Camp Update Based On This"
6. Enter long data in keywords, Additional Note and Camp About URL fields
7. Click on "Preview" button and observe UI
8. Click on "Submit Update" button
9. Observe "Camp History" pa

[2018-10-02 18:16] rupalichavan9860 opened #271 "UI is not proper on Topic History page"

[2018-10-02 18:24] rupalichavan9860 commented on #271
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Click on "Create New Topic" and Enter long data in "Additional Note" field
4. Click on "Create Topic" button and Observe Topic History page UI
5. Open any topic and click on "Manage/Edit This Topic"
6. Click on "Submit Topic Update Based On This"
7. Enter in all mandatory fields and enter long dat

[2018-10-02 18:32] rupalichavan9860 commented on #270
Please check this issue on "Create New Camp" page also

[2018-10-03 10:01] rupalichavan9860 opened #273 ""Paste", "Paste as plain text", "Paste from word" are not working on CKEditor while posting reply to the thread"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to browse and select any topic
4. Click on "Camp Forum" on "Canonizer Sorted Camp Tree"
5. Open any thread and type some text in "reply" field
6. Copy this text using editor "Copy" control
7. Now try to paste the copied text using editor "Paste", "Paste as plain text" or "Paste from word"
icon

[2018-10-03 10:30] rupalichavan9860 opened #274 "When user is trying to add image to the thread posts ,Image Preview is not getting loaded on Image Properties of CKEditor and image is not getting added"
Steps to reproduce :

1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to browse and select any topic
4. Click on "Camp Forum" on "Canonizer Sorted Camp Tree"
5. Open any thread and click on image icon on editor
6. Copy image URL from canonizer file upload page(short code) or try to load image from local machine(local machine URL)
7. Observe Image Properties pag

[2018-10-03 13:46] rupalichavan9860 opened #275 "Cursor should focus on first line of reply field when without entering in reply field user clicks on "Submit" button"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on "Camp Forum" on "Canonizer Sorted Camp Tree"
5. Click on any listed thread
6. Post 7-8 very long replies to the thread
7. Before posting 9th reply without entering into reply field directly click on "Submit" button

Expected Result :

Cursor should foc

[2018-10-03 13:55] rupalichavan9860 opened #276 "Post is not getting displayed properly on thread posts in case of long data"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on "Camp Forum" on "Canonizer Sorted Camp Tree"
5. Click on any listed thread
6. Type long reply like below in reply field
"Test12345678910Test12345678910Test12345678910Test12345678910Test12345678910Test12345678910Test12345678910Test12345678910Test1234567

[2018-10-03 18:42] akuks commented on #276
Pushed to dev Repository.

[2018-10-04 05:38] akuks commented on #274
Fixed. And Pushed to dev Branch

[2018-10-04 05:39] akuks commented on #273
Fixed and pushed to development branch

[2018-10-04 05:40] akuks commented on #260
Updated the Editor to the Fourm Posts.

[2018-10-04 08:39] rupalichavan9860 commented on #275
@akuks Retested and it is working now

[2018-10-04 08:39] #275 closed, assigned to nobody

[2018-10-04 09:03] rupalichavan9860 opened #279 "Issues on Summernote editor"
Steps to reproduce :

1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on "Camp Forum" on "Canonizer Sorted Camp Tree"
5. Click on any listed thread
6. Select "Style" from editor and compare it with summernote editor

Expected Result :

"Blockquote" and "Code" in canonizer thread posts editor should display like summernote

[2018-10-04 09:40] rupalichavan9860 opened #280 "canonizer thread posts editor "Insert Image" pop up UI should match summernote "Insert Image" pop up UI"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on "Camp Forum" on "Canonizer Sorted Camp Tree"
5. Click on any listed thread
6. Click on "Picture" icon on canonizer thread posts editor
7. Observe UI for "Insert Image" pop up UI and compare it with summernote "Insert Image" pop up UI

Expected Result :

[2018-10-04 09:54] akuks commented on #280
@rupalichavan9860 This is because you are checking the summernote on older version of bootstrap and in our application newer version of bootstrap is used. It wouldn't match with the older version.
https://summernote.org/getting-started/ and go to for bootstrap 4. You will find our toolbar is similar to this one.

[2018-10-04 09:55] akuks commented on #279
@rupalichavan9860 This is because you are checking the summernote on earlier version of bootstrap and in our application newer version of bootstrap (4) is used. It wouldn't match with the older version.
https://summernote.org/getting-started/ and go to For bootstrap 4. You will find our toolbar is similar to this one.

[2018-10-04 10:08] rupalichavan9860 opened #281 "Table structure is not displaying properly in thread posts email"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on "Camp Forum" on "Canonizer Sorted Camp Tree"
5. Click on any listed thread
6. Add table and add data in tables
7. Save posts
8. Observe thread post email

Expected Result :
Thread posts should get displayed properly

Actual Result :
Table outline is no

[2018-10-04 15:54] rupalichavan9860 commented on #279
@akuks Okay.Yes our toolbar is similar to this so I am closing this issue

[2018-10-04 15:54] #279 closed, assigned to nobody

[2018-10-04 15:54] rupalichavan9860 commented on #280
@akuks Okay.Yes our toolbar is similar to this so I am closing this issue

[2018-10-04 15:54] #280 closed, assigned to nobody

[2018-10-04 16:03] rupalichavan9860 commented on #214
@gautamv16 @akuks After thread post editor changes deployment user can see the  "Add New Nick Name"  link on thread posts page even if nick name is selected already.
Please refer attached screenshot for details
Please do the needful
![image](https://user-images.githubusercontent.com/40416610/46487173-064b3900-c81d-11e8-9878-29a1b32393b7.png)

[2018-10-04 16:09] gautamv16 commented on #214
@ash please check this. Remove Add New Nickname if user have added at least
one nickname in his account.

On Thu, 4 Oct 2018, 9:34 pm Rupali Chavan, <notifications@github.com> wrote:

[2018-10-04 16:27] rupalichavan9860 opened #282 "Image is not getting displayed in thread posts email"
Steps to reproduce :

1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on "Camp Forum" on "Canonizer Sorted Camp Tree"
5. Click on any listed thread
6. Add image and add some text reply field
7. Save post
8. Observe thread post email

Expected Result :
Added image should get displayed properly in thread post mail

Actual Re

[2018-10-04 16:51] akuks commented on #214
Done. Changes pushed to Development branch.

[2018-10-05 17:21] rupalichavan9860 commented on #214
@gautamv16 @akuks Retested and verified.

[2018-10-05 17:21] #214 closed, assigned to nobody

[2018-10-05 17:28] rupalichavan9860 commented on #282
@akuks As per discussed in meeting we are not going to use images on forum posts so image is turned off form toolbar.So I am closing this issue

[2018-10-05 17:29] rupalichavan9860 commented on #281
@akuks As per discussed in meeting we are not going to use tables on forum posts so table is turned off form toolbar.So I am closing this issue

[2018-10-05 17:29] #281 closed, assigned to nobody

[2018-10-05 17:35] rupalichavan9860 commented on #276
@akuks Retested and working fine now.Closing this issue

[2018-10-05 17:37] #274 closed, assigned to akuks

[2018-10-05 17:38] #273 closed, assigned to akuks

[2018-10-05 20:23] BrentAllsop opened #283 "Preview for camp record missing "parent camp" field."
If you want to modify a camp record,
you can now do a preview on the record edit page, before submitting the change.

When you do a preview on any camp record, we need to show the "parent camp" field.

Also, when there is no "camp about" value, it previews with the "-- Select Camp About Nick Name --" value.  It should just be blank when there is no value.

[2018-10-05 22:35] BrentAllsop opened #284 "Object e-mail message isn't correct."
There is a link in the someone objected, e-mail with the caption: "See this link for options you can take if there are objections"

It should say when, not if like this: "See this link for options you can take when there are objections"

Also, the link incorrectly goes to the history page of the topic.  It should go to this "Dealing with Disagreements" topic agreement camp:

https://canonizer.com/

[2018-10-06 17:01] rupalichavan9860 commented on #276
@akuks Please check this issue in live environment
Please refer attachments for more details
![image](https://user-images.githubusercontent.com/40416610/46573765-7c83a300-c9b7-11e8-8569-f1f1638440c0.png)

[2018-10-06 18:16] rupalichavan9860 commented on #276
@akuks Check this issue for Summernote  "Paragraph Align Right " . UI is not displaying properly when you write any text with right alignment.
Please refer following screenshot
![image](https://user-images.githubusercontent.com/40416610/46574497-f28d0780-c9c1-11e8-8e93-ea7659a4f267.png)

After saving posts it display
![image](https://user-images.githubusercontent.com/40416610/46574510-0c2e4f00-c9c

[2018-10-06 18:31] rupalichavan9860 commented on #282
@akuks We have turned off image from toolbar but still user can directly drag image or paste screenshot in "Post Your Message Here" and submit post.
Need to fix this for thread posts emails

[2018-10-08 17:32] BrentAllsop opened #285 "Need new page describing supporters of camps."
When you click on supporters of camp, it attempts to go to a URL like this:

https://canonizer.com/user/supports/1

But this fails, and just goes to the main canonizer page?

If this is an anonymous ID, it should only show what other camps this anonymous ID supports.

If it is a public ID, it should show all information for that user, the user has marked public, and all supported camps of all publ

[2018-10-08 18:01] rupalichavan9860 commented on #269
@gautamv16 Check this issue for very long statement without any space or break and observe Camp Statement on  Canonizer Sorted Camp Tree page
Refer attached screenshot for more details
![image](https://user-images.githubusercontent.com/40416610/46625611-4595c480-cb52-11e8-84dd-c5974414abf8.png)

[2018-10-08 18:28] rupalichavan9860 opened #286 "Error messages are missing for Your Objection Reason on Object to this proposed update topic"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on Manage/Edit this topic
5. Go to Not Live record on Topic History page
6. Click on Object
7. Do following scenarios
      1.Without entering in "Your Objection Reason" field and click on "Submit Object" button
      2. Enter more than 100 characters in

[2018-10-08 18:49] rupalichavan9860 opened #287 "Camp History page is displaying mismatch in Go Live Time"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Browse
4. Select any topic and go to "Manage/Edit Camp"
5. Click on "Object"
6. Enter in all mandatory fields and click on "Submit Objection" button

Expected Result :
Go Live Time in success message and objected record should be match

Actual Result :
As of now success message go live time

[2018-10-08 18:55] rupalichavan9860 opened #288 "Objection is not getting submitted when user is objecting to proposed changed for topic"
Steps to reproduce :

1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on Manage/Edit this topic
5. Go to Not Live record on Topic History page
6. Click on Object
7. Enter valid data in all fields and click on "Submit Objection" button

Expected Result :
Objection should get saved and it should display objected record on T

[2018-10-09 09:18] rupalichavan9860 opened #289 "UI issues on page when user click on nick name link from Support Tree for "Agreement" Camp on agreement page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Account Settings and enter max length data in all the fields
4. Go to Browse and select any topic
5. Click on Join or Directly support this camp
6. Click on nick name link
7. Observe page

Expected Result :
UI should be displayed properly.Data is not getting displayed fully

Actual Result :

[2018-10-09 11:10] akuks commented on #282
Fixed.

[2018-10-09 19:03] rupalichavan9860 opened #290 "When user click on any nick name link under Support Tree for "Agreement" Camp on Agreement page ,it is not redirecting to respective page(On Live environment)"
Steps to reproduce :
1. Go to https://www.canonizer.com/
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on nick name link under Support Tree for "Agreement" Camp on Agreement page

Expected Result :
It should redirect to List of supported camps the nick name is supporting.It is working properly on staging
Actual Result :
As of now it is redirecting to Canonize

[2018-10-10 18:10] rupalichavan9860 opened #291 ""Once you pick a nick name, for any contribution to a topic, you must always use the same nick name for any other contribution or forum post to this topic" this functionality is not working for one scenario"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Create any topic (Refer topic- "Demo-10/10/2018" and submitter nick name is "Rupali C")
4. Now log out and login with another valid Email and Password
(Precondition : User should have at least two nick names)(Suppose nick names are "demousercanonizer1" and "demousercanonizer2"
5. Now open  "Demo-1

[2018-10-11 14:01] rupalichavan9860 commented on #270
@gautamv16  Check this issue on "Current Camp Record:" section of Agreement page
![image](https://user-images.githubusercontent.com/40416610/46809469-28e4d100-cd8c-11e8-92ca-c7ca85a2c2b4.png)

[2018-10-11 18:39] gautamv16 commented on #269
@rupalichavan9860  please test

[2018-10-11 18:39] gautamv16 commented on #270
@rupalichavan9860  please test

[2018-10-11 18:40] gautamv16 commented on #271
@rupalichavan9860 please test

[2018-10-11 18:40] gautamv16 commented on #267
@rupalichavan9860 its working please test

[2018-10-12 04:35] rupalichavan9860 commented on #271
@gautamv16 Retested and verified.

[2018-10-12 04:35] #271 closed, assigned to nobody

[2018-10-12 04:42] rupalichavan9860 commented on #270
@gautamv16 Retested and verified.

[2018-10-12 04:42] #270 closed, assigned to nobody

[2018-10-12 08:05] rupalichavan9860 commented on #269
@gautamv16 Retested and verified

[2018-10-12 08:05] #269 closed, assigned to nobody

[2018-10-12 08:57] rupalichavan9860 commented on #267
@gautamv16 Retested and verified

[2018-10-12 08:57] #267 closed, assigned to nobody

[2018-10-15 07:31] gautamv16 commented on #287
@rupalichavan9860 pls test

[2018-10-15 07:33] gautamv16 commented on #283
@rupalichavan9860 pls test

[2018-10-15 07:34] gautamv16 commented on #284
@BrentAllsop and @rupalichavan9860 pls test

[2018-10-15 07:34] gautamv16 commented on #286
@rupalichavan9860 pls test

[2018-10-15 07:34] gautamv16 commented on #288
@rupalichavan9860 pls test

[2018-10-15 07:34] gautamv16 commented on #289
@rupalichavan9860 pls test

[2018-10-15 07:45] #259 closed, assigned to nobody

[2018-10-15 07:48] #249 closed, assigned to nobody

[2018-10-15 07:48] #178 closed, assigned to nobody

[2018-10-15 08:25] rupalichavan9860 commented on #289
@gautamv16 Retested and verified

[2018-10-15 08:25] #289 closed, assigned to nobody

[2018-10-15 08:34] rupalichavan9860 commented on #288
@gautamv16 Retested and verified

[2018-10-15 08:34] #288 closed, assigned to nobody

[2018-10-15 08:37] rupalichavan9860 commented on #286
@gautamv16 Retested and verified

[2018-10-15 08:37] #286 closed, assigned to nobody

[2018-10-15 08:47] rupalichavan9860 opened #292 "Success message when submitting objection on camp statement should be "Success! Objection submitted successfully.""
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on Manage/Edit Camp Statement
5. Click on Object button on Live or Objected record on Camp Statement History page
6. Enter valid data in mandatory fields and click on "Submit Objection"

Expected Result :
Success message should be "Success! Objection sub

[2018-10-15 08:52] rupalichavan9860 commented on #287
@gautamv16 Retested and verified

[2018-10-15 08:52] #287 closed, assigned to nobody

[2018-10-15 09:20] rupalichavan9860 commented on #284
@gautamv16 Retested.
I think Message should be "Your proposed change submitted for <topic | camp | statement> <topic name>:<camp name> <link to camp> has been objected by {nick_id}"
instead of "Your proposed change submitted for <topic | camp | statement> <topic name>:<camp name> <link to camp> has been objected **to** by {nick_id}"

Please read the message ,I think we need to remove "to" from mes

[2018-10-15 09:28] rupalichavan9860 commented on #283
@gautamv16 Tested.
User can change the parent camp also on camp update page.I am trying to change parent camp and other things but on preview selected Parent Camp is not displaying(as of now it is displaying saved parent camp)
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/46942337-ba08c000-d08a-11e8-8f6f-54a686bf32f8.png)

[2018-10-15 09:33] rupalichavan9860 commented on #283
And " Related Nicknames :" in preview should display blank if no nick name selected.It should not display drop down.It is just a preview of what user has selected so user can't select or write anything on preview page
Actual Result:
It is displaying drop down
![image](https://user-images.githubusercontent.com/40416610/46942618-5a5ee480-d08b-11e8-8afd-e02378d07539.png)

[2018-10-15 18:56] rupalichavan9860 commented on #260
@akuks Functionality present and tested.

[2018-10-15 18:56] #260 closed, assigned to akuks

[2018-10-15 22:31] BrentAllsop commented on #284
@CanonizerJim
Hmm, having the "to" sounds more correct to me than without.
But I'm not good at english.
Jim, could you review this issues on Github, and let us know if there should be a "to" in this object message?

[2018-10-15 22:41] CanonizerJim commented on #284
Sure

[2018-10-15 22:45] CanonizerJim commented on #284
"To" is more correct, but it's stylistically clunky. I'd recommend "{nick_id} has objected to your proposed change submitted for <topic | camp | statement> :"

[2018-10-15 22:51] CanonizerJim opened #293 "I want to upload a large PDF file for people to download"
I have a 47 meg PDF file that I want to make available for download on Canonizer, but I can't do that on the blog. Is there a way to host a file on Canonizer?

[2018-10-15 22:57] BrentAllsop commented on #293
@CanonizerJim
Yes, we can deposit it with the other images people can upload.  The White Paper is also there.
But Varun will need to do put it there, since it is larger than the allowed image upload size.
The url will be: http://canonizer.com/files/<name of pdf>

@gautamv16
Are we keeping http access log files?
Will we be able to keep track of how many times this is downloaded by anyone in the log

[2018-10-16 06:28] gautamv16 commented on #284
@rupalichavan9860 @BrentAllsop pls test

[2018-10-16 06:29] gautamv16 commented on #283
@rupalichavan9860 clear cache and test

[2018-10-16 06:29] gautamv16 commented on #292
@rupalichavan9860 please test

[2018-10-16 09:19] rupalichavan9860 commented on #292
@gautamv16 Tested and verified

[2018-10-16 09:19] #292 closed, assigned to nobody

[2018-10-16 09:33] rupalichavan9860 commented on #283
@gautamv16 Retested and verified

[2018-10-16 09:33] #283 closed, assigned to nobody

[2018-10-16 09:42] rupalichavan9860 commented on #284
@gautamv16 Retested and I am fine with this now.
@BrentAllsop Please test and close

[2018-10-16 12:58] rupalichavan9860 opened #294 "Page crash when user click on camp name link in thread post email"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to browse and select any topic
4. Click on "Camp Forum" on agreement page
5. Create a new thread or open any thread
6. Click on thread title
7. Submit post to the thread
8. Open Email
9. Click on "demousercanonizer1 has made the following post to the Camp <Camp_name> forum:" camp name
10. Obser

[2018-10-16 13:04] rupalichavan9860 commented on #294
@akuks @gautamv16 Same issue I am getting in Thread creation mail->Camp name link

[2018-10-17 16:14] BrentAllsop commented on #229
@gautamv16, it looks like there are still issues with this.

Jim has been working on this on the live system.
He is the only supporter of this new camp:
https://canonizer.com/topic/193-Utopia-requires-God/4?
He has submitted 4 versions of a new statement, but non of them have gone live.
Since he is the only supporter, they all should have gone live instantly.

Also,  If there is a new statement, p

[2018-10-25 05:41] #284 closed, assigned to nobody

[2018-10-26 05:36] akuks commented on #294
@rupalichavan9860 , Page is not crashing for all of the thread link. It crashes only where the topic Topic Name has "forward Slash".

[2018-10-26 06:22] akuks commented on #294
@rupalichavan9860  It is not true for all the links, it is where the forward slash in included in the Topic Name.
Url is encoded and pushed on the dev branch

[2018-10-26 06:26] akuks commented on #276
@rupalichavan9860 It is working fine. Please check the following URL
https://staging.canonizer.com/forum/276-Topic-16/1/threads/413

[2018-10-26 06:32] rupalichavan9860 commented on #276
@akuks Please check this issue for following URL
https://www.canonizer.com/forum/192-Testing-1/1/threads/323

[2018-10-26 06:33] rupalichavan9860 commented on #294
@akuks Yes. For other topics it is working fine.

[2018-10-26 07:53] rupalichavan9860 commented on #294
@akuks Retested and it is working now.Closing this issue

[2018-10-26 07:53] #294 closed, assigned to nobody

[2018-10-27 21:47] BrentAllsop opened #296 "View This Version not working for Not yet live Versions."
I created a new version of the "eff the ineffable" camp on the live system:

https://canonizer.com/statement/history/102-Best-word-to-mean-communicating-that-which-is-ineffable/2

Notice that the live version will not go live till next week.

You should be able to press the "see this version" and view this version, as if it was live, or with an as of time for which it would go live, before it goes

[2018-10-30 13:19] BrentAllsop opened #297 "Old format URLs, not working on live system."
This staging URL works:

https://staging.canonizer.com/topic.asp/53/11

But the live version:

https://canonizer.com/topic.asp/53/11

doesn't currently work.

[2018-10-31 09:12] rupalichavan9860 commented on #276
@akuks I have retested this issue on live environment after 5th release deployment but still not fixed.Please refer attached screenshot for more details
![image](https://user-images.githubusercontent.com/40416610/47777649-32be7c00-dd1b-11e8-8b71-f598d5101ed4.png)

[2018-10-31 09:20] rupalichavan9860 commented on #282
@akuks Retested but still not working

[2018-10-31 10:22] rupalichavan9860 commented on #296
@gautamv16 I have also tested and not able to see the versions of Not yet live records

[2018-10-31 13:05] akuks commented on #282
Images are not valid to forums hence it it is invalid request

On Wed 31 Oct, 2018, 2:50 PM Rupali Chavan <notifications@github.com wrote:

[2018-10-31 17:27] rupalichavan9860 commented on #282
@akuks Okay .I am closing this issue then

[2018-10-31 17:27] #282 closed, assigned to nobody

[2018-11-02 18:04] rupalichavan9860 opened #298 "Position of error message "Error! Incorrect Current Password." must be at field level"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Account Settings
4. Click on Change Password sub tab
5. Enter Invalid password in Current password field and enter valid and same passwords in New and Confirm password fields
6. Click on Save button

Expected result :
Error message "Error! Incorrect Current Password." must be display at fiel

[2018-11-02 18:09] rupalichavan9860 opened #299 "Current Password, New Password and Confirm Password must have Unique ID ."
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Account Settings
4. Click on Change Password sub tab
5. Open Developer tool(Press F12 key)
6. Observe Console error

Actual Result :
Current Password, New Password and Confirm Password are displaying as non-unique ID
Found this issue while  performing automated testing .Please refer attached

[2018-11-05 17:18] BrentAllsop opened #300 "Add date next to "Camp Statement" heading."
There is the "Camp Statement" block heading on camp pages.

It would be nice to have the go live date of the camp statement indicated after the "Camp Statement" block heading.

Brent

[2018-11-09 03:44] BrentAllsop opened #301 "Some emails not going out."
On Wed Nov 7, brent submitted 2 new version of this agreement statement to this camp:

https://canonizer.com/statement/history/88-Theories-of-Mind-and-Consciousness/1

But he received no e-mail.

[2018-11-12 06:46] gautamv16 commented on #297
@BrentAllsop and @rupalichavan9860 please create automated test. Its fixed.

[2018-11-12 07:02] gautamv16 commented on #296
@BrentAllsop and @rupalichavan9860 its fixed.

[2018-11-12 07:23] gautamv16 commented on #285
@rupalichavan9860 please create automated test.

[2018-11-12 16:54] gautamv16 commented on #299
@rupalichavan9860 please do automate test for the same. Its fixed

[2018-11-12 16:56] gautamv16 commented on #298
@rupalichavan9860 its not an issue but still i changed it. According to me this error message must come at top as its a logical error not a field or requirement error. Please put it into automate test.

[2018-11-12 16:56] gautamv16 commented on #263
@rupalichavan9860 fixed and changed all templates of emails..

[2018-11-12 17:00] gautamv16 commented on #152
@rupalichavan9860 this feature is redeveloped as per requirement. There will be no "Other" option there but the namespace added in other will come in the drop down. So dont look for "Other" word in drop down check what is added in other option should come in the drop down list.

[2018-11-12 17:09] gautamv16 commented on #55
@BrentAllsop and @rupalichavan9860 this feature is done. Here please note onething, the validation of "/" in start and end of the namespace is not there as it will automatically inserted by system if user didnt added it so we dont need to show there as system to automatic work for this.

You can create automated test and start testing. Please check and let me know.

[2018-11-13 03:15] rupalichavan9860 opened #302 "Error exception"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse
4. Select any topic

Expected Result :
It should open respective agreement page of topic

Actual Result :
Getting Error exception

![image](https://user-images.githubusercontent.com/40416610/48388711-5a044880-e720-11e8-97f2-5701df9a875c.png)

[2018-11-13 03:43] gautamv16 commented on #302
@rupalichavan9860 solved

[2018-11-13 06:43] rupalichavan9860 commented on #302
@gautamv16 Working good so closing this issue

[2018-11-13 06:43] #302 closed, assigned to nobody

[2018-11-13 06:46] rupalichavan9860 commented on #299
@gautamv16 Retested and verified.

[2018-11-13 06:46] #299 closed, assigned to nobody

[2018-11-13 07:00] rupalichavan9860 commented on #298
@gautamv16 Retested and verified.Automated test case is also working now.Thanks and closing this now

[2018-11-13 07:00] #298 closed, assigned to nobody

[2018-11-13 07:12] rupalichavan9860 commented on #152
@gautamv16 Tested and verified.

[2018-11-13 07:12] #152 closed, assigned to nobody

[2018-11-13 07:20] rupalichavan9860 commented on #285
@gautamv16 Retested and verified

[2018-11-13 07:20] #285 closed, assigned to nobody

[2018-11-13 07:23] #290 closed, assigned to nobody

[2018-11-13 17:22] rupalichavan9860 opened #303 "User is not able to select any namespace from namespace drop down except "Other""
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Click on Create New Topic
4. Enter data in all mandatory fields and select any namespace from namespace drop down

Expected Result :
User should able to select any namespace from namespace drop down value

Actual Result :
User is not able to select any namespace from namespace drop down except "O

[2018-11-13 17:27] rupalichavan9860 commented on #303
@gautamv16 Please check this issue on "Create New Topic" and "Topic Update" page

[2018-11-13 17:40] rupalichavan9860 opened #304 "Error message for Other Namespace Name should be proper on Topic Update page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Go to Browse
4. Select any topic
5. Click on Manage/Edit This Topic and click on "Submit Topic Update Based On This"
6. Select "Other" namespace from Namespace drop down
7. Click on Submit Update button

Expected Result :
Error message should be "The Other Namespace Name field is required when nam

[2018-11-13 17:46] rupalichavan9860 commented on #304
@gautamv16 Check this on Create New Topic page also and when user selects Other namespace from drop down field "Other Namespace Name" should marked with asterisk

![image](https://user-images.githubusercontent.com/40416610/48432333-16e6bb80-e79a-11e8-96b9-322691f25ce0.png)

[2018-11-13 17:57] rupalichavan9860 commented on #263
@gautamv16 Tested and verified

[2018-11-13 17:57] #263 closed, assigned to nobody

[2018-11-13 20:38] BrentAllsop commented on #296
Yea, tested, and working so closing this.

[2018-11-13 20:38] #296 closed, assigned to nobody

[2018-11-14 09:53] rupalichavan9860 commented on #55
@gautamv16 I have tested this and working fine for me for when user selects "Other" namespace .But user is not able to select any other namespace except "Other" and even previously selected namespace is also not displaying on Manage Topic page.Please refer issue #303
@BrentAllsop Please check and close if fine for you

[2018-11-14 11:21] gautamv16 commented on #304
@rupalichavan9860  please check

[2018-11-14 11:21] gautamv16 commented on #303
@rupalichavan9860 please check

[2018-11-14 14:41] rupalichavan9860 commented on #304
@gautamv16 Tested.Working now

[2018-11-14 14:41] #304 closed, assigned to nobody

[2018-11-14 14:46] rupalichavan9860 commented on #303
@gautamv16 Tested.Working now

[2018-11-14 14:46] #303 closed, assigned to nobody

[2018-11-14 14:50] rupalichavan9860 commented on #297
@gautamv16 @BrentAllsop Working for me. @BrentAllsop Please check and close if working

[2018-11-15 10:18] rupalichavan9860 opened #305 "Staging environment is not working"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Click on Log in
3. Enter valid Email and Password
4. Click on Log in button

Expected Result :
User should redirect to canonizer main page

Actual Result :
It is displaying Token Mismatch Exception
Please refer attached screenshot or more details
![image](https://user-images.githubusercontent.com/40416610/48546256-e57f0480-e8ed-11e8-9c

[2018-11-15 10:20] rupalichavan9860 commented on #305
![image](https://user-images.githubusercontent.com/40416610/48546322-152e0c80-e8ee-11e8-85c8-c97dd556abd7.png)

[2018-11-15 10:28] rupalichavan9860 commented on #305
As it is a space issue and resolved by Varun so I am closing this

[2018-11-15 10:28] #305 closed, assigned to nobody

[2018-11-15 15:51] BrentAllsop commented on #297
@rupalichavan9860, @gautamv16,

Yes, this is working now, so closing this issue.

[2018-11-15 18:26] rupalichavan9860 opened #306 "Border is missing for Change Password tab"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Account Settings
4. Click on Change Password tab
5. Observe UI

Expected Result :
When user clicks on Change Password tab user should see border like other tabs

Actual Result :
Border is missing for Change Password tab
![image](https://user-images.githubusercontent.com/40416610/48573311-d3b

[2018-11-16 03:29] gautamv16 commented on #55
@rupalichavan9860 its already solved with 303 please cross check

[2018-11-16 10:35] #55 closed, assigned to gautamv16

[2018-11-17 18:08] rupalichavan9860 opened #307 "Error message is incorrect on Create New Topic page while creating new Namespace"
Steps to reproduce :
1. Go to https://www.canonizer.com/
2. Login with valid email and password
3. Go to Create New Topic
4. Enter data in all mandatory fields
5. Select Other namespace from Namespace drop down
6. Enter existing name in Other Namespace Name field
7. Click on "Create Topic" button

Expected Result :
Error message should be "Error: Namespace already exists"

Actual Result :
Error me

[2018-11-17 18:18] rupalichavan9860 opened #308 "Validation is missing for Other Namespace Name on Topic Update page"
Steps to reproduce :
1. Go to https://www.canonizer.com/
2. Login with valid Email and Password
3. Open any topic
4. Click on Manage/Edit This Topic
5. Click on "Submit Topic Update Based On This"
6. Select Other Namespace from Namespace drop down
7. Enter existing namespace name in Other Namespace Name field
8. Click on "Submit Update" button
9. Go to Browse
10. Observe Drop down

Expected Result

[2018-11-19 09:59] rupalichavan9860 opened #309 "Other Namespace Name should have some limit on character length"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Go to Create New Topic/Topic Update
4. Enter valid data in all mandatory fields
5. Select "Other" namespace from drop down
6. Enter long data in Other Namespace Name field
7. Click on "Create New Topic"/"Submit Update" button

Expected Result :
Other Namespace Name field should have some limit on

[2018-11-20 17:55] BrentAllsop opened #310 "Changes to non supported camps should go live instantly."
A user submitted a change to a new non supported camp:

https://canonizer.com/topic/88/62
https://canonizer.com/camp/history/88/62

But it went into the 1 week review.
All unsorped camps should work like wikipedia.  All changes go live instantly.

[2018-11-22 04:30] akuks commented on #276
Sorry, I missed out on this. Fixed.

[2018-11-23 05:35] akuks opened #313 "Threads must shows the count of post in the threads forum page."
Currently, if we look at the forums, all threads doesn't show the number of replies. User is unable to figure out the active or thread with the most participation.

[2018-11-23 16:29] BrentAllsop commented on #297
This still isn't working completely.
This should work:
https://canonizer.com/topic.asp/105

This is the top result when you go to canoniazer.com, and do a google search on canoniazer.com for "Consciousness Survey Project"

Also, can we turn of robots.txt searches for production.canonizer.com and www.canonizer.com?

[2018-11-24 04:24] gautamv16 commented on #308
@rupalichavan9860 pls test

[2018-11-24 04:25] gautamv16 commented on #307
@rupalichavan9860 pls test

[2018-11-24 04:25] gautamv16 commented on #306
@rupalichavan9860 pls test

[2018-11-24 04:25] gautamv16 commented on #309
@rupalichavan9860 please test

[2018-11-24 11:06] rupalichavan9860 commented on #306
@gautamv16 Retested and verified.Closing this issue

[2018-11-24 11:06] #306 closed, assigned to nobody

[2018-11-24 11:15] rupalichavan9860 commented on #307
@gautamv16 Retested and verified.

[2018-11-24 11:15] #307 closed, assigned to nobody

[2018-11-24 11:23] rupalichavan9860 commented on #308
@gautamv16 Retested and verified.

[2018-11-24 11:28] rupalichavan9860 commented on #309
@gautamv16 Retested .It is displaying error message if user enters more than 100 characters in "Other Namespace Name"
But need little correction in error message,It should be "The Other Namespace Name may not be greater than 100 characters." instead of "The Other Namespace may not be greater than 100 characters."

![image](https://user-images.githubusercontent.com/40416610/48967652-e3155c80-f009-1

[2018-11-28 20:34] BrentAllsop commented on #54
This is a slightly different use case, (dealing with camps, instead of topics).
But it also deals with adding support by default to newly created items, so re-opening this enhancement.

When a person creates a new camp, they should be initially added as a supporter of that camp by default.  It can be generalized to the topic case, since when you create a topic, you also create the agreement camp.

[2018-11-28 20:43] BrentAllsop opened #314 "Add new "Create New Camp" button under the "Create New Topic" button on topic pages.."
The user should be able to select the parent camp on the create form page, the default parent should be the agreement camp.

[2018-11-30 04:11] BrentAllsop opened #315 "Filtering mechanism not working right (filtering too much)"
This particular camp has .5 supporters, given the one person one vote canonizer.

https://canonizer.com/topic/88-General-resonance-theory/62?_token=uBkt4jTx26Q7uuFkDFKM2W8ukMFVeZmFOS97DJXY&asof=default&asofdate=&filter=0.00

But if you go to the agreement camp:

https://canonizer.com/topic/88-Theories-of-Consciousness/1

and set the filter to the default < 0.001, the General-resonance-theory camp,

[2018-11-30 04:25] BrentAllsop opened #316 "Make the additional note field not required."
The additional not should not be required for all (topic, record and statement edit pages.)

[2018-11-30 04:30] BrentAllsop opened #317 "Make it so production.canonizer.com, www.canoniaer.com... have a turn off search robots.txt"
Anything but canonizer.com URLs, should not allow robots to search/index.

[2018-11-30 17:14] akuks commented on #317
@BrentAllsop Can you please check now.
**production.canonizer.com** and **canonizer.com** pointing to the same production folder. Hence it is not possible to disallow the domain from the same robots.txt file.

A Separate robots-disallow.txt is created for all the other subdomains.

[2018-11-30 18:44] BrentAllsop commented on #317
@akuks,
Right.  I just know apache has access to the host name being referenced (i.e. production.canonizer.com vs canonizer.com when an http request is made) so I was imagining you could put a conditional definition of robots.txt for various different incoming host names being referenced.  I seem to recall configuring  different document roots, for different domain names, in apache listening on th

[2018-11-30 19:06] akuks commented on #317
@BrentAllsop,
I have already modified the .htaccess file and add the contents to disallow for production.canonizer.com.  Search is not showing production.canonizer.com.

I am just wondering do we need "production.canonizer.com" subdomain. If don't then we can delete it from cpanel.

[2018-11-30 19:09] BrentAllsop commented on #315
Ooops.
User Error.
There are lots of camps with no support that were being filtered, as they should.
This just moved the resonance theory camp to the bottom, where I didn't see it.
So it was just user error.
So closing this issue

[2018-11-30 19:09] #315 closed, assigned to nobody

[2018-11-30 19:39] BrentAllsop commented on #58
This is working for when you modify the existing text of a statement.
But the create new statement page is missing this preview button.

To reproduce: Create a new camp, then press the "Add Camp Statement" button.
There is no preview button on this add statement page.

[2018-12-01 07:28] gautamv16 commented on #309
@rupalichavan9860  its done, please test when all deployed to staging.

[2018-12-01 07:29] #301 closed, assigned to nobody

[2018-12-01 11:20] gautamv16 commented on #297
@BrentAllsop the issue of old url solved as per these search results.
Please test such urls.

@BrentAllsop why we need to take off www.canonizer.com google indexing ?

[2018-12-01 11:21] gautamv16 commented on #300
@BrentAllsop this feature has been added. @rupalichavan9860 pls test this one

[2018-12-01 11:23] gautamv16 commented on #316
@BrentAllsop and @rupalichavan9860 pls test

[2018-12-03 07:30] rupalichavan9860 opened #318 "Create New Topic link is not working"
Steps to reproduce :
1. Go to https://staging.canonizer.com/ or https://www.canonizer.com/
2. Login with valid Email and Password
3. Click on "Create New Topic" link
4. Observe behavior

Expected Result :
It should open Create New topic page

Actual Result :
Respective page is not opening

[2018-12-03 07:44] rupalichavan9860 opened #319 "Error exception"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Click on Browse
4. Click on topic "/organizations/canonizer/help/ Canonizer URL Formatting"\

Expected Result :
Respective agreement page should open

Actual Result :
It is displaying error exception
![image](https://user-images.githubusercontent.com/40416610/49359753-18eacd00-f6fd-11e8-99e8-de3cd

[2018-12-03 08:03] rupalichavan9860 commented on #319
@gautamv16 This issue is exists for some topics others are working
for your reference :
1. https://staging.canonizer.com/topic/249-22Aug-2018-Test1/1
2. https://staging.canonizer.com/topic/167-test/63
3. https://staging.canonizer.com/topic/278-26-10-2018/1

[2018-12-03 08:12] rupalichavan9860 commented on #319
@gautamv16 I am getting the same error exception when click on camp name on Canonizer sorted camp tree on agreement page
Click on "View This Version" -same issue

[2018-12-03 08:17] rupalichavan9860 opened #320 "UI is not proper on Camp Update page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid Email and Password
3. Go to Browse
4. Open any topic
5. Click on "Start new supporting camp here"
6. Enter data in Mandatory fields and click on "Create Camp" button
7. Click on "Submit Camp Update Based On This"
8. Observe Camp Update Page

Expected Result :
UI should be proper
 Actual Result :
UI is not proper for A

[2018-12-03 09:13] gautamv16 commented on #229
duplicate

[2018-12-03 09:13] #229 closed, assigned to nobody

[2018-12-03 09:14] rupalichavan9860 commented on #318
@gautamv16 Retested and working now.So closing this issue

[2018-12-03 09:14] #318 closed, assigned to nobody

[2018-12-03 09:18] rupalichavan9860 commented on #319
@gautamv16 Retested and working now.

[2018-12-03 09:18] #319 closed, assigned to nobody

[2018-12-03 09:26] rupalichavan9860 commented on #309
@gautamv16 Retested and verified

[2018-12-03 09:26] #309 closed, assigned to nobody

[2018-12-03 09:28] rupalichavan9860 commented on #58
@gautamv16 Brent reopened this issue .Please check

[2018-12-03 09:37] rupalichavan9860 commented on #316
@gautamv16 Tested.Now Additional note field is non-mandatory .

[2018-12-03 09:37] #316 closed, assigned to nobody

[2018-12-03 09:47] rupalichavan9860 commented on #300
@gautamv16 Tested and Verified
@BrentAllsop Please test and close if fine for you

[2018-12-04 03:11] BrentAllsop commented on #300
Yes, this looks great, closing.

[2018-12-04 03:11] #300 closed, assigned to nobody

[2018-12-04 03:12] BrentAllsop commented on #297
Yes, this issue is fixed.
Will talk about indexing and robots.txt with issue #317,
so closing this issue.

[2018-12-04 03:12] #297 closed, assigned to nobody

[2018-12-04 03:30] #293 closed, assigned to nobody

[2018-12-04 06:53] gautamv16 commented on #320
@rupalichavan9860 please test

[2018-12-04 09:48] rupalichavan9860 commented on #320
@gautamv16 Retested and verified.

[2018-12-04 09:48] #320 closed, assigned to nobody

[2018-12-05 11:53] rupalichavan9860 opened #322 "Error Exception on topic objection page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password(New user who don't have any Nick Name)
3. Go to Browse
4. Select any topic and Click on Manage/Edit This Topic
5. Click on Object
6. Without entering in any field click on "Submit Objection" button
7. It will ask for "The objection reason field is required."
8. Enter objection reason and click on "Su

[2018-12-06 06:16] gautamv16 commented on #322
@rupalichavan9860 fixed solved

[2018-12-06 06:38] gautamv16 commented on #50
@rupalichavan9860 please test 2nd point on development server only as it is not on staging as its a completly seperatly feature and i want it to test for first phase on development from your end then i will merge it with staging for final testing.

And then close this ticket as i am creating a new ticket for feature 1st. as that is a separate feature as well so both will be released seperatly one

[2018-12-06 06:40] gautamv16 opened #323 "Supporter Agreement to change"
The first is adding a feature that would allow supporters of a camp to indicate agreement to changes prior to the one-week review period. Each supporter would have a checkbox on the history block for the record that would allow them to say they agree to the change. The change then would go live at the moment that everyone has checked the box. This will require a new database table to temporarily s

[2018-12-06 06:42] gautamv16 opened #324 "News feeds on camp."
Design of camp news records:
Each camp can have a list of news records which can be re-ordered.
Each news record can have a “Use for sub camps” flag indicating if it should be carried to sub camps (with no records of their own).
If a camp doesn’t have any news records, it searches parents for first parent with active news records.
If there are any news records to display for a camp, a “News” secti

[2018-12-06 08:27] rupalichavan9860 commented on #322
@gautamv16 Retested and verified

[2018-12-06 08:27] #322 closed, assigned to nobody

[2018-12-06 16:08] BrentAllsop commented on #50
Sure, creating seperate ticket for 1st part sounds great.

[2018-12-07 03:35] BrentAllsop commented on #262
Not fixed yet.

[2018-12-07 04:19] BrentAllsop commented on #30
This is all working great, but there is another related issue.
So I am re-opening for that.
In this camp:
https://canonizer.com/topic/53-Mormon/6

There are some plain text links, that are not active links.
In the 1.0 system, if the link was to an image, it would suck in and render the image.
If it was not an image, it would just convert the link into alive link.
So you could see the URL value, an

[2018-12-07 05:37] rupalichavan9860 opened #328 "Countdown timer note should go away immediately like timer,Update Statement and Stop when user manually stops timer"
Steps to reproduce :
1. Go to https://development.canonizer.com
2. Login with valid Email and Password
3. Go to browse and select any topic
4. Click on Manage/Edit Camp Statement
5. Click on Submit Statement Update Based On This
6. Do some changes and click on Submit update button
7. Click on Stop button on updated version of camp statement
8. Observe behavior

Expected Result :
When user manually

[2018-12-07 05:47] rupalichavan9860 opened #329 "Countdown timer is displaying incorrect time when user click on browser's go back and again go forward arrows"
Steps to reproduce :
1. Go to https://development.canonizer.com
2. Login with valid Email and Password
3. Go to browse and select any topic
4. Click on Manage/Edit Camp Statement
5. Click on Submit Statement Update Based On This
6. Do some changes and click on Submit update button
7. We can see the one hour grace period countdown timer on the updated version
8. After some seconds click on browser'

[2018-12-11 08:56] rupalichavan9860 opened #330 "Error message for other namespace name should be display at field level"
Error message "Error: The Other Namespace Name field is required when namespace is other." should be present at field level instead of pop up.(On Create New Topic and Topic Update page)
I am facing problem while creating automated test case for this field(Not able to copy XPATH of error message)
![image](https://user-images.githubusercontent.com/40416610/49788808-3c77ce00-fd22-11e8-8eec-1401d24971

[2018-12-11 16:43] BrentAllsop commented on #233
Ah, missed an additional issue related to this.
The parent camp needs to be indicated in the record history.
Notice the parent camp field isn't indicated in any of these historical records:

https://canonizer.com/camp/history/88/63

[2018-12-12 17:37] BrentAllsop opened #331 "Change algorithm for "Mormon" canonizer."
Here is the algorithm info topic describing the current "Mormon" canonizer algorithm:

https://canonizer.com/topic/53-Mormon/6

It current has 2 parts and says:

One vote is given if you support this Mormon camp (including all supporting sub camps):
https://canonizer.com/topic/54/7
If you are in the camp indicating you have an LDS temple recommend, you receive an additional vote for a total of 2 v

[2018-12-14 12:34] rupalichavan9860 opened #332 "Spelling for field Language is incorrect on "Manage Profile Info" page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Username->Account Settings
4. Observe Manage Profile Info for field Language

Expected Result :
Spelling should be "Language"

Actual Result :
Spelling is incorrect.It is displaying as "Languauge" instead of "Language"
![image](https://user-images.githubusercontent.com/40416610/50003703-9f8

[2018-12-14 14:25] rupalichavan9860 commented on #308
@gautamv16 Issue is still exists for following scenario :
if same namespace name with leading and trailing spaces is entered in "Other Namespace Name" field
 then it should display error message "Namespace already exists"
As of now it is accepting duplicate names

[2018-12-16 17:30] rupalichavan9860 opened #333 "Incorrect validation and error message on Topic Update page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Go to Browse and select any topic
4. Click on Manage/Edit This Topic
5. Click on Submit Topic Update Based On This
6. Enter more than 50 characters in Topic name field
7. Click on "Submit Update" button

Expected Result :
As per given limit Topic Name should accept only 30 characters and if user e

[2018-12-17 06:39] gautamv16 commented on #329
@rupalichavan9860 after all investigation this is concluded that its not a bug and its browser behaviour to show last data as discussed so please close this issue.

[2018-12-17 07:02] gautamv16 commented on #328
@rupalichavan9860 done pls test

[2018-12-17 07:03] gautamv16 commented on #323
@rupalichavan9860 this feature has been done please test this.

[2018-12-17 07:10] akuks opened #334 "Forums Page Crashed Error"
Forums Page on staging Server is crashing.

[2018-12-17 10:25] rupalichavan9860 opened #337 "Page Crashed Error on Statement when "I agree with this statement change" check box is checked"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Go to Browse and Select any topic
4. Click on Add Camp Statement or Manage/Edit Camp Statement
5. Click on "Submit Statement Update Based On This"
6. Do some changes and click on "Submit Update" button
7. Click on "I agree with this statement change" check box
8. Observe Results

Actual Result :
I

[2018-12-17 10:26] akuks commented on #334
Fixed. Issue was with one variable not defined. It doesn't give errors on local machine. (Might be some difference in OS on local and remote machines )
The issue is fixed now.

[2018-12-17 10:26] #334 closed, assigned to akuks

[2018-12-17 10:32] rupalichavan9860 commented on #323
@gautamv16 This feature is available but I am getting page crash .Please refer #337

[2018-12-17 10:38] rupalichavan9860 commented on #328
@gautamv16 Retested and verified

[2018-12-17 10:38] #328 closed, assigned to nobody

[2018-12-17 10:54] rupalichavan9860 opened #338 "Page Crashed Error on Topic History page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Click on Create New Topic
4. Enter data in mandatory fields and click on "Create Topic" button

Expected Result :
Topic should get created and it should display Topic History page

Actual Result :
Topic is getting created but it is displaying error exception on topic history page
Please refer atta

[2018-12-17 11:24] gautamv16 commented on #337
@rupalichavan9860 please check it now

[2018-12-17 11:25] gautamv16 commented on #338
@rupalichavan9860 pls check it now

[2018-12-17 11:26] gautamv16 commented on #262
@rupalichavan9860 please test this

[2018-12-17 11:31] rupalichavan9860 commented on #338
@gautamv16 Retested and verified.

[2018-12-17 11:31] #338 closed, assigned to nobody

[2018-12-17 11:44] rupalichavan9860 commented on #337
@gautamv16 Retested and verified

[2018-12-17 11:44] #337 closed, assigned to nobody

[2018-12-17 12:00] gautamv16 commented on #333
@rupalichavan9860 please test

[2018-12-17 12:02] gautamv16 commented on #332
@rupalichavan9860 please test

[2018-12-17 12:03] gautamv16 commented on #330
@rupalichavan9860 please test.

[2018-12-17 12:05] gautamv16 commented on #58
@BrentAllsop please check this one and close. Its developed as per your requirement on add feature.

[2018-12-17 12:06] gautamv16 commented on #50
@rupalichavan9860 please close this one if 2nd point is ok as we have created seperate ticket for 1st part.

[2018-12-17 12:11] rupalichavan9860 commented on #332
@gautamv16 Retested and verified.

[2018-12-17 12:11] #332 closed, assigned to nobody

[2018-12-17 12:15] rupalichavan9860 commented on #333
@gautamv16 Retested and verified.

[2018-12-17 12:15] #333 closed, assigned to nobody

[2018-12-17 12:17] rupalichavan9860 commented on #330
@gautamv16 Retested and working on Topic Update page.Please do the same change on Create New Topic page also

[2018-12-17 18:37] rupalichavan9860 commented on #308
@gautamv16 Retested this scenario and working fine on Manage Topic but issue is still exists on "Create New Topic" page.
And issue is exists for one more scenario
 Enter namespace like "sandbox/" or "/sandbox".It should display error message "Namespace already exists",but as of now it is creating new namespace every time

[2018-12-17 18:47] rupalichavan9860 commented on #262
@gautamv16 Retested and working now.
@BrentAllsop Can you please verify and close this issue if fine for you?

[2018-12-17 18:54] rupalichavan9860 commented on #50
@gautamv16 I am closing this as the 2nd feature is available now on staging and I have tested this.If I found any issue related to this feature I will create a separate issue for this.

[2018-12-17 18:54] #50 closed, assigned to gautamv16

[2018-12-17 19:17] rupalichavan9860 commented on #262
@gautamv16 @BrentAllsop Arrow are working fine now but I have one doubt.Because of this fix if I click on leaf node of any camp I can see slight change in line layout.Layout should be proper.Please let me know your thoughts.
Please refer following screenshots for more details
Staging :
![image](https://user-images.githubusercontent.com/40416610/50109452-ddecab80-025d-11e9-8ab0-ff7afc150156.png)

l

[2018-12-17 22:24] BrentAllsop commented on #58
Yup, tested.  Looks great so closing.

[2018-12-17 22:24] #58 closed, assigned to gautamv16

[2018-12-17 22:29] BrentAllsop commented on #329
@rupalichavan9860   I'm thinking we can close this, but only if Rupali is OK with it.

[2018-12-18 03:59] BrentAllsop opened #339 "missing favicon.ico in production. (and redirect all www. URLs)"
This files seems to be missing:
http://canonizer.com/favicon.ico

Also, we decided to redirect all www.canonizer.com URLs to just https://canonizer.com

This will greatly simplify all google search results.

[2018-12-18 09:07] rupalichavan9860 opened #340 "Page Crashed Error on camp forum page"
Steps to reproduce :
1.Go to https://staging.canonizer.com
2. Login with valid email and password(login with new user who don't have nick name yet)
3. Go to Browse and select any topic
4. Click on Camp Forum
5. Click on "My Threads" or "My Participation"
6. Observe results

Expected Result :
It should display respective page/message

Actual Result :
As of now it is displaying error exception
Pleas

[2018-12-18 09:15] rupalichavan9860 opened #341 "Page Crashed on Camp Forum"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Without logging into canonizer go to Browse
3. Select any topic
4. Click on "Camp Forum" on agreement page

Expected Result :
It should display respective camp forum page

Actual result :
It is displaying Error Exception
![image](https://user-images.githubusercontent.com/40416610/50143703-56418400-02d3-11e9-9214-4ead3b0caa31.png)

[2018-12-19 09:22] rupalichavan9860 commented on #329
@gautamv16 As its a browser behavior I am closing this issue.

[2018-12-19 09:22] #329 closed, assigned to nobody

[2018-12-19 11:41] akuks commented on #341
@rupalichavan9860 Please check

[2018-12-19 13:26] rupalichavan9860 commented on #341
@akuks Retested and verified. Closing this issue

[2018-12-19 13:26] #341 closed, assigned to nobody

[2018-12-20 09:11] rupalichavan9860 commented on #323
@gautamv16 This is working fine for me.
@BrentAllsop @CanonizerJim Please test this feature and close if it working as per requirement

[2018-12-20 09:28] akuks commented on #340
@rupalichavan9860 Please test on staging.

[2018-12-20 09:46] rupalichavan9860 commented on #340
@akuks Retested and verified.

[2018-12-20 09:46] #340 closed, assigned to nobody

[2018-12-20 10:57] gautamv16 commented on #54
@BrentAllsop and @rupalichavan9860 please test it as intended. Its working same as per requirement.

[2018-12-20 10:58] gautamv16 commented on #310
@BrentAllsop Please test it. @rupalichavan9860 please do test on this. Its working as per explaination. Please test on fresh camps and topics.

[2018-12-20 11:07] gautamv16 commented on #339
@BrentAllsop   here is the fev icon on server https://canonizer.com/img/favicon.ico and its showing properly there.

Also the DNS issue solved for www and production please check.

[2018-12-20 22:20] BrentAllsop commented on #339
@gautamv16
Right, but all browsers check this location for an icon to put on the browser tab:
http://canonizer.com/favicon.ico
So we need to copy into this location.

[2018-12-20 22:30] BrentAllsop opened #355 "Camp Name Size Issue"
It says in the camp record edit form, that a name is limited to 30 chars.
But when you submit, it clips to 25 chars.
I suspect this is because the DB schema is 25, but should allow 30?

[2018-12-20 22:33] BrentAllsop commented on #310
Looking great to me.
I tested topics, camps, and camps statements on staging.
All go live instantly, when I am the only supporter.
@rupalichavan9860    if this looks OK to you, go ahead and close this.

[2018-12-20 22:34] BrentAllsop commented on #54
Tested this, and looks great.
@rupalichavan9860 if this looks OK to you, go ahead and close it.

[2018-12-21 04:18] rupalichavan9860 commented on #310
@gautamv16 @BrentAllsop Tested and looks Okay to me also.So closing this

[2018-12-21 04:18] #310 closed, assigned to nobody

[2018-12-22 15:53] BrentAllsop opened #356 "The "As of" box doesn't work on the main page."
If you select anything other than "default" as of value, no topics show up.

You should be able to see the top 10 topics at any time, and be able to also select "include review".

[2018-12-22 16:34] BrentAllsop commented on #356
Also, the as of date selector doesn't seem to be working at all.
For example, look at the state of the Theories of Consciousness topic in Archive.org, on Dec 5, 21014:

http://web.archive.org/web/20141215081907/http://canonizer.com:80/

Notice there are 30 or 40 camps, with more than 40 supporters on that date.

But, when you set the asof value to the same Dec 5, 2015 on that topic, currently, the

[2018-12-23 16:20] rupalichavan9860 opened #357 "Page Crash error when selecting as of filter-as of (yy/dd/mm) as past date"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to browse and select any topic who have threads
4. Click on Camp Forum
5. Select as of filter ->as of (yy/dd/mm) and select past date than thread created date
6. Observe behavior

Actual Result :
It is displaying error exception.Please refer attached screenshot for more details
![image](https:/

[2018-12-23 16:45] rupalichavan9860 commented on #54
It looks Ok to me also so closing this

[2018-12-23 16:45] #54 closed, assigned to nobody

[2018-12-23 17:02] rupalichavan9860 commented on #357
Same issue exists on Camp History ,Create Camp , Add Camp Statement page

[2018-12-23 17:33] rupalichavan9860 commented on #357
This issue exists on all pages of camp forum ->All Threads,My Threads,My Participation,Top 10

[2018-12-23 23:55] BrentAllsop opened #358 "View this version doesn't work for Camp Record history."
When you submit a new version of a camp record, with a new name, for example, and then when you click on "View This Version", the camp and the entire sub structure is missing from the camp tree.

You can see this by clicking on the "View This Version" button on the yellow record scheduled to go live on Dec 30.

[2018-12-23 23:57] BrentAllsop commented on #358
Also, when you click on "view this version" for other, older, versions, lots more of the camp tree is lost.

[2018-12-24 09:19] rupalichavan9860 commented on #357
@akuks Now it is displaying Error: 404 Page not found on camp pages
![image](https://user-images.githubusercontent.com/40416610/50395491-69000100-078a-11e9-9c7f-4fb69f88644f.png)

and HTTP ERROR 500 page isn't working on forum pages
![image](https://user-images.githubusercontent.com/40416610/50395528-b3817d80-078a-11e9-997f-ae70fec974d6.png)

[2018-12-24 09:26] rupalichavan9860 opened #363 "Create thread and thread posts pages are displaying HTTP ERROR 500"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to browse and select any topic
4. GO to Camp Forum
5. Click on Create Thread/reply to the thread post and without entering into mandatory fields click on Submit button

Expected Result :
It should display error messages for mandatory fields

Actual Result :
It is displaying HTTP ERROR 500->
"Th

[2018-12-24 20:15] BrentAllsop opened #368 ""List All Topics" has duplicates."
When you select the "List All Topics" button on the main page (under the top 10 topics) there are duplicates in the list.

Like topic #42 "Human Accomplishment" which appears twice in the list.

[2018-12-24 20:18] BrentAllsop commented on #368
Allso, when general is selected, other topics show up, like the "Communicating Ineffable", topic number 102 is in /terminology/, but shows up in the general list.

[2018-12-25 07:55] rupalichavan9860 commented on #368
@BrentAllsop @gautamv16 I have also tested this."/general/" is listing all topics.
Canonized list for drop down should have one more item "All" for all topics and "/general/" should display only topics under "/general/" namespace

[2018-12-25 08:08] rupalichavan9860 opened #369 "Arrow structure is missing for topics who don't have sub camps"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Select "/general/" from Canonized list for drop down
3. Click on "Load All Topics" button
4. Observe
Please refer following screenshot
![image](https://user-images.githubusercontent.com/40416610/50417098-4503f480-084a-11e9-98c7-d3aa250abbbb.png)

[2018-12-25 09:07] rupalichavan9860 opened #370 "User should able to create camp from "Canonized List For" also."
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Select any from Canonized list for drop down
3. Click on "Load All Topics" button
4. Click on First topic and click on other topics also
Expected Result :
User should able to see <Start new supporting camp here> for each topic
Actual Result :
User is able to see <Start new supporting camp here> this link only for first topic
![image](

[2018-12-25 16:17] BrentAllsop commented on #369
Hmm, not seeing this?

[2018-12-25 16:20] BrentAllsop commented on #368
An "All" choice.  Good idea.

[2018-12-25 16:21] BrentAllsop commented on #368
I'm thinking this choice should be at the bottom of this list?
It will require LOTS of canonization CPU time, and in most cases be way to long of a list?

[2018-12-28 04:23] BrentAllsop commented on #317
We resolved this issue by redirecting all www.canonizer.com URLs to https://canonizer.com
So this no longer a problem.

[2018-12-28 04:31] BrentAllsop commented on #222
We can get https://staging.canonizer.com/robots.txt
But now we can't get https://canonizer.com/robots.txt.
This needs to be fixed.

[2018-12-28 16:46] rupalichavan9860 opened #371 "Arrows are not clickable on blog posts camp structure"
Steps to reproduce :
1. Go to https://staging.canonizer.com or https://www.canonizer.com
2. Login with valid email and password
3. Go to Blog and select any blog
4. Go to bottom of the blog post
5. Click on any arrow

Expected Result :
Arrow should be clickable

Actual Result :
Arrows are not clickable

[2019-01-01 07:35] rupalichavan9860 opened #372 "When user is on Create New Thread page "Create New Topic" link is getting highlighted instead of "Create New Thread""
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Go to Browse and select any topic
4. Click on "Camp Forum"
5. Click on "Create New Thread" link from left panel
6. Observe left panel

Expected Result :
It should highlight "Create New Thread" link."Create New Thread" link must be in green color

Actual Result :
As of now it is highlighting "Creat

[2019-01-01 07:37] rupalichavan9860 commented on #372
Same happens when user clicks on "Algorithm Information" link "Help" is getting highlighted.
![image](https://user-images.githubusercontent.com/40416610/50571076-2c558a80-0dc6-11e9-8c1a-be07d8f1f074.png)

[2019-01-01 08:05] rupalichavan9860 opened #373 "UI is getting disturbed on list of supported camps page if Nick Name is 50 character long"
Pre-condition :
User must have Nick Name 50 character long
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Go to Browse and select any topic
4. Click on supporter nick name under "Support Tree for "Agreement" Camp"
5. Observe namespace drop down on page

Expected Result :
Drop down alignment should be proper place

Actual Result :
Drop down is

[2019-01-01 08:06] rupalichavan9860 commented on #373
Please refer following screenshot for proper position of namespace drop down
![image](https://user-images.githubusercontent.com/40416610/50571212-3f6a5980-0dca-11e9-8a99-3826704a892a.png)

[2019-01-01 08:15] rupalichavan9860 opened #374 "Incorrect Submitter Nickname is displaying on Camp History page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Create fresh topic
4. Go to Manage/Edit This Camp
5. Observe Camp History page for Submitter Nickname field
6. Click on "Submit Camp Update Based On This"
7. Observe Nick Name drop down

Expected Result :
Correct Submitter Nickname should display

Actual Result  :
It is displaying incorrect Submit

[2019-01-02 11:42] akuks commented on #372
@rupalichavan9860 Please test. I am not sure of Help, we need to discuss on Friday Meeting. For Forums it working well.

[2019-01-02 17:05] gautamv16 commented on #371
@rupalichavan9860 @BrentAllsop these are not clickable as these are third party and only for display and linkup with related topic. These cant be clickable.

[2019-01-02 18:06] gautamv16 commented on #262
@rupalichavan9860 solved please test

[2019-01-02 18:09] gautamv16 commented on #355
@BrentAllsop please test

[2019-01-02 18:13] gautamv16 commented on #339
@BrentAllsop pls test

[2019-01-02 18:14] gautamv16 commented on #330
@rupalichavan9860 pls test

[2019-01-02 18:14] gautamv16 commented on #370
@rupalichavan9860 as discussed removed from landing page.

[2019-01-02 18:15] gautamv16 commented on #369
@rupalichavan9860 pls test

[2019-01-02 18:20] gautamv16 commented on #374
@rupalichavan9860 please test it for new camp and new record now. Old you have submitted is recorded with wrong data due to some issue. Please check

[2019-01-02 18:23] gautamv16 commented on #373
@rupalichavan9860 please check after clearing cache

[2019-01-03 08:55] rupalichavan9860 commented on #373
@gautamv16 Checked this after clearing cache ,still issue exists.Please refer screenshot
![image](https://user-images.githubusercontent.com/40416610/50629632-627c4100-0f63-11e9-97fa-36ef696ea683.png)

[2019-01-03 09:05] rupalichavan9860 commented on #370
@gautamv16 Retested and verified.Closing this issue

[2019-01-03 09:05] #370 closed, assigned to nobody

[2019-01-03 09:09] rupalichavan9860 commented on #369
@rupalichavan9860 Retested and verified.

[2019-01-03 09:09] #369 closed, assigned to nobody

[2019-01-03 09:22] rupalichavan9860 commented on #374
@gautamv16 Retested and verified.

[2019-01-03 09:22] #374 closed, assigned to nobody

[2019-01-03 09:27] rupalichavan9860 commented on #262
@gautamv16 Retested and verified.

[2019-01-03 09:27] #262 closed, assigned to nobody

[2019-01-03 09:37] rupalichavan9860 commented on #330
@gautamv16 Retested and verified.

[2019-01-03 09:37] #330 closed, assigned to nobody

[2019-01-03 09:54] rupalichavan9860 opened #385 "Two error messages are displaying at a time for "Other Namespace Name" field for one scenario"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Click on "Create New Topic"
4. Select Other namespace from Namespace drop down
5. Enter more than 100 characters in "Other Namespace Name" field
6. Click on "Create Topic" button. This will display error message "The Other Namespace Name may not be greater than 100 characters."
7. Now Clear entere

[2019-01-03 10:10] rupalichavan9860 commented on #355
@gautamv16 @BrentAllsop I have tested and working for me.
@BrentAllsop Please test and close if fine for you

[2019-01-03 10:12] rupalichavan9860 commented on #357
@gautamv16 Retested.Issue is still exists

[2019-01-03 15:48] BrentAllsop commented on #371
@rupalichavan9860 @gautamv16 It would be nice to be able to click them, but being a third party tool would make it far to difficult to do, at this time.  There are more important things to focus on, so I'm OK with closing this one.

[2019-01-03 15:54] BrentAllsop commented on #339
Yea, looking good, so closing this issue.

[2019-01-03 15:54] #339 closed, assigned to nobody

[2019-01-03 16:10] BrentAllsop commented on #355
@rupalichavan9860 @gautamv16 Yea, it is now working, and accepts 30 character names.
The name field on the camp record edit field allows more than 30 characters.
You don't get the error message that 31 characters is too long, till you submit the form.
It would be nicer if all text fields simply prevented you from typing in more than 30 characters.
This is fairly easy to do on text fields, right?
S

[2019-01-03 16:27] rupalichavan9860 opened #386 "Camp name is accepting duplicate names"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Create new topic or open any existing topic
4. Go to Agreement page and create 2 or 3 camp with same camp name
5. Go to Manage/Edit this camp
6. Observe Parent camp drop down

Expected Result :
Camp name must be unique at topic level

Actual Result :
As of now Camp Name is accepting duplicate name

[2019-01-03 16:49] rupalichavan9860 opened #387 "Success message on Camp History page after update statement is not proper and it is displaying different Go live time in message than on updated record"
1.Go to camp update and do some changes in camp and click on"Submit Update" button.
2.Now this will display one hour countdown timer with Update Statement button
3.Click on "Update Statement" button
4.Make some changes and Click on "Submit Update"
5.Observe Success message and Go live time

Expected Result :
Success message should be "Success! Updation in your changed camp made successfully. It wi

[2019-01-05 16:02] rupalichavan9860 opened #388 "Topic name is accepting duplicate name on topic update page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Open any existing topic
4. Click on Manage/Edit This Topic->Submit Topic Update Based On This
5. Enter any existing topic name in "Topic Name" field
6. Click on "Submit Update" button

Expected Result :
It should display error message "The topic name has already been taken."

Actual Result :
As of

[2019-01-05 18:08] rupalichavan9860 commented on #308
@gautamv16 Please check this issue for different case combination also.
As of now it is accepting following names also like "SANDBOX","Sandbox", "sandboX" or any other combination

[2019-01-07 17:40] BrentAllsop opened #389 "Remove no multi parent / child camp support requirements."
Users can now support any set of camps they want to in a topic, including if they are parent or children camps to camps they already support.

Remove the old code that enforced these restrictions.

[2019-01-07 18:18] BrentAllsop opened #390 "Current camp can't be filtered."
When a camp (including the agreement camp) is filtered, as when the camp isn't supported, the "Start new supporting camp here" is also filtered, making it impossible to add supporting sub camps without turning off the filter.

The bread crumbs at the top of the page are never filtered.  Similarly, the current (and parent) camps should never be filtered in the camp structure section.

[2019-01-08 08:01] rupalichavan9860 opened #391 "Incorrect button name is displaying on Statement Preview pop up when user is adding new camp statement"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. go to browse and select any topic
4. Go to Agreement page and click on "Add Camp Statement" button
5. Enter data in mandatory fields and click on Preview button
6. Observe Statement Preview pop up

Expected Result :
Button name should be same as name on Add Camp Statement page

Actual Result :
But

[2019-01-08 10:50] rupalichavan9860 opened #392 "Incorrect link name on Statement update page"
Pre-condition :
Login with user who don't have nick name

Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to browse and select any topic
4. Go to Manage/Edit Camp Statement->Submit Statement Update Based On This
5. Observe Add new nick name link name

Expected Result :
Link name should be "Add New Nick Name"

Actual Result :
Link name is dis

[2019-01-10 04:18] rupalichavan9860 commented on #185
Issue is still reproducible so I am reopening this issue.
And as per discussion we need to do following changes :
Rename "Related URL" to "Camp About URL" and "Related Nicknames" to "Camp About Nick Name" on Camp History, Agreement page and preview page

[2019-01-10 04:45] BrentAllsop opened #393 "Camp records are not going live, instantly, when there is no support."
I submitted a change to this camp record:
https://staging.canonizer.com/camp/history/81/27
It has no support.
The change went into review for one week.
It should have gone live, instantly.
This occured both in production, and on staging (where I canceled the grace period)

[2019-01-10 21:39] BrentAllsop commented on #393
Hmm, I just submitted a statement for the same camp.
And it, too, went into review mode for one week.

[2019-01-12 08:39] rupalichavan9860 opened #394 "Do we need to display Parent Camp field on preview pop up of Parent camp(Agreement) record"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid Email and Password
3. Go to Browse and select any topic
4. Select Parent Camp from tree and click on  Manage/Edit This Camp->Submit Camp Update Based On This
5. Click on Preview button
6. Observe Preview pop up

Agreement camp is parent camp.Do we need to display Parent Camp field on "Updated camp record preview" pop u

[2019-01-14 17:05] gautamv16 commented on #357
@akuks please check this one where it is in forum. I have no issue on my machine. Please check and verify with @rupalichavan9860

[2019-01-14 17:08] gautamv16 commented on #323
@BrentAllsop please update on this so that we can deploy release 8th

[2019-01-14 17:09] gautamv16 commented on #314
Need discussion on this feature. will do in next meeting

[2019-01-14 17:32] gautamv16 commented on #385
@rupalichavan9860 please test and close

[2019-01-14 17:33] gautamv16 commented on #373
@rupalichavan9860 please test and close

[2019-01-14 17:33] gautamv16 commented on #355
@rupalichavan9860 please test and close

[2019-01-14 17:33] gautamv16 commented on #324
@rupalichavan9860 please test

[2019-01-14 17:34] gautamv16 commented on #308
@rupalichavan9860 please test

[2019-01-14 18:00] BrentAllsop commented on #323
@rupalichavan9860 and @gautamv16 .  Yea, since #337 is fixed.  From what I"ve seen, this looks fine.  So closing this issue.

[2019-01-14 18:00] #323 closed, assigned to gautamv16

[2019-01-15 10:22] rupalichavan9860 commented on #385
@gautamv16 Retested.Issue is still exists

[2019-01-15 10:25] gautamv16 commented on #385
Please clear your system cache

On Tue, 15 Jan 2019, 3:52 pm Rupali Chavan <notifications@github.com wrote:

[2019-01-15 10:26] rupalichavan9860 commented on #355
@gautamv16 Tested and verified.

[2019-01-15 10:26] #355 closed, assigned to nobody

[2019-01-16 07:41] rupalichavan9860 commented on #385
@gautamv16 Retested and verified

[2019-01-16 07:41] #385 closed, assigned to nobody

[2019-01-16 07:51] rupalichavan9860 commented on #308
@gautamv16 Retested and verified

[2019-01-16 07:51] #308 closed, assigned to nobody

[2019-01-16 08:42] rupalichavan9860 opened #395 "Issues on News Feeds feature"
Issue 1 :
Label name is displaying different than name given in requirement and name in error message
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to browse and select any topic
4. Click on "Add News Feed" link
5. Without entering into any mandatory field click on "Create News" button
6. Observe error message

Expected result :
Label name

[2019-01-16 10:14] rupalichavan9860 opened #396 "Link and page title names are not proper for News feed feature"
Link name should be "Edit News Feed" instead of "Edit News" like "Add News Feed"
![image](https://user-images.githubusercontent.com/40416610/51241185-4a64e280-19a3-11e9-8463-558504c9766d.png)

Page Title should be "Edit News" instead of "Edit News Feed"
![image](https://user-images.githubusercontent.com/40416610/51241230-5f417600-19a3-11e9-93c9-0b2b0106d6a8.png)

![image](https://user-images.githu

[2019-01-18 01:45] BrentAllsop commented on #256
Re opening this, as it appears there are still issues with URLs like this:
http://canonizer.com/index.php
Sometimes these are showing up in google searches.
If you have index.php in the URL, some of the links, like the blog link, and the link to the white paper don't work.
We should redirect all such URLs to the same, without the index.php:
http://canonizer.com/

[2019-01-20 07:16] gautamv16 commented on #357
@rupalichavan9860 you have to show this issue, when, where its coming for you. It doesnt came for past date selection. If you are facing it then its something related you sepcific account. Because its not discoverable for me...

[2019-01-20 07:27] gautamv16 commented on #256
@BrentAllsop its solved now again. We dont need to touch our server htaccess.

[2019-01-20 07:31] gautamv16 commented on #396
@rupalichavan9860 done pls test

[2019-01-20 07:31] gautamv16 commented on #395
@rupalichavan9860 done pls test

[2019-01-20 13:35] rupalichavan9860 commented on #395
@gautamv16 Retested.Both issues are fixed but need correction for issue 2 in following error message
Error message should be "Display text may not be greater than 256 characters" instead of "Display text may not be greater **then** 256 characters"
![image](https://user-images.githubusercontent.com/40416610/51439867-3ba16700-1ce6-11e9-8822-4a210dcc2635.png)

[2019-01-20 13:38] rupalichavan9860 commented on #396
@gautamv16 Retested and verified.

[2019-01-20 13:38] #396 closed, assigned to nobody

[2019-01-20 13:45] rupalichavan9860 commented on #357
@gautamv16  Yes sure..I have 3-4 accounts on staging and I have checked this issue using all accounts and able to reproduce.SO I will show you in tomorrows meeting

[2019-01-20 15:08] rupalichavan9860 commented on #373
@gautamv16 Retested but still I am facing this issue.I have already discussed in last meeting but I guess you missed this because of your poor internet connection.I will show you in tomorrows meeting

[2019-01-20 15:12] rupalichavan9860 commented on #363
Duplicate one so closing this
#357

[2019-01-20 15:12] #363 closed, assigned to nobody

[2019-01-20 15:13] rupalichavan9860 commented on #371
@gautamv16 @BrentAllsop Okay .Closing this issue

[2019-01-20 15:13] #371 closed, assigned to nobody

[2019-01-20 15:16] rupalichavan9860 commented on #372
@akuks @gautamv16 Yes.It is working fine for forums now and as per discussion "Algorithm Information" is part of Help so I am closing this issue

[2019-01-20 15:16] #372 closed, assigned to nobody

[2019-01-20 15:43] rupalichavan9860 commented on #193
@akuks It is working fine.But I think it should be at topic level. Because for the topic don't have any threads user is not able to create threads with same name.I will  discuss  this in tomorrows meeting

[2019-01-21 08:14] #373 closed, assigned to nobody

[2019-01-22 08:56] rupalichavan9860 opened #409 "News Feeds - Link size issue"
According to requirement - URL link (2000 Characters), link field should accept 2000 characters but as of now it clips to 555 chars.
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on Add News link
5. Enter more than 1000 characters in "Link" field and click on "Create News" button
6. Go to Edit News a

[2019-01-23 05:52] gautamv16 commented on #409
@rupalichavan9860 fixed pls check

[2019-01-23 06:04] gautamv16 commented on #357
@rupalichavan9860 done as per discussion in last meeting please check and close

[2019-01-23 06:04] gautamv16 commented on #324
@rupalichavan9860  please close this one

[2019-01-23 08:08] rupalichavan9860 commented on #324
News feeds feature is available so closing this

[2019-01-23 08:08] #324 closed, assigned to gautamv16

[2019-01-23 08:13] rupalichavan9860 commented on #395
@gautamv16 Retested and verified

[2019-01-23 08:13] #395 closed, assigned to nobody

[2019-01-23 08:29] rupalichavan9860 commented on #409
@gautamv16 Retested and verified.Now it clips to 2000 characters when user enters more than 2000 characters but I think we should display error message when user enters more than 2000 characters.
May be user will loose some part of URL  in case of long link name(User should get notified about link max limit)
Please let me know your thoughts

[2019-01-23 08:52] rupalichavan9860 commented on #357
@gautamv16 Retested.Still canonizer and as of filter blocks are available on Camp Statement History,Topic History,Camp History and forum pages
Please do the same for above pages also

[2019-01-23 08:56] gautamv16 commented on #357
Thats is required on history pages. thats why its there.

On Wed, 23 Jan 2019, 2:22 pm Rupali Chavan <notifications@github.com wrote:

[2019-01-23 08:58] rupalichavan9860 commented on #357
Okay but when I am applying as of date as past date on camp history page it is displaying Data could not be found .It is Ok?

[2019-01-23 09:11] gautamv16 commented on #357
Yes if there is no data in that range it should display that message.

On Wed, 23 Jan 2019, 2:28 pm Rupali Chavan <notifications@github.com wrote:

[2019-01-23 09:14] rupalichavan9860 commented on #357
Okay.But need to remove for forum pages because filters are not required for forums.

[2019-01-23 12:38] gautamv16 commented on #409
Please check now @rupalichavan9860

[2019-01-23 12:38] gautamv16 commented on #357
check now @rupalichavan9860

[2019-01-23 15:48] rupalichavan9860 commented on #357
@gautamv16 retested and verified..Need to remove when user is on profile page(Manage Profile Info).
@BrentAllsop Canonizer and As of filters are removed from unnecessary places. Please check and let me know if fine for you.

[2019-01-23 15:59] rupalichavan9860 commented on #409
@gautamv16 Retested and verified

[2019-01-23 15:59] #409 closed, assigned to nobody

[2019-01-24 01:53] BrentAllsop commented on #357
Yea, looks nice.  Except for as Rupali said, it's still there on the Manage Profile Info tab page.

[2019-01-24 21:36] BrentAllsop opened #410 "All camp forum pages need to be camp centric, not topic centric."
When you go to the "camp forum" page for something other than the agreement page (approachable via science), it should be focused on the camp, not the topic.

For example "List of All Threads" should say: "List of all Camp Threads".

Then when you create a new thread, on that page:

instead of:
Create a new thread for Topic : Theories of Consciousness
it should say:
Create a new thread for camp: A

[2019-01-25 18:44] akuks commented on #410
@BrentAllsop this is fixed. There might be some mail issue with the staging. In Production email is working fine when the thread created. Already checked that.

Mail functionality is intact and is not modified in this or previous git issues. Please verify and let me know if there is any issue

[2019-01-26 06:09] rupalichavan9860 commented on #357
@gautamv16 Retested and verified.So closing this issue

[2019-01-26 06:09] #357 closed, assigned to akuks

[2019-01-26 23:06] BrentAllsop commented on #256
Lookin good, so closing this issue.

[2019-01-26 23:06] #256 closed, assigned to nobody

[2019-01-29 16:57] rupalichavan9860 opened #414 "Error message is not uniform on create thread page"
Error message is displaying as "Thread Title Must be Unique!" when trying to create duplicate thread.
Error message must be uniform,it should be "Thread title must be unique!"

[2019-01-31 05:23] BrentAllsop opened #423 "as of history is broken"
We should be able to set history, for each day, after each version of this camp record:

https://canonizer.com/topic/88-Representational-Qualia/6?

Currently, there is even a problem trying to set the as of value, on that camp page.
It attempts to go, then resets back to default.

[2019-02-03 12:25] rupalichavan9860 commented on #392
@gautamv16 Need to do same changes on objection page .Please refer attached screenshot for more details
![image](https://user-images.githubusercontent.com/40416610/52176722-a5d50400-27dc-11e9-969f-99d7cac23329.png)

[2019-02-08 23:10] BrentAllsop opened #424 "Topic 81 not reachable in MS Edge browser."
If you try to go to this topic with an MS edge browser:
https://canonizer.com/topic/81
It just redirects to the login page.

We were using an apple system at the sovrin demo.
The apple browser had this and other problems.
Oftentimes the support tree was completely blank.

[2019-02-11 21:27] BrentAllsop commented on #317
This showed up in a google search:
https://mail.canonizer.com/topic/63-Worlds-Without-Ends/3

Except for the ones we know of, like staging.canonizer.com and developement.canonizer.com

everything else should redirect to https://canonizer.com/topic/63-Worlds-Without-Ends/3

[2019-02-13 13:05] rupalichavan9860 opened #425 "Staging and live environment is not working"
Steps to reproduce :

1. Go to https://staging.canonizer.com or https://canonizer.com/
2. Click on Log in
3. Enter valid Email and Password
4. Click on Log in button

Expected Result :
User should redirect to canonizer main page

Actual Result :
It is displaying Token Mismatch Exception on staging and Oops! Data Could Not Be Found on live
Please refer attached screenshot or more details
1. Live
![

[2019-02-13 13:18] gautamv16 commented on #425
@rupalichavan9860 i am able to access both. Not found these issue. Please cross check

[2019-02-13 13:28] rupalichavan9860 commented on #425
@gautamv16 it's working now so closing this

[2019-02-13 13:28] #425 closed, assigned to nobody

[2019-02-13 14:11] rupalichavan9860 opened #426 "Camp Forum->My Participation is displaying multiple entries for single thread"
Steps to reproduce :
1. Go to https://staging.canonizer.com or https://canonizer.com
2. Go to Browse and select any topic
3. Go to Camp forum
4. Create thread or go to existing thread
5. Add 3-4 replies using same username
6. Click on "My Participation" tab

Expected Result :
My Participation should list only one entry for even if user replies multiple times in the thread

Actual Result :
As of no

[2019-02-13 17:29] gautamv16 commented on #424
@BrentAllsop pls check this.

[2019-02-13 22:54] BrentAllsop commented on #424
Yea, seems fixed, even in production.
Looking forward to hearing how you fixed this in an engineering meeting.

[2019-02-13 22:54] #424 closed, assigned to nobody

[2019-02-14 21:50] BrentAllsop opened #427 "Camp structure is missing when viewing in review camp record."
I submitted a new version for this camp record:
https://canonizer.com/camp/history/88/18
It is not yet live but when you click on the "view this version" it disappears form the camp hierarchy.
https://canonizer.com/topic/88/18?asof=bydate&asofdate=2019/02/14%2021:37:34
It should be in the hierarchy, with children, with the new name.
The bread crumb camp name should also have the correct new as of

[2019-02-14 21:51] BrentAllsop commented on #427
Even the value shown in the record section at the bottom is still the old value, not the correct as of value.

[2019-02-17 10:46] #394 closed, assigned to nobody

[2019-02-17 18:30] rupalichavan9860 commented on #414
@akuks Retested and verified.

[2019-02-17 18:30] #414 closed, assigned to nobody

[2019-02-18 05:45] rupalichavan9860 opened #434 "Incorrect error message is displaying while uploading image file of 0 bytes size"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Upload File
4. Select any image file(jpeg,bmp,png,jpg,gif ) of 0 bytes size
5. Click on "Upload" button

Expected Result :
It should display respective error message.

Actual Result :
As of now it is displaying error message "Error! The file must be a file of type: jpeg, bmp, png, jpg, gif.

[2019-02-21 03:51] BrentAllsop commented on #151
It looks like there is one case where this remains an issue.
This is on the main http://canonizer.com page.
If you expand any of the 10 topics on the main page, by clicking on the arrows, the sub structure arrows start out in the wrong direction.

[2019-02-27 12:25] rupalichavan9860 opened #435 "Phone Number Verification questions and doubts"
Steps to reproduce :
1. Go to  https://staging.canonizer.com
2. Login with valid email and password
3. Go to Account Settings
4. Observe Manage Profile Info

Questions and doubts :
1. "Phone Number" should have input length limit/minimum and maximum range.As of now "Phone Number" fields is accepting only single digit also
2. Do we need arrows in "Phone Number" and "Verify Code" text fields. Remove

[2019-03-07 16:56] BrentAllsop opened #436 "selected canonizer algorithm and "as of" value should remain persistent."
User selections need to be made persistent, and saved in the user session.
Once a person selects a canonizer algorithm, or an "as of" value, these selections should remain, until the session expires.

Also, it would be nice to save the last "nick_name" used, as the default, when making any contribution.
But this is very minor, so don't spend much time on this.
In the future there will likely be mo

[2019-03-11 19:26] BrentAllsop opened #437 "Include "note" in the e-mail when notifying people of proposed changes."

[2019-03-14 11:01] rupalichavan9860 commented on #426
@akuks Retested and verified

[2019-03-14 11:14] rupalichavan9860 commented on #313
@akuks Tested and verified.So closing this

[2019-03-14 11:14] #313 closed, assigned to akuks

[2019-03-15 09:22] rupalichavan9860 commented on #410
@akuks I have tested and looks good to me.But still I am getting following error on www.canonizer.com **"This page isn’t working canonizer.com is currently unable to handle this request.
HTTP ERROR 500"**

![image](https://user-images.githubusercontent.com/40416610/54421196-ef950080-4731-11e9-936f-a93dc5e7e1d3.png)

This will get fixed in 9th release deployment.So I will keep this open and after 9

[2019-03-15 09:30] rupalichavan9860 commented on #193
@akuks User is able to create threads with same name and according to new feature ,it is camp centric so closing this issue

[2019-03-15 09:30] #193 closed, assigned to akuks

[2019-03-15 09:33] rupalichavan9860 commented on #192
@akuks This functionality is available and I have verified so closing this

[2019-03-15 09:33] #192 closed, assigned to akuks

[2019-03-19 18:40] gautamv16 commented on #437
Fixed @rupalichavan9860

[2019-03-19 18:47] gautamv16 commented on #434
@rupalichavan9860 this need to investigate, still i have reserached and implemented something for 0 byte size but still if cant measure exact file size to display in validation but file size must have 1kb please test it.

[2019-03-19 18:47] gautamv16 commented on #423
@rupalichavan9860 its fixed with history fixes.

[2019-03-19 18:58] gautamv16 commented on #393
@rupalichavan9860 fixed have to test.

[2019-03-19 19:00] gautamv16 commented on #392
@rupalichavan9860 ready for test.

[2019-03-19 19:07] gautamv16 commented on #391
@rupalichavan9860 fixed...

[2019-03-19 19:07] gautamv16 commented on #390
@rupalichavan9860 fixed..

[2019-03-19 21:50] gautamv16 commented on #388
@rupalichavan9860 in update case we have to check uniqueness even in existing name of the topic. Please check its developed accordingly.

[2019-03-19 21:57] gautamv16 commented on #387
@rupalichavan9860 go live time is removed from success message as it coming in updated records where user can view the go live time. Only message is shown there now. As i can see it was removed from all success message. So not required here.

[2019-03-19 21:59] gautamv16 commented on #386
I made it uniuqe for overall topic level.. But if it reuire unique at topic level then need to check.. Lets discuss this...

[2019-03-19 22:00] gautamv16 commented on #358
@rupalichavan9860 fixed with history fixes please check

[2019-03-19 22:15] gautamv16 commented on #314
@rupalichavan9860 pls check this feature as developed

[2019-03-19 22:23] gautamv16 commented on #185
@rupalichavan9860 done

[2019-03-20 05:34] rupalichavan9860 commented on #391
@gautamv16 Tested and verified.

[2019-03-20 05:34] #391 closed, assigned to nobody

[2019-03-20 05:38] rupalichavan9860 commented on #392
@gautamv16 Tested and verified.

[2019-03-20 05:38] #392 closed, assigned to nobody

[2019-03-20 08:12] rupalichavan9860 opened #441 "FatalThrowableError on Upload File page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Click on "Upload File" link
4. Observe

Expected Result :
It should display Upload File page

Actual Result :
It is displaying FatalThrowableError  when user click on "Upload File" page
Please refer attached screenshot for more details
![image](https://user-images.githubusercontent.com/40416610/5

[2019-03-20 08:22] rupalichavan9860 commented on #185
@gautamv16 Label names are looking good to me now but still "Camp About URL" is displaying blank instead of entered value

[2019-03-20 08:33] rupalichavan9860 commented on #388
@gautamv16 Tested and verified..

[2019-03-20 08:53] rupalichavan9860 commented on #388
@gautamv16  This is creating problem when user is trying to update other fields of the topic .
When user tries to update other fields on the page then also it is displaying error message "The topic name has already been taken.".Need to work on this

[2019-03-20 08:57] rupalichavan9860 commented on #437
@gautamv16 I am not getting emails for any change in staging..I am getting submittal(topic,camp) emails only.

[2019-03-20 09:00] rupalichavan9860 commented on #434
@gautamv16 Not able to test this because "Upload File" is displaying FatalThrowableError error .
Please refer Issue #441

[2019-03-20 09:20] rupalichavan9860 commented on #314
@gautamv16 I can see the newly added link "Create New Camp" under "Create New Topic" but when I click on "Create New Camp" it is redirecting to  https://staging.canonizer.com/camp/create/88/1 instead of respective topic.
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/54673029-6ad62800-4b1f-11e9-8135-42c93fe18741.png)

[2019-03-22 08:32] rupalichavan9860 commented on #393
@gautamv16 Camp records are going live instantly when there is no support.But it should go to review mode for one week when camp having two or more supporters.
As of now each and every statement change is going live instantly.
@BrentAllsop Please check and verify

[2019-03-22 08:40] rupalichavan9860 commented on #387
@gautamv16 Any change in camp is going live instantly ,So I am not able to test this issue.
I think if other supporters are present it should go into review mode.Please check and verify

[2019-03-22 09:37] rupalichavan9860 opened #442 "Success message is not displaying properly after topic change submittion"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on Manage/Edit This Topic->Submit Topic Update Based On This
5. Do some changes and Click on "Submit Update"
6. Observe success message

Expected Result :
Either it should display success message like "Success! Topic change submitted successfully." or "Su

[2019-03-23 16:20] rupalichavan9860 opened #443 "Error Exception while applying as of date filter"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on Manage/Edit This Camp
5. Select as of (yy/mm/dd) date as past date
6.Observe

Actual Result :
It is displaying error exception.
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/54868723-a12cd500-4db5-11e9-824

[2019-03-24 17:01] gautamv16 commented on #437
@rupalichavan9860 this email is for supports of topic when change made.

[2019-03-24 17:01] gautamv16 commented on #437
@rupalichavan9860 this email is for supports of topic/camp when change made.

[2019-03-24 17:02] gautamv16 commented on #358
@rupalichavan9860 its history fix, you have toverify and close this

[2019-03-24 17:04] gautamv16 commented on #387
@rupalichavan9860 message is similar in all cases now. There is difference to test in any case. For golive its working as it was working

[2019-03-25 18:52] gautamv16 commented on #442
@rupalichavan9860 pls check

[2019-03-25 18:52] gautamv16 commented on #441
@rupalichavan9860 pls check

[2019-03-25 18:52] gautamv16 commented on #434
@rupalichavan9860 pls check

[2019-03-25 18:53] gautamv16 commented on #388
@rupalichavan9860 pls check

[2019-03-25 18:54] gautamv16 commented on #314
@rupalichavan9860 pls check

[2019-03-25 22:01] BrentAllsop commented on #393
Yup, this appears to be working in staging.
so I'm going to close this.

[2019-03-25 22:01] #393 closed, assigned to nobody

[2019-03-27 06:06] rupalichavan9860 commented on #441
@gautamv16 Tested and verified

[2019-03-27 06:06] #441 closed, assigned to gautamv16

[2019-03-27 06:19] rupalichavan9860 commented on #314
@gautamv16 Retested. Now it is not redirecting to https://staging.canonizer.com/camp/create/88/1 but I have modified topic name from "Test : 14 March 2019" to "Test : 14 March 2019-2" and when I click on Create New Camp link it is displaying Old topic name

And if I go to Manage/Edit This Topic->View This Version(latest one)->Create New Camp---I am getting page crashed
Please refer attached screen

[2019-03-27 07:44] rupalichavan9860 commented on #388
@gautamv16 Retested.Not working.Please try to update any topic with/without any change in any field(Don't change topic name)

[2019-03-27 07:46] rupalichavan9860 commented on #358
@gautamv16 Tested and verified
@BrentAllsop Please check and close if fine for you

[2019-03-27 07:57] gautamv16 commented on #388
Rupali, this can only work in this way. If you dont update anyfield then it
will give you validtaion error that topic already exist if you change
anything then only it allow you to update

*With Highest Regards*

*Varun Gautam*

*Software Developer*

*+91-9888-207706*

*gautamv16@gmail.com <gautamv16@gmail.com>*

*Great Minds Think Alike*

On Wed, Mar 27, 2019 at 1:14 PM Rupali Chavan <notificatio

[2019-03-27 08:03] rupalichavan9860 commented on #388
@gautamv16 According to me it should allows user to change any single field on the page.
As of now If user wants to change only namespace then it is displaying error message "The topic name has already been taken."
Need to discuss this in meeting

[2019-03-27 12:11] rupalichavan9860 commented on #314
@gautamv16 Retested and page crash issue is resolved now.As this feature is developed I am closing this.
I will create a new issue for topic name display

[2019-03-27 12:11] #314 closed, assigned to nobody

[2019-03-27 12:19] rupalichavan9860 opened #444 "Incorrect topic name is displaying on Create New Camp page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to browse and select any topic
4. Change the topic name (Go to Manage/Edit This Topic->Submit Topic Update Based On This->Change topic name)(for reference topic name : Testing 1)
I have changed the name of topic to "Testing 1: change on 27 mar"
5. Go to Topic History page and click on View this

[2019-03-27 14:20] rupalichavan9860 commented on #185
@gautamv16 Retested and verified

[2019-03-27 14:20] #185 closed, assigned to nobody

[2019-03-27 14:35] rupalichavan9860 opened #445 "Current camp records is displaying incorrect data for not live records on agreement page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with email and password
3. Go to Browse and select any topic
4. Update camp record and enter in all available fields
5. Go to Not Live camp record and click on "View This Version"
6. Observe Current Camp Record block on agreement page

Expected Result :
It should display updated Keywords,Camp About URL,Camp About Nick Name

Actua

[2019-03-27 14:50] rupalichavan9860 opened #446 "View This Version on Topic History is not working properly"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Click on "Create New Topic"
4. Enter data in  all mandatory fields and click on "Create Topic" button
5. Click on "View This Version"

Actual Result :
1. as of (yy/mm/dd) filter is getting added automatically
2. As of now Support Tree for "Agreement" Camp is displaying only count and after selecti

[2019-03-27 14:54] rupalichavan9860 commented on #388
According to Varun this is working fine on local server but not getting reflected on staging and requires more time to work on this.So I will keep this open for 10th release

[2019-03-27 15:00] rupalichavan9860 commented on #387
@gautamv16 Retested and verified

[2019-03-27 15:00] #387 closed, assigned to nobody

[2019-03-27 17:39] rupalichavan9860 commented on #423
@BrentAllsop I have tested this.Looks good to me
If there is no data for selected date then it is displaying message "Topic does not have any record for selected date."
@BrentAllsop Please test and close if fine for you

[2019-03-27 17:57] rupalichavan9860 commented on #437
@BrentAllsop I can see the "note" in proposed change mail.But if the note is blank then email looks like below.
![image](https://user-images.githubusercontent.com/40416610/55100171-38ac6380-50e7-11e9-9ee8-16671ee611ee.png)

Can we avoid note in email if note is blank?
Do we want any change in this or is it fine?

[2019-03-27 20:50] BrentAllsop commented on #423
Yea, looking good so closing this.

[2019-03-27 20:50] #423 closed, assigned to nobody

[2019-03-27 20:55] BrentAllsop commented on #358
Yea, looking good so closing.

[2019-03-27 20:55] #358 closed, assigned to nobody

[2019-03-28 07:27] rupalichavan9860 opened #447 "Page crash error on Create New Camp page when user is on Thread posts page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and click on any topic
4. Click on Camp Forum
5. Click on any thread and click on "Create New Camp"
6. Observe page

Expected Result :
It should display Create New Camp page

Actual Result :
It is displaying NotFoundHttpException
Please refer attached screenshot
![image](https://user-

[2019-03-28 09:02] rupalichavan9860 opened #448 "Things to cleaned up from live database"
As per discussion in meeting we need to cleaned up following things from live database
Namespace :
1. /sandbox testing/ : https://canonizer.com/browse?namespace=19
2. /sandbox/ : https://canonizer.com/browse?namespace=20
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/55143501-deea7e80-5164-11e9-8b74-9de692604973.png)

Topics :
1. /general/ How to contr

[2019-03-29 02:48] BrentAllsop commented on #437
Also, e-mail about statement changes say:
"Brent_Allsop has proposed a change to this statement #1519 which you currently directly support."
Should say:
"Brent_Allsop has proposed a change to the statement for camp &lt;current live camp name&gt; which you currently directly support.
All places that use a number like this, should be changed to a more informative value, like the camp name.

[2019-03-29 09:00] rupalichavan9860 opened #449 "Incorrect button name is displaying after countdown timer on topic history page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Update any thing and observe not live records on topic history page

Expected Result :
1.Button name display after countdown timer must be "Update Topic" instead of "Update Statement"

2.Note must be "This countdown timer is the grace period in which you can ma

[2019-03-29 09:03] rupalichavan9860 commented on #449
Same for camp change
Expected Result :
1.Button name display after countdown timer must be "Update Camp" instead of "Update Statement"

2.Note must be "This countdown timer is the grace period in which you can make minor changes to your **camp** before other direct supporters are notified." instead of "This countdown timer is the grace period in which you can make minor changes to your **statement

[2019-03-31 19:16] BrentAllsop opened #450 "Change the label on the browse page to "Select Namespace""
Currently, on the header of the browse page it has "Browse Topic" on the left, and everything else justified to the right.

"Browse Topic" should be changed to "Select Namespace:", and the selector and stuff next to that.

[2019-03-31 19:20] BrentAllsop commented on #450
Also, we need to disable the ability to create new namespaces.
We will likely be able to charge for this, in the future.
There is a bunch of garbage namespaces, now.

[2019-03-31 20:52] BrentAllsop opened #451 "Creating new camp statements is broken."
If you are the only supporter, they don't go live.
When you attempt to submit a new version, when the first version is in review, you don't see the history page, so you can chose the in review version to modify.

[2019-03-31 21:13] BrentAllsop commented on #451
If there is a version, even if it isn’t live, you should go to the history page, not directly to the new statement page.

[2019-03-31 21:18] BrentAllsop opened #452 "Editing support for already supported camp"

[2019-04-01 06:09] rupalichavan9860 commented on #447
@gautamv16 @akuks while performing 9th release testing on live I found that "Create New Camp" link is redirecting to home page but the URL is https://canonizer.com/camp/create
Please fix this

![image](https://user-images.githubusercontent.com/40416610/55306667-95ef3e80-5472-11e9-809a-67177035aa97.png)

[2019-04-01 06:43] rupalichavan9860 commented on #410
@akuks Tested and verified .

[2019-04-01 06:43] #410 closed, assigned to akuks

[2019-04-01 11:43] akuks commented on #447
@rupalichavan9860 can you please share the screenshot on Forums where you see the create new camp link?

[2019-04-01 12:12] rupalichavan9860 commented on #447
@akuks please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/55326459-70c7f380-54a5-11e9-9199-528376fe3a6e.png)

[2019-04-01 12:35] akuks commented on #447
Thats strange. I can't see it on
https://staging.canonizer.com/forum/88-Theories-of-Mind-and-Consciousness/1/threads

I will look into it.

[2019-04-01 12:39] rupalichavan9860 commented on #447
@akuks click on any thread .You will see the link on posts page
for your reference
https://staging.canonizer.com/forum/88-Theories-of-Mind-and-Consciousness/1/threads/347

[2019-04-02 17:35] gautamv16 commented on #452
@BrentAllsop this is for ?

[2019-04-02 18:07] gautamv16 commented on #451
@BrentAllsop i am not getting this. Please explain little bit with example or screenshots.

[2019-04-02 18:45] BrentAllsop commented on #451
@gautamv16
Create a new camp.
Make sure you support that camp.
Then if you create a new statement, it does not go live, immediately.
Once this first version is in review, the "Add camp statement" should change to ?Manager/Edit camp Statement", but it doesn't.
If you try to "add" a new statement, it doesn't show you the history page.
Does that help?

[2019-04-02 18:47] BrentAllsop commented on #452
@gautamv16 ,Oh, sorry.  This one got created, accidentally.
I'll close it.

[2019-04-02 19:04] gautamv16 commented on #451
@BrentAllsop yes this helps. Let me debug and solve the issue.

[2019-04-03 16:59] akuks commented on #447
Fixed.

[2019-04-03 17:02] akuks commented on #276
This is for the old post that w already made but It will not appear in the our upcoming posts. Fixed

[2019-04-04 03:19] BrentAllsop commented on #452
Ah, I discovered what this one should have been.  I thought I submitted it somewhere else, but not seeing it.
Currently, if you already support a camp, it says you can't support it again, and removes the commit button.  It should not do this.
If you already support a camp, the "Join or Directly support" button should change to manage support.
All the current supported camps should have an X on the

[2019-04-04 06:15] akuks commented on #449
Fixed. Pushed to staging is pending.
<img width="686" alt="Screenshot 2019-04-04 at 11 43 46 AM" src="https://user-images.githubusercontent.com/12954663/55533479-098d8780-56cf-11e9-9f72-805ce0924403.png">

[2019-04-04 06:15] akuks commented on #449
Screenshot from my local machine

[2019-04-06 07:04] gautamv16 commented on #451
@BrentAllsop and @rupalichavan9860 pls test

[2019-04-06 07:05] gautamv16 commented on #443
@rupalichavan9860 pls test

[2019-04-06 15:12] BrentAllsop commented on #451
@gautamv16   still many issues.
If there is already a camp, even if only in review, the button should say "manage camp statement"
For example, this camp is supported by me, and has two yellow "in review" statements, but the button still says add camp statement.

Also, if you are the only supporter of a camp, a new statement should go live instantly.
The to statements in the above camp should have

[2019-04-06 15:17] BrentAllsop commented on #427
This is important, as it is almost impossible to get a new camp created, if you can't immediately see it in the camp structure before it is supported.
So I'm adding the 10th Release label to this.

[2019-04-06 15:22] BrentAllsop commented on #452
@gautamv16 Without this, users will think it is impossible to delete support (or change support order) for a statement.
The only way to do it currently, is to leave the camp, go to the user attributes, then find the topic, then find the camp, only then can you delete it.  The user will never figure this out, but still must be able to delete support.

So it is also important that if someone is alre

[2019-04-06 15:39] BrentAllsop commented on #443
@gautamv16  and @akuks
It looks like this no longer crashes.
But I think the real fix is that there should be no Canonizer algorithm or as of box on any history page.
It doesn't make sense on these pages.  We shouldn't need to have automated tests for this...

[2019-04-06 16:42] rupalichavan9860 commented on #447
@akuks Tested and verified.

[2019-04-06 16:42] #447 closed, assigned to nobody

[2019-04-06 17:24] rupalichavan9860 commented on #443
Yes.There is no longer crashes.
But when as of date is past date some things are getting disturbed like Camp name is displaying as "n/a" instead of correct camp name
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/55672898-2b009600-58be-11e9-9fa4-830ce0b8ce9f.png)

[2019-04-06 17:59] BrentAllsop commented on #443
Yes, all these types of problems would go away, if there was no canonizer or as of box on the side bar of history pages.  I think this is the best solution.

[2019-04-07 03:14] gautamv16 commented on #443
Brent, but if i am in a state where there is data for current selection and
there is no data on past record then side bar will have all options. Now in
this case camp not avaialble so its coming as n/a

On Sat, 6 Apr 2019, 11:29 pm BrentAllsop, <notifications@github.com> wrote:

[2019-04-07 16:35] BrentAllsop commented on #443
Oh, I see.
I forgot that we had a bread crumbs camp chain at the top of the history page, which does require an as-of box.  Thanks for pointing that out.

Possibilities given that.
1.	Remove the bread crumbs bar, and only have a link to the camp
        a.	This would be the same camp for both the camp record and statement record history pages.
                1.     For the topic history page, it

[2019-04-08 18:38] gautamv16 commented on #451
@BrentAllsop i have tested all cases. Found only one issue as per your explaination i.e If there are statements in review and not live then there must be button which says " Manage camp statement " which is solved and working as per requirment.  But another issue you have mentioned about goign live is working perfectly on staging for all cases i have tested.  Please check once on staging and let m

[2019-04-08 18:38] gautamv16 commented on #443
@BrentAllsop and @rupalichavan9860 this is done as per #1 please cross check on staging.

[2019-04-08 18:43] gautamv16 commented on #452
@BrentAllsop facing issue for its implementation as topic page is visible publicly and anyone can view that page until any action need to be taken on the topic/camp. So we dont have browsing user detail to check if i am supporting this camp or not and another case making it slow down that is first find out which nickname i am using for this topic then check against that nickname that i am supporti

[2019-04-08 21:59] BrentAllsop commented on #452
@gautamv16  OK, how about we just change the button text from always being: "Join or Directly Support This Camp" to "Directly Join or manage support".  Then allow the user to delete or re-order any support for any camps for this topic, including the current one, even if he is already supporting it?

@CanonizerJim   Is that the best thing to do, from an ease of use POV?

[2019-04-08 22:05] BrentAllsop commented on #443
@rupalichavan9860  I see the as of and canonizer selector box are now gone from all 3 edit pages.
But we still have the entire breadcrumbs bar, which is probably OK.  I guess it will still use whatever as-of state is saved in session?  So I guess we just need to make sure this can't crash, if they have an odd as of date set.  Go ahead and close this, if you think it is OK.

[2019-04-08 22:11] BrentAllsop commented on #451
@gautamv16, yea everything looks good.
Except there is still one minor use case that should change.
If you are not the only supporter, and if there is not yet a camp statement, even the first camp statement should go into review, to be sure all current supporters are OK with that new statement.

It should only go livek, instantly, if you are the only supporter.

[2019-04-09 09:20] rupalichavan9860 commented on #443
@gautamv16 @BrentAllsop canonizer selector box are now gone but yes we can manually add filter to the camp history URL page like
If I add following to camp history URL then again things are getting disturbed
"?filter=0.001&_token=JmaeVkoXkgWOEPtlU8Bk6Dxn5WUrjtpthi546usO&asof=bydate&asofdate=1999%2F04%2F01"

Still I am fine with this so closing this issue.

[2019-04-09 09:20] #443 closed, assigned to nobody

[2019-04-09 09:33] rupalichavan9860 commented on #444
@gautamv16 Incorrect topic name is displaying on Camp Statement History,Camp Statement Objection,Statement Update,Camp History,Camp Update,Camp Objection and Add Camp Statement page also

[2019-04-09 10:56] rupalichavan9860 commented on #450
@gautamv16 Tested and verified.

[2019-04-09 10:56] #450 closed, assigned to nobody

[2019-04-09 19:52] gautamv16 commented on #452
@BrentAllsop this is done as per following flow.

Now there is text as per your instruction and now user can rearrange support for a topic from this link and confirm rearrange. But to delete any support user have to go in my support to delete any support from any camp for any topic. Delete is not possible here as we are assigning numbers to the arrangements. So i hope this flow will work.

[2019-04-09 19:52] gautamv16 commented on #451
@BrentAllsop pls test.

[2019-04-09 19:52] gautamv16 commented on #427
@BrentAllsop pls test

[2019-04-09 19:53] gautamv16 commented on #427
@rupalichavan9860 you can also test

[2019-04-09 19:53] gautamv16 commented on #451
@rupalichavan9860 u can also test flow

[2019-04-09 22:18] BrentAllsop commented on #451
This look fine.  @rupalichavan9860 go ahead and close this if it looks OK to you.

[2019-04-11 02:26] BrentAllsop commented on #452
@gautamv16 This doesn’t make sense to me.  If the number changes, a termination value for the record with the old number must be added.  Then a new record, with a new start date, and the new number added.  A delete should just do the same, without creating the new record for that camp?

[2019-04-11 04:44] rupalichavan9860 commented on #451
@gautamv16 @BrentAllsop This looks Okay to me too so closing this

[2019-04-11 04:44] #451 closed, assigned to nobody

[2019-04-11 09:00] rupalichavan9860 opened #457 "Error Exception on Topic Update page"
Pre-condition :
User is logged in

Steps to reproduce :
1. Go to Browse and select any topic
2. Go to Manage/Edit This Topic
3. Click on Submit Topic Update Based On This
4. Change Topic name field
5. Click on "Submit Update" button

Actual Result :
I am getting Error Exception .Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/55944459-4543c680-5c66-11e9

[2019-04-11 09:10] rupalichavan9860 commented on #457
@gautamv16 I am getting same error exception on topic object page when I am changing topic name field

[2019-04-14 18:06] gautamv16 commented on #427
@rupalichavan9860 pls test this one and lets close if ok

[2019-04-14 18:07] gautamv16 commented on #452
@BrentAllsop i am not getting what you said. We need to discuss this in meeting. Meanwhile i am leaving this as it is untill not clear.

[2019-04-14 18:22] rupalichavan9860 commented on #427
@gautamv16 I just tested this.When I am updating any camp and click on view this version ,updated camp name is not getting updated on Canonizer Sorted Camp Tree.
Please refer attached screenshot
I have changed camp name from "test camp 1" to "test camp 1-v1.1"
![image](https://user-images.githubusercontent.com/40416610/56097316-118bc980-5f10-11e9-8556-9f720df9360b.png)

[2019-04-14 18:41] rupalichavan9860 commented on #427
Even when updated camp is live then click on View this version->It is displaying old camp name on canonizer sorted camp tree

[2019-04-14 19:06] rupalichavan9860 opened #458 "Incorrect bread crumb camp name on multiple places"
Incorrect bread crumb camp name is displaying on following places
1. Agreement page
![image](https://user-images.githubusercontent.com/40416610/56097743-18b5d600-5f16-11e9-9e47-3c1828ad21a9.png)

2. Create New Camp
![image](https://user-images.githubusercontent.com/40416610/56097739-03d94280-5f16-11e9-9bd8-5b6980928779.png)

3. Add Camp Statement
![image](https://user-images.githubusercontent.com/

[2019-04-15 07:09] gautamv16 commented on #427
@rupalichavan9860 can u check now

[2019-04-15 09:38] rupalichavan9860 commented on #427
@gautamv16  Retested and View this version is working fine for child camp but if the camp is child of another camp then in bread crumb parent camp name is displaying old camp name .Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/56122457-12fcd680-5f90-11e9-8118-e02b4baacd5a.png)

I have created another issue related to bread crumb camp name.Please refer

[2019-04-15 10:07] gautamv16 commented on #427
@rupalichavan9860 are you mixing the tickets with new issues of new test cases ? If this ticket related fix is done then let me know and close it and when ever you find new test case issue please dont merge with existing one.

[2019-04-15 10:22] rupalichavan9860 commented on #427
@gautamv16 I am not merging tickets.When I clicked on View this version I saw difference in camp name on the agreement page.
But if you think like this is not related to current issue then I will close this.No issues

[2019-04-15 10:22] #427 closed, assigned to nobody

[2019-04-15 10:32] rupalichavan9860 opened #459 "Supported Camps page is displaying updated camp name even if camp record is not live"
I have changed camp name from "Camp 2" to "Camp 2-v1.1" and it is not live but supported camps page is displaying updated camp name instead of current camp name.
I think for not live camp records it should not display updated name. Please confirm
Please refer attached screenshot.
![image](https://user-images.githubusercontent.com/40416610/56125918-9e2d9a80-5f97-11e9-831e-820c0a6b9b7a.png)

![image

[2019-04-15 14:38] BrentAllsop commented on #459
It would work the way it is, but I'm thinking it would be better if the camp name was the current default live value.

[2019-04-15 14:51] BrentAllsop commented on #452
I'll add this to the agenda for next Thursday.
We just need to have the X on the supported camps, so people can delete any of them, including the camp we are looking at.

[2019-04-17 16:59] CanonizerJim opened #462 "Add location tag for statement on camp pages"
Add this tag to all URLs in the tree outline so when you click on camp URLs in the outline, it scrolls down to the camp statement on the page.

[2019-04-18 14:16] BrentAllsop commented on #458
Let's also fix the bread crumbs URL issue in this one, while we are at it.
Bread crumb URLs should include the optional camp name.

[2019-04-18 16:19] BrentAllsop opened #463 "Need to manage laravel sessions."
We need to find a way to scale laravel sessions.

Short Term, we should probably let them time out, after 20 minutes.

The system should only fail gracefully.

[2019-04-18 16:33] gautamv16 commented on #463
@BrentAllsop  We need to create a script also which delete session data periodicaly. Every week script run once and delete all cache and sessions.

[2019-04-18 16:35] BrentAllsop opened #464 "Display namespace on camp page in the topic section."

[2019-04-18 17:05] akuks commented on #463
I think 20 minutes is on the lower side. What about an hour?

[2019-04-18 17:06] akuks commented on #463
And also I will create this script. that runs Once a week.

[2019-04-18 17:06] BrentAllsop commented on #463
Doing it via script will not work.  It will kill live sessions.

Yes, we can start with one hour.
We can adjust later, if needed.

[2019-04-18 17:07] BrentAllsop commented on #463
Do robot visits create sessions?  They should not.

[2019-04-18 17:09] BrentAllsop commented on #463
And we should focus on getting release 10 out before we work these.

[2019-04-18 17:13] akuks commented on #463
Sure, we will fix it after release 10.

[2019-04-22 04:03] BrentAllsop commented on #389
Never mind.
We changed our  minds on this one.
When someone is adding explicity support for a camp,
we will not allow any other explicit support in any implicitly supported camp.

However, since it is so hard to insure this, when changing camp parent's, we will allow multiple support of parent and children camps.  So we must handle this case, but this is only possible via moving camps.

In other w

[2019-04-22 04:28] gautamv16 commented on #458
@rupalichavan9860 pls test

[2019-04-22 04:28] gautamv16 commented on #452
@rupalichavan9860 and @BrentAllsop pls test

[2019-04-22 04:31] gautamv16 commented on #436
@rupalichavan9860 pls check

[2019-04-22 04:31] gautamv16 commented on #442
@rupalichavan9860 pls check

[2019-04-22 04:33] gautamv16 commented on #457
@rupalichavan9860 pls check

[2019-04-22 06:25] rupalichavan9860 commented on #457
@gautamv16 Tested and verified

[2019-04-22 06:25] #457 closed, assigned to nobody

[2019-04-22 06:33] rupalichavan9860 commented on #442
@gautamv16 Tested and verified

[2019-04-22 06:33] #442 closed, assigned to gautamv16

[2019-04-22 10:45] rupalichavan9860 commented on #444
@gautamv16 Retested.
I have changed topic name again from "Testing 1: change on 27 mar" to "Testing 1: change on 27 mar 11" and it's not live yet, but I can see not live updated name in bread crumb.Bread Crumb should display updated name only if it is live.
@BrentAllsop Please confirm
![image](https://user-images.githubusercontent.com/40416610/56497042-992d9580-6519-11e9-9a92-b4474bd5c18b.png)

Cu

[2019-04-22 10:54] rupalichavan9860 commented on #444
And still it is displaying old topic name on camp history,camp update,statement update and camp statement history page
![image](https://user-images.githubusercontent.com/40416610/56497178-2375f980-651a-11e9-84e0-92e9a1bb9b83.png)

![image](https://user-images.githubusercontent.com/40416610/56497329-b747c580-651a-11e9-9ccb-b44df5b3a217.png)

![image](https://user-images.githubusercontent.com/404166

[2019-04-22 11:08] rupalichavan9860 opened #465 "Error exception on Supported Camps page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Create any new camp ->View This Version->Directly Join or Manage Support
5. Click confirm support button
6. Click on cross icon on camp name and again click on confirm support button

Actual Result :
![image](https://user-images.githubusercontent.com/40416610/5

[2019-04-22 17:08] BrentAllsop commented on #388
We need to be able to abandon a name on one topic, then use it on another, with no possibility that two topics will have the same live name.

* When you add a new name, check all the default (live now) and in review topic names of all topics to make sure no duplicates, anywhere.  Ignore all objected to records.

I guess if we do that, it will be sufficient.

[2019-04-22 17:47] BrentAllsop opened #466 "history records are messed up."
The history records at least on this page are bad:
https://canonizer.com/camp/history/88/17

Here is an archive.org snapshot of that camp on Aug 29, 2014.
Notice that the record showing live, above, is different than the one shown here.

I suspect that this problem is pervasive across all history pages>

Once this is fixed, Kinarri needs to do some thorough spot checking of more history pages (top

[2019-04-22 18:23] rupalichavan9860 commented on #436
@gautamv16 Tested and looks okay to me.
@BrentAllsop Please test and close if fine for you

[2019-04-22 18:41] rupalichavan9860 commented on #436
As of date is getting persisted but I have one doubt.
If I click on any topic/camp/statement history record and click on view this version then selected as of date is getting changed as selected record Go live time.This is fine .
But my doubt is, it is displaying different time(date is correct but timestamp is incorrect).Please refer attached screenshot.
![image](https://user-images.githubusercont

[2019-04-22 18:51] rupalichavan9860 commented on #452
@gautamv16 The X on the supported camps is there but I can see my name in support tree even if I click on X icon on the supported camps
And click on X  and then click on Confirm Support, then I am getting page crash(Please refer #465)  but now support is getting removed.

It means if we want to remove support we need to click on X  icon and click on Confirm Support also?
@BrentAllsop Please test

[2019-04-22 19:24] rupalichavan9860 commented on #465
@gautamv16 I am getting Error exception when there is only one record present in camps list.
Click on cross icon on camp name and click on confirm support button

[2019-04-23 10:56] rupalichavan9860 commented on #458
@gautamv16 Retested and verified.

[2019-04-23 10:56] #458 closed, assigned to nobody

[2019-04-23 11:02] rupalichavan9860 commented on #466
@BrentAllsop This is working fine on staging after yesterday's deployment. Please check

[2019-04-23 20:26] BrentAllsop commented on #233
I see this is ready in staging.
But there is one additional feature i think would be nice.
You should be able to change the parent camp, when creating a new camp.
The default value should be the camp from which you pressed the create new camp button, but you should be able to change it, if you want to.

[2019-04-23 21:54] BrentAllsop opened #467 "Turn filter off in their session, when someone creates a new camp."
When someone creates a new camp, set the filter value, in their session, to 0.00. (turn it off)

That way, they will be able to see the new, not yet supported camp they just created, and not think it failed to be created.

[2019-04-24 07:15] gautamv16 commented on #444
@rupalichavan9860 please test

[2019-04-24 07:16] gautamv16 commented on #465
@rupalichavan9860 pls check

[2019-04-24 07:17] gautamv16 commented on #233
@BrentAllsop this feature done.

[2019-04-24 07:46] rupalichavan9860 commented on #465
@gautamv16 Tested and verified

[2019-04-24 07:46] #465 closed, assigned to nobody

[2019-04-24 07:52] rupalichavan9860 opened #468 "Query exception on Create New Camp page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on Create New Camp link from left panel

Actual Result :
I am getting Query exception.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/56641901-f3526600-6693-11e9-8cee-c80293b6c27e.png)

[2019-04-24 08:14] rupalichavan9860 commented on #468
@gautamv16 Tested and verified

[2019-04-24 08:14] #468 closed, assigned to nobody

[2019-04-24 08:33] rupalichavan9860 opened #469 "Incorrect camp name and topic name on supported camps page"
Reference topic/camp
https://staging.canonizer.com/topic/220-Camp-2--sub-camp-1/7?

Please refer attached screenshot.

![image](https://user-images.githubusercontent.com/40416610/56644448-4b3f9b80-6699-11e9-9d8c-29b16dd82f8c.png)

![image](https://user-images.githubusercontent.com/40416610/56644637-b1c4b980-6699-11e9-8259-b84aea093139.png)

[2019-04-24 11:09] rupalichavan9860 commented on #444
@gautamv16 Retested.It is displaying correct topic name on other pages now but Camp forum page is displaying not live updated topic name in bread crumb.
I missed to list camp forum page in previous comment

[2019-04-24 11:24] rupalichavan9860 commented on #233
@gautamv16 Tested and this feature is available now.
@BrentAllsop Please test and close if fine for you

[2019-04-24 11:38] rupalichavan9860 commented on #469
@gautamv16 incorrect camp name is displaying because I have changes the parent from "camp 2" to "Camp 1 : v1.1" for camp "Camp 2: sub camp 1 " and record is not live yet.
Need to discuss on this

[2019-04-24 14:38] BrentAllsop commented on #452
@gautamv16 and @rupalichavan9860,
Looking nice.
But it looks like when you hit submit, it is going back to a different camp than the one you started from.
It would be nice if we could save the starting camp, in session, or something, so we could return to the same camp.  And if session times out, and we don't know what camp we started from, do what is being done now.

[2019-04-24 14:41] BrentAllsop commented on #233
Looks great, so closing this issue.

[2019-04-24 14:41] #233 closed, assigned to nobody

[2019-04-24 18:22] rupalichavan9860 opened #470 "Bread crumbs label names must be uniform on all pages"
Canonizer Forum Details page is having different bread crumb label names than other topic/camp bread crumb label names.
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/56683588-78b53500-66eb-11e9-8f06-4ca5d67a082d.png)

![image](https://user-images.githubusercontent.com/40416610/56683539-5e7b5700-66eb-11e9-848b-fcb551abf195.png)

Expected Result :
Brea

[2019-04-25 17:55] BrentAllsop commented on #466
@gautamv16, This seems to be a problem on many, if not all camps.
Here is another very bad history camp for the critically important camp #18:
https://staging.canonizer.com/camp/history/88/18

I think we should get this fixed, and into release 10, before it goes out.

[2019-04-25 18:10] BrentAllsop commented on #466
It seems like it is randomly taking camp records from other camp histories.
You can tell by the camp names, being names for other random camps.

[2019-04-25 18:19] rupalichavan9860 commented on #466
@BrentAllsop I am not getting,can you please elaborate with expected result

[2019-04-25 22:49] BrentAllsop opened #471 "Main Page "Include Review" is broken"
If you set the "include review" option on the main page, it only displays the topics with the largest topic numbers.

[2019-04-26 16:30] BrentAllsop commented on #466
Oh, I see the problem.  I was thinking that the first item in the history record was the name, but it is the parent.  I need to pay more attention.  Sorry.

But how about we change the order.  I think the camp name should aLways be first, then the camp parent.

[2019-04-26 16:40] BrentAllsop commented on #436
@rupalichavan9860   Are you saying the "go live time" is changing?  I don't think the go live time on any record version should ever change, right?

[2019-04-26 16:41] BrentAllsop commented on #436
Unless all supporters of the camp indicate they agree.  Then it should change to when the last remaining supporter indicated they support it.

[2019-04-26 16:48] BrentAllsop opened #472 "turn off settings pages in robots.txt"
We should update the robots.txt file to tell robots they should not index all
https://canonizer.com/settings
pages.

And we need to be sure all logs.canonizer.com pages are also turned off.

After second consideration, I think we should tell google to search history pages.
so don't turn off history page indexing.

[2019-04-28 06:47] rupalichavan9860 commented on #466
Okay.

[2019-04-28 06:50] rupalichavan9860 commented on #436
@BrentAllsop No."Go live time" is not changing..But it is displaying different go live time in as of date filter text box

[2019-04-28 16:29] rupalichavan9860 opened #473 "Incorrect success message is displaying after camp statement creation"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Create new camp and click on "Add Camp Statement"
5. Click on "Submit Statement"
6. Observe success message

Expected Result :
It should display success message "Success! Statement submitted successfully."

Actual Result :
It is displaying success message "Succ

[2019-04-29 12:03] rupalichavan9860 commented on #368
@BrentAllsop @gautamv16  "Communicating Ineffable", topic number 102 is in /terminology/, but shows up in the general list because this topic has been moved from /general/ namespace to /terminology/.
And now we can see this topic in both namespaces(/general/ and /terminology/)
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/56894867-dd361280-6aa4-11e9-9

[2019-04-29 12:21] rupalichavan9860 commented on #390
@gautamv16 I think this issue is still exists.
@BrentAllsop Please test

[2019-04-29 12:31] rupalichavan9860 commented on #434
@gautamv16 Still I can see the same error message "Error! The file must be a file of type: jpeg, bmp, png, jpg, gif." even if trying to upload .bmp or .png file of size 0 bytes

[2019-04-29 23:21] BrentAllsop commented on #390
Right, this camp doesn't show up in the default support tree, since it isn't supported:
https://staging.canonizer.com/topic/29-Test-Camp-/7
The current camp should never be filtered in the support tree.

[2019-04-29 23:25] BrentAllsop commented on #368
Yes, the topics that show up, should only be the values determined by the as-of selector, right?

[2019-04-30 09:35] rupalichavan9860 commented on #386
I have tested this but still camp name is accepting duplicate names at topic level and overall also.Need to discuss on this

[2019-04-30 09:36] rupalichavan9860 commented on #291
Any updates on this?

[2019-04-30 09:47] rupalichavan9860 commented on #276
@akuks I have tested this and still post is not displaying properly in case of long data.

[2019-04-30 10:10] akuks commented on #276
Can you post the URL?

[2019-04-30 13:04] gautamv16 commented on #466
@rupalichavan9860 please test

[2019-04-30 13:04] gautamv16 commented on #452
@BrentAllsop and @rupalichavan9860 pls check it now

[2019-04-30 13:06] gautamv16 commented on #445
@rupalichavan9860 pls check

[2019-04-30 14:44] BrentAllsop commented on #452
@gautamv16  The "confirm support" button needs to change to "submit"
And we need a "cancel" button that goes back to the same camp, but not changing anything in the DB.

[2019-04-30 14:46] BrentAllsop commented on #466
this looks fine.  OK with me to close this one.

[2019-04-30 15:32] rupalichavan9860 commented on #466
This looks fine to me too.
@BrentAllsop Do we want same changes(change order) on Create New Camp,Camp Update and Camp preview pop up for uniformity or is it fine?
If fine please close this one

[2019-04-30 15:49] gautamv16 commented on #452
@BrentAllsop please check the above changes.

[2019-04-30 15:54] BrentAllsop commented on #452
Nice.
Closing this issue.

[2019-04-30 15:54] #452 closed, assigned to nobody

[2019-04-30 15:58] BrentAllsop commented on #466
Not sure I'm fully understanding.  Let's talk about this next Thursday.
I'll close this, for now, so we can get release 10 out.

[2019-04-30 15:58] #466 closed, assigned to nobody

[2019-04-30 16:15] rupalichavan9860 commented on #276
https://staging.canonizer.com/forum/210-Testing---20-3-2019/1/threads/353

[2019-05-01 17:41] rupalichavan9860 commented on #445
@gautamv16 Tested and working good

[2019-05-01 17:41] #445 closed, assigned to nobody

[2019-05-02 03:28] gautamv16 commented on #436
@rupalichavan9860 pls test

[2019-05-02 03:28] gautamv16 commented on #389
@BrentAllsop done by karun

[2019-05-02 03:29] gautamv16 commented on #446
@rupalichavan9860 for this when ever you came from view this version it will show the date not default selected. Please check rest of thi things as working perfectly for me

[2019-05-02 05:35] rupalichavan9860 commented on #436
@gautamv16 Tested and verified

[2019-05-02 05:53] rupalichavan9860 commented on #446
@gautamv16 Tested and working perfectly now,so closing this one.

[2019-05-02 05:53] #446 closed, assigned to nobody

[2019-05-02 15:08] BrentAllsop commented on #389
@rupalichavan9860  This looks fine to me, so go ahead and close it, if you think it is OK.

[2019-05-02 16:13] BrentAllsop commented on #436
The values indicated on the side bar are being saved, but they are often not active on the page.

I'm having troubles reproducing it.  But I will often see the "include review" selected on the side bar, as saved in my session, but the  statement in review is not being displayed on the page, just the older live version.

[2019-05-02 17:18] rupalichavan9860 commented on #389
@gautamv16 @BrentAllsop This looks fine to me too, so closing this

[2019-05-02 17:18] #389 closed, assigned to nobody

[2019-05-02 17:27] rupalichavan9860 commented on #436
I have one more doubt on this.Do we want same as of date filter in URL also?
Because as of now I can see different filter in URL than selected date and time.
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/57094182-8000c200-6d2d-11e9-9a24-a6dfd3033006.png)

[2019-05-02 19:31] BrentAllsop opened #474 "Topic history page needs default link to topic page."
This should be similar to the bread crumb rows at the top of other history pages.

[2019-05-03 11:31] rupalichavan9860 opened #475 "Do we need "Create New Camp" link on Help topics also?"
We have added Create New Camp link on left side menu and because of this any user is able to add camp under help page topics also.
I think only Admin should have access to add or edit topics/camps of any Help topic.Please confirm
As of now I can add camps under any help topics.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/57134737-b2113300-6dc4-11e9-8

[2019-05-03 15:10] BrentAllsop commented on #462
In other words, all links in the camp tree should be of this form:
https://canonizer.com/topic/88-Representational-Qualia/6#statement

So that the page will scroll down to display the statement section of the page when you click on them.

[2019-05-03 15:55] BrentAllsop opened #476 "clarification of "Note" field."
Currently, the labels for the "Note" field are as follows:

Topic: “Additional Note”
Camp: “Additional Note”
Statement: Note

All of them should be the same:
“Edit summary (Briefly describe your changes)”

[2019-05-04 07:54] rupalichavan9860 opened #477 "User is not able to create nick name which is used by another user"
As of now nick name uniqueness is present at overall users level.
My thinking is it should be unique at specific user level.
I am trying to add nick name "Rupali N" for user "rupali.chavan9860@gmail.com" which is not present in nick name list but this name is associated with another user "rupali.nimbalkar22@gmail.com".
User will get confused name is not in a list and still it is displaying error m

[2019-05-04 08:07] rupalichavan9860 opened #478 "Namespace label name on agreement page must be proper"
Label name is displaying as "Name Space" instead of "Namespace"
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/57176134-c19a8580-6e71-11e9-9492-58c3f65e8ef1.png)

[2019-05-04 08:16] rupalichavan9860 opened #479 "Label name on Statement preview pop up should be proper"
Label name for nick name should be "Submitter Nick Name" or "Nick Name" instead of "Submitter Nickname"

![image](https://user-images.githubusercontent.com/40416610/57176218-d88da780-6e72-11e9-84a1-2b954f43f4c0.png)

[2019-05-04 08:33] rupalichavan9860 opened #480 "Password validations are not working properly on change password,register and reset password pages"
Try to add password like "TEST@12345",It is displaying error message "Password must be atleast 8 characters, including atleast one digit and one special character(@,# !,$..)" even if password is matching all required criteria.

We need to add one more criteria in list like password must include at least one lower case letter because as of now it is accepting password like "tEST@12345"

[2019-05-04 08:36] rupalichavan9860 commented on #480
We have already discussed this issue but not able to track as it was not in a issue list

[2019-05-04 09:58] rupalichavan9860 opened #481 "Add/Edit News UI issue"
Link label should have space "Link ( Limit 2000 Characters )"  and "*" like display text on both Add News and Edit News pages.
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/57177429-fb26bd00-6e80-11e9-8423-a4a6858ed0ae.png)

![image](https://user-images.githubusercontent.com/40416610/57177444-1e516c80-6e81-11e9-8d96-046cdc7f7303.png)

[2019-05-04 10:12] rupalichavan9860 opened #482 "Remove ":" symbol from create new thread form"
Need to remove ":" symbol after label "Title of Thread" on create new thread formfor uniformity.

![image](https://user-images.githubusercontent.com/40416610/57177578-b9971180-6e82-11e9-8eec-03f5716dde59.png)

[2019-05-05 01:35] BrentAllsop commented on #477
@rupalichavan9860,
Yes, nick names must be unique, canonizer wide.
Otherwise two different people, with the same nick name, could support the same camp.
This would make it look like they were cheating.
So I think this is as designed, not a bug.

[2019-05-05 09:55] rupalichavan9860 commented on #477
Ohh, Yes.Thanks for clarification @BrentAllsop .I am closing this one

[2019-05-05 09:55] #477 closed, assigned to nobody

[2019-05-06 02:31] gautamv16 commented on #436
@rupalichavan9860 its conversion of time so url can have diferent then whats displaying. Its not an issue.

@BrentAllsop please create new issue for the bug you are reporting. That one is different. This one is related to dates.

[2019-05-06 04:20] BrentAllsop commented on #436
1. Create a new version of a statement, on a supported record, so it will go into review.
2. Go to that camp page.
3. Select "include review" in the as of box, verify the the change is visible.
5. Go to canonizer main page.
6. Go back to camp page.
7 Notice that the "include review" is still correctly selected, but the change is not shown in the statement.

[2019-05-06 04:24] BrentAllsop commented on #436
The best fix would be to use "Single source of truth" (see wikipedia).

[2019-05-06 07:05] gautamv16 commented on #444
@rupalichavan9860 please chare comparision and screenshots. I dont understand for forum pages. Please mark this issue to Ashutosh, he will check where it is in forums, as i am not able to find anywhere in forum issue you are talking. Its ok from my end. Please mark issue to Ashutosh and close this for 11th release if not replicated.

[2019-05-06 10:30] rupalichavan9860 commented on #444
@gautamv16 @akuks Please refer attached screenshot more details
I have updated topic name from "Test Topic : By Test name " to "Test Topic : By Test name.."
Now go to live version of topic history and click on Camp forum
Observe Topic name

![image](https://user-images.githubusercontent.com/40416610/57220079-a49fb700-7017-11e9-9c5c-566a856ca20f.png)

![image](https://user-images.githubusercontent.

[2019-05-06 11:43] rupalichavan9860 opened #483 "Text fields size issue"
The text fields in an overall canonizer applications have some limit on character length.
You don't get the error message that text fields characters is too long, till you submit the form.
It would be nice if all text fields simply prevented you from typing in more than given text field size characters.

Following are text fields where we need to implement this functionality.
1. Create Topic page

[2019-05-06 11:58] rupalichavan9860 opened #484 "Labels names must be uniform throughout application"
Actual Result : Some text fields labels names have characters limit information in brackets and some text fields don't have .
Expected Result : (Limit ... characters ) must available for all or none.

Actual Result : Some text fields labels name having characters limit information like ( Limit 30 **char** ) and some having like ( Limit 256 **Characters** )
Expected Result : This must be uniform.It

[2019-05-06 12:49] gautamv16 commented on #449
@rupalichavan9860 pls test this as @akuks already fixed this.

[2019-05-06 12:53] gautamv16 commented on #356
This one is already tested and matched with history. Dont know why still not updated. Now closing this issue.

[2019-05-06 12:53] #356 closed, assigned to nobody

[2019-05-06 13:13] gautamv16 commented on #474
@BrentAllsop and @rupalichavan9860 its fixed and deployed

[2019-05-06 13:13] gautamv16 commented on #462
@BrentAllsop  and @rupalichavan9860   its fixed and deployed

[2019-05-06 13:14] gautamv16 commented on #448
@BrentAllsop and @rupalichavan9860   its fixed on live db

[2019-05-06 13:15] gautamv16 commented on #444
@akuks can u please check from where this is coming.

[2019-05-06 13:16] gautamv16 commented on #436
@BrentAllsop pls test, its done.

[2019-05-06 14:09] rupalichavan9860 commented on #448
@gautamv16 Tested.But still I can see /sandbox testing/ namespace and topics also.
Please refer screenshot
![image](https://user-images.githubusercontent.com/40416610/57230640-6bc30a80-7036-11e9-89ba-622cfe4a54c5.png)

![image](https://user-images.githubusercontent.com/40416610/57230673-85fce880-7036-11e9-807d-83a6b25feb30.png)

![image](https://user-images.githubusercontent.com/40416610/57230714-

[2019-05-06 14:22] rupalichavan9860 commented on #474
@gautamv16 Tested and looking nice.
@BrentAllsop Please test and close if fine for you

[2019-05-06 15:03] BrentAllsop commented on #436
@gautamv16   Were you able to change this, so that it is using a "single source of truth" or did you just  find a way to make sure the two sources of truth were not in disagreement in this case?

[2019-05-06 15:48] rupalichavan9860 commented on #449
@akuks I am not able to see the changes on staging.Please refer attached screenshot
for topic change
![image](https://user-images.githubusercontent.com/40416610/57237169-43420d00-7044-11e9-96cb-df3ee3f41146.png)

same for camp change
![image](https://user-images.githubusercontent.com/40416610/57237251-74224200-7044-11e9-9809-898a66f1bb51.png)

[2019-05-06 16:26] BrentAllsop commented on #474
@gautamv16 and @rupalichavan9860,
I'm seeing what looks like a link to the topic on the topic history page, but it is just blue bold text, not a link to the agreement camp of the topic?  Am I missing something?

[2019-05-06 16:36] BrentAllsop commented on #474
Ignore my previous comment.
Rupalli pointed out this is a cashing issue on my end.

[2019-05-06 16:36] #474 closed, assigned to nobody

[2019-05-07 03:23] BrentAllsop opened #485 "Word wrapping in forums needs to be fixed."
Go to any forum thread post, and change the window size.
You will see words wrap on characters, instead of on words.
Making it very hard to re
ad.

[2019-05-07 11:47] gautamv16 commented on #436
@BrentAllsop this is using single source of truth.

[2019-05-07 13:02] gautamv16 commented on #448
@rupalichavan9860 as per discussion in meeting it @BrentAllsop told to keep snadbox testing for you to put all test topics in it. I think you missed that conversation

[2019-05-07 17:15] BrentAllsop commented on #436
Great.  This is working great, so closing this issue.

[2019-05-07 17:15] #436 closed, assigned to nobody

[2019-05-07 17:34] akuks commented on #485
Fixed and changes pushed to staging but there are some conflict issues hence the changes are not pushed to the Server.

[2019-05-07 17:35] akuks commented on #482
Fixed and changes pushed to staging but there are some conflict issues hence the changes are not pushed to the staging Server.

[2019-05-09 02:51] gautamv16 commented on #388
@BrentAllsop and @rupalichavan9860 i forget to update this. This is also done.

[2019-05-09 03:23] gautamv16 commented on #476
@rupalichavan9860 @BrentAllsop check this

[2019-05-09 03:43] BrentAllsop commented on #448
Move any of topics in the following, as specified:
"/general/ Te3st Topic - armvy" => "/sandbox/"
"/general/ Test Topic - fmule" => "/sandbox/"
"/general/ Test Topic - njwlv" => "/sandbox/"
"/general/ How to control Anger"  => "/General/"
"/general/ test" => "/sandbox/"
"/general/ Test2" => "/sandbox".
Then remove these 6 name spaces.

[2019-05-09 04:24] BrentAllsop opened #488 "Fix Delegated Support."
When you delegate to anyone, in any camp, all direct support should be terminated (and not show in "supports" list).

After delegation, you should see all your supports, as being the same as the supports for who you are delegated to.  You should be able to see these supports are delegated, and should not have the option to delete individual supports.

If your supports are delegated, you should be

[2019-05-09 04:43] rupalichavan9860 commented on #476
@gautamv16 I have tested this.I can see the changed name on add and edit pages,but we need to do same changes on topic/camp/statement history pages and preview page also.
I have attached some screenshot for reference

![image](https://user-images.githubusercontent.com/40416610/57427759-05f79e00-7243-11e9-94d2-d798eec7e903.png)

![image](https://user-images.githubusercontent.com/40416610/57427784-2

[2019-05-09 06:11] rupalichavan9860 commented on #449
@akuks  @gautamv16  Tested and verified

[2019-05-09 06:11] #449 closed, assigned to nobody

[2019-05-09 06:33] rupalichavan9860 commented on #388
@gautamv16 Tested. it is not working ,Even if I am not changing anything or changing any single field it is always displaying error message "The topic name has already been taken".

[2019-05-09 09:37] rupalichavan9860 commented on #448
I have moved all test topics to /sandbox/ namespace except "/general/ test"  : https://canonizer.com/topic/167-test/63
because today I saw the topic name changed to "Tree of Knowledge (ToK)" and I observed that now there are two entries for topic "Tree of Knowledge (ToK)".
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/57443451-b7122e80-726b-11e9-8c5d-

[2019-05-09 09:46] rupalichavan9860 commented on #462
@gautamv16 Tested and looks okay to me.
@BrentAllsop @CanonizerJim Please test and close if fine for you

[2019-05-09 09:56] akuks commented on #444
I will check that

[2019-05-09 10:24] rupalichavan9860 commented on #476
@gautamv16 As we have added note field recently in proposed change emails.We need to do same changes in those emails also.

[2019-05-09 10:27] rupalichavan9860 commented on #388
On Create Topic page also it is displaying error message "The topic name has already been taken" even if topic is not present in topic lists
![image](https://user-images.githubusercontent.com/40416610/57446773-1de71600-7273-11e9-86f0-68f4a11038d1.png)

[2019-05-09 14:27] rupalichavan9860 opened #489 "Update blog footer : copyright year"
Expected Result :
It should display copyright year as (2006 - 2019)

Actual Result :
Blog footer copyright year is displaying as (2006 - 2018)
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/57461387-898dab00-7294-11e9-8c42-ec59c5d26611.png)

[2019-05-09 18:10] akuks commented on #482
@rupalichavan9860 Please test this

[2019-05-09 18:11] akuks commented on #485
@BrentAllsop @rupalichavan9860 Please test this bug and let me know if any modifications are required.

[2019-05-10 06:19] rupalichavan9860 commented on #482
@akuks Tested and verified

[2019-05-10 06:19] #482 closed, assigned to nobody

[2019-05-10 06:24] rupalichavan9860 commented on #485
@akuks Tested and looks good to me
@BrentAllsop Please test and close if fine for you

[2019-05-10 09:17] gautamv16 commented on #476
@rupalichavan9860 pls check its done

[2019-05-10 10:41] rupalichavan9860 opened #493 "Error Exception on "I agree with this change" check"
Click on "I agree with this change" checkbox on camp history page.
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/57521504-1771a080-733e-11e9-911c-6306e3b1a232.png)

[2019-05-11 13:27] rupalichavan9860 opened #494 "Incorrect success message is displaying when user click on "I agree with this change" checkbox on camp history page."
Expected Result :
It should display success message "Success! Your agreement to camp submitted successfully"

Actual Result :
It is displaying success message "Success! Your agreement to statement submitted successfully"
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/57570360-950cdd80-741e-11e9-8651-04f282e867e5.png)

[2019-05-11 13:48] rupalichavan9860 opened #495 "Label names must be uniform on Camp History page"
I found mismatch in following labels on camp history page
1. Keywords :
On agreement and camp update/create camp page label name is "Keywords" and on camp  history page label name is displaying as "keyword"
It should be "Keywords"

2. Submitter Nick Name :
There should have space between Nick and Name.As of now label name is displaying as "Submitter Nickname".
It should be "Submitter Nick Name"

P

[2019-05-11 13:51] rupalichavan9860 commented on #495
same changes need to be done on Topic history and statement history for label name "Submitter Nickname"

[2019-05-11 15:44] gautamv16 commented on #388
@rupalichavan9860 can you please clear cache and try now.

[2019-05-11 16:17] rupalichavan9860 commented on #388
@gautamv16 Retested and verified

[2019-05-11 16:17] #388 closed, assigned to nobody

[2019-05-11 16:31] rupalichavan9860 opened #496 "Edit summary is not getting persisted on topic update page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Go to Manage/Edit This Topic
5. Click on "Submit Topic Update Based On This"
6. Observe Topic Update page

Actual Result :
Edit Summary field is blank even if edit summary is present previously.

Expected Result :
Saved Edit summary should get displayed on topi

[2019-05-12 08:42] rupalichavan9860 commented on #444
@akuks @gautamv16 Tested and verified.

[2019-05-12 08:42] #444 closed, assigned to nobody

[2019-05-12 08:49] rupalichavan9860 commented on #476
@gautamv16 Tested and verified.

[2019-05-12 08:49] #476 closed, assigned to nobody

[2019-05-12 17:28] BrentAllsop commented on #485
Yup, looking great so closing.
Thx

[2019-05-12 17:28] #485 closed, assigned to akuks

[2019-05-12 17:36] BrentAllsop commented on #489
@rupalichavan9860
I'm not seeing this.
Also, this should never be a problem.
All these types of issues should be automatically calculated, and should never be wrong, forever.

[2019-05-12 18:05] BrentAllsop commented on #462
We need to discuss this,
I think this type of URL, should not scroll down:
https://staging.canonizer.com/topic/88-Theories-of-Consciousness/1

Only this type of URL (which should be used in the camp tree) should scroll:
https://staging.canonizer.com/topic/88-Theories-of-Consciousness/1#statement

Does everyone agree with me?

[2019-05-12 18:09] BrentAllsop commented on #462
We need to discuss this.
We should be able to have scrolling and non scrolling camp URLs:

https://canonizer.com/topic/88-Theories-of-Consciousness/1#statement
https://canonizer.com/topic/88-Theories-of-Consciousness/1

[2019-05-12 21:16] BrentAllsop commented on #448
Topic 306 has two spaces "  (" before the "(".  It needs to be changed to 1 space.
But it can't, because 167 has that name.
I changed the name of 167, so the one space ToK name is no longer used,
But it still won't let me use that one space name for 306?
Let's discuss this next meeting.

[2019-05-13 02:13] BrentAllsop commented on #475
@rupalichavan9860
Let's discuss this, but in my opinion, like wikipedia, anyone can edit anything, including help pages.
If someone has a better idea of how to say things, or if they need some help we don't see, we want them to add it....  So it is OK with me to close this as question answered.

[2019-05-13 02:53] gautamv16 commented on #496
@rupalichavan9860 edit summary is only for ref and it must be displayed only on history. Submit new change have no use of it. In that case it must be blank so that user can provide their own edit summary.

[2019-05-13 04:03] #475 closed, assigned to nobody

[2019-05-13 04:29] #448 closed, assigned to nobody

[2019-05-13 18:43] BrentAllsop opened #502 "Sort browse topics"
The list of topics on the browse page would be nice if it was sorted, first by the namespace (if all is selected) then sorted by topic name.

[2019-05-15 06:03] gautamv16 commented on #493
@rupalichavan9860 pls check this

[2019-05-15 06:04] gautamv16 commented on #462
@rupalichavan9860 and @BrentAllsop please check this. Now i have changed it to dynamic # url based on html dom element. Please test url flow as required. Then lets deploy 11th release

[2019-05-15 06:41] akuks opened #503 "There is no way to go the Topic or Camp URL from the account setting page."
After login when user goes to the "Account Settings"  and then go the "My Support" tab. There is no way to go to the Topic and Camp URL. User needs to search and then go the Topics and URL they support.

App must have a way where User directly visits the Camp and Topics they support.

[2019-05-15 13:47] rupalichavan9860 commented on #493
@gautamv16 Tested and verified.

[2019-05-15 13:47] #493 closed, assigned to nobody

[2019-05-15 21:22] BrentAllsop commented on #462
Yes, that is nice.

[2019-05-15 21:22] #462 closed, assigned to nobody

[2019-05-17 08:05] rupalichavan9860 commented on #481
@gautamv16 Tested and verified

[2019-05-17 08:05] #481 closed, assigned to nobody

[2019-05-17 08:08] rupalichavan9860 commented on #479
@gautamv16 Tested and verified

[2019-05-17 08:08] #479 closed, assigned to nobody

[2019-05-17 08:13] rupalichavan9860 commented on #478
@gautamv16 Tested and verified

[2019-05-17 08:13] #478 closed, assigned to nobody

[2019-05-17 08:25] rupalichavan9860 commented on #470
@gautamv16 Tested and verified.

[2019-05-17 08:25] #470 closed, assigned to nobody

[2019-05-17 08:46] rupalichavan9860 commented on #484
@gautamv16 "(" is missing for label "City" on "Manage Profile Info" page
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/57915280-0a106500-78ae-11e9-88c9-9d868d9e09af.png)

[2019-05-18 11:27] gautamv16 commented on #472
@akuks can you please check this one

[2019-05-18 17:28] gautamv16 commented on #464
@BrentAllsop this is not clear. Please explain where to add namespace.

[2019-05-18 17:56] gautamv16 commented on #390
@BrentAllsop pls test

[2019-05-18 17:56] gautamv16 commented on #480
@rupalichavan9860 pls test and close

[2019-05-18 17:57] gautamv16 commented on #469
@rupalichavan9860 pls test properly as in above screenshot your points are conflicting on one point as you changed rhe parent of camp on one page then you are matching that on second page which will be different. So please test it properly.

[2019-05-18 17:58] gautamv16 commented on #467
@BrentAllsop pls test as created a new way for filter. Lets close if it works

[2019-05-18 18:05] gautamv16 commented on #459
@rupalichavan9860 pls test

[2019-05-18 18:20] BrentAllsop commented on #464
This must have been a duplicate, or something.
It is fixed, now.
So I'm closing this issue.

[2019-05-18 18:20] #464 closed, assigned to nobody

[2019-05-18 18:24] BrentAllsop commented on #390
Yea, this looks great.
@rupalichavan9860  and @gautamv16  we should have automated tests for everything, especially things like this, before we close them.

[2019-05-18 18:30] BrentAllsop commented on #467
Functionally, camps with no support are showing up, after you create a new camp.
But the filter indicator, on the side bar, still says: "Filter < 0.001", indicating it is on.
This is another dual source of truth issue that needs to be fixed (made back to a single source)

[2019-05-19 10:12] rupalichavan9860 commented on #473
@gautamv16 Tested.I have created fresh topic and adding camp statement first time but still it is displaying success message as "Success! Statement change submitted successfully."
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/57980748-ad977c00-7a4c-11e9-8216-5cbd73adcc48.png)

[2019-05-19 10:26] rupalichavan9860 commented on #469
@gautamv16 Tested.I have changed topic name today from ""Test 6" to "Test 6: change on 19 may" which is not live yet
I can see the live topic name in URL but not on Supported camps page.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/57980876-6ca06700-7a4e-11e9-81bb-237e3c23806e.png)

[2019-05-19 10:30] rupalichavan9860 commented on #459
@gautamv16 Tested and verified

[2019-05-19 10:30] #459 closed, assigned to nobody

[2019-05-19 10:43] rupalichavan9860 commented on #480
@gautamv16 Tested.I can see the changes in error message for Password field on register page but not in Password guidelines, error message for enter new password on change password page and in Password guidelines on forgot password page. Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/57981029-31069c80-7a50-11e9-913c-b918794f3607.png)

![image](https://

[2019-05-19 11:04] rupalichavan9860 commented on #484
"( Limit 100 chars )" is missing on Register page for fields First Name, Last Name and Middle Name
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/57981356-f56dd180-7a53-11e9-85f2-10dd94293d35.png)

[2019-05-19 11:08] rupalichavan9860 commented on #483
@gautamv16 Tested and working everywhere except on Create Account page.
Create Account page : First Name(Limit 100 Chars), Middle Name(Limit 100 Chars), Last Name(Limit 100 Chars)
Need to prevent typing in more than 100 characters.

[2019-05-19 14:12] akuks commented on #472
/settings disallowed in the robots.txt and there is no robots for logs hence it will not indexed by google.

[2019-05-20 08:46] rupalichavan9860 opened #506 "Button Id's must be unique on Manage Profile Info page"
Button Id's are not unique on Manage Profile Info page.
Verify,Confirm and Update button all are having same ID "submit" and because of this I am facing issues while creating automated test cases
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/58008123-586d7000-7b09-11e9-9c06-d0be87d3ba37.png)

![image](https://user-images.githubusercontent.com/40416610

[2019-05-20 19:04] BrentAllsop commented on #506
Good catch.  All IDs should remain unique, and consistent as pages change and improve, so as not to break tests.  The id values should also be very descriptive, describing how the various "submit" buttons are different, not just meaningless submit1, submit2, and so on.

[2019-05-21 03:40] rupalichavan9860 opened #507 "Uncaught SyntaxError: Unexpected token *"
I found Uncaught SyntaxError: Unexpected token * when I opened developer tool
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/58066731-324add00-7ba8-11e9-8f32-a58a6d35da4a.png)

![image](https://user-images.githubusercontent.com/40416610/58066747-45f64380-7ba8-11e9-91e4-b4c15529a239.png)

[2019-05-21 04:10] rupalichavan9860 opened #508 "Page title names must be uniform"
1. Create New Topic : Create Topic**(It should be Create New Topic)**
2. Canonizer Main : Canonizer Main Page**(It should be Canonizer Main or link name should be Canonizer Main Page)Please confirm**
3. Create New Camp : Create New Camp
4. Add News : Add News
5. Edit News : Edit News
6. Camp Statement History : Camp Statement History
7. Statement update : Statement update**(It should be Statement

[2019-05-21 04:16] rupalichavan9860 opened #509 "Camp update is not working properly"
Go to any camp and try to update camp without changing any field or change any field except camp name,It is always displaying error message "The camp name has already been taken"

![image](https://user-images.githubusercontent.com/40416610/58067966-1a298c80-7bad-11e9-8f10-b3d2dc50148b.png)

For agreement camp also it is displaying error message
![image](https://user-images.githubusercontent.com/40

[2019-05-21 06:19] gautamv16 commented on #437
@rupalichavan9860 pls check this

[2019-05-21 06:20] gautamv16 commented on #434
@rupalichavan9860 pls check

[2019-05-21 06:20] gautamv16 commented on #386
@rupalichavan9860 pls check

[2019-05-21 08:19] rupalichavan9860 commented on #434
@gautamv16  Still I can see the same error message "Error! The file must be a file of type: jpeg, bmp, png, jpg, gif." even if trying to upload .bmp or .png file of size 0 bytes
![image](https://user-images.githubusercontent.com/40416610/58079709-3f2ef700-7bcf-11e9-9049-2237f6e7523a.png)

[2019-05-21 08:31] rupalichavan9860 commented on #386
@gautamv16 Tested. It is displaying error message "The camp name has already been taken" when trying to update same camp.
Refer issue #509

[2019-05-21 09:01] rupalichavan9860 opened #510 "My Supports page is displaying not live camp name and topic name"
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/58082528-d0ed3300-7bd4-11e9-8e1b-dfd4fd7b7d32.png)

![image](https://user-images.githubusercontent.com/40416610/58082653-0eea5700-7bd5-11e9-99e6-0b7b9d6d8b10.png)

[2019-05-21 09:09] rupalichavan9860 commented on #510
I just updated topic name from "Testing Namespace Functonality " to "Testing Namespace Funct " and "Testing Namespace Funct " is not live but my supports page is displaying not live topic name
please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/58083054-e2830a80-7bd5-11e9-870e-218db63a483e.png)

![image](https://user-images.githubusercontent.com/40416610/58

[2019-05-21 17:21] rupalichavan9860 opened #511 "XPath issue"
When user is on agreement page,user can see Create New Camp link.
Because of Create New Camp link,other links(Upload File,Help,White Paper and Blog) XPath is getting changed.
e.g. XPath of Upload File is "//*[@id="exampleAccordion"]/ul[1]/li[4]/a/span" when user is on other pages and "//*[@id="exampleAccordion"]/ul[1]/li[5]/a/span" when user is on agreement page
This may create issue while perform

[2019-05-21 18:28] rupalichavan9860 commented on #484
Limit 100 chars : c in Chars must be capital(Chars) like other places for First Name,Middle Name and Last Name.
Same for Topic Name on Create New Topic and Topic Update page
Please refer attached screenshot
![Capture](https://user-images.githubusercontent.com/40416610/58121131-48967e80-7c24-11e9-83b2-a41eec312a88.PNG)

[2019-05-21 18:40] rupalichavan9860 commented on #437
@gautamv16 I am not getting topic/camp change mails and I am getting "Thank you for contributing to Canonizer.com" mail after statement change.

@BrentAllsop Can you please check at your end.Please test and close if working for you

[2019-05-22 04:17] BrentAllsop commented on #437
@rupalichavan9860   Are you talking about staging?
Yes, I just made a change to a topic on staging, and it went live.
That was an hour or so, ago, and I have not yet received an e-mail about that.

[2019-05-22 05:04] rupalichavan9860 commented on #437
@BrentAllsop Yes.Staging.But I am not sure your email on staging is configured for receiving mails or not.Need to check with Varun

[2019-05-22 09:03] gautamv16 commented on #434
@rupalichavan9860 the issue u are asking is not valid as per me. For 0 file size system will not reconize the file type i first check and it will always show this message as for any 0 or invalid file file system always check for valid file first and 0 size file never have any file extension so it will always display error message for file type and that is ok according to me.

[2019-05-22 09:06] gautamv16 commented on #437
Only rupali email is there on staging for testing so all emails will go to her email. And only different supporter will receive emails bye cron job which is configured on production which will check for any change which are not in grace period. You can test text changes for any change which dont have grace period.

[2019-05-22 17:23] gautamv16 commented on #467
@BrentAllsop its done.

[2019-05-22 17:24] gautamv16 commented on #469
@rupalichavan9860 pls check it now

[2019-05-22 17:24] gautamv16 commented on #473
@rupalichavan9860 pls check it now

[2019-05-22 17:24] gautamv16 commented on #480
@rupalichavan9860 pls check it now

[2019-05-22 17:24] gautamv16 commented on #483
@rupalichavan9860 pls check

[2019-05-22 17:26] gautamv16 commented on #488
@BrentAllsop pls check flow once. Now in my support if user have delgated a support to any camp of a topic then individual support will be ignored and will not be shown in my support. There will be delegated nickname to whom user is supporting for that topic. Pls check and lets discuss in tomorrow meeting

[2019-05-22 17:29] gautamv16 commented on #484
@rupalichavan9860 pls check

[2019-05-22 17:31] gautamv16 commented on #386
@rupalichavan9860 pls check

[2019-05-22 17:47] BrentAllsop commented on #467
It seems that when you change something on the side bar, it doesn't change the session value, it just reloads the page with filter and as values in the URLs.  So if you change the URL, it goes back to the old session you thought you changed.

In my opinion, the side bar should only change the session, and not add arguments to the URL.
Also, I'm thinking values specified in the URL, should not chan

[2019-05-22 17:56] BrentAllsop commented on #488
There needs to be 2 distinct modes of support for a topic:
Direct support.  (can support any number of camps, in any order)
Delegated support.  (if you delegate to anyone, you abandon all direct support of any camps, and from now on, support exactly the camps of your delegate, in their order.
There can be no way to do both delegated and direct support of camps, on one topic.

[2019-05-22 18:08] BrentAllsop commented on #437
I have been getting some e-mails from staging, but nothing from these.

[2019-05-22 18:10] rupalichavan9860 commented on #483
@gautamv16 Tested and verified

[2019-05-22 18:10] #483 closed, assigned to nobody

[2019-05-22 18:15] rupalichavan9860 commented on #480
@gautamv16 Retested and verified.

[2019-05-22 18:15] #480 closed, assigned to nobody

[2019-05-22 18:20] rupalichavan9860 commented on #386
@gautamv16 I am getting page crash on Camp Update page.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/58198637-4dbf0080-7cec-11e9-9a83-5f755826bec7.png)

[2019-05-22 18:31] rupalichavan9860 commented on #473
@gautamv16 Retested and verified

[2019-05-22 18:31] #473 closed, assigned to nobody

[2019-05-22 18:41] rupalichavan9860 commented on #386
@gautamv16 On Create New Camp it is working fine but on camp update still it is accepting duplicate name.
I have updated camp name "test camp 1 " to "test camp 2" and record is getting updated even if "test camp 2" is already available under same topic
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/58199690-b0b19700-7cee-11e9-8006-0caa0b582521.png)

![

[2019-05-22 18:50] rupalichavan9860 commented on #469
@gautamv16 Retested and verified

[2019-05-22 18:50] #469 closed, assigned to nobody

[2019-05-22 18:54] gautamv16 commented on #386
can you please check it now..

[2019-05-22 18:57] rupalichavan9860 commented on #484
@gautamv16 First two commented issues are fixed but third commented issues are still exists.Please check latest comment with screenshot

[2019-05-22 19:05] gautamv16 commented on #484
@rupalichavan9860 can u pls after clearing cache now..

[2019-05-22 19:08] rupalichavan9860 commented on #386
@gautamv16 Now again it is displaying error message "The camp name has already been taken" when trying to update same camp.
![image](https://user-images.githubusercontent.com/40416610/58201592-1142d300-7cf3-11e9-9ff0-cd15c4de0cca.png)

[2019-05-22 19:12] rupalichavan9860 commented on #484
@gautamv16 working on profile page and create new topic but still pending on topic update page
![image](https://user-images.githubusercontent.com/40416610/58201784-94642900-7cf3-11e9-81c4-72a7a7b35bdd.png)

[2019-05-23 04:19] BrentAllsop commented on #488
If you have delegated your support to someone who has supported multiple camps.
Then, if you try to directly support camp ABC:

The new camp showed up with "Nick Name to Support (then bread crumbs.)
Instead of bread crumbs, it should say:
Nick Name to Support Above Camps.

In the my supports page, when it says: "Support delegated to Mike Gashler" it would be nice to show a non editable list of the

[2019-05-23 04:29] BrentAllsop commented on #467
Also, when you change the "filter" value this should be saved in sessions, to be consistent with all other side bar actions.

[2019-05-23 04:49] CanonizerJim opened #512 "Video Podcast Block"
Create a video podcast section on the front page
![Screen Shot 2019-05-22 at 8 29 10 PM](https://user-images.githubusercontent.com/36485203/58226404-bd7cbd80-7ce3-11e9-9b09-e1f53dc9a929.jpg)

[2019-05-23 10:38] rupalichavan9860 commented on #386
@gautamv16 I just checked this is working now.
But this is not checking not live camp names .Please refer following scenario
I have created camp "Camp5 " and renamed "Camp5 " to "Camp6" which is not live yet (Submitted on : 5/23/2019, 3:59:32 PM  )
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/58246482-ce294400-7d74-11e9-86bf-78bb6376289a.png)

And no

[2019-05-23 11:20] rupalichavan9860 commented on #434
@gautamv16 I am not agree with statement "0 size file never have any file extension"
![image](https://user-images.githubusercontent.com/40416610/58248587-257de300-7d7a-11e9-8474-a06c3539460a.png)

@BrentAllsop according to Varun this is not a valid issue and he is OK with current message,Please check and close if you are also OK with this

[2019-05-23 18:41] rupalichavan9860 commented on #496
I was thinking like if some user wants to add his/her own edit summary along with original one.
@BrentAllsop Please confirm

[2019-05-23 19:50] BrentAllsop opened #513 "Some old URLs are still broken."
Some old URLs are still broken.  For example:

http://staging.canonizer.com/topic.asp/88/21

Contained in an old letter from Daniel Dennett I am now trying to reply to.

On staging, this non https url redirects to this broken URL missing one of the required "?"s:
https://staging.canonizer.comtopic.asp/88/21

On the live site, it just redirects to:

https://canonizer.com

Can we get this fixed for

[2019-05-25 09:52] gautamv16 commented on #471
@rupalichavan9860 pls close this as tested in 11th release same issue. Pls test once

[2019-05-25 09:53] gautamv16 commented on #437
@rupalichavan9860 as discussed in meeting pls check and close.

[2019-05-25 09:55] gautamv16 commented on #434
@rupalichavan9860 yes i am ok and it depends on file to file. You are intentionaly making a file size 0 and nay file will not have file size 0. And if default any file have 0 size file system will not reconize its file type and always give erro please uplaod valid file not message file size is 0, please test other sites and see the result and share with us if they are able to show the same.

[2019-05-25 09:57] gautamv16 commented on #390
@rupalichavan9860 pls take care of above comment and close issue

[2019-05-25 18:13] gautamv16 commented on #467
@BrentAllsop pls check i have finished this.

[2019-05-25 18:13] gautamv16 commented on #484
@rupalichavan9860 pls check and close

[2019-05-25 18:14] gautamv16 commented on #386
@rupalichavan9860 can u pls recheck

[2019-05-25 18:43] gautamv16 commented on #513
@akuks please check staging server .htaccess file. I am not able to read it there. What changes you did last in htaccess ? This change is related to htaccess. But i cant find any htaccess file on staging.

Can you please check this.

[2019-05-26 04:10] akuks commented on #513
There is a swap file created in staging for .htaccess. I didn't modified .htaccess file. File is there and intact and Swap file has been deleted.

[2019-05-26 04:14] akuks commented on #513
http://staging.canonizer.com/topic.asp/88/21 redirect's to
 **https://staging.canonizer.comtopic.asp/88/21** and this URL misses '/'. I think thats why we have an issue

[2019-05-26 09:57] rupalichavan9860 commented on #484
@gautamv16 Tested and verified

[2019-05-26 09:57] #484 closed, assigned to nobody

[2019-05-26 10:06] rupalichavan9860 commented on #386
@gautamv16 Retested and verified

[2019-05-26 10:06] #386 closed, assigned to nobody

[2019-05-26 10:13] #434 closed, assigned to nobody

[2019-05-26 10:27] rupalichavan9860 commented on #471
@gautamv16 after logged in when I click on "Include Review" it is displaying "No topic available." for /general/ namespace but after selecting any other namespace and again /general/ then it is displaying
some topics
![image](https://user-images.githubusercontent.com/40416610/58380448-c95fcc80-7fce-11e9-8ff6-f79e6601a691.png)

![image](https://user-images.githubusercontent.com/40416610/58380458-e8

[2019-05-26 13:45] rupalichavan9860 commented on #390
I have tested this but I have one doubt.
When I hit  " https://staging.canonizer.com/topic/29-The-Sky-is-Blue/", I am not able to see "Test Camp" even it is child of agreement camp.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/58382618-04bbc480-7fea-11e9-8ac3-ffe95fd1ebcf.png)

And when I click on any of the camp available then I can see the not suppo

[2019-05-26 13:49] rupalichavan9860 commented on #509
@gautamv16 Tested and verified

[2019-05-26 13:49] #509 closed, assigned to nobody

[2019-05-26 16:03] BrentAllsop commented on #467
it is still not quite right, in the following case:

Set all side bar setting to default (not by URL)
Go to a topic with camps with zero support.
Create a new camp.
Notice that the Filters is set to 0.00 (turned off) which is good.
Now turn the filter on:
set Filter < 0.001
Notice that the side bar and URL indicate the filter is on
However, there are not supported camps that are not filtered.  The

[2019-05-26 16:18] BrentAllsop commented on #471
Yes, these are all issues which need to be fixed.
There should be no change in the list of items, when changing to "include review"
as no camp support changes.  The only thing that should change would be a topic or camp name change that hasn't gone live yet.

[2019-05-26 16:35] BrentAllsop opened #514 "Improve buttons names for timed topic modification."
Right now it shows the count down timer on the history page, after you propose a change.
"Update Statement" button should be "Edit Change"
"Stop" button should be "Commit Change"