[2021-10-21 07:23] rupalichavan9860 opened #840 "Need space between "Parent Camp" and ":" on Updated camp record preview pop up"
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/138230593-baf29ad5-6864-4fcb-973c-d45787b1df44.png)

[2021-10-21 07:45] Wajeeha1995 commented on #832
If account is not verified and user trying to login with new pass, user should receive One time verification code

[2021-10-21 08:06] akuks commented on #837
@rupalichavan9860 This is fixed. Please test it.

[2021-10-21 09:39] rupalichavan9860 commented on #837
@akuks Tested and verified.

[2021-10-21 09:39] #837 closed, assigned to akuks

[2021-10-21 10:00] rupalichavan9860 opened #841 "There is no way to see all the threads/top 10 threads when user don't have their own thread/participation"
Steps to reproduce :
1. Login with "user1" and create thread and make some post in that thread
2. Logout and login with another user "user2"
3. Go to camp forum and click on My Threads/My Participation

Actual Result :
User is not able to see the links on List of All Camp Threads, Need to click on browsers back button to see  the links

[2021-10-21 10:59] rupalichavan9860 commented on #826
@gautamv16 Need to change this for Objector Nick Name field also on history pages

[2021-10-21 11:15] rupalichavan9860 opened #842 "Invalid As Of Date is displaying By default on Create Share and Update Share page"
By default date is displaying as "010/21/2021"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/138266390-eceb9e5f-2b4e-48ff-ab2c-c5cc046d0dcb.png)

and giving below error :
"The as of date is not a valid date."
![image](https://user-images.githubusercontent.com/40416610/138267044-2d486cfc-9a4b-4fe8-98a2-e79d025c70c9.png)

[2021-10-21 11:25] rupalichavan9860 commented on #842
Also date is not getting updated after updating

![image](https://user-images.githubusercontent.com/40416610/138267784-e7c23c17-5625-450a-a6b3-4ddf6eba07b6.png)

[2021-10-21 11:42] dakshiffort commented on #775
Hello @BrentAllsop from a flow point-of-view, the statement is correct. I've made minor punctuation edits at some places. @sunnyjindal

When adding support to a new camp, if you already support an existing parent or a child camp of the new camp, this results in stacked support. Stacked support provides contradictory information and defeats the purpose of Canonizer. Grandparent, great grandparent a

[2021-10-21 11:42] akuks commented on #707
It is not feasible to save all the data in the database. Algorithms are heavily dependent on asofdate. Optimizing the query is the only solution we have left with

[2021-10-21 13:37] rupalichavan9860 commented on #780
@akuks We need actual date and time instead of "n hours" ago so removing ready to test label and moving this to "To do"

[2021-10-21 15:39] rupalichavan9860 commented on #781
@aliahmad45 Still facing issue for iPhone 5/SE and Galaxy Fold

[2021-10-21 16:08] rupalichavan9860 opened #844 "JavaScript error on forum pages on live"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/138315949-21b3787c-2f90-49aa-9ff9-6c28fdaf35c6.png)

[2021-10-21 16:27] rupalichavan9860 commented on #787
Getting this page crash in one more scenario :

When "camp1"  parent camp modified to  "camp2"  which is in review record
and again trying to select "camp1" as a parent camp of "camp2"
![image](https://user-images.githubusercontent.com/40416610/138318985-4bd37784-a7f6-4a8c-8d48-ef26ce48bb49.png)

[2021-10-21 16:45] akuks commented on #780
@rupalichavan9860 a little correction. We need both.
"Brent updated 10 years ago (Oct 30, 2011, 22:34:45)", where the time is specified in the users selected format and time zone, as specified in their browser.

[2021-10-22 05:06] saniatg commented on #741
@rupalichavan9860 ad @gautamv16 I'm getting console error and when click on button"Meta mask" nothing happens. It is not responding
![Screenshot 2021-10-21 at 7 02 43 PM](https://user-images.githubusercontent.com/91254708/138396261-2b436946-da4b-44a3-9a99-887fd94afba5.png)
.

[2021-10-22 05:16] saniatg commented on #778
@HamzaBinMansoor Still facing issues
1- issue is the design gets unaligned when dragging the supported camps
2- The camps are being dragged anywhere in the screen due to which the camps disappear from the list
Video files to describe the issues  are not uploading . I have shared the same in the skype group

[2021-10-22 09:12] saniatg commented on #228
@gautamv16 For better user experience instead of warning message that "there is a already a file with the same name" ->we can show" The same name file is already taken by some other user"
So that user knows that the same name file error is because the file name is taken by another user otherwise user will be confused that he/she has not used the name yet the error shows .

![Screenshot 2021-10-22

[2021-10-22 09:13] saniatg commented on #241
@gautamv1 Not able to upload 5mb file on Production . The same file works on staging.

Attaching the sample file as well

![Screenshot 2021-10-22 at 2 27 26 PM](https://user-images.githubusercontent.com/91254708/138426563-93f10007-8af0-45b7-a60c-4748ead51c93.png)
![Sample-Image-file-Download](https://user-images.githubusercontent.com/91254708/138426648-d2faed28-40e2-4b06-91b3-1b5c3526d7bb.jpg)

[2021-10-22 09:16] sunnyjindal commented on #228
I think we should embed the unique code in the file name whenever someone is uploading the file. Example: if the file name is test.jpg then it should be saved as test_[unixtimestamp].jpg on the server. @gautamv16 @saniatg @BrentAllsop

[2021-10-22 09:37] rupalichavan9860 commented on #741
@gautamv16 This is occurring when MetaMask plugin  is not installed. I am also facing this on Firefox as MetaMask plugin is not installed. Can we have some user friendly message or link to link download plugin so that user will not face issue in future

![image](https://user-images.githubusercontent.com/40416610/138431571-3a4d4904-57c3-474d-a241-fe86e094d951.png)

[2021-10-22 11:19] akuks commented on #790
We need to discuss this ticket on Monday after the standup. I will add it in agenda.

[2021-10-22 12:11] rupalichavan9860 commented on #828
@Wajeeha1995 This is not an issue. on 1st screen user is supporting camp and 3rd screen is displaying supported camps

[2021-10-22 12:54] saniatg opened #845 "Date format should be consistent throughout the application"
Currently in 'Camp Forum' format is ->dd/mm/yyyy & when upload file it is yyyy/mm/dd

 To keep it uniform we can follow US time format mm/dd/yyyy

![Screenshot 2021-10-22 at 9 25 06 AM](https://user-images.githubusercontent.com/91254708/138456674-711f7f82-575f-4791-95ac-b736ef9ef03d.png)

![Screenshot 2021-10-22 at 6 23 22 PM](https://user-images.githubusercontent.com/91254708/138456698-fbb5755d-f

[2021-10-24 12:47] rupalichavan9860 opened #846 "Default filter "Filter < 0.000" is not working"
For very first time when user logins to the system , default filter is "Filter < 0.000" but camps with score "0" are not displaying

Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/138594768-94082e27-ddbe-428f-a85f-0a84cbec1b72.png)

After reloading page I can see camps with score "0"
![image](https://user-images.githubusercontent.com/40416610/13859484

[2021-10-24 13:00] rupalichavan9860 opened #847 "Alignment issue for Action Column on Social Oauth Verification tab"
All columns values on the Social Oauth Verification page are aligned to left except "Action" , Please refer screenshot

![image](https://user-images.githubusercontent.com/40416610/138595308-03fee4ec-8d5c-4cd1-82f8-4a686ef8f34c.png)

[2021-10-25 07:22] saniatg opened #848 "Labels alignment issue when window is resized"
The labels ( In review, Objected ) must be aligned in the straight line with the others
 Refer screenshot for the issue
![Screenshot 2021-10-05 at 11 51 11 AM](https://user-images.githubusercontent.com/91254708/138651678-53aa9f39-dfd3-445f-a02d-e1b453d32b04.png)

[2021-10-25 07:24] rupalichavan9860 opened #849 "Topic name /Camp name is missing in "proposed a change to this statement/camp/topic" emails"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/138652144-8f877e59-18dd-4ca4-ab6c-2c257a649a57.png)

[2021-10-25 07:31] rupalichavan9860 commented on #849
![image](https://user-images.githubusercontent.com/40416610/138652983-a9f10fd3-293d-4d27-9e6b-d01758a06216.png)

![image](https://user-images.githubusercontent.com/40416610/138653053-529969a6-cbd4-497e-9654-f9f709fee692.png)

[2021-10-25 07:56] #805 closed, assigned to sunilspr7, saniatg

[2021-10-25 08:12] rupalichavan9860 opened #850 "Incorrect validations for field Camp About URL"
I am trying to update camp for field Camp About URL with value "https://www.google.com/" and can see error message  "Camp's about url can not be more than 1024 characters." even if entered characters are 23 only

Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/138658742-cd4c8f90-5dc4-4da2-99c6-aaee2a64a4ec.png)

[2021-10-25 10:11] Wajeeha1995 opened #851 "Text fields are overlapping and social media link buttons are cutting off on mobile devices"
**Profile info screen :**
![Screenshot](https://user-images.githubusercontent.com/92429083/138676666-85654951-0b5f-4664-b339-038c732baa94.png)
**Social Oauth verification Screen :**
![Screenshot (1)](https://user-images.githubusercontent.com/92429083/138676814-cdf0b5f0-b59f-4df5-ad7f-b7c83f84c6f4.png)
 **Profile info screen in rotate mode :**
![Screenshot (3)](https://user-images.githubusercontent

[2021-10-25 10:32] #828 closed, assigned to gautamv16

[2021-10-25 10:41] rupalichavan9860 opened #852 "Some menus form left panels are not getting highlighted"
When user click on any link from left panel, link colors changes but this is not working for below links

1. Create New Topic

![image](https://user-images.githubusercontent.com/40416610/138681285-009631ae-e282-4629-8610-20696aec27fd.png)

2. Jobs

![image](https://user-images.githubusercontent.com/40416610/138681396-66285fad-861a-40ea-843b-e95446a73e54.png)

3. Algorithm Information

![image](htt

[2021-10-25 11:01] saniatg opened #853 "When creating a topic under any 'Namespace" other than General it automatically changes to 'General' whenever there is any error on the page"
Steps to reproduce:

1. Login and navigate to 'Create Topic'
2. Now add 'Topic Name' which is duplicate or invalid
3. Select any namespace except 'General'. E.g. I choose ' Organizationz' as my namespace
4. Click on 'Create topic' Button
5. Error "Name already exists" shows which is correct
6. In the namespace field the selected namespace as"Organizationz' changes automatically to 'General ' which

[2021-10-25 11:47] Wajeeha1995 opened #854 "when user place cursor on help icon on any mobile device ,it doesn't display any tooltip like showing on web"
Issue produced on Mobile devices :
![Screenshot (6)](https://user-images.githubusercontent.com/92429083/138689195-3f89c2ec-d742-4cdb-9a4d-95bb8015af36.png)

On Web :
![Screenshot (7)](https://user-images.githubusercontent.com/92429083/138689475-734570f0-3c13-41c2-ac73-fbe93ec960c7.png)

[2021-10-25 12:09] gautamv16 commented on #829
@rupalichavan9860 changes reverted

[2021-10-25 12:14] gautamv16 commented on #826
@rupalichavan9860 I have added underline to the hyperlink text  and also did same for objector name

[2021-10-25 12:30] saniatg opened #855 "Display Text in Add news should accept full stop(.) It is not possible to enter 256 chars without a full stop as per User perspective."
Steps to reproduce

1. Login and navigate to any topic created by the user
2. Click on Add news
3. Enter text in 'display text' field with a full stop (.)

Actual Result: Gives error" Only spaces and alphanumeric allowed" when enter full stop(.)
Expected result: Full stop should be acceptable
![Screenshot 2021-10-25 at 5 57 49 PM](https://user-images.githubusercontent.com/91254708/138695296-434d0d

[2021-10-25 12:37] gautamv16 commented on #741
@rupalichavan9860 this is fixed , please test and verify

[2021-10-25 13:19] rupalichavan9860 commented on #811
@gautamv16 As per discussed in meeting user should not be able to delegate their support to  any sub level delegated supporter, So reopening this issue

[2021-10-25 13:52] ashish76 commented on #842
Fix #842.
Wrong logic to format Day and Month.

[2021-10-25 15:45] BrentAllsop commented on #713
Hi @HamzaBinMansoor ,
It is  now live, and I'm showing one remaining issues, that looks like a validation has started on that, but it is still "pending".
I'm not seeing how to get that to complete?  Is that the issue?
What do we need to do to close this?

[2021-10-26 05:49] rupalichavan9860 commented on #741
@gautamv16 I can see the download option now but download metamask image is broken. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/138816478-77fe5da1-88ac-4b46-993c-e8efe853434a.png)

Also image is missing in Firefox

![image](https://user-images.githubusercontent.com/40416610/138816722-86bde7d4-c051-4ad5-b94d-9a93b05d3874.png)

[2021-10-26 06:14] saniatg commented on #829
Working fine now, the changes are reverted . For the first time all nick names will show when supporting/creating a new camp after that only that nick name will show with which the first camp was created/supported , all will not populate. @rupalichavan9860 Please confirm and close.

[2021-10-26 06:27] rupalichavan9860 commented on #829
@gautamv16 @saniatg Tested and verified.

[2021-10-26 06:27] #829 closed, assigned to gautamv16

[2021-10-26 06:36] Wajeeha1995 commented on #826
@rupalichavan9860 Text is readable and highlighted now. You can close this issue

[2021-10-26 06:37] rupalichavan9860 commented on #826
@gautamv16 @Wajeeha1995 Yes. Tested and verified .Closing this issue

[2021-10-26 06:37] #826 closed, assigned to gautamv16

[2021-10-26 07:49] rupalichavan9860 commented on #790
@nalwa @gautamv16 As per discussed in meeting
When direct supporter removes their support from camp :
1. All Immediate (level 1)delegated supporters will become direct supporters of that camp
2. It should send an email to new direct supporters that, they are now direct supporters of the camp as user they were delegating have removed their support from that camp and they can either remove or delega

[2021-10-26 07:54] saniatg opened #857 "For safari browser , Crypto verification(Meta mask Account), we should add a text with list of supported browsers."
Meta Mask only supports Chrome and Firefox browser. We must add a text for Safari browsers mentioning the list of supported browsers .

[2021-10-26 08:04] sunnyjindal commented on #775
Hi @BrentAllsop @CanonizerJim Please have a look at the copies and let @dakshiffort know if this looks good.

[2021-10-26 09:38] rupalichavan9860 opened #858 "Page crash when adding invalid URL in Link field of news"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to browse and select any topic
4. Click on Add News
5. Type any display text and type link like "www.testurl.in"
6. Save
7. Open newly created news

Actual Result :
Getting below page crash
![image](https://user-images.githubusercontent.com/40416610/138852316-f9e4b807-58e1-4fb6-98fc-6c098f7f09

[2021-10-26 10:11] Wajeeha1995 opened #859 "Buttons are overlapping on mobile devices"
Steps to reproduce
Go to https://canonizer.com/forum/348-Canonizer3-Topic-Page-Design/3-Topic-Page-by-Code-District/threads
![Screenshot (7)](https://user-images.githubusercontent.com/92429083/138857920-7533c9b1-7246-45e5-ba22-01b2fd2b1319.png)
Issue Produced on : Galaxy fold , iPhone 6, 7,8 plus , S5 , pixel 2 , pixel 2XL

[2021-10-26 10:32] Wajeeha1995 opened #860 "Pagination is cutting out of user's view in auto rotate mode"
**Steps to reproduce :**
https://staging.canonizer.com/login
![Screenshot (9)](https://user-images.githubusercontent.com/92429083/138861639-07ffb062-7f63-4245-a6d4-83cdb8a940f3.png)
**Issue Produced on :**  Galaxy Fold , Iphone 6,7,8 , Galaxy S5

[2021-10-26 11:30] saniatg commented on #781
@rupalichavan9860 verified on iPhone 5s/ and galaxy fold . The issue is fixed now. Please confirm and close .

[2021-10-26 11:30] rupalichavan9860 opened #861 "Camp names are not listing under Canonizer Sorted Camp Tree in below scenario"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create a new topic
4. Create 2 new camps "camp1" and "camp2" and support them
5. Update both camps by changing their parents(make "camp2" as a parent of "camp1" and "camp1" as a parent of "camp2" )
6. Observe Canonizer Sorted Camp Tree

Screenshot of Canonizer Sorted Camp Tree  :
![image](https:/

[2021-10-26 11:34] Wajeeha1995 commented on #781
@rupalichavan9860 Issue is fixed on .Checked on all mobile devices . But order is not correct for some devices like in Galaxy S5 delete news link is displaying first

[2021-10-26 11:48] rupalichavan9860 commented on #781
@aliahmad45 Tested .links are displaying in one line now but on some devices "Delete News" link is displaying first . Please refer attached screenshot

Devices :
Moto G4,Galaxy S5,iPhone 5/SE and Galaxy Fold
![image](https://user-images.githubusercontent.com/40416610/138871302-5ea32483-6557-427e-b858-08a444ac504f.png)

[2021-10-26 11:57] saniatg commented on #778
@HamzaBinMansoor
Issue 1 is fixed
Issue 2- is not fixed , the camps are disappearing when dragged

https://user-images.githubusercontent.com/91254708/138873238-918d2971-e12a-44fe-8e91-3e18998101fa.mp4

[2021-10-26 12:18] saniatg commented on #780
@akuks the format must be " replied/updated 10 years ago (Oct 30, 2011, 22:34:45) NOT
replied on 3 weeks ago at Thu, Sep 30, 2021, 11:44:54 AM

"Brent updated 10 years ago (Oct 30, 2011, 22:34:45)" this looks good

[2021-10-26 12:28] nalwa commented on #790
@rupalichavan9860  @gautamv16 There is one  more thing to add in above
3.If any delegate supporter remove its support then all its child delegates will become supporter of its removal's  parent Supporter.
Example: If A is direct supporter and B is its delegate supporter  and C is delegate supporter of B. Then if B removes its support the C will become delegate supporter of A.

@rupalichavan9860  @

[2021-10-26 12:52] Wajeeha1995 commented on #781
@rupalichavan9860 I have again tested this issue , and links are displaying in correct order now for all devices .You can close this issue now

[2021-10-26 13:33] aliahmad45 commented on #839
@rupalichavan9860 can you mention what will be the text ? Log in or Login

[2021-10-26 13:44] ashish76 commented on #832
@Wajeeha1995 I tried to replicate this issue on staging.canonizer.com and it is working as expected.
There is no error. I have followed the exact steps that you mentioned. I am assuming that the reset password you tried for the user, is a verified user.

[2021-10-26 15:16] ashish76 commented on #833
@Wajeeha1995 Based on your comment above I have displayed the success message once the password has been reset successfully.

Regarding the confirmation, before submitting the form, we need to submit the form using javascript which does not advisable. In version 3.0 we are going to implement API-based communication. We can implement it at that time.

@gautamv16 Please suggest.

[2021-10-26 16:46] rupalichavan9860 commented on #781
@aliahmad45 @Wajeeha1995 Tested and verified

[2021-10-26 16:46] #781 closed, assigned to aliahmad45

[2021-10-26 16:56] rupalichavan9860 commented on #839
@aliahmad45 I think "Log in" looks good

[2021-10-26 17:12] rupalichavan9860 commented on #846
Found one more issue when filter is Filter < 0.000 is not working : Remove support from all camps and check .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/138927885-35abcbc1-99ad-459d-8758-c31e4966797e.png)

[2021-10-27 02:13] BrentAllsop commented on #713
Oh, it finally resolved and the validation finally passed:
@HamzaBinMansoor, go ahead and move this so it is marked as done and closed on the project board.
![image](https://user-images.githubusercontent.com/6559312/138988108-bc8787b5-a3ed-4d09-89dd-659668fac06f.png)
So closing this issue.

[2021-10-27 02:13] #713 closed, assigned to BrentAllsop, HamzaBinMansoor

[2021-10-27 04:50] Wajeeha1995 commented on #832
@ashish76  Not its not for the verified user , If account is not verified and user trying to login with new pass after changing password and error display on the screen , Is it possible that we add option for One time verification code on this screen so that user  receive One time verification code ?

[2021-10-27 07:36] rupalichavan9860 commented on #780
@akuks Tested and verified

[2021-10-27 07:36] #780 closed, assigned to nalwa, akuks

[2021-10-27 11:16] rupalichavan9860 opened #864 "Need to put some custom message when user enters invalid link in camp statement"
I have added statement  [1.1.1 The Canonizer] in which 1.1.1 is invalid link. When statement is live and user click on link "The Canonizer" , it is displaying page crash

![image](https://user-images.githubusercontent.com/40416610/139055254-96531396-6a4e-4b9e-a128-75fe2a4430de.png)

Is there any way to restrict users from entering invalid URL/message when page is redirecting to invalid URL?

[2021-10-27 13:15] saniatg commented on #778
@rupalichavan9860 Camps are not disappearing now. Looks stable . Please confirm

[2021-10-27 13:24] rupalichavan9860 commented on #778
@saniatg @gautamv16 Tested and verified. Working fine now so closing this

[2021-10-27 13:24] #778 closed, assigned to ahmed-ehsan-codedistrict, aliahmad45

[2021-10-27 16:41] CanonizerJim commented on #775
Brent and I both think this looks good!

[2021-10-28 05:31] rupalichavan9860 opened #865 "Need option to re-verify account for user while login/forgot password."
As of now even if user has not verified their account , user is able to reset password
So we need option to re-verify account

[2021-10-28 07:01] nalwa commented on #750
@rupalichavan9860  what needs to be done for this ticket?
I am not clear about it, please explain .

[2021-10-28 07:15] rupalichavan9860 commented on #750
@BrentAllsop Can you please confirm on this ?
It should only allow to host image files ? or do we need all types of files?

[2021-10-28 11:17] #832 closed, assigned to ashish76

[2021-10-28 11:19] ashish76 commented on #832
After discussion with the above comments, it has been decided to implement a new feature to resolve this issue. A new ticket for the same has been created #865

[2021-10-28 14:41] BrentAllsop commented on #822
We may want to create a new issue for the fact that we need to make the OTP phone system work for anywhere in the world, not just in the US.  And we want to avoid needing to select the phone carrier, if possible.  Need to find some service to do this all over the world.

[2021-10-28 14:44] rupalichavan9860 commented on #841
@HamzaBinMansoor Tested and verified

[2021-10-28 16:25] gautamv16 commented on #741
@rupalichavan9860 this is done. please check

[2021-10-29 03:58] rupalichavan9860 commented on #741
@gautamv16 Tested and verified.

[2021-10-29 04:13] saniatg commented on #848
Tested and verified

[2021-10-29 04:13] #848 closed, assigned to kshitij1326

[2021-10-29 04:46] rupalichavan9860 commented on #151
@sunilspr7 Tested and verified. But if topic doesn't have any camps then it is looking like see below

![image](https://user-images.githubusercontent.com/40416610/139376873-c6b0b7c5-a2d3-42d0-883e-f26235c0f7f7.png)

I think this topics also should have blue color rounded box without arrows
@BrentAllsop Can you please confirm on this

[2021-10-29 05:02] rupalichavan9860 commented on #14
@sunilspr7 Tested. User is now able to update their own posts but when user updates post , I can see "RC replied 1 second ago (Oct 29, 2021, 10:30:51 AM)"
It should be  "RC updated 1 second ago (Oct 29, 2021, 10:30:51 AM)"

Before update :
![image](https://user-images.githubusercontent.com/40416610/139378508-51890a7b-8080-4d42-abdc-e534f9f8e951.png)

After Update :
![image](https://user-images.git

[2021-10-29 05:06] rupalichavan9860 commented on #14
Also user is getting "post submitted" email , It should be "post updated"

[2021-10-29 05:20] Wajeeha1995 commented on #824
@rupalichavan9860 I have tested this ,and now placeholders are showing on all fields on registration and login page. You can move this ticket on production now

[2021-10-29 05:25] Wajeeha1995 commented on #823
@rupalichavan9860 Its working now . when user is on login/Register page ,it is highlighting that page. You can move this to production now

[2021-10-29 05:40] rupalichavan9860 commented on #822
I can see Label changed to "Enter Email" from "Enter Email / Phone Number", but error message is not changed

![image](https://user-images.githubusercontent.com/40416610/139381511-02b2cd21-b942-4617-9701-d8b46596fcb0.png)

And I guess if US mobile number users requests for One Time Verification Code, they are receiving it on verified mobile number, so we should revert this
@BrentAllsop Can you ple

[2021-10-29 06:09] rupalichavan9860 commented on #824
Tested and verified

[2021-10-29 06:09] rupalichavan9860 commented on #823
Tested and verified

[2021-10-29 06:13] Wajeeha1995 commented on #825
@rupalichavan9860 , @ashish76
Its working for this screen ,But its not working for other screen where captcha field is not available .I think we should create another ticket for this

[2021-10-29 06:26] rupalichavan9860 commented on #847
Tested and verified

[2021-10-29 06:43] rupalichavan9860 commented on #846
@sunilspr7 Tested and verified

[2021-10-29 07:02] Wajeeha1995 commented on #827
@rupalichavan9860 Tested and verified from my end .You can move this to production

[2021-10-29 07:03] rupalichavan9860 commented on #842
@ashish76 Tested and verified

[2021-10-29 07:46] rupalichavan9860 commented on #821
Tested. In review topic name is displaying in Proposed change to topic email

![image](https://user-images.githubusercontent.com/40416610/139396015-c86c5f78-5164-4156-83a3-dc331c2c82cf.png)

Live topic name :

![image](https://user-images.githubusercontent.com/40416610/139396088-91908d5e-296f-43a4-b32c-570d81c86474.png)

And "Click Here to View History" is redirecting to agreement page instead of

[2021-10-29 08:35] rupalichavan9860 commented on #151
@sunilspr7 As arrows are working fine so closing this issue and creating new issue for above

[2021-10-29 08:38] rupalichavan9860 opened #875 "Canonized list for is not looking properly for topics who doesn't have any camps under them"
If topic doesn't have any camps then it is looking like see below

![image](https://user-images.githubusercontent.com/40416610/139376873-c6b0b7c5-a2d3-42d0-883e-f26235c0f7f7.png)

I think this topics also should have blue color rounded box without arrows
@BrentAllsop Can you please confirm on this

[2021-10-29 08:45] rupalichavan9860 commented on #833
@ashish76 Tested and verified

[2021-10-29 08:54] rupalichavan9860 commented on #633
Still getting issues

![image](https://user-images.githubusercontent.com/40416610/139406517-93b1f76b-ec0a-434e-8336-f1b07bb52823.png)

[2021-10-29 09:16] rupalichavan9860 commented on #775
@sunilspr7 Tested.
Already supporting a parent camp
Already supporting a child camp
Already supporting multiple child camps
This are just the cases for our understanding. Can you please remove the same from warning messages

![image](https://user-images.githubusercontent.com/40416610/139409836-485cea88-ecd8-477a-af9b-3e4f47e64df2.png)

[2021-10-29 09:52] Wajeeha1995 opened #876 "Login --> Tooltip: Helping text for tooltip is cutting out for login & reset passwords sections."
Issue Produced on devices : iPhone 6,7,8,X , Galaxy S5 , Galaxy fold
Reset Password Screen:
![Screenshot (20)](https://user-images.githubusercontent.com/92429083/139414976-8915c7ba-aac2-49d4-8beb-ab92f06d90f2.png)

Register Screen :
![Screenshot (21)](https://user-images.githubusercontent.com/92429083/139414893-158fe6ce-2cbd-41d7-9dd9-094d0cbe52a3.png)

[2021-10-29 10:33] akuks commented on #806
php artisan optimize
Configuration cache cleared!
Configuration cached successfully!
Route cache cleared!

In Route.php line 917:

  Unable to prepare route [topic/notifysupporter] for serialization. Uses Closure.

Script php artisan optimize handling the post-update-cmd event returned with error code 1

Installation failed, reverting ./composer.json and ./composer.lock to their original content.

[2021-10-29 10:43] akuks commented on #806
Laravel is updated to 6. Some of the files are giving errors. First error is on route closures (Pasted above)

[2021-10-29 10:53] sunilspr7 commented on #875
![Screenshot 2021-10-29 at 15-48-03 Canonizer](https://user-images.githubusercontent.com/6298462/139422680-83dfebd2-96bc-42ce-b579-50560e46efb3.png)

if any topic have no camps then add - icon.

[2021-10-29 11:03] rupalichavan9860 commented on #802
Still not working so moving this to "To do"

[2021-10-29 13:07] BrentAllsop commented on #787
@nalwa it looks the issue for me has been resolved, so I am going to remove the "for brent" lebal.
If there is still an issue, let me know.

[2021-10-29 13:20] rupalichavan9860 commented on #14
@sunilspr7 Getting page crash when user click on Thread name link

![image](https://user-images.githubusercontent.com/40416610/139442028-52b38f71-d361-4f4a-a6bd-9f1dac2ee537.png)

[2021-11-01 05:57] rupalichavan9860 commented on #875
@sunilspr7 Tested . looking nice now but as discussed and agreed by everyone color of icons for topic which have no camps should be grey and tooltip should be "No Children"

@BrentAllsop Can you please confirm. Because in many warnings we have modified "Children" to "Child"

[2021-11-01 07:15] rupalichavan9860 commented on #775
@sunilspr7 Tested and verified. Working fine now

[2021-11-01 07:22] saniatg opened #879 "Admin Panel- Incorrect spelling of 'beginning ' word"
Steps:

1. Navigate to admin panel
2. Click on namespace from left navigation
3. Create any invalid namespace
4.

Error will show"Namespace Name may only contain letters, numbers, underscore and backslashes at begining and end only."

Correct spelling is 'beginning' not 'begining
![Screenshot 2021-11-01 at 12 49 22 PM](https://user-images.githubusercontent.com/91254708/139635967-025d3a7b-881f-449b

[2021-11-01 07:38] saniatg opened #880 "Admin Panel- Incorrect error message when creating a namespace with backslash"
Steps:

1. Navigate to admin panel
2. Click on namespace from left navigation
3. Create a namespace with backslash(\)

Actual result -Error will show"Namespace Name may only contain letters, numbers, underscore and backslashes at begining and end only."

Expected result- Backslashes are not allowed , only forward slashes(/) are allowed. Need to replace the text "backslashes" "in the error message

[2021-11-01 08:33] rupalichavan9860 commented on #14
@sunilspr7 Page crash issue is resolved and tested update functionality.
Need one minor change in updated email. Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/139644150-e3b33857-6ce7-46ee-88b0-05de46c6828c.png)

[2021-11-01 08:52] rupalichavan9860 opened #881 "Camps are listing incorrectly under delegated supporter"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/139646460-982f49ae-ee5c-4efc-8dc5-5951a45e584f.png)

![image](https://user-images.githubusercontent.com/40416610/139646407-2b2f7a5e-ef1f-4a2b-8b1e-67577dcd7bb1.png)

[2021-11-01 11:20] rupalichavan9860 commented on #881
This is because delegated support is not getting removed when direct supporter removes their support from camp

[2021-11-01 13:09] BrentAllsop commented on #750
@rupalichavan9860  Currently, we want to only host image files.

[2021-11-02 05:33] saniatg opened #883 "Page crashes-Token mismatch error when the user hits any action button after expiry of the session in case the page is left idle"
Navigate to Create topic or Manage support page, and leave it idle . Do not perform any action.
After sometime when click on 'Create topic or 'Submit ' button when trying to support any camp or on click any action button , the page crashed

Expected result: The page should not crash instead redirect to the login page when trying to submit any action after expiry of the session in case the page is

[2021-11-02 06:31] rupalichavan9860 opened #884 "When user click on "Click Here To View" from camp creation email, topic name is getting highlighted"
Pre-condition :  user is logged in
Steps to reproduce :
1. Create new camp
2. Click on  "Click Here To View" from email
3. Observe behavior

Expected Result :
It should highlight camp name

Actual Result :
Topic name is getting highlighted

![image](https://user-images.githubusercontent.com/40416610/139797161-6598c75d-6834-4a3a-9a21-91a9db6cff39.png)

![image](https://user-images.githubusercontent

[2021-11-02 06:36] rupalichavan9860 opened #885 "Submitter is not receiving email whenever new statement is submitted"
When user creates a new statement , user should receive "Thank you for contributing to Canonizer.com" email

[2021-11-02 08:28] ashish76 commented on #865
#865 this has been implemented and pushed on the server.

A user can click on the Forgot Password, if a user account is not verified then the system will show an error message with a link to request for verification code. Users can click that link to request for new verification code to activate the account.

[2021-11-02 12:46] cd-ali-ehsan commented on #790
@dakshiffort

[2021-11-02 12:57] nalwa commented on #790
@rupalichavan9860  please test the flow as discussed. Email part is yet not there. once i will get the content i will make email part working as well.

[2021-11-03 16:37] akuks commented on #864
@rupalichavan9860 can you please add the steps in details to reproduce this issue?

[2021-11-03 17:16] akuks commented on #858
@rupalichavan9860 This is fixed but it is a part of 25th release so it is not in staging yet.

[2021-11-06 16:39] rupalichavan9860 commented on #864
@akuks Sure. Please find below steps :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to any existing topic/create new topic
4. Click on "Add Camp Statement"
5. Add any link like "[1.1.1 The Canonizer]" in statement field
6. Click on "Submit Statement"
7. Click on added link from statement on Camp Statement History or click on link present in camp statement se

[2021-11-07 17:14] gautamv16 commented on #698
@BrentAllsop I have added /browse/ in disallow section in robots file

[2021-11-08 05:11] rupalichavan9860 opened #892 "Incorrect warning is displaying while supporting camp"
I am getting Incorrect warning while supporting camp in below scenario
"Rupali-Chavan" is delegating support to "Rupali cano" for camp "Rupali-Chavan"
![image](https://user-images.githubusercontent.com/40416610/140687377-8ea77859-a482-4b26-8458-588ec5c06370.png)

When Rupali-Chavan is trying to support "count camp1" directly , getting below warnings
![image](https://user-images.githubusercontent.c

[2021-11-08 07:26] kshitij1326 commented on #633
@rupalichavan9860 The above issue was occurred due to multiple click on Enable Metamask . So i have hide the button and show a text 'processing...' when user clicks on Enable Metamask button. Kindly check and let us know in case of any issue.

[2021-11-08 07:54] rupalichavan9860 opened #893 "User is not able to delegate their support to others in some scenarios"
User is not able to delegate their support to others in below scenarios :
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/140703926-52dbb12f-cbff-4341-ac97-546864491a86.png)

[2021-11-08 08:29] dakshiffort commented on #790
@BrentAllsop - Pls consider two options

Option 1: [XYZ Name] has just removed their support from this camp [camp name]. You are now a direct supporter of this camp. To remove or delegate your support from the camp, click [here].

Option 2: You are now a direct supporter of the camp [camp name] as [XYZ Name] has just removed their support. To remove or delegate your support from this camp, click [

[2021-11-08 10:20] rupalichavan9860 commented on #811
@gautamv16 Tested. This is working fine so closing this now,  but some users are not able to delegate their support to others . I have added new issue for this #893

[2021-11-08 10:27] rupalichavan9860 commented on #821
@kshitij1326 Tested. Incorrect camp name displaying under You are receiving this e-mail because:
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/140725885-f51e7588-dcc1-42f0-8442-ede7c2e6eb70.png)

[2021-11-08 10:47] rupalichavan9860 commented on #633
@kshitij1326 Still getting below issues
![image](https://user-images.githubusercontent.com/40416610/140728809-cb455046-f382-4072-b86c-9f4c49571289.png)

[2021-11-08 23:13] BrentAllsop commented on #790
We need to add the following fixes to the manage “support” page as part of this issue.

1. The "Directly Join or Manage Support" button needs to change to just "Directly Join and Support" if not already a supporter or "Manage Support" if already a supporter.  In the new "Directly Join" case, the new camp is placed at the bottom of the list of supported camps as a temporary change, until the submit

[2021-11-09 00:06] BrentAllsop commented on #790
Hi @dakshiffort, after reviewing this good proposal, I realized there are a bunch of things that need to be fixed, and additional information communicated.  You can see these 10 changes in the list, above.  Once all those changes are made, how about something like the following?

1. When a direct supporter removes their support of all camps (see change # 9, above) we should email to all delegates

[2021-11-09 07:38] saniatg opened #895 "Issues related to pointer and color of the icons related to topic/camp"
Issue 1- The default grey icon is looking fine when there is no sub camps but when hover on it shows hand pointer which is wrong as it is not clickable instead show normal pointer

Issue 2- When create a new topic, icon is showing in grey , should show in blue color as it is expanding
![Screenshot 2021-11-09 at 12 57 06 PM](https://user-images.githubusercontent.com/91254708/140881971-6b8eb501-cb22

[2021-11-09 08:30] rupalichavan9860 commented on #840
@gautamv16 Tested and verified

[2021-11-09 08:32] rupalichavan9860 commented on #838
@gautamv16 Tested and verified

[2021-11-09 10:14] akuks commented on #858
@rupalichavan9860 can you please test this

[2021-11-09 10:37] Wajeeha1995 commented on #839
@rupalichavan9860 Text is not same , button is  showing **log in** but title is showing **login**

[2021-11-09 10:46] Wajeeha1995 commented on #822
@rupalichavan9860 Now error message is showing according to the  label .

[2021-11-09 11:05] rupalichavan9860 commented on #839
@aliahmad45 Can you please make it uniform

[2021-11-09 11:08] rupalichavan9860 commented on #822
@ashish76 Tested and verified

[2021-11-09 11:23] aliahmad45 commented on #839
@rupalichavan9860  ok. i'll do it

[2021-11-09 11:24] rupalichavan9860 commented on #14
@sunilspr7 Tested and verified

[2021-11-09 11:36] rupalichavan9860 commented on #875
@sunilspr7 Tested and verified. @saniatg observed one minor issue in this "The default grey icon is looking fine when there is no sub camps but when hover on it shows hand pointer which is wrong as it is not clickable instead show normal pointer" and created new issue for this #895 , so moving this to "staging approved"

[2021-11-09 11:56] kshitij1326 commented on #633
Above error will occurred when there will be any pending request from Metamask (when user clicks on enable metamask, a popup window will opened and user closes the popup without any action then the request will be stil in pending state ).

For this, I have follow the documentation of metamask (We have to disable the button when clicked).

On visiting metamask documentation site i seen the mentione

[2021-11-09 12:00] saniatg commented on #895
Issue 1 is  On canonizer main page :  canonized list

[2021-11-09 12:02] rupalichavan9860 commented on #790
@nalwa We need to implement the changes suggested by @BrentAllsop and also needs to implement the email part so I am moving this to "To do"

Also I found one issue in this,
When any middle person(delegated) removes their support from camp, immediate delegated person and their delegates are not listing
Please refer below screenshots
User : "Rupali-Chavan"
Before removing support :

![image](https:/

[2021-11-09 12:10] rupalichavan9860 commented on #698
@gautamv16 Tested and verified
![image](https://user-images.githubusercontent.com/40416610/140921929-dd4476da-14ca-4773-8e29-7580f3713be5.png)

@BrentAllsop Can you please check and close the issue

[2021-11-09 12:12] rupalichavan9860 commented on #698
@gautamv16 Can you please do the same for staging also. robots.txt looks different on staging

![image](https://user-images.githubusercontent.com/40416610/140922196-4e32475e-8c8d-4bf5-858e-d755d0e44a8e.png)

[2021-11-10 05:06] rupalichavan9860 commented on #850
@nalwa Tested. Camp About URL is non-mandatory but still I am not able to create camp as is it displaying error message "The camp about url format is invalid." when "Camp About URL " is blank

[2021-11-10 05:34] rupalichavan9860 opened #900 "Live topic name is displaying when user click on topic name link name from proposed a change to topic email"
When user proposed a change to any topic and click on topic name link or click here to view, it is redirecting to agreement page and display updated topic name

But Live topic name is displaying under Canonizer Sorted Camp Tree. Please refer attached screenshot for more details

![image](https://user-images.githubusercontent.com/40416610/141055853-0b42e157-93a5-4ef9-87ad-356ab416c7a0.png)

[2021-11-10 05:43] rupalichavan9860 commented on #821
@ashish76 Tested and verified. Above issues are fixed but 1 issue is there in proposed change to topic email , I have added new issue for this #900

[2021-11-10 11:06] ashish76 commented on #633
@rupalichavan9860 I had a discussion regarding this issue with @gautamv16. I had explained the issue and it is a known issue from the MetaMask end which has not been resolved yet. So we can leave this for now. If you look at the Kshitij comment for this task, you will be able to know that.

[2021-11-10 13:44] nalwa commented on #790
@rupalichavan9860  okay i will check this.

[2021-11-11 05:46] rupalichavan9860 opened #903 "Remove "Parent Camp" field from Updated camp record preview for "Agreement" camp"
Can we remove "Parent Camp" field from Updated camp record preview for "Agreement" camp as "Agreement" camp don't have any parent?

[2021-11-11 07:34] rupalichavan9860 opened #904 "Shares : Date should display properly on canonizer shares list page"
As of now date is displaying as only month and year, in MM,YYYY format, it should display two digit day also as user is not able to see latest share record

![image](https://user-images.githubusercontent.com/40416610/141256898-13a0ba31-8ac8-444d-abd5-c8bc0f3f2bb6.png)

[2021-11-11 09:32] saniatg commented on #879
@nalwa
It is fixed when adding a name space but when edit still shows incorrect spelling
![Screenshot 2021-11-11 at 3 15 36 PM](https://user-images.githubusercontent.com/91254708/141276044-c5df679e-a1f7-4de7-845b-d5bce2d7f813.png)

[2021-11-11 09:35] saniatg commented on #880
@nalwa
It is fixed when adding namespace but when edit the error is still incorrect
![Screenshot 2021-11-11 at 3 15 36 PM](https://user-images.githubusercontent.com/91254708/141276392-873faa94-b2e6-40b2-98e2-0f7476c440aa.png)

[2021-11-11 09:37] rupalichavan9860 commented on #839
@aliahmad45 Tested and verified

[2021-11-11 10:07] rupalichavan9860 commented on #850
@nalwa Camp About URL is accepting more than 1024 characters. can you please check once
Also as of now it is accepting any URL like "test.test". Can you please fix that also

[2021-11-11 12:49] nalwa commented on #850
@rupalichavan9860 @gautamv16  @BrentAllsop  please clarify these points:
1. Why character limitation is required as long as we are validating URL.
2.as per @rupalichavan9860  **test.test** is being accepted because it is considered as valid URL. If you need it domain specific like.com,.net, .uk etc. Then please provide the list of domains.

[2021-11-11 12:58] rupalichavan9860 commented on #850
@BrentAllsop I want to add one more point :  As it is an URL , so we need a link on text which will redirect to that URL

[2021-11-11 13:11] rupalichavan9860 commented on #750
@BrentAllsop Can you please confirm which types of Image Files we want to host? As of now we are able to host jpeg,jpg,png,bmp,gif files

[2021-11-11 13:17] rupalichavan9860 opened #907 "User is able to create duplicate Namespace"
Steps to reproduce :
1. Go to https://staging.canonizer.com/admin
2. Login with valid Email and Password
3. Go to Namespace
4. Click on "Create Namespace"
5. Enter "/test/" in Namespace Name field and click on Submit
6. Again Click on "Create Namespace"
7. Enter "/test/" in Namespace Name field and click on Submit

Expected Result :
It should display error message "Namespace must be unique."

Actu

[2021-11-11 13:21] saniatg commented on #880
Verified and is working fine

[2021-11-11 13:21] saniatg commented on #879
Verified and working fine.

[2021-11-11 21:37] BrentAllsop commented on #750
This set sounds correct to me: "jpeg, jpg, png, bmp, gif".

[2021-11-11 21:44] BrentAllsop commented on #698
Yes, this all looks correct to me.
On the live site, we specify only what we want the search engines to index for searches and disallow everything else.
All other dev, staging and testing systems need to tell all robots ("user-agent"s) to not index anything for search "Disallow: /"

[2021-11-12 07:25] Wajeeha1995 opened #908 "Upload File ---> Error needs to be revised for file name"
Steps to reproduce :
1.Select upload file from left menu
2.Upload file
3.Give File Name with space
4.And observe error
In error its saying Name field ,it should be file name field

![File name field](https://user-images.githubusercontent.com/92429083/141424519-816604ff-dfcd-4385-a16b-e3d59a6be1b7.png)

[2021-11-12 08:29] sunnyjindal commented on #756
The Object button as shown now will be grayed out.

The tooltip will just say: You cannot object to this camp statement.

When a user tries to click it, it will show a popup with the following message.

To object to this camp statement, you should be a direct supporter of the camp and should have supported it before the statement was submitted. For more information about disagreement, please read

[2021-11-12 10:29] sunilspr7 commented on #892
@rupalichavan9860 I have tested and It is working fine. Some old data had delegate support  issue so that you got  error. But now It is working fine.

[2021-11-13 02:34] BrentAllsop commented on #698
Ooops, there are still more pages that need to be added to Disallow:

Disallow: /history/*
Disallow: /settings/*

@gautamv16   there are others, like the admin stuff, right?

[2021-11-15 04:52] ashish76 commented on #900
@rupalichavan9860 This is issue has been resolved. The topic name is not getting updated in the camps tree due to the Nofilter criteria had set to true in the code. Please test this once again once deployed on staging and let me know if any issue persists.

[2021-11-15 07:23] gautamv16 commented on #698
@BrentAllsop admin also included.

[2021-11-15 08:20] rupalichavan9860 commented on #750
@nalwa File with size 5.2MB is getting uploaded on Mac. Can you please check

[2021-11-15 10:49] nalwa commented on #750
@rupalichavan9860  @gautamv16 I have checked this and i found this:
5234617 Bytes = 5.234617 MB (in decimal)
5234617 Bytes = 4.992119789123535 MB (in binary)

Calculation made while upload is through binary process so file with 5234617 bytes(5.2MB) on system is actually calculated as
4.992119789123535MB in binary which 5MB appx. not greater.

So this difference will remain for 1-2KB. And  this doe

[2021-11-15 12:11] rupalichavan9860 opened #910 "Camp names are listing multiple times under supported camps list"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/141779912-8854d4a0-888e-4e23-ab5b-afcc1936c7ea.png)

[2021-11-15 12:13] rupalichavan9860 opened #911 "Topic page is not getting loaded properly"
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/141780149-d9766d14-4b96-40d9-9b45-254ec8504e01.png)

[2021-11-15 12:24] rupalichavan9860 commented on #910
Steps to reproduce :
1. Create multiple camps and support all the camps with "user 1"
2. Login with "user 2" and delegate support to "user 1" in any camp
3. Login with "user 1" and remove all supports and then delegate support to "user 2"
4. Observe supported camps list

[2021-11-15 18:12] gautamv16 commented on #911
@rupalichavan9860 It is coming due to circular support data in table. i have fixed it from db but i think you need to create this scenario again and note down the steps to reproduce it

[2021-11-16 04:43] rupalichavan9860 commented on #911
@gautamv16 Sure. I will try to reproduce it and provide steps

[2021-11-16 11:55] rupalichavan9860 opened #912 "Warning is missing while supporting agreement camp"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with User A
3. Create 2 camps and support them
4. Login with User B
5. Delegate support to User A in both camps
6. Try to support Agreement camp

Expected Result :
It should display warning "Warning! "Agreement" is a parent camp to this list of child camps. If you commit support to "Agreement", the support of the camps in this l

[2021-11-16 12:09] nalwa commented on #850
@rupalichavan9860  @gautamv16  @BrentAllsop  Below points are covered:
1. 1024 character limitation is added on field.
2. URL validation added on field (Not domain specific).
3. Link added on URL where is is displayed

[2021-11-17 07:07] rupalichavan9860 commented on #698
@gautamv16 Tested and verified on staging

[2021-11-17 09:40] rupalichavan9860 commented on #823
Verified on production

[2021-11-17 09:40] #823 closed, assigned to ashish76

[2021-11-17 09:41] rupalichavan9860 commented on #824
Verified on production

[2021-11-17 09:41] #824 closed, assigned to kshitij1326

[2021-11-17 09:44] rupalichavan9860 commented on #848
Verified on production

[2021-11-17 10:03] rupalichavan9860 commented on #841
Verified on production

[2021-11-17 10:03] #841 closed, assigned to aliahmad45

[2021-11-17 10:04] rupalichavan9860 commented on #846
Verified on production

[2021-11-17 10:04] #846 closed, assigned to sunilspr7

[2021-11-17 10:19] rupalichavan9860 commented on #847
Verified on production

[2021-11-17 10:19] #847 closed, assigned to kshitij1326

[2021-11-17 10:22] saniatg opened #914 "Page crashes 'Production env.' on click supported camp of Topic -Testing 13 oct 2021"
Click on this link
https://canonizer.com/user/supports/357?topicnum=350&campnum=5&namespace=19#camp_350_5
and
https://canonizer.com/topic/350-Testing-13-oct-2021/2-Test-camp-1

Then click on 'Camp 1 or Camp 3' under List of supporting camps for Topic -Testing 13 oct 2021
Page crashes
![Screenshot 2021-11-17 at 3 48 06 PM](https://user-images.githubusercontent.com/91254708/142182170-205c044a-550a-4

[2021-11-17 10:25] rupalichavan9860 commented on #842
Verified on production

[2021-11-17 10:25] #842 closed, assigned to ashish76

[2021-11-17 10:50] rupalichavan9860 commented on #825
Verified on production

[2021-11-17 10:50] #825 closed, assigned to ashish76

[2021-11-17 10:57] #838 closed, assigned to aliahmad45

[2021-11-17 10:57] rupalichavan9860 commented on #879
Verified on production

[2021-11-17 10:57] #879 closed, assigned to nalwa

[2021-11-17 10:58] rupalichavan9860 commented on #880
Verified on production

[2021-11-17 10:58] #880 closed, assigned to nalwa

[2021-11-17 11:09] rupalichavan9860 commented on #827
Verified on production

[2021-11-17 11:09] #827 closed, assigned to ashish76

[2021-11-17 11:11] rupalichavan9860 commented on #840
Verified on production

[2021-11-17 11:11] #840 closed, assigned to aliahmad45

[2021-11-17 11:13] rupalichavan9860 commented on #698
@gautamv16 Tested on production . I can't see below on live
Disallow: /history/*
Disallow: /settings/*
Disallow: /admin/*

[2021-11-17 11:17] rupalichavan9860 commented on #151
Verified on production

[2021-11-17 11:17] #151 closed, assigned to sunilspr7

[2021-11-17 11:19] rupalichavan9860 commented on #839
Verified on production

[2021-11-17 11:19] #839 closed, assigned to aliahmad45

[2021-11-17 11:25] rupalichavan9860 commented on #14
Verified on production

[2021-11-17 11:25] #14 closed

[2021-11-17 11:26] rupalichavan9860 commented on #833
Verified on production

[2021-11-17 11:26] #833 closed, assigned to ashish76

[2021-11-17 11:39] rupalichavan9860 commented on #741
Verified on production

[2021-11-17 11:39] #741 closed, assigned to gautamv16

[2021-11-17 14:13] rupalichavan9860 commented on #875
Verified on production

[2021-11-17 14:13] #875 closed, assigned to sunilspr7

[2021-11-17 14:18] rupalichavan9860 commented on #821
Verified on production

[2021-11-17 14:18] #821 closed, assigned to kshitij1326

[2021-11-17 14:48] rupalichavan9860 commented on #750
Tested on production and getting below page crash when tying to upload large files (more than 8 mb)so moving to "To Do"

[2021-11-17 14:50] rupalichavan9860 commented on #698
Verified on production

[2021-11-17 14:50] #698 closed, assigned to gautamv16

[2021-11-17 15:00] rupalichavan9860 commented on #775
Verified on production

[2021-11-17 15:00] #775 closed, assigned to sunilspr7

[2021-11-17 16:25] akuks commented on #737
@ashish76 I am confused. Is it fixed ? I see it is mentioned in 25th release merge request

[2021-11-17 17:16] rupalichavan9860 commented on #811
Verified on production

[2021-11-17 17:16] #811 closed, assigned to gautamv16

[2021-11-17 17:22] ashish76 commented on #737
@akuks No, I did not work on it. I can see this ticket in the in-progress state.

[2021-11-17 17:22] rupalichavan9860 commented on #633
As this is known issue from MetaMask end , closing this

[2021-11-17 17:22] #633 closed, assigned to kshitij1326

[2021-11-17 17:27] rupalichavan9860 opened #915 "OTP phone system work for anywhere in the world"
We need to make the OTP phone system work for anywhere in the world, not just in the US. And we want to avoid needing to select the phone carrier, if possible. Need to find some service to do this all over the world.

[2021-11-17 17:28] rupalichavan9860 commented on #822
As per Brent's comment I have created new issue for OTP phone system work for anywhere in the world #915. So closing this issue

[2021-11-17 17:28] #822 closed, assigned to kshitij1326

[2021-11-17 17:31] rupalichavan9860 commented on #750
Working fine now so closing this

[2021-11-17 17:31] #750 closed, assigned to nalwa, rupalichavan9860

[2021-11-17 17:32] akuks commented on #737
@ashish76 Ticket is in progress but it is mentioned in 886 ( Merge Request ). [Iffort 25th release]

[2021-11-17 17:57] karun0607gautam commented on #881
@rupalichavan9860 It is not reproducible now after fix in 834. also i have fixed the mentioned topic from db. Please test and if you found any scenario then mentioned that

[2021-11-18 05:58] rupalichavan9860 commented on #850
@nalwa I can see some irrelevant data on agreement page Current Camp Record : Camp About URL. Please refer screenshot
![image](https://user-images.githubusercontent.com/40416610/142360569-364cebce-6503-4b48-a367-fcbc672aa8e7.png)

[2021-11-18 06:02] saniatg commented on #885
@sunilspr7 Not able to verify the ticket as when 'Adding a new statement ' for a camp on click 'Submit 'button page is crashing
![Screenshot 2021-11-18 at 11 29 44 AM](https://user-images.githubusercontent.com/91254708/142360956-6b596921-94c1-4a2d-8dd6-6e5edb5190e6.png)

[2021-11-18 06:24] rupalichavan9860 opened #916 "Page crash on statement and camp creation"
Getting below page crash on statement and camp creation

![image](https://user-images.githubusercontent.com/40416610/142363350-c2549331-492e-417a-95dd-bd4f1b5af349.png)

![image](https://user-images.githubusercontent.com/40416610/142363361-b14a1474-f290-4953-8e5f-fd52e62722b1.png)

![image](https://user-images.githubusercontent.com/40416610/142363369-0c274859-5d8e-4c4d-8a58-3ca0207c43b2.png)

[2021-11-18 06:28] sunitamary commented on #865
what ever the issue is mentioned is working fine, unverified user has been validated telling his/her account has been not verified while trying with forgot password.But when an unverified user tries to logging the validation error message is shows twice. Please refer the below screenshot.,
![Screenshot from 2021-11-18 11-55-03](https://user-images.githubusercontent.com/92773405/142363866-ae2e43e1-

[2021-11-18 06:40] saniatg commented on #857
@ashish76 The spelling of 'supported' is incorrect
It is displayed as 'suported' instead should be 'supported'
![Screenshot 2021-11-18 at 12 11 06 PM](https://user-images.githubusercontent.com/91254708/142365331-e33480a6-e06b-40f6-956e-2d52aa9d9046.png)

[2021-11-18 06:46] rupalichavan9860 commented on #916
@gautamv16 Tested and verified

[2021-11-18 06:46] #916 closed, assigned to nobody

[2021-11-18 06:46] saniatg commented on #885
@rupalichavan9860 Crash issue resolved and mail to the submitter is receiving when add new statement. Please confirm

[2021-11-18 06:52] sunitamary commented on #851
Tested and working fine. @rupalichavan9860

[2021-11-18 06:53] vedantvyas0 commented on #895
Tested and Working Fine @rupalichavan9860

[2021-11-18 06:56] rupalichavan9860 commented on #895
Tested and verified

[2021-11-18 07:35] saniatg commented on #853
Tested and verified

[2021-11-18 08:07] rupalichavan9860 commented on #853
Verified

[2021-11-18 08:17] rupalichavan9860 commented on #885
Verified

[2021-11-18 08:40] rupalichavan9860 commented on #851
I found one minor issue in this . Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/142380964-c0d89b28-ea61-469a-8b81-aa7bebe5920e.png)

[2021-11-18 09:13] sunitamary commented on #851
I have found an alignment issue.The object button is not aligned exactly with the other two button. please refer the attached screenshot.
![Screenshot from 2021-11-18 14-18-58](https://user-images.githubusercontent.com/92773405/142385717-b88bd55d-8df4-4cad-aa96-1e42b522e70a.png)

[2021-11-18 09:29] sunitamary commented on #884
Tested and Working Fine @rupalichavan9860

[2021-11-18 09:39] saniatg opened #918 "Responsive issues ( Tested in iPhone XS Max)- Camp statement ->Button design are missing and cancel does not work for the preview pop up"
Steps:

1. Go to any topic/camp
2. Click on Add Camp Statement
Issue 1- The button UI is missing for 'Preview'  next to 'Submit Statement' only text is seen

Issue 2- Click on the text 'Preview' pop up shows, now again for 'Cancel' the button design is missing and the cancel  functionality does not work
![Skype_Picture_2021_11_18T09_28_48_964Z](https://user-images.githubusercontent.com/91254708/14

[2021-11-18 09:41] rupalichavan9860 commented on #884
Verified

[2021-11-18 10:12] rupalichavan9860 commented on #903
Tested and verified

[2021-11-18 10:13] saniatg opened #919 "Can we show label as 'Statement' when we preview statement"
![Screenshot 2021-11-18 at 3 15 20 PM](https://user-images.githubusercontent.com/91254708/142395946-c8900502-e376-4232-adfe-fd31fc9f63a2.png)

[2021-11-18 10:20] sunitamary commented on #852
Tested and working fine! @rupalichavan9860

[2021-11-18 11:25] saniatg commented on #876
@karun0607gautam Looks fine for registration page but for  reset password page the tooltip is still truncating for screen with width 320 px
Refer screenshot for dimension
![Screenshot 2021-11-18 at 4 52 34 PM](https://user-images.githubusercontent.com/91254708/142406657-febae72b-42dd-457f-9cfa-452c2cd2e7b9.png)

[2021-11-18 12:10] rupalichavan9860 commented on #852
Verified

[2021-11-18 12:18] rupalichavan9860 opened #921 "Camp forum : validations are missing for post/reply field"
As of now it is accepting space only and post is getting saved. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/142414018-19d71b1d-1d2a-49c2-bd93-fcd77540a1d9.png)

[2021-11-18 12:35] rupalichavan9860 commented on #855
@aliahmad45 Tested. Working fine on "add news" page but need to do same change on "edit news" page also

![image](https://user-images.githubusercontent.com/40416610/142416304-aac4ae2e-751b-4832-9c24-daa6240c1006.png)

[2021-11-19 06:03] rupalichavan9860 opened #923 "Cosmetic Issue : Observed font size changes after 25th release on login page"
Observed font size changes after 25th release on login page(staging).Please refer attached screenshot
Staging Screenshot :

![image](https://user-images.githubusercontent.com/40416610/142572993-3996c0ad-0dab-4ae8-be4d-c977e4feeb61.png)

Live Screenshot :

![image](https://user-images.githubusercontent.com/40416610/142573281-c7bd6f08-d5e0-42f9-aa99-377a29b4e3f4.png)

I would suggest font size, font

[2021-11-19 06:16] rupalichavan9860 commented on #892
@sunilspr7 I am also not able to reproduce this. For now I am moving this to "Staging approved" and will reopen if found again

[2021-11-19 06:26] rupalichavan9860 commented on #900
Tested and verified

[2021-11-19 06:30] saniatg commented on #883
@HamzaBinMansoor could be please correct
 The content for the error message when token expires seems incorrect from user perspective
Currently displaying as "Your action could not performed due to mismatch token, please log in again"
Instead it should be
"Your session has expired, please log in again
![Screenshot 2021-11-19 at 11 24 37 AM](https://user-images.githubusercontent.com/91254708/1425824

[2021-11-19 06:40] Wajeeha1995 commented on #854
@rupalichavan9860 I have tested this issue. Its fixed now. You can close this issue.

[2021-11-19 06:43] sunitamary commented on #854
The tooltip appears only after clicking the icon on mobile devices. not on hover. @rupalichavan9860

[2021-11-19 07:07] saniatg commented on #844
@rupalichavan9860 Tested and verified . Please confirm

[2021-11-19 07:25] Wajeeha1995 commented on #859
@rupalichavan9860 I have tested this .This is working fine now .You can move this to " Staging Approved ".

[2021-11-19 07:28] Wajeeha1995 commented on #854
@rupalichavan9860  I think there is no hover option in mobile but this tooltip appears on the mobile devices when tapping" Please confirm this .

[2021-11-19 07:32] rupalichavan9860 commented on #844
Verified

[2021-11-19 07:35] rupalichavan9860 commented on #859
Verified

[2021-11-19 08:11] sunitamary commented on #845
The date format is consistent through out the application in this format  **"Nov 19, 2021"** but not  "US time format mm/dd/yyyy" as mentioned in the ticket. please confirm @rupalichavan9860

[2021-11-19 08:28] rupalichavan9860 commented on #845
As the date format is consistent through out the application , I moved this to "Staging approved"

[2021-11-19 08:45] rupalichavan9860 commented on #834
Tested and verified

[2021-11-19 08:56] rupalichavan9860 opened #924 "Incorrect Choice number/preference number displaying under Support Tree for camp"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create a new topic
4. Create 2 camps "Camp 1 " and "Camp 2" and support both camps
5. Update "Camp 2" : Make "Camp 1" as a parent camp of "Camp 2"
6. Observe Choice number

Expected Result :
preference number/Choice number should be 1 as only one support is there

Actual Result :
preference numbe

[2021-11-19 08:57] rupalichavan9860 commented on #834
Support is working fine but choice number is displaying incorrectly  so added new issue for this #924

[2021-11-19 09:48] Wajeeha1995 commented on #860
@rupalichavan9860.This is working fine. You can move this to Staging approved.

[2021-11-19 09:55] akuks commented on #921
@rupalichavan9860 Can you please check this

[2021-11-19 11:09] nalwa commented on #790
Hi @BrentAllsop @gautamv16   we have create Document for Canonizer Support System, i am sharing link below:
https://docs.google.com/document/d/1gk5Ihxax7TkEh-LliMgGaW0ma1r6HzcM/edit#

@rupalichavan9860  has also added all the emails Support system already have and should have(new ones).

Please review the DOC if any changes required. Once you will approve the DOC, i will start implementing it.

[2021-11-19 11:36] rupalichavan9860 commented on #854
Tested and verified

[2021-11-19 11:49] saniatg commented on #921
@akuks Not able to save a post. When click on thread and try to add  a post on click 'Submit' button , nothing happens.

[2021-11-19 11:57] rupalichavan9860 opened #925 "Not able select sub camps of sibling camps as a parent camp while updating the camp"
Please refer below screenshots

![image](https://user-images.githubusercontent.com/40416610/142618821-6468d361-24ea-4fcd-8bda-58f9b42059a9.png)

When trying to update "Test camp 3" , can see below camps in parent camp drop down

![image](https://user-images.githubusercontent.com/40416610/142618953-f93e826f-ef7b-46ea-b806-bef5c4ebffc7.png)

Expected Result :
It should also list "Camp 2" and "sub ca

[2021-11-19 12:50] rupalichavan9860 commented on #787
@sunilspr7 I am still getting page crash . Please refer below screenshot

![image](https://user-images.githubusercontent.com/40416610/142620656-3dfd28df-3da3-4710-adf8-c3b044b45d7d.png)

Steps to reproduce :
I have created below camp levels
![image](https://user-images.githubusercontent.com/40416610/142625172-f7616fe2-dd6b-46d8-864b-ccf0d818891c.png)

And trying to change parent camp of "camp 2" f

[2021-11-19 13:33] rupalichavan9860 commented on #861
Tested and verified

[2021-11-19 13:56] rupalichavan9860 opened #926 "Incorrect warning displaying while supporting camp"
Please refer below screenshot :
![image](https://user-images.githubusercontent.com/40416610/142633903-69b73ff1-dc15-48a0-8656-d267079ceabb.png)

![image](https://user-images.githubusercontent.com/40416610/142633938-97285222-06d1-489c-9f89-dd56f490c519.png)

when trying to support "camp 2", getting below incorrect warning

![image](https://user-images.githubusercontent.com/40416610/142634101-1d7124

[2021-11-19 13:58] rupalichavan9860 commented on #881
Yes. I am also not able to reproduce this now so for now moving this to staging approved

[2021-11-19 14:04] rupalichavan9860 commented on #737
Not able to test as not able to create/update post mentioned in issue #921

[2021-11-19 14:22] rupalichavan9860 commented on #787
Scenario :
Previously Camp 1 , Camp 2, Camp 3 are on same level (child camp of agreement camp), then
1.  I changed parent of "camp 2 " to "camp 3"
2.  changed parent of "camp 3" to "camp 1"

[2021-11-22 05:17] rupalichavan9860 commented on #910
Tested and verified

[2021-11-22 07:11] rupalichavan9860 commented on #849
@sunilspr7 Tested and verified.

[2021-11-22 12:02] rupalichavan9860 commented on #850
@nalwa I found some issues in this :

1. On Create Camp page field label is "Camp About URL ( Limit 1024 Chars )" and on Camp update page field label is "Camp About URL" - It should be uniform
Please refer attached screenshot :
Create Camp :
![image](https://user-images.githubusercontent.com/40416610/142857267-4127a08f-20b4-4451-8b42-940e4e56af42.png)

Camp Update :
![image](https://user-images.gi

[2021-11-23 06:25] saniatg opened #933 "Crash on forum detail post page"
Steps
1. Go to camp forum and click on any thread from list of all camp threads.
2. Copy the URL->https://staging.canonizer.com/forum/276-Global-village/1-Agreement/threads/506
3. Now logout the application
4. Paste the URL on a new tab

Actual result- Page crashes
Expected result- Should redirect to login page

![Screenshot 2021-11-23 at 11 56 17 AM](https://user-images.githubusercontent.com/9125

[2021-11-23 08:33] rupalichavan9860 opened #934 "Link to child camp in email are highlighting Agreement camp"
Whenever any user do any contribution to Agreement camp and if other user directly supporting to agreement camp and subscribed to child camps , he can see below in You are receiving this e-mail because:

![image](https://user-images.githubusercontent.com/40416610/142991789-fb640093-0d7b-4524-8447-f53385bb32d6.png)

Expected Result :
When user click on "Test camp 1" and "Test camp 2" , it should hi

[2021-11-23 09:55] rupalichavan9860 commented on #907
Tested and verified

[2021-11-23 09:56] rupalichavan9860 commented on #857
Tested and verified

[2021-11-23 10:01] rupalichavan9860 commented on #855
Tested and verified

[2021-11-23 10:15] rupalichavan9860 commented on #912
Tested and verified

[2021-11-23 11:10] sunilspr7 commented on #850
Point 1 , 2 and 3rd done.
For Point 4 I will need validation message after that I will update.

[2021-11-23 11:34] Wajeeha1995 commented on #851
@rupalichavan9860 .On topic screen ,Text is moving away from text box (Issue produced on Iphone 5. Please check attachment
![Issue](https://user-images.githubusercontent.com/92429083/143016275-5cee3162-4066-4fe8-8df5-6711fd2f4c5c.png)

[2021-11-23 11:56] rupalichavan9860 opened #935 "Page crash on Registration Verification page"
Precondition :
User is not verified
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Click on  Log in
3. Click on Forgot Password
4. Enter non verified email address
5. Click on Submit
6. Click on "Request for Verification Code"
7. Enter non verified email address
8. Without entering "One Time Verification Code" click on "Submit" button

Actual Result : Getting below page crash
Plea

[2021-11-23 12:06] rupalichavan9860 commented on #865
Tested and verified. But there is page crash on verification page so added new issue #935

[2021-11-23 12:06] rupalichavan9860 commented on #883
Tested and verified

[2021-11-23 15:12] rupalichavan9860 commented on #935
I would suggest as soon as user click on "Request for Verification Code" , user should receive verification code on email and should redirect to "Registration Verification page" to enter the code

As of now user is redirecting to "Get Verification Code" page where user again need to enter non verified email address get verification code

[2021-11-24 06:12] rupalichavan9860 commented on #836
Tested and verified

[2021-11-24 06:28] rupalichavan9860 opened #938 "Layout is getting disturbed on List of supported camps page"
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/143186298-2f60fda5-0bbd-4096-b850-075e211e219c.png)

[2021-11-24 06:59] rupalichavan9860 commented on #892
I am able reproduce the issue .Please refer below screenshot
![image](https://user-images.githubusercontent.com/40416610/143190096-635815c2-057b-48f9-88b2-4532d80dcc7b.png)

[2021-11-24 07:56] Wajeeha1995 opened #939 "Menu selection is going away from details section .Also tree arrow button is overlapping with text."
Steps to reproduce :
1.Navigate to https://staging.canonizer.com/ ( Issue produced on
![Screenshot_1](https://user-images.githubusercontent.com/92429083/143195508-0aa16ffb-2453-4949-99c6-3b343fd43229.png)

[2021-11-24 09:13] sunitamary opened #940 "Pagination is going out of box in all the screens except laptop screen."
![Screenshot from 2021-11-24 10-56-00](https://user-images.githubusercontent.com/92773405/143208882-3edd4a3b-13f0-4e11-8187-7f9d7c7b70dd.png)

[2021-11-24 09:23] sunitamary opened #941 "Social account buttons are overlapping in login page."
![Screenshot from 2021-11-24 14-49-01](https://user-images.githubusercontent.com/92773405/143210599-af58f241-d505-460d-a4ee-db00469dd0b7.png)

[2021-11-24 12:16] sunilspr7 commented on #892
@rupalichavan9860  Yes I have also got this issue. Here only second warring message will be shown.

[2021-11-24 12:37] rupalichavan9860 opened #942 "User can use another nick name for any contribution once used for post creation"
Steps to reproduce :
1. Create topic by user "User A"
2. Go to Camp forum and create new thread
3. Login with another user and create new post in thread(First contribution)
4. Try to add another post/any other contribution to same topic

Expected Result :
User should see previously selected nick name only in drop down

Actual Result :
User can see all nick names of that user

Pleas refer attached

[2021-11-25 07:26] saniatg commented on #933
@rupalichavan9860 Tested and verified

[2021-11-25 08:42] rupalichavan9860 commented on #933
Verified

[2021-11-25 08:43] rupalichavan9860 commented on #923
Tested and verified

[2021-11-25 09:48] rupalichavan9860 commented on #918
Tested and verified

[2021-11-25 09:57] rupalichavan9860 commented on #850
@sunilspr7 Tested . Found 1 issue :
When Camp About URL is blank ,on preview it is displaying as " http://"
Please find attached screenshot
![image](https://user-images.githubusercontent.com/40416610/143419934-d4857a47-d555-4d93-bff6-e098cc80bde4.png)

[2021-11-26 05:11] rupalichavan9860 commented on #851
Tested and verified

[2021-11-26 07:12] saniatg opened #949 "Uniformity across the website- Need to replace register label by 'Sign up'"
Issue 1 - Replace register text by 'Sign up ' on the header
Issue 2- should be 'Sign up' space between  words Sign and up NOT 'signup' . Please implement the changes across the website.

![Screenshot 2021-11-26 at 12 38 01 PM](https://user-images.githubusercontent.com/91254708/143541209-b5fa58fb-edee-43cd-bd73-548821222e0d.png)

[2021-11-26 12:12] rupalichavan9860 opened #951 "Issues while getting proposed change emails"
Case 1 : proposed change to topic

When someone submits any change to topic , direct supporters are getting proposed change email immediate after submission(without committing changes)

Case 2 : proposed change to camp

When someone submits any change to camp, direct supporters are getting proposed change emails after committing changes

Case 3 : proposed change to camp statement

When someone sub

[2021-11-29 03:12] BrentAllsop commented on #951
All 3 of these should use the same code, so let's get that fixed before closing this issue?

[2021-11-29 05:49] rupalichavan9860 commented on #951
I just checked submitted changes are visible to direct supporters even if changes are committed yet(in all 3 scenarios - camp/topic/statement change)
As per discussion
1. Submitted changes must be visible to direct supporters only after committing
2. Submitted changes must be visible to direct supporters after 1 hour grace period(even if not committed yet)

[2021-11-29 10:29] rupalichavan9860 opened #952 "Need space between Parent Camp and ":" on camp history page"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/143851642-edd7394f-3c45-4b39-af25-1948a68d35d6.png)

[2021-11-29 10:34] rupalichavan9860 opened #953 "Preview button is missing on create camp page"
Do we need preview pop up for create camp?
As of now preview pop up is available on Camp Update, Add Camp Statement, Statement Update but missing on create camp

![image](https://user-images.githubusercontent.com/40416610/143852555-3ee32b87-63ef-4f3d-98ab-3e008da91286.png)

[2021-11-29 11:13] sunitamary commented on #941
Tested and working fine. @rupalichavan9860

[2021-11-29 11:14] sunitamary commented on #940
Tested and working fine. @rupalichavan9860

[2021-11-29 11:17] rupalichavan9860 commented on #941
Verified

[2021-11-29 11:47] rupalichavan9860 opened #954 "Delegate emails are not working from 2nd level"
Users are not getting delegate support added /removed emails from second level

Scenario :

![image](https://user-images.githubusercontent.com/40416610/143862451-b7b69bc1-b45a-4b46-ae9d-8749e89f4473.png)

In above scenario when "karun gautam" added/ removed delegate support to/from "Rupali cano" , "Rupali cano" should receive emails

Actual Result :
"Rupali cano" is not receiving delegate support

[2021-11-29 11:53] rupalichavan9860 commented on #940
Verified

[2021-11-29 11:55] rupalichavan9860 commented on #939
Tested and verified

[2021-11-29 12:13] vedantvyas0 commented on #876
Tested working fine
@rupalichavan9860

[2021-11-29 12:14] sunitamary commented on #949
In all 3 places it should display as "Sign up" rather on header its "Register" and in 2 other place its "signup". Issue is not yet fixed.
![Bug](https://user-images.githubusercontent.com/92773405/143866293-8ccf3be6-476b-44f5-a8af-c056306f5968.png)
@rupalichavan9860

[2021-11-29 12:21] rupalichavan9860 commented on #949
@kshitij1326 Can you please check this
![image](https://user-images.githubusercontent.com/40416610/143867231-da40884f-a553-4344-83b6-3cc46b879778.png)

[2021-11-29 12:25] rupalichavan9860 commented on #876
Verified

[2021-11-29 12:53] kshitij1326 commented on #949
The code is overwritten when merging, I will re-do.
@rupalichavan9860  Is there need to change the url also from register to signup ?

[2021-11-29 13:21] rupalichavan9860 commented on #938
Tested and verified

[2021-11-30 05:35] rupalichavan9860 commented on #949
@kshitij1326 Yes. I would suggest it should be signup

[2021-11-30 05:43] rupalichavan9860 opened #955 "Oops! Data Could Not Be Found on privacy policy and term service click on "https://canonizer.com/videos/consciousness/""
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/143992249-bbfbb8b0-132b-4c89-83d4-f5f64f84c378.png)

![image](https://user-images.githubusercontent.com/40416610/143992280-bf73df49-09ee-4322-9ce7-e8f98556def6.png)

[2021-11-30 05:55] rupalichavan9860 commented on #802
@HamzaBinMansoor Tested. Everything is working fine but found 1 layout issue on mobile devices

Issue : On mobile devices footer content is left aligned. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/143993347-02879087-f3aa-4b0f-8c86-6d18d8f3c2c9.png)

[2021-11-30 06:06] rupalichavan9860 commented on #802
@HamzaBinMansoor Also getting "Oops! Data Could Not Be Found" issue on privacy policy and terms & services , Created new issue #955

[2021-11-30 08:53] HamzaBinMansoor commented on #955
@rupalichavan9860
the codebase for canonizer-video is made on core HTML CSS, footer for this page is copied from laravel code due to which it is unable to find **url('privacypolicy')** and **url('termservice')** these dynamic routes.

I think we need to replace them with:
1. https://canonizer.com/privacypolicy
2. https://canonizer.com/termservice

are these links ok?

[2021-11-30 08:54] HamzaBinMansoor commented on #802
I have added a comment on #955

I have added a comment on #955 for that ticket

[2021-11-30 09:03] HamzaBinMansoor commented on #802
The structure for this codebase is made in core HTML CSS. I have consulted with our front-end developer. The current Code is not responsive. It is made with a table design pattern.  So please convert it into a separate task(and assign it to me) because this is not related to the issue of the ticket.

Possible Solution: This should be converted into a responsive div based structure
@rupalichavan986

[2021-11-30 11:49] nalwa commented on #756
@rupalichavan9860  @sunnyjindal  @BrentAllsop
I have update the content as well implemented popup as described above.
please check below screenshot for popup layout:
![disagreement_popup](https://user-images.githubusercontent.com/4891200/144041982-1658d2e8-3aec-4bd9-adf3-1fd50ef56826.png)

[2021-11-30 11:54] sunnyjindal commented on #756
@nalwa can we have the text like this? You can make Disagreements as the link below:
---------------------

To object to this camp statement, you should be a direct supporter of the camp and should have supported it before the statement was submitted.

For more information about disagreement, please read topic: <Disagreement>

[2021-11-30 12:01] nalwa commented on #756
@sunnyjindal  okay will update it

[2021-11-30 12:04] rupalichavan9860 commented on #892
Tested and verified

[2021-11-30 12:11] rupalichavan9860 commented on #850
@sunnyjindal Can you please validation message for this field

[2021-11-30 12:14] sunnyjindal commented on #850
@rupalichavan9860 you will need to provide more info on what exactly is required. We'll discuss this in our call today.

[2021-11-30 12:33] rupalichavan9860 commented on #802
@HamzaBinMansoor Okay . I will open a new ticket for this

[2021-11-30 12:41] HamzaBinMansoor commented on #802
thankyou

[2021-11-30 13:05] rupalichavan9860 commented on #802
As per discussion I am creating new ticket for footer layout issue

[2021-11-30 13:11] rupalichavan9860 opened #959 "Mobile Device : Footer contents are not displaying properly on https://canonizer.com/videos/consciousness/ page"
Footer is left aligned on below page

https://canonizer.com/videos/consciousness/

Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/144052978-d2f7e7bc-d909-47db-976a-e13c8554c21c.png)

[2021-11-30 13:34] rupalichavan9860 commented on #850
@sunilspr7 I discussed with @sunnyjindal  and as agreed upon , we can provide below message

"The camp about url format is invalid. (Example: https://www.example.com?post=1234)"

[2021-11-30 17:33] BrentAllsop opened #960 "Change "Unique Number" column heading on Nick Names tab to "Nick Name ID"."
![image](https://user-images.githubusercontent.com/6559312/144098287-f1269721-1cf2-4618-bcef-392a98d05f8c.png)

[2021-11-30 17:36] BrentAllsop commented on #960
We want this to match the column name in the teams accounting sheet and everywhere else:
https://docs.google.com/spreadsheets/d/1VS37AVL8zARpZwW9eubZIGBuFhDrc6GMilp8I7MsnQQ/edit#gid=0

[2021-12-01 05:26] rupalichavan9860 opened #961 "Supported camp list is missing on Supported Camps page"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/144176777-4eb2c608-5e88-4052-92e8-a93a2df973c6.png)

Can see on user supports page

![image](https://user-images.githubusercontent.com/40416610/144176891-fc192072-9cbf-4bcc-b1c4-e14ab888e3e7.png)

[2021-12-01 11:09] rupalichavan9860 opened #963 "First and last name is displaying in warning instead of nick name"
When any user delegated their support to someone else in camp and trying to support that camp directly user can see warning "Warning! You have already delegated your support for this camp to user **Rupali Chavan**. If you continue your delegated support will be removed."

please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/144224041-c85f52bf-5a41-47a5-8b88

[2021-12-01 11:18] rupalichavan9860 commented on #963
This issue is also exists in delegated support added/removed emails, Please refer below screenshot

![image](https://user-images.githubusercontent.com/40416610/144225297-d3fc043e-02ac-402d-80ee-00f7bdae59dd.png)

![image](https://user-images.githubusercontent.com/40416610/144225420-57f0028c-cf2d-4f03-90c5-dda3f0abca3c.png)

[2021-12-02 06:57] rupalichavan9860 opened #964 "User is not able to change support order of camp"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create any new topic
4. Create 2 camps under topic "camp 1" and "camp 2"
5. Support both camps
6. Click on any camp name  "camp 1" or "camp 2"
7. Click on "Directly Join or Manage Support"
8. Try to change support order of camp

Expected Result :
User should able to drag & drop the camp

Actual R

[2021-12-02 09:27] sunitamary commented on #852
Tested and working fine @rupalichavan9860

[2021-12-02 09:33] rupalichavan9860 commented on #884
Verified on production

[2021-12-02 09:33] #884 closed, assigned to sunilspr7

[2021-12-02 09:35] rupalichavan9860 commented on #852
Verified on  production

[2021-12-02 09:35] #852 closed, assigned to aliahmad45

[2021-12-02 09:45] saniatg commented on #853
Tested and verified on Production

[2021-12-02 09:45] #853 closed, assigned to aliahmad45

[2021-12-02 09:46] saniatg commented on #857
Tested & verified on Production

[2021-12-02 09:46] #857 closed, assigned to kshitij1326

[2021-12-02 09:48] rupalichavan9860 commented on #903
Verified on production

[2021-12-02 09:48] #903 closed, assigned to sunilspr7

[2021-12-02 09:50] sunitamary commented on #940
Verified on production.

[2021-12-02 09:50] #940 closed, assigned to kshitij1326

[2021-12-02 09:53] saniatg commented on #855
Tested & verified on Production

[2021-12-02 09:53] #855 closed, assigned to aliahmad45

[2021-12-02 09:56] sunitamary commented on #941
Verified on production.

[2021-12-02 09:56] #941 closed, assigned to kshitij1326

[2021-12-02 09:58] rupalichavan9860 commented on #938
Verified on production

[2021-12-02 09:58] #938 closed, assigned to kshitij1326

[2021-12-02 09:59] saniatg commented on #933
Tested & verified on Production

[2021-12-02 09:59] #933 closed, assigned to sunilspr7

[2021-12-02 10:06] sunitamary commented on #865
Verified on production by Bazeer. @rupalichavan9860

[2021-12-02 10:22] Wajeeha1995 commented on #859
@rupalichavan9860 .Its looking fine on production .

[2021-12-02 10:43] Wajeeha1995 commented on #860
@rupalichavan9860 Its looking fine on production .

[2021-12-02 10:55] saniatg commented on #918
Tested & verified on Production

[2021-12-02 10:55] #918 closed, assigned to kshitij1326

[2021-12-02 11:05] Wajeeha1995 commented on #854
@rupalichavan9860 .Tested and verified on production .Its working

[2021-12-02 11:11] #859 closed, assigned to karun0607gautam

[2021-12-02 11:12] #854 closed, assigned to aliahmad45

[2021-12-02 11:14] rupalichavan9860 commented on #844
Verified on production

[2021-12-02 11:14] #844 closed, assigned to kshitij1326

[2021-12-02 11:17] #923 closed, assigned to kshitij1326

[2021-12-02 11:20] rupalichavan9860 commented on #860
Verified

[2021-12-02 11:20] #860 closed, assigned to karun0607gautam

[2021-12-02 11:33] rupalichavan9860 commented on #802
Verified on production

[2021-12-02 11:33] #802 closed, assigned to HamzaBinMansoor

[2021-12-02 11:38] rupalichavan9860 commented on #907
Verified on production

[2021-12-02 11:38] #907 closed, assigned to sunilspr7

[2021-12-02 11:39] Wajeeha1995 commented on #876
@rupalichavan9860 Tested on production. Its looking fine on login and reset password screen .

[2021-12-02 11:43] Wajeeha1995 commented on #939
@rupalichavan9860 Above mentioned issue is fixed now .But if you check pagination  ( 9 should be exactly beneath 1).Please verify this issue.

[2021-12-02 11:43] rupalichavan9860 commented on #876
Verified

[2021-12-02 11:43] #876 closed, assigned to karun0607gautam

[2021-12-02 11:47] rupalichavan9860 commented on #900
Verified on production

[2021-12-02 11:47] #900 closed, assigned to ashish76

[2021-12-02 11:56] rupalichavan9860 commented on #865
Verified

[2021-12-02 11:56] #865 closed, assigned to ashish76

[2021-12-02 11:58] saniatg commented on #845
@rupalichavan9860 tested and verified on production please confirm

[2021-12-02 12:08] saniatg commented on #895
Tested and Verified on Production

[2021-12-02 12:08] #895 closed, assigned to sunilspr7

[2021-12-02 12:10] rupalichavan9860 commented on #885
Verified on production

[2021-12-02 12:10] #885 closed, assigned to sunilspr7

[2021-12-02 12:13] rupalichavan9860 commented on #912
Verified on production

[2021-12-02 12:13] #912 closed, assigned to kshitij1326

[2021-12-02 12:21] saniatg opened #965 "Replace standard pointer by link(hand) pointer for Canonizer Sorted Camp Tree when create a topic as it can expand/collapse"
1. Create a topic
2. Hover on the branch icon

Currently showing standard pointer instead replace with a link( hand) pointer as the branch is clickable

![Screenshot 2021-12-02 at 5 36 59 PM](https://user-images.githubusercontent.com/91254708/144420831-1439aa97-2bc9-417e-92dc-a20a03e6da8a.png)

[2021-12-02 12:23] rupalichavan9860 commented on #892
Verified on production

[2021-12-02 12:23] #892 closed, assigned to sunilspr7

[2021-12-02 13:21] Wajeeha1995 opened #966 "Nick Names ---> Visibility Status column is cutting off from user's view"
![Screenshot_1](https://user-images.githubusercontent.com/92429083/144429174-0bbb64ce-ed56-44a4-9ac7-61cc18b60733.png)
Issue produced on **Galaxy Fold**

[2021-12-02 13:26] saniatg commented on #883
Tested & Verified on Production

[2021-12-02 13:26] #883 closed, assigned to aliahmad45

[2021-12-02 13:27] rupalichavan9860 commented on #845
Verified

[2021-12-02 13:27] #845 closed, assigned to ashish76

[2021-12-02 13:28] rupalichavan9860 commented on #851
Verified on production

[2021-12-02 13:28] #851 closed, assigned to kshitij1326

[2021-12-02 13:32] rupalichavan9860 commented on #849
Verified on production

[2021-12-02 13:32] #849 closed, assigned to sunilspr7

[2021-12-02 16:53] rupalichavan9860 commented on #834
Verified on production

[2021-12-02 16:53] #834 closed, assigned to karun0607gautam

[2021-12-02 16:57] #939 closed, assigned to kshitij1326

[2021-12-03 06:47] rupalichavan9860 opened #967 "Page crash while updating camp"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic
4. Create 2 camps "camp 1" and "Camp 2" under topic
5. Support both camps
6. Update Camp 1 : Change parent camp as "Camp 2" from "Agreement"
7. Click on "Camp 2" and apply filter as of date as yesterday's date
8. Click on Topic creation timestamp link
9. Click on Camp creation ti

[2021-12-03 07:18] saniatg opened #968 "After applying 'as of date' user can see child camp as a parent camp"
Steps

1. Create a new topic
2. Now create a camp 'camp1'  and support it
3. Create another camp 'camp2' and support it too
4. Edit camp1 and make 'camp2' parent of 'camp1'
5. Click on camp2 and apply 'As of date' filter and select yesterday's date to change parent of camp2
6. Now click on topic time stamp link
7. Not click on camp time stamp link
![Screenshot 2021-12-03 at 12 24 32 PM](https://us

[2021-12-03 07:24] rupalichavan9860 commented on #861
Verified on production

[2021-12-03 07:24] #861 closed, assigned to sunilspr7

[2021-12-03 07:30] rupalichavan9860 commented on #910
Verified on production

[2021-12-03 07:30] #910 closed, assigned to kshitij1326

[2021-12-03 07:56] saniatg opened #969 "Camps are not displaying(apply filter as Default) and score count is displaying 0(when filter applied is as of date) when "camp 1 " selected as parent camp of "camp 2" even if "camp 2" is already parent camp of "camp 1"(Note after applying as of date filter)"
Steps

1. Create a new topic
2. Now create a camp 'camp1' and support it
3. Create another camp 'camp2' and support it too
4. Edit camp1 and make 'camp2' parent of 'camp1'
5. Click on camp2 and apply 'As of date' filter and select yesterday's date to change parent of camp2
6. Now click on topic time stamp link
7. Not click on camp time stamp link
8.Now edit camp 2
9.You can see 'camp1' in the drop

[2021-12-03 09:27] #881 closed, assigned to karun0607gautam

[2021-12-03 09:29] rupalichavan9860 commented on #836
Verified on production

[2021-12-03 09:29] #836 closed, assigned to aliahmad45

[2021-12-03 11:32] rupalichavan9860 opened #970 "Mobile devices : Layout on user supports page is getting disturbed when camp name 30 characters long"
Please refer below screenshot

![image](https://user-images.githubusercontent.com/40416610/144595620-80498e50-aa59-43d5-ba53-1b6bf454552f.png)

[2021-12-03 11:43] rupalichavan9860 opened #971 "News Feeds block layout is not displaying properly when Edit News and Delete News links are not available"
Please refer below screenshot :

Screenshot 1: When News Feeds section having Edit News and Delete News links
![image](https://user-images.githubusercontent.com/40416610/144596823-c45eef02-b99d-4584-a596-a063d2515aba.png)

Screenshot 1: When News Feeds section not having Edit News and Delete News links
![image](https://user-images.githubusercontent.com/40416610/144596875-74b5898c-3f74-467b-96eb-46

[2021-12-03 13:36] rupalichavan9860 commented on #921
We forgot to test this issue after resolving page crash . Just tested and working fine on both staging and live so closing this issue

[2021-12-03 13:36] #921 closed, assigned to akuks

[2021-12-03 13:36] rupalichavan9860 commented on #737
We forgot to test this issue after resolving page crash . Just tested and working fine on both staging and live so closing this issue

[2021-12-03 13:36] #737 closed, assigned to akuks

[2021-12-03 13:59] rupalichavan9860 commented on #960
Tested and verified

[2021-12-03 14:01] saniatg commented on #949
@rupalichavan9860 Tested & verified, please confirm

[2021-12-03 14:01] saniatg commented on #952
@rupalichavan9860 Working fine please confirm

[2021-12-03 14:02] rupalichavan9860 commented on #949
Verified

[2021-12-03 14:04] rupalichavan9860 commented on #952
Verified

[2021-12-05 14:44] BrentAllsop commented on #728
On Dec 5, 2021, I got a google search result pointing to:
https://canonizer.com/browse
I immediately checked robots.txt, which contained this entry:
Disallow:/browse/*

So we are assuming these google search results were stale, and will eventually be removed from the index.
If this continues, this issue should be re-opened, and further work be done, possibly contacting google, to get this issue re

[2021-12-05 15:55] BrentAllsop commented on #728
I was googling for "death" on Canonizer, which resulted in a reference to this user page:
https://canonizer.com/user/supports/55
We only want references to pages like this:
https://canonizer.com/topic/67-Death-Gives-Meaning-/1-Agreement
Not users support pages containing links to those.

Unless there is specific user information we do want searchable (I don't see any) we need to include the follow

[2021-12-06 02:45] BrentAllsop commented on #953
The purpose of the preview button, is to preview the wiki markup.
Both the camp and topic records, don't need this.
Therefore, we should only remove the preview button on the camp update page.
The same is true for both create and update forms.
Only preview on camp statements, nothing else needs a preview.

[2021-12-06 05:03] saniatg commented on #963
@rupalichavan9860 Tested & Verified, please confirm

[2021-12-06 08:14] rupalichavan9860 opened #973 "Subscribed camps are not listing in proposed change to topic email"
Subscribed camps are not listing in proposed change to topic email in section : "You are receiving this e-mail because:"

Please refer attached screenshot
1. Proposed change to Topic email screenshot

![image](https://user-images.githubusercontent.com/40416610/144810838-bf51edbb-e741-4a8b-99ee-5a3d8a9f1e80.png)

2. Proposed change to agreement Camp email screenshot

![image](https://user-images.gi

[2021-12-06 10:24] rupalichavan9860 commented on #934
Tested and verified

[2021-12-06 10:54] rupalichavan9860 commented on #963
@kshitij1326 I can see a change in delegated support removed subject line .Previously it was "Rupali C has removed their delegated support from Rupali cano in Regression 3 dec 2021 / Test camp 2"

Now it is displaying as "Rupali C has removed their support from Regression 3 dec 2021 / Test camp 2"

![image](https://user-images.githubusercontent.com/40416610/144834140-942a1ead-870e-4d8a-8b15-404ef2

[2021-12-06 11:14] rupalichavan9860 opened #974 "User is both delegated and direct support of camps on one topic"
Steps to reproduce :
1. Login with User A and Create new topic
2. Create 2 camps : Test camp 1 and Test camp 2
3. Support "Test camp 1"
4. Login with another user "User B" and delegate support to "User A" in "Test camp 1"
5. Direct support to "Test camp 2" (It will remove delegated support from "User A" in "Test camp 1")
6. Again go to "Test camp 1" and click on delegate your support for User A
7.

[2021-12-06 11:25] rupalichavan9860 commented on #756
Tested and verified

[2021-12-06 19:33] BrentAllsop commented on #974
Yes, definitely an issue.  If you direct support a camp, it should put a termination time on delegated support.  (If you set as-of to just before that time, you should see that.)  Same for delegating support, should put a termination time on all directly supported camps in that topic.

[2021-12-07 06:00] rupalichavan9860 commented on #974
@BrentAllsop Thank you for the confirmation

[2021-12-08 10:48] nalwa commented on #790
@sunnyjindal @BrentAllsop please provide  subject for emails in above cases. Thanks

[2021-12-09 10:48] saniatg commented on #968
Tested & verified

[2021-12-09 10:58] rupalichavan9860 commented on #935
@kshitij1326 Tested. Still getting below issues
1. Getting 2 different emails with 2 different codes when user click on "Request for Verification Code"
2. When user click on "Submit" button without entering or entering incorrect code , user is getting new email every time(on each submit click)
Expected Result :  It should only display error message

3. User can still able to see below enter email

[2021-12-09 11:49] rupalichavan9860 opened #979 "Support is getting removed when changing parent camp"
Steps to reproduce :
1. Create new topic
2. Create 2 camps :  Test camp 1 and Test camp 2
3. Support "Test camp 1" only(Note : Score for "Test camp 1" is 1)
4. Update "Test camp 2" , change parent camp to "Test camp 1" from "Agreement"

Actual Result :
Support from "Test camp 1" is getting removed

[2021-12-09 11:52] rupalichavan9860 commented on #926
Tested and verified

[2021-12-09 12:01] bazeer commented on #926
Working

[2021-12-09 12:09] bazeer commented on #967
Verified and completed

[2021-12-09 12:18] rupalichavan9860 opened #980 "User is receiving different emails for different camps (when supporter of all camps) when delegated supporter removes their support"
Steps to reproduce :
1. Login with "user 1" and Create new topic
2. Create 5 camps : "Camp 1", "Camp 2",  "Camp 3", "Camp 4", "Camp 5" and support all 5 camps

![image](https://user-images.githubusercontent.com/40416610/145393127-0f31411e-4cad-46d2-8b94-cbc9b6b34bb8.png)

3. Login with another user and delegate support to "user 1" in any camp say "Camp 1"

![image](https://user-images.githubuserco

[2021-12-09 12:56] saniatg opened #981 "Invalid link should not be accepted when add /edit news"
Steps:

1. Go to any topic/camp
2. click on'Add news' or Edit News button
3. add invalid  'Link'  any special char or random text before the https e.g.-> ct..@@https://staging.canonizer.com/ , now on click 'Create  News'

Actual result- News created successfully with an invalid link
Expected result- Invalid link must not be acceptable must give an error when click on button 'Create News'
![Screens

[2021-12-09 15:34] sunitamary commented on #967
Tested and working fine @rupalichavan9860

[2021-12-09 15:35] sunitamary commented on #926
Tested and working @rupalichavan9860

[2021-12-09 15:38] sunitamary commented on #850
Tested and working but there is an UI Bug, due to text color Blue, the url displays only after hover. Please view the video attached:
 https://share.vidyard.com/watch/mitYgU59cUfsuSAELs7c9N?  @rupalichavan9860

[2021-12-09 15:50] rupalichavan9860 commented on #963
Tested and verified

[2021-12-09 16:00] rupalichavan9860 commented on #967
@kshitij1326 This is working fine for first level child camp but still getting page crash for scenario like below screenshot

![image](https://user-images.githubusercontent.com/40416610/145431045-45652918-f2f5-4795-acc8-11148cfc5014.png)

When trying to make "Test camp 3" as a parent of "test camp 1"
![image](https://user-images.githubusercontent.com/40416610/145431109-299bfd2f-cabd-4849-ae07-d4bb

[2021-12-10 05:44] rupalichavan9860 commented on #850
@sunitamary Other fields you motioned in video are working fine. If user entered those fields while creating/updating camps they are visible on that specific record

@sunilspr7 Can we make the text of color as black like "Submitter nick name" so that it will be highlighted on every color

[2021-12-10 06:21] saniatg opened #982 "Text is irrelevant on "List of All Camp Threads" when click button 'Top 10' for the mentioned scenario"
Steps"
Go to any Topic which has 1 or more threads but NO posts under it.
When click button 'Top 10' it shows text as 'No threads available for this topic. Start New Thread' BUT there are threads already created for the topic .
So the message is irrelevant in this case
![Screenshot 2021-12-10 at 11 27 26 AM](https://user-images.githubusercontent.com/91254708/145527048-1410d4ed-2de5-4c6f-ae98-aebd1

[2021-12-10 06:24] sunnyjindal commented on #790
Hi @nalwa @dakshiffort we will need to discuss it once. Can we discuss the ticket at 3:30pm IST?

[2021-12-10 06:45] rupalichavan9860 opened #984 "Old "Click Here To Reset Password" link is working for second time"
Once user reset passwords using reset password link, it should be expired
It should show message like "The Password Reset Link Has Expired And The Request another"

As of now user is able to reset password using old links also

[2021-12-10 06:48] rupalichavan9860 commented on #967
@kshitij1326 As per discussed in call we need to fix this for above scenario so moving this "To Do"

[2021-12-10 06:50] rupalichavan9860 commented on #969
@kshitij1326 As per discussed scenario on call we need to fix this

[2021-12-10 06:50] rupalichavan9860 commented on #968
@kshitij1326 As per discussed scenario on call we need to fix this

[2021-12-10 07:23] sunilspr7 commented on #850
@rupalichavan9860  okay I will do it

[2021-12-10 12:50] rupalichavan9860 commented on #955
Tested and verified

[2021-12-10 12:50] #955 closed, assigned to HamzaBinMansoor

[2021-12-13 03:14] BrentAllsop commented on #980
Yes, this is an issue, Reena Nalwa also pointed out that we have a similare issue with subscribers getting too many e-mails in the same way.  This is an issue.  There should only be one e-mail go out in these cases.

[2021-12-13 05:56] rupalichavan9860 commented on #959
Tested and verified

[2021-12-13 11:48] saniatg opened #987 "Incorrect arrows for the left side navigation menu"
Go to : https://staging.canonizer.com/

 On the left side navigation menu  for ( Canonizer Algorithm & As of ) Section the arrows are sidewards when the are expandable, which is incorrect , it should be downwards by default.

![Screenshot 2021-12-13 at 5 10 47 PM](https://user-images.githubusercontent.com/91254708/145806850-a144a339-6e21-4b44-bc21-6bf2ad720de3.png)

[2021-12-13 11:50] bhargavkc opened #988 "#error message position and asterisk symbol issue"
if confirm password doesn't match "The password confirmation does not match." this error mesage should be below confirm password input box below and captch is also required field so it should also have asterisk symbol.
![error](https://user-images.githubusercontent.com/95272342/145807144-a99d4f4e-7c92-496f-8e83-02d10ff92872.png)

[2021-12-13 12:31] #959 closed, assigned to HamzaBinMansoor

[2021-12-14 09:16] rupalichavan9860 commented on #953
Tested and verified

[2021-12-14 09:43] saniatg commented on #935
@rupalichavan9860 Verified and is working fine. Please confirm

[2021-12-14 10:09] rupalichavan9860 commented on #935
Tested and verified

[2021-12-14 10:50] rupalichavan9860 commented on #850
@sunilspr7 Tested. Link is visible on every color but **underline is missing** ,user need to hover mouse on it then only user got to know it is a link

[2021-12-14 10:59] rupalichavan9860 commented on #967
Tested with all possible scenarios and as of now it is working fine

[2021-12-14 10:59] rupalichavan9860 commented on #969
Tested with all possible scenarios and as of now it is working fine

[2021-12-14 11:00] rupalichavan9860 commented on #968
Tested with all possible scenarios and as of now it is working fine

[2021-12-15 08:44] rupalichavan9860 opened #992 ""atleast" is not a correct word. The correct version is “at least""
On every password guidelines and error messages I found word "atleast" which is not a correct word. It should be “at least"

Need to change this on below pages :
1. Sign up

![image](https://user-images.githubusercontent.com/40416610/146152489-9bfecbff-0d08-419b-b118-f8ed74e3ed6d.png)

![image](https://user-images.githubusercontent.com/40416610/146152686-eae1f41f-d97f-474d-8050-b06932b28ce5.png)

[2021-12-15 09:29] rupalichavan9860 opened #993 "Thread name is accepting special characters while updating thread name"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/146160019-734d8d91-9a76-492e-afa3-aafc39ee9133.png)

and on create thread it is displaying below error message when trying to create thread with special characters

![image](https://user-images.githubusercontent.com/40416610/146160228-73a064a7-92da-45e3-9964-2dc448e7ea8d.png)

[2021-12-15 10:02] rupalichavan9860 opened #995 "Incorrect error message is displaying when user is trying update the thread name without any changes"
Steps to reproduce :
1. https://staging.canonizer.com/
2. Go to Browse and click on any topic (Should have own threads)
3. Go to Camp Forum and click on My Threads
4. Click on Edit icon
5. Directly click on "Submit" button without any changes

Expected Result :
It should save and redirect to list of all camps thread

Actual Result :
It is displaying error message "Thread title must be unique"
Plea

[2021-12-15 10:08] saniatg opened #996 "Edit thread name, when update and click 'Submit' user should redirect to List of All Camp Threads page. Currently user remains on the edit page only"
![Screenshot 2021-12-15 at 3 18 34 PM](https://user-images.githubusercontent.com/91254708/146166461-c07be6a6-95de-49e0-a4fc-c8cafecd874e.png)

[2021-12-15 10:10] saniatg opened #997 "Edit thread page layout must be uniform"
Page height and width should be uniform . As of now page height and width is displaying smaller than other pages. Please refer attached screenshot
![Screenshot 2021-12-15 at 3 38 32 PM](https://user-images.githubusercontent.com/91254708/146167038-3735872b-7ed0-4139-8e51-de479627d609.png)

[2021-12-15 10:28] saniatg opened #999 "Responsive issues on edit thread title page"
1-> Asterisk sign is not aligned with the input field
2-> Submit button must be aligned w.r.t. the title field
3-> Text "List of All Camp Threads" must be wrapped if screen is small and left aligned for proper alignment
4-> White background must be uniform, currently shows half grey on right

![Screenshot 2021-12-15 at 3 51 26 PM](https://user-images.githubusercontent.com/91254708/146169638-52c494

[2021-12-16 03:59] saniatg commented on #949
Tested and is working fine @rupalichavan9860 please confirm

[2021-12-16 04:00] BrentAllsop opened #1000 "Peer Ranked algorithms (mind expert) aren't working according to description."
Here is the description of the peer ranking algorithm (accessible from the algorithm info link on the side bar):
https://canonizer.com/topic/53-Canonizer-Algorithms/19-Peer-Ranking-Algorithms.

item #2: “Each pirate only ever votes for his self” problem, when a popular expert votes for at least one other person, besides themselves, their vote is multiplied by 5 resulting in a significant penalty f

[2021-12-16 05:07] rupalichavan9860 commented on #960
Verified on production

[2021-12-16 05:07] #960 closed, assigned to kshitij1326

[2021-12-16 05:08] rupalichavan9860 commented on #949
Verified on production

[2021-12-16 05:08] #949 closed, assigned to kshitij1326

[2021-12-16 05:10] rupalichavan9860 commented on #952
Verified on production

[2021-12-16 05:10] #952 closed, assigned to kshitij1326

[2021-12-16 05:24] Wajeeha1995 commented on #935
@rupalichavan9860  Tested on production and it's working.Please confirm

[2021-12-16 05:32] rupalichavan9860 commented on #953
Verified on production

[2021-12-16 05:32] #953 closed, assigned to kshitij1326

[2021-12-16 05:36] rupalichavan9860 commented on #935
Verified

[2021-12-16 05:36] #935 closed, assigned to kshitij1326

[2021-12-16 05:40] saniatg commented on #968
Tested on production and is working fine @rupalichavan9860 please confirm

[2021-12-16 06:26] Wajeeha1995 commented on #926
@rupalichavan9860 Tested and verified on production

[2021-12-16 06:27] saniatg opened #1001 "Page crash on browse page when applied 'As of date' filter for Mac OS"
For logged in and non -logged in users
Steps:

1. Click on browse
2.  apply 'As of date' filter, choose a date
3. Now click 'default'
4. Now again click on 'As of date'
Page crashed

This is due to the date format being different for 'As of date' on  Mac OS as dd/mm/yyyy
& for windows the date format on 'As of date' is mm/dd/yyy

![Screenshot 2021-12-16 at 11 19 36 AM](https://user-images.githubus

[2021-12-16 07:42] rupalichavan9860 commented on #968
Verified on production

[2021-12-16 07:42] #968 closed, assigned to kshitij1326

[2021-12-16 07:42] rupalichavan9860 commented on #969
Verified on production

[2021-12-16 07:42] #969 closed, assigned to kshitij1326

[2021-12-16 07:42] rupalichavan9860 commented on #967
Verified on production

[2021-12-16 07:42] #967 closed, assigned to kshitij1326

[2021-12-16 07:51] rupalichavan9860 commented on #934
verified on production

[2021-12-16 07:51] #934 closed, assigned to sunilspr7

[2021-12-16 08:09] rupalichavan9860 commented on #926
Verified

[2021-12-16 08:09] #926 closed, assigned to sunilspr7

[2021-12-16 08:14] rupalichavan9860 commented on #963
Verified on production

[2021-12-16 08:14] #963 closed, assigned to kshitij1326

[2021-12-16 08:26] rupalichavan9860 commented on #756
@BrentAllsop I have 1 doubt here, why it should redirect to history page of Disagreement?

I think it should redirect to https://canonizer.com/topic/132-Help/4-Disagreement

[2021-12-16 08:34] rupalichavan9860 commented on #756
@sunnyjindal Can you please check this?

[2021-12-16 08:37] sunnyjindal commented on #756
@rupalichavan9860 @nalwa that's correct. It should go to: https://canonizer.com/topic/132-Help/4-Disagreement

[2021-12-16 08:40] rupalichavan9860 commented on #756
Thanks @sunnyjindal
Moving this to "To do"

[2021-12-16 10:02] nalwa commented on #756
@rupalichavan9860 @sunnyjindal  i will update the link.

[2021-12-20 05:46] saniatg commented on #987
Tested and is working fine.

[2021-12-20 06:02] rupalichavan9860 commented on #987
Verified

[2021-12-20 06:24] rupalichavan9860 commented on #850
@sunilspr7 Tested. When user click on link, it is redirecting to that link but on history page underline is missing for that record , needs to reload page to see the underline

![image](https://user-images.githubusercontent.com/40416610/146721368-72cca1cc-b538-4896-9e6a-bab67eba3331.png)

[2021-12-20 06:31] rupalichavan9860 commented on #988
@sunilspr7 "The password confirmation does not match." error message should be below confirm password field , As of now error message is displaying at 2 places .Please refer below screenshot

![image](https://user-images.githubusercontent.com/40416610/146722002-e6d4330d-deb4-42f0-86ad-dfc7c428adc0.png)

[2021-12-20 06:44] saniatg commented on #981
Tested & Verified

[2021-12-20 07:04] saniatg commented on #787
Tested and is working fine. @rupalichavan9860 Please confirm

[2021-12-20 07:34] rupalichavan9860 commented on #756
Tested and verified

[2021-12-20 07:35] rupalichavan9860 commented on #981
Verified

[2021-12-20 07:38] rupalichavan9860 commented on #787
Verified

[2021-12-20 08:09] saniatg opened #1007 "Incorrect child camp names under supported camps"
Steps:

1. Create a new topic
2. Create camps in the order shown in the screenshot
![Screenshot 2021-12-20 at 1 33 13 PM](https://user-images.githubusercontent.com/91254708/146733077-1fa167e8-eaf2-448b-ac93-6b58b2183988.png)
3- Support child camp 'camp4'
4-Login from another user and navigate to same topic and delegate your support to 'camp4'
5-Now come back to Canonizer Sorted Camp Tree and again

[2021-12-20 08:17] saniatg commented on #925
Tested and is working fine. @rupalichavan9860 Please confirm

[2021-12-20 08:37] rupalichavan9860 commented on #925
Tested and verified

[2021-12-20 08:40] rupalichavan9860 opened #1009 "Page crash on forgot password page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Click on Log in
3. Click on Forgot Password
4. Enter valid email address

Actual Result :  Getting below page crash

![image](https://user-images.githubusercontent.com/40416610/146737792-febcee68-4728-456d-8140-c683718df3fa.png)

[2021-12-20 08:55] rupalichavan9860 opened #1010 "Incorrect warning while supporting camp"
Please refer below screenshot

![image](https://user-images.githubusercontent.com/40416610/146739818-5721a107-f6f3-428c-8df6-4d606d42af3d.png)

[2021-12-20 11:12] rupalichavan9860 commented on #984
Not able to test this as getting page crash on forgot password page .Please refer #1009

[2021-12-20 11:48] saniatg commented on #831
@nalwa Button to remove and delegate support on camp pages is looking good but there is a case where buttons should not show for non logged in users.
When user directly supports a camp  : button 'Remove your support ' is seen which is correct , now copy the URL and logout the app.
Now paste the URL in other tab, non logged in user sees button as 'Delegate your support ' , which is incorrect . For

[2021-12-20 12:14] kshitij1326 commented on #1009
@rupalichavan9860  this was due to migration on staging server. Please check again.

[2021-12-20 12:14] kshitij1326 commented on #984
@rupalichavan9860  this was due to migration on staging server. Please check again.

[2021-12-20 12:51] rupalichavan9860 commented on #1009
Tested and verified. Working fine now

[2021-12-20 12:51] #1009 closed, assigned to kshitij1326

[2021-12-20 13:33] saniatg opened #1011 "Date format is different for Mac OS and for Windows for 'As of Date' filter"
1. Go to https://staging.canonizer.com/browse
2. Click on 'As of Date' on Mac OS date format is shown  as dd/mm/yyyy
3. & for windows the date format on 'As of date' is mm/dd/yyyy

Date format must be same
![Screenshot 2021-12-20 at 6 53 41 PM](https://user-images.githubusercontent.com/91254708/146773907-56a09e95-a562-4bc8-866f-a2f296f42ab7.png)

[2021-12-20 14:16] rupalichavan9860 opened #1012 "Getting page crash on Canonizer Main Page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Go to canonizer main page
3. Select "Mind Experts" algorithm from left panel
4. Observe result

Actual Result :
It is taking more time to load the page .Also page layout is getting disturbed with page crash at bottom of the page

Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/146780937-2d9

[2021-12-21 06:22] nalwa commented on #831
@saniatg  i will fix it.

[2021-12-21 06:29] rupalichavan9860 opened #1013 "Page crash on Remove support button"
Please refer below scenario :

![image](https://user-images.githubusercontent.com/40416610/146882151-2aa2f564-3a6c-4522-9d30-595eb0f1507c.png)

Getting below page crash when user "RC" click on "Remove your support" button

![image](https://user-images.githubusercontent.com/40416610/146882233-d7b04279-88a0-4242-8383-69005ca4bcf6.png)

[2021-12-21 07:46] Wajeeha1995 commented on #980
@rupalichavan9860 I have tested this ticket and the previous issue is fixed in which the user receives 5 different emails for each camp when user 2 removes delegated support from User 1

[2021-12-21 08:10] Wajeeha1995 commented on #980
@rupalichavan9860 I have 1 doubt in this

**Steps to reproduce :**

1. Login with **User 1** and Create new topic
2. Create 5 camps : "Camp 1", "Camp 2", "Camp 3", "Camp 4", "Camp 5" and support all 5 camps
![Image 1](https://user-images.githubusercontent.com/92429083/146892190-7a4c6b4b-dd82-4bbb-b9fb-b7e327def5fb.png)
3. Login with another user  **user 2** and delegate support to "user 1" in any

[2021-12-21 10:32] Wajeeha1995 commented on #988
@rupalichavan9860 Tested and verified on staging . You can move this to " Staging Approved "

[2021-12-21 10:46] saniatg commented on #965
Not fixed , still seeing normal pointer

[2021-12-21 10:53] saniatg commented on #971
@rupalichavan9860 tested and working fine. Please confirm

[2021-12-21 12:27] Wajeeha1995 commented on #966
@rupalichavan9860  Tested and verified on staging.You can move this to " Staging Approved "

[2021-12-21 12:31] saniatg commented on #1001
This issue is on browse page for 'As of date' for date which greater than 12 .

Go to https://staging.canonizer.com/browse
When choose date in 'As of filter' as 23/12/2022, then click on default , then again click on 'As of date'
Page will crash

[2021-12-21 14:13] saniatg commented on #995
@sunilspr7 Now error message is not showing BUT on click  'Submit' button it is not redirecting to the  list of all camps thread

[2021-12-21 14:22] saniatg opened #1018 "Validation error message missing on sign up page for password field"
1. Go to https://staging.canonizer.com/signup
2. Add all mandatory fields except Password, Confirm password & captcha
3. Now click on 'Submit' button

Issue 1-> Validation error message for 'Password' field is missing
Issue 2-> For  'Confirm Password' field error message is incorrect ->should be" ConfIrm password field is required "  NOT" The password field is required.

![Screenshot 2021-12-21 at

[2021-12-21 17:56] rupalichavan9860 commented on #850
Tested and verified

[2021-12-21 18:01] rupalichavan9860 commented on #971
Verified

[2021-12-21 18:07] rupalichavan9860 commented on #988
Tested and verified

[2021-12-21 18:22] rupalichavan9860 commented on #970
@kshitij1326 Still getting issue

![image](https://user-images.githubusercontent.com/40416610/146979594-8588a69e-c84b-4df5-8e5e-bb93fb81f359.png)

[2021-12-21 18:34] rupalichavan9860 opened #1019 "Incorrect topic name is displaying in removed delegated support email and camp name is missing"
Steps to reproduce :

1. Go to https://staging.canonizer.com/
2. Login with valid email and password(User A)
3. Create new topic and create new camp
4. Support camp
5. Login with another user(User B) and delegate support to User A
6. Remove delegate support
7. Observe emails of both users

User A(Direct Supporter) Email :
Please refer attached screenshot
![image](https://user-images.githubusercont

[2021-12-22 05:14] rupalichavan9860 commented on #966
Verified

[2021-12-22 05:30] rupalichavan9860 opened #1020 "As of date : Date format is displaying different after selecting date"
Note :  Device : Mac
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse
4. Select as of date as "1 dec 2021"
5. Click on as of date text box again and observe date

Expected  Result :  It should display selected date

Actual Result : It is displaying date as "12 jan 2021". Please refer attached screenshot

![image](https://user-images

[2021-12-22 05:34] rupalichavan9860 commented on #964
Tested and verified

[2021-12-22 06:23] rupalichavan9860 commented on #893
Tested and verified

[2021-12-22 07:19] rupalichavan9860 commented on #1019
Also Reena addressed this issue , as User B is a Delegated supporter the content  "You are receiving this e-mail because: You are directly supporting " should be removed from mail

@gautamv16 @BrentAllsop Can you please confirm

[2021-12-22 07:24] rupalichavan9860 commented on #1010
Not an issue

[2021-12-22 07:24] #1010 closed, assigned to kshitij1326

[2021-12-22 07:47] sunilspr7 commented on #995
@saniatg please confirm with @rupalichavan9860 . Because when we update title of thread then show title updated success message.

[2021-12-22 08:16] saniatg commented on #995
@sunilspr7 It is approved as discussed  with @rupalichavan9860 .

[2021-12-22 08:18] saniatg commented on #790
@nalwa not receiving the updated mails as discussed above .

[2021-12-22 09:33] akuks commented on #671
we are using mariadb and it is updated to the latest one

[2021-12-22 09:33] #671 closed, assigned to akuks

[2021-12-22 09:36] akuks commented on #645
@rupalichavan9860 Can you test this whenever you get some time

[2021-12-22 12:49] saniatg opened #1023 "Page Crash when session expires on Edit thread page"
When user is on edit thread page and the application is left idle then after sometime on click 'List of All Threads Camps' link page crashes.

User must be redirected to login after session expires.

![Screenshot 2021-12-22 at 6 18 30 PM](https://user-images.githubusercontent.com/91254708/147095242-f3ee63f5-2f9a-4be2-8325-1d347b0f9201.png)

![Screenshot 2021-12-22 at 4 09 44 PM](https://user-image

[2021-12-22 13:18] rupalichavan9860 opened #1024 "Promoted to a direct supporter mail is broken"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/147098712-cc7a94b5-c3b3-42e9-bd22-87ab304d9dfe.png)

Spelling of "Promoted" is displaying incorrect in subject i.e "promted"

[2021-12-22 14:09] sunnyjindal commented on #790
Subject 1 : You have been promoted as a direct supporter for Camp - [Camp Name]
Subject 2: Your support has been delegated to [yyy nickname] for Camp - [Camp Name]

@nalwa

[2021-12-23 03:10] rupalichavan9860 opened #1025 "Delegated support is not getting removed from agreement camp when their direct supporter supports child camp"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create topic with User A(Support is getting added to agreement camp)
4. Login with another user "User B" and delegate support to User A in Agreement camp
5. log out and login with "User A" and create new camp under agreement camp and support it

Actual Result :
User B is now direct supporter of a

[2021-12-23 03:15] rupalichavan9860 commented on #1025
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/147182630-78af6a07-ddfc-4d65-94a0-4c2b6bc65009.png)

[2021-12-23 09:32] rupalichavan9860 opened #1026 "Incorrect preference number displaying when delegated supporter promoted as direct supporter"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic and create 3 camps under topic
4. Support all 3 camps by User A
5. Login with User B and delegate support to User A
6. Login with User A
7. Go to manage support and click on Remove all and click on submit

User B is promoted as a direct supporter in one camp but preference number

[2021-12-23 17:55] rupalichavan9860 commented on #984
Tested and verified

[2021-12-23 17:55] #984 closed, assigned to kshitij1326

[2021-12-24 05:37] rupalichavan9860 opened #1028 "Delegated supporter is not getting promoted as a direct supporter when direct supporter removes their support from all camps"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password(User A)
3. Create new topic and create new camp (Camp 1)
4. Support Camp 1(By User 1)
5. Logout and login with 4-5 different users and delegate support like below

![image](https://user-images.githubusercontent.com/40416610/147320715-f05b7b11-5fd0-46fd-b5db-9dff6c10449b.png)

6. Now Login with User

[2021-12-24 07:05] saniatg commented on #1018
Please note :All validation messages of password fields are displaying after confirm password field.  Validation messages for the particular fields must be displayed below that fields only.
![Screenshot 2021-12-24 at 12 24 27 PM](https://user-images.githubusercontent.com/91254708/147327550-f322bc66-6b0f-4baa-86ad-42c06c47d174.png)

[2021-12-24 08:26] nalwa commented on #1028
@rupalichavan9860  Issue is :- delegated supporter is not getting promoted as direct supporter for all camps when direct supporter is removing support from all camps at once (same time by selecting remove all). In that case its only promoted as direct supporter for one camp.
I am working on it.

[2021-12-24 09:51] sunilspr7 commented on #982
@saniatg  and @rupalichavan9860  I have changed this message "No threads available for this topic " to  "No top 10 threads available for this topic"
because in top 10 thread show based on condition, if  thread have any replies then show in top 10 list.

[2021-12-24 10:26] nalwa commented on #790
@saniatg  please re-test for emails, broken emails are also fixed.

[2021-12-24 10:26] #790 closed, assigned to nalwa

[2021-12-24 11:46] rupalichavan9860 commented on #645
@akuks @BrentAllsop I have tested and working fine now. I can see codes on edit page

![image](https://user-images.githubusercontent.com/40416610/147350089-8b1f9bc9-cff2-48b8-91cd-d55343b47f93.png)

@BrentAllsop Can you please confirm and close?

[2021-12-24 12:20] rupalichavan9860 commented on #831
Tested and verified

[2021-12-24 13:31] saniatg opened #1033 "Shows a blank camp statement history page for agreement page with only status labels"
URL- https://staging.canonizer.com/statement/history/276/1

Trying  to reproduce the issue.

![Screenshot 2021-12-24 at 6 22 32 PM](https://user-images.githubusercontent.com/91254708/147356122-f0315509-4e59-469c-82c0-4b2c277d7873.png)

[2021-12-27 08:21] Wajeeha1995 opened #1034 "Long Text in the Camp Text field is overlapping the "Undo" button Text and remove icon"
Steps to reproduce :

Login with User A and Create new topic
Create camp (with Lengthy name)
Support This camp
You will notice that remove icon overlapping with camp name
Same case when user remove any support "Undo" text overlapping with camp name
![Design Bug 2](https://user-images.githubusercontent.com/92429083/147451242-97305901-1960-40cd-9aae-14ba3913548c.png)
![Design Bug](https://user-image

[2021-12-27 08:50] rupalichavan9860 commented on #1013
Tested and verified

[2021-12-27 08:59] rupalichavan9860 commented on #974
Tested and verified

[2021-12-27 09:28] Wajeeha1995 commented on #1025
@rupalichavan9860 Tested,for me it's working . You can move this ticket to " staging approved "

[2021-12-27 09:38] rupalichavan9860 commented on #1025
Tested and verified

[2021-12-27 10:44] rupalichavan9860 commented on #858
Tested and verified

[2021-12-27 11:00] rupalichavan9860 commented on #864
Tested and verified

[2021-12-27 11:06] rupalichavan9860 commented on #1012
As of now it is working fast than previous with no page crash

[2021-12-27 11:13] rupalichavan9860 commented on #1024
Tested and verified

[2021-12-27 11:25] anilPodi commented on #1018
Validations for password and captcha are working but where as confirm password is not displaying error message.
And also displays the following in password validation field (The password confirmation does not match.) this need to be changed to confirm the password field.

after giving the correct password and wrong confirm password, this (The password confirmation does not match.) displaying for 3

[2021-12-27 11:35] rupalichavan9860 opened #1036 "Mobile devices : Submit button on Edit thread page is not inline with other fields"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/147467912-47898540-6b1c-4b8e-87b1-77adb56245e5.png)

[2021-12-27 11:36] rupalichavan9860 commented on #997
This issue is fixed, but found another layout issue in smaller devices so added new new for this #1036

[2021-12-27 12:03] rupalichavan9860 commented on #1007
Tested and verified

[2021-12-27 12:08] anilPodi commented on #982
Tested and verified

[2021-12-27 12:22] rupalichavan9860 commented on #965
Tested and verified

[2021-12-27 12:28] anilPodi commented on #996
tested and verified

[2021-12-27 12:39] anilPodi commented on #996
tested with different scenarios( with edit and without edit on different threads and its redirecting to LIst of All Camp Threads.

[2021-12-27 12:50] anilPodi commented on #993
Tested and Verified. Working fine. Accepting only Alphabets and Numbers, taking no special characters.

[2021-12-27 13:24] rupalichavan9860 commented on #993
Tested and verified

[2021-12-27 13:26] rupalichavan9860 commented on #996
Verified

[2021-12-27 13:30] rupalichavan9860 commented on #982
Verified

[2021-12-27 13:32] rupalichavan9860 commented on #970
Tested and verified

[2021-12-27 14:23] rupalichavan9860 opened #1037 "Incorrect warning while supporting sibling camp"
Steps to reproduce :

1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic, create new camp (camp 1) and create camp hierarchy like below

![image](https://user-images.githubusercontent.com/40416610/147479851-7b561bb2-a695-472a-aa5f-ac044db56316.png)

4. Support last sub camp(User is now supporting sub camp 3 )
5. Create Another camp under Agreement ca

[2021-12-27 14:39] rupalichavan9860 commented on #1028
Tested and verified

[2021-12-28 06:14] Wajeeha1995 opened #1038 "Getting page crash on 3 history pages when user agree to topic / camp / statement change"
![Screenshot 2021-12-28 at 11 31 27 AM](https://user-images.githubusercontent.com/92429083/147534233-5ff2c056-0083-4273-a1f8-c03e0a9aa749.png)

[2021-12-28 06:18] rupalichavan9860 commented on #222
Still getting results from https://production.canonizer.com

![image](https://user-images.githubusercontent.com/40416610/147534509-6051afd2-e8ab-41b5-8acf-97b63d394725.png)

[2021-12-28 10:48] rupalichavan9860 commented on #1033
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with User A
3. Create New topic(Support getting added for Agreement camp)
4. Log out and login with User B
5. Support Agreement camp
6. Click on "Add Camp Statement" and do not commit changes
7. Log out and Login with User A again
8. Click on Manage/Edit Camp Statement
9. Observe page

[2021-12-28 11:17] saniatg commented on #1037
Also I found another issue where warning message is not showing.
Case: When a delegated user tries to support a camp directly, in this case warning message is not showing

[2021-12-28 11:46] rupalichavan9860 commented on #241
Tested and verified

[2021-12-28 11:46] #241 closed, assigned to nobody

[2021-12-28 11:50] rupalichavan9860 commented on #772
Tested and verified

[2021-12-28 12:01] rupalichavan9860 commented on #914
Working fine now so closing this issue

[2021-12-28 12:01] #914 closed, assigned to nobody

[2021-12-28 12:03] rupalichavan9860 commented on #911
As of now not able to reproduce this so closing this issue

[2021-12-28 12:03] #911 closed, assigned to karun0607gautam

[2021-12-28 13:55] nalwa commented on #954
@rupalichavan9860  it is fixed  from my side, please re-test once and verify
Thanks!

[2021-12-29 07:36] rupalichavan9860 commented on #954
@nalwa Still user is not receiving delegated support added email when another user delegate their support

[2021-12-29 14:03] rupalichavan9860 commented on #951
Tested . Still changes are visible in below scenarios :
Pre-condition :  Submit change by User(Who is not a supporter or topic/camp submitter)
1. Submit some changes in camp statement/camp/topic and do not commit changes and Logout ->without logging in go to Topic History/Camp History/Camp Statement History pages and changes are visible (even if not committed yet)
2. Submit some changes in camp st

[2021-12-30 05:13] rupalichavan9860 commented on #1038
Tested and verified

[2021-12-30 06:10] rupalichavan9860 opened #1045 "Incorrect score / "Total Support for This Camp" and incorrect choice/preference number for old records"
Please refer attached screenshot :
1. Incorrect score / "Total Support for This Camp"
![image](https://user-images.githubusercontent.com/40416610/147726107-b72ed81e-26bd-48d9-9478-5339ed4e46a8.png)

2. Incorrect choice/preference number
![image](https://user-images.githubusercontent.com/40416610/147726266-c3c17df1-f5ce-46cc-841c-8e1b9b75ce9b.png)

[2021-12-30 06:39] rupalichavan9860 commented on #1038
Tested and verified

[2021-12-30 10:41] rupalichavan9860 opened #1046 "Include review filter is not working on Browse page"
Please refer attached screenshot of Include review of Canonizer main page and Browse page

Canonizer main Page :
![image](https://user-images.githubusercontent.com/40416610/147744510-49e48e77-1e7d-4a25-ac69-f3afd76af5f9.png)

Browse Page :

![image](https://user-images.githubusercontent.com/40416610/147744569-549c4718-52cf-4a24-bf21-4a15ec2c018d.png)

[2021-12-31 11:23] saniatg opened #1047 "Page crash when upload pdf file of 19.9 MB"
When trying to upload a pdf file of 19.9 MB . Page crashes instead  should give validation  message

![Screenshot 2021-12-31 at 4 03 27 PM](https://user-images.githubusercontent.com/91254708/147820731-9ae46932-d390-4ec9-bd7a-088c0a8ee871.png)

[2022-01-03 08:26] Wajeeha1995 commented on #1034
@rupalichavan9860 Tested and verified . You can move this to "staging approved "

[2022-01-03 08:41] Wajeeha1995 commented on #908
@rupalichavan9860 Tested and verified . You can move this to " Staging Approved "

[2022-01-03 09:14] rupalichavan9860 commented on #908
Verified

[2022-01-03 09:28] saniatg commented on #1018
Verified and is working fine

[2022-01-03 09:29] anilPodi commented on #1019
when  I checking (Login with another user(User B) and delegate support to User A). this is how the screening is displaying even after refresh.

![Screenshot from 2022-01-03 14-46-14](https://user-images.githubusercontent.com/96222726/147915754-82b9f53f-b414-40e5-a8e9-628d57640f06.png)

[2022-01-03 09:30] rupalichavan9860 commented on #1034
Verified

[2022-01-03 09:33] rupalichavan9860 commented on #1019
@nalwa Getting this email screen while adding and removing support/delegated support

![image](https://user-images.githubusercontent.com/40416610/147916132-645207ff-7547-48d0-a0f5-43194ec10d9c.png)

![image](https://user-images.githubusercontent.com/40416610/147916175-cc9a4eba-9a4c-4dd0-a536-12eca4e152ec.png)

[2022-01-03 09:36] rupalichavan9860 commented on #1018
Verified

[2022-01-03 13:46] saniatg commented on #1023
Verified and working fine

[2022-01-03 22:26] BrentAllsop opened #1051 "The supports page needs to include an as_of block."
The [supports page](https://canonizer.com/user/supports/188) needs an as_of block on the side bar, like most other pages.  (don't need a canonizer algorithm block)
We need to be able to find out what people supported at various times in the past.  User 188 recently removed all his many supports, as of today, need to be able to find out what camps he supported, before this action.

[2022-01-04 08:57] anilPodi commented on #1026
Working fine but getting emails screen

[2022-01-04 09:07] rupalichavan9860 commented on #1023
Verified

[2022-01-04 09:27] rupalichavan9860 opened #1052 "Incorrect URL is displaying on Browse page when user is selecting another namespace from drop down"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Click on Browse
4. Select any namespace (e. g /Genera/l ) -- URL will be "https://staging.canonizer.com/browse?namespace=1"
5. Select any namespace (e. g /General/ ) and click on Only My Topics-- URL will be "https://staging.canonizer.com/browse?namespace=1&my=1"
6. Now change namespace (e. g sel

[2022-01-04 11:16] rohit-talentelgia commented on #1026
@anilPodi

Kindly share the screenshot of the issue.

[2022-01-04 11:21] anilPodi commented on #1026
![Screenshot from 2022-01-03 15-36-11](https://user-images.githubusercontent.com/96222726/148051574-8a511765-8775-403a-84ff-0a72dc8391ce.png)

[2022-01-04 13:33] saniatg opened #1054 "File Upload-> Validation message is not showing correctly for valid file formats which are greater than 5MB"
When uploading a JPEG file  greater than 5MB . The validation message shows "Error! The file failed to upload." But it should show "Error! The file may not be greater than 5120 kilobytes."
Working fine on Production but not on Staging.

![Screenshot 2022-01-04 at 7 00 02 PM](https://user-images.githubusercontent.com/91254708/148066595-4086f6c2-7a6f-430f-a8c4-5470efb02d8f.png)

![Screenshot 2022-01

[2022-01-04 16:30] BrentAllsop opened #1055 "Admin shares page needs to be able to select all available months."
![image](https://user-images.githubusercontent.com/6559312/148091473-18241405-5d60-4e68-83ea-aa37737a08b1.png)

As you can see, there is only the latest month selectable.
We need to be able to select all available months.

[2022-01-04 16:58] BrentAllsop commented on #1055
And the nick name entries in the shares columns, should be links to those nick names.

[2022-01-04 17:14] BrentAllsop commented on #1055
Also, if there is no share data entered for the current as_of month, the canonizer share algorithm shows 0 shares.
It should, instead, show the most recent share record, even if that is many months old.
If there is no share change, for a month, we should not be required to add another record for that month.

[2022-01-05 06:21] rupalichavan9860 opened #1056 "Page crash on shares page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/admin
2. Login with valid email and password
3. Click on Shares link
4. Click on any Page no from 2 to 10
5. Select Month January 2022 and again click on Select Month
6. Click on any Page no from 2 to 10

Actual Result : Getting below page crash

![image](https://user-images.githubusercontent.com/40416610/148169886-f8039ac3-16d2-4916-86fc

[2022-01-05 07:40] rupalichavan9860 commented on #1019
Also getting below page crash on reloading page

![image](https://user-images.githubusercontent.com/40416610/148178836-f41ca0be-01a4-4d53-b8ee-7b39b82163b1.png)

[2022-01-05 17:59] BrentAllsop opened #1059 "Include the "Edit Summary" field in all emails about camp changes."
The "**Edit Summary**" field is not being include in at least the change to topics.  And it needs to be clear that this entry in the email, matches the "**Edit Summary**" field on the submitted proposed change.

And we should enumerate changes to fields in the e-mail, other than "statement" changes.
The changes (except for the statement changes) should also be included in the e-mail to the author

[2022-01-06 06:49] saniatg commented on #1052
@karun0607gautam While testing this issue came across a scenario where the URL is not changing.
I clicked on namespace 'Crypto_currency" which is at 3rd level from drop down, then checked the check box for 'MY TOPIC' , then  I changed the namespace to 'All' the URL WAS NOT CHANGED.
![Screenshot 2022-01-06 at 12 17 29 PM](https://user-images.githubusercontent.com/91254708/148341111-b4dd8ed5-e0a8-40

[2022-01-06 09:33] rupalichavan9860 commented on #1056
Tested and verified

[2022-01-07 07:27] saniatg commented on #1001
@HamzaBinMansoor Still getting page crash macOS Monterey.
![Screenshot 2022-01-07 at 1 31 52 PM](https://user-images.githubusercontent.com/91254708/148511697-cdac5f93-f1ab-4ce6-b754-b2190eaca691.png)

[2022-01-07 07:31] saniatg commented on #1011
@HamzaBinMansoor The date format still shows dd/mm/yyyy in mac.  Should be mm/dd/yyyy
![Screenshot 2022-01-07 at 1 00 19 PM](https://user-images.githubusercontent.com/91254708/148508152-5e50be56-0073-42d2-9261-007195b5d157.png)

[2022-01-07 07:33] anilPodi commented on #1019
@rupalichavan9860 working fine for me, please check and confirm.

[2022-01-07 07:37] rupalichavan9860 commented on #1020
@HamzaBinMansoor Issue is not fixed yet

[2022-01-07 09:52] Wajeeha1995 commented on #1036
@rupalichavan9860 This is fixed .You can move this to " Staging Approved "

[2022-01-07 10:09] rupalichavan9860 commented on #954
@nalwa User is not receiving removed delegated support email

[2022-01-07 10:10] rupalichavan9860 commented on #1019
Verified

[2022-01-07 10:32] Wajeeha1995 commented on #1037
@rupalichavan9860 I have tested above mentioned scenarios and they are fixed now. You can move this to " Staging Approved "

[2022-01-07 10:35] rupalichavan9860 commented on #1036
Verified

[2022-01-07 11:29] Wajeeha1995 commented on #979
@rupalichavan9860 I have tested this . It is fixed now. You can move this to " Staging Approved "

[2022-01-07 11:42] rupalichavan9860 commented on #979
Verified

[2022-01-07 12:18] rupalichavan9860 opened #1061 "Incorrect warning displaying when supporting newly created camp"
Steps to reproduce :
1. Login to canonizer with valid email and password
2. Select any topic and create new camp
3. Click on View this version
3. Click on "Directly Join and support"

Note : Sometimes previous datetime filter is getting applied even after click on view this version

Actual Result :
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/148541

[2022-01-07 13:02] rupalichavan9860 commented on #1046
Tested and verified

[2022-01-07 13:29] rupalichavan9860 commented on #1037
This is not working in below scenario :
![image](https://user-images.githubusercontent.com/40416610/148550232-209a4e5c-6665-4ab2-9b8d-8c26d0a2f6e8.png)

"Rupali N" is delegating support to "Rupali cano" in this 2 camps "camp 1" and "camp 3"
Now trying to support third camp "camp 2" directly (Who have no supporters see below )
![image](https://user-images.githubusercontent.com/40416610/148550523-1a

[2022-01-10 05:28] rupalichavan9860 opened #1062 "Whenever user creates a new topic/camp/statement , user should redirect to Topic view page"
Actual Result : As of now when user creates a new topic/camp/statement , user is redirecting to respective history pages

Expected Result : Whenever user creates a new topic/camp/statement , user should redirect to Topic view page instead of history page

[2022-01-10 11:32] anilPodi opened #1063 "Logged in with register email ID and incorrect password"
Logged in with register email ID and incorrect password more than 3 times does not displaying proper error message"too many login attempts, please try after 60 seconds"

[2022-01-11 06:41] rupalichavan9860 commented on #980
Not able to check removed delegated email as user is not receiving it, Will check after fix #954

[2022-01-11 07:11] saniatg opened #1067 "Account Settings page->There should be pagination for Nick Names"
Currently I have added 21 nick names and there is no Pagination. For better user experience we can add pagination after certain records.
![Screenshot 2022-01-11 at 12 41 18 PM](https://user-images.githubusercontent.com/91254708/148897133-a3371b27-3781-4db2-851f-1e4b46d0b7fd.png)

[2022-01-11 09:23] rupalichavan9860 opened #1068 "Do we need "Submit" and "Cancel" buttons 2 times while supporting camp"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/148915724-6b078674-d0b4-42ae-89c9-8dd1dc370d9d.png)

[2022-01-11 09:37] anilPodi opened #1069 "Do we need Auto Suggestions while searching?"

[2022-01-11 12:54] rupalichavan9860 opened #1070 "Page crash on "Camp Forum" and "Add Camp Statement" button click"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create a new topic
4. Click on "View This Version"
5. Click on "Camp Forum" and "Add Camp Statement"

Actual Result :
Getting below page crash

![image](https://user-images.githubusercontent.com/40416610/148946186-f2686796-5eae-41b6-b107-2b23fb4a0644.png)

[2022-01-11 13:01] saniatg opened #1071 ""My topics" check box is not working on browse page ."
1. Navigate to https://staging.canonizer.com/browse
2. Check the check box" My Topics"

My topics are seen instead all are showing after checking the check box which is incorrect.
![Screen Shot 2022-01-11 at 6 19 06 PM](https://user-images.githubusercontent.com/91254708/148947153-5f0af334-4bdf-4b94-8f3d-273494fd53b9.png)

[2022-01-12 12:40] rupalichavan9860 opened #1072 "Camp History page is displaying blank"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create New topic
4. Click on "View This Version"
5. Click on "Manage/Edit Camp" and observe page

OR

3. Select any old topic(Who have only Agreement Camp)
4. Click on  "Manage/Edit Camp" and Click on "View This Version"
5. Again Click on "Manage/Edit Camp" and observe page
6.
Actual Result :
Cam

[2022-01-12 12:48] rupalichavan9860 opened #1073 "Page crash on Remove Support button"
Steps to reproduce :

1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create a new topic
4. Click on "Manage/Edit This Camp"(Agreement Camp)
5. Click on "View This Version"
6. Click on "Remove Your Support"

Actual Result :
Getting below page crash
![image](https://user-images.githubusercontent.com/40416610/149143315-0ae595cf-9ba7-4763-a180-2b8fae5d8a3d.png)

[2022-01-12 12:56] rupalichavan9860 opened #1074 "User is able to support both Agreement camp and child camp"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create a new topic(Support get automatically added to Agreement Camp)
4. Create new camp "camp 1"
5. Click on "View This Version"
6. Click on "Directly Join and Support"
7. Click on "Submit"

Actual Result :
Support is getting added to child camp also
![image](https://user-images.githubuserconten

[2022-01-12 13:09] saniatg commented on #1074
Also, same cam is being supported twice. Check screenshot Agreement camp is seen twice. In supported camp the number is seen 3 for agreement. 2nd  is missing .
![Screenshot 2022-01-12 at 6 24 54 PM](https://user-images.githubusercontent.com/91254708/149146258-6f5dd636-e0ae-480a-ad80-d33369415c42.png)
![Screenshot 2022-01-12 at 6 38 08 PM](https://user-images.githubusercontent.com/91254708/14914629

[2022-01-13 05:39] rupalichavan9860 commented on #1055
@karun0607gautam @BrentAllsop If I forgot to enter shares for dec 2021 and want to enter it now , but it is not allowing and giving error message "The as of date must be a date after or equal to 2022-01-01."

Is this fine?

[2022-01-13 08:02] rupalichavan9860 commented on #924
Tested and verified

[2022-01-13 08:02] anilPodi commented on #924
@rupalichavan9860 this is working fine for me.
![Screenshot from 2022-01-13 12-53-35](https://user-images.githubusercontent.com/96222726/149287750-7fd682ce-f2b8-4edd-9c59-dfd185c60d0d.png)

[2022-01-13 08:43] rupalichavan9860 commented on #1037
@nalwa I found some minor issues in emails :
1 . Need to remove camp name from delegated support email . Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/149295335-86399306-2022-4dd8-8ad0-94a197288f9f.png)

2. Link to nick names are missing in old emails

![image](https://user-images.githubusercontent.com/40416610/149295609-776fd28c-53d0-4c76-99a8-92b22

[2022-01-13 08:45] rupalichavan9860 commented on #954
@nalwa I found some minor issues in emails :
1 . Need to remove camp name from delegated support email . Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/149295335-86399306-2022-4dd8-8ad0-94a197288f9f.png)

2. Link to nick names are missing in old emails

![image](https://user-images.githubusercontent.com/40416610/149295609-776fd28c-53d0-4c76-99a8-92b22

[2022-01-13 09:23] rupalichavan9860 commented on #1037
Tested and verified

[2022-01-13 10:14] rupalichavan9860 commented on #973
Tested and verified

[2022-01-13 12:39] saniatg opened #1075 "Duplicate camp is being created when click on 'Create camp' button twice"
1. Navigate to any topic or create new one.
2. Now try to create a new camp , enter all the details.
3. Click 'Create Camp' button twice

The camp will be created twice with the same name which is incorrect.
![Screenshot 2022-01-13 at 5 48 31 PM](https://user-images.githubusercontent.com/91254708/149331668-7bbec211-1237-4575-b029-bd489efe07ae.png)

[2022-01-14 06:53] rupalichavan9860 opened #1076 "Support is getting removed when changing parent camp"
Steps to reproduce :
1. https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic and create 2 camps (By User A) and support both camps
4. Login with User B
5. Change Parent camp of "camp 1" to "camp 2" from "Agreement"
6. Click on Submit and Click on Commit changes(It will be "In Review")

![image](https://user-images.githubusercontent.com/40416610/149464532-8836e0

[2022-01-14 08:13] anilPodi commented on #992
@rupalichavan9860 Not fixed in error messages except in tooltips.
![Screenshot from 2022-01-14 13-24-56](https://user-images.githubusercontent.com/96222726/149473838-f844e1b9-4612-4632-a685-bf6af214e48f.png)
![Screenshot from 2022-01-14 13-25-40](https://user-images.githubusercontent.com/96222726/149473841-a2fc5a93-9e35-4012-a898-4dfc96aff716.png)
![Screenshot from 2022-01-14 13-28-05](https://use

[2022-01-14 08:14] anilPodi commented on #992
![Screenshot from 2022-01-14 13-44-07](https://user-images.githubusercontent.com/96222726/149474029-042d09bb-6db3-4b04-b753-0721bd029a62.png)

[2022-01-17 02:56] BrentAllsop commented on #1055
I think it would be good to be able to enter and edit any dates at any time.

[2022-01-17 04:42] anilPodi commented on #992
@rupalichavan9860 working fine in all 3 scenarios. The word "at least" works fine in all error messages and tooltips.
![Screenshot from 2022-01-17 09-43-56](https://user-images.githubusercontent.com/96222726/149709076-a0a30892-69d0-4ddc-9ec9-55399e02ecea.png)
![Screenshot from 2022-01-17 09-47-45](https://user-images.githubusercontent.com/96222726/149709082-c11ae4d3-0e22-4f60-921f-e90f59738b6f.png

[2022-01-17 04:43] rupalichavan9860 commented on #992
Tested and verified

[2022-01-17 05:21] saniatg commented on #1033
Now the empty page is not showing , instead a message "No statement history available or it might be possible a user has added a statement but it is in review state". is showing.
@BrentAllsop if you can kindly confirm whether the message is correct or need changes.
![Screenshot 2022-01-17 at 10 24 10 AM](https://user-images.githubusercontent.com/91254708/149712613-71438d88-1812-4d41-b5a9-51819c557

[2022-01-17 11:08] rupalichavan9860 opened #1077 "Incorrect support score is displaying when selecting "Mind Experts" Algorithm"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/149757816-f88ced5c-91ed-403d-bc3f-f93df116c5b6.png)

Rupali C's score for above 3 camps are 0.50, 0.25 and 0.13 when selecting "One Person One Vote"
1. "Ashutosh Kukreti" Camp

![image](https://user-images.githubusercontent.com/40416610/149758087-04615b8e-cc42-4aff-84e7-226dc5db4021.png)

2. "Rupali Chava

[2022-01-17 12:10] saniatg opened #1078 "Page crash when deleting the news"
1. Log in with USER A and USER B on different browsers.
2. User A  created a topic and a camp and added news and is on canoniser sorted camp tree page and can see the news added.
3. Now login User B on different browser and navigate to the topic created by User A and delete the news .
4. Now since the page is not refreshed for USER A click on delete news , page crashes

Firstly the page must not c

[2022-01-17 12:25] saniatg commented on #951
Also, email is being send after proposing change to statement for a camp before committing changes .  User has not commit the changes for the statement yet the email is being sent.

[2022-01-17 12:48] rupalichavan9860 commented on #1078
"Delete News" should be visible only to the logged in users

[2022-01-17 12:48] rohit-talentelgia commented on #1033
@sunnyjindal @dakshiffort , kindly look into this ticket.

[2022-01-17 13:54] saniatg opened #1081 ""nick names" in emails should be a link showing the supports for that nick name."
Mentioning the emails  subject for which nick name  links are missing :

1. [Nick name] has added their support to the [camp_name]
![Screenshot 2022-01-17 at 5 17 11 PM](https://user-images.githubusercontent.com/91254708/149779516-0e6498a8-d9d9-4d71-a570-e1cd5c639c6d.png)
2. [Nick name] has removed their support from [camp_name]
![Screenshot 2022-01-17 at 7 13 59 PM](https://user-images.githubuser

[2022-01-18 03:28] sunnyjindal opened #1082 "Provision to stop emails on test instances"
Right now emails are going out from all the instances. We should have a provision of using the sandbox something like mailtrap in test instances.

@BrentAllsop what do you think?

[2022-01-18 03:30] sunnyjindal opened #1083 "Send emails via Job"
Right now it is taking a lot of time for the page to load while the system is sending an email. We should rather dispatch all emails via job.

[2022-01-18 05:44] saniatg opened #1084 "'To' in the mail is empty for a thread created /post add emails"
Created a thread. In the mail for the submitter 'To' field is empty .
Same case when post is added.
![Screenshot 2022-01-18 at 11 09 17 AM](https://user-images.githubusercontent.com/91254708/149877882-19f51039-e1d1-438b-b947-45ab046088b1.png)

[2022-01-18 06:44] sunilspr7 commented on #1001
@saniatg  and @rupalichavan9860  this ticket related to #1070 and ticket #1070 solved. so please test and let me know.

[2022-01-18 06:45] sunilspr7 commented on #1011
@saniatg and @rupalichavan9860 this ticket related to #1070 and ticket #1070 solved. so please test and let me know.

[2022-01-18 06:46] sunilspr7 commented on #1020
@saniatg and @rupalichavan9860 this ticket related to #1070 and ticket #1070 solved. so please test and let me know.

[2022-01-18 06:54] saniatg commented on #1001
Crash issue is resolved on mac and is working fine .

[2022-01-18 07:43] anilPodi commented on #1070
@rupalichavan9860 Working for me, No page crash,
![Screenshot from 2022-01-18 11-43-51](https://user-images.githubusercontent.com/96222726/149892272-445b70ab-ea7a-4228-ab1b-a7e57fd639d0.png)
Please verify

[2022-01-18 07:45] anilPodi commented on #1070
![Screenshot from 2022-01-18 11-44-08](https://user-images.githubusercontent.com/96222726/149892752-ea51e008-28af-444a-a998-f26dc2e131d8.png)

[2022-01-18 07:47] anilPodi commented on #1073
@rupalichavan9860 Working fine for me, No page Crash, Please Verify
![Screenshot from 2022-01-18 11-48-53](https://user-images.githubusercontent.com/96222726/149892977-ad052bab-7c7f-41f0-93d2-be5bfa7f06b5.png)

[2022-01-18 08:56] Wajeeha1995 commented on #954
@rupalichavan9860 Getting 2 different emails for adding delegate support
![Imgae 1](https://user-images.githubusercontent.com/92429083/149903615-eeccb891-ee59-4bf6-992e-0facf9e354cc.png)
![Image 2](https://user-images.githubusercontent.com/92429083/149903641-63625328-d0a1-4c1e-a8eb-c01c4c7bd845.png)

[2022-01-18 16:39] rupalichavan9860 commented on #1073
Tested and verified

[2022-01-18 16:41] rupalichavan9860 commented on #1070
Tested and verified

[2022-01-18 16:52] rupalichavan9860 commented on #1001
Tested and verified

[2022-01-18 16:56] rupalichavan9860 commented on #1020
Verified

[2022-01-18 16:57] rupalichavan9860 commented on #1011
Verified

[2022-01-18 16:59] rupalichavan9860 commented on #1052
Tested and verified

[2022-01-18 17:21] rupalichavan9860 opened #1085 "Delegated support is getting removed when supporting parent/child camp"
Case 1 :
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic and create new camp "Camp 1" and support it By "User A"
4. Login with "User B" and delegate support to "User A"
5. Login with "User C" and delegate support to "User B"
6. Login with "User A" and support "Agreement" camp

Actual Result :
"User C"s support is getting remov

[2022-01-19 07:26] saniatg opened #1086 "Camp name must be same . If used first alphabet as small then it should be in small ."
Created camp with name 'camp1' small letter 'c', but in header shows' Camp1' . 'C' is shown as capital which is incorrect, should be 'camp1' as added by the user.

![Screenshot 2022-01-19 at 12 38 45 PM](https://user-images.githubusercontent.com/91254708/150083799-3bf5508c-f6f5-4257-b14b-1492db003315.png)

[2022-01-19 07:39] Wajeeha1995 opened #1087 "Getting 2 different emails for adding delegate support"
Getting 2 emails ,one with delegated their support to WAJEEHA KHAN in this topic
![screenshot-mail google com-2022 01 19-11_31_44](https://user-images.githubusercontent.com/92429083/150085497-deed0796-325b-4a45-9ea0-ea1effedce45.png)
and other with delegated their support to you in this topic
![Image 2](https://user-images.githubusercontent.com/92429083/150085516-eac0756c-9150-4208-9f93-0350cf2f2f

[2022-01-19 08:22] saniatg opened #1088 "Crash when remove support"
Log in with 3 users in 3 different browsers
User A -Create a topic and a camp
User B- Directly supports a camp
User C- Delegates support to User B for the camp

Now User B delegates support  to User A in Agreement Camp
Refresh all the URL's for all users
User B removes delegate support given to User A in Agreement camp
Log in with User C, click  on Agreement Camp and click on button'Remove Support

[2022-01-19 09:03] rupalichavan9860 opened #1089 "Incorrect Total support count is displaying"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/150098207-0a5b085e-0abf-4db8-ae40-132174798548.png)

[2022-01-24 02:55] sunnyjindal commented on #1033
There is no statement history available right now. It may also be possible that a statement has been added, but it is in a review state. @rohit-talentelgia @saniatg

[2022-01-24 04:02] CanonizerJim commented on #1059
"We request that all direct supporters of a camp continue to receive notifications and take responsibility for the camp. If you delegate your support to someone else, you will no longer receive these e-mails. Delegating your support to someone else will also result in your support following them for all camps in this topic."

This is the language I support.

[2022-01-24 04:15] dakshiffort commented on #1059
I agree with @CanonizerJim - @BrentAllsop

[2022-01-24 04:33] gautamv16 opened #1091 "Add email section in admin to set up testing emails for environments other than staging"
- add an email section in admin
- emails added in that section will get all the email from staging environment

[2022-01-24 05:04] rupalichavan9860 opened #1092 "Newly created camp is not listing under "Canonizer Sorted Camp Tree""
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/150725049-f1bb29b6-d430-47c1-baf6-c820ee2d5f10.png)

Camp is visible after reloading page

[2022-01-24 05:25] rupalichavan9860 commented on #954
Created new ticket for last commented issue so moving this to staging approved

[2022-01-24 05:53] rupalichavan9860 opened #1094 "Incorrect nickname is displaying in removed delegated support email"
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/150729224-4b8a25ec-b482-4052-8e5e-ff462a9f0b85.png)

[2022-01-24 06:08] saniatg commented on #1087
The same issue is also when remove the delegated support.

[2022-01-24 06:51] rupalichavan9860 opened #1095 "Choice numbers are getting changed when user click on "Remove All" button"
Screenshot before clicking on "Remove All"
![image](https://user-images.githubusercontent.com/40416610/150735253-da0e46f1-274b-474b-a448-06f5e2837815.png)

Screenshot after clicking on "Remove All"

![image](https://user-images.githubusercontent.com/40416610/150735324-1f77bba1-dad0-4ddb-84e1-dfd170530147.png)

[2022-01-24 09:52] gautamv16 commented on #1091
Following part need to implement in this feature.

1. Create a section in admin panel where test user name and email can be added.

2. Then those test email will be used in other then production environment for all kind of emails despatch.

3. In all test emails of any feature include actual user Nickname and email address. e.g If a tester is receiving email for a supporter named "gautam" then tha

[2022-01-24 10:01] rupalichavan9860 commented on #1092
Found similar issue when changing parent camp name page is not reloading , Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/150761935-695ba81f-7097-4b0b-ac85-2eae1444954a.png)

[2022-01-24 10:17] rupalichavan9860 opened #1096 "Do we need Topic name label on Bread crumb of support page"
According to second point in https://github.com/the-canonizer/canonizer.2.0/issues/790#issuecomment-963658816  "There needs to be a breadcrumbs like line at the top, similar to other pages, with a link to the "Agreement" camp of the topic, with the topic name as the label."

Actual Result :
Topic name label is missing on Bread crumb but available on page

![image](https://user-images.githubusercon

[2022-01-24 10:52] rupalichavan9860 commented on #790
We have tested and verified all the points and all are implemented .We have created related tickets separately and assigned "28th release" labels on it so moving this ticket to "Staging approved"

[2022-01-24 10:53] rupalichavan9860 commented on #980
We have created related tickets separately and assigned "28th release" labels on it so moving this ticket to "Staging approved"

[2022-01-24 13:16] saniatg opened #1098 "Quick Actions must not be seen of there is no data"
Case: When already delegating support and try to change delegate to another user.
The Quick actions is seen  but cannot perform any action as there is no data . Therefore, in such case the quick action section must not be seen.
![Screenshot 2022-01-24 at 3 57 52 PM](https://user-images.githubusercontent.com/91254708/150789507-caccc8a9-d167-4658-a232-e1b69e464ccf.png)

[2022-01-25 07:31] rupalichavan9860 opened #1099 "Camp page is not displaying when click on This camp was first created on link "Jan 25, 2022, 12:16:22 PM""
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to any topic and click on any camp
4. Apply as of filter as any previous date
5. Click on "This topic was first created on Jan 25, 2022, 10:33:18 AM" link
6. It will show "This camp was first created on Jan 25, 2022, 12:16:22 PM"
7. Click on camp created date link

Expected Result :
It should

[2022-01-25 07:54] saniatg commented on #1012
@rupalichavan9860
Tested and is working fine on Production.

[2022-01-25 07:56] saniatg commented on #997
@rupalichavan9860 Tested and working dine on Production.

[2022-01-25 08:00] saniatg commented on #987
@rupalichavan9860
Tested and working fine on Production

[2022-01-25 08:02] Wajeeha1995 commented on #966
@rupalichavan9860 Tested on production, its looking fine now.

[2022-01-25 08:02] rupalichavan9860 commented on #1056
Verified on production

[2022-01-25 08:03] #1056 closed, assigned to karun0607gautam

[2022-01-25 08:04] #1012 closed, assigned to kshitij1326

[2022-01-25 08:10] rupalichavan9860 commented on #997
Verified

[2022-01-25 08:10] #997 closed, assigned to sunilspr7

[2022-01-25 08:10] Wajeeha1995 commented on #988
@rupalichavan9860 Tested and verified on production.

[2022-01-25 08:11] rupalichavan9860 commented on #987
Verified

[2022-01-25 08:11] #987 closed, assigned to sunilspr7

[2022-01-25 08:12] #966 closed, assigned to kshitij1326

[2022-01-25 08:14] rupalichavan9860 commented on #988
Verified

[2022-01-25 08:14] #988 closed, assigned to sunilspr7

[2022-01-25 08:23] Wajeeha1995 commented on #858
@ rupalichavan9860 Tested and verified on production. It's working fine.

[2022-01-25 08:30] Wajeeha1995 commented on #1034
@rupalichavan9860 Tested and verified on production.

[2022-01-25 08:53] rupalichavan9860 commented on #1034
Verified

[2022-01-25 08:53] #1034 closed, assigned to kshitij1326

[2022-01-25 09:01] rupalichavan9860 commented on #858
Verified

[2022-01-25 09:01] #858 closed, assigned to akuks

[2022-01-25 09:12] rupalichavan9860 commented on #1018
Verified on production

[2022-01-25 09:12] #1018 closed, assigned to kshitij1326

[2022-01-25 09:45] saniatg commented on #971
@rupalichavan9860
Tested & working fine on Production.

[2022-01-25 09:48] saniatg commented on #981
@rupalichavan9860
Tested & is working fine on Production. Please confirm

[2022-01-25 10:10] Wajeeha1995 commented on #964
@rupalichavan9860 Tested and verified on production.

[2022-01-25 10:18] saniatg commented on #1052
@rupalichavan9860
Verified on Production and is working fine. Please confirm.

[2022-01-25 10:30] saniatg commented on #1001
@rupalichavan9860
Tested and verified on production and is working fine.
Date format as discussed is yyyy/mm/dd

[2022-01-25 10:31] saniatg commented on #1020
@rupalichavan9860
Working fine on Production

[2022-01-25 10:32] saniatg commented on #1011
@rupalichavan9860
Date format is yyyy/mm/dd now.

[2022-01-25 11:11] saniatg commented on #925
@rupalichavan9860
Tested and is working fine. Please confirm

[2022-01-25 11:17] rupalichavan9860 opened #1100 "Live : Page crash on forgot password page"
Environment : Live
Steps to reproduce :
1. Go to https://canonizer.com/
2. Click on "Log in"
3. Click on "Forgot Password"
4. Enter email and click on "Submit"

Actual Result :
Getting below screenshot
![image](https://user-images.githubusercontent.com/40416610/150967410-85b57f14-e8ef-4225-be17-f7aaba6f91b9.png)

[2022-01-25 11:23] rupalichavan9860 commented on #1052
Verified

[2022-01-25 11:23] #1052 closed, assigned to karun0607gautam

[2022-01-25 11:47] rupalichavan9860 commented on #981
Verified

[2022-01-25 11:47] #981 closed, assigned to sunilspr7

[2022-01-25 11:50] rupalichavan9860 commented on #992
Not able to test this on reset password page as I am getting page crash on forgot password page

[2022-01-25 11:53] rupalichavan9860 commented on #1001
Verified

[2022-01-25 11:53] #1001 closed, assigned to sunilspr7

[2022-01-25 11:55] rupalichavan9860 commented on #1011
Verified

[2022-01-25 11:55] #1011 closed, assigned to sunilspr7, HamzaBinMansoor

[2022-01-25 11:56] rupalichavan9860 commented on #1020
Verified

[2022-01-25 11:56] #1020 closed, assigned to sunilspr7

[2022-01-25 11:57] rupalichavan9860 commented on #925
Verified

[2022-01-25 11:57] #925 closed, assigned to sunilspr7

[2022-01-25 11:59] rupalichavan9860 commented on #971
Verified

[2022-01-25 11:59] #971 closed, assigned to kshitij1326

[2022-01-25 12:01] rupalichavan9860 commented on #964
Verified

[2022-01-25 12:01] #964 closed, assigned to nalwa

[2022-01-25 12:05] rupalichavan9860 commented on #1070
Verified on production

[2022-01-25 12:05] #1070 closed, assigned to sunilspr7

[2022-01-25 12:06] rupalichavan9860 commented on #1073
Verified on production

[2022-01-25 12:06] #1073 closed, assigned to sunilspr7

[2022-01-25 12:07] rupalichavan9860 commented on #1036
Verified on production

[2022-01-25 12:07] #1036 closed, assigned to kshitij1326

[2022-01-25 12:15] rupalichavan9860 commented on #924
Verified on production

[2022-01-25 12:15] #924 closed, assigned to kshitij1326

[2022-01-25 12:42] rupalichavan9860 commented on #995
Verified on production

[2022-01-25 12:42] #995 closed, assigned to sunilspr7

[2022-01-25 13:26] rupalichavan9860 commented on #993
Verified on production

[2022-01-25 13:26] #993 closed, assigned to sunilspr7

[2022-01-25 13:31] rupalichavan9860 commented on #908
Verified on production

[2022-01-25 13:31] #908 closed, assigned to nalwa

[2022-01-25 13:35] saniatg commented on #995
@rupalichavan9860 Tested and is working fine on Production

[2022-01-25 14:22] saniatg commented on #982
@rupalichavan9860
Tested and is working fine on Production

[2022-01-25 14:27] saniatg commented on #979
@rupalichavan9860
Tested and is working fine on Production.

[2022-01-25 14:36] rupalichavan9860 commented on #1037
Verified on production

[2022-01-25 14:36] #1037 closed, assigned to nalwa

[2022-01-25 14:36] #982 closed, assigned to sunilspr7

[2022-01-25 14:46] rupalichavan9860 commented on #1100
page crash issue is resolved , so closing this issue

[2022-01-25 14:46] #1100 closed, assigned to nobody

[2022-01-26 06:04] saniatg commented on #1023
@rupalichavan9860
Tested & verified on Production.

[2022-01-26 08:19] HamzaBinMansoor commented on #1078
@BrentAllsop
There are two parts of the Ticket:

1. Firstly the page must not crash. **(Done)**
2. Secondly, why is User B able to delete the news. Only the submitter must delete the news. **(Need Discussion)**

For point two, should the person who has created the News Feed be the only one who is able to delete it or any logged-in user can delete it? Currently, anyone logged-in user is able to del

[2022-01-26 15:59] Wajeeha1995 commented on #1013
@rupalichavan9860  Tested and verified on production

[2022-01-26 16:03] Wajeeha1995 commented on #864
@rupalichavan9860 Tested and verified on production. Not getting crash on clicking camp statement link

[2022-01-26 17:24] Wajeeha1995 commented on #1024
@rupalichavan9860 Tested and verified on production

[2022-01-26 23:16] BrentAllsop commented on #1078
Yes, my feeling is we want a wiki system, where anyone can change anything, so allow logged in users to delete news items.

[2022-01-26 23:19] BrentAllsop commented on #1096
My opinion:
Yes, we should have "Supported camps of "<name of topic>" topic in the header, which should also be a link to the agreement.
And yes, just "agreement" in the breadcrumbs, also a link to the agreement statement.

[2022-01-26 23:45] BrentAllsop opened #1101 "Create a "Subscribe to entire topic" button on camp pages."
Current we have a "Subscribe" checkbox.

We should enhance the label to be "Subscribe to this camp (same as directly supporting)"

Additionally add a "Subscribe to entire topic (receive all notifications)", and the checkbox value will have the same value in all camps, for this user, unlike the subscribe to camp button which can be different for each camp.

@CanonizerJim  and @dakshiffort review th

[2022-01-27 03:10] BrentAllsop commented on #1078
But I do like the idea of only people logged in can delete news items, so we can know who has deleted it.  This should be recorded in the db, and it'd be nice if we had a news history page (when there are deleted news items), where we could see deleted news items, and who deleted them, and also have an option to un delete them, again, only if you are logged in.

But let's only do this additional h

[2022-01-27 03:27] rupalichavan9860 commented on #864
Verified

[2022-01-27 03:27] #864 closed, assigned to akuks

[2022-01-27 03:35] BrentAllsop commented on #1082
closing this issue, focusing on
https://github.com/the-canonizer/canonizer.2.0/issues/1091
instead.

[2022-01-27 03:35] #1082 closed, assigned to nobody

[2022-01-27 03:35] BrentAllsop commented on #1091
We need to get this into the 2.0 system.

[2022-01-27 04:37] CanonizerJim commented on #1101
Can we have a static label that says "Subscribe" and then two buttons beneath it, one that says "Single Camp Only" and one that says "Entire Topic?"

[2022-01-27 05:27] rupalichavan9860 commented on #756
Verified on production

[2022-01-27 05:27] #756 closed, assigned to nalwa, sunilspr7, dakshiffort

[2022-01-27 05:31] rupalichavan9860 commented on #850
Verified on production

[2022-01-27 05:31] #850 closed, assigned to sunilspr7

[2022-01-27 05:36] rupalichavan9860 commented on #893
Verified on production

[2022-01-27 05:36] #893 closed, assigned to nalwa

[2022-01-27 05:39] rupalichavan9860 commented on #831
Verified on production

[2022-01-27 05:39] #831 closed, assigned to nalwa

[2022-01-27 05:41] rupalichavan9860 commented on #1013
Verified

[2022-01-27 05:41] #1013 closed, assigned to nalwa

[2022-01-27 05:45] rupalichavan9860 commented on #974
Verified on production

[2022-01-27 05:45] #974 closed, assigned to nalwa

[2022-01-27 05:46] rupalichavan9860 commented on #1024
Verified on production

[2022-01-27 05:46] #1024 closed, assigned to kshitij1326

[2022-01-27 05:50] rupalichavan9860 commented on #965
Verified on production

[2022-01-27 05:50] #965 closed, assigned to kshitij1326

[2022-01-27 05:56] rupalichavan9860 commented on #1046
Verified on production

[2022-01-27 05:56] #1046 closed, assigned to kshitij1326

[2022-01-27 06:00] rupalichavan9860 commented on #992
Verified on production

[2022-01-27 06:00] #992 closed, assigned to karun0607gautam

[2022-01-27 06:25] rupalichavan9860 commented on #996
Verified on production

[2022-01-27 06:25] #996 closed, assigned to sunilspr7

[2022-01-27 06:38] rupalichavan9860 commented on #984
Verified on production

[2022-01-27 06:40] rupalichavan9860 commented on #970
Verified on production

[2022-01-27 06:40] #970 closed, assigned to kshitij1326

[2022-01-27 06:52] Wajeeha1995 commented on #1038
@rupalichavan9860 Tested and verified on production

[2022-01-27 07:40] Wajeeha1995 opened #1102 "Unable to manage/edit camp statement"
**Steps to reproduce :**
Go to https://staging.canonizer.com/
Login with valid email and password(User A)
Create new topic and create a new camp (Camp 1)
Add camp statement
![Screenshot_2](https://user-images.githubusercontent.com/92429083/151314031-b971e4af-8d95-4832-a171-60f73c3da224.png)
Logout and login with user B
Select same topic and camp (As User A)
Click on Manage/Edit camp statement
 I c

[2022-01-27 07:51] rupalichavan9860 commented on #1019
Verified on production

[2022-01-27 07:51] #1019 closed, assigned to nalwa, sunilspr7

[2022-01-27 07:52] rupalichavan9860 commented on #1023
Verified on production

[2022-01-27 07:52] #1023 closed, assigned to kshitij1326

[2022-01-27 08:26] rupalichavan9860 commented on #1007
Verified on production

[2022-01-27 08:26] #1007 closed, assigned to kshitij1326

[2022-01-27 08:36] rupalichavan9860 commented on #1026
Verified on production

[2022-01-27 08:36] #1026 closed, assigned to nalwa

[2022-01-27 11:39] ashish76 commented on #1091
Based on the discussion we had today (ie. 27-Jan-2022), Iffort has proposed to use a tool like Mailtrap that provides Email Sandbox Service.
**The benefits of using such tools are**
1. Very simple to use, no need to make any modification in the codebase. It is exactly the simulation of the production environment. We just need to specify the SMTP details in the environment file.
2. All emails go to

[2022-01-27 13:08] rupalichavan9860 commented on #1038
Verified on production

[2022-01-27 13:08] #1038 closed, assigned to karun0607gautam

[2022-01-27 13:12] rupalichavan9860 commented on #1025
Verified on production

[2022-01-27 13:12] #1025 closed, assigned to nalwa

[2022-01-27 13:13] rupalichavan9860 commented on #979
Verified

[2022-01-27 13:13] #979 closed, assigned to sunilspr7

[2022-01-27 13:14] rupalichavan9860 commented on #645
Verified on production

[2022-01-27 13:14] #645 closed, assigned to akuks

[2022-01-27 13:21] rupalichavan9860 commented on #973
Verified on production

[2022-01-27 13:21] #973 closed, assigned to sunilspr7

[2022-01-27 13:34] rupalichavan9860 commented on #772
Verified on production

[2022-01-27 13:34] #772 closed, assigned to ashish76

[2022-01-27 13:38] rupalichavan9860 commented on #1028
Verified on production

[2022-01-27 13:38] #1028 closed, assigned to nalwa

[2022-01-27 13:47] rupalichavan9860 commented on #954
Verified on production

[2022-01-27 13:47] #954 closed, assigned to nalwa

[2022-01-28 02:50] sunnyjindal commented on #1101
@BrentAllsop @CanonizerJim Can we have “This Camp” and “Entire Topic” as two options?

[2022-01-28 05:14] saniatg commented on #1071
Task is working fine. @rupalichavan9860  please confirm

[2022-01-28 05:21] saniatg commented on #1033
@rupalichavan9860 The text message has been changed to "There is no statement history available right now. It may also be possible that a statement has been added, but it is in a review state." and is working fine

[2022-01-28 05:25] saniatg commented on #1086
@rupalichavan9860  Tested and  is working fine. Kindly confirm

[2022-01-28 05:33] rupalichavan9860 commented on #1071
Verified

[2022-01-28 05:36] rupalichavan9860 commented on #1033
Verified

[2022-01-28 05:36] #1033 closed, assigned to karun0607gautam

[2022-01-28 05:38] rupalichavan9860 commented on #1086
Verified

[2022-01-28 05:39] saniatg commented on #1074
@rupalichavan9860 Tested and is working fine.

[2022-01-28 05:44] rupalichavan9860 commented on #980
Verified on production

[2022-01-28 05:44] #980 closed, assigned to nalwa

[2022-01-28 05:50] rupalichavan9860 commented on #790
Verified on production

[2022-01-28 06:13] saniatg opened #1104 "Parent camp is not showing correctly for the child camp on Production"
Go to https://canonizer.com/topic/369-Regression-25-JAN-2022-updated/1-Agreement
Camp 3 parent camp is Agreement , but in the tree it is showing '1'.

Check the screenshots for better understanding.
![Screenshot 2022-01-28 at 11 40 15 AM](https://user-images.githubusercontent.com/91254708/151496619-37b42d6e-895a-44b2-9faf-99765b10ba5f.png)
![Screenshot 2022-01-28 at 11 40 55 AM](https://user-image

[2022-01-28 08:28] rupalichavan9860 commented on #1055
Tested. I found below issue
If any months is having more than 10 entries and selected that month, I can see 2 pages  below

![image](https://user-images.githubusercontent.com/40416610/151512597-35f97413-63c6-4ea9-9221-0f5e5c9d06ed.png)

but when I click on page 2 it is not displaying records for that month

![image](https://user-images.githubusercontent.com/40416610/151512840-a33e9ba8-4ae3-4638-b4

[2022-01-28 08:39] rupalichavan9860 commented on #1074
Verified

[2022-01-28 10:11] rupalichavan9860 opened #1105 "Support remains added for both child and parent camp"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic and create new camp "camp 1"
4. Support "camp 1"
5. Create second camp "camp 2" and support "camp 2"
6. Create subcamp under "camp 2" i.e "sub camp 2"
7. Update "camp 1" : Change parent of "camp 1" to "sub camp 2" from "Agreement"
8. Observe score for "camp 1" and "camp 2"

Actua

[2022-01-31 05:28] rupalichavan9860 opened #1108 "Incorrect "Total Support for This Camp tree" score and tree displaying"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic and create 3 camps "Camp 1" ,"Camp 2" and "Camp 3"
4. Support all 3 camps by "User A"
5. Log out and login with another user "User B" and delegate support to "User A" in any camp
6. Again login with user "User A" and change parent camp of "Camp 1" to "Camp 2" from "Agreement"
7.

[2022-01-31 07:12] rupalichavan9860 commented on #1088
Getting same page crash in below scenario :

Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic and create 3 camps "Camp 1" ,"Camp 2" and "Camp 3"
4. Support all 3 camps by "User A"
5. Log out and login with another user "User B" and delegate support to "User A" in any camp
6. Again login with user "User A" and change parent camp

[2022-01-31 07:33] saniatg commented on #1059
@rupalichavan9860
Verified updated text ""We request that all direct supporters of a camp continue to receive notifications and take responsibility for the camp. If you delegate your support to someone else, you will no longer receive these e-mails. Delegating your support to someone else will also result in your support following them for all camps in this topic." in the following cases. Let me k

[2022-01-31 07:46] sunnyjindal commented on #1059
@saniatg @rupalichavan9860 have also corrected the "Edit Summary". Earlier edit summary description was coming from the original topic. Now we have changed it so that it comes from the latest topic revision.

[2022-01-31 08:05] rupalichavan9860 commented on #1059
@saniatg Please check this also

[2022-01-31 08:10] rupalichavan9860 commented on #1062
Tested and verified.
@BrentAllsop I have one doubt in this, as user is redirecting to view page user needs to go again to edit page for committing changes

[2022-01-31 11:30] saniatg opened #1109 "Showing unwanted arrow in the objection email"
When a supporter objects any proposed change to topic/camp or statement an email is sent, in the email there is unwanted arrow. This must be removed.
Refer screenshot below.
![Screenshot 2022-01-31 at 4 35 06 PM](https://user-images.githubusercontent.com/91254708/151786285-4fb16333-9724-4084-a2fe-c22ab57e8d02.png)

[2022-01-31 12:53] sunnyjindal commented on #1091
@BrentAllsop what do you think about the approach suggested above?

[2022-01-31 13:21] sunnyjindal commented on #1091
@BrentAllsop We can also discuss this in our next call on Thursday.

[2022-01-31 13:42] rupalichavan9860 commented on #1096
Thanks for confirming @BrentAllsop . I am removing "question" label

[2022-01-31 16:06] rupalichavan9860 opened #1110 "Issues when changing parent camp"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic and create 3 camps "Camp 1" ,"Camp 2" and "Camp 3"
4. Support all 3 camps by "User A"
5. Log out and login with another user "User B" and delegate support to "User A" in any camp
6. Again login with user "User A" and change parent camp of "Camp 2" to "Camp 1"from "Agreement"

Act

[2022-01-31 17:47] gautamv16 commented on #1091
Hi Guys, we don't have a such complicated email system that we need to use
this tool. We never had any issues in email and all is working smoothly. So
as per me mendril is working perfectly and unnecessary we don't require to
change it. We need to have customised admin based system for emails where
we don't need to rely on any third party.

On Thu, 27 Jan, 2022, 5:09 pm Ashish, ***@***.***> wrote:

[2022-02-01 04:58] ashish76 commented on #1091
@gautamv16 Hi Gautam, this is not a replacement for any existing system. I am assuming that the existing system is sending emails to the user's inbox (which can be live or the test users). And I am not sure whether the existing system (Mandrill) has an option of a sandbox environment.
Mailtrap captures SMTP traffic for staging and development environments and it is only used by the developers or t

[2022-02-01 05:05] gautamv16 commented on #1091
Hey Ashish,

Sendgrid have sandbox testing.
Sendgrid test

Sendgrid offers *sandbox mod*e and* sink email addresses* for email
developers.

   1. Test the API integration in the sandbox mode. In Sendgrid, it’s a
   mail_settings parameter, which helps validate email sending requests.
   Sandbox mode allows checking the parameters of your JSON payload. If any
   errors were found, it returns their

[2022-02-01 06:16] saniatg opened #1111 "Submitter nick Name is showing incorrect when proposed change to the topic"
In the mail nick name shows as 'Sania ' has proposed a change......
which is incorrect.
Submitter nick name is not 'Sania'.

![Screenshot 2022-02-01 at 11 31 10 AM](https://user-images.githubusercontent.com/91254708/151921348-7a6c14f6-90f1-469c-a9a6-6ed38c147062.png)

When another user submits a change to the topic.

[2022-02-01 10:33] saniatg commented on #951
Note: 2 emails are being received when proposing statement change for the first time only .
First before committing the changes & second after committing the changes.
Only one mail should be send to the user after committing the changes.

[2022-02-01 10:43] saniatg commented on #1059
@rupalichavan9860 verified 'Edit Summary' in all the emails for Topic/camp/statement changes and is working fine.

[2022-02-01 11:32] rupalichavan9860 opened #1113 ""I agree with this statement change" checkbox is missing on statement history page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with "User A"
3. Create New topic and create new camp and support that camp
4. Logout and login with another user "User B"
5. Go to topic and camp
6. Click on "Add Camp Statement"
7. Enter all details and click on "Submit Statement" and commit changes
Note :  Now "User A" can see "I agree with this statement change" checkbox
8.

[2022-02-01 13:21] rupalichavan9860 commented on #1063
This functionality is already exists on staging for 5 incorrect attempts and working fine .This is not an issue so closing this

[2022-02-01 13:21] #1063 closed, assigned to kshitij1326

[2022-02-02 06:38] anilPodi opened #1114 "Page Crash - When user try to link other user social media account to his canonizer account."
Steps to Produce:
1.Click on Account setting
2.Click on Social Oauth Verification ,it will display to link the social media account
3.Click on google account link
4.It will navigate to screen where the list of google account current user is having , where user can choose the account which he want to link.
5.there are two users,  using canonizer - 1.abc@gmail.com,2. bcd@gmail.com. using these email

[2022-02-02 06:44] anilPodi opened #1115 "Incorrect Error Message in Phone number Field"
Steps to reproduce:
1. login with credentials.
2. click on Account Settings.
3. In Profile Info.
4. try to enter the Alphabets in phone number field and click on verify.

**Actual result**
It is displaying incorrect error message.
![Screenshot (31)](https://user-images.githubusercontent.com/96222726/152106354-95723d16-d5af-4c2a-bd20-997634a9e54f.png)

**Expected Result**
It should show "enter the

[2022-02-02 08:00] anilPodi opened #1116 "Incorrect error message for display text field"
**Steps To Reproduce:**

1.Click on Any topic
2.Click on Add News, it will navigate to Add News page
3.Try to enter the text **[ex: Manage your info, privacy, and security to make Google work better for you. Learn more]**
4.Click on Submit
**Actual Result :**
Its throwing error message , no meaning to that error message
![Screenshot (34)](https://user-images.githubusercontent.com/96222726/15211466

[2022-02-02 08:14] rupalichavan9860 commented on #1059
Verified

[2022-02-02 08:17] saniatg opened #1117 "First letter of all the providers must be Capital"
Navigate to  Social Oauth Verification module.
All the Provides first letter must be Capital.
![Screenshot 2022-02-02 at 1 46 45 PM](https://user-images.githubusercontent.com/91254708/152117396-28faa43e-c344-4ce5-8928-8f757aee5fa3.png)

[2022-02-02 11:54] rupalichavan9860 commented on #1089
Found one more scenario where incorrect score count

Steps to reproduce :
1. Create topic with "User A" , create 3 camps and support all
2. Login with "User B" and delegate support to "User A"
3. Login with "User C" and delegate support to "User B"
4. Login with "User D" and delegate support to "User C"
5. Login with "User B" and create and directly support 4th camp
6. Observe Score
Actual Result

[2022-02-03 03:07] BrentAllsop commented on #1062
@rupalichavan9860 , yes I agree, good call.
We should go to the camp page for camp and topic modifications, but for the statement, we should go to the history page, so the user can commit the review.

[2022-02-03 11:06] anilPodi opened #1118 "Add camp statement - In statement field its taking invalid data"
**Steps to Reproduce:**

1.] Click on any topic
2.] Click on Add camp Statement - It will navigate to add camp statement
3.] In the Statement field , enter the invalid data
![Screenshot (37)](https://user-images.githubusercontent.com/96222726/152330853-08de2334-9da8-424a-8f63-3a8338dcfabd.png)
4.] Click on Submit Update
**Actual Result ;**
It is allowing the user to enter the invalid data. and som

[2022-02-04 06:35] rupalichavan9860 opened #1119 "Link to "support@canonizer.com" is missing on "https://canonizer.com/videos/consciousness/" page"
Link to  "support@canonizer.com" is missing on https://canonizer.com/videos/consciousness/ page. Please refer below screenshot

![image](https://user-images.githubusercontent.com/40416610/152483389-8a12e0e3-c895-4fec-952a-9fe07065673e.png)

[2022-02-04 06:37] anilPodi opened #1120 "Incorrect Link In Footer - "Comments and Questions""
![image_2022_02_04T06_26_19_527Z](https://user-images.githubusercontent.com/96222726/152483567-48f0a66c-495d-45d5-bc04-d79bb48b67d6.png)

[2022-02-04 06:37] anilPodi opened #1121 "Irrelevant data is displayed instead of support link in the Blog Footer in both live and staging."
**Steps to Reproduce:**
1. Click on Blog
2. Check the footer

**Actual Result:**
![image_2022_02_04T06_26_19_527Z](https://user-images.githubusercontent.com/96222726/152483549-9311f1e1-f317-48cd-bb62-3791e4c60b46.png)
this irrelevant data should be removed

**Expected Result:**
support@canonizer.com - this should be displayed

[2022-02-04 06:45] #1120 closed, assigned to nobody

[2022-02-04 07:42] rupalichavan9860 commented on #787
Verified on production

[2022-02-04 07:42] #787 closed, assigned to nalwa, sunilspr7

[2022-02-04 10:19] gautamv16 commented on #1068
@rupalichavan9860 both buttons set have 2 different purpose. So these are required there, top one is to for confirmation of action and bottom one is to submit change if any support order is changed or not.

[2022-02-04 10:24] #648 closed, assigned to nobody

[2022-02-04 10:24] #672 closed, assigned to nobody

[2022-02-04 10:30] gautamv16 commented on #1069
search is based on 3rd party and not reuired here, will see for 3.0 if required.

[2022-02-04 10:30] #1069 closed, assigned to nobody

[2022-02-04 10:31] saniatg commented on #1084
@HamzaBinMansoor Working fine when 'Add thread' but when a post is created, in that case it is not fixed. 'To' in the email is empty.
![Screenshot 2022-02-04 at 4 02 12 PM](https://user-images.githubusercontent.com/91254708/152514054-3bf9a92d-f41d-4d97-aa3f-6e52aa5c9c3c.png)

[2022-02-04 11:31] saniatg commented on #1078
@rupalichavan9860 Crash issue is resolved. Task is working fine. Please confirm

[2022-02-04 11:48] rupalichavan9860 commented on #1096
@BrentAllsop As of now Topic name with link is added in bread crumb like other pages for uniformity . Is this fine or do we want topic name in header instead of bread crumb?
Please confirm
![image](https://user-images.githubusercontent.com/40416610/152524073-41385196-f937-4945-a1ba-c6ac65a418c3.png)

[2022-02-04 11:55] anilPodi commented on #1099
@rupalichavan9860 please verify

[2022-02-04 11:56] rupalichavan9860 commented on #1078
Verified

[2022-02-04 11:57] rupalichavan9860 commented on #1099
Verified

[2022-02-04 12:26] rupalichavan9860 opened #1123 "Page crash on "Delegate Your Support" ,"Remove Your Support" buttons and Account Settings page"
Getting below page crash on  "Delegate Your Support" ,"Delegate Your Support" ,"Remove Your Support" and Account Settings page

![image](https://user-images.githubusercontent.com/40416610/152528678-ae410cc7-0cb3-47e2-a87a-54245abc85a0.png)

[2022-02-04 12:47] saniatg commented on #1109
@sunilspr7 Getting unwanted text on mail which is not related when direct supporter objects the proposed change for any camp/topic.
![Screenshot 2022-02-04 at 4 52 46 PM](https://user-images.githubusercontent.com/91254708/152531559-235d9a1f-9c76-4bd0-9c70-1153b777924d.png)

[2022-02-04 13:50] rupalichavan9860 commented on #1123
Tested and verified

[2022-02-07 06:17] saniatg commented on #1113
@rupalichavan9860 Tested and is working fine. Please confirm

[2022-02-07 06:26] rupalichavan9860 commented on #1113
Tested and verified

[2022-02-07 06:37] rupalichavan9860 commented on #1087
Tested and verified

[2022-02-07 09:52] saniatg commented on #1109
Tested and is working fine

[2022-02-07 10:09] rupalichavan9860 commented on #1109
Verified

[2022-02-07 13:15] nalwa commented on #1088
@rupalichavan9860  @saniatg  i have resolved first part of this ticket. And as per discussion today, second part will go in another ticket.

[2022-02-08 10:05] rupalichavan9860 opened #1130 "All nick names are not displaying in Nick Name drop down"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password("User A")
3. Create new topic with "User A"
4. Login with another user "User B" and support "Agreement" camp
5. Again remove support from "Agreement" camp
6. Again click on "Directly Join and Support"
7. Observe Nick name drop drown

Expected Result :
User should see all nick names
Actual Result :
U

[2022-02-08 12:36] rohit-talentelgia commented on #1091
@gautamv16 please send the invite to join the MailTrap.

[2022-02-08 13:04] rupalichavan9860 opened #1131 "Crash when remove support after changing parent camp"
Getting same page crash in below scenario :

Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create new topic and create 3 camps "Camp 1" ,"Camp 2" and "Camp 3"
4. Support all 3 camps by "User A"
5. Log out and login with another user "User B" and delegate support to "User A" in any camp
6. Again login with user "User A" and change parent camp

[2022-02-08 13:06] rupalichavan9860 commented on #1088
@nalwa As per discussed I have created separate ticket for second part #1131

[2022-02-08 20:40] BrentAllsop commented on #1096
I added this to the agenda for the Thursday Feb 10, 2022  Meeting so we can find out what everyone thinks about the best standard  breadcrumbs format.

We need to do this for forum posts, also, how do we include the thread name info and stuff.

[2022-02-09 06:10] rupalichavan9860 commented on #1110
@nalwa Please refer link for "Camp heirarchy change scenarios" document
https://docs.google.com/document/d/16AHr6ewRJz_qTdi7Ie3Fz2UdXCOp4X60z2JZG7k6CvY/edit?usp=sharing

[2022-02-09 08:26] saniatg commented on #1084
Tested and is Working fine @rupalichavan9860 Please confirm and close

[2022-02-09 08:46] rupalichavan9860 opened #1132 "Message "There is no statement history available right now. It may also be possible that a statement has been added, but it is in a review state." is displaying even if live statement is available"
Steps to reproduce :
1. Go to  https://staging.canonizer.com/
2. Login with "User A"
3. Create New topic and add camp statement for agreement camp(Note : Statement is live)
4. Logout and Login with "User B"
5. Click on "Manage/Edit Camp Statement"

Expected Result :
User should see Camp Statement History with live record

Actual Result :
It is displaying message "There is no statement history avai

[2022-02-09 08:51] rupalichavan9860 commented on #1084
Verified

[2022-02-09 09:43] saniatg commented on #1088
@nalwa not able to test 1st part issue as I got a page crash after these steps.

User A -Create a topic and a camp
User B- Directly supports a camp
User C- Delegates support to User B for the camp

User B delegates support to User A in Agreement Camp
Now, when User B  tries to removes delegate support given to User A in Agreement camp, on click button 'Remove Support' Page crashes
![Screenshot 202

[2022-02-09 12:22] rupalichavan9860 commented on #1088
Working fine now

[2022-02-09 12:24] rupalichavan9860 commented on #1094
Tested and verified

[2022-02-09 12:26] rupalichavan9860 commented on #1062
Tested and verified

[2022-02-10 05:31] rupalichavan9860 commented on #1096
@sunilspr7 As discussed in meeting current format is fine only need to remove link of Topic name . Topic name should be label only like on other pages

[2022-02-10 05:35] sunilspr7 commented on #1096
@rupalichavan9860 okay

[2022-02-10 07:00] rupalichavan9860 opened #1135 "Questions and issues on Delegated Support"
Steps to reproduce :
1. Create scenario like below :
![image](https://user-images.githubusercontent.com/40416610/153353105-0beb6f71-c12a-4548-8053-84484a34d5ce.png)

Question :
As of now RC can delegate support to "Rupali-Chavan14" and "Rupali cano". Is this correct behavior?

Issue 1 :  If RC delegate their support to "Rupali cano"  and click on submit ,it is taking lots of time
Issue 2 :  Suppor

[2022-02-10 07:56] ashish76 opened #1136 "Apply indexing on tables to improve the performance of the queries"

[2022-02-10 09:25] rupalichavan9860 opened #1138 "Page crash on Remove Your Support button"
Steps to reproduce :
1. Create new topic (Support will get added to Agreement camp)
2. Create new camp and support (Support will remove from Agreement camp)
3. Click on Agreement camp and apply as of date as previous date
4. Click on Topic creation date link
5. Click on "Remove Your Support"

Actual Result :
Getting below page crash
![image](https://user-images.githubusercontent.com/40416610/15337

[2022-02-10 13:02] saniatg opened #1140 "Delegated user is not showing under 'Support tree for Agreement Camp' when applied 'As of Filter'"
1. User A created a topic and a camp. Support directly given to agreement camp.
2. Now login with User B and navigate to the topic created by User A
3. Click on 'As of date' filter
4. Delegate support to User A by clicking on button 'Delegate support'

Support Count is seen changed to 2 which is correct , but in the support tree delegated supporter (User B)  is not seen .
![Screenshot 2022-02-10 a

[2022-02-11 11:21] aliahmad45 commented on #1102
Scenario 1 :
User A creates topic ->Support will get added automatically to Agreement camp
Case 1 : When User A added camp statement to Agreement camp - It should go "live"(Grace period = 0)
Case 2 : When User B added camp statement to Agreement camp - It should go in "In Review"(Grace period = 1)

Scenario 2 :
User A creates topic ->Create "camp 1"
Case 1 : When User A only supported "camp 1" and

[2022-02-11 12:25] rupalichavan9860 commented on #1096
Tested and verified

[2022-02-11 12:39] rupalichavan9860 commented on #1132
Duplicate of #1102 SO closing this

[2022-02-11 12:39] #1132 closed, assigned to aliahmad45

[2022-02-11 12:58] #761 closed, assigned to ashish76

[2022-02-13 21:04] BrentAllsop opened #1145 "Show order of new camp at order of existing supported camp being replaced."
![image](https://user-images.githubusercontent.com/6559312/153774848-7ad47fd3-e6e8-42fb-a9d1-4944981e7be9.png)

Rather than show the camp you are replacing, separate from the ordered list of supported camps, and rather than putting the new camp at the bottom of the list (# 12 in this case) of supported camps, combine these two graphically, somehow, and put the newly supported camp at the same orde

[2022-02-13 21:45] BrentAllsop opened #1146 "Remove extra space before URL links."
Currently, if you add some wiki markup like this:

"Our current top choice is what is being offered by the "[https://followmyvote.com/ followmyvote]" people."

There is an extra space after the first '"' and the followmyvote text.
You should be able to put the quote next to the text, both before and after the text.

[2022-02-13 22:25] BrentAllsop opened #1147 "Make it easier to find parent camps on the camp edit form page."
Currently the choices in the parent camp drop down for the edit camp form:
https://canonizer.com/manage/camp/1873
are very hard to find, when the list is long.
There should be some way to show the current tree structure, possibly with indentation of camps, under parent camps, according to the current canonized tree/one person one vote.  If that doesn't fit on a page, then at least sort the list, a

[2022-02-13 22:38] BrentAllsop opened #1148 "Sometimes the page buttons under the Canonized List for block on the home page don't work."
You can mouse over them sometimes, and it doesn't change from a cursor, to a finger.
When this happens, the buttons don't work.

[2022-02-14 03:50] BrentAllsop opened #1149 "Don't send e-mail to the person, if he is overwriting his support with the support of a child camp."
If you are already supporting a camp X, then if you take an action to support a sub camp of X, it will give the message that your support of X will be removed.  In that case, you should not send any e-mail to the supporters of camp X.  Currently the supporters get:

"Brent Allsop has just removed their support from this camp: : [Platform of the People / Sex Education](https://u6507102.ct.sendgrid.

[2022-02-14 04:59] ashish76 opened #1150 "Create a test app of the social service providers for Canonizer3.0"
Create a test app of the following social login service provider for Canonizer. Also, share the API access credentials for the same.
1. Google +
2. Facebook
3. Twitter
4. Github
5. Linked

The staging server URL of the new version of canonizer is:
https://canonizer3.canonizer.com/

[2022-02-14 05:07] saniatg commented on #1084
@rupalichavan9860 Verified on production and is working fine.

[2022-02-14 05:14] saniatg commented on #1096
@rupalichavan9860 Verified on Production and is working fine. Please confirm