[2020-09-23 17:23] BrentAllsop opened #644 "Design Caching system for Canonized Data."
Currently, it takes too long to use the "Mind Expert" canonizer algorithm on the front page.
Part of the design needs to be an immediate fix for at least this, before we get the long term canonized data service, below.
Once we have that design, we should create a new issue to get that into production ASAP.

Long term, this needs to be included in the canonized data service specified in this issue:

[2020-09-23 18:45] gautamv16 commented on #598
deployed and fixed the changes in above mentioned places. @rupalichavan9860 pls test

[2020-09-23 23:27] BrentAllsop opened #645 "Don’t render &gt; like codes for edit field values."
If you want to put something like this in a camp statement:
&lt;html&gt;
You can do that with regular html escapes like:
&amp;lt;html&amp;gt;

This get’s accepted, and renders correctly on the camp page.

The problem is when you go to edit a camp statement by selecting the button:

“Submit Statement Update Based On This”

Something is rendering the &amp;lt; back to “<” so you get
&lt;html&gt;
In t

[2020-09-24 00:16] BrentAllsop commented on #645
Let us include another related issue in #645.
When you lead a wiki text line with spaces or tabs, it turns off the wike rendering for that line.
The problem is each line of a consecutive set of lines is done individually.
This results in both too much space between the rendered lines and
if only one line is too long, only that line get's the scroll bar.

They should all be combined, and the entire

[2020-09-24 00:27] BrentAllsop opened #646 "Add a new option boolean argument to outlinecall(?,?,?) to optionally include the supporters in the outline."
Here is the imbed code to get a topic outline on a remote page:

<p> <script src=https://canonizer.com/js/campoutline.js/> <script> outlinecall({topic_num},{camp_num}); </script> </p>

We need to add an additional parameter to include the camp supporters in the outline, as they are rendered in the support section of the camp (i.e. with links) and the same open and close tree graphics and abilities

[2020-09-24 00:30] BrentAllsop commented on #646
To get this into production.
After it passes testing, mark it as "ready for release"
But do not close this issue, till it is released into production, and then someone updates the help text page with this functionality.
https://canonizer.com/topic/132-Adding-feedback-outline/6
Once the help text includes this functionality this can be closed.

[2020-09-24 17:17] rupalichavan9860 commented on #642
@gautamv16 Tested and verified.I can see the note now.
But there are some other places also where user see "Add New Nick Name" link when there are no nick names yet.
Do we need to add this note at all those places?
@BrentAllsop  Please confirm

[2020-09-24 17:30] rupalichavan9860 commented on #598
@gautamv16 Tested and verified .Working fine on all the mentioned places.
@BrentAllsop Can you please test and close if fine for you?

[2020-09-24 17:40] BrentAllsop commented on #598
Sweet, everything checks out OK, so closing this.

[2020-09-24 17:48] rupalichavan9860 commented on #643
@gautamv16 Tested and working fine now.
@BrentAllsop Can you please check and close if fine for you?

[2020-09-24 17:53] BrentAllsop commented on #642
Yes, it needs to be every place, editing statement, camp, topic, and contributing to forums...
Anyplace that requires them to select a nick name.

[2020-09-24 18:08] rupalichavan9860 commented on #642
@BrentAllsop Thanks for the confirmation. I am removing the fixed and ready to test tag.
@gautamv16 Please check and update

[2020-09-24 18:23] BrentAllsop commented on #643
Yes, working nicely, so closing.

[2020-09-24 18:23] #643 closed, assigned to nobody

[2020-09-25 11:37] rupalichavan9860 opened #647 "Minor : Design issues"
I found minor design issues on topic agreement page
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/94262505-38e22500-ff51-11ea-828e-e8704aa632bb.png)

[2020-09-25 14:31] rupalichavan9860 commented on #598
@gautamv16 I am facing following URL issue when adding /editing news, So reopening the issue

Scenario:
1. Go to any topic
2. Click on Add News link
3. Click on Cancel
4. Repeat step 2 and 3 , 2 or 3 times
5. Observe URL value
6. Again Click on Add News or Edit News
7. Observe URL value

Actual Result :
Every time camp name is getting added at the end of the URL. Please refer attached screenshot

[2020-09-25 15:42] BrentAllsop commented on #647
Good catch.

[2020-09-27 18:42] rupalichavan9860 commented on #638
@gautamv16 Tested and verified. Page crash issue is resolved now so closing this

[2020-09-27 18:42] #638 closed, assigned to nobody

[2020-09-27 18:55] rupalichavan9860 commented on #642
@gautamv16 Tested. I can see the note now but  I found font-size mismatch on Create New Topic page/Forum page .Please refer attached screenshot

It is fine ? @BrentAllsop Please confirm
![image](https://user-images.githubusercontent.com/40416610/94373073-7a74fa80-0120-11eb-9e19-268462e9ffc0.png)

[2020-09-27 18:55] rupalichavan9860 commented on #637
@gautamv16 Tested and verified. Working now so closing this issue

[2020-09-27 18:55] #637 closed, assigned to nobody

[2020-09-28 02:29] BrentAllsop commented on #594
How about, if no topics are listed in a page of topics, when a given algorithm/filter is set, we add a message like:

"There are no topics on this page, given the current algorithm and filter setting."

[2020-09-28 03:06] rupalichavan9860 commented on #598
@gautamv16 Tested and verified. Working fine now so closing this issue

[2020-09-28 03:06] #598 closed, assigned to nobody

[2020-09-28 16:36] rupalichavan9860 commented on #642
@gautamv16 I found the note on Nick Names page.I think we don't require this note here, we require on only those places where we are contributing
Please refer attached screenshot
@BrentAllsop Please confirm

![image](https://user-images.githubusercontent.com/40416610/94460606-9aff8c00-01d6-11eb-9387-70c9894a8ef1.png)

[2020-09-28 16:53] BrentAllsop commented on #642
I'm thinking it would be nice to have something like this, here.
It just shouldn't include the "selected here" as that isn't here.
How about:
"Note: You have not yet added a nick name.  A public or private nick name must be used whenever contributing."

[2020-09-28 16:59] rupalichavan9860 commented on #642
Yes "selected here"  is somewhat confusing.
"Note: You have not yet added a nick name. A public or private nick name must be used whenever contributing." looks good

[2020-09-28 17:03] rupalichavan9860 opened #648 "Need element ID's instead of XPATH"
I am facing issues of changing xpath while executing automation test cases. Can we have ID's instead of XPATH for following elements

1. Add News
2. Edit News

@gautamv16  As of now can you please do this change for above 2 elements. I will check and add more elements if required

[2020-10-04 16:43] gautamv16 commented on #642
@rupalichavan9860 pls test

[2020-10-04 16:43] gautamv16 commented on #594
@BrentAllsop pls test

[2020-10-04 16:43] gautamv16 commented on #171
@rupalichavan9860 pls test

[2020-10-04 17:10] rupalichavan9860 commented on #642
@gautamv16 Tested and verified. Looks good now
@BrentAllsop Can you please check and close if fine for you

[2020-10-05 01:43] BrentAllsop commented on #642
Looks nice, so closing.

[2020-10-05 01:43] #642 closed, assigned to nobody

[2020-10-05 01:48] BrentAllsop commented on #594
Yes, looks wonderful.
Closing this excessively big one.
Thanks!

[2020-10-05 01:48] #594 closed, assigned to nobody

[2020-10-05 10:52] rupalichavan9860 opened #649 "Email : Links are not working"
I just found that all camp/topic name links in emails are redirecting to wrong URL. Parent URL is appearing twice.Please find attached screenshot

![image](https://user-images.githubusercontent.com/40416610/95071059-b7477f80-0726-11eb-8bff-b44eb006137a.png)

[2020-10-05 15:56] BrentAllsop opened #650 "Bread crumb names on camp pages don't always agree with "as of" setting names in the camp tree."
Change the "as of" value, and notice that the bread crumb names don't always agree with the camp names in the tree structure.

[2020-10-06 13:30] rupalichavan9860 opened #651 "Support removal is not working properly"
I have created new topic yesterday (10/5/2020, 4:21:16 PM) and created camp "1" and I was the only supporter .
After some time I removed my support from camp and I got support removed email and also I got following mail,

"Hi Brent Allsop,

Rupali C has just delegated their support to you in this camp: test emails links url / 1"

Even if Brent Allsop is not the supporter of the camp.Please refer a

[2020-10-08 16:04] BrentAllsop commented on #169
There is still a scoring issue.
I'm supporting [Deepak Loomba's camp](https://canonizer.com/topic/81-Deepak-Loomba/29) as my 10th choice.  My score is incorrectly showing 1 (should be close to a fraction of zero, need to show more decimal places in these cases.)
While the total score is showing zero.

Also, it currently shows:
10:Brent Allsop  1
Let's move the order number to the end, in parenthes

[2020-10-09 16:16] BrentAllsop opened #652 "Inappropriate "added support" email."
**Steps to reproduce:**

1. Add support to many camps (I supported 21)
2. Add support for an additional camp (Deepak Loomba), and move that camp higher in the list, before doing a submit (I moved it to something like 12)
3. Submit the new support, at the not last position in the list.
Expected behavior:
Only one e-mail should be sent out, indicating one new camp was now supported.
Actual behavior:

[2020-10-11 16:32] rupalichavan9860 commented on #171
@gautamv16 As per discussed in meeting "Country " drop down should display all countries , so removing the fixed and ready to test label

[2020-10-14 01:50] BrentAllsop opened #653 "Add most recent post date column in the forum threads page."
There are currently only two values or columns, in thread tables:
https://canonizer.com/forum/88-Theories-of-Consciousness/6/threads

Change this to a table with a header.
In the 1 reply column, move the word 'Replies' to only exist in the header, and only have the number in the row.

Add an additional column for "Most Recent Post Date", and include that date in the column of each row.

And add "T

[2020-10-14 02:02] BrentAllsop commented on #653
And while we're at it, let's add a "bread crumbs" link on the threads page, the same as the one on the "All Threads" page.
So all these are links back to the camps:
Camp: Agreement / Approachable Via Science / Representational Qualia

[2020-10-14 09:31] rupalichavan9860 commented on #649
@gautamv16 Tested and verified. Working fine now so closing this issue

[2020-10-14 09:31] #649 closed, assigned to nobody

[2020-10-14 09:42] rupalichavan9860 opened #654 "Delegate support functionality is not working"
Environment : Staging
When user trying to delegate their support to someone , instead of delegated supporter user become direct supporter of the camp and also user is not getting delegated support mail

[2020-10-14 09:51] rupalichavan9860 commented on #651
@gautamv16 I just done more testing on this and found that this is happening only if the camp name is starting with number like camp names "1","123","1test"

[2020-10-14 15:57] gautamv16 commented on #171
@rupalichavan9860 added countries to dropdown. please check

[2020-10-14 16:54] rupalichavan9860 commented on #171
@gautamv16 I can see the the countries now but can you please keep first letter of countries as capital letter and rest small.
Something like below,

![image](https://user-images.githubusercontent.com/40416610/96020644-f6cf4380-0e6b-11eb-97fb-0113c1102ed8.png)

[2020-10-14 17:07] rupalichavan9860 commented on #651
@gautamv16 Tested .Still facing issues
When user supporting sub camp and trying to support agreement camp, user is getting 2 emails one is removed support from sub camp and added support to agreement camp
But now the issue is in both mails it is displaying same camp name ( removed support from agreement camp and added support to agreement camp )

[2020-10-14 17:34] rupalichavan9860 commented on #171
Also I am not able to update profile with selected address.

[2020-10-14 18:13] gautamv16 commented on #331
@BrentAllsop , please check i have fixed it to return score 4 only

[2020-10-14 18:43] gautamv16 commented on #651
@rupalichavan9860 pls test

[2020-10-14 19:11] gautamv16 commented on #654
@rupalichavan9860 please Test

[2020-10-15 02:19] BrentAllsop commented on #331
Hmmm, still seeing problems:
https://staging.canonizer.com/topic/88-Theories-of-Consciousness/36-Molecular-Materialism#statement

That is my first (of many) choice, so when the Mormon canonizer (I'm a mormon) or popular consensus, it should be 0.5, but it says 1.  The total score for the camp seems correct.

[2020-10-15 14:01] rupalichavan9860 commented on #654
@gautamv16 Tested. Following topic name/camp name link  in delegated email is redirecting to wrong URL. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/96138882-dc54a300-0f1b-11eb-8cdf-ba58bd46bd1e.png)

![image](https://user-images.githubusercontent.com/40416610/96138808-c810a600-0f1b-11eb-9c0a-3e5ef6c20b4d.png)

Also facing one more issue on this
Fir

[2020-10-15 14:08] rupalichavan9860 commented on #651
@gautamv16 Tested.Still facing issue when trying to support camp with no support and can see following warning

![image](https://user-images.githubusercontent.com/40416610/96140843-014a1580-0f1e-11eb-81af-d7f9d1ab6d0b.png)

[2020-10-18 14:24] rupalichavan9860 opened #655 "JavaScript Errors"
I found some JavaScript error on following places
1. Click on the camp name like "1test" and open developer tool,
Error : Uncaught SyntaxError: Invalid or unexpected token

![image](https://user-images.githubusercontent.com/40416610/96369974-00152480-117a-11eb-9d5c-7b2718329fab.png)

2. Go to URL
https://staging.canonizer.com/topic/252-test-by-Rupali-Auto1/3-1test?filter=0.00&_token=O425oGby8o0vp0

[2020-10-18 19:38] gautamv16 commented on #171
@rupalichavan9860 its done also added non_usa option in mobile carrier as discussed in meeting

[2020-10-18 20:25] gautamv16 commented on #654
@rupalichavan9860 pls test.

[2020-10-19 02:29] gautamv16 commented on #651
@rupalichavan9860 Pls Test

[2020-10-20 08:34] rupalichavan9860 commented on #651
@gautamv16 Tested and verified. It is working for me now so closing this issue

[2020-10-20 08:34] #651 closed, assigned to nobody

[2020-10-20 08:47] rupalichavan9860 commented on #654
@gautamv16 Tested and verified. Working now so closing this issue

[2020-10-20 08:47] #654 closed, assigned to nobody

[2020-10-20 08:58] rupalichavan9860 commented on #171
@gautamv16 Tested . Can see the CamelCase country drop down now and able to update profile with selected address also but still  have 1 issue

After selecting address from "Address Line 1" other fields are getting populated and grayed out (along with Country drop down) but I can change the country(Can select any country even if selected address from USA) and update profile. Please refer attached s

[2020-10-20 16:17] BrentAllsop opened #656 "Namespace structure cleanup."
There are major issues with these name spaces.

/Occupy Wall Street/canonizer/            -> /organizations/canonizer/
/organizations/help/                             -> /organizations/canonizer/help/
/Occupy Wall Street/mta/                     -> /organizations/mta/
/Occupy Wall Street/TV07/                   -> /organizations/TV07/
/Occupy Wall Street/wta/                      -> /organization

[2020-10-25 18:27] rupalichavan9860 commented on #171
@gautamv16 Tested and verified. Above issue is working now but still have some doubts like
1. For the new user initially all the fields are blank.
Now try to update profile ,profile will not get update.
Country is mandatory but new user is not able to select only Country(Needs to select Address line 1) and profile will get update.

![image](https://user-images.githubusercontent.com/40416610/971154

[2020-10-26 14:12] rupalichavan9860 commented on #656
@gautamv16 Tested and verified by Brent and me. So closing this issue

[2020-10-26 14:12] #656 closed, assigned to nobody

[2020-10-26 15:12] rupalichavan9860 opened #657 "Page crash on staging"
I am getting page crash while supporting sub camp. Click on Submit or Cancel button on supported camps page.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/97190410-ac36bb00-17cb-11eb-8156-07a57ec90343.png)

[2020-10-27 09:38] rupalichavan9860 commented on #657
I am facing this issue for fresh topics.
1. Create 1 new topic
2. Create new camp
3. Click on Directly Join or Manage Support
4. Click on Submit or Cancel button

Support is getting added and user is getting  support added mail also but can see above page crash on following places
1. On Submit button click
2. On Cancel button click
3. Click on links from support added mail
4. Go back to agreement

[2020-10-27 10:03] rupalichavan9860 commented on #169
I am also facing scoring issues
1. Created fresh topic and sub camp and I am the only supporter of single sub camp , my score is displaying as 0.5 and total score for the camp is displaying as 1

![image](https://user-images.githubusercontent.com/40416610/97286259-4993fc80-1869-11eb-954e-78e292f81943.png)

2. Now I am trying to support sub camp with another user .And now score for user1 is display

[2020-10-29 02:14] BrentAllsop opened #658 "Facebook Data Use Checkup by December 22"
I got an e-mail from facebook about our OAuth stuff saying:

see the e-mail I sent to Varun for details.

Complete Data Use Checkup by December 22, 2020  Protecting people’s privacy is a major priority for Facebook and the developers who build on our platform. That's why we’re introducing an annual checkup to make sure your API access and data use comply with Facebook policies. Learn MoreHere's wh

[2020-11-01 17:19] rupalichavan9860 commented on #169
Also checked it for other topics(both old and new),check any camp from any topic.
Scenario :  When camp is having only one supporter score is displaying as 0.5 and when camp is having multiple supporters , score for first is displaying as 0.5 and 0 for rest users

for reference ,
![image](https://user-images.githubusercontent.com/40416610/97809683-65960480-1c94-11eb-85a0-058e9ea51836.png)

[2020-11-01 18:28] gautamv16 commented on #169
@rupalichavan9860 Pls test its fixed

[2020-11-01 18:31] gautamv16 commented on #657
@rupalichavan9860 pls test its fixed

[2020-11-02 02:02] BrentAllsop commented on #331
Hmm, still seeing problems in this camp:
https://staging.canonizer.com/topic/54-Religious-Preference/10-Mormon-Transhumanist#statement
There is one Mormon supporter, but the total camp support is 2.6
And I'm the only Mormon supporting this camp (and I support more than one camp)
https://staging.canonizer.com/topic/54-Religious-Preference/16-Transhumanist
So my score should be 0.5, but it shows 1.

[2020-11-02 02:05] BrentAllsop commented on #171
I already have "Sandy" in my city field, and it won't let me change it.

[2020-11-02 02:50] BrentAllsop commented on #171
The country should not be mandatory.
All address fields are not mandatory.
If the user clears the address 1 field, all other address fields should be cleared, on the client side.

[2020-11-02 02:55] BrentAllsop commented on #171
If the user does not select a value for address line 1.
This will result in none of the other address fields being selected, so
Clear the address line 1, so the user will be forced to pick a value.

[2020-11-02 16:27] rupalichavan9860 commented on #657
@gautamv16 Tested and verified. Working fine so closing this issue

[2020-11-02 16:27] #657 closed, assigned to nobody

[2020-11-02 16:56] rupalichavan9860 commented on #169
@gautamv16 Tested.Still I am facing issues .Please refer following topic
https://staging.canonizer.com/topic/273-test-by-Rupali-Auto-2-nov/2-test-camp-1#statement
sub camp "test camp 1 " is having 3 supporters 1.Rupali auto 2. Rupali N is delegating support to Rupali auto and 3. Rupali C
sub camp "test" is having 1 supporter "Rupali C"
So the score for "test camp 1" is 2.5 and for "test" is 0.25--

[2020-11-02 17:20] rupalichavan9860 commented on #653
@gautamv16 Tested. I can see all the changes now but "bread crumbs" font size is not uniform with others. Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/97898077-6181e980-1d5d-11eb-9e39-351ec836d547.png)

![image](https://user-images.githubusercontent.com/40416610/97898127-72325f80-1d5d-11eb-8352-e263bbdef99a.png)

Also I can see date in "Most Recent P

[2020-11-08 11:15] gautamv16 commented on #171
@rupalichavan9860 Pls test

[2020-11-08 16:00] gautamv16 commented on #653
@rupalichavan9860 changed "Can we put exact date here also instead on "8 years ago"?" this to display date and also fixed issue for font change

[2020-11-08 17:06] rupalichavan9860 commented on #171
@gautamv16 Tested.I am still facing issue for some cases .Please refer following scenario
1. Select address from Address Line 1 suggestions
2. Update profile
3. Now type any text in Address Line 1 like "test test", "any text"
4. Update profile

Expected Result :

It should clear the address line

Actual Result :

Profile is getting updated

Please refer attached screenshot
![image](https://user-im

[2020-11-08 17:11] rupalichavan9860 commented on #641
@gautamv16 Tested and verified.
@BrentAllsop Can you please check and close?

[2020-11-08 17:40] rupalichavan9860 commented on #653
@gautamv16 @BrentAllsop I think yes. Every post should display exact date instead of "replied 2 years ago". Please confirm
Also most recent post date column is displaying thread created date instead of most recent post date. Please refer following topic

https://staging.canonizer.com/forum/189-Testing-flow1-1/1-Agreement/threads
Thread name : Testing
Thread is created 2 years ago

![image](https:/

[2020-11-09 03:16] rupalichavan9860 commented on #171
@gautamv16 Tested. Latest issue is fixed but now user is able to update the profile with blank address line 1 .Please refer following scenario
1. Select address from Address Line 1 suggestions. It will auto populate all other address fields
2. Make Address Line 1 blank
3. Without clicking anywhere click on Update button

Expected Result :

It should clear the address line and all other address fie

[2020-11-19 16:51] gautamv16 commented on #171
@rupalichavan9860 Pls Test

[2020-11-22 06:11] rupalichavan9860 commented on #171
@gautamv16 Tested and verified. Everything is working fine now but I found one minor doubt in this
As of now country is getting auto populated on Address Line 1 selection so can we remove "--Select--" from country dropdown?

![image](https://user-images.githubusercontent.com/40416610/99896515-587a9d00-2cb7-11eb-9233-5f8399f6ae2c.png)

[2020-11-22 06:28] rupalichavan9860 opened #659 "Javascript error"
Found javascript error .Please find attached screenshot

![image](https://user-images.githubusercontent.com/40416610/99896797-fe2f0b80-2cb9-11eb-961f-29cbae464de6.png)

[2020-11-22 12:34] gautamv16 commented on #653
@rupalichavan9860 pls test

[2020-11-22 13:18] gautamv16 commented on #171
@rupalichavan9860 According to me i think we dont need to remove this as there is nothing wrong in this. Because since it is autopopulating , it will get populated on google address selection

[2020-11-22 16:32] rupalichavan9860 commented on #653
@gautamv16 Tested and verified. I can see the correct Most Recent Post Date in column and date in post instead of like "2 years ago". But on List of All Camp Threads page , I can see pagination on the top instead on bottom(Previously it was on bottom)

It should be on bottom

Staging :
![image](https://user-images.githubusercontent.com/40416610/99909410-5db70680-2d0e-11eb-9606-867e92a76984.png)

L

[2020-11-22 17:37] gautamv16 commented on #659
@rupalichavan9860 These are not javascript errors. it comes when your browser is not able to load the google ads.

[2020-11-23 02:48] #659 closed, assigned to nobody

[2020-11-23 03:02] rupalichavan9860 commented on #655
@gautamv16 Tested and verified

[2020-11-23 03:02] #655 closed, assigned to nobody

[2020-11-24 05:24] rupalichavan9860 commented on #169
@gautamv16 I am facing one more issue while supporting new camp. Please refer following scenario

Reference topic : https://staging.canonizer.com/topic/275-Test-topic-22-nov-2020/1-Agreement

This topic is having 3 sub camps "test camp 1", "test camp 2" and "1test".
I am already supporting "test camp 1", "test camp 2" and when I supported camp "1test" I am getting support removal emails for both c

[2020-11-26 16:57] gautamv16 commented on #653
@rupalichavan9860 moved the pagination to bottom of table. pls test

[2020-11-26 16:58] gautamv16 commented on #171
@rupalichavan9860 removed the text from country dropdown

[2020-11-27 09:24] rupalichavan9860 commented on #171
@gautamv16 Tested and verified. Everything is working fine now so closing this issue

[2020-11-27 09:24] #171 closed, assigned to gautamv16

[2020-11-27 09:51] rupalichavan9860 commented on #653
@gautamv16 Tested and verified.
@BrentAllsop Can you please check and close if fine for you

[2020-11-30 02:27] BrentAllsop commented on #653
Yes, looks nice so closing this one.

[2020-11-30 02:27] BrentAllsop commented on #641
Yes, looking nice so closing this.

[2020-11-30 02:27] #641 closed, assigned to gautamv16

[2020-11-30 02:30] gautamv16 commented on #647
@rupalichavan9860 its fixed pls test

[2020-11-30 03:07] rupalichavan9860 commented on #653
@gautamv16 As per discussed in meeting need following change on thread post page so reopening this issue

![image](https://user-images.githubusercontent.com/40416610/100564439-0fde6780-32e7-11eb-9a72-acb2fc253321.png)

[2020-11-30 03:21] rupalichavan9860 commented on #647
@gautamv16 Tested and verified. Looks good now so closing this issue

[2020-11-30 03:21] #647 closed, assigned to nobody

[2020-11-30 20:53] BrentAllsop opened #660 "Critical must fix now privacy breach issue."
Users are reporting they cannot set their e-mail address to private.
I have been able to reproduce this problem.
This is a serious breach of privacy that must be fixed immediately.

Brent Allsop

[2020-12-01 13:02] gautamv16 commented on #331
@BrentAllsop  its fixed please check.

[2020-12-01 20:59] BrentAllsop commented on #331
Yes, I tested all this, looking great, so closing this.
Ready to put into production.
Thanks all for the quick response!!

[2020-12-01 20:59] #331 closed, assigned to nobody

[2020-12-06 11:28] gautamv16 commented on #653
@rupalichavan9860 I have checked this and found that this is displaying the thread created date but i guess some time ago it was the functionality to update the dates in threads when you post any comment on it. but for new data it will come fine. you can test it by creating new threads. i can show the date of the first post (or reply) but it will contradict in case there is not reply when the thre

[2020-12-07 03:01] BrentAllsop commented on #222
Brent did a quick verification, and it appears that all google searches are going only to canonizer.com.
So closing.

[2020-12-07 03:55] rupalichavan9860 commented on #653
@gautamv16 Tested and verified. But can you please change the statement to "Thread **Created** at 28-01-2019 by Ash" instead of "Thread **Post** at 28-01-2019 by Ash" as we are displaying thread created date here.
![image](https://user-images.githubusercontent.com/40416610/101307699-154f2b00-386e-11eb-9250-24440d8df4ab.png)

[2020-12-13 16:51] gautamv16 commented on #660
@BrentAllsop Its deployed to production. please check and close

[2020-12-13 17:45] BrentAllsop commented on #660
Yep, working wonderfully in production, so closing this issue.
Thanks!

[2020-12-13 17:45] #660 closed, assigned to nobody

[2020-12-13 18:45] gautamv16 commented on #538
@rupalichavan9860 , @BrentAllsop It is implemented pls test

[2020-12-13 18:48] gautamv16 commented on #650
@BrentAllsop I have tested this but not able to reproduce it, so for now closing it

[2020-12-13 18:48] #650 closed, assigned to nobody

[2020-12-13 22:09] BrentAllsop commented on #538
@rupalichavan9860, I tested the cases I am aware of, and everything is working.
If it looks OK to you, you can close this.

[2020-12-14 16:01] gautamv16 commented on #653
@rupalichavan9860 pls test

[2020-12-14 16:33] rupalichavan9860 commented on #653
@gautamv16 Tested and verified. Looks fine now so closing this issue

[2020-12-14 16:33] #653 closed, assigned to gautamv16

[2020-12-14 16:41] rupalichavan9860 commented on #538
@gautamv16 @BrentAllsop Tested and verified. I don't see any issues in this, so closing this issue

[2020-12-14 17:07] BrentAllsop commented on #199
We need to specify, here, what is an disn't legal.
Then we need to decide to increase the set of what is and isn't legal.

Finally, when the user gets an error, because of an illegal character, he needs to be told why, and which characters are legal/illegal.

[2020-12-20 15:06] BrentAllsop commented on #538
Some stuff still needs to be fixed.
I will add a list of things soon.

[2020-12-20 17:21] rupalichavan9860 commented on #222
@gautamv16 @BrentAllsop Still I can see the last commented issue .Search functionality listing records like "https://mail.canonizer.com/topic/205-test-camp-1-test/2"

![image](https://user-images.githubusercontent.com/40416610/102719731-afef4580-4315-11eb-912f-ca73656de184.png)

![image](https://user-images.githubusercontent.com/40416610/102719747-ce554100-4315-11eb-8bc3-213e0442fff1.png)

[2020-12-20 17:25] rupalichavan9860 commented on #618
@gautamv16 link for support@canonizer.com is missing on blog bottom  on production.

[2020-12-20 22:56] BrentAllsop commented on #538
There are still problems with the ether address verification system.

1.	Currently, the score shown on the Account Settings pages shows the value from MetaMask.  It should be from the API to get it directly from the blockchain.  If you set metamask to point to a test network, it gets the ether value from the test network, not the real blockchain.
2.	I just compared staging to live, and it looks li

[2020-12-21 18:03] BrentAllsop opened #661 "don't send a "new supporter" email, if the user just changes the order of the support."
If the user only changes the order of his support  (i.e. moves it from 5th choice to 1st choice, and all the other related re-orderings) don't send email.
Only send an email, for a new supporter of a camp.

[2020-12-23 13:12] rupalichavan9860 opened #662 "Page crash on social login: twitter ->browser back"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Click on Log in
3. Click on Twitter
4. Enter Username and password and click on "Sign In"
5. Enter invalid email ID
6. Click on Submit and click on browser's back arrow

Actual Result  :
Getting following page crash
![image](https://user-images.githubusercontent.com/40416610/102999191-9a189500-454e-11eb-9ce1-bb3344b35799.png)

[2020-12-23 13:22] rupalichavan9860 opened #663 "Number of invalid users getting are getting created"
When user is trying to log in using twitter , user needs to enter email ID  and user is getting OTP on entered email and able to login to the canonizer.
But as of now user can enter any invalid email address and cancel operation in between ,due to this number of invalid users are getting created .Please refer attached screenshot of Admin->Users

![image](https://user-images.githubusercontent.com/4

[2020-12-23 13:54] rupalichavan9860 opened #664 "Social Login : Facebook page crash"
I just created new facebook account and trying to login to canonizer using facebook ,I am getting following Error
Unable to log in: There is a 60-minute delay before new accounts can log in to any applications. Please try again in an hour.

![image](https://user-images.githubusercontent.com/40416610/103002061-3f823780-4554-11eb-8fae-f8e8b9aafc53.png)

When I click on Ok I am getting page following

[2020-12-28 08:48] rupalichavan9860 opened #665 "Mismatch names"
On Profile page we have field "Zip Code" which we can see on user supports page but here this field name is displaying as "Postal Code ".
Please refer following screenshots
Profile Page :

![image](https://user-images.githubusercontent.com/40416610/103201876-07457500-4917-11eb-8ce9-2be840a5d840.png)

User Supports Page :

![image](https://user-images.githubusercontent.com/40416610/103202011-54c1e2

[2020-12-28 09:01] rupalichavan9860 commented on #665
Also there is one suggestion for "Date Of Birth" field . It should be "Date Of Birth" instead of "Birthday" on User supports page

![image](https://user-images.githubusercontent.com/40416610/103202768-4ecd0080-4919-11eb-9e9f-91cbcbc41509.png)

[2021-01-03 16:45] gautamv16 commented on #222
@rupalichavan9860 updated robots on production it was missed when deployed 19th release on production. it will take some time to refelect

[2021-01-03 18:24] gautamv16 commented on #618
@rupalichavan9860 fixed pls test

[2021-01-04 13:37] rupalichavan9860 commented on #618
@gautamv16 Tested and verified. Working fine on production now so closing this issue

[2021-01-04 13:37] #618 closed, assigned to gautamv16

[2021-01-05 12:08] rupalichavan9860 opened #666 "Hyperlink on Browsing as: Guest"
Do we need hyperlink on Browsing as: Guest, because as of now I can see the hyperlink but it is not redirecting to anywhere

[2021-01-10 14:19] gautamv16 commented on #664
@rupalichavan9860 I think as we have discussed in the meeting this is only case if you create new FB account and it is not on our side . I Think we can close this issue

[2021-01-26 08:12] rupalichavan9860 opened #668 "Canonizer Emails issue"
I found that in some canonizer mails , mail body starts like **Hello `<first name> <Last Name>`** and some have **Hi `<first name> <Last Name>`**
Expected : It must be same/uniform at all places
And according to our canonizer  email doc https://docs.google.com/document/d/1xpdJ9XHs7FgZkJth9NE4chhTBR73p9XY_iu5S6OQLYg/edit it should be **Hello `<first name> <Last Name>`**

Please check following scre

[2021-01-26 13:06] rupalichavan9860 opened #669 "Support camp functionality is not working properly"
Issue 1 :
Steps to reproduce :
1. Login to https://staging.canonizer.com/
2. Create any new topic/select any existing topic
3. Try to support agreement camp if user is supporting sub camp

Expected Result : User's support should be removed from the sub camp and should see their support under agreement camp

Actual Result : As of now I can see user's support for both parent camp and sub camp

Issue

[2021-01-26 22:39] BrentAllsop opened #670 "ID links in the forums don't link to that identity."
![image](https://user-images.githubusercontent.com/6559312/105914958-5fda6180-5fec-11eb-8c40-73d2ae7facdd.png)

None of these "Africahead" ids, some of which are links, link to the ID.
They should all link to the same ID they would link to if this ID supported a camp.

[2021-01-26 22:50] BrentAllsop commented on #669
Good catch.
Yes, here is another example of problems, where I attempted to support Qualia are Material Qualities.
The only sub camps to "Material Qualities" were "Molecular Materialism.
![image](https://user-images.githubusercontent.com/6559312/105916215-d4fa6680-5fed-11eb-92c7-2275191112b1.png)

Also the new supported camp numbering is initially backwards.  The deleted ones should have their old

[2021-01-26 22:50] BrentAllsop commented on #669
Good catch.
Yes, here is another example of problems, where I attempted to support Qualia are Material Qualities.
The only supported child camps to "Material Qualities" were "Molecular Materialism" and "Orch OR".  None of the others should be in the will delete list.
![image](https://user-images.githubusercontent.com/6559312/105916215-d4fa6680-5fed-11eb-92c7-2275191112b1.png)

Also the new support

[2021-01-26 22:54] BrentAllsop commented on #669
And can we find a way to go back to the camp we came from (the one newly added to the list) if we cancel, not to the support page.

[2021-01-27 13:41] rupalichavan9860 commented on #669
Delegated support functionality is also not working. User is able to delegate their support to all the other supporters of the same camp.
According to functionality delegated support should be removed from user 1 and added to user 2 .as of now I can see user is able to delegate their support to both User 1 and user 2 for the same camp
Please check following screenshot

![image](https://user-images

[2021-02-01 05:19] akuks opened #671 "Upgrade MySQL 5.6 to latest."
Upgrade MySQL 5.6 to the latest because 5.6 is going to end of life on August 2021.

[2021-02-01 05:20] akuks opened #672 "Add reply on individual replies in Canonizer forums"

[2021-02-01 05:21] akuks opened #673 "Move reply textarea on thread to the top."

[2021-02-07 13:03] rupalichavan9860 opened #674 "Account Settings->Profile->Address"
User is not able to update their address. It is displaying following error in console

 You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started Places API error: BillingNotEnabledMapError
https://developers.google.com/maps/documentation/javascript/error-messages#billing-not-ena

[2021-02-07 18:15] gautamv16 opened #675 "fix issue with github vulnerabilities by upgrading laravel version"
fix issue with github vulnerabilities by upgrading laravel version

[2021-02-08 03:08] rupalichavan9860 opened #676 "Issue : click on symbol of fa-question(?)"
Steps to reproduce :
1. Go to https://staging.canonizer.com/ and login with valid email and password
2. Click on Browse
3. Select any topic
4. Click on symbol of fa-question(?) from Canonizer Sorted Camp Tree block/Support Tree for "Agreement" Camp block
5. Observe behaviour

![image](https://user-images.githubusercontent.com/40416610/107171424-c39b5c00-69e8-11eb-9fee-3e2c50003483.png)

Actual Res

[2021-02-08 03:17] rupalichavan9860 commented on #665
@gautamv16 Tested and verified.

[2021-02-08 03:17] #665 closed, assigned to nobody

[2021-02-08 03:32] rupalichavan9860 commented on #625
@gautamv16 Tested.

Can you please change the error message to "Please enter One Time Verification Code" instead of "Please enter OTP"

![image](https://user-images.githubusercontent.com/40416610/107172452-681e9d80-69eb-11eb-87ad-069b30cee661.png)

And error message  to "Error! Incorrect One Time Verification Code Entered" instead of "Error! Incorrect OTP Entered"

![image](https://user-images.git

[2021-02-08 03:44] rupalichavan9860 commented on #666
@gautamv16 Tested and verified.

[2021-02-08 03:44] #666 closed, assigned to nobody

[2021-02-08 03:59] rupalichavan9860 commented on #669
@gautamv16 I just created new topic to test this fix and created new camp using same user(user1).user 1 is now supporter of newly camp .
Now I am trying to support this new camp using another user and getting following page crash

![image](https://user-images.githubusercontent.com/40416610/107174418-27755300-69f0-11eb-8d21-75e033175a3f.png)

[2021-02-08 11:52] rupalichavan9860 commented on #663
@gautamv16 Tested and verified. Working fine now so closing this issue

[2021-02-08 11:52] #663 closed, assigned to nobody

[2021-02-08 11:57] rupalichavan9860 commented on #169
@gautamv16 Not able to test as I am getting page crash while supporting camp

[2021-02-08 12:30] rupalichavan9860 commented on #199
@gautamv16 Tested. Now text fields are not accepting special symbols but we need to do minor change in error messages .
For First Name, Middle Name and Last Name on profile page error messages are "The first name format is invalid.", "The middle name format is invalid.", "The last name format is invalid."

![image](https://user-images.githubusercontent.com/40416610/107219024-7e9e1680-6a36-11eb-965

[2021-02-09 12:24] rupalichavan9860 opened #677 "Uncaught TypeError: Cannot read property 'top' of undefined"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Browse and select any topic
4. Click on any sub camp
5. Apply as of date as any previous date than topic created date
6. Check in console

Actual Result :
Getting console error "Uncaught TypeError: Cannot read property 'top' of undefined"
Please refer attached screenshot for more details

!

[2021-02-09 13:10] rupalichavan9860 opened #678 "javascript error on blog page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Click on Blog
4. Open developer tool
5. Scroll on blog page many times and observe console

Result :
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/107368241-51209e00-6b06-11eb-9abb-546d7031c4b5.png)

[2021-02-10 15:51] rupalichavan9860 opened #679 "Minor : Grammar error in warning"
When user already supporting any camp and trying to support same camp , it is displaying warning "Warning! You are already supporting this camp. You **cant** submit support again."

![image](https://user-images.githubusercontent.com/40416610/107534976-56edb080-6be6-11eb-807d-0036bb16e9ba.png)

Grammatically can't is the right word.

It should be "Warning! You are already supporting this camp. You

[2021-02-13 09:27] rupalichavan9860 opened #680 "Not live topic name in Proposed change to topic email"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/107846673-816c8300-6e0b-11eb-82f3-8eca090ee8fb.png)

![image](https://user-images.githubusercontent.com/40416610/107846709-ba0c5c80-6e0b-11eb-9ff1-b1ec1dd962e1.png)

[2021-02-13 09:35] rupalichavan9860 commented on #668
@gautamv16 I have tested this for all emails excluding delegated support mail as I am getting page crash on delegate your  support link. So I will check this after crash fix and close

[2021-02-14 01:58] BrentAllsop opened #681 "Yet another history issue."
The Mind Expert topic is getting the incorrect topic name in the URL:
https://canonizer.com/topic/81-Daniel-Dennett/1-Agreement

Note that in the history, the latest version of the topic has the name "Daniel Dennett" but this version has been objected to (red) so should not be live.
The correct (green) live name should be "Mind Experts"

![image](https://user-images.githubusercontent.com/6559312/1

[2021-02-14 13:48] rupalichavan9860 opened #682 "Page crash while submitting camp support"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Browse and select any topic/camp that is supported previously.
4. Delete support of any camp
5. Go to the topic again and apply filter as Filter < 0.00 and click on just removed support camp name
6. Click on Directly Join or Manage Support and click on Submit

Actual Result :
Getting follow

[2021-02-15 03:08] rupalichavan9860 commented on #679
@gautamv16 Tested and it looks perfect now but user should not receive the above warning in following scenario.

User1 is trying to support the camp in which he/she is already delegating their support to User2.And displaying following warning
"Warning! You are already supporting this camp. You can't submit support again."
As per functionality User1 can directly support to the camp So I think it sh

[2021-02-15 11:54] rupalichavan9860 commented on #682
@gautamv16 Tested and verified. Working fine now so closing this issue

[2021-02-15 11:54] #682 closed, assigned to nobody

[2021-02-15 12:05] rupalichavan9860 commented on #679
@gautamv16 I will close this issue as this is only message change and working fine. I will add above issue under 669

[2021-02-15 12:05] #679 closed, assigned to nobody

[2021-02-15 12:06] rupalichavan9860 commented on #669
@gautamv16 Tested and it looks perfect now but user should not receive the warning in following scenario.

User1 is trying to support the camp in which he/she is already delegating their support to User2.And displaying following warning
"Warning! You are already supporting this camp. You can't submit support again."
As per functionality User1 can directly support to the camp So I think it should d

[2021-02-15 12:11] rupalichavan9860 commented on #668
@gautamv16 Tested and verified. Tested for delegated emails also and working as per email document so closing this issue

[2021-02-15 12:11] #668 closed, assigned to nobody

[2021-02-15 12:22] rupalichavan9860 commented on #670
@gautamv16 Tested. Id's in blue color are redirecting to correct user's supported camp page but Id's in red color are redirecting to top of the same page . I checked the link on red color id's .Please check below screenshot

![image](https://user-images.githubusercontent.com/40416610/107945898-49557380-6fb6-11eb-9b79-27f554480970.png)

@BrentAllsop Red color id's should also redirect to supported

[2021-02-17 07:25] rupalichavan9860 commented on #669
@gautamv16 I am facing one more issue in this. I have created fresh topic and created 3 camps "Test camp 1", "Test camp 2", "Test camp 3" and same user is supporting all 3 camps .
Now using sane user I am trying to support Agreement camp and I can see camp names multiple times in list.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/108169693-0e228400-7

[2021-02-17 15:17] rupalichavan9860 opened #683 "Topic and Camp name restrictions"
Can we give old camp name for new one. As of now I am getting error while creating new camp name as "The camp name has already been taken"

Please refer following scenario

1. I have Created  camp with name "Test camp 1" on 1/26/2021, 6:21:27 PM
2. And Updated  "Test camp 1"  with new name "Test camp test updated" on  2/14/2021, 7:38:41 PM and "Test camp test updated" is live camp name
3. Now I am

[2021-02-17 17:19] kellycasa1 opened #684 "Page Crash On Live System While Creating New Account"
<img width="1280" alt="Screen Shot 2021-02-17 at 10 16 24 AM" src="https://user-images.githubusercontent.com/79217857/108241617-43bc7280-7109-11eb-84f9-769fed8a1cca.png">

Registered new account and received this fatal error when submitted

[2021-02-22 02:50] #658 closed, assigned to nobody

[2021-02-22 02:50] BrentAllsop commented on #658
Just a policy change, no testing required.

[2021-02-22 03:04] BrentAllsop commented on #684
This person was able to create his account, so closing this.

[2021-02-22 03:11] BrentAllsop commented on #684
We need to create the ability to handle whenever any API, not owned by us, fails.
So it reports to the user, it isn't a canonizer issue, it is an API issue.
In the error message, report the api, and the issue.

If possible we should review other API failure cases, to be sure they are handled intelligently.
possible ones to review:

In fact, handle all errors, intelligently, so we see a canonizer e

[2021-02-22 13:01] rupalichavan9860 commented on #652
@gautamv16 @BrentAllsop Tested .
On live I am not getting Inappropriate "added support" email but I am getting Inappropriate "removed support" emails for other camps .This will get fixed on 20th release because it is working fine on staging.
But we need to keep this open as we still have issue on live

[2021-02-22 13:05] rupalichavan9860 commented on #661
@gautamv16 @BrentAllsop This is working fine on staging but it is having one issue
User can change support order of camp, drag & drop the camp box on their choice position from User->Account settings->Supported camps but user is not able to change the camp order from Directly Join or Manage support

[2021-02-22 13:54] rupalichavan9860 commented on #683
As per discussion in meeting user should able to create new topic or update any existing topic , create new camp or update any existing camp with any name excluding live and not live topic/camp name throughout the application.

As of now it is restricting user for creating topic/camp name even if camp/topic names are old or objected
@BrentAllsop Please correct me if I am missing something

[2021-02-25 13:29] rupalichavan9860 opened #685 "Canonizer 2.0 Internal Search / Web Google Search"
Canonizer 2.0 Internal Search / Web Google Search  is missing on some mobile devices.
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Open developer tool
4. Click on Toggle Device Toolbar where we can see our site in responsive mode
5. Check for different resolutions
6. Observe the result

I can see Internal Search / Web Google Search  only wh

[2021-02-26 12:14] rupalichavan9860 commented on #169
@gautamv16 User can see same camp name multiple times as supported camp so I am not able to calculate score properly.I have already logged this issue in other issue please refer screenshot for more details.

![image](https://user-images.githubusercontent.com/40416610/109298835-31091280-785a-11eb-8cdd-176367a290ed.png)

SO I will check the once the above issue is fix.

[2021-02-28 16:11] gautamv16 commented on #625
@rupalichavan9860 It is fixed i have changed one time password to one time verification code in all places.

[2021-03-02 07:30] rupalichavan9860 commented on #670
@gautamv16 Tested and verified. All ID's are redirecting to their respective user supports page now so closing this issue

[2021-03-02 07:30] #670 closed, assigned to nobody

[2021-03-02 07:46] rupalichavan9860 commented on #661
@gautamv16 Tested. User can change the camp order now but after this fix found another issue, User can drag and drop only text also anywhere on the page which looks messy on the page please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/109614967-55663700-7b59-11eb-8ce5-548b9d42b137.png)

[2021-03-02 07:56] rupalichavan9860 commented on #625
@gautamv16 Tested and verified. Looking uniform at all places so closing this issue

[2021-03-02 07:56] #625 closed, assigned to nobody

[2021-03-02 12:53] rupalichavan9860 commented on #199
@gautamv16 Tested and verified.

[2021-03-02 12:53] #199 closed, assigned to nobody

[2021-03-02 13:37] rupalichavan9860 commented on #681
@gautamv16 Tested now I can see live topic name in URL . Closing this

[2021-03-02 13:37] #681 closed, assigned to nobody

[2021-03-02 13:41] rupalichavan9860 opened #686 "Old topic name and Old Camp Name is displaying on agreement page"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/109657054-14871600-7b8b-11eb-8941-bd314a6a73d9.png)

[2021-03-02 13:45] rupalichavan9860 commented on #680
@gautamv16 while testing #681 I found that old topic name is displaying in proposed change to topic mail

[2021-03-02 13:51] rupalichavan9860 opened #687 "Multiple entries getting created on multiple click"
Multiple entries getting created while updating topic, statement and camp .
Try to update any topic, statement or camp and click on submit update button multiple times , multiple records getting created
please check below screenshot for more details

![image](https://user-images.githubusercontent.com/40416610/109657786-e5bd6f80-7b8b-11eb-9805-563ca23e3f0f.png)

![image](https://user-images.githubu

[2021-03-02 16:53] rupalichavan9860 commented on #687
@gautamv16 Need to check and fix this issue on every button click throughout application

[2021-03-02 16:59] BrentAllsop commented on #687
That will make the system much more robust, yes.

[2021-03-02 18:05] rupalichavan9860 opened #688 "Issues on Topic and camp change ageement"
Steps to reproduce :
For topic change agreement :
Topic : https://staging.canonizer.com/topic/291-Test-topic-2-march-2021-4/1-Agreement
1. I created topic name "Test topic 2 march 2021"  by user "1rupali1"
2. After that user "RC" submitted topic change  times
    1. Test topic 2 march 2021 1
    2. Test topic 2 march 2021 2
    3. Test topic 2 march 2021 3
    4. Test topic 2 march 2021 4
    5. T

[2021-03-05 18:25] rupalichavan9860 commented on #686
Both topic name and camp name is displaying as old topic and camp name under canonizer sorted camp tree. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/110157404-22989900-7e0e-11eb-9d15-d4c3747db8a7.png)

[2021-03-05 18:41] rupalichavan9860 commented on #686
Also displaying old camp name on user supports camp page

![image](https://user-images.githubusercontent.com/40416610/110159074-380ec280-7e10-11eb-939c-e104901cd2ea.png)

Got the same issue on create camp page .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/110160249-c5064b80-7e11-11eb-90b6-95a86eeedec2.png)

[2021-03-06 13:20] rupalichavan9860 commented on #686
Browse page :

![image](https://user-images.githubusercontent.com/40416610/110208017-b15bf300-7eac-11eb-88a4-63b94530101f.png)

[2021-03-09 07:46] rupalichavan9860 opened #689 "Error message for nick name field on some pages is not proper"
Precondition : User must not have any nick name

Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Browse
4. Select any topic
5. Click on `<Start new supporting camp here>`  or Create New Camp link from left menu
6. Without entering any data click on "Create Camp" button

Expected Result :

Error message should display "The nick name field

[2021-03-09 07:49] rupalichavan9860 commented on #689
Same on Create thread page .Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/110436273-0b8dcb80-80da-11eb-94cb-08d09e9549b4.png)

Camp Update page :
![image](https://user-images.githubusercontent.com/40416610/110436468-48f25900-80da-11eb-82f3-57ce082e08d0.png)

[2021-03-09 08:33] rupalichavan9860 opened #690 "File upload : Most recently uploaded file is displaying at bottom of the list"
Most recently uploaded file is displaying at bottom of the list , so user need to scroll down to the bottom of the page(if list is having more records) to view recently uploaded file
I think we need to display recent uploads at top of the list .
@BrentAllsop please confirm
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/110441849-3a0ea500-80e0-11eb-8aa

[2021-03-09 14:10] rupalichavan9860 opened #691 "Forgot Password : URL name should match with page title for uniformity"
URL for Forgot Password page should be "https://staging.canonizer.com/forgotpassword" as of now URL is "https://staging.canonizer.com/forgetpassword"

Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/110482931-32b2c000-810f-11eb-9089-940c749a12e1.png)

[2021-03-09 14:50] rupalichavan9860 opened #692 "support@canonizer.com should be link on Reset link sent page"
It would be good if we make support@canonizer.com as a link on Reset link sent page.
As of now it is displaying as normal text
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/110488013-211fe700-8114-11eb-969c-687214843a86.png)

[2021-03-10 18:42] BrentAllsop opened #694 "Try out google add sense "auto adds" on staging"
Evidently we can turn on what google add sense calls "auto adds"

It'd be fun to figure out how to turn these on, on staging, just to see if it is better than what we have.

Here's a snippet from their email:

We see that you’re not using Auto ads on your site.
--
Please help us understand why by selecting from one of the reasons highlighted below and enjoy our tips:
 
•I don’t know how to start w

[2021-03-11 17:53] rupalichavan9860 opened #695 "Camp About URL"
@BrentAllsop Can you please explain what "Camp About URL " field is? As of now "Camp About URL" field don't have any validations, I can enter unlimited characters in this field

![image](https://user-images.githubusercontent.com/40416610/110831751-903a3e80-82c0-11eb-8698-812b4784425d.png)

[2021-03-12 23:56] BrentAllsop opened #696 "Need to have the ability to delete news items."

[2021-03-14 17:34] gautamv16 commented on #291
@rupalichavan9860 pls test

[2021-03-14 17:34] gautamv16 commented on #169
@rupalichavan9860 pls test

[2021-03-14 17:35] gautamv16 commented on #661
@rupalichavan9860 pls test

[2021-03-14 17:36] gautamv16 commented on #661
@rupalichavan9860 pls test

[2021-03-16 13:32] rupalichavan9860 commented on #669
@gautamv16 I am getting page crash on "Directly Join or Manage Support" button click when user is not a supporter of a camp. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/111317299-09071500-868a-11eb-992c-43a603e11ad5.png)

[2021-03-16 13:39] rupalichavan9860 commented on #669
Also getting page crash on Account Settings->Supported camps
Click on "Supported Camps" sub tab. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/111318453-1670cf00-868b-11eb-9ffc-f2458d3e6960.png)

[2021-03-19 19:07] gautamv16 commented on #669
@rupalichavan9860 pls test

[2021-03-21 06:35] rupalichavan9860 commented on #669
@gautamv16 page crash on "Directly Join or Manage Support" button click is fixed but still getting page crash on Account Settings->Supported camps
Also getting page crash on "Directly Join or Manage Support" >Cancel button click(which is support page only).Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/111896104-2dbe0c80-8a3d-11eb-9a4d-9785ee4558a7.png

[2021-03-21 06:52] rupalichavan9860 commented on #291
@gautamv16 Tested .This issue is not fixed yet. Please refer below screenshot
https://staging.canonizer.com/camp/history/293-Test-Topic-issue-291-retest/2-Test-camp-1 this camp is created by user "RC" but "RC" is not supporting yet.

![image](https://user-images.githubusercontent.com/40416610/111896443-a6be6380-8a3f-11eb-9381-6aa56b282334.png)

When user trying to support this camp user can see bo

[2021-03-21 12:44] gautamv16 commented on #669
@rupalichavan9860 pls test

[2021-03-21 16:12] rupalichavan9860 commented on #669
@gautamv16 Still I can't see supported camps page , can see code instead .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/111912120-3985ef00-8a8e-11eb-8582-63fdfa78822f.png)

[2021-03-21 16:44] rupalichavan9860 commented on #691
@gautamv16 Tested and verified.

[2021-03-21 16:44] #691 closed, assigned to nobody

[2021-03-21 16:47] rupalichavan9860 commented on #692
@gautamv16 Tested and verified

[2021-03-21 16:47] #692 closed, assigned to nobody

[2021-03-21 16:49] gautamv16 commented on #669
@rupalichavan9860 pls test again

[2021-03-21 17:09] rupalichavan9860 commented on #669
@gautamv16 Tested and verified. Page crash issue is fixed now. Only issue remaining in this is user supports page is still displaying duplicate camp names. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/111913850-b1a3e300-8a95-11eb-8f01-8ef23a021050.png)

[2021-03-21 17:15] rupalichavan9860 commented on #689
@gautamv16 Tested and verified.

[2021-03-21 17:15] #689 closed, assigned to nobody

[2021-03-21 17:21] rupalichavan9860 commented on #686
@gautamv16 Tested. This issue is not fixed yet only first commented issue is fixed . Can you please check again and update

[2021-03-21 17:29] rupalichavan9860 commented on #661
@gautamv16 Tested and verified. Layout issue is working fine now.
@BrentAllsop Can you please check and close if fine for you?

[2021-03-21 18:31] rupalichavan9860 commented on #169
@gautamv16 Tested . Choice number is always displaying as 1 for all camps .Also for nick names like "1rupali1" choice number is missing .please refer attached screenshot

"sub camp under test camp2" Camp:
![image](https://user-images.githubusercontent.com/40416610/111916517-5972de00-8aa1-11eb-91be-8ea3478a4d9a.png)

"Test camp 1" Camp :
![image](https://user-images.githubusercontent.com/40416610/1

[2021-03-22 02:20] BrentAllsop commented on #695
That was designed for people to add opinion to pages on the internet (the camp about url)
It should have a limit, probably something like 1024 characters.
It's not really used, anywhere, in the 2.0 system, that I know of.

[2021-03-22 12:36] rupalichavan9860 commented on #291
@gautamv16 Tested . This is working fine now for sub camp .But still I can see all nick names while supporting agreement camp.

When user trying to support the agreement camp , user can see both nick names in drop down .It should display only "RC" as Once you pick a nick name, you must always use the same nick name for any contribution
For all other contribution , I can see only "RC"
![image](http

[2021-03-22 13:04] rupalichavan9860 commented on #169
@gautamv16 Also please check choice number sequence on supports pages. Please refer below screenshots

![image](https://user-images.githubusercontent.com/40416610/111993824-149c8500-8b3d-11eb-8d5d-0aa06f1d1301.png)

![image](https://user-images.githubusercontent.com/40416610/111993914-2aaa4580-8b3d-11eb-8e1f-9ccd25badca2.png)

[2021-03-22 13:07] rupalichavan9860 commented on #13
@akuks I can't see this feature. Please check and update on this

[2021-03-22 13:08] rupalichavan9860 commented on #14
@akuks I can't see this feature. Please check and update on this

[2021-03-22 13:29] rupalichavan9860 commented on #661
@gautamv16 Change the order of the support is not working properly. I have create fresh topic and created 4 sub camps
1. Test camp 1
2. Test camp 2
3. Test camp 3
4. Test camp
and moved Test camp to first position while supporting but now I can see order of supports as below ,

![image](https://user-images.githubusercontent.com/40416610/111996978-904c0100-8b40-11eb-9639-70581246f2bd.png)

![image]

[2021-03-22 13:38] rupalichavan9860 commented on #695
@BrentAllsop Thanks for the clarification. I will mark it as bug then
@gautamv16 Please limit the character length for field "Camp About URL" to 1024 characters.

[2021-03-29 19:53] gautamv16 commented on #291
@rupalichavan9860 lets discuss this as i see its working fine. in the above camp mentioned by you The user having nickname  RC or Rupali C has not contributed yet thats why its showing all nicknames. the topic mentioned above is created by user having nickname "1rupali1".

[2021-03-29 19:55] gautamv16 commented on #661
@rupalichavan9860 fixed. pls test

[2021-03-29 19:55] gautamv16 commented on #669
@rupalichavan9860 fixed. pls test

[2021-03-29 20:05] gautamv16 commented on #169
@rupalichavan9860 Its fixed. Please test. and the choice number you have mentioned is coming according to the support order for that user for selected camp

[2021-03-30 08:55] rupalichavan9860 commented on #661
@gautamv16 Tested. still facing the issue .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/112961966-81c6a080-9163-11eb-801e-07b17493d75f.png)

after supporting newly created camp (which moved to position 1)
![image](https://user-images.githubusercontent.com/40416610/112962093-a15dc900-9163-11eb-8286-17bae1cff346.png)

![image](https://user-images.gith

[2021-03-30 09:02] rupalichavan9860 commented on #669
@gautamv16 Above issue is fixed but all supported camps are not listing in email. Please refer screenshot
User "Rupali C" is supporting all the below camps but while supporting new camp ,it is listing only that camp name
![image](https://user-images.githubusercontent.com/40416610/112962959-8cce0080-9164-11eb-999f-70c52c21a68e.png)

Please check below screenshot(Listing only current camp name)

![i

[2021-03-30 09:14] rupalichavan9860 commented on #169
@gautamv16 count is displaying same for both camps as both camps are displaying at position 1
![image](https://user-images.githubusercontent.com/40416610/112964747-3a8ddf00-9166-11eb-83d8-349f9f3eca05.png)

![image](https://user-images.githubusercontent.com/40416610/112964861-53969000-9166-11eb-9951-815d4b63caeb.png)

![image](https://user-images.githubusercontent.com/40416610/112964948-6a3ce700-9

[2021-04-02 20:34] BrentAllsop opened #698 "add things like "disallow /browse/*" to robots.txt"
It seems like the allow statements do nothing in robots.txt, as everything is allowed, like /user/supports/* whether allowed or not.
We do want to allow /user/supports/* (we should probably add that), but we don't want to allow /browse/*

It would be even better if we could disallow everything but what is in the allow section.
Everything else should be disallowed, including /browse/*

We should cr

[2021-04-03 19:31] BrentAllsop opened #699 "2 Canonizer canonizer algorithms"
**Create 2 canonizer algorithms for canonizer governance.**

The two algorithms will be:
"Canonizer Shares"        the number of recognition shares held as of that date.
"Canonizer Canonizer"   the sqrt(shares)

Create a new DB record containing the following:
unique id       record key
unique id of nick name record.  (canonizer algorithm will look up record for nick name, based off this.)
*

[2021-04-04 18:28] gautamv16 commented on #169
@rupalichavan9860 this should be fixed now because ordering issue is fixed.Please retest it

[2021-04-04 18:30] gautamv16 commented on #661
@rupalichavan9860 Pls test

[2021-04-04 18:30] gautamv16 commented on #291
@rupalichavan9860 pls test

[2021-04-05 07:21] rupalichavan9860 commented on #169
@gautamv16 Tested and verified. Working fine now so closing this issue

[2021-04-05 07:21] #169 closed, assigned to nobody

[2021-04-05 07:30] rupalichavan9860 commented on #291
@gautamv16 Tested and verified. Working now so closing this issue

[2021-04-05 07:30] #291 closed, assigned to nobody

[2021-04-05 07:40] rupalichavan9860 commented on #661
@gautamv16 Working fine for me so closing this issue

[2021-04-05 07:40] #661 closed, assigned to nobody

[2021-04-06 06:18] rupalichavan9860 opened #700 "Link is missing for `<topic name>:<camp name>` name in statement objected email"
Link is missing for `<topic name>:<camp name>` when someone is objected to statement change.
Please refer below screenshot

![image](https://user-images.githubusercontent.com/40416610/113666972-be4b4c80-96cd-11eb-9d4b-49a325a57b83.png)

According to canonizer email document there should be link

![image](https://user-images.githubusercontent.com/40416610/113667114-f2bf0880-96cd-11eb-88f3-63deb58f0

[2021-04-09 08:25] rupalichavan9860 commented on #669
Delegated supporter is not able to join the camp directly. Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/114151718-091dcc00-993b-11eb-930f-ce1658f7423c.png)

![image](https://user-images.githubusercontent.com/40416610/114151878-3b2f2e00-993b-11eb-80b8-f4edee82e497.png)

[2021-04-11 09:07] rupalichavan9860 opened #701 "Page crash on supporting sub camp"
Steps to reproduce:
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to browse and select any topic
4. Select any sub camp
5. Apply as of date as any previous date (than camp created date)
6. User see following screen
![image](https://user-images.githubusercontent.com/40416610/114298228-fb9b4a00-9ad2-11eb-985c-7207aad03870.png)
7. Click on date link
8. User see

[2021-04-11 19:29] gautamv16 commented on #701
@rupalichavan9860 pls test

[2021-04-11 19:29] gautamv16 commented on #669
@rupalichavan9860 pls test

[2021-04-12 16:14] rupalichavan9860 commented on #701
@gautamv16 Tested. Page crash issue is fixed on staging but I am getting same page crash for same scenario on live .Please refer attached screenshot
Live :
![image](https://user-images.githubusercontent.com/40416610/114425443-b4967d00-9bd6-11eb-8b04-08d10fbf8c26.png)

Also I am getting another issue on staging on this:
After applying as of date filter "Your supporting camps list for topic " is not

[2021-04-12 16:31] rupalichavan9860 opened #702 "Question on Delegated support functionality"
I have created topic  "Exploratory testing 5april2021" and topic having following camps
1.test camp 1 updated
2.Test camp 2
3.Test camp 3
4.Test camp 4 by rc1
5.Test camp 5
6.Test camp 6 moving to1

Question 1:
User "yopmail1" delegated their support to user "@@@" for camp "test camp 1 updated " and "@@@" is supporting all the other camps also so I can see "yopmail1" as a delegated supporter for e

[2021-04-12 16:50] BrentAllsop commented on #702
Yes, that is an issue.  If you delegate to someone, in any camp, you are effectively delegating to them in all camps.
If you change your delegation to another person, in any camp, the entire old delegation is removed, and you now support all the camps, with the new person.

And the issue is, when it shows you are delegating to someone, at any point in time, it should list all the camps your delega

[2021-04-12 16:50] rupalichavan9860 commented on #669
@gautamv16 Tested. Delegated supporter can see and able to click the "Submit" button to support camp directly , but when click on "Submit" button nothing is changed.
User can see the "Warning! You have already delegated your support for this camp to user Rupali Chavan. If you continue your delegated support will be removed." this warning but still Delegated supporter remains delegated supporter fo

[2021-04-12 17:27] rupalichavan9860 commented on #702
@BrentAllsop Thanks for the confirmation

[2021-04-12 17:37] rupalichavan9860 opened #703 "Supported Camps is not listing camps under topics"
I was checking as of date filter functionality and applied as of date filter 5-6 times for the topic and after some time I checked "Supported Camps" page and see camps are not listing (Listing only topic names)

![image](https://user-images.githubusercontent.com/40416610/114437246-e95d0100-9be3-11eb-8111-bad592735cb1.png)

After log out and login again it is working fine

[2021-04-15 16:57] BrentAllsop opened #704 "All public displays of "nick names" should be a link showing the supports for that nick name."
For example, in the history page, it lists the nick name which submitted each version.
This should be a link to the supports page for that nick name.

Any other place a nick name is publicly displayed should also be a link.

[2021-04-18 17:18] BrentAllsop commented on #652
Yes, I noticed getting inappropriate "removed support", even though the support for that camp didn't change, I only added another supporting camp after that camp support that didn't change.

[2021-04-18 18:39] gautamv16 commented on #669
@rupalichavan9860 Pls test its fixed

[2021-04-19 02:25] gautamv16 commented on #701
@rupalichavan9860 pls test

[2021-04-19 02:54] rupalichavan9860 commented on #669
@gautamv16 Tested. I am getting page crash again
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to browse and select any topic
4. Select any camp
5. Apply as of date date filter as any previous date
6. click on topic created date then camp created date
7. Click on "Directly Join or Manage Support" button
8. Observe result

Actual Result :

[2021-04-19 02:57] rupalichavan9860 commented on #701
@gautamv16 Tested. I am getting page crash again
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to browse and select any topic
4. Select any camp
5. Apply as of date date filter as any previous date
6. click on topic created date then camp created date
7. Click on "Directly Join or Manage Support" button
8. Observe result

Actual Result :

[2021-04-19 03:04] rupalichavan9860 commented on #669
@gautamv16 Tested . I have created fresh topic and camp. Topic submitter trying to support sub camp but support is not getting added
I am getting removed support mail from "Agreement" camp and added support mail to sub camp but can't see added support under list

[2021-04-19 03:08] rupalichavan9860 commented on #669
Checked for old topics/camps also user is getting support added and removed mails but can't see support under support tree

[2021-04-19 03:16] rupalichavan9860 commented on #703
@gautamv16 Tested and verified. I can see camps are listing properly even after applying as of date as previous date , so closing this issue

[2021-04-19 03:16] #703 closed, assigned to nobody

[2021-04-25 12:39] gautamv16 commented on #669
@rupalichavan9860 pls test

[2021-04-25 13:06] rupalichavan9860 commented on #669
@gautamv16 Tested and verified. Working fine now so closing this issue

[2021-04-25 13:06] #669 closed, assigned to nobody

[2021-04-25 13:07] gautamv16 commented on #701
@rupalichavan9860 pls test

[2021-04-25 13:27] rupalichavan9860 commented on #701
@gautamv16 Tested and verified. Page crash issue is resolved now so closing this

[2021-04-25 13:27] #701 closed, assigned to nobody

[2021-04-25 18:30] rupalichavan9860 opened #705 "Order of camps are displaying incorrectly"
Steps :
1. I have created new topic "Exploratory testing 25 april" and created 4 sub camps "Test camp 1","Test camp 2", "Test camp 3" and "Test camp 4" and supporting all 4 sub camps
orders are like below :
         1. Test camp 1
         2. Test camp 2
         3. Test camp 3
         4. Test camp 4
2. Then created sub camp "sub camp under test camp1" under "Test camp 1 and supported camp "sub c

[2021-05-03 02:19] BrentAllsop opened #706 "Add "Jobs" and "Services" links on the side bar."
Add two more links, under "Blog"  on the side bar:

Jobs:         https://canonizer.com/topic/6-Canonizer-Jobs/1-Agreement

Services:    https://canonizer.com/topic/37-Canonizer-Services/1-Agreement

[2021-05-03 14:03] akuks opened #707 "Save All Canonizer Algorithms in the Database to improve the performance."
**Problem Statement**
At present, all of the canonizer algorithms are calculated on the fly. It means if 50 users simultaneously open the page, application will calculate the canonizer score 50 times.

This behaviour affects the performance of the application.

**Actions**
We need to calculate the score one-time and then store it in the database. Frontpage of the application took the score from th

[2021-05-09 11:50] rupalichavan9860 opened #708 "Spelling mistake"
I found spelling mistake on profile info page .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/117571140-c6424600-b0ea-11eb-9ad6-8af187fe1762.png)

[2021-05-09 11:54] rupalichavan9860 commented on #708
Found one more spelling mistake on Nick Names page. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/117571246-5ed8c600-b0eb-11eb-8937-192feaa19101.png)

[2021-05-10 02:50] BrentAllsop commented on #699
A few issues:
1. For the nick name field on the admin page add "(Enter nick name id)"
2. If you support more then one camp, the camp scores aren't showing correctly.
3. When creating new admin table entries, need an ability to specify the year.

[2021-05-11 05:28] rupalichavan9860 commented on #704
@gautamv16 I can see this changes on staging but I am getting page crash on some links and some links are redirecting to wrong URL's

Issue 1 :
Please find attached screenshot

1. Can see below link to nick name "Rupali auto"

![image](https://user-images.githubusercontent.com/40416610/117762440-cbb4a300-b246-11eb-90c1-0db1d3f73c67.png)

2. When I click on "Rupali auto" ,I am getting below page cr

[2021-05-11 05:34] rupalichavan9860 commented on #708
@gautamv16 Tested and verified. It spells correct now so closing this issue

[2021-05-11 05:34] #708 closed, assigned to nobody

[2021-05-12 01:02] BrentAllsop commented on #699
There needs to be a new column in the user's "nick names" page, containing the value that must be used for the shares.
The user needs to be able to look up this number for the nick name they want the shares to be associated with, and send it to the accountant (kinnari) so she can enter the shares for that person.
The same terminology must match this column name, and the filed name on the shares ma

[2021-05-12 17:24] rupalichavan9860 commented on #705
@gautamv16 Tested and verified. Working fine now so closing this

[2021-05-12 17:24] #705 closed, assigned to nobody

[2021-05-14 17:42] rupalichavan9860 opened #710 "Layout issue after applying as of date filter"
Issue :  User can't see As of date filter field

Select any topic and Apply as of date filter as any previous date and observe page (when screen size is 100%)
Please refer attached screenshot for more details

![image](https://user-images.githubusercontent.com/40416610/118308453-955a7a80-b509-11eb-9758-9fd1c2e018a4.png)

[2021-05-14 18:45] rupalichavan9860 opened #711 "Bread Crumb links on Topic update page and all objection pages."
It would be nice to have the standard bread crumbs link back to the camp and topic like other pages.

As of now bread crumbs are missing on Topic update page and all objection pages.

@BrentAllsop Can you please confirm on this ?

[2021-05-16 15:50] gautamv16 commented on #710
@rupalichavan9860 I am not facing this issue. I have checked it in different resolution in chrome browser

[2021-05-16 18:58] gautamv16 commented on #704
@rupalichavan9860 Its fixed pls test

[2021-05-16 18:59] gautamv16 commented on #710
@as discussed with rupli on call i found the issue and it is now fixed. @rupalichavan9860 pls test

[2021-05-17 02:27] BrentAllsop commented on #711
Yea, that sounds like a great idea.

[2021-05-17 02:57] rupalichavan9860 commented on #704
@gautamv16 Retested and verified. Working good now so closing this issue

[2021-05-17 02:57] #704 closed, assigned to nobody

[2021-05-17 03:01] rupalichavan9860 commented on #710
@gautamv16 I still can't see As of date filter field after applying as of date filter . Can you please check again

![image](https://user-images.githubusercontent.com/40416610/118427170-3bfd7180-b6ea-11eb-9556-0ec874ea3338.png)

[2021-05-17 03:09] rupalichavan9860 commented on #706
@gautamv16 I can see Jobs and Services links under "Blog" on the side bar but as of now they are redirecting to incorrect page
This may be because  https://canonizer.com/topic/6-Canonizer-Jobs/1-Agreement and https://canonizer.com/topic/37-Canonizer-Services/1-Agreement are not present on staging

So I will keep this open and will close after testing it on production environment

[2021-05-17 03:42] BrentAllsop commented on #706
Yes, these only exist in production.
Can we do an update of the staging data?
Then we can close this before release.

[2021-05-18 08:23] rupalichavan9860 commented on #700
@gautamv16 Tested . Still I can't see the link . Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/118617608-6a5d7880-b7e0-11eb-9596-f053180dabd0.png)

[2021-05-23 10:24] gautamv16 commented on #710
@rupalichavan9860 pls check again

[2021-05-23 14:10] gautamv16 commented on #700
@rupalichavan9860 pls test

[2021-05-23 18:21] rupalichavan9860 commented on #690
@gautamv16 Tested and verified. I can see most recent files on top of list so closing this issue

[2021-05-23 18:21] #690 closed, assigned to nobody

[2021-05-23 18:30] rupalichavan9860 commented on #711
@gautamv16 While testing this I am getting page crash on "Submit Topic Update Based On This". Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/119272337-09d89c00-bc23-11eb-8987-dc36b62cf7ad.png)

Also on "Object" click :

![image](https://user-images.githubusercontent.com/40416610/119272498-d8140500-bc23-11eb-80de-58604fd81ea6.png)

[2021-05-23 18:46] rupalichavan9860 commented on #700
@gautamv16 Tested and verified.

[2021-05-23 18:46] #700 closed, assigned to nobody

[2021-05-23 19:00] rupalichavan9860 commented on #695
@gautamv16 Tested and verified.

[2021-05-23 19:00] #695 closed, assigned to nobody

[2021-05-24 02:39] gautamv16 commented on #711
@rupalichavan9860 its fixed. please check

[2021-05-24 03:29] BrentAllsop commented on #317
We think this is fixed, so if we are ready to close and release, just close this.
Otherwise make sure mail.canonizer.com and production.canonizer.com don't serve any pages.

[2021-05-24 03:39] rupalichavan9860 commented on #711
@gautamv16 Tested and verified. Page crash issue is resolved and also I can see Bread Crumb links on Topic update page and all objection pages so closing this issue

[2021-05-24 03:39] #711 closed, assigned to nobody

[2021-05-24 05:30] rupalichavan9860 commented on #710
@gautamv16 Tested on other PC and working fine for me so closing this issue

[2021-05-24 05:30] #710 closed, assigned to nobody

[2021-05-24 15:53] rupalichavan9860 opened #712 "All public displays of "nick name" link should highlight specific topic/camp"
Topic/camp : https://staging.canonizer.com/topic/299-Exploratory-testing-5april2021/2-test-camp-1-updated#statement

This topic is present under Namespace : /sandbox_testing/
1. When user is on Camp Statement History page and click on nick name link "Rc1" ,  /sandbox_testing/ namespace should get selected and topic/camp name should get highlighted.
As of now user can see selected namespace as /Gen

[2021-05-24 16:36] rupalichavan9860 commented on #662
@gautamv16 This is working fine so closing the issue

[2021-05-24 16:36] #662 closed, assigned to nobody

[2021-05-24 16:45] #664 closed, assigned to nobody

[2021-05-27 14:27] rupalichavan9860 commented on #686
@gautamv16 This is working good now so closing this issue

[2021-05-27 16:11] BrentAllsop commented on #699
I believe we resolved all the "need discussion" issues with a discussion in our last meeting.
So am removing these tabs, so we can get this closed.
It was indicated this is fixed, but isn't yet on staging, so could we get this on staging, then add the ready to test tag?

[2021-05-30 18:04] gautamv16 commented on #684
@BrentAllsop I have added custom error message to this if somehow system is not able to send the email it will not crash the site instead it will redirect to the previous page and show alert error that system is not able to send email due to some reason.

[2021-05-31 03:15] rupalichavan9860 commented on #696
@gautamv16 Tested. After deleing the news, user is redirecting to incorrect topic name as we discussed in meeting. Please check

[2021-05-31 04:54] rupalichavan9860 commented on #712
@gautamv16 Tested . Working fine on history pages but I found new issue on this
Refer topic : https://staging.canonizer.com/topic/314-Retesting-issue-686-v4/1-Agreement
This topic was moved from /sandbox/ to  /sandbox_testing/ but when user click on forum pages user nick name link user can see selected namespace as /sandbox/

[2021-05-31 05:12] rupalichavan9860 commented on #699
@gautamv16 While testing Admin->shares I found some issue .

![image](https://user-images.githubusercontent.com/40416610/120142990-f0c08400-c1fc-11eb-8439-804250f32997.png)

@BrentAllsop  can you please check and confirm

[2021-05-31 16:45] rupalichavan9860 commented on #699
@gautamv16 I am getting page crash .Please refer below scenario
Enter any alphabet in Share field and try to create/update share. Getting below page crash

![image](https://user-images.githubusercontent.com/40416610/120222529-b4714000-c25d-11eb-8556-23c2de8c12a5.png)

Due to this getting page crash on Admin>>"Shares" click

[2021-05-31 22:00] BrentAllsop opened #713 "Viewport not set to "device-width""
Google notified me of this issue in Canonizer.com.

See:
https://search.google.com/search-console/mobile-usability/drilldown?resource_id=sc-domain:canonizer.com&item_key=CAc&utm_source=wnc_10030322&utm_medium=gamma&utm_campaign=wnc_10030322&utm_content=msg_100058679&hl=en

Note: You must be logged in to canonizer's Google search console to see this page.

[2021-06-06 17:01] gautamv16 commented on #699
@rupalichavan9860 , it is fixed and i have implemented validations in admin side
it will now not allow to enter dates before jan2021 and max date is current date.
Please test

[2021-06-06 17:25] gautamv16 commented on #712
@rupalichavan9860 pls test

[2021-06-06 17:26] gautamv16 commented on #696
@rupalichavan9860 pls test

[2021-06-06 17:30] gautamv16 commented on #685
@rupalichavan9860 pls test the search option for smaller devices will come under togglemenu

[2021-06-06 17:44] rupalichavan9860 commented on #685
@gautamv16 Tested and verified. can see under toggle menu.

[2021-06-06 17:44] #685 closed, assigned to nobody

[2021-06-06 17:49] rupalichavan9860 commented on #696
@gautamv16 Tested and verified. Working fine now so closing this issue

[2021-06-06 17:49] #696 closed, assigned to nobody

[2021-06-06 18:22] rupalichavan9860 commented on #712
@gautamv16 Tested and verified. Working good now so closing this

[2021-06-06 18:22] #712 closed, assigned to nobody

[2021-06-06 18:28] rupalichavan9860 commented on #699
@gautamv16 Tested . Incorrect date is displaying on list page please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/120935990-17158080-c723-11eb-90ff-834a3ef08c70.png)

[2021-06-06 18:52] gautamv16 commented on #699
@rupalichavan9860 pls test its fixed

[2021-06-06 19:11] rupalichavan9860 commented on #699
@gautamv16 As discussed in call selected date is not getting saved/updated . Please fix and update

[2021-06-07 16:56] rupalichavan9860 commented on #13
@akuks Tested. I found some issues/suggestions below

1. Edit thread should be uniform with create thread page. It should display same fields like
Title of Thread ( Limit 100 Chars ) * and text box to update Title of Thread(which should be enabled field) and Nick Name drop down (it should display nick name and should be disabled)

2. Page height and width should be uniform . As of now page height

[2021-06-07 17:23] akuks commented on #13
1. Title of the thread would be ok, but Nick Name is not because once created it should always be the same. Otherwise, it will be difficult to track.
2. I'll check point number 2.
3. It should say what it is for, and it is for modify the thread title, so I think it's ok. We'll discuss it.
4. Redirect is okay, if we are modifying the thread that's in top of the list but if it is somewhere in the 3r

[2021-06-12 13:32] rupalichavan9860 commented on #13
@akuks I can't see the changes. Can you please check and confirm ?

[2021-06-12 14:02] rupalichavan9860 commented on #13
@akuks Also please check for the validations of duplicate thread name. As of now thread name is getting updated with existing thread name , Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/121778515-c84d6800-cbb4-11eb-82b2-5daafb3f7ff7.png)

[2021-06-12 14:43] rupalichavan9860 commented on #688
@gautamv16 Tested. Still facing issue for camp change

[2021-06-12 18:41] gautamv16 commented on #688
@rupalichavan9860 pls test its fixed

[2021-06-12 18:41] gautamv16 commented on #699
@rupalichavan9860 pls test its fixed

[2021-06-13 07:00] rupalichavan9860 commented on #699
@gautamv16 retested and validations are working fine for me. Just have one suggestion
For uniformity field names should be same

On admin side I can see field "Nick Name Id" which is "Unique Number" on Nick Names page.
![image](https://user-images.githubusercontent.com/40416610/121798281-02654b00-cc43-11eb-9d98-79855ac165e4.png)

![image](https://user-images.githubusercontent.com/40416610/12179830

[2021-06-13 07:49] rupalichavan9860 commented on #688
@gautamv16 Tested and verified. working fine now so closing this issue

[2021-06-13 07:49] #688 closed, assigned to nobody

[2021-06-13 18:14] rupalichavan9860 commented on #699
@gautamv16 I found more issues on this
1. After selecting specific month from user don't have option to see all the shares . User needs to click on Shares link from left panel to see all the entries
2. After selecting specific month user is not able to delete the share(delete is not working) and also found JavaScript error on delete link click

![image](https://user-images.githubusercontent.com/40

[2021-06-13 18:35] rupalichavan9860 opened #720 "Filter As of date is not working correctly"
Open any topic and apply filter as of date as any date. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/121818328-1f7e3600-cca4-11eb-9175-85f0608f2161.png)

[2021-06-13 18:38] rupalichavan9860 commented on #720
Browse page as of date filter :
![image](https://user-images.githubusercontent.com/40416610/121818396-93204300-cca4-11eb-936c-54beb4dda876.png)

Supported Camps :

![image](https://user-images.githubusercontent.com/40416610/121818843-64579c00-cca7-11eb-9978-a93a17eddba3.png)

[2021-06-14 03:06] rupalichavan9860 commented on #686
@gautamv16 Can you please check this once. I still can see old camp names under canonizer sorted camp tree. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/121834125-94289300-cceb-11eb-96b8-ecb30d0bbbf7.png)

[2021-06-20 16:41] gautamv16 commented on #699
It is fixed and ready for test

[2021-06-20 16:42] gautamv16 commented on #699
It is displayed as because it was asked to show as unique number, so wont we changing it

[2021-06-20 17:21] rupalichavan9860 commented on #720
@gautamv16 Retested and verified. Working fine now so closing this issue

[2021-06-20 17:21] #720 closed, assigned to nobody

[2021-06-20 17:34] rupalichavan9860 commented on #699
@gautamv16 retested and verified. Working good now so closing this

[2021-06-20 17:34] #699 closed, assigned to nobody

[2021-06-21 02:17] BrentAllsop commented on #317
No evidence of this being a problem so closing this.

[2021-06-21 02:17] #317 closed, assigned to akuks

[2021-06-21 11:22] rupalichavan9860 opened #721 "Page crash/Error Exception on submitting camp statement"
I am getting Page crash/Error Exception on submitting camp statement. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/122754231-03385580-d2b1-11eb-9913-559943a4138e.png)

[2021-06-22 06:22] rupalichavan9860 commented on #680
@gautamv16 retested and verified.

[2021-06-22 06:22] #680 closed, assigned to nobody

[2021-06-27 17:09] rupalichavan9860 commented on #721
@gautamv16 Tested and verified. Working fine now so closing this

[2021-06-27 17:09] #721 closed, assigned to nobody

[2021-06-28 02:34] rupalichavan9860 commented on #686
@gautamv16 Retested . Still I can see old camp name on user supports page. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/123571169-5184b180-d7e7-11eb-8c28-dde5d327c878.png)

![image](https://user-images.githubusercontent.com/40416610/123571234-6eb98000-d7e7-11eb-8e96-7822cd1ca11a.png)

[2021-06-28 03:48] rupalichavan9860 opened #722 "http://3.12.165.249/ : Page crash on Twitter button click"
Steps to reproduce :

1. Go to http://3.12.165.249/
2. Click on Twitter login

Actual Result :

Getting following page crash
![image](https://user-images.githubusercontent.com/40416610/123577584-bf35db00-d7f1-11eb-9def-49d3e5fcee36.png)

[2021-06-28 16:53] rupalichavan9860 opened #723 "http://3.12.165.249/ : Data Could Not Be Found issue"
Steps to reproduce :
1. Go to http://3.12.165.249/
2. Login with valid email and password
3. Click on White Paper link from left menu

Expected Result :
It should display White Paper pdf in new window

Actual Result :
It is displaying "Oops! Data Could Not Be Found" .Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/123674353-263da900-d85f-11eb-9304-04e19

[2021-06-28 17:00] BrentAllsop commented on #723
This is a general problem for all files in the files directory.
To fix this, we need to have a way to duplicate all data, like this, on a test, or any other server, from production.

And we'll need to monitor the switch of IP addresses, so that nobody deposits a new file on the old system, and the time the data is duplicated on the new IP system.
so no files are lost.

[2021-06-28 17:00] rupalichavan9860 commented on #723
Found same issue when trying to open uploaded file on File Upload page

[2021-06-28 17:16] rupalichavan9860 opened #724 "http://3.12.165.249/ :Data Could Not Be Found issues on Privacy Policies and Terms & Services pages click"
Steps to reproduce :
1. Go to http://3.12.165.249/
2. Click on "Check it out!" link from What's New at Canonizer block
3. Click on Privacy Policy and Terms & Services link

Expected Result :
User should see Privacy Policy and Terms & Services respectively

Actual Result :
It is displaying Data Could Not Be Found .Please refer attached screenshot
![image](https://user-images.githubusercontent.com/4

[2021-06-28 17:19] rupalichavan9860 opened #725 "Link for support@canonizer.com is missing"
link for support@canonizer.com is missing on footer of following pages

http://3.12.165.249/videos/consciousness/
https://canonizer.com/videos/consciousness/

[2021-06-28 17:54] rupalichavan9860 opened #726 "Login with LinkedIn is not working"
When click on LinkedIn button I am getting below error . Please refer screenshot
![image](https://user-images.githubusercontent.com/40416610/123681811-e0d1a980-d867-11eb-83be-c3b79da4f336.png)

This issue is exists on staging and live also

[2021-07-05 03:13] rupalichavan9860 commented on #723
@gautamv16 Tested and verified. I can see the White Paper pdf in new window so closing this issue

[2021-07-05 03:13] #723 closed, assigned to nobody

[2021-07-05 03:16] rupalichavan9860 commented on #724
@gautamv16 Tested. Still I can see Data Could Not Be Found . Can you please check again and confirm

[2021-07-05 03:18] rupalichavan9860 commented on #725
@gautamv16 Tested. Still I can't see the link .Can you please check again?

[2021-07-06 05:42] rupalichavan9860 opened #727 "JavaScript errors on new secure server"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/124548061-ce003b80-de4a-11eb-8948-557ca8ce9fef.png)

[2021-07-06 07:45] rupalichavan9860 opened #728 "robots.txt is missing on new secure server"
Steps to reproduce :
1. Go to http://3.12.165.249/
2. Add robots.txt to URL and press enter key

Actual Result :

Please refer attached screenshot for more details

![image](https://user-images.githubusercontent.com/40416610/124561667-c6955e00-de5b-11eb-9e3a-4d30aa42d2b2.png)

[2021-07-11 18:17] rupalichavan9860 commented on #687
@gautamv16 Retested. Working fine for camp and statement but user is not able to update topic .

When user tries to submit update on topic the button "System Update" is getting disabled and new entry is not getting created on topic history page

[2021-07-11 18:52] rupalichavan9860 opened #729 "Camp name is not displaying correctly under Canonizer Sorted Camp Tree"
Please refer attached screenshot .

![image](https://user-images.githubusercontent.com/40416610/125206909-28642680-e2a7-11eb-84fe-74b0d63a2764.png)

[2021-07-11 19:04] rupalichavan9860 commented on #687
@gautamv16 Getting same issue on "Add News". Button "Create News" is getting disabled and New news is not getting created

[2021-07-12 04:40] rupalichavan9860 opened #730 "Data Could Not Be Found issue on Nick Name page"
Steps to reproduce :
1.  Go to https://staging.canonizer.com/
2.  Login with valid email and password
3.  Go to Account Settings ->Nick Names
4.  Click on Create

Expected Result :
It should display error message for mandatory field

Actual Result :
Getting "Oops! Data Could Not Be Found" issue .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/125231937

[2021-07-12 05:05] rupalichavan9860 opened #731 "Bread crumbs format on topic update page is not uniform with other pages"
Bread crumbs are displaying before page title on camp update and Statement Update pages but on Topic update page bread crumbs are displaying after page title
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/125233488-4ad45f00-e2fc-11eb-96c0-658d7fb04636.png)

![image](https://user-images.githubusercontent.com/40416610/125233522-62134c80-e2fc-11eb-839b-a

[2021-07-12 05:31] rupalichavan9860 opened #732 "Browse page issues"
Issue 1 :
Steps to reproduce :
1.  Go to https://staging.canonizer.com/
2.  Login with valid email and password
3.  Go to Browse
4.  Click on "Only My Topics" check box

Expected Result :
User should only see their own topics
URL should be https://staging.canonizer.com/browse?namespace=&my=

Actual Result :
As of now user can see all the topics. Please refer screenshot

![image](https://user-image

[2021-07-12 18:26] akuks commented on #728
Done

[2021-07-12 18:31] akuks commented on #727
I only see one javascript error and that is of show_ads.js. It is because we are accessing this using the http instead of https. Once the server is migrated to the new domain, the issue will be resolved.

[2021-07-12 18:33] akuks commented on #724
@rupalichavan9860 can you please test this. I think it is fixed by either Varun or Karun.

[2021-07-12 19:27] rupalichavan9860 commented on #728
@akuks Tested and verified. I can see the robots.txt file now so closing this issue

[2021-07-12 19:30] rupalichavan9860 commented on #724
@akuks @gautamv16 Tested and verified. I can see Privacy Policy and Terms & Services pages now so closing this issue

[2021-07-12 19:30] #724 closed, assigned to nobody

[2021-07-12 19:32] rupalichavan9860 commented on #725
@gautamv16 Tested and verified. Working now so closing this

[2021-07-12 19:32] #725 closed, assigned to nobody

[2021-07-13 19:14] rupalichavan9860 opened #733 "Page crash on Admin->Shares page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/admin
2. Login with valid email and password
3. Click on Shares
4. Click on "Add Share" link or Click on "Edit" link from any listed shares
5. Observe Result

Expected Result :
1. User should see add share page when click on "Add Share" link
2. User should see respective edit share page when click on "Edit" link

Actual Result :
It is dis

[2021-07-13 19:23] rupalichavan9860 opened #734 "Page crash on Admin->Templates page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/admin
2. Login with valid email and password
3. Click on Templates
4. Click on "Create Template" link or Click on "Edit" link from any listed templates
5. Observe Result

Expected Result :
1. User should see create template page when click on "Create Template" link
2. User should see respective edit template  page when click on "Edit" lin

[2021-07-15 18:29] rupalichavan9860 opened #735 "Uncaught TypeError on admin pages"
Steps to reproduce :
1. Go to https://staging.canonizer.com/admin or https://staging.canonizer.com/
2. Open developer tools and observe

Actual Result :
It is displaying error : Uncaught TypeError: Cannot read property 'ContentContainer' of undefined
Please refer below screenshot

![image](https://user-images.githubusercontent.com/40416610/125838663-6ad9c7a4-1f64-4236-a279-2631b310528e.png)

[2021-07-15 19:18] rupalichavan9860 commented on #732
@rupalichavan9860 Same issue exists on user supports page. Namespace dropdown is not working(It is not displaying topics/camp names under selected dropdown)

[2021-07-18 17:58] rupalichavan9860 commented on #729
@gautamv16 Tested and verified. Looks correct now , so closing this issue

[2021-07-18 17:58] #729 closed, assigned to nobody

[2021-07-18 18:02] rupalichavan9860 commented on #730
@gautamv16 Tested and verified. It's working now , so closing this

[2021-07-18 18:02] #730 closed, assigned to nobody

[2021-07-18 18:11] rupalichavan9860 commented on #734
@gautamv16 Tested and verified.

[2021-07-18 18:11] #734 closed, assigned to nobody

[2021-07-18 18:11] rupalichavan9860 commented on #733
@gautamv16 Tested and verified.

[2021-07-18 18:11] #733 closed, assigned to nobody

[2021-07-18 18:12] rupalichavan9860 commented on #735
@gautamv16 Tested and verified.

[2021-07-18 18:12] #735 closed, assigned to nobody

[2021-07-18 18:21] rupalichavan9860 opened #736 "JavaScript errors"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Open developer Tools
3. Observe "Canonizer Main Page " and "Login" page for JavaScript errors

Actual Result :
![image](https://user-images.githubusercontent.com/40416610/126078150-5827a80b-d3ba-4bc2-bb90-da2fbdb24e3e.png)

[2021-07-18 18:38] rupalichavan9860 commented on #633
@gautamv16 Found more issues on the same page

![image](https://user-images.githubusercontent.com/40416610/126078585-ba6d5757-0020-4f97-b955-418f1d5c405a.png)

[2021-07-18 18:39] rupalichavan9860 commented on #736
This issue is exists on "Terms & Services" page also

[2021-07-19 05:57] rupalichavan9860 commented on #732
@gautamv16 Tested and verified. Working fine now , so closing this

[2021-07-19 05:57] #732 closed, assigned to nobody

[2021-07-21 17:05] BrentAllsop opened #737 "Numbering doesn't work in forum posts."
If you make a list of items on multiple lines in a forum post, then select the button to turn that set of lines into a numbered list, there are lots of problems, like duplicate numbers for each item.

It should be possible to cut and paste numbered lists from other sources, like MS Word, and have it work, as pasted.

[2021-07-25 18:26] gautamv16 commented on #731
@rupalichavan9860  this is fine because on camp page we have shown the camp name but on topic update page we are not displaying the camp name that why its different

[2021-07-25 18:33] gautamv16 commented on #736
I think we need discussion for this because these console logs are coming from google ad and morever we should not be creating bugs for console logs unless they are blocking any functionality on that page. because they may come because of different plugin on user's browser or ad blockers etc.

[2021-07-25 18:58] rupalichavan9860 commented on #687
@gautamv16 Tested. This is not working yet

[2021-07-26 18:41] rupalichavan9860 commented on #686
@gautamv16 Tested and verified. Working now , so closing this issue

[2021-07-26 18:41] #686 closed, assigned to nobody

[2021-08-01 17:55] #736 closed, assigned to nobody

[2021-08-01 18:13] rupalichavan9860 commented on #731
@gautamv16 Tested and verified. Looks good now so closing this issue

[2021-08-01 18:13] #731 closed, assigned to nobody

[2021-08-02 02:54] rupalichavan9860 commented on #687
@gautamv16 Getting page crash on "Manage/Edit This Topic"

![image](https://user-images.githubusercontent.com/40416610/127798407-16531dd1-d2e1-4e00-9c7b-0c2abe7b4b20.png)

[2021-08-02 09:43] rupalichavan9860 opened #739 "Incorrect camp name displaying on some pages"
Please refer attached screenshot :

Live Camp name

![image](https://user-images.githubusercontent.com/40416610/127838829-e16308fe-cd93-4cca-8d10-6ad5729a8e8e.png)

Issue 1 :
Old camp name is displaying on Create New Camp page ->Parent Camp drop down. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/127839355-5f5a271d-e613-4785-ae31-40d8810def28.png)

I

[2021-08-03 05:59] rupalichavan9860 commented on #702
@gautamv16 Found 1 more issue in this
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/127965145-51b41bc6-2ac3-442e-a93e-72b86e217a22.png)

![image](https://user-images.githubusercontent.com/40416610/127965341-67780c11-8744-448b-b71c-920267d1a19d.png)

![image](https://user-images.githubusercontent.com/40416610/127965438-784e2dcf-6a1b-463b-92bd-5a5b9b79

[2021-08-03 15:59] gautamv16 commented on #687
@rupalichavan9860 page crash issue is fixed . please test

[2021-08-03 16:05] rupalichavan9860 commented on #687
@gautamv16 Tested and verified. Working now so closing this

[2021-08-03 16:05] #687 closed, assigned to nobody

[2021-08-03 16:19] rupalichavan9860 commented on #13
@akuks Tested. But still have 1 issue

Steps to reproduce :
1. Create any thread with name like "thread 1" and rename with " thread v1"
2. Create another thread name "thread 2" and rename with "thread 1"

Expected Result :
thread name should get renamed

Actual Result :
It is displaying error message "Thread title must be unique"

[2021-08-04 08:10] rupalichavan9860 opened #740 "Unlink is not working on Social Oauth Verification page"
When user click on "unlink" button all "unlink" buttons are getting disabled and nothing happens. Found JavaScript errors on the page. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/128145572-fc9cf0cd-3842-4d4f-b2f6-7da868233053.png)

[2021-08-04 08:19] rupalichavan9860 opened #741 "Login with MetaMask button is not working"
Nothing is happening when user click on  "Login with MetaMask" button on Crypto Verification page. I can see JavaScript errors on the page
Please refer attached screenshot for more details

![image](https://user-images.githubusercontent.com/40416610/128147218-4ed95c35-fae2-4942-b63f-e3666a2a60d6.png)

[2021-08-06 05:49] rupalichavan9860 commented on #722
@gautamv16 Tested on new secure server. Still I am getting the page crash on twitter login .Please refer attached screenshot and also please check URL it is redirecting to "https://canonizer.com/login/twitter/callback?oauth_token=MBVtOAAAAAABDwTjAAABexoAKSs&oauth_verifier=T2x2c8YVkkJ50vKkJTb1vutM4rRPgZON"

it should be "http://3.12.165.249/"

![image](https://user-images.githubusercontent.com/4041

[2021-08-06 12:32] rupalichavan9860 commented on #652
@gautamv16 Tested and working fine for me on new secure server .
@BrentAllsop Can you please check and close if working for you?

[2021-08-06 13:58] BrentAllsop opened #742 "Check for parent or child camp being supported using wrong version of record."
When you add support to a camp, it does a check, then gives a warning that any supported parent or children camps will be removed if it is committed.
The code that is doing this check is broken.  It is, not getting the right version of the record.
It uses the first version of the record, not the current version of the record.
There is two problems with this, the problem itself, second, this also s

[2021-08-06 14:08] BrentAllsop commented on #652
@rupalichavan9860
Yes, I tested this and except for the [new issue](https://github.com/the-canonizer/canonizer.2.0/issues/742) this is working fine.
So I am closing this so we can get the 20th release out.

[2021-08-06 14:08] #652 closed, assigned to nobody

[2021-08-06 17:01] rupalichavan9860 opened #743 "Multiple support getting added when multiple click on submit button"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to any topic->camp
4. Click on Delegate Your Support
5. Click on Submit button multiple times
6. Observe result

Expected Result :

Support is getting added multiple times

Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/128546284-c23e0b53-25f1-4b2

[2021-08-06 17:53] rupalichavan9860 opened #744 "Edit Share and delete share is not working on new secure server"
Issue 1 : Edit share
Steps to reproduce :
1. Go to https://canonizer.com/admin
2. Login with valid email and password
3. Click on Share
4. Click on Edit link

Actual Result :
Please refer below screenshot

![image](https://user-images.githubusercontent.com/40416610/128551875-838bd067-78af-4285-9fa6-f4cdd9b673fb.png)

Issue 2 : Delete share
Steps to reproduce :
1. Go to  https://canonizer.com/admin

[2021-08-06 18:09] rupalichavan9860 commented on #706
@BrentAllsop I can see links are redirecting to correct pages now on new secure server. Should I close or this should exists on staging also?

[2021-08-07 06:48] rupalichavan9860 commented on #740
@gautamv16 This issue  is exists on live also

[2021-08-07 06:48] rupalichavan9860 commented on #741
@gautamv16 This issue is exists on live also

[2021-08-07 06:54] rupalichavan9860 commented on #722
@gautamv16 Tested on new canonizer live and working fine so closing this issue

[2021-08-07 06:54] #722 closed, assigned to nobody

[2021-08-09 21:38] BrentAllsop opened #745 "Delegateee supporters should be able to object."
If you delegate your suppor to someone else, you don't receive e-mail notifications, and such.

But you do still have the right to object to any changes you don't like.

So you should have an object button to any proposed changes of any camp you are a delegated supporter of, or parent camp.

Currently, the object button is missing, so a delegated supporter is not able to object.

[2021-08-10 04:12] rupalichavan9860 commented on #744
@gautamv16 Tested and verified. Working now so closing this

[2021-08-10 04:12] #744 closed, assigned to nobody

[2021-08-12 16:05] rupalichavan9860 opened #746 "Canonizer logo on blog page is not working on live"
Steps to reproduce :
1.  Go to http://canonizer.com/
2.  Login with valid email and password
3.  Go to Blog page
4.  Click on Canonizer logo image

Expected Result :
It should redirect to home page

Actual Result :
It is displaying error "canonizer.com took too long to respond."

![image](https://user-images.githubusercontent.com/40416610/129230095-645829f1-2f46-4c40-841f-5a4abe0a7c21.png)

[2021-08-15 06:43] rupalichavan9860 opened #747 "Forbidden error on consciousness videos"
Steps to reproduce :
1. Go to https://canonizer.com/
2. Click on Check it out link

Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/129469645-7cad38f4-65a0-4830-ba7e-9ea38541b008.png)

[2021-08-20 19:44] BrentAllsop commented on #702
Also, someone should be able to remove their delegated support on the canonizer.com/support page, the same way than can remove their dirrect support, with a red "x".  In this attached picture, the delegated support should also have the same red "x":
![canonizerscreen (1)](https://user-images.githubusercontent.com/6559312/130285866-3d947410-0b76-4171-af17-849e1f64763a.jpg)

[2021-08-20 20:00] BrentAllsop commented on #702
Also, if the user has delegated their support to anyone, in any camp of a topic, and then if they directly support any camp in that topic, all delegated support should be terminated at the same time.  It should not be possible to be both a direct and delegated support of any topic as you can see in this screen shot:
![image](https://user-images.githubusercontent.com/6559312/130287363-f178f195-40f2

[2021-08-20 20:07] BrentAllsop commented on #702
Also, if someone deletes their delegation, or completely deletes their support of all camps in a topic, all the people delegated to that nick name in that topic should receive a notification to find another person to delegate to, with a link to the camp of the last or number one camp they supported, when they did the delete, so they can do that, easily.

[2021-08-20 20:52] BrentAllsop commented on #702
Also, it looks like there is no way to delete any kind of support, especially completely remove your support for a camp.

There is a cancel button, but there also should be a commit button.  Nothing should be committed to the db, till the commit button is pressed.

[2021-08-20 23:59] supported commented on #702
Not too sure why I'm tagged here but,

Hello.

[2021-08-21 09:41] rupalichavan9860 commented on #747
@gautamv16 Tested and verified. Working now so closing this issue

[2021-08-21 09:41] #747 closed, assigned to nobody

[2021-08-21 09:46] rupalichavan9860 commented on #746
@gautamv16 Tested and verified. Working fine now so closing this issue

[2021-08-21 09:46] #746 closed, assigned to nobody

[2021-08-25 15:31] BrentAllsop commented on #702
@supported,
Ouch, sorry about that Domonic.  I guess we had this unrelated word, above "@@@supported" which accidentally tagged you.
We'll work to avoid that, in the future.
But while you are hear, thanks for bringing this to our attention, and for saying hello!

[2021-08-25 15:37] BrentAllsop commented on #702
Another issue for this.
As it shows in this image, delegated supporters are getting "1:" numbers showing the numbered supported, which is wrong, as it should always identically match the number of the person they support.
![image](https://user-images.githubusercontent.com/6559312/130820710-c3ea8623-9131-4f45-862d-3d9fa820a0f1.png)
If the direct supporters changes any support, or any order of any c

[2021-08-25 15:58] BrentAllsop opened #748 "Share value = latest record for that as-of value, not sum of all records."
![image](https://user-images.githubusercontent.com/6559312/130824251-6e4016e7-4f75-482c-a1c7-6fef23dd1cbb.png)
In this image, it is showing the sum of the shares in all brents share records, not just the latest record's value.
It should only be the value in the latest record, previous to whatever as-of date is selected.

[2021-08-29 13:45] rupalichavan9860 commented on #739
@gautamv16 Still displaying not live camp names on supported camps page .Please refer below screenshots
Live Camp names :

![image](https://user-images.githubusercontent.com/40416610/131252504-63a27780-85e1-4cd5-8a71-1f839f9d46ef.png)

Supported camps page :

![image](https://user-images.githubusercontent.com/40416610/131252547-d9aa3274-a310-41cd-9a7e-3d964f5afd07.png)

[2021-08-29 16:35] rupalichavan9860 commented on #706
@gautamv16 Working fine on live so closing this

[2021-08-29 16:35] #706 closed, assigned to nobody

[2021-08-29 17:02] rupalichavan9860 commented on #748
@BrentAllsop Can you please check this .
I still can't see correct data .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/131258825-6ea0ea93-10e6-4c3f-8830-63e2072eb06e.png)

[2021-08-30 03:01] rupalichavan9860 commented on #739
@gautamv16 Tested. Still not working , still can see not live camp names

[2021-08-31 21:11] BrentAllsop commented on #742
Just found another related issue to this one.
![image](https://user-images.githubusercontent.com/6559312/131576246-c1bc6c6e-7bba-4000-aa87-cf3350ab7809.png)
Before I took the action to support the Zibtek Proposal camp, I had removed my support for the parent "15K Design Sprint or Discovery" camp.
So, in addition to getting the wrong versions of the parent children data, it seems to also be getting

[2021-08-31 23:01] BrentAllsop commented on #748
Just noticed another issue with this one.
![image](https://user-images.githubusercontent.com/6559312/131586404-0d468cd2-db4c-4021-b90a-8c0b9cadac2d.png)
I'm supporting 3 camps, in the order the camps were created.
But I'm getting my entire vote, the same for all 3 camps.
All algorithms, including the share algorithm, should operate the same as the 1 person one vote algorithm.
If you split your vot

[2021-09-01 17:37] rupalichavan9860 commented on #743
@gautamv16 Tested and verified. Working fine now so closing this

[2021-09-01 17:37] #743 closed, assigned to nobody

[2021-09-01 17:54] rupalichavan9860 commented on #745
@gautamv16 Tested . Delegated supporter still not able to object. Can't see object button

[2021-09-01 18:10] rupalichavan9860 opened #749 "Camp name is not displaying under delegated supported camp lists"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to any topic : ref topic -https://staging.canonizer.com/topic/324-Testing-issue-743/1-Agreement
4. "Rupali C" created "Test camp 1" and "1rupali1" is delegating support to "Rupali C"
5. When "Rupali C" created "Test camp 2" and supporting "Test camp 2" , "1rupali1" is automatically added as a

[2021-09-06 00:01] BrentAllsop opened #750 "When upload of file fails, it still shows URL that is not real."
Currently the uploading of files seems to fail.
That needs to be fixed, probably a permissions problem?

But it also needs to not look like it succeeds, proving a URL that doesn't work.
It should give some failure message, instead, and only give the URL, if the file is actually there.

And we shouldn't close this till we have a way to automatically test this functionality (verify the URL works, an

[2021-09-07 14:44] BrentAllsop opened #751 "Need notification on non live systems"
We need a notification at  the header of all canonizer pages that are not the live system.
I fear some people may be using staging.canonizer.com assuming that is a live system.
So on all system that are not live, we need an indicator that anything they do there will not go into the live system.
This notification will only not show up on the live system.

[2021-09-10 12:09] BrentAllsop commented on #742
I found another failure case which needs to be tested for, before this is closed.
I was not supporting this camp:
![image](https://user-images.githubusercontent.com/6559312/132851114-74f0ab21-ddb2-4db4-99e9-5e002f166307.png)
And as you can see, this camp has never had any other camp, other than the "Consensus Design" camp.
Yet, when I try to support that camp, I get:
![image](https://user-images.g

[2021-09-13 01:17] BrentAllsop commented on #751
It currently says:
"This is not the live system.So any activity you perform here will not go to live system. Please go to canonizer.com"
Change this to:
"This is not the live system.  Any data submitted here is for testing purposes only and will be lost. Please go to canonizer.com"

[2021-09-13 01:18] BrentAllsop commented on #751
It currently says:
"This is not the live system.So any activity you perform here will not go to live system. Please go to canonizer.com"
Change this to:
"This is not the live system. So any activity you perform here will not go to live system. Please go to canonizer.com"

[2021-09-13 03:59] rupalichavan9860 opened #752 "Agreement page is not displaying properly for some topics"
For some scenarios Agreement page is not displaying properly for some topics. Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/133021957-a07759bb-cfb0-47b1-aa24-0ee91d5a1a66.png)

[2021-09-13 04:34] rupalichavan9860 opened #753 "Page crash on camp history page"
Getting page crash on camp history page on staging. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/133024439-8afe4abc-a7aa-46c9-a8da-be5104adbd70.png)

[2021-09-13 04:53] rupalichavan9860 commented on #753
@gautamv16 Getting this issue when both direct supporter and delegated supporter click on Manage/edit This Camp

[2021-09-13 08:04] rupalichavan9860 commented on #751
@gautamv16 Tested and verified.
@BrentAllsop Can I close this if fine for you?

[2021-09-13 08:35] rupalichavan9860 commented on #745
@gautamv16 Not able to test this for camp as I am getting page crash on Manage/Edit This Camp and Still Can't see object button for topic and statement history

[2021-09-13 08:46] rupalichavan9860 commented on #748
@gautamv16 Tested. I have updated As Of Date in admin panel as today's date and I have created one more entry for today's date. Please refer screenshot
![image](https://user-images.githubusercontent.com/40416610/133052959-e5e1daba-0872-4311-abab-c119100fab6c.png)

But I can't see correct values on agreement page when selecting algorithm Canonizer Shares

![image](https://user-images.githubusercont

[2021-09-13 16:42] rupalichavan9860 commented on #702
@gautamv16 Tested. Still I can see 1 issue in this .
Please refer https://staging.canonizer.com/topic/331-Testing-share-value-RupaliC-Ne/2-Test-camp-1#statement

User "1rupali1" is directly supporting "Test camp 1" and "Rupali C" is supporting "Test camp 1" and "Test camp 2"

And When user "1rupali1" is delegating support to "Rupali C" for "Test camp 2" , "1rupali1" became both direct supporter an

[2021-09-13 16:46] rupalichavan9860 commented on #702
Also "Test camp 1" is not displaying on user supports page for user "1rupali1" . It is displaying only delegated supported camp names

![image](https://user-images.githubusercontent.com/40416610/133124194-fae123e6-3eb5-4c20-90f7-8ecb9488796d.png)

[2021-09-13 17:20] rupalichavan9860 commented on #742
@gautamv16 Tested.
@BrentAllsop I tested all the possible scenarios and working fine for me . Can you please check this and close if it is working perfectly

[2021-09-13 17:30] rupalichavan9860 commented on #702
Also the delegated support can see the same red "x" and able to delete the support but not receiving support removed mail

[2021-09-14 12:50] HamzaBinMansoor commented on #674
Is this a development issue? Seems like you just need to enable billing on the Google Cloud project.

[2021-09-14 12:53] HamzaBinMansoor commented on #713
@BrentAllsop Can you provide us the credentials for Google Search Console?

[2021-09-14 12:55] HamzaBinMansoor commented on #640
@BrentAllsop Can you give some examples with screenshots?

[2021-09-14 13:54] BrentAllsop commented on #640
Sorry, things haven't been designed to that level of detail, yet.
We just need to find some way, so when someone get's an error, saying there is an invalid character, they need more information so they know what they can and can't do.

[2021-09-14 13:56] BrentAllsop commented on #640
@HamzaBinMansoor, forgot to tag you in the last post.

[2021-09-14 17:50] HamzaBinMansoor commented on #713
@BrentAllsop any update on this?

[2021-09-14 19:32] BrentAllsop commented on #751
Yea, this looks great to me, so closing this issue.

[2021-09-14 19:32] #751 closed, assigned to nobody

[2021-09-15 11:38] HamzaBinMansoor commented on #713
@BrentAllsop This is already fixed as <meta name="viewport" content="width=device-width, initial-scale=1"> has already been added. Do you want us to work on the rest of the errors in Mobile Usability section in the Google Search Console?

[2021-09-15 11:44] HamzaBinMansoor commented on #672
@BrentAllsop Can you provide more clarification on this:

- How will the user reply to the individual replies in Canonizer?
- What will be the user interface and experience for adding a reply?
- How will the UI look like when a reply has been added?
- Can there be multiple replies to a single individual reply?
- Can that reply be deleted?

Let us know.

[2021-09-16 00:22] BrentAllsop commented on #672
This one is a low priority.  we may not need this.  If we do decide to implement this, we'll need to specify the details, like how many nested replies will fit on screen, and answer the rest of Hamza's questions.  The UI/UX people can work on this.

[2021-09-16 17:06] rupalichavan9860 opened #756 "Make actions you can't do visible (just greyed out) so people can realize they need to take an action to do them."
After submitting any change to topic/camp/statement when another user added their support to the camp ,user is not able to see object button as per functionality

As per discussed in meeting we should have object button with disabled mode for those users and also we should have some note or tooltip on object button hover

[2021-09-16 17:37] rupalichavan9860 commented on #753
@gautamv16 getting below 2 exceptions on camp creation also .Camp is getting created but displaying exceptions

![image](https://user-images.githubusercontent.com/40416610/133658990-6875df06-b180-4c79-8a03-ac6cda07985b.png)

![image](https://user-images.githubusercontent.com/40416610/133659048-6c25ca94-34f6-4efe-8ac8-0b9a1233a692.png)

[2021-09-16 19:28] BrentAllsop commented on #756
Thank you, Rupali, for getting this started.  the object button is one example.
Another is the create new thread, and post, in the forums.  These buttons aren't there, when you are not logged in.
You should be able to see them, when not logged in, so people can realize they need to be logged in, to make posts.

[2021-09-17 12:21] sunilspr7 commented on #683
I have added the conditions while creating / updating the topics or camps as mentioned in the ticket. I will be working on writing unit test cases for the same. Once unit test case is complete, I will push the code and will create the pull request.

[2021-09-18 16:50] gautamv16 commented on #748
@rupalichavan9860  as per your screenshot the latest value of shares for your user for sept month is 2 and it is showing that value. what is wrong in this

[2021-09-18 17:22] rupalichavan9860 commented on #748
@gautamv16 Tested and checked after modifying to latest date and it is displaying latest share value. Closing this

[2021-09-18 17:22] #748 closed, assigned to nobody

[2021-09-18 18:10] rupalichavan9860 commented on #739
@gautamv16 Tested and verified. Now it is displaying live camp name so closing this issue

[2021-09-19 14:15] rupalichavan9860 commented on #753
@gautamv16 Tested and verified.

[2021-09-19 14:15] #753 closed, assigned to nobody

[2021-09-19 17:25] rupalichavan9860 commented on #745
@gautamv16 Tested and verified.

[2021-09-19 17:25] #745 closed, assigned to nobody

[2021-09-19 17:52] rupalichavan9860 commented on #702
@gautamv16 Tested. When delated supporter removed support from camps , direct support is getting removed support email but nickname is displaying as direct supporter nickname instead of delegated supporter nickname in email

[2021-09-20 00:57] BrentAllsop commented on #742
Yes I tested this and can't see any problem on staging, so closing this.
Thanks all.

[2021-09-20 00:57] #742 closed, assigned to nobody

[2021-09-20 03:20] gautamv16 commented on #702
@rupalichavan9860 I have updated the text in the remove delegate support email. please check

[2021-09-20 11:58] ashish76 commented on #640
I have updated the suggested changes. Below is the list of files in which I have made the changes

1. Registration Controller (App\Http\Controllers\Auth\RegisterController.php)
2. Topic Controller (App\Http\Controllers\TopicController.php)
3. Settings Controller (App\Http\Controllers\SettingsController.php)
4. Reply Controller (App\Http\Controllers\ReplyController.php)
5. NewsFeed Controller (App\

[2021-09-20 13:30] rupalichavan9860 commented on #702
@gautamv16 Tested. I can see the correct nickname now but found another issue in this
Subject line is : "[staging.canon]Rupali cano has removed their delegated support **to** Rupali Chavan from Issue testing 702 / Test camp 1."

It should be :
"[staging.canon]Rupali cano has removed their delegated support **from** Rupali Chavan **in** Issue testing 702 / Test camp 1."

Same for mail body :
As of

[2021-09-21 08:19] HamzaBinMansoor commented on #673
This has been completed.

[2021-09-21 10:39] ashish76 commented on #639
Changes are
1. make the text "proposed changes" of the email body hyperlink with the history link
2. CTA "See this link for options you can take when there are objections" redirects to the "Dealing with Disagreement" camp.

[2021-09-21 12:15] gautamv16 commented on #673
Hey @HamzaBinMansoor it seems you have closed this ticket. This need to be tested by @rupalichavan9860 before closing. Please dont close any ticket from your end.

[2021-09-21 13:57] VikramTL commented on #683
As discussed over the call, we need to change the status "Not Live" to "In Review" under the history

![2021-09-21 19_25_02-Canonizer](https://user-images.githubusercontent.com/90752335/134184184-db2aa001-0dcd-4bed-90f4-481bf34fe8e2.png)

[2021-09-21 16:16] rupalichavan9860 commented on #702
@gautamv16 Tested . Email changes are working fine but found 1 issue.
Scenario :
"user1" is direct supporter of "camp1" and "camp2" and "user2" delegating support to "user1", then automatically their support added to "camp2" as a delegated supporter
Issue :
When "user2" tries to support the "camp1" directly , support is getting added for "camp2" also.

[2021-09-21 17:06] BrentAllsop commented on #683
Thank you for adding that, @VikramTL

[2021-09-21 17:33] gautamv16 commented on #702
@rupalichavan9860 please check this. it is fixed

[2021-09-22 03:54] BrentAllsop opened #759 "Reason for statement change is lost when re editing."
After you submit a camp statement, you get the preview, which can be re edited.
If you select edit, the camp statement is not lost, but the description of the change is lost, and needs to be re typed.

[2021-09-22 09:49] rupalichavan9860 commented on #702
@gautamv16 Tested and verified

[2021-09-22 09:49] #702 closed, assigned to nobody

[2021-09-22 15:41] BrentAllsop opened #761 "Add ability for users to remove their registration, and stop e-mail."
We have users that do not want to receive any more e-mail from Canonizer.com.
We need to add an easy button people can execute to stop the e-mail and remove their account.

We should mark all their support of camps as disabled, and no longer user visible.

[2021-09-22 16:59] BrentAllsop commented on #761
We should have a design and review of a solution for this, before it is implemented.
We don't want to completely remove users, just mark all their support as inactive, and make sure they don't' get any more e-mail, and have some way to reactivate things if they want.  Make them feel like their account has been removed, but not really.

[2021-09-22 18:54] rupalichavan9860 opened #762 "All delegated supports are getting removed"
Please refer below screenshot :
![image](https://user-images.githubusercontent.com/40416610/134404034-5868bee5-596c-48ca-9f99-124a73b8fd66.png)

RC has 3 delegated supporter

I tried remove delegated support of  user "Rupali Cano" , It is getting removed but I can't see "Rupali N" in delegated supporter list. Please refer below screenshot

![image](https://user-images.githubusercontent.com/4041661

[2021-09-22 18:56] rupalichavan9860 commented on #762
@gautamv16 This is on live also so I marked it a show stopper because if some delegated supporter directly supporting any camp other delegated support will get removed

[2021-09-23 06:57] rupalichavan9860 commented on #762
@gautamv16 Tested and verified on both staging and live also. Everything is working fine so closing this issue

[2021-09-23 06:57] #762 closed, assigned to gautamv16

[2021-09-23 09:03] rupalichavan9860 commented on #673
@gautamv16 @HamzaBinMansoor Tested and verified

[2021-09-23 09:03] #673 closed, assigned to akuks, HamzaBinMansoor

[2021-09-23 09:13] rupalichavan9860 commented on #639
@ashish76 @gautamv16 I am getting page crash on Object button of camp history page.

![image](https://user-images.githubusercontent.com/40416610/134482108-ce5d07ed-62ff-4ab5-8b14-ff1261194028.png)

[2021-09-23 09:57] ashish76 commented on #639
Could you please give the proper permission to the logs folder? I have checked this issue in my development environment and it is working fine.

[2021-09-23 11:15] rohit-talentelgia commented on #683
@rupalichavan9860 @BrentAllsop We have completed this ticket and below mentioned tasks are complete:
1. While creating a new topic or updating an existing topic, if a topic already exists under "Live" or "In Review" status, then it will show, "Topic already exists with this name" message.
2. While creating a new topic or updating an existing topic, if a topic does not exist under "Live" or "In Rev

[2021-09-23 12:38] ashish76 commented on #639
As discussed with @gautamv16 I have updated the "Dealing with Agreement" link static inside a General Class.

[2021-09-23 14:22] ashish76 commented on #639
@rupalichavan9860 Please test this once it gets merged into the staging

[2021-09-23 14:23] ashish76 commented on #640
@rupalichavan9860 please test this

[2021-09-23 16:59] rupalichavan9860 commented on #739
@gautamv16 Still it is displaying not live camp names on supported camps page so reopening issue

[2021-09-23 17:00] rupalichavan9860 commented on #739
![image](https://user-images.githubusercontent.com/40416610/134551370-3bb57dc2-dfbc-4c3e-92ff-0ffbc922887d.png)

![image](https://user-images.githubusercontent.com/40416610/134551435-6e045e56-856a-49ed-bc89-c16412123253.png)

[2021-09-23 17:04] rupalichavan9860 commented on #639
@ashish76 @gautamv16 page crash issue is fixed on camp history but in mail I can see "proposed change" as a link and  which is not working

![image](https://user-images.githubusercontent.com/40416610/134551891-6703947c-6f7c-4aa5-8bb2-85a59d230721.png)

![image](https://user-images.githubusercontent.com/40416610/134552023-3ce800b6-62e2-4f64-aec4-d7045307b9de.png)

[2021-09-23 17:19] rupalichavan9860 commented on #639
@ashish76 @gautamv16 Please check this also

![image](https://user-images.githubusercontent.com/40416610/134554084-224fa733-e18e-41b5-a1f9-44f417a63f8f.png)

[2021-09-23 17:21] BrentAllsop commented on #713
I just checked this page:
https://search.google.com/search-console/index/drilldown?resource_id=sc-domain%3Acanonizer.com&item_key=CAMYEyAE&hl=en
![image](https://user-images.githubusercontent.com/6559312/134554236-b792a55c-72bc-4148-9241-7ce7a7d84d1e.png)
But those errors are fixed, so I told google those errors are fixed, and started a validation to be sure.
I'll get back when I see the results,

[2021-09-23 17:26] rupalichavan9860 commented on #683
@rohit-talentelgia Camp is getting created with not live camp name . Please refer below screenshot
In have changed camp name "Test camp 2 v1" to "Test camp 2 v2" but able to create new camp with name "Test camp 2 v2"

![image](https://user-images.githubusercontent.com/40416610/134555115-d8672d87-fe36-4c34-ad65-4081c8c59b41.png)

![image](https://user-images.githubusercontent.com/40416610/134555176

[2021-09-23 17:30] rupalichavan9860 commented on #683
Same happening with topic also
Please refer attached screenshot

Not live topic  :
![image](https://user-images.githubusercontent.com/40416610/134555656-41088f1f-a6fa-4cda-af14-6ee138123ca3.png)

New topic with not live topic name :
![image](https://user-images.githubusercontent.com/40416610/134555556-ef122a9e-1e35-4f24-8634-46f77adfeeea.png)

[2021-09-23 18:37] rupalichavan9860 commented on #640
@ashish76 Tested and verified.
Just a minor change.
Just for uniformity can we have uniform error messages for First name ,last name and middle name on register page and settings page. Also some error messages are ends with '.' and some are not.

Register :

![image](https://user-images.githubusercontent.com/40416610/134564364-3dbe2d75-a0c4-45d5-a2a7-501088ae6b70.png)

Settings :
![image](https://

[2021-09-23 18:57] rupalichavan9860 commented on #750
@gautamv16 Tested and verified on staging and working fine there .
I tested this on live also and getting page crash for files of type .exe, .tif which are more than 5120 kilobytes.

![image](https://user-images.githubusercontent.com/40416610/134567126-688f69a8-cc35-484b-ad9e-aef9890d85cc.png)

My be this will work once deployed to production

@BrentAllsop Can you please test this if I am missing

[2021-09-24 06:55] ashish76 commented on #640
@rupalichavan9860 I have made the suggested changes in the files. Please look at this once again.

[2021-09-24 07:15] ashish76 commented on #639
@rupalichavan9860 I am looking into this issue once again. I already resolved this issue yesterday. I am not sure whether the staging environment has the updated code. I can see that my pull request has not merged yet.
@gautamv16 Could you please merge the pull request?

[2021-09-24 07:18] saniatg opened #769 "User is not able to login - shows error "User is no longer active on canonizer ""
Steps to reproduce :
1- Click on 'Register' enter the details  , DO NOT verify the  OTP instead click on 'Login' link .
2- Try to login, it will give an error: "User is no longer active on canonizer "
3- On login Page  with that same email address click on the button" Request the OTP"
4- Enter the OTP and login
5- User will login successfully and then logout
6- Now  try to login again, it will not

[2021-09-24 08:44] sunilspr7 commented on #752
@rupalichavan9860  , I have reviewed most of the topic on staging and production too, but i am not able to reproduce the error you have mentioned. The topic you have mentioned is not available on staging now. Please review all scenario and let me know.

Thanks

[2021-09-24 08:58] nalwa commented on #750
@gautamv16 Apache configuration needs to be updated for below

post_max_size
upload_max_filesize

[2021-09-24 09:46] ashish76 commented on #639
@rupalichavan9860 I have tested this on staging and the HTML is rendering properly in the email template. Attached is the screenshot for your reference.
![Screenshot from 2021-09-24 15-10-05](https://user-images.githubusercontent.com/23633446/134654759-38e3caca-d017-4a46-ab3e-8c1bd9779d76.png)

[2021-09-24 09:49] akuks commented on #639
What happens if you click on the proposed changed link? Is it working now?
I think rupali refers the link is not working

On Fri, 24 Sep, 2021, 3:16 PM Ashish, ***@***.***> wrote:

[2021-09-24 09:54] ashish76 commented on #639
On click of proposed changes, it will redirect to the topic history (https://staging.canonizer.com/topic-history/281) and it is working.

[2021-09-24 10:06] ashish76 commented on #678
@gautamv16 I think the blog has a different code base (i.e. WordPress). To fix this issue I need access of the WordPress code.

[2021-09-24 10:44] nalwa commented on #683
@gautamv16  we have updated this task as per @rupalichavan9860  findings. we have also  created a PR for same please merge with staging.

[2021-09-24 12:52] nalwa commented on #756
Hello @BrentAllsop  I am working on this ticket and  it will take around 8 hrs to complete it.

[2021-09-24 16:18] rupalichavan9860 commented on #713
@BrentAllsop @HamzaBinMansoor As per discussed in meeting I have added Ready for release label for this

[2021-09-24 16:47] rupalichavan9860 opened #771 "Topic submitter is not getting "proposed changed to topic" email"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create any new topic or take any existing topic
4. Login with another user and submit a change to topic

Expected Result :
Submitter should receive "proposed changed to topic" email

Actual  Result :
User is not receiving  "proposed changed to topic" email

[2021-09-24 17:02] rupalichavan9860 opened #772 "Issue on Total Support score"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create any new topic
4. Create 2 camps under that topic
5. support both camps using same user

Now score of user1 is 0.50 and user 2 is 0.25

6. Login with another user
7. Delegate support to any camp : delegated support will automatically get added for second camp
8. Observe score of each camp f

[2021-09-24 17:38] rupalichavan9860 commented on #639
@ashish76 @gautamv16 Tested and verified. Working fine now so closing this issue

[2021-09-24 17:38] #639 closed, assigned to sunnyjindal

[2021-09-24 18:06] rupalichavan9860 commented on #683
@nalwa Tested and verified.

[2021-09-24 18:06] #683 closed, assigned to nalwa, sunilspr7, rupalichavan9860

[2021-09-24 18:30] rupalichavan9860 commented on #640
@ashish76 Tested and verified

[2021-09-24 18:30] #640 closed, assigned to sunnyjindal

[2021-09-24 18:36] rupalichavan9860 opened #773 "File name validations are missing on Upload file"
As of now file name field is accepting any name including special characters. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/134723777-25acdfee-be48-48e0-ad0b-20889df2fdf2.png)

[2021-09-24 19:32] BrentAllsop commented on #772
Yes, this is an issue.  with 1 person 1 vote canonizer algorithm, all delegates should have the same score as the direct supporter, for all supported camps.  And all delegated supported camps should be the nth supported camp, where n is the same number of supported camp for the direct supporter.

[2021-09-24 19:46] BrentAllsop opened #774 "Once forum "submit" button is pressed, disable it until a change is made in the post"
We need to prevent multiple posts of the same thing.

[2021-09-25 02:24] BrentAllsop opened #775 "Explain why parent or children camp support will be removed, when joining a camp."
When you join a camp, if you already support a parent or child camp, to that camp, it gives a warning that the support of those parent or children camps will be removed.

We need to provide an explanation as to why.

Check with @CanonizerJim to review the language to use for this explanation.

[2021-09-25 06:28] rupalichavan9860 opened #776 "Nick name Visibility Status(Public and Private) feature"
We have not implemented this feature yet. As of now functionality of public and private nick names are same
@BrentAllsop Can you please provide requirement for this

[2021-09-26 07:35] rupalichavan9860 opened #777 "Data Could Not Be Found on What's New at Canonizer links"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Go to What's New at Canonizer block
3. Click on "Check it out!" link  and "It's Not a Hard Problem; It's a Color Problem" link or  "It's Not a Hard Problem; It's a Color Problem" image

Actual Result  :

![image](https://user-images.githubusercontent.com/40416610/134798382-a60052fc-9c40-4084-911b-499a27b90d72.png)

[2021-09-26 07:41] rupalichavan9860 opened #778 "Users are not able to reorder the camps ,when joining a camp on a phone"
Precondition :
User must be logged in on phone
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Try to support camps by reordering them
4. Observe results

Expected Result :
User should able to drag and drop /reorder camps of their choice

Actual Result  :
 Users are not able to reorder the camps

[2021-09-26 12:48] BrentAllsop opened #780 "Add times to forum activities, with the date."
there are dates included for thread creation date and thread post date.
Let's include the times also, with these.

And as with all other times displayed in Canonizer, don't convert from Unix time till the data gets to the browser, and do it based on the browser's local time zone setting.

When we add the ability to edit forum posts, we will need to add the last edited date/time, along with the cre

[2021-09-26 13:45] rupalichavan9860 opened #781 "Mobile Testing : Edit News link is not displaying properly on mobile devices"
Please refer attached screenshot for more details :

Responsive mode on laptop :
![image](https://user-images.githubusercontent.com/40416610/134810664-32762cd2-46eb-4e08-a910-3d97a126a719.png)

Mobile Device :
![image](https://user-images.githubusercontent.com/40416610/134810776-cb1b1543-cd2a-4144-8632-d4f413ac7c15.png)

[2021-09-26 14:24] rupalichavan9860 opened #782 "Crypto Verification : Minor spelling case change"
I found some non-uniform in spelling cases

Please refer attached screenshots

![image](https://user-images.githubusercontent.com/40416610/134811815-d5db7bf3-e23b-4152-965f-64123ec2c9a1.png)

![image](https://user-images.githubusercontent.com/40416610/134811907-1b46dcf0-ce45-4ca2-b909-f454f1972c3f.png)

[2021-09-26 16:29] BrentAllsop commented on #774
We should also put a check on the DB side.  So if there is a forum thread post, identical to the last one submitted, don't add it to the db, again.

[2021-09-27 06:44] rohit-talentelgia commented on #749
@rupalichavan9860

We are reviewing this issue, but the reference link is throwing an error:

https://staging.canonizer.com/topic/324-Testing-issue-743/1-Agreement

![image](https://user-images.githubusercontent.com/8575740/134857548-3f5fbdda-5c0e-43e4-88a7-3cbd58683aaa.png)

[2021-09-27 08:42] rupalichavan9860 commented on #749
@rohit-talentelgia @saniatg Please follow below steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create a new topic and create 2 new camps and support both camps using same user
4. Logout and login with another user
5. Delegate their support to both camps(Now user can see both camps in supported camp list)
6. Logout and login with first user ag

[2021-09-27 08:55] rupalichavan9860 commented on #749
Found one more issue on this
When first user created 3rd camp , delegated support is getting added automatically but incorrect choice number for delegated support is getting displayed

![image](https://user-images.githubusercontent.com/40416610/134876657-805f37c7-180f-41a3-8ec2-6557bc5f3ce0.png)

[2021-09-27 09:52] nalwa commented on #756
@gautamv16 I have completed the ticket and created PR for same, please merge and make it available for testing.

@rupalichavan9860  Points covered related to Forum are:
1. For Non-logged in user "Create Thread" button has been displayed. (As mention by @BrentAllsop )
2. For non-logged in user when there is no thread under form it was display button "All Thread" and table header as in below screens

[2021-09-27 13:58] ashish76 commented on #761
@BrentAllsop & @gautamv16
Based on the specification given above, my understanding is as follows
- There should be a provision to deactivate or activate the user account.
- Once the user gets deactivated he/she will not be able to receive an email notification from the canonizer.
- All the supported camps of the inactive user will no longer be visible to the user

Based on my understanding, I have

[2021-09-27 14:07] rohit-talentelgia opened #784 "Topic Name should not come while objecting"
I found an issue while reviewing the application as below:

![image](https://user-images.githubusercontent.com/8575740/134924023-5859df47-5bfa-4654-a8a1-b87f69375ef4.png)

When we Manage/Edit a Current Topic Record, and while objecting to any statement, we should not get the option of the Topic Name field as it does not actually update the Topic Name.

![2021-09-27 19_35_37-Canonizer](https://user

[2021-09-28 16:52] rupalichavan9860 commented on #752
@sunilspr7 @rohit-talentelgia Yes. This will be non-reproducible as we have copied production data to staging .
Previous Scenario :
Previously when user was delegating their support to someone and submitting delegated support, user was able to click submit button multiple times and support was getting added multiple times.

And now multiple clicks issue is resolved, so we are unable to reproduce t

[2021-09-28 16:52] #752 closed, assigned to sunilspr7, rupalichavan9860

[2021-09-28 17:00] rupalichavan9860 commented on #784
@rohit-talentelgia Previously this topic name /camp name/ statement field was disabled/grayed out on objection page
@BrentAllsop Can you please confirm. Do we want to remove it or keep as disabled

[2021-09-29 04:18] rohit-talentelgia commented on #784
@rupalichavan9860 I think, keeping it disabled/read only will work.

[2021-09-29 08:03] nalwa commented on #749
Hello @rupalichavan9860 @gautamv16

We have reviewed this ticket in detail and found the issue as to why is this happening.

1. User 1 create a topic "Topic abc" and  camp "subcamp 1" and give support to this subcamp.
2. User 2 logs in and delegates the support to "subcamp 1", at this when this user delegates support the first time, the entry is added to the database.
3. If User 1 creates a new ca

[2021-09-29 10:40] aliahmad45 commented on #777
@gautamv16 , @rupalichavan9860

"What's New at Canonizer block" section's content dynamically change from the admin portal. The person who has changed this content, he has to put correct path of video or image to see the content.

How to change the content/path:
1. Login as admin on [staging](https://staging.canonizer.com/admin/login)
2. go to video podcast option.
3. Chang the link.

I have attac

[2021-09-29 10:59] sunilspr7 commented on #784
Ticket Complete with following:
1. Topic Name /Camp Name / Statement Name field is disabled while objecting
@gautamv16  I have Completed the ticket and created PR for same, please merge and make it available for testing.

[2021-09-29 11:59] saniatg opened #787 "Page is crashing and giving error- Refer video for steps"
Steps:
1-Create a topic and 2 sub camps
2- Give a support to any sub camp from another user
3- Now Edit  the camp in parents camp field add any sub camp
4-Commit the changes
5-The update will show in yellow which is 'In Review'
6- Click on button'View this version'

Actual Result- after 4-6 seconds page will crash
Expected result- Version should be viewed
[Screen Recording 2021-09-29 at 3.45.30 PM

[2021-09-29 17:43] ashish76 opened #788 "Create a default nickname, while registering a user in the application."
This feature is to provide flexibility to the user in case if she/he forgot to create a nickname before creating a topic or a camp.
A user can create a nickname anytime in case if she/he wishes to have multiple nickname.

**Requirement:**
1. The system will create a default nickname of the user during the registration process.
2. The system will take the first name and last name of the user and co

[2021-09-29 18:12] rupalichavan9860 opened #789 "Submitted change is getting committed by clicking on View this version"
When user submits any change to camp/topic and click on View this version, submitted change is getting committed

[2021-09-29 18:37] rupalichavan9860 commented on #13
@akuks User is not able to update the thread name with thread name listed under another camp.
It should only check uniqueness for current camp

[2021-09-29 19:02] rupalichavan9860 opened #790 "Delegated support is not getting removed when supporter removed their support from camp"
Please refer attached screenshot
refer topic : https://staging.canonizer.com/topic/290-Test-issue-749/1-Agreement

![image](https://user-images.githubusercontent.com/40416610/135332225-7796c9f0-2fc6-467a-873d-98167100e265.png)

![image](https://user-images.githubusercontent.com/40416610/135332125-f5778e62-9917-4fe7-98ea-1649d50c5399.png)

[2021-09-30 07:53] rupalichavan9860 commented on #678
@gautamv16 @BrentAllsop This issue is exists on staging only. Do we need to fix this ?

[2021-09-30 07:59] rupalichavan9860 commented on #678
Seems like JQMIGRATE version issue
Staging  :
![image](https://user-images.githubusercontent.com/40416610/135411679-0638dad8-2070-431c-a744-f68d62235b64.png)

live :
![image](https://user-images.githubusercontent.com/40416610/135411755-2b682f8a-0f3c-4fec-8b5c-d976486dd5d0.png)

[2021-09-30 10:25] nalwa commented on #749
@rupalichavan9860  @gautamv16 issue fixed.

[2021-09-30 11:03] sunnyjindal commented on #678
@rupalichavan9860 @ashish76 This is not an error. This is just an information that some plugins installed may be relying on older jQuery functionality.

[2021-09-30 11:29] ashish76 commented on #761
Conclusion of the discussion had with Brent related to this feature

1. There will be a button to Activate/Deactivate an account in the user's account settings.
2. Once the account is deactivated, the user will not be able to receive email notifications from the application.
3. The nickname will not be visible to all the supported camps by the user from the date of deactivation. The nickname of th

[2021-09-30 11:30] sunilspr7 commented on #771
Steps to reproduce :

  1  Go to https://staging.canonizer.com/
  2 Login with valid email and password
  3 Create any new topic
  - Topic creator User received this mail - this text in mail makes no sense.

![-staging-canon-Thank-you-for-contributing-to-Canonizer](https://user-images.githubusercontent.com/6298462/135446992-4d776b98-0fdd-4539-b738-4d75333114cc.png)

@gautamv16  @rupalichavan9860 -

[2021-09-30 16:45] rupalichavan9860 commented on #787
Adding Scenario for this as @saniatg is not able to reproduce the scenario
1. Go to any camp who is having sub camp
2. Click on Manage/Edit This Camp
3. Click on Submit Camp update based on this
4. Select "Parent camp" as sub camp/child of current camp
5. Click on Submit Update

**Scenario is " Select child camp of current camp as a Parent Camp on camp update page"**

![image](https://user-images.

[2021-09-30 17:00] rupalichavan9860 opened #792 "Delegated supported camp names are not displaying on supported camps page when applying filter as of date as previous date"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Browse
4. Apply as of filter as any previous date/old date (like 1/1/2006, 11:00:00 AM)
5. Go to supported camps page and observe

Please refer attached screenshot for more details

![image](https://user-images.githubusercontent.com/40416610/135499127-4e96478c-3682-4b35-b70f-5f669e33c079.pn

[2021-09-30 18:26] rupalichavan9860 commented on #13
@akuks Tested and verified. Working fine now so closing this issue

[2021-09-30 18:26] #13 closed

[2021-09-30 18:30] rupalichavan9860 opened #793 "Layout is getting disturbed on List of All Camp Threads and Posts page when thread name is 100 characters long"
Please refer attached screenshot:
List of All Camp Threads

![image](https://user-images.githubusercontent.com/40416610/135510908-cc4bdde0-e136-4242-82d5-1201c592738c.png)

Thread Posts page :
![image](https://user-images.githubusercontent.com/40416610/135511061-59fa41c8-a491-486e-a221-28c51ad04dd5.png)

[2021-10-01 07:47] sunilspr7 commented on #775
@CanonizerJim and @BrentAllsop , kindly share the text to be displayed and I will add it.

[2021-10-01 10:13] nalwa commented on #780
@akuks @gautamv16  @rupalichavan9860 @BrentAllsop   i was working on this task  and my findings  On Thread creation & Post/Comment creation are:
1. Date & time format saving in DB is not UNIX its DATETIME format as - "2021-10-01 08:38:58"
2. And time saving in DB is not correct as per testing on my local system

Please check and verify this on staging database.

I have displayed time as described

[2021-10-01 10:47] akuks commented on #780
Yeah, in forum, it is the MySQL timestamp (I can take the blame of it of not being consistent). And it is time saved on the server. Not in the IST. I think we need to add this functionality also. Where we change the time as per the location.

[2021-10-01 11:42] sunilspr7 commented on #771
@rupalichavan9860 ,

I have now created a new email template for the proposed change in the topic. and now the email is implemented as per your comment.

But I have a query, will this email be sent to all the supporters of that topic as well along with the creator of the topic?

[2021-10-01 12:13] rohit-talentelgia commented on #774
@rupalichavan9860 @BrentAllsop We have implemented a check on the submit button, once it is pressed it will be disabled so that multiple entries do not get saved in the database.

[2021-10-01 12:47] rupalichavan9860 commented on #678
Closing this

[2021-10-01 12:47] #678 closed, assigned to ashish76

[2021-10-01 12:50] akuks commented on #780
Time is in the UTC in the new server. I will check the old server.
New server TZ `(Fri Oct  1 12:46:47 UTC 2021)`

[2021-10-01 13:32] BrentAllsop commented on #775
@sunnyjindal, could you find all the current e-mail text, currently being used in the system, and post it here.
Then @CanonizerJim and I can propose modifications to that.

Does that make sense?

[2021-10-01 13:49] sunnyjindal commented on #775
Sure Brent. I shall do that on Tuesday.On Fri, Oct 1, 2021 at 7:02 PM,             Brent Allsop ***@***.***> wrote:
@sunnyjindal, could you find all the current e-mail text, currently being used in the system, and post it here.
Then @CanonizerJim and I can propose modifications to that.
Does that make sense?

—You are receiving this because you were mentioned.Reply to this email directly, view it

[2021-10-01 18:28] rupalichavan9860 opened #796 "Color of some text is displaying different than other text of mail body"
Email : proposed a change to  camp
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/135669480-f3e50b37-fdd2-4907-b05b-8b013b53baab.png)

[2021-10-01 18:36] rupalichavan9860 commented on #773
@gautamv16 Tested and verified.

[2021-10-01 18:38] rupalichavan9860 commented on #740
@gautamv16 Tested and verified

[2021-10-01 18:38] #740 closed, assigned to aliahmad45

[2021-10-01 18:49] rupalichavan9860 commented on #749
@nalwa @gautamv16 Tested .Still facing issue for choice/preference no when reordering the camps while supporting latest camp. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/135671807-ce57426c-74f9-4bb4-9227-8032fa4eec76.png)

[2021-10-01 18:58] rupalichavan9860 commented on #676
@HamzaBinMansoor Tested .Working fine now but color of symbol of fa-question(?)  is black and color of other symbol of fa-question(?)  on the same page is blue

Can we make it uniform

![image](https://user-images.githubusercontent.com/40416610/135672695-5a20adc5-b01e-42f3-9d36-5cdd994005d2.png)

[2021-10-01 19:05] rupalichavan9860 commented on #749
@nalwa Also check choice numbers on supported camps page

![image](https://user-images.githubusercontent.com/40416610/135673563-feb22de8-8051-47cf-ba0e-6c516919f545.png)

[2021-10-02 18:10] gautamv16 commented on #674
@BrentAllsop we are using the apikey for address api of google for trial period which is over now, you need to enable billing in google account and share the api key , i will replace that and it will start working then

[2021-10-02 22:28] BrentAllsop commented on #750
Thanks @nalwa.

[2021-10-02 22:34] BrentAllsop commented on #750
We need to decide the size limits, and what types of files we allow.
I'm thinking we only want image files, for people to include on wiki pages.
Once this is specified, we need to include automated tests to verify all these limits and types.
Before we can close this.

[2021-10-02 22:36] BrentAllsop commented on #713
We need to release this, then test it, before we can close this, right?

[2021-10-03 12:39] rupalichavan9860 commented on #750
@BrentAllsop Previously it was accepting image files only , after that you said We want to be able to host files of any type.
Especially mp4 files and such.

Please refer ticket https://github.com/the-canonizer/canonizer.2.0/issues/613

[2021-10-03 12:47] rupalichavan9860 commented on #784
@sunilspr7 @gautamv16 @BrentAllsop Can we do the same changes for parent camp field also on camp objection page.
As of now user is able to select another parent camp on camp objection page but it's not getting changed after submission

[2021-10-03 12:49] BrentAllsop commented on #750
@rupalichavan9860, oh yes, I forgot about that.  thanks for remembering all this.
We are now hosting video files at [https://canonizer.com/videos/](https://canonizer.com/videos/), also, since we now have access to shared google docs, sheets, and all that the need to host things like that no longer exist.
So I'm thinking we should go back to just hosting image files.

[2021-10-03 12:54] BrentAllsop commented on #784
Thanks @rupalichavan9860   Yes, let's include that change also, before closing this.  You should not be able to change anything like that.  Just objecting, and providing a reason for objecting.

[2021-10-03 12:56] rupalichavan9860 commented on #774
@rohit-talentelgia @nalwa @gautamv16 Tested and verified. Working fine now so closing this issue

[2021-10-03 12:56] #774 closed, assigned to nalwa

[2021-10-03 12:58] BrentAllsop commented on #775
Sorry @sunnyjindal, I intended to ask @sunilspr7, who has been assigned to this issue for this, not you.
thanks all.

[2021-10-03 13:00] rupalichavan9860 commented on #784
@BrentAllsop Thanks for the quick response and confirmation. As this needs to fix too, I am reopening this

[2021-10-03 13:02] rupalichavan9860 commented on #750
@BrentAllsop Should I move this issue to "To Do" then?

[2021-10-03 13:09] BrentAllsop commented on #750
@sunnyjindal,  I'm thinking we should move most everything that needs to be done into the "To Do" board, but wanted to ask you, as scrum master.

[2021-10-03 13:26] rupalichavan9860 commented on #769
@aliahmad45 @HamzaBinMansoor Tested. User is getting "Error! Your account is not verified" this error but when tried for "Request One Time Verification Code" , user is not receiving new One Time Verification Code

[2021-10-03 13:29] rupalichavan9860 commented on #771
@BrentAllsop Can you please confirm, do we need to remove this "You proposed a change for topic" in email for first time topic creation

[2021-10-03 14:27] rupalichavan9860 commented on #759
@BrentAllsop I am confused on this. Previously we decided "Don't pre populate "Edit Summary" or note field when making modification." . Please refer issue https://github.com/the-canonizer/canonizer.2.0/issues/530

As per this fix we can see the "Edit Summary" on statement update page. Do do we need to change same for topic and camp also? or do we need to go with this ->  https://github.com/the-can

[2021-10-03 14:43] rupalichavan9860 commented on #773
@aliahmad45 @gautamv16 As of now it is validating File name field, but it is not validating original file name
Need to discuss on this

[2021-10-03 15:46] BrentAllsop commented on #759
@rupalichavan9860   Right, we shouldn't ever pre populate the reason field from a previous edit record.
But, if we enter a reason, then "preview" that edit with reason, then go back to the edit page, or in any other way return to continue an edit, we should attempt to preserve the reason, if it is entered for the current edit.  Does that make sense?

[2021-10-03 15:53] BrentAllsop commented on #771
@rupalichavan9860 , I added an agenda item for Monday Oct 4th to discuss how we can better manage who is getting what e-mails, when, along these lines, with reference to this issue and [775](https://github.com/the-canonizer/canonizer.2.0/issues/775)

[2021-10-04 06:00] nalwa commented on #749
@rupalichavan9860  if this issue is coming in case of  reordering the camps then  it is a different task. I reviewed the code for re-ordering and  my findings:
**On support re-order delegate support re-order code is not there.**
So i would suggest please create a different ticket for re-ordering issue. As this ticket was not related to re-ordering.
Thanks

[2021-10-04 06:59] sunilspr7 commented on #775
@BrentAllsop I will create a document of all the emails currently going through the system.

[2021-10-04 07:54] aliahmad45 commented on #769
Hi @rupalichavan9860 ,
I tried with my account "ali.ahmad@codedistrict.com" which is already verified account but i'm receiving one time verification code.
I've attached a picture of otp for your reference.
![image](https://user-images.githubusercontent.com/90698926/135813801-eee4f640-3261-495d-b0eb-716439cd1d97.png)

can you please let us know which process you followed?

[2021-10-04 08:09] rupalichavan9860 commented on #769
@aliahmad45 Your account is already verified. Please try to register with new account and don't verify your new account with One Time Verification Code

[2021-10-04 08:21] saniatg opened #797 "Agreement camp is not getting updated"
Steps to reproduce:
1. Navigate to any existing topic or create a new topic
2. Scroll to Current camp record at the bottom
3. Click on button "Manage/Edit camp"
4. Now on Camp History page click on button"Submit Camp updateBa
![Screenshot 2021-10-04 at 1 50 19 PM](https://user-images.githubusercontent.com/91254708/135817348-f6c47888-c5d6-4e56-a3c8-445d172c7e6d.png)
sed on this"
5. Edit fields(Keyw

[2021-10-04 08:35] aliahmad45 commented on #769
@rupalichavan9860  registered with new account "techverd@gmail.com". Verified my account through verification code which we get after registration then generated a one time verification code and i got code through email.
![Image](https://user-images.githubusercontent.com/90698926/135818933-6ba1b112-6801-4b96-a4d0-d18481133dfe.jpeg)

then registered a another account, did not verify the account and

[2021-10-04 09:16] rupalichavan9860 commented on #769
@aliahmad45
I was checking on different email .Tested and verified this. Working fine so closing this issue

[2021-10-04 09:16] #769 closed, assigned to aliahmad45

[2021-10-04 11:10] sunnyjindal commented on #750
@BrentAllsop I would suggest that we should have 2 list - TODO and Assigned. TODO can have all points as mentioned by you. Assigned can have those tickets that have been assigned to the teams.

[2021-10-04 11:14] nalwa commented on #787
@gautamv16  @BrentAllsop  @rupalichavan9860  as per the scenario: **"Select child camp of current camp as a Parent Camp on camp update page"**

Page is crashing as already mentioned in ticket.
But, Is it logically correct to select child camp as a parent camp on Camp Update ?
According to me its not logically correct as well from coding point of view it will go in infinite recursive loop which is

[2021-10-04 11:17] aliahmad45 commented on #789
@rupalichavan9860
when user changed the statement and click on "submit update"  button then changes are committed at this point.
Changes are not committing by clicking on "view this version". "View this version" only redirect to user to statement page.

[2021-10-04 11:19] nalwa commented on #739
@rupalichavan9860  i am not able to re-produce this issue, If it appears in some certain cases do mention that.
as i have asked @saniatg  to test the same she was also not able to re-produce it.

[2021-10-04 11:24] rupalichavan9860 commented on #787
@nalwa I added steps to reproduce the issue as @saniatg was not able to reproduce
and yes as per requirements user can select any camp as a parent camp
@BrentAllsop Please confirm ?

[2021-10-04 11:37] ashish76 commented on #788
This feature has been implemented
Now the default nickname will be created while registering a user in the application.
Nickname will be the combination of first name and last name, concatenated with the "-" sign.
If the nickname already exists then a random 3 digit number will be appended at the end of the nickname.

A unit test case has been created for this to verify the functionality. To run t

[2021-10-04 11:41] rupalichavan9860 commented on #789
@aliahmad45 Yes "View this version" only redirect to user agreement page. but when user click on "View this version" without committing changes and again go to history page , user can't see "Edit change" "commit change" buttons

this is happening because when user click on "View this version" as of date filter is getting applied
when user change this filter to Default then only  user can see  "Edi

[2021-10-04 11:46] rupalichavan9860 commented on #739
@nalwa @saniatg Let's have a quick call

[2021-10-04 11:51] sunilspr7 commented on #775
[Canonizer Email Templates.docx](https://github.com/the-canonizer/canonizer.2.0/files/7277786/Canonizer.Email.Templates.docx)

Hello @BrentAllsop , I have created the document of the email templates and attached is the same

[2021-10-04 12:00] ashish76 commented on #793
This issue has been resolved.
Wrap the content to the next line

@rupalichavan9860 Please have a look and let me know if any issues

[2021-10-04 14:18] rohit-talentelgia commented on #775
Here is the link to the Email Template document that needs to be followed:

https://docs.google.com/document/d/1xpdJ9XHs7FgZkJth9NE4chhTBR73p9XY_iu5S6OQLYg/edit

[2021-10-05 03:59] rupalichavan9860 commented on #792
@gautamv16 Tested and verified

[2021-10-05 03:59] #792 closed, assigned to gautamv16

[2021-10-05 04:04] rupalichavan9860 commented on #741
@gautamv16 Tested and verified on staging, it is working fine on staging

[2021-10-05 04:49] rupalichavan9860 commented on #756
@nalwa Tested.
Need minor change in tooltip

Camp History :
It should be "Only **supporter** have access to object the camp." instead of "Only **supported** have access to object the camp."
Topic History :
It should be "Only **supporter** have access to object the topic." instead of "Only **supported** have access to object the topic."
Statement History :
It should be "Only **supporter** of this c

[2021-10-05 06:41] HamzaBinMansoor commented on #773
As discussed in the scum meeting:
1. The File Name field will be required.
2. File Name field can accept an alphanumeric string.
3. Only special characters allowed are - and _

[2021-10-05 06:47] HamzaBinMansoor commented on #759
![image](https://user-images.githubusercontent.com/79147323/135973241-4e979577-1c7a-43aa-a737-92293c8220e6.png)

As discussed in the scrum meeting:

If the User presses the "**Submit Camp Based on this**" the **Edit Summary** Will be Empty
If the user presses the "**Edit Change**" Button then the **Edit Summary** field will be pre-filled with previous data

[2021-10-05 06:53] HamzaBinMansoor commented on #789
![Uploading image.png…]()
![image](https://user-images.githubusercontent.com/79147323/135973852-ae700b37-f7cc-4ce2-a1ec-6d2ef3f3042b.png)

As Discussed in the Scrum Meeting:
**Count Down Time** **Edit Change** and **Change Commit** should be shown whatever the filter (Include Review, Default, As of Date) is selected on Camp Screen.
Currently It only Shows in case when **As of Date Filter** is sele

[2021-10-05 08:18] aliahmad45 commented on #759
Do we need this functionality for Topic & camp as well?
there is same functionality when we edit the topic and camp.

[2021-10-05 08:32] rupalichavan9860 commented on #759
@aliahmad45 We need the same functionality for Topic & camp as well

[2021-10-05 08:55] sunilspr7 commented on #782
@rupalichavan9860  - Correct display of "MetaMask" word in this way. Reference website -  https://metamask.io

[2021-10-05 11:14] sunilspr7 commented on #784
@rupalichavan9860  - Condition also applied on parent camp in camp objection page. Now user is not able to select another parent camp on camp objection page.

[2021-10-05 12:00] nalwa commented on #739
@rupalichavan9860  issue fixed

[2021-10-05 12:17] BrentAllsop commented on #756
@rupalichavan9860 and @CanonizerJim, we need to find some way to improve all these tool tips.
Perhaps a meeting, where we walk though all the cases?

[2021-10-05 17:56] rupalichavan9860 commented on #739
@nalwa Tested and verified

[2021-10-05 17:56] #739 closed, assigned to nalwa

[2021-10-05 18:16] rupalichavan9860 commented on #741
@gautamv16 Again getting this issue so reopening this

![image](https://user-images.githubusercontent.com/40416610/136079964-458626b5-ba21-4701-911a-c2ff9e69ce9a.png)

[2021-10-05 18:24] rupalichavan9860 commented on #759
@aliahmad45 @gautamv16 As it needs to be implement , I am moving this to "To Do"

[2021-10-05 18:26] rupalichavan9860 commented on #773
@HamzaBinMansoor @gautamv16 As it needs to be implement , I am moving this to "To Do"

[2021-10-05 18:33] rupalichavan9860 commented on #784
@sunilspr7 @gautamv16 Tested and verified. Working fine now so closing this issue

[2021-10-05 18:33] #784 closed, assigned to sunilspr7

[2021-10-05 18:47] rupalichavan9860 commented on #777
@gautamv16 @aliahmad45 Still getting this issue as folder videos/consciousness is not available on staging

[2021-10-05 18:50] BrentAllsop commented on #756
Kshipra, Iffort needs to be included on any meetings/discussion, along with Jim.

[2021-10-05 18:55] rupalichavan9860 commented on #782
@sunilspr7 Tested and verified

[2021-10-05 18:55] #782 closed, assigned to sunilspr7

[2021-10-05 19:31] BrentAllsop opened #802 "Chapter specification argument URL, not working in safari browser."
This is not a problem with the canonizer 2.0 repository code.
This is a problem with the index.html file located in this repository:
https://github.com/the-canonizer/canonizer-videos

The videos are not contained in that github repository, as they are too large, but they can be downloaded from this directory:
https://canonizer.com/videos/consciousness/  for development work.

Debugging this on a l

[2021-10-05 21:32] BrentAllsop commented on #789
@HamzaBinMansoor, Let me know what I can do, for the "For Brent" label.  If you understand, and you no longer need my help, could you remove that label?
thanks.

[2021-10-05 21:35] BrentAllsop commented on #787
@rupalichavan9860 , not sure what you want me to confirm here for the "For Brent" tag.

[2021-10-06 08:03] sunilspr7 commented on #771
@BrentAllsop  @CanonizerJim  @rupalichavan9860  Please provide the email content to be sent to all the supporters in case someone  updates in the supported topic

[2021-10-06 11:16] kshitij1326 commented on #776
Based on the discussed approach, I have implemented the functionality.
Desired Output: If the user's nick name is Private, then on click of nickname the user's profile details will be hidden and only the supported camp will be visible.

[2021-10-06 12:13] rohit-talentelgia commented on #771
@sunilspr7 The email template is there in the document provided by Rupali.

**To Direct supporters when change is proposed.**

From: canonizer@canonizer.com
Subject: Proposed change to <topic/camp/statement id> submitted

Hello {first_name} {last_name},

{nick_id} has proposed a change to this <topic | camp | statement> <topic name>:<camp name> <link to camp with change, as_of value set to include

[2021-10-06 12:18] rupalichavan9860 opened #804 "Getting page crash on history pages"
Pre- condition :  User is not logged in

Topic : https://staging.canonizer.com/topic/315-Test-topic-6-oct-2021/2-test-camp-1-updated-by-r-cano#statement

Steps :
Click on "Manage/Edit Camp Statement"

Screenshot :
![image](https://user-images.githubusercontent.com/40416610/136200548-2d412c1b-0008-4e0c-ae62-77190931975c.png)

Note :  Getting on some specific scenario , Will add steps later

[2021-10-06 12:19] rohit-talentelgia opened #805 "Email content to be matched with Email Template Document"
All the emails being sent from the website needs to be audited and to be matched with the email template document given below:

https://docs.google.com/document/d/1xpdJ9XHs7FgZkJth9NE4chhTBR73p9XY_iu5S6OQLYg/edit

[2021-10-06 12:22] rupalichavan9860 commented on #787
@BrentAllsop Need confirmation on this :  can user can select any camp as a parent camp(e. g if "camp1" is parent camp of "camp2" , can "camp2" will be selected as parent of "camp1" )

[2021-10-06 12:27] saniatg commented on #805
Sharing my findings related to the email content in the doc file
[Email issues.docx](https://github.com/the-canonizer/canonizer.2.0/files/7293655/Email.issues.docx)

[2021-10-06 14:25] BrentAllsop commented on #761
@ashish76
There are nick name records that support camps.
They have a start time, and a termination time field which can have a not terminated (infinite?) value, for when the support is active.
When the user abandons a camp, the termination time is set to the time the support was terminated.
This is what allows the "as of" system to preserve history.
I was thinking of just iterating through all cu

[2021-10-06 17:04] gautamv16 commented on #741
@rupalichavan9860 I have checked it on staging it is working for me, is your metamask plugin for chrome is installed?

[2021-10-06 17:08] gautamv16 commented on #698
@BrentAllsop Can you please provide the list of pages that we allow and which we are adding in disallow section?

[2021-10-06 18:13] akuks opened #806 "Update Laravel to latest in the production"
Upgrade Laravel to the latest version to avoid any security threat.

But there are some issues that needs to be tackle:
* Current version 5.* and latest laravel version has lots of changes in the core packages. We might need to rewrite some of the controllers code.
* At present, we don't have any idea how many packages are affected by the upgrade.

A complete regression testing required, after the

[2021-10-07 07:45] rupalichavan9860 commented on #805
@rohit-talentelgia @saniatg This doc is not updated one. We have changed lots of things in email format

[2021-10-07 11:14] rohit-talentelgia commented on #805
@rupalichavan9860 so should we not work on matching the content for this document? Is there any updated document of email templates?

[2021-10-07 12:08] rupalichavan9860 commented on #805
Yes @rohit-talentelgia . Need to update the document before testing

[2021-10-07 12:18] rupalichavan9860 commented on #741
@gautamv16 Tested and verified.

[2021-10-08 06:50] gautamv16 opened #808 "Make all email template dynamic from admin panel"
We have to create email templates from admin panel from where admin can change content for each email event type.

[2021-10-08 06:58] nalwa commented on #804
@sunnyjindal  @kshitij1326 @rupalichavan9860  This issue  arises because of conflict in **Pull Request #798 from the-canonizer/CodeDistrict**  (Mentioned in yesterday meeting as well - THU, 7th cot 21)

This  work was  from my side which is lost / incomplete on staging now. I will update my lost work on staging.
Thanks.

[2021-10-08 07:30] gautamv16 commented on #787
@nalwa @rupalichavan9860 lets give a message to user instead of page crash. There must be a validation message that user cant do this change.

[2021-10-08 10:46] rupalichavan9860 commented on #804
@nalwa @gautamv16 Tested and verified by me and @saniatg . It is working fine now so closing this

[2021-10-08 10:46] #804 closed, assigned to kshitij1326

[2021-10-08 11:18] nalwa commented on #790
@gautamv16  @rupalichavan9860  according this ticket my findings and fixes are as:
1. Code for "Removing Delegate supports"  on removal of "direct support" by supporter was not there.
2. So, code was added to remove the delegate support if support is removed by direct supporter.
3. Code written to re-order the "Support order/preferences" on removal of delegate support.

[2021-10-08 12:20] saniatg commented on #775
@BrentAllsop @CanonizerJim
Please check the content for the message
Case 1. User supporting a child camp and support getting removed from parent camp
Warning : The following camp is a child camp of "test" camp and your support to the parent camp will be removed if you commit this support. You can give support only to either a parent camp or a child camp. You cannot support child and parent camp to

[2021-10-08 13:14] BrentAllsop commented on #775
@dakshiffort and @CanonizerJim, can you review this new copy defing "parent" and "child" to be great, then once reviewe

When adding support to a new camp, if you already support a parent or child camp of the new camp, this results in stacked support.  Stacked support provides contradictory information and defeats the purpose of Canonizer.  Grand parent, great grand parent and so on camps are all

[2021-10-08 13:31] rupalichavan9860 commented on #749
@nalwa I had a discussion on this with @BrentAllsop and he said we need to fix this in this ticket only

[2021-10-08 13:49] rupalichavan9860 opened #811 "User should not be able to delegate their support to their delegated supporter"
Expected Result :
If "user2" delegated their support to "user1" , then "user1" should not be able to delegate their support back to "user2"

Actual Result :
As of now  "user1" is able to delegate their support to "user2"(who is already delegating support to "user1")

Please refer attached screenshot for more details

![image](https://user-images.githubusercontent.com/40416610/136568607-ea925e36-33

[2021-10-10 15:31] rupalichavan9860 commented on #771
@sunilspr7 Tested. When "user1"  created new topic and "user2" proposed changed to topic, "user2" is receiving email but "user1" is not receiving the proposed changed email

[2021-10-10 15:35] rupalichavan9860 commented on #793
@ashish76 Tested and verified. Looking nice so closing this issue

[2021-10-10 15:35] #793 closed, assigned to ashish76

[2021-10-10 15:57] rupalichavan9860 commented on #772
@kshitij1326 Tested and verified. Score looks correct for me so closing this

[2021-10-10 16:09] rupalichavan9860 commented on #788
@ashish76 Tested and verified.

[2021-10-10 16:09] #788 closed, assigned to ashish76

[2021-10-11 05:58] nalwa commented on #749
@rupalichavan9860  i will work on it

[2021-10-11 06:49] sunilspr7 commented on #771
@rupalichavan9860 as per ticket, submitter should receive the email, and submitter is who is proposing change on topic.
So, email is being sent to submitter and direct supporters.
And Creator is already direct supporter so he/she will receive email, if he /she has removed their support from topic in that case you want us to send email to that person?

[2021-10-11 07:26] rupalichavan9860 commented on #771
@sunilspr7 Can we have a quick call for this?

[2021-10-11 07:28] sunilspr7 commented on #771
sure

[2021-10-11 10:49] gautamv16 commented on #811
@rupalichavan9860 its done. please test

[2021-10-11 11:32] ashish76 commented on #761
Hi Brent,
I have gone through with your suggestion and I somewhat agree with this but I have a query.
**Query:**
1. What will happen a user pullout his support from a camp and then deactivate his account. After few days he activates his account once again but doesn't want to support that camp. Shall we remove the termination date from the camp or it will remain there?

I would prefer to keep these

[2021-10-11 14:53] BrentAllsop commented on #777
Thanks @rupalichavan9860, for making sure things like this get fixed.

[2021-10-12 08:25] akuks commented on #806
Needs to deploy it on docker on the staging environment.

[2021-10-12 08:42] rupalichavan9860 commented on #777
@BrentAllsop @CanonizerJim Tested and verified. Working good now so closing this

[2021-10-12 08:42] #777 closed, assigned to aliahmad45

[2021-10-12 09:18] rupalichavan9860 commented on #811
@gautamv16 Tested and verified. Working fine now so closing this

[2021-10-12 09:56] nalwa commented on #749
@rupalichavan9860 Following fixes made  with II Part of this ticket:

1. When reordering the camps while supporting Choice/preference no is fixed both on **support tree** and **under support camp list of delegated supported**
2. When any direct supporter go to their **support camp list** in account setting and re-order camps  for any topic in that case delegate supporters preference was not gettin

[2021-10-12 11:13] ashish76 commented on #761
@BrentAllsop & @gautamv16
Based on yesterday's discussion, I have checked the flow and the suggested approach seems to be workable.
Based on that I have updated the document. Please have a look and let me know if any feedback or suggestion.

[Canonizer-Understanding-Document.docx](https://github.com/the-canonizer/canonizer.2.0/files/7329391/Canonizer-Understanding-Document.docx)

[2021-10-12 15:11] akuks opened #813 "[HotFix] - Remove services from the side bar in the canonizer home page"
We need to remove the "services" link on the side bar.

[2021-10-12 15:32] akuks commented on #813
Services removed from the sidebar

[2021-10-12 15:32] #813 closed, assigned to akuks

[2021-10-13 04:59] rupalichavan9860 commented on #676
@aliahmad45 @gautamv16 Tested and verified.

[2021-10-13 04:59] #676 closed, assigned to aliahmad45

[2021-10-13 05:05] rupalichavan9860 opened #815 "Staging emails are displaying [canon] before subject line instead of [staging.canon]"

[2021-10-13 05:30] #797 closed, assigned to aliahmad45

[2021-10-13 05:31] saniatg commented on #797
Working fine on staging and closing the issue.

[2021-10-13 05:34] rupalichavan9860 opened #816 "Page crash on topic update page"
Getting below page crash on staging while submitting topic update

Please refer below screenshot :

![image](https://user-images.githubusercontent.com/40416610/137073183-883fbc74-db18-4ec8-8edf-84e619fd4b93.png)

[2021-10-13 05:56] rupalichavan9860 commented on #796
@kshitij1326 @gautamv16 Tested and verified

[2021-10-13 05:56] #796 closed, assigned to kshitij1326

[2021-10-13 06:16] saniatg commented on #789
@rupalichavan9860 Verified the task and is working fine . Please confirm at your end .

[2021-10-13 07:54] rupalichavan9860 commented on #816
@sunilspr7 Tested and working now so closing this issue

[2021-10-13 07:54] #816 closed, assigned to sunilspr7

[2021-10-13 08:08] saniatg opened #818 "Page is crashing when trying giving support to the child camps for old topics"
Precondition: already supporting one child camp
Steps:
1- Navigate to old topic
2- Add 2 sub camps for that topic
3- Give support to 1 sub camp
4- Now try to give support to 2nd sub camp
5- On click submit button page crashed
![Screenshot 2021-10-13 at 1 12 44 PM](https://user-images.githubusercontent.com/91254708/137093201-d19a1b27-479a-4b59-b087-189a89bb0487.png)

[2021-10-13 09:02] nalwa commented on #780
@akuks  have you changed the Mysql Date time into UNIX on staging and production?
I guess it needs to be done before code deployment.

I am saving time as UNIX format on thread and forum post so Date format needs to be changed in DB.

[2021-10-13 09:09] akuks commented on #780
@nalwa No, it will done after the code is deployed to staging. Otherwise things will stop working on staging.

[2021-10-13 09:22] rupalichavan9860 commented on #776
@kshitij1326 @gautamv16 Tested and verified

[2021-10-13 09:22] #776 closed, assigned to kshitij1326

[2021-10-13 09:41] rupalichavan9860 opened #821 "Issues in proposed a change to topic email"
Email : proposed a change to topic
Issue 1 :  ":" is displaying 2 times
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/137108588-78b69ba7-ff62-46df-a0d8-521cb95a10d0.png)

Issue 2 :
Color of some text is displaying different than other text of mail body
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/13710

[2021-10-13 09:50] rupalichavan9860 commented on #759
@aliahmad45 @gautamv16 Tested and verified

[2021-10-13 09:50] #759 closed, assigned to HamzaBinMansoor, aliahmad45

[2021-10-13 10:00] rupalichavan9860 commented on #789
Tested and verified. Working fine so closing this issue

[2021-10-13 10:00] #789 closed, assigned to aliahmad45

[2021-10-13 10:10] rupalichavan9860 commented on #771
@sunilspr7 Tested and verified

[2021-10-13 10:10] #771 closed, assigned to sunilspr7

[2021-10-13 10:30] saniatg commented on #772
@kshitij1326 Count is showing correct for supporting tree but wrong for camp tree.
Please Refer screenshot -> Highlight are the counts which are incorrect
![Screenshot 2021-10-13 at 3 58 17 PM](https://user-images.githubusercontent.com/91254708/137116562-d6e81581-723b-49f9-968a-d26c41bc1062.png)
.

[2021-10-13 10:57] rupalichavan9860 commented on #749
@nalwa Tested and working fine

[2021-10-13 10:57] #749 closed, assigned to nalwa

[2021-10-13 11:30] rupalichavan9860 commented on #818
@nalwa @gautamv16 Tested and verified

[2021-10-13 11:30] #818 closed, assigned to nalwa

[2021-10-13 11:46] rupalichavan9860 commented on #775
@BrentAllsop What should be the warning in following scenario
Right now user is supporting " test camp 4" and created sub camp under " test camp 4"  i.e "Test camp 4 sub camp 4" and again created sub camp under "Test camp 4 sub camp 4" i.e "sub camp" and trying to support "sub camp"

![image](https://user-images.githubusercontent.com/40416610/137126336-92417c9a-04e9-4215-a568-f798dc93a240.png)

[2021-10-13 11:59] rupalichavan9860 commented on #778
@aliahmad45 Tested and verified on android and iPhone device and working fine so closing this

[2021-10-13 12:04] rupalichavan9860 commented on #778
@aliahmad45 UI is getting disturbed in case of reordering and user is able to drag and drop anywhere on the page due to which sometimes all camps are getting disappears so reopening the issue

[2021-10-13 12:06] saniatg commented on #778
Please refer attached screenshot for the UI issue
![781](https://user-images.githubusercontent.com/91254708/137129258-4b5859c1-3c8a-467d-9473-ef12e8444066.jpeg)

[2021-10-13 12:15] rupalichavan9860 commented on #781
@aliahmad45 Still not displaying properly for responsive devices

![image](https://user-images.githubusercontent.com/40416610/137130517-e819e58d-2afc-4069-9f61-a7b308765df0.png)

[2021-10-13 12:45] rohit-talentelgia commented on #780
@akuks

If you can write the migration for the database update it will be helpful.

[2021-10-14 04:38] rupalichavan9860 commented on #815
@gautamv16 Tested and verified.

[2021-10-14 04:38] #815 closed, assigned to HamzaBinMansoor

[2021-10-14 05:32] rupalichavan9860 commented on #790
@nalwa Tested . direct delegate support is getting removed but sub level delegate support is not getting removed
Please refer attached screenshot

For below topic "RC" is direct supporter and "Rupali Cano" is delegated supporter of "RC" and "Rupali-Chavan" is delegated supporter of "Rupali Cano"

When "RC" removed support from camp , "Rupali Cano" 's support is removed but "Rupali-Chavan" still ca

[2021-10-14 06:14] rupalichavan9860 commented on #773
@HamzaBinMansoor Tested and verified

[2021-10-14 06:14] #773 closed, assigned to aliahmad45

[2021-10-14 07:24] nalwa commented on #790
@rupalichavan9860  okay i will check it

[2021-10-14 07:49] kshitij1326 commented on #772
on checking this situation, i found that when main user removed their support from camps to Agreement, delegates and sub delegates supports are not removed, and also i got an extra entry for delegates of main user.
![Screenshot from 2021-10-14 13-20-43](https://user-images.githubusercontent.com/91306850/137275015-a94fefc0-ae11-4a76-86c8-095c719f5af4.png)

[2021-10-14 07:59] nalwa commented on #790
@rupalichavan9860  @gautamv16   as per findings for sub level delegate, changes needs to be implemented in three cases:

CASE 1:  ON deleting direct support all delegated support including sub-level delegate support should be removed. (AS per this ticket #790)

CASE 2: When reordering the camps while adding support to camp Choice/preference no has to be re-orders for sub-level of delegate support.

[2021-10-14 08:04] rupalichavan9860 commented on #772
@kshitij1326 yes delegated support is not getting removed. We already have an issue for this #790  .Once that fixed I will check the score count and then close

[2021-10-14 08:30] #684 closed, assigned to nobody

[2021-10-14 08:31] #677 closed, assigned to nobody

[2021-10-14 08:32] #609 closed, assigned to nobody

[2021-10-14 10:18] Wajeeha1995 opened #822 "Users are only able to register through email, but when logging in, the system says that a users can enter a phone number to login as well"
Login Screen Screenshot : https://prnt.sc/1w3o82t
Register Screen Screenshot : https://prnt.sc/1w3ohlj

[2021-10-14 10:24] Wajeeha1995 opened #823 "When user is on Login/Register page ,it should highlight that page ( page active status ) is not showing"
![Screenshot](https://user-images.githubusercontent.com/92429083/137299869-0e76c75b-779b-48eb-886b-1918d969e0c1.png)

[2021-10-14 10:29] rohit-talentelgia commented on #787
@gautamv16

We suggest that we should not show the child camps in the dropdown list rather than showing the validation message. Please confirm.

[2021-10-14 10:30] Wajeeha1995 opened #824 "Place holders are missing on all fields (Login /Register page)"
![Screenshot (1)](https://user-images.githubusercontent.com/92429083/137300741-c5956bb1-f5f6-441d-a297-9dba556ac70a.png)

[2021-10-14 10:37] Wajeeha1995 opened #825 "For better user experience , when user types passwords for both fields and they don't match , please let user know that don't match before he/she clicks Create account button"
![Screenshot (2)](https://user-images.githubusercontent.com/92429083/137301798-69fcc6c6-cc89-4102-8e8e-85a18f80058f.png)

[2021-10-14 10:51] Wajeeha1995 opened #826 "Highlighted text is not readable ,Please change background color"
![Screenshot (4)](https://user-images.githubusercontent.com/92429083/137303603-44f1149f-e7ab-41bb-83f7-ac23e0de034e.png)
Steps re reproduce :
1.Go to " https://staging.canonizer.com/create/topic "
2.Fill all mandatory fields and create topic
3.It navigates on topic history
4.Click on " Submit topic update based on this "
5.Fill all mandatory fields and click on " Submit update " button
6.Submitter

[2021-10-14 11:11] sunilspr7 commented on #151
@rupalichavan9860  and @gautamv16
I found this new issue while reviewing ticket id #151
Here is option to expand but when click on it it doesn't show any subcamps. For reference I am attaching screenshot.

![Ticket151](https://user-images.githubusercontent.com/6298462/137306549-eed7ff58-d7ae-4cda-ba7c-a212505fe813.png)

[2021-10-14 11:11] sunilspr7 commented on #151
![Ticket151 - 1](https://user-images.githubusercontent.com/6298462/137306729-b6002a16-e87e-4ab8-97d0-495114e5ae71.png)

[2021-10-14 11:27] Wajeeha1995 opened #827 "Alphabet is cutting in date field and spacing is not equal from left and right"
Steps to reproduce :
1.Got to " https://staging.canonizer.com/browse "
2.Check date field
![Screenshot (5)](https://user-images.githubusercontent.com/92429083/137308204-49787fc7-8fc1-4aa7-a351-8fda02d10685.png)

[2021-10-14 11:57] Wajeeha1995 opened #828 "Complete content is not showing on supported camp page"
Steps to Reproduce :
1.Go to " https://staging.canonizer.com/topic/371-Smoke-testing/1-Agreement
2.And click on " Directly join or manage support " button
3.Attached content is showing on this page
![Screenshot (6)](https://user-images.githubusercontent.com/92429083/137311098-ce87182b-1101-4cde-b836-8bd78731a8ea.png)
4.Click on " Nick names " it navigates to  https://staging.canonizer.com/settings

[2021-10-14 12:12] Wajeeha1995 opened #829 "All nick names are not showing in nick name drop down on " Create new camp " page"
Steps to Reproduce :
1.Go to  https://staging.canonizer.com/browse
2.Select  /sandbox testing/ Smoke testing
3.It navigates to https://staging.canonizer.com/topic/371-Smoke-testing/1-Agreement
4.Click on  " Start new supporting camp here "
5.It navigates to https://staging.canonizer.com/camp/create/371-Smoke-testing/1-Agreement
6.Click on Nick names drop down , and observe that all nick names are

[2021-10-14 12:58] Wajeeha1995 opened #830 "Need to convert this Page into React in Canonizer 3.0"
https://canonizer.com/videos/consciousness/?chapter=differentiate_reality_knowledge

[2021-10-16 17:55] BrentAllsop commented on #698
We need to at least add "disallow /browse/*" to the robots.txt.
We should also do a review to see if there is anything else, like /browse/, which should also not be crawled by robots.

[2021-10-16 18:03] gautamv16 commented on #828
@Wajeeha1995 are you talking about the nickname dropdown section content?
![image](https://user-images.githubusercontent.com/6199964/137597664-103dc478-c91f-46ad-a98c-3e05d54adfb1.png)

[2021-10-18 01:17] BrentAllsop opened #831 "Add a button's to remove and delegate support on camp pages."
We should have a "Delegate Your Support" button, like this one:
![image](https://user-images.githubusercontent.com/6559312/137652895-c17879b8-ac80-41ef-8411-624a788ef3dd.png)
Even when you are already supporting a camp like here:
![image](https://user-images.githubusercontent.com/6559312/137652922-bee0d1a3-4e7b-457e-9941-77ac91557c48.png)

There should be a "remove support" button, for yourself, a

[2021-10-18 12:18] Wajeeha1995 commented on #826
Fixed and verified
Text on this background color is readable now
![Screenshot (9)](https://user-images.githubusercontent.com/92429083/137724605-57ae8c4d-4c45-4e1e-8b4e-f7ba8bc30b8a.png)

[2021-10-18 12:20] Wajeeha1995 commented on #829
Fixed and verified
Now all nick names are showing in "Nick name " drop down " on creating new camp .

[2021-10-18 14:34] BrentAllsop commented on #802
@HamzaBinMansoor,  There appears to be too much space above the video:
![image](https://user-images.githubusercontent.com/6559312/137751899-02f72a66-9c63-4885-a76d-8433e7369069.png)

The space at the top should be the same as on the sides.
We only have more space on the bottom of the video, for the references.

[2021-10-19 06:43] rupalichavan9860 commented on #826
This is readable but not highlighted , user will only know that it is a link only when user hover mouse on nick name
@BrentAllsop Can you please check this?

[2021-10-19 07:20] rupalichavan9860 commented on #674
@gautamv16 Tested and verified.  Now user is able to update the address so closing this issue

[2021-10-20 07:38] Wajeeha1995 opened #832 "After resetting password , error occurred when user try to login with new password."
Steps to reproduce :
1.Go to https://staging.canonizer.com/login
2.Click " Forget Password "
3.Enter valid Email and submit
4.Reset link receive on submitted email
5.Click on " Reset Password "
6.It will navigate user to https://staging.canonizer.com/resetpassword/d2FqZWVoYTExQG1haWxpbmF0b3IuY29t
7.Fill all mandatory fields and click on " Reset " button
8.It logins the user
9.After logging out ,th

[2021-10-20 07:50] Wajeeha1995 opened #833 "When user is resetting passwords make sure to provide a confirmation on site page as well that clarifies user that his password is changed. Right now there is no confirmation at both sides and If I try keep logging after changing password , it lets me login w/o any further validation Or notification"
Steps to reproduce :
1.Go to https://staging.canonizer.com/login
2.Click " Forget Password "
3.Enter valid Email and submit
4.Reset link receive on submitted email
5.Click on " Reset Password "
6.It will navigate user to https://staging.canonizer.com/resetpassword/d2FqZWVoYTExQG1haWxpbmF0b3IuY29t
7.Fill all mandatory fields and click on " Reset " button
8.It logins the user without giving any conf

[2021-10-20 09:17] akuks commented on #780
Migrations completed and applied to staging.

[2021-10-20 11:09] rupalichavan9860 opened #834 "Child camp support is not getting removed when changing parent camp"
I have one doubt here,
Steps to reproduce :
1. I have created 2 camps "Test camp 1" and "Test camp 2" and supported both camps
2. Updated "Test camp 1" parent camp to "Test camp 2" from "Agreement"

Actual Result :
User can see supporter name under both the camp names

Expected Result :
As per functionality user can support either parent or child

@BrentAllsop Can you please confirm , what should

[2021-10-20 11:11] rupalichavan9860 commented on #834
attached screenshot for reference

![image](https://user-images.githubusercontent.com/40416610/138082420-d3d701fa-d6ec-4c24-9348-74a09397d333.png)

![image](https://user-images.githubusercontent.com/40416610/138082491-4954d52e-a6c5-4fa3-a67c-2c758d3c96c8.png)

[2021-10-20 13:45] rupalichavan9860 commented on #829
@gautamv16 Previously it was working according to the functionality, can you please revert the changes

[2021-10-20 14:10] rupalichavan9860 commented on #826
@gautamv16 We can either underline the text or can add external link symbol

[2021-10-20 22:00] BrentAllsop opened #836 "Session time out on forum pages causes crash."
If you are editing a new submission to a forum thread, then your session times out, you get a fatal error  (TokenMismatchException) that should be handled more gracefully.  (hopefully, recover data being submitted?)

in VerifyCsrfToken.php line 68

![image](https://user-images.githubusercontent.com/6559312/138178609-466982d6-8f1e-4f49-b5aa-0273db4a6dd4.png)

[2021-10-21 05:14] rupalichavan9860 opened #837 "Most Recent Post Date column : replied on date is missing"
When user creates a post to any thread , "replied on" date is displaying as blank. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/138215463-60a88516-7f7c-4fac-a201-90cec6a0e7e5.png)

![image](https://user-images.githubusercontent.com/40416610/138215487-f980eaad-6dd3-441d-8938-bfe0df011832.png)

[2021-10-21 05:22] akuks commented on #837
#780 causes this issue. I guess
Not sure, if the code of #780 is deployed on prod. Checking this

[2021-10-21 05:41] rupalichavan9860 opened #838 "Remove services from the side bar in the canonizer home page"
We need to remove the "services" link on the side bar on staging , as we have removed it from production environment

[2021-10-21 05:58] rupalichavan9860 opened #839 "Link text for login should be uniform at all places"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/138220126-47efe560-3355-4ad0-8542-7631cfac9143.png)

![image](https://user-images.githubusercontent.com/40416610/138220191-e3c2273f-748a-43af-b7a3-7d8753ea5a6b.png)

[2021-10-21 06:52] nalwa commented on #780
@akuks As i can see migration are only added for **Thread** table, it also needs to be added for **post** table.

[2021-10-21 06:55] nalwa commented on #837
@akuks  migrations need to be added for post table, as you added them for thread table.
its not because of code, i think DB fields are not updated for post table.