[2019-05-26 16:38] BrentAllsop commented on #437
I am getting emails from staging.
Not seeing "Note:" and other values that should be included in the e-mail.
We need more than just the link.
Should say something like: "You submitted a change to the "camp name" camp.

Also, supporters of the camp aren't being notified when a change is submitted.

[2019-05-26 16:59] rupalichavan9860 commented on #437
@BrentAllsop Can you please check email after submitting change to camp statement.
When I am submitting change to any camp statement I am getting "Thank you for contributing to Canonizer.com" mail instead of proposed change mail.

[2019-05-26 17:02] BrentAllsop commented on #437
@gautamv16, yes, that is what I am seeing.
The "Thank you for contributing to canoinzer.com" e-mail needs to provide more information.  Like: "You submitted a change to &lt;camp name&gt;.

And supporters of the camp should also get a notification that a change has been proposed.

[2019-05-27 03:29] gautamv16 commented on #390
@rupalichavan9860 please read issue once again. This is related to only current camp selection. If current camp have 0 support then it must not be filtered else it will filtered. This is what this ticket is all about. And its working as expected.

[2019-05-27 04:38] BrentAllsop commented on #437
For modification see the changes to these templates:
"Thank submitter whenever new content is submitted"
and
"When you get a new delegated supporter."
in the google doc:
https://docs.google.com/document/d/1xpdJ9XHs7FgZkJth9NE4chhTBR73p9XY_iu5S6OQLYg/edit?usp=sharing

[2019-05-28 18:21] rupalichavan9860 commented on #390
Yes.It is working as expected for current camp, but I have doubt that I have mentioned in last comment.
And if @BrentAllsop also confirms that it is an issue, then I will create a new issue for this

[2019-05-28 18:39] BrentAllsop commented on #390
Yes, that is an issue, but it now looks fixed on staging?
But it is still possible to have the filter value on the side bar inconsistent with what is filtered.
i.e. Filter < 0.001 still shows non supported camps, in some cases.

[2019-05-29 19:25] gautamv16 commented on #390
@BrentAllsop please test now. There are so many cases which require testing. But now i have retested and checked various cases and implemented the same based on single source of truth. @rupalichavan9860 pls test the same

[2019-05-29 19:26] gautamv16 commented on #437
@rupalichavan9860 pls see changes done and close issue

[2019-05-29 19:27] gautamv16 commented on #467
@BrentAllsop pls test it now as it requires all algorithm modification too. So its done now from my end for every case. Please check various cases you can expect. if all ok pls close this one.

[2019-05-29 19:34] gautamv16 commented on #471
@BrentAllsop i am moving this from 12th release. Still debugging the queries and problems seems very complicated in different cases which require more time so i think we should push 12th release without this if Brent you are ok with it as we are finished with all 12th issues only few of @akuks tickets needs to be closed or tested if done.

[2019-05-30 03:13] BrentAllsop commented on #467
Yea, everythings looks great to me, so closing this one.

[2019-05-30 03:13] #467 closed, assigned to nobody

[2019-05-30 03:15] BrentAllsop commented on #390
@rupalichavan9860, I tested this, and it looks OK.
So close this if you think it is OK.
Thanks.

[2019-05-30 04:21] rupalichavan9860 commented on #390
@gautamv16 @BrentAllsop I have tested this and looks OK to me so I am closing this

[2019-05-30 04:21] #390 closed, assigned to nobody

[2019-05-30 04:38] rupalichavan9860 commented on #437
@gautamv16  @BrentAllsop I have tested this and I received following mail
![image](https://user-images.githubusercontent.com/40416610/58608623-29ea5480-82c2-11e9-8944-abba0f3a8e81.png)

But the word "statement"  is missing as per email template
![image](https://user-images.githubusercontent.com/40416610/58608774-c280d480-82c2-11e9-8aa0-7b63359cc2b9.png)

Expected Result :
It should be "You propose

[2019-05-30 09:06] rupalichavan9860 commented on #437
I have tested for delegated support mail also.
1.Topic name is missing in mail body.As of now it is displaying only camp name
2.Subject line is displaying as "Rupali N has just delegated **their** support to you." and in body it is displaying as "Rupali N has just delegated **his** support to you in this topic: : a test camp".
It should be "their" instead of "his" as we have decided in issue #180

[2019-05-30 16:24] BrentAllsop commented on #437
Also, proposed change e-mails are incomplete.
They say:
"Jim Bennett has proposed a change to this statement #1573 which you currently directly support."
But the template in the google dock says:
"{nick_id} has proposed a change to this &lt;topic | camp | statement&gt; &lt;topic name&gt;:&lt;camp name&gt; &gt;link to camp with change, as_of value set to include review> which you currently directly

[2019-05-31 10:34] rupalichavan9860 opened #515 "ErrorException when user click on nick name on agreement page -Support Tree"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic whose supporter is "Rupali C"
4. Click on "Rupali C" from "Total Support for This Camp"
OR
Go to URL "https://staging.canonizer.com/user/supports/347"

Expected Result :
Respective user supports page should get open

Actual Result :
It is displaying Error Exceptio

[2019-05-31 19:09] rupalichavan9860 commented on #511
Same issue I am facing for "Add News" link.
When topic don't have any news then "Add News" XPath is "/html/body/div[1]/div[2]/div[1]/div[1]/h3/a[2]"
and after adding news "Add News" XPath is getting changed to "/html/body/div[1]/div[2]/div[1]/div[2]/h3/a[2]"

[2019-06-02 13:11] rupalichavan9860 opened #516 "User supports : List of supported camps is displaying different topic name"
I have submitted support for following topics and checked user supports : List of supported camps page.and I found following mismatches
1. Help :
Topic name is "Help" but User supports : List of supported camps is displaying "Screen Shots"

![image](https://user-images.githubusercontent.com/40416610/58761611-f4fd2c80-8563-11e9-9b1b-925267525d97.png)

![image](https://user-images.githubusercontent.

[2019-06-04 08:20] rupalichavan9860 commented on #515
Same issue exists on live also
![image](https://user-images.githubusercontent.com/40416610/58863060-a9679180-86cf-11e9-9af1-40915bb6d39f.png)

Please refer URL https://canonizer.com/user/supports/347

[2019-06-05 15:39] BrentAllsop opened #517 "Multiple issues with approving new modifications."
The only person that can “object” is someone who was both:
•	A supporter of the camp, when modification submitted.
•	Currently a supporter of the camp.
•	Everyone else should not be able to object and not have an object button.

The approve check box should appear for any current supporter.
If someone checks the approve check box, it should approve for all delegators to them.

The definition of a

[2019-06-06 02:30] gautamv16 commented on #437
@BrentAllsop there is no id in statement email. I think you are checking old email or email from live site.

[2019-06-06 04:44] rupalichavan9860 opened #518 "Error Exception when user click on some topic name/camp name on My Supports page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Account Settings->My Supports
4. Click on " Testing 1: change on 12/5/19" or on camps for the same topic

Or
Click on "https://staging.canonizer.com/topic/192-Testing%201:%20change%20on%2012/5/19"

Actual Result :
Please refer attached screenshot
![image](https://user-images.githubuserconte

[2019-06-06 08:43] rupalichavan9860 opened #519 "Irrelevant data on agreement page"
I found some irrelevant data on agreement page while testing .
It  is getting cleared after clearing cache but it is appearing again after sometime.
Please refer attached screenshot.
![image](https://user-images.githubusercontent.com/40416610/59019123-0ba5cb00-8865-11e9-8bff-1c0112f00437.png)

[2019-06-07 08:57] gautamv16 commented on #513
@rupalichavan9860 and @BrentAllsop please check this issue. Solved on both server issue is related to ssl misconfigurations. Please close and let me know when to deploy 12th release

[2019-06-07 08:58] gautamv16 commented on #472
@akuks please help @rupalichavan9860 to close this issue so that we can deploy 12th release.

[2019-06-07 09:00] gautamv16 commented on #463
@akuks is it done for 12th release or you need to move it for 13th release as except this all of 12th release tickets are done, waiting for this one to deploy 12th release. Please let @rupalichavan9860 know if need to deploy 12th without this and remove 12th tag from this and then we are ready for 12th deployment.

[2019-06-07 09:08] akuks commented on #472
@rupalichavan9860 can you please check and close this issue. robots.txt disallowed /settings in the canonizer. Please check this https://canonizer.com/robots.txt

[2019-06-07 09:10] akuks commented on #463
Will create a script in the 13th Release for this issue.

[2019-06-07 11:40] rupalichavan9860 commented on #472
@gautamv16 @akuks Checked and verified.
@BrentAllsop Please check and close if fine for you.

[2019-06-07 12:55] BrentAllsop commented on #513
This looks great, so closing.  Thanks.

[2019-06-07 13:06] BrentAllsop commented on #472
With visual inspection, this looks OK.
But visual inspection can fail.
We need an automatic tool to check all of our "properties" reliably.
For example, here is some info on a google robots.txt testing tool
https://support.google.com/webmasters/answer/6062598?hl=en
I don't want to close this now.  We need to automate the test, before closing.
But I will remove the "12 release" tag, so we can put o

[2019-06-07 13:08] BrentAllsop commented on #513
Oh, yes.  I forgot, we should be sure we have automated tests for all issues, before they are closed.
So I'm re-opening this one.  An automated test should be fairly easy?
@rupalichavan9860, close this if/once we have an automated test.

[2019-06-09 22:57] BrentAllsop opened #520 "objected to records are being used when "include review" is selected."
If you go to this URL to an agreement statement:
https://staging.canonizer.com/topic/81
and the select "include review"
it is using the topic name "daniel dennett" which is the value in an objected to record, that should not be used.  Objected to records should never be used.

[2019-06-11 08:03] rupalichavan9860 opened #521 "Camp forum email issues and doubts"
1. ',' is missing after username in thread created email.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/59253786-95caa680-8c4c-11e9-8325-79b3fc26870d.png)

2. Do we want supporters name(like Hi Rupali Chavan,) or Hi Canonizer User is fine in thread created and post submitted mails?Please confirm

![image](https://user-images.githubusercontent.com/40416

[2019-06-12 06:41] gautamv16 commented on #518
@rupalichavan9860 please test and close then i will deploy 12th release. These are some fix soon issue to deploy 12th release

[2019-06-12 06:41] gautamv16 commented on #519
@rupalichavan9860  please test and close then i will deploy 12th release. These are some fix soon issue to deploy 12th release

[2019-06-12 06:42] gautamv16 commented on #520
@BrentAllsop and @rupalichavan9860 please check and close so that i can deploy 12th release now.

[2019-06-12 08:37] rupalichavan9860 commented on #518
@gautamv16 Tested and verified

[2019-06-12 08:37] #518 closed, assigned to nobody

[2019-06-12 08:50] rupalichavan9860 commented on #519
@gautamv16 Tested and verified.

[2019-06-12 08:50] #519 closed, assigned to nobody

[2019-06-12 09:07] rupalichavan9860 commented on #520
@gautamv16 Tested and verified.
@BrentAllsop Please test and close if fine for you

[2019-06-12 09:16] rupalichavan9860 commented on #520
@gautamv16 Supported Camps page, Canonizer Forum Details page, My Supports page are still displaying objected topic name .Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/59338913-deec2a80-8d20-11e9-8e2b-7b175b49c79e.png)

![image](https://user-images.githubusercontent.com/40416610/59339190-55892800-8d21-11e9-894e-a440369c2638.png)

![image](https://user

[2019-06-13 02:05] BrentAllsop commented on #521
Let's talk about this in a meeting.
I think more information is better, so person's name is better than "canonizer user" in all cases.
I Don't think we need to send out a notification, if someone creates a new thread.
But all direct supporters of a camp (always includes direct supporters of all sub camps) should be notified for all posts.  So we do need the "Note:" for all thread posts, and all ca

[2019-06-13 04:03] BrentAllsop commented on #512
Create a fixed size div box.
Have a server side include, sourced within that fixed size div box.
File name  "video_podcast_block.html"
Provide a way for Jim to update that server side include file, from the admin page.

[2019-06-13 11:10] rupalichavan9860 opened #522 "Page crash on "Create New Camp" link"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Account Settings->My Supports
4. Click on any topic name
5. Now Click on "Create New Camp" link from left menu

Expected Result :
It should display respective page

Actual Result :
It is displaying "NotFoundHttpException".Please refer attached screenshot
![image](https://user-images.githubus

[2019-06-14 07:29] gautamv16 commented on #522
@rupalichavan9860 pls check and close

[2019-06-14 07:30] gautamv16 commented on #520
@rupalichavan9860 please check and close

[2019-06-14 12:20] rupalichavan9860 commented on #522
@gautamv16 Tested and verified

[2019-06-14 12:37] rupalichavan9860 commented on #520
@gautamv16 Tested. For topic it is working fine now.
But still objected records are displaying for camp name on My Supports and Supported Camps page.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/59509335-64610d80-8ece-11e9-8092-22b1b82cacdc.png)

![image](https://user-images.githubusercontent.com/40416610/59509461-b73ac500-8ece-11e9-97fa-a9fbbce31606.

[2019-06-14 13:02] rupalichavan9860 commented on #520
I have tested for topic and camp objected mail also.In objected mail topic name and objected camp name is displaying as objected topic name and objected camp name .Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/59510855-6f1da180-8ed2-11e9-804b-81360bfff359.png)

![image](https://user-images.githubusercontent.com/40416610/59510976-b9068780-8ed2-11e9-979

[2019-06-17 04:15] rupalichavan9860 commented on #522
@gautamv16 I am getting page crash again on "Create New Camp" link when I am opened topic from camp statement and clicked on "Create New Camp" link.
Steps to reproduce :
1. Go to "Algorithm Information"
2. Click on "Mind Experts"
3. Click on link " Theories of Conscoiusness. " or "Mind Experts topic " link
4. Click on "Create New Camp" link

Expected Result :
Respective page should get open

Actua

[2019-06-17 04:23] rupalichavan9860 commented on #522
Same for following scenario :
1. Go to "Algorithm Information"
2. Click on "Mind Experts"
3. Click on "Manage/Edit Camp Statement"
3. Click on link " Theories of Conscoiusness. " or "Mind Experts topic " from camp statement history page
Click on "Create New Camp" link

[2019-06-18 07:57] gautamv16 commented on #520
@rupalichavan9860 this is done. But what i have observed that testing or test cases for single bug or feature is not created properly or you dont have test cases related to single issue. Like this issue related to objected topic and camp name there must be test case for both manual and automated where you must have all places where topic name and camp name is effecting must be tested once so that

[2019-06-18 13:32] rupalichavan9860 commented on #522
@gautamv16 Retested and verified.

[2019-06-18 13:32] #522 closed, assigned to nobody

[2019-06-18 13:43] rupalichavan9860 opened #523 "Page crash - ErrorException while submitting topic objection"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to any topic
4. Go to topic history and Click on Object
5. Enter data in mandatory fields and click on Submit Objection

Actual Result :
I am getting ErrorException .Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/59689339-1f561780-91fd-11e9-951c-bef

[2019-06-18 16:33] gautamv16 commented on #523
@rupalichavan9860 can u pls check just cleared server cache.

[2019-06-18 17:10] rupalichavan9860 commented on #523
@gautamv16 Tested and verified

[2019-06-18 17:10] #523 closed, assigned to nobody

[2019-06-18 17:46] rupalichavan9860 commented on #520
@gautamv16 Retested and working fine now.
@BrentAllsop Please test and close if fine for you

[2019-06-18 18:01] rupalichavan9860 commented on #513
Automated test case has been implemented successfully so I am closing this.

[2019-06-18 18:01] #513 closed, assigned to nobody

[2019-06-19 00:19] BrentAllsop commented on #520
Yes, it's working, so closing.

[2019-06-19 00:19] #520 closed, assigned to nobody

[2019-06-21 04:02] rupalichavan9860 opened #524 "Page crash on "Create New Camp" on live"
Steps to reproduce :
1.Go to https://canonizer.com
2.Go to Topic https://canonizer.com/topic/168-Test2/1
3.Click on "Create New Camp"

Actual Result :
I am facing the issue for this topic only as it is displaying "No camp data available." even if data is available.When I click on "Test2" it is displaying camp data

![image](https://user-images.githubusercontent.com/40416610/59896638-f5704100-9406-

[2019-06-23 18:17] rupalichavan9860 opened #525 "Supported Camps page is displaying not live and objected camp names"
Please refer attached screenshot
1.I have changed camp name from "camp v1 " to "camp v2" and "camp v2" is not live.
![image](https://user-images.githubusercontent.com/40416610/59980155-79951500-960f-11e9-94f4-4ab7304fd947.png)

![image](https://user-images.githubusercontent.com/40416610/59980179-b5c87580-960f-11e9-97a5-7a3008dbc7ca.png)

2. I have changed camp name from "Test 19 may " to "Test 19

[2019-06-24 07:33] gautamv16 commented on #524
@rupalichavan9860 this is not page crash. After debugging lot i found there is no such url exist and there is no such topic with such camp id exist. How you can go directly to a invalid camp ? From where you are trying to access this url ? You cant access this url from anywhere. So this is invalid.

[2019-06-26 06:48] akuks opened #526 "Name with Special characters "AntÃ³nio DamÃ¡sio" at mind experts Agreement Camp Page."
https://canonizer.com/topic/81-Mind-Experts/1 has name ("AntÃ³nio DamÃ¡sio") with Special characters. I think we need to fix it as per our previous discussions.

Happy to discuss it in next meeting.

[2019-06-28 15:50] rupalichavan9860 opened #527 "Add/Edit News-Link invalid issue"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Browse and select any topic
4. Go to Add News/Edit News
5. Enter "https://staging.canonizer.com/topic/88-Theories-of-Consciousness/1" in Link field
6. Click on "Create News" on Add News or "Submit" on Edit News

Actual Result :
1. It is displaying error message "The link format is invalid."

[2019-06-28 16:03] rupalichavan9860 commented on #527
Error messages must be uniform when user doesn't put data in mandatory fields.As of now error messages on Add News and Edit news are not uniform
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/60355516-39a5a780-99ec-11e9-93c4-739d4c00aee6.png)

![image](https://user-images.githubusercontent.com/40416610/60355558-4f1ad180-99ec-11e9-881f-08dc11fd9f80.png)

[2019-06-30 16:42] rupalichavan9860 commented on #503
@akuks @gautamv16  Tested and verified

[2019-06-30 16:42] #503 closed, assigned to nobody

[2019-06-30 16:47] rupalichavan9860 commented on #472
Implemented automated test case for this, so closing this issue.

[2019-06-30 16:47] #472 closed, assigned to akuks

[2019-06-30 16:58] rupalichavan9860 commented on #524
@gautamv16 Tested and verified

[2019-06-30 16:58] #524 closed, assigned to nobody

[2019-07-01 18:12] BrentAllsop opened #528 "BCC all e-mail to a configurable monitor e-mail address."
Provide the ability to configure one or more monitor e-mail address which receive a BCC of all canonizer.com e-mail sent.

[2019-07-02 03:53] rupalichavan9860 commented on #507
@gautamv16 Tested and verified

[2019-07-02 03:53] #507 closed, assigned to nobody

[2019-07-02 04:04] rupalichavan9860 commented on #495
@gautamv16 Tested and verified

[2019-07-02 04:04] #495 closed, assigned to nobody

[2019-07-02 04:19] rupalichavan9860 commented on #506
@gautamv16 I have tested this.But still "Verify" and "Confirm" buttons are having same ID "verify_phone_email".Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/60482177-190c7480-9cae-11e9-8e18-742b015e5297.png)

![image](https://user-images.githubusercontent.com/40416610/60482211-37727000-9cae-11e9-9b2f-64b2bdcc4884.png)

Is it possible to change the ID'

[2019-07-02 04:44] rupalichavan9860 commented on #494
@gautamv16 Tested and verified.

[2019-07-02 04:44] #494 closed, assigned to nobody

[2019-07-02 04:57] rupalichavan9860 commented on #515
@gautamv16 Tested and verified.

[2019-07-02 04:57] #515 closed, assigned to nobody

[2019-07-02 05:02] rupalichavan9860 commented on #514
@gautamv16 Tested and verified

[2019-07-02 05:02] #514 closed, assigned to nobody

[2019-07-02 05:19] rupalichavan9860 commented on #510
@gautamv16 Tested and verified

[2019-07-02 05:19] #510 closed, assigned to nobody

[2019-07-02 05:29] rupalichavan9860 commented on #489
@gautamv16 Tested.Still I can see Blog footer copyright year as (2006 - 2018)
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/60484818-67bf0c00-9cb8-11e9-9747-b7168a46f66f.png)

[2019-07-02 06:36] gautamv16 commented on #489
@rupalichavan9860 pls check

[2019-07-02 06:38] gautamv16 commented on #496
edit summary is always for new change brief description.

[2019-07-02 08:23] rupalichavan9860 commented on #489
@gautamv16 Tested and verified

[2019-07-02 08:38] rupalichavan9860 commented on #508
@gautamv16 Tested and verified all titles.Everything is fine except second point
2. Canonizer Main : Canonizer Main Page(It should be Canonizer Main or link name should be Canonizer Main Page)Please confirm
![image](https://user-images.githubusercontent.com/40416610/60497603-cbeec980-9cd2-11e9-9de5-9695a8817208.png)

If fine I will close this

[2019-07-02 08:46] rupalichavan9860 commented on #496
@gautamv16 Tested and verified

[2019-07-02 08:46] #496 closed, assigned to nobody

[2019-07-02 09:06] rupalichavan9860 commented on #437
@gautamv16 Tested .
I think <topic name>:<camp name> only should display in bold format.As of now the keyword "statement" also displaying in bold format
![image](https://user-images.githubusercontent.com/40416610/60499571-5ab11580-9cd6-11e9-9d9d-b1258b030672.png)

Same for camp
![image](https://user-images.githubusercontent.com/40416610/60499500-35240c00-9cd6-11e9-944d-d1907fc6e8c9.png)

@BrentAll

[2019-07-02 17:27] rupalichavan9860 commented on #512
I have checked this ,Canonizer Main Page layout is getting disturbed
Advertisement block shifted to the end of the page.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/60533228-b3a39c80-9d1c-11e9-8be3-d278c3ecbdcd.png)
@BrentAllsop @CanonizerJim Please check

[2019-07-03 06:50] akuks commented on #463
Script is developed and deployed in production.

[2019-07-03 08:22] rupalichavan9860 opened #529 "My Supports->Topic name: XPath issue"
XPath of topics are getting changed when user is supporting any new camp/topic.
I am facing issue while executing automated test case
I am using "Theories of Consciousness" topic for testing purpose and previously it's XPath was "/html/body/div/div[2]/div/div/div/div/div[21]/b/a"
Now I am trying to run the automated test case and it is getting failed because it's XPath is changed to "/html/body/di

[2019-07-03 18:59] BrentAllsop opened #530 "Don't pre populate "Edit Summary" or note field when making modification."
Currently, when someone selects
Submit <topic | camp | statement> update based on this version
it goes to an edit page.
The  "Edit summary (Briefly describe your changes)" field should not be pre populated.

[2019-07-03 19:10] BrentAllsop commented on #512
Yes, this is a problem.  The add should be on the right bar, at least for desktop.
Can we put a div that forces a size that will not allow any div content to go outside of that block?

[2019-07-04 03:45] BrentAllsop commented on #437
These issues are a problem, I think both of those issues should be fixed.
We can review other e-mail formatting in a future meeting before we close this.

[2019-07-04 04:06] rupalichavan9860 commented on #530
@BrentAllsop Previously it was working like this way only but I only submitted issue for edit summary pre populate and asked for your confirmation in issue #496.
My thinking was "Edit Summary" should be persisted for reason "if some user wants to add his/her own edit summary along with original one "
We need to revert the changes if you don't want pre poulate. Please confirm

[2019-07-04 16:27] gautamv16 commented on #437
@BrentAllsop and @rupalichavan9860 these "camp" and "statement" are coming dynamically either all will not be bold or all will be bold. We cant make these words fix as email is using single template for everything. So as per me its not a big deal or issue to change single word bold. If you guys still want then it requires to create seperate template for topic, statement and camp. So please decide

[2019-07-04 16:44] gautamv16 commented on #516
@rupalichavan9860 after all investigation for this. The thing you are mentioning is not topic name. This support tree showing camp name not topic so you are comparing it with topic history change so that is not true. All this is camp tree and camp name are coming here. If there is child then agreement camp tree will show all child camps and if there is no child then only main camp title will displ

[2019-07-05 05:24] rupalichavan9860 commented on #516
@gautamv16 Okay.But is there any way to change the camp name? otherwise user will get confused because if user goes to topic history or camp history he/she is not able to see the respective name displaying under list of supported camps.

[2019-07-06 01:16] BrentAllsop commented on #437
Let's discuss this in the next meeting.

[2019-07-06 01:18] BrentAllsop commented on #530
I guess I forgot about this.
Let's discuss this in the next meeting.

[2019-07-07 02:53] BrentAllsop opened #531 "Don't use "Agreement" in URL."
If you click on the "agreement" link in the camp tree, or in the bread crumbs, the URL uses agreement, instead of the topic name.  It should use the topic name instead.

[2019-07-08 04:23] gautamv16 commented on #516
@rupalichavan9860 user must go from here to camp history not to topic history..

[2019-07-08 04:39] rupalichavan9860 commented on #508
@gautamv16 Tested and verified

[2019-07-08 04:39] #508 closed, assigned to nobody

[2019-07-08 04:46] rupalichavan9860 commented on #506
@gautamv16 Retested and verified

[2019-07-08 04:46] #506 closed, assigned to nobody

[2019-07-08 16:43] rupalichavan9860 opened #532 "Page crash on List of supported camps page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to any user support like https://staging.canonizer.com/user/supports/351
4. Click on some camp name

Actual Result :
When I click on some camp names ,It is displaying page crash
![image](https://user-images.githubusercontent.com/40416610/60827331-957ee600-a1cd-11e9-9589-15be5c205a8e.png)

Expec

[2019-07-09 08:34] rupalichavan9860 commented on #532
@gautamv16 Tested and working now, so closing this issue

[2019-07-09 08:34] #532 closed, assigned to nobody

[2019-07-09 08:58] rupalichavan9860 commented on #512
@gautamv16 Layout issue is still exists when minimized the window. Advertisement block shifted to the end of the page.Please refer attached screenshot.
![image](https://user-images.githubusercontent.com/40416610/60874423-9eb39580-a255-11e9-9be7-df3f18856e4b.png)

@BrentAllsop @CanonizerJim Is it fine?Or it is an issue?

[2019-07-10 05:47] rupalichavan9860 opened #533 "Page crash on My Supports page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Login with valid email and password
3. Go to Account Settings
4. Click on My Supports sub tab

Expected Result :
Respective page should get open

Actual Result :
It is displaying ErrorException.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/60943369-708c8f00-a303-11e9-9dd1-de90b9facdc7.png)

[2019-07-11 03:51] rupalichavan9860 commented on #516
@gautamv16 Tested and verified

[2019-07-11 03:51] #516 closed, assigned to nobody

[2019-07-12 23:00] BrentAllsop opened #534 "BCC all canonizer email to brent.allsop@canonizer.com"
I would like to get a blind copy of any e-mail sent to users, other than personal information like login credentials.

I need to know when new activity occurs.

[2019-07-13 13:18] BrentAllsop commented on #534
The number of e-mails / day or week, would be a valuable metrick of Canonizer traction.

[2019-07-13 18:04] rupalichavan9860 commented on #437
@gautamv16 Tested.
The keyword "topic" in Proposed change to topic mail is displaying 2 times and according to discussion it should be "Gautam has proposed a change to this topic : Theories of Consciousness" instead of "Gautam has proposed a change to this topic topic Theories of Consciousness"

As of now ":" is missing and The keyword "topic" is displaying 2 times.Please refer attached screenshot

[2019-07-13 18:25] rupalichavan9860 commented on #437
@gautamv16 Tested and verified.

[2019-07-13 18:25] #437 closed, assigned to nobody

[2019-07-13 21:48] BrentAllsop commented on #512
@rupalichavan9860, I'm not able to see any issues.
Do you still see anything that is questionable on staging.canonizer.com?

[2019-07-13 21:52] #463 closed, assigned to akuks

[2019-07-14 18:42] rupalichavan9860 commented on #512
@BrentAllsop According to Varun that need to be design from back end,So what ever design is setup-ed from back end it will work like that.
So please close the issue if it is fine.

[2019-07-14 18:52] rupalichavan9860 commented on #512
Only we need to change the video title before releasing to live site.
![image](https://user-images.githubusercontent.com/40416610/61187992-69180d80-a696-11e9-9e71-de992949c728.png)

[2019-07-15 04:10] rupalichavan9860 commented on #368
@gautamv16 Same issue exists on "List of supported camps" page.
Please refer https://staging.canonizer.com/topic-history/239-123456789012345678901234567890 for more details
I created the topic "123456789012345678901234567890" in /general/ namespace and then moved to /sandbox testing/ but if I go to "List of supported camps" page, I can see the same topic in both namespaces
Please refer attached sc

[2019-07-15 04:31] rupalichavan9860 commented on #525
@gautamv16 Working fine so closing this

[2019-07-15 04:31] #525 closed, assigned to nobody

[2019-07-17 05:01] rupalichavan9860 opened #535 "Create New Camp page URL issue"
Create New Camp page is displaying different URL when user click on Create New Camp link from different places
For Example for topic https://staging.canonizer.com/topic/88-Theories-of-Consciousness/1
1. Go to Browse and select topic Theories of Consciousness->Click on <Start new supporting camp here> URL is
    https://staging.canonizer.com/camp/create/88/1
2. Go to Browse and select topic Theorie

[2019-07-18 06:01] rupalichavan9860 opened #536 "Page crash on Supported Camps while canceling support"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create fresh topic and create a camp
4. Go to Directly Join or Manage Support for newly created camp
5. Click on cross sign and then click on "Cancel" please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/61432818-32205100-a94f-11e9-9c74-cf04b0e907d8.png)

A

[2019-07-19 19:18] BrentAllsop opened #537 "Need a fast way to snapshot and restore system state (DB and files)"
This should go into the next release, and be prioritized over any other issues, except fatal crashes.

We need to design and implement a fast and easy way to take a snapshot of the DB and canoniazer.com/files directory.
We need to have an easy way to transfer such a dated snapshot to a backup, or a dev system like staging, and be able to easily restore the entire state to exactly what is live.

Fo

[2019-07-19 19:22] BrentAllsop commented on #537
If anyone notices staging more than a week out of date from live, we should do a restore.
In other words, we should copy state to staging once a week or something.

[2019-07-19 19:38] BrentAllsop commented on #537
It should be easy to have test scripts that add new data, starting from a clean live copy state for testing purposes.
The tester should be able to easily restore to live state, overriding test data, so test of data creation can be repeated, automatically.

[2019-07-19 19:39] BrentAllsop commented on #537
We want to avoid putting junk test data in live data, as much as possible.

[2019-07-21 13:47] gautamv16 commented on #534
@BrentAllsop its done now there is setting in env file to setup bcc email from where now i have developed a way which will send all bcc email to that email address.

[2019-07-22 03:49] CanonizerJim commented on #512
Need to create a scrolling function so that the div box is square with the box on the left side of the page.

[2019-07-22 06:11] rupalichavan9860 commented on #536
@gautamv16 Tested and verified

[2019-07-22 06:11] #536 closed, assigned to nobody

[2019-07-22 16:04] BrentAllsop commented on #534
I see this working great.

[2019-07-22 16:04] #534 closed, assigned to nobody

[2019-07-23 16:16] #512 closed, assigned to nobody

[2019-07-23 16:22] BrentAllsop commented on #528
I made a change to this camp:
https://staging.canonizer.com/topic/23-Hard-Problem/1
which has supporters.
The supporters of this camp should have received e-mails, and I should have been BCCed.
Does that sound right?

[2019-07-23 16:26] BrentAllsop commented on #528
This looks like it is working great.

[2019-07-23 16:26] #528 closed, assigned to nobody

[2019-07-28 03:48] BrentAllsop opened #538 "2 Ether Canonizers (from live blockchain data)"
We need to implement a Canonizer algorithm that works similar to the way this tennagraph system works: https://tennagraph.com/eip/1057

Tenna graph is an open source python project that runs in docker.
https://github.com/TennaGraph/TennaGraph
We need to use as much of this code as possible, including the same Ether smart contracts.

We need to have these Algorithms:
Ether: (1 eth = 1 vote)  measur

[2019-07-28 18:47] BrentAllsop opened #539 "not found pages result in exception error."
If you go to anything that does not exist
https://canonizer.com/garbage
It gives a non existing page http exception error.

We should have a more graceful, "Sorry, the page you are looking for could not be found." error, without the exception.

[2019-07-28 18:55] BrentAllsop opened #540 "Use "Asynchronous" google adds to speed up loading."
Google recommended that our site use "Asynchronous" ad loading on our pages to improve page loading performance.

[2019-07-28 18:57] BrentAllsop opened #541 "Need to add adds.txt to canonizer.com document root."
Google now requires an adds.txt file to be in Canonizer.com document root.
It must contain this 1 line:

google.com, pub-6646446076038181, DIRECT, f08c47fec0942fa0

[2019-07-28 19:25] BrentAllsop opened #542 "Need Canonizer "Terms of service" and "Privacy Policy" urls"
There is probably a standard location to put this, on a website.

Twitter API, required by tennagraph.com, needs to supply these to work.

[2019-07-29 03:29] #529 closed, assigned to nobody

[2019-07-29 03:29] #511 closed, assigned to nobody

[2019-07-29 15:40] BrentAllsop commented on #539
The page should have a link back to https://canonizer.com, as the logo.

[2019-07-30 09:39] rupalichavan9860 opened #543 "Email Format issues"
As per discussion(Topic name and camp name should be separated by "/" instead of ":" and after keyword topic/camp/statement ":" should present )  we need to change the format for some emails.Please refer following screenshots
1. Objected to proposed change for camp
It should be "Rupali N has objected to your proposed change submitted for camp : 123456789012345678901234567890 / test camp 1"
instead

[2019-07-31 15:51] rupalichavan9860 commented on #489
@gautamv16 Issue not fixed on live.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/62227156-0aae9700-b3d9-11e9-9d81-663bbbfa4ae5.png)

[2019-08-05 03:54] BrentAllsop commented on #542
Jim created the "terms of service" and "privacy policy" text to the end of the google doc Canonizer plans (at the end of the document):
https://docs.google.com/document/d/1UsQ_fpKM89eJUI85fDMWzA_7TNvEXDbodJ3V-AWVhQ8/edit?usp=sharing

[2019-08-05 03:54] BrentAllsop commented on #542
Replace the canonizer version line on the footer to a link to these two documents.

[2019-08-09 05:03] rupalichavan9860 commented on #222
This is not listing staging records now but it is listing records like "https://mail.canonizer.com/user/supports/347"
![image](https://user-images.githubusercontent.com/40416610/62755230-c5e9c680-ba90-11e9-8bfa-c2ada1fd66c4.png)

 It is fine?Please confirm

And when I go to to "https://mail.canonizer.com/user/supports/347" and performing any action every URL is starting with "mail." e.g "https://m

[2019-08-11 09:53] rupalichavan9860 commented on #542
Do we need this on the footer of blog and canonizer emails also?

[2019-08-11 17:36] BrentAllsop commented on #542
Good idea to add links to these in the footer of all e-mails.
Also, I think it would be better if both the terms of service link and the privacy link were on the same line, with some space (like a tab) between them.

[2019-08-11 18:28] rupalichavan9860 commented on #542
Yeah..else we can use separator also e.g "." or "|"

[2019-08-11 18:35] BrentAllsop commented on #542
How about we put the privacy policy on the same line as, and to the left of the patent, and the terms of service to the right of the patent?  Takes up less space that way.

[2019-08-12 14:16] rupalichavan9860 opened #544 "Uncaught TypeError: Cannot read property 'top' of undefined"
Steps to reproduce :
1. Go to https://staging.canonizer.com/ or https://canonizer.com/
2. Go to bottom of the canonizer home page and click on "^" icon
3. Now go to Chrome->More tools->Developer tools

Actual Result :
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/62871560-521e1700-bd39-11e9-9153-356b4e8be984.png)

And when I click multiple times on "^

[2019-08-16 08:39] gautamv16 commented on #541
@rupalichavan9860 please check and confirm

[2019-08-16 08:40] gautamv16 commented on #535
@rupalichavan9860 pls test

[2019-08-16 08:40] gautamv16 commented on #533
@rupalichavan9860 pls check

[2019-08-16 08:40] gautamv16 commented on #531
@rupalichavan9860 pls check

[2019-08-16 08:41] gautamv16 commented on #527
@rupalichavan9860 pls check

[2019-08-16 18:11] rupalichavan9860 commented on #527
@gautamv16 Tested and verified.

[2019-08-16 18:11] #527 closed, assigned to nobody

[2019-08-16 18:24] rupalichavan9860 commented on #533
@gautamv16 Tested and verified

[2019-08-16 18:24] #533 closed, assigned to nobody

[2019-08-16 18:44] rupalichavan9860 commented on #531
@gautamv16 Issue is not fixed yet.Please refer following steps
1. Go to Browse->Theories of Consciousness
2. Click on Create New Camp link or `<Start new supporting camp here>`

3. Click on Agreement link in the bread crumbs
Please refer following screenshot
![image](https://user-images.githubusercontent.com/40416610/63190170-4c02a000-c083-11e9-92b7-4fcaecf40cff.png)

[2019-08-16 18:59] rupalichavan9860 commented on #531
It is not working for Camp forum,Add Camp Statement,Supported Camps,Camp History pages bread crumbs also.

It is not working for following scenario also :
1. Go to Browse->Theories of Consciousness
2. Select any child camp and click on Agreement link in the bread crumbs ,the URL uses agreement, instead of the topic name

[2019-08-17 10:43] rupalichavan9860 commented on #535
@gautamv16  This issue is not fixed yet.

[2019-08-18 06:10] BrentAllsop commented on #541
This is working.
I'm going to close this for now.
But it may be that we need to turn this off on staging, to prevent google adds from thinking our tests are trying to scam them.

[2019-08-18 06:10] #541 closed, assigned to nobody

[2019-08-25 09:37] rupalichavan9860 opened #545 "Label name is not proper for camp change agreement checkbox"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Go to Browse and select any topic
3. Go to any topic and update the camp
4. Login with other supporter and see the camp history page for agreement checkbox

Expected Result :
It should be specific.
Label name for checkbox should be "I agree with this camp change" like on statement history

Actual Result :
Label name is displaying as "I

[2019-08-26 08:49] BrentAllsop opened #546 "robots.txt. Needs to disallow all history pages."
Only live content should show up in Google searches.  No history.

[2019-08-27 05:18] rupalichavan9860 opened #550 "My Supports page layout issue"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Click on logged in username and Go to Account Settings->My Supports

Expected Result :
Camp name layout should be inline with topic name layout

Actual Result :
Layouts are not inline
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/63742886-f23a7b00-c8

[2019-08-28 06:51] gautamv16 commented on #542
@rupalichavan9860 pls test and close

[2019-08-28 06:52] gautamv16 commented on #537
@rupalichavan9860 please test it from admin panel

[2019-08-28 06:54] gautamv16 commented on #530
@rupalichavan9860 changed back as per brent. Pls check

[2019-08-28 06:55] gautamv16 commented on #531
@rupalichavan9860 pls test and close

[2019-08-28 06:55] gautamv16 commented on #535
@rupalichavan9860 pls test

[2019-08-28 08:02] rupalichavan9860 commented on #542
@gautamv16 Tested.Looks good now.
@BrentAllsop Please check and Do we need this on the footer of blog and canonizer emails also?Please confirm

[2019-08-28 08:21] rupalichavan9860 commented on #530
@gautamv16 Tested and verified

[2019-08-28 08:21] #530 closed, assigned to nobody

[2019-08-28 08:36] rupalichavan9860 commented on #535
@gautamv16 Tested.
Click on "Start new supporting camp here" URL is displaying as https://staging.canonizer.com/camp/create/88/1

[2019-08-28 08:48] rupalichavan9860 commented on #531
@gautamv16 Tested.Still I can see "Agreement" in URL when I click on agreement link from following places
1. Camp Forum->Click on Agreement link
2. Supported Camps(Directly Join or Manage Support)->Click on Agreement link
![image](https://user-images.githubusercontent.com/40416610/63840224-520b5180-c99e-11e9-9d8a-4c9d2a40071f.png)

[2019-08-28 16:40] BrentAllsop commented on #542
Yes, let's add these to the footers of all outgoing e-mails before we close this one.
But this additional work is probably a low priority.

[2019-08-28 20:35] BrentAllsop opened #551 "Instant go live error"
Create a new topic.
Have user A support the agreement camp.
Create a camp, with statement.
Have only user B support the camp.
User B adds a modification to the camp statement

Expected Behavior:
Since user B is the only supporter of the camp, his change should go live instantly

Error:
It goes into review mode for one week, as if user A supports more than the agreement statement.

[2019-08-29 04:02] rupalichavan9860 commented on #535
Tested .This is working fine now but I need to update the respective automated test case.I will update the same and close the ticket

[2019-08-29 04:10] rupalichavan9860 commented on #531
Tested .This is working fine now but I need to update the respective automated test case.I will update the same and close the ticket

[2019-08-29 13:33] BrentAllsop commented on #531
Great, thanks for being sure we don't close things till we have working test cases.

[2019-08-31 07:58] rupalichavan9860 commented on #531
Done with automation testing so closing this issue

[2019-08-31 07:58] #531 closed, assigned to nobody

[2019-08-31 12:16] rupalichavan9860 commented on #535
Done with automation testing so closing this issue

[2019-08-31 12:16] #535 closed, assigned to nobody

[2019-09-02 03:24] gautamv16 commented on #542
@rupalichavan9860 as on email footer links are designed and added. On blog Jim need to add links if required. But i dont think we need on blog as blog is seprate entity and blog then must have its own privacy and policies, we cant use canonizer.com policies there in blog. So as per me its not required same url on blog.

[2019-09-02 04:10] rupalichavan9860 opened #552 "UnexpectedValueException while creating thread and replying to thread post"
I am getting UnexpectedValueException while creating thread and replying to thread post.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/64089806-7cc22500-cd65-11e9-9551-6c11f97e27d9.png)

[2019-09-02 08:35] rupalichavan9860 commented on #542
@gautamv16 Tested and verified for email footer also.
"Version - Canonizer 2.0" is available on email footer but missing on all canonizer pages.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/64100973-65496300-cd8a-11e9-86e2-c0eb56e5ae8d.png)

![image](https://user-images.githubusercontent.com/40416610/64101018-801bd780-cd8a-11e9-9b4a-455d9fecea99.png)

[2019-09-03 04:35] rupalichavan9860 commented on #537
@gautamv16 Tested and verified.
@BrentAllsop Please test and close if fine for you

[2019-09-03 04:38] rupalichavan9860 commented on #552
Tested and working fine now.So closing this

[2019-09-03 04:38] #552 closed, assigned to nobody

[2019-09-04 08:49] akuks commented on #526
Fixed on staging.

[2019-09-05 03:54] rupalichavan9860 commented on #542
As per discussion this is not an issue so closing this

[2019-09-05 03:54] #542 closed, assigned to CanonizerJim

[2019-09-05 03:59] rupalichavan9860 commented on #537
Tested and verified.So closing this issue

[2019-09-05 03:59] #537 closed, assigned to nobody

[2019-09-10 11:52] rupalichavan9860 commented on #526
@akuks Tested and verified

[2019-09-10 11:52] #526 closed, assigned to nobody

[2019-09-13 04:36] rupalichavan9860 opened #553 "TokenMismatchException error on multiple click on login page"
Steps to reproduce :
1. Go to https://staging.canonizer.com
2. Click on Login
3. Enter Email and Password
4. Click on Login button multiple times

Expected Result :
User should get logged in
Actual Result :
It is displaying TokenMismatchException .Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/64837836-00a1ca00-d60e-11e9-97b4-c0bccaad6376.png)

[2019-09-16 04:50] rupalichavan9860 opened #554 "Canonizer Admin Issues -1"
Following are the list of issues :
Login Page :
1. All mandatory fields should be marked with * sign
2. All error messages should be in red color
![image](https://user-images.githubusercontent.com/40416610/64934234-faf2f100-d866-11e9-937c-1b626cfbad1c.png)

Namespace Page :
Add Namespace :
1. Click on Add Namespace link -> Page name should be Add Namespace or link name should be Create Namespace
!

[2019-09-19 18:34] rupalichavan9860 opened #555 "Canonizer Admin Issues -2"
1. Canonizer admin footer should be display at the bottom of page.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/65268565-0d09b380-db35-11e9-9e31-e23614595c4f.png)

![image](https://user-images.githubusercontent.com/40416610/65268713-5d811100-db35-11e9-8391-782ac3a2ae3a.png)

2. Selected menu item is not getting highlighted.Dashboard and Namespace menu

[2019-09-20 04:44] rupalichavan9860 commented on #276
@akuks This is working fine now.So closing this issue

[2019-09-20 04:44] #276 closed, assigned to akuks

[2019-09-23 10:09] gautamv16 commented on #550
@rupalichavan9860 pls test

[2019-09-23 10:09] gautamv16 commented on #545
@rupalichavan9860 pls test

[2019-09-23 10:10] gautamv16 commented on #544
@rupalichavan9860 pls test

[2019-09-23 10:11] gautamv16 commented on #543
@rupalichavan9860 pls test

[2019-09-23 10:12] gautamv16 commented on #539
@rupalichavan9860 pls test

[2019-09-24 04:14] rupalichavan9860 commented on #550
@gautamv16 Tested and verified

[2019-09-24 04:21] rupalichavan9860 commented on #544
@gautamv16 Tested and verified

[2019-09-24 04:21] #544 closed, assigned to nobody

[2019-09-24 04:35] rupalichavan9860 commented on #545
@gautamv16 Tested and verified

[2019-09-24 04:35] #545 closed, assigned to nobody

[2019-09-24 04:56] rupalichavan9860 commented on #539
@gautamv16 Tested and verified.I will close this once the automated test case implemented

[2019-09-24 05:16] rupalichavan9860 commented on #539
Done with automated test case so closing this

[2019-09-24 05:16] #539 closed, assigned to nobody

[2019-09-24 05:46] rupalichavan9860 commented on #543
@gautamv16 Tested .Objected to proposed change for statement mail format is not proper yet.
All places that use a number like this, should be changed to a more informative value, like the camp name.For more details please refer #437 (comment)
![image](https://user-images.githubusercontent.com/40416610/65484335-ac73d100-debc-11e9-93c3-986ff6212834.png)

[2019-10-07 04:47] rupalichavan9860 commented on #489
@gautamv16 This is not fixed yet.

[2019-10-07 04:51] rupalichavan9860 commented on #543
@gautamv16 Tested and it is displaying blank after "statement : "  .Is it fine?Please confirm
Please refer attachment for more details
![image](https://user-images.githubusercontent.com/40416610/66285809-0c6e6c80-e8ec-11e9-9ef3-c92150720357.png)

[2019-10-25 04:54] rupalichavan9860 commented on #489
@gautamv16 @BrentAllsop This issue is fixed on staging but as per discussion in yesterday's meeting we also need to include Privacy Policy and Terms & Services links on blog footer also.Please do the needful

[2019-10-25 05:02] rupalichavan9860 commented on #543
@gautamv16 @BrentAllsop Tested and looks fine.Closing this issue

[2019-10-25 05:02] #543 closed, assigned to nobody

[2019-10-28 04:09] BrentAllsop commented on #502
Before we create a namespace, we should verify there are no spaces (only "_"),
that it always begins and ends with "/"
And that it is unique.

[2019-10-29 23:23] BrentAllsop opened #558 "Increase the size of the front page."
I think we should grow the number of items on the front page to at least 30, instead of 10.
And also expand the space for Jim, next to this, so his stuff doesn't wrap.

If this is easy, let's do it for release 15, before we do ether canonizer.
If not, let's wait till latter.

The bottom line, it would be nice to control this number of items to display, with a constant, so we could easily change th

[2019-10-30 18:20] gautamv16 commented on #489
@rupalichavan9860  I have added the Privacy Policy and terms & service link in blog footer on staging. Please check. if verified i will update it on live then.

[2019-10-30 18:21] gautamv16 commented on #502
@rupalichavan9860 Fixed it. please check

[2019-10-30 18:21] gautamv16 commented on #558
@rupalichavan9860 pls check

[2019-11-02 20:36] BrentAllsop opened #559 "Multiple issues with supports page."
Click on a supporter of any camp that supports more than one camp on that topic.
This will take you to their supports page.
There are the following issues with this page:
1. There should be a #label added to the HTML, so when they click on this, it scrolls down to that particular topic/camp, if there are lots that they support.  And there should be some indicator that that is the one they clicked

[2019-11-03 07:26] rupalichavan9860 commented on #489
@gautamv16 Tested and verified.I will close the issue after implementing automated test case for the same

[2019-11-03 07:32] rupalichavan9860 commented on #558
@gautamv16 tested and verified.
@BrentAllsop please check and close if fine for you

[2019-11-04 08:52] rupalichavan9860 commented on #489
Done with automation test case so closing this issue

[2019-11-04 17:19] BrentAllsop commented on #558
The change in the size of the page looks great on staging.  Except for the advertisements that should be on the right hand side are currently wrapping down to the bottom, and extending the page even larger.  This is true even when I go to full screen on a very large display.  This is a problem.  Last week this was only occurring on live, not on staging.  But now it seems to be happening everywhere

[2019-11-04 19:42] BrentAllsop commented on #559
An additional thing we need is on regular camp pages, when there is a direct supporter, we need to indicate whether that support is the first, second, third.... choice for that topic.  In other words, if it is the supporters 12th choice, make a direct supporter look like this:

"12: Brent_Allsop (0.001)"

delegated supporters will be the same as their direct supporter, so won't need this.

[2019-11-06 05:20] rupalichavan9860 commented on #502
@gautamv16 Tested.Sorting is working fine.I can see topics list  displayed in sorted order first by the namespace (if all is selected) then sorted by topic name.
Namespace :
I just created the new namespace and found that following validations are missing
1. I can create duplicate namespaces
2. I can create namespaces with spaces(spaces are then replaced by "-" in label name)
Please refer attached

[2019-11-06 17:25] rupalichavan9860 opened #560 "Layout issue on video podcast"
Video podcast div should have margin between text and border.
Please confirm?
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/68321730-3af88680-00e8-11ea-855f-2b8d24286b13.png)

[2019-11-06 17:40] rupalichavan9860 opened #561 "Search button text"
Can we have Search button text as only "Search" instead of "Google Search" because ultimately we are selecting one of the option from "web" or "canonizer.com".
So it seems we are searching canonizer.com with "Google Search" button.
@gautamv16 @BrentAllsop @akuks @CanonizerJim Please let me know your thoughts on this.

![image](https://user-images.githubusercontent.com/40416610/68323029-90ce2e00-00

[2019-11-07 03:04] BrentAllsop commented on #561
My initial thoughts were that people should know that pressing this button with the Canonizer option would do the same thing as going to google and doing a search, while including this: "site:canonizer.com".  I'll add this to the agenda for the next meeting so we can talk about this.

[2019-11-07 04:30] rupalichavan9860 commented on #561
As per discussion replace "Google Search" button text with "Search" and in the placeholder where "Search for..." is written should be replaced by "Google search for..."

[2019-11-11 22:37] BrentAllsop opened #562 "New statement not notifying direct supporters."
When a new statement is submitted for the first time, it currently correctly goes into review, but all direct supporters are not being notified, nor do they have the chance to make it go live sooner.

[2019-11-11 22:39] BrentAllsop opened #563 "Link in email notification of change should go to history page of that change."
Currently it is just going to the camp page.

[2019-11-12 07:59] rupalichavan9860 commented on #558
@BrentAllsop @gautamv16 I just checked and this is working fine now.
@BrentAllsop Can you please check at your end and close .

[2019-11-12 08:06] rupalichavan9860 commented on #489
@gautamv16 I am facing the same issue(Blog footer copyright year is displaying as (2006 - 2018)) again after copying database and files from production to staging
And I can see Privacy Policy and Terms & Services at two places on blog footer.
Please refer attachment for details
![image](https://user-images.githubusercontent.com/40416610/68653214-40732800-0551-11ea-9c51-101720556839.png)

[2019-11-12 15:27] BrentAllsop commented on #551
This also occurs in other cases than just this.
Another case is when someone is supporting a competing camp, not just a parent camp.

[2019-11-13 04:14] rupalichavan9860 opened #564 "Email format issue : Proposed change to statement for camp"
Need some space or separator between keyword "for camp" and camp name.
In following example camp name is "test camp 1"
Please refer attached screenshot for more details

![image](https://user-images.githubusercontent.com/40416610/68732461-7ff54f00-05f9-11ea-872f-d7b9be43bf19.png)

[2019-11-13 04:41] rupalichavan9860 commented on #563
Same issue I am facing for objected to your proposed change email link also

[2019-11-13 05:11] rupalichavan9860 opened #565 "Page crash error on Metamaks Account"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Username->Account Settings
4. Click on Metamaks Account

Expected Result :
It should display respective page

Actual Result :
It is displaying UnexpectedValueException .
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/68734906-fd24c200-0601-11ea-

[2019-11-13 05:17] akuks commented on #565
I also get an error but a different one.
Base table or view not found: 1146 Table 'staging.ether_address' doesn't exist (SQL: select * from `ether_address` where `user_id` = 325).

I think it misses the migration. I am checking it

[2019-11-13 05:20] akuks commented on #565
@rupalichavan9860 can you please check again.

[2019-11-13 05:23] rupalichavan9860 commented on #565
@akuks It's working now

[2019-11-13 05:27] #565 closed, assigned to nobody

[2019-11-13 05:47] akuks opened #567 ""Add & Manage Nick Names" tab in the Profile screen should be "Manage Nick Names""
Just a thought, In the Users profile, "Add & Manage Nick Names" tab should be renamed as "Manage Nick Names".

After renaming the above,  the "MetaMask Account" also comes in line with all other tabs.

![image](https://user-images.githubusercontent.com/12954663/68736602-1714d380-0607-11ea-83a4-24301a049071.png)

We can discuss this in our next meeting.

[2019-11-13 16:18] gautamv16 commented on #489
@rupalichavan9860 Pls check

[2019-11-13 17:29] rupalichavan9860 commented on #489
@gautamv16 Tested.Privacy Policy and Terms & Services looks good.
But Still I can see Blog footer copyright year as (2006 - 2018).This may be due to copying database from production to staging

![image](https://user-images.githubusercontent.com/40416610/68788087-c209a980-0668-11ea-9e5d-d06ebcb667e6.png)

[2019-11-13 18:03] gautamv16 commented on #489
@rupalichavan9860 pls check its fixed

[2019-11-14 03:31] rupalichavan9860 commented on #489
@gautamv16 Tested and verified.

[2019-11-14 19:42] BrentAllsop commented on #558
Yup, looks great to me.

[2019-11-14 19:42] #558 closed, assigned to nobody

[2019-11-18 03:31] BrentAllsop opened #568 "Create 3 political party canonizer algorithms."
The algorithms should us the camps in this topic users self select:
https://canonizer.com/topic/231-Preferred-Political-Party/1

1. United Utah
2. Republican
3. Democrat

The canonizer value should be the same as their value supporting that camp.  1 if they only support one party, 0.5 for their first, if they support 2, 0.25 after and half, again, for each one after that.

We would like to demo th

[2019-11-19 05:02] rupalichavan9860 opened #569 "Camp forum mails are displaying Not live and Objected records(camp name)"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Browse and select any topic
4. Go to camp and object
5. Now go to Camp forum and create any thread/make a post
6. Observe email

Expected Result :
Live camp name should display in email

Actual Result :
It is displaying Objected camp name in email
Please refer attached screenshot
E.g : In f

[2019-11-22 19:45] BrentAllsop commented on #562
Also, if there is only one direct supporter (who has delegators), when he submits a new version, it should go live instantly.

Also, all the direct supporters should be the only ones that give theo OK, to go live early.  And only all of the direct supporters, regardless of how many delegators don't participate) should be able to make it go live, early.

[2019-11-22 19:48] BrentAllsop commented on #562
Also, if a parent camp has a supporter, (with or without delegators) it should not effect a sub camp.  If a sub camp has no supporters, it should always go live instantly.

[2019-11-22 19:51] BrentAllsop commented on #562
Also, as part of this, Jim and I have decided to change the 1 week waiting period to 24 hours.  In the future we will want to extend this, probably back to one week.  So it should be a constant that is easily setable.

[2019-11-26 05:06] rupalichavan9860 commented on #550
@gautamv16 This issue is still exists for case : delegated support
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/69600910-6102ae00-1038-11ea-91ae-9a97da073ab0.png)

[2019-11-28 16:46] gautamv16 commented on #561
@rupalichavan9860  pls test

[2019-11-28 16:47] gautamv16 commented on #554
@rupalichavan9860 . Pls test

[2019-11-28 16:47] gautamv16 commented on #553
@rupalichavan9860 . Pls Test

[2019-11-28 16:48] gautamv16 commented on #564
@rupalichavan9860 . Pls Test

[2019-11-28 16:48] gautamv16 commented on #567
@rupalichavan9860 . Pls Test

[2019-11-28 18:14] rupalichavan9860 commented on #553
@gautamv16 Tested and verified.

[2019-11-28 18:14] #553 closed, assigned to nobody

[2019-11-28 18:17] rupalichavan9860 commented on #561
@gautamv16 Tested and verified

[2019-11-28 18:23] rupalichavan9860 commented on #567
@gautamv16 Tested .I can see "Add & Manage Nick Names" tab renamed as "Manage Nick Names".But still "MetaMask Account" tab is not in line with all other tabs.
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/69826665-28322700-123a-11ea-99c3-d7eb8b77535f.png)

[2019-11-28 18:43] rupalichavan9860 opened #570 "Admin panel : layout is not proper"
I am not able to see "Canonizer Admin" and username properly when screen size is 100%.
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/69827326-dfc83880-123c-11ea-974b-656aee878b78.png)

![image](https://user-images.githubusercontent.com/40416610/69827187-4e58c680-123c-11ea-9cad-082500cd9117.png)

![image](https://user-images.githubusercontent.com/40416

[2019-11-28 23:29] KarlaChen commented on #570
@rupalichavan9860 can I try it?

[2019-11-29 04:56] rupalichavan9860 commented on #554
@gautamv16 Still I am facing following issues.
Namespace Page :
1. Now the link name changed to "Create Namespace" and page title changed to "Add Namespace".
This should be uniform.Please make it "Add Namespace" at all places because I can see link name and page title on Namespace Requests page as "Add Namespace"

![image](https://user-images.githubusercontent.com/40416610/69844109-b2a57580-1290-1

[2019-11-29 05:49] rupalichavan9860 opened #571 "Incorrect Validations for Middle Name on Register page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Click on Register link
3. Enter valid data in all the fields and keep Middle Name as blank
4. Click on "Create your account"

Expected Result : User should get registered

Actual Result :
It is displaying error message "Middle name must be in letters only"
![image](https://user-images.githubusercontent.com/40416610/69846343-b8538900-1

[2019-11-29 21:51] BrentAllsop commented on #570
I Karla,  Certainly you may try.
And let us know if there is anything we can do to help.
Thanks for reaching out.

[2019-11-30 15:49] rupalichavan9860 commented on #564
@gautamv16 Tested .Now I can see the space between keyword "for camp" and camp name,but do we need hyperlink for keyword "for camp"
@BrentAllsop Please confirm and close the issue if you are fine with current format.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/69902749-feead580-13b6-11ea-891f-941369061d9a.png)

[2019-11-30 16:05] rupalichavan9860 opened #572 "Validations missing for first name,last name,middle name on manage profile info"
Validations for first name,last name,middle name to accept letters only are missing on manage profile info

![image](https://user-images.githubusercontent.com/40416610/69902928-0f03b480-13b9-11ea-881c-5186a35814d7.png)

[2019-11-30 16:32] gautamv16 commented on #555
@rupalichavan9860 Pls Test.

[2019-12-01 16:22] gautamv16 commented on #564
@rupalichavan9860 . I have removed for camp from link. pls test

[2019-12-01 16:23] gautamv16 commented on #554
@rupalichavan9860 . fixed pls test

[2019-12-01 16:23] gautamv16 commented on #567
@rupalichavan9860  Fixed. pls test

[2019-12-01 16:23] gautamv16 commented on #502
@rupalichavan9860 Fixed. Pls test

[2019-12-02 03:05] BrentAllsop commented on #568
This sheet has some example scores:
https://docs.google.com/spreadsheets/d/18JewvxJowt8vHomB_VgTZ882P4Oxyq1mtU_hJM3Vjl4/edit?usp=sharing

[2019-12-02 04:50] rupalichavan9860 commented on #567
@gautamv16 Tested.I can see all tabs in one line but tab names text size is very small.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/69931433-3d82ac00-14ed-11ea-87c7-0711016f2a8f.png)

Can we change it like @akuks posted in first comment
![image](https://user-images.githubusercontent.com/40416610/69931300-baf9ec80-14ec-11ea-9fa7-1ab830f57d55.png)

[2019-12-02 05:04] rupalichavan9860 commented on #564
@gautamv16 Tested and verified.
But I found one new change in mail .Please refer attached screenshots for more details.
Old Email :
![image](https://user-images.githubusercontent.com/40416610/69931801-97d03c80-14ee-11ea-97e8-dcc3af3ea2d1.png)
New Email :
![image](https://user-images.githubusercontent.com/40416610/69931764-72433300-14ee-11ea-95d7-274d40d8dbdc.png)

Previously it was " If no support

[2019-12-02 05:25] rupalichavan9860 commented on #502
@gautamv16 Tested and issue is still exists.Still I can create duplicate namespaces.Please refer attached screenshot.
![image](https://user-images.githubusercontent.com/40416610/69932709-314d1d80-14f2-11ea-838d-815c93a637dc.png)

[2019-12-02 05:46] rupalichavan9860 commented on #572
Need to same validations on Admin panel->users page

[2019-12-02 05:48] rupalichavan9860 commented on #555
@gautamv16 Tested .Still facing following issues
1. Admin Panel layout is not proper : Please refer issue #570
2. Error messages should match label names on Create Template page .Please refer attached screenshot
Error message for Template Name  should be "Template Name field is required."
Error message for Template Subject should be "Template Subject field is required."
Error message for Template

[2019-12-02 06:21] gautamv16 commented on #572
@rupalichavan9860 you are adding new issues in this. This is seperate issue than you mentioned. We have to close release ticket wise. So if you keeps adding new found issue in existing finished issue than it wont close issue on expected time as it will take time to fix your new found issues.

[2019-12-02 17:20] rupalichavan9860 opened #573 "Canonizer Admin Issues-3"
1. Login Page :
When canonizer user who don't have admin access and trying to login into https://staging.canonizer.com/admin , page is getting refreshed
Expected Result :
It should display error proper message

2. Login Page :
User is getting logged in to https://staging.canonizer.com instead of https://staging.canonizer.com/admin for following scenario
Steps :
     1. Go to https://staging.canoni

[2019-12-02 17:27] rupalichavan9860 commented on #572
@gautamv16 Okay.No issues.I was testing functionality wise so that's why I mentioned it here. I will create new one

[2019-12-04 04:52] rupalichavan9860 commented on #554
@gautamv16 Tested . Now there is no page crash on while creating new spaces but there is a page crash while editing namespace
Steps :
1. Go to Namespace lists page
2. Click on Edit
3. Make "Namespace Name" as blank
4. Click on Submit button

Actual Result :
![image](https://user-images.githubusercontent.com/40416610/70113708-eeb94b80-167f-11ea-8a4f-13878ba6ea32.png)

Other issues :
1. On Namespace

[2019-12-04 07:34] gautamv16 commented on #567
![image](https://user-images.githubusercontent.com/6199964/70122344-78741380-1696-11ea-9e8d-25b7dc34b8f0.png)

@rupalichavan9860 the one Karun did is good and not required any change as if system screen is small than again that will come down. So i just checked on different machine its ok Please refer screenshot.

[2019-12-05 05:45] akuks commented on #571
@rupalichavan9860 Please test

[2019-12-05 08:05] rupalichavan9860 commented on #571
@akuks Tested and verified.

[2019-12-05 08:05] #571 closed, assigned to nobody

[2019-12-05 08:10] rupalichavan9860 commented on #560
@gautamv16 Tested and verified.

[2019-12-05 08:10] #560 closed, assigned to nobody

[2019-12-05 08:22] rupalichavan9860 commented on #567
@gautamv16 Okay.No issues I am closing this

[2019-12-05 08:22] #567 closed, assigned to nobody

[2019-12-11 16:54] gautamv16 commented on #554
@rupalichavan9860 . Pls Test

[2019-12-11 16:55] gautamv16 commented on #555
@rupalichavan9860  Pls test issues from 1 to 3. #572 is not fixed yet

[2019-12-11 16:56] gautamv16 commented on #502
@rupalichavan9860 . Pls test

[2019-12-11 17:02] gautamv16 commented on #564
@rupalichavan9860 . pls test

[2019-12-11 17:38] rupalichavan9860 commented on #554
@gautamv16  Tested. Edit namespace page crash issue is still exists. Previously it was UnexpectedValueException but now Exception is "Uninitialized string offset: -1" .Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/70645467-12295b00-1c6b-11ea-888c-0aed4a7001ec.png)

[2019-12-11 18:06] rupalichavan9860 commented on #563
@gautamv16 I am getting page crash on Link in email notification of change(topic, statement and camp) and also I can see some extra text in email.Please refer attached screenshot for more details

![image](https://user-images.githubusercontent.com/40416610/70647276-9c26f300-1c6e-11ea-97f8-2d3a1461021d.png)

![image](https://user-images.githubusercontent.com/40416610/70647443-f627b880-1c6e-11ea-9fa

[2019-12-11 18:15] rupalichavan9860 commented on #564
@gautamv16 Tested. It should be "If no supporters of this camp object to this change, it will go live in one week." instead of  "If no supporters of this 1 object to this change, it will go live in one week."
![image](https://user-images.githubusercontent.com/40416610/70647943-0d1ada80-1c70-11ea-8fb3-8987fa6bd41c.png)

[2019-12-11 18:20] rupalichavan9860 commented on #502
@gautamv16 Tested.Working when creating new namespace but not working when updating existing namespace.

[2019-12-11 18:31] rupalichavan9860 commented on #555
@gautamv16 Tested. Issue 1 and 2 are fixed.3rd issue is still exists. For 3rd and 4th issues we already have separate issues so I am closing this one

[2019-12-11 18:31] #555 closed, assigned to nobody

[2019-12-15 16:03] gautamv16 commented on #554
@rupalichavan9860 pls test

[2019-12-15 18:28] rupalichavan9860 commented on #554
@gautamv16 Tested and verified

[2019-12-15 18:28] #554 closed, assigned to nobody

[2019-12-16 02:58] rupalichavan9860 commented on #570
@gautamv16 Tested and verified

[2019-12-16 02:58] #570 closed, assigned to nobody

[2019-12-17 16:31] gautamv16 commented on #563
@rupalichavan9860 Pls Test

[2019-12-17 16:31] gautamv16 commented on #564
@rupalichavan9860 Pls Test

[2019-12-17 16:41] rupalichavan9860 commented on #564
@gautamv16 Tested and verified

[2019-12-17 16:41] #564 closed, assigned to nobody

[2019-12-17 16:41] rupalichavan9860 commented on #563
@gautamv16 Tested and verified

[2019-12-17 16:41] #563 closed, assigned to nobody

[2019-12-18 05:37] rupalichavan9860 commented on #561
@gautamv16 Need same changes on blog.So reopening the issue

[2019-12-26 17:40] gautamv16 commented on #573
@rupalichavan9860 Pls test

[2019-12-26 17:41] gautamv16 commented on #502
@rupalichavan9860 Pls Test

[2019-12-26 17:42] gautamv16 commented on #559
@rupalichavan9860 Pls Test

[2019-12-26 17:42] gautamv16 commented on #562
@rupalichavan9860 Pls Test

[2019-12-26 17:42] gautamv16 commented on #572
@rupalichavan9860 Pls Test

[2019-12-27 02:09] BrentAllsop commented on #30
We need to verify that we can cut and paste images, links and stuff like that, like can be done in other systems like quora.

[2019-12-28 08:51] rupalichavan9860 commented on #502
@gautamv16 Tested and verified

[2019-12-28 08:51] #502 closed, assigned to nobody

[2019-12-28 09:09] rupalichavan9860 commented on #572
@gautamv16 Tested and verified

[2019-12-28 09:09] #572 closed, assigned to nobody

[2019-12-28 09:27] rupalichavan9860 commented on #562
@gautamv16 I have tested this for grace period and now its changed to 24 hrs.We need to change respective emails to "it will go live in one day/24 hours" from "it will go live in one week"
![image](https://user-images.githubusercontent.com/40416610/71541639-48ace880-2982-11ea-8265-f733fad4640f.png)

[2019-12-29 06:11] rupalichavan9860 commented on #573
@gautamv16 Tested
1. Issue 1 and issue 2 are not fixed yet.
2. Need help to cross check count for Total Live Topics,Total Live Camps,Total Active Persons on dashboard page
3. List pages pagination is still not proper.It should have similar spaces between each page numbers.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/71552983-e52bc500-2a2c-11ea-9dbc-6

[2019-12-29 06:40] rupalichavan9860 commented on #559
@gautamv16 Tested .The order of the listed camps for each person, should be in their chosen order.As of now last camp supported is displaying as first.It should display camp like on my supports page.Please confirm
refer screenshots for more details
![image](https://user-images.githubusercontent.com/40416610/71553309-ad744b80-2a33-11ea-96f5-ddc92c98dc38.png)

![image](https://user-images.githubuser

[2019-12-30 20:46] BrentAllsop commented on #546
Robots.txt should specify that search engines only scan these pages:
https://canonizer.com
https://canonizer.com/topic/*
https://canonizer.com/forum/*
https://canonizer.com/blog/*
https://canonizer.com/video/*
This is for only the live production server.
The default robots.txt checked into git should disallow all searches for anything but production.

[2019-12-30 20:51] BrentAllsop opened #576 "Update readme.md file."
This isn't really a "show stopper" but it needs to be done ASAP so brent can make progress on making a canonizer page for the consciousness video.

We need to enhance the readme.md file.
It needs to include more detailed instructions of how to install on windows.
    Include info about where to get and how to install xampp.
It would be nice to have more detailed instructions on how to install into

[2020-01-03 04:41] rupalichavan9860 commented on #489
@gautamv16 Again copyright year is not getting updated automatically on blog footer.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/71707666-4f6bad80-2e11-11ea-8e08-0d70fe04f429.png)

[2020-01-05 13:16] gautamv16 commented on #517
@rupalichavan9860 Pls test

[2020-01-05 13:40] gautamv16 commented on #540
@rupalichavan9860  This is done but this can be tested on production when we push the release there.

[2020-01-06 02:25] gautamv16 commented on #562
@rupalichavan9860  Pls Test

[2020-01-06 02:26] gautamv16 commented on #573
@rupalichavan9860 Pls Test

[2020-01-06 02:26] gautamv16 commented on #559
@rupalichavan9860  Pls Test

[2020-01-06 16:13] rupalichavan9860 commented on #573
@gautamv16 Tested and I am still facing last commented issues .
Can we change pagination like forum is having. It looks good .Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/71830575-05165500-30cd-11ea-816c-00e263e0787d.png)

[2020-01-07 06:09] rupalichavan9860 commented on #559
@gautamv16 Tested and still facing issue

[2020-01-08 04:20] rupalichavan9860 commented on #559
@gautamv16 order is working fine now but as per Brent's comment I am not able to see following thing

An additional thing we need is on regular camp pages, when there is a direct supporter, we need to indicate whether that support is the first, second, third.... choice for that topic. In other words, if it is the supporters 12th choice, make a direct supporter look like this:

"12: Brent_Allsop (0

[2020-01-08 04:31] rupalichavan9860 commented on #573
@gautamv16 Tested .
1. Issue 2 is not fixed yet.Need to discuss in meeting
2. It would be nice if all text fields simply prevented you from typing in more than given text field size characters and all text fields labels should be followed by max limit in () .e.g Namespace Name (Limit 100 chars) *

Expected result :
It should be applicable for all text fields on create new and update pages

Actual

[2020-01-08 04:40] rupalichavan9860 commented on #546
@BrentAllsop Can you please check this ?

[2020-01-08 04:45] rupalichavan9860 commented on #562
@BrentAllsop  This is only for camp statement or we need to change the grace period to 24 hours for camp and topic change also?

[2020-01-08 19:06] gautamv16 commented on #368
@rupalichavan9860 Pls Test

[2020-01-09 01:50] BrentAllsop commented on #559
@rupalichavan9860
Oh, yea. Let's do that.

[2020-01-09 02:50] BrentAllsop commented on #562
Yes, it should be for everything.  Topic, camp, and camp statements.

[2020-01-09 03:21] rupalichavan9860 commented on #368
@gautamv16 Tested . I am facing two issues
1. I just moved topic https://staging.canonizer.com/topic-history/241-Testing-3-jan-2020 from /sandbox testing/->/sandbox/->/general/->/sandbox testing/ and now live one is under /sandbox testing/ namespace but still I can see this topic under both /sandbox testing/ and /general/ on canonizer main page
![image](https://user-images.githubusercontent.com/40

[2020-01-09 16:26] BrentAllsop commented on #562
OH, and we need to make sure we update the messages to the users, to use this constant, so it is easy to change.  In other words, we should notify the direct supporters that it will go live after X time, where X is the constant.  And find a way to make the english work, maybe define a string, with the constant?

[2020-01-09 16:51] BrentAllsop commented on #546
@gautamv16, how can we test this?
The robots.txt needs to be different in production than it is on all other machines.
Can you list the two different robots.txt here, for both production and non production.
And describe the way these are managed in both production and all other machines?

[2020-01-12 13:46] gautamv16 commented on #559
@rupalichavan9860 Pls Test.

[2020-01-12 13:47] gautamv16 commented on #573
@rupalichavan9860 point 2 is fixed you can test and point 1 i am not able to reproduce it

[2020-01-12 13:47] gautamv16 commented on #562
@rupalichavan9860 Pls Test

[2020-01-12 13:51] gautamv16 commented on #368
@rupalichavan9860 Pls test

[2020-01-12 14:03] gautamv16 commented on #521
@rupalichavan9860 Pls Test

[2020-01-12 14:11] rupalichavan9860 commented on #559
@gautamv16 Tested . I can see the choice number now, but it is starting from 0 instead of 1 .Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/72220085-35e60680-3573-11ea-921f-eeaed74e898a.png)

[2020-01-12 14:49] gautamv16 commented on #538
@akuks still working on this.....

[2020-01-12 19:00] gautamv16 commented on #435
@rupalichavan9860 Pls test

[2020-01-12 19:01] gautamv16 commented on #488
@rupalichavan9860 Pls test

[2020-01-12 19:02] gautamv16 commented on #551
@rupalichavan9860 Pls test

[2020-01-12 19:03] gautamv16 commented on #561
@rupalichavan9860 Pls test

[2020-01-12 19:03] gautamv16 commented on #550
@rupalichavan9860 Pls test

[2020-01-13 09:02] rupalichavan9860 commented on #550
@gautamv16 Tested and verified.Layout looks good now but I can see following extra contents on page.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/72243248-6e3c2200-3611-11ea-9ff8-d153bcbcb587.png)

![image](https://user-images.githubusercontent.com/40416610/72243716-a55f0300-3612-11ea-89a0-a14e45142434.png)

[2020-01-13 09:04] rupalichavan9860 commented on #561
@gautamv16 Tested and verified

[2020-01-13 09:25] rupalichavan9860 commented on #521
@gautamv16 Tested .Note is always blank even if I have added note while creating/updating camp.
Which note do we want in forum mails?
Want to discuss on this

[2020-01-13 09:35] rupalichavan9860 commented on #550
Ohh.I just gone through this https://github.com/the-canonizer/canonizer.2.0/issues/488#issuecomment-495061466

but supported camp list is blank
![image](https://user-images.githubusercontent.com/40416610/72245239-1a800780-3616-11ea-8a19-fbbfa0e51c64.png)

[2020-01-13 09:41] rupalichavan9860 commented on #435
@gautamv16 Tested. Only issue 2 is working fine.1 and 3rd are still exists

[2020-01-13 09:43] rupalichavan9860 commented on #471
@gautamv16 Tested..Not fixed yet

It is topic name multiple times and listing topics from other namespaces also
![image](https://user-images.githubusercontent.com/40416610/72247644-57023200-361b-11ea-8d2f-2e065cc31bb4.png)

[2020-01-13 10:08] rupalichavan9860 commented on #368
@gautamv16 Tested.
Point 2 is working fine.
Point 1 :
General is still displaying some topics from sandbox namespace
![image](https://user-images.githubusercontent.com/40416610/72247201-646aec80-361a-11ea-9c49-2cf053677e0e.png)

![image](https://user-images.githubusercontent.com/40416610/72247271-8a908c80-361a-11ea-8fe6-b1dafb5230f2.png)

[2020-01-14 16:26] rupalichavan9860 commented on #573
@gautamv16 Tested..But this is implemented only on Namespace pages text fields.
It should be applicable for all text fields of Admin panel -> Templates(Create Template,update Template),Users(Edit User)

[2020-01-14 17:02] rupalichavan9860 commented on #551
@gautamv16 Tested and verified.
@BrentAllsop Can you please check and close if fine for you.

[2020-01-14 21:41] BrentAllsop opened #578 "Update New User Welcome help link."
The link to the "help" page in the Welcome to Canonizer e-mail is the old:
https://staging.canonizer.com/topic/38-Canonized-help-statement-text/1
It should be updated to this current version:
https://staging.canonizer.com/topic/132-Help/1

[2020-01-14 21:57] BrentAllsop commented on #559
@rupalichavan9860
I'm thinking that if you only support one camp, it should be 0.
If you support more than one camp, the top choice number should be 1.

After discussing this in our meeting, we decided it would be too confusing to use both 0 and 1, for the first camp.  So lets be consistent, and always use just 1 for the first camp, even if that is the only camp for that topic.

[2020-01-14 21:59] BrentAllsop commented on #559
There is an error case for the numbering.
In this camp:
https://staging.canonizer.com/topic/243-Choice/3#statement
It shows my number as: 216, when I am only supporting one camp in that topic.

[2020-01-14 22:13] BrentAllsop commented on #551
Yes, looks great, so closing this.

[2020-01-15 17:20] gautamv16 commented on #435
@rupalichavan9860 Pls Test

[2020-01-15 17:21] gautamv16 commented on #573
@rupalichavan9860 Implemented Pls Test

[2020-01-15 17:41] gautamv16 commented on #559
@BrentAllsop I have changed it to show the choice number for that camp under current topic, previously i have showcased the chioce number from all the camps supported

[2020-01-16 02:41] BrentAllsop commented on #559
It seems like we don't have the number right, yet.
For example, my first two camps (1, and 2) are both labeled with 11.
https://staging.canonizer.com/topic/208-Sex-Education/13#statement

[2020-01-16 05:15] rupalichavan9860 commented on #521
@gautamv16 Tested and verified.

[2020-01-16 05:15] #521 closed, assigned to nobody

[2020-01-16 05:31] rupalichavan9860 commented on #435
@gautamv16 Tested and verified.
But need some minor changes
1. Remove ":" from label Verify Code* : for uniformity
2. Need space between Code and "*"
3. User can type 10 digits in "Verify Code" field but in error message it is saying "Verification : The verify code must be 6 digits."
Expected Result : User should able to type 6 digits only
![image](https://user-images.githubusercontent.com/4041661

[2020-01-16 05:39] rupalichavan9860 commented on #573
@gautamv16 Tested and verified

[2020-01-16 05:39] #573 closed, assigned to nobody

[2020-01-16 05:54] rupalichavan9860 opened #579 "Admin ->Send Email : User is not able close the success message after sending email"
After sending mail it is displaying success message "Mail sent successfully" with cross sign.When user click on cross sign it should close the success message,As of now it is not closing success message

![image](https://user-images.githubusercontent.com/40416610/72497365-50113480-3852-11ea-9394-624d0f7aec63.png)

[2020-01-16 17:49] rupalichavan9860 commented on #562
@gautamv16 Tested and verified.
@BrentAllsop Can you please check and close if fine for you.

[2020-01-16 18:02] gautamv16 commented on #435
@rupalichavan9860 Pls Test

[2020-01-17 15:47] BrentAllsop commented on #568
@rupalichavan9860,
I tested this and it seems to be working.
There are still bad support numbers (before the nickname) that make it hard to test this as tracked in this issue: https://github.com/the-canonizer/canonizer.2.0/issues/559
But this one is ready to close, if you agree.

[2020-01-17 15:49] BrentAllsop commented on #568
I'm going to close this.

[2020-01-17 15:49] #568 closed, assigned to nobody

[2020-01-17 16:25] BrentAllsop commented on #562
Yup, everything seems to be working, so closing this.

[2020-01-17 16:25] #562 closed, assigned to nobody

[2020-01-17 16:40] BrentAllsop opened #580 "Add "open source" link on front page comment."
This comment is on the front page:
"This is a free open source prototype being developed by volunteers.
Please be patient with what we have so far and/or be willing to help. "

Make "open source" a link to
https://github.com/the-canonizer/canonizer.2.0

[2020-01-17 17:16] rupalichavan9860 commented on #435
@gautamv16 Tested and verified.

[2020-01-17 17:16] #435 closed, assigned to nobody

[2020-01-17 19:21] BrentAllsop commented on #517
@rupalichavan9860 @gautamv16 @gautam
There are still issues not working correctly so I removed the fixed flag
Evidently anyone can object to any change in review.
Only people that supported that camp, when the change was first submitted for review, and who are currently supporting it, can object to a change.
This is true for all 3 types of changes.  Statement, Camp, and topic.
**We need to handle

[2020-01-19 15:18] rupalichavan9860 commented on #488
@gautamv16 I am not able to see non editable list of the camps
![image](https://user-images.githubusercontent.com/40416610/72683390-f7b18f80-3afc-11ea-8e37-a842c13e7068.png)

Please refer following comment
https://github.com/the-canonizer/canonizer.2.0/issues/488#issuecomment-495061466

[2020-01-19 16:19] gautamv16 commented on #368
@rupalichavan9860 Pls Test

[2020-01-19 18:30] gautamv16 commented on #517
@rupalichavan9860 Pls Test

[2020-01-20 01:44] BrentAllsop opened #581 "Can't easily select an asof date before 2010."
When you select the date field, for the first time, you cant select dates before 2010.
It needs to go back to earliest date in the database, but not earlier.

[2020-01-20 02:43] BrentAllsop commented on #546
Let's have the default robots.txt checked into get be one that turns of all search spidering.
Then create a robots.production.txt that turns on search engines for the above listed pages.
Then let's add a step to the READ.me file that describes this install step required if searching of the system by search engines is desired.

[2020-01-20 05:27] rupalichavan9860 opened #582 "Canonized list for on Canonizer Main Page is not listing topics properly"
Canonized list for on Canonizer Main Page is not listing topics for namespace "/organizations/canonizer/help/"

Go to Browse->/organizations/canonizer/help/
![image](https://user-images.githubusercontent.com/40416610/72699935-53693080-3b70-11ea-84db-6f4a0f906bbb.png)

Go to Canonizer Main Page->select  /organizations/canonizer/help/ from Canonized list for drop down
![image](https://user-images.gi

[2020-01-20 05:45] rupalichavan9860 commented on #368
@gautamv16 Tested. Count of topics on Browse page and Canonized list for is different for general and sandbox namespaces
I am not able to find exact mismatch for general namespace ,as the topic count is high.
Please refer following sandbox namespace scenario for more details :
I can see three extra topics under /sandbox/ namespace on browse page .Please refer following screenshot
Note : From this

[2020-01-20 05:48] rupalichavan9860 commented on #550
@gautamv16 another issue is present for the supported camp list feature so closing this

[2020-01-20 05:48] #550 closed, assigned to nobody

[2020-01-20 05:52] rupalichavan9860 commented on #559
@gautamv16 Tested and working for me.
@BrentAllsop Can you please check and confirm?And close if fine for you?

[2020-01-21 18:19] gautamv16 commented on #488
@rupalichavan9860  This is not coming because may be RC has no camp supported under "Test Topic:issue562"

[2020-01-21 19:27] BrentAllsop commented on #538
Remaining issues:
1.  But name changes:
    * The first button says "enable metamask"  this need to change to "Login to metamask"
    * once you log into or enable metamask, the "**Enable Metamask**" button is still showing, some times.  But it doesn't seem to do anything, once I re login to metamask and such.  This happens if your metamask login times out.
     * A second button currently says "l

[2020-01-21 19:28] BrentAllsop commented on #538
I think this is ready for release, as is.
It's not yet ready to close this issue, but I'm adding the "ready to release" flag for this.

[2020-01-22 11:54] gautamv16 commented on #471
@rupalichavan9860  please test.

[2020-01-22 12:09] gautamv16 commented on #368
@rupalichavan9860 after investigation found that its correct as on home page its with filter > 0.01 and on browse page all are listing so its not an issue. So as per me its not an issue and fixed the issue of moved topic from sandbox to sandbox testing topic.

[2020-01-22 16:02] gautamv16 commented on #488
@rupalichavan9860 Yes it is coming blank because RC is not supporting any camp under this topic

[2020-01-22 16:22] gautamv16 commented on #546
@BrentAllsop I have added robots-production.txt file and also updated README.md file for installation

[2020-01-22 17:08] rupalichavan9860 commented on #488
@gautamv16 RC is supporting "Test camp 1" Camp under topic "Test topic : issue 562"
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/72916287-cdafd580-3d67-11ea-975b-c3d1f30bbf92.png)

[2020-01-22 18:00] gautamv16 commented on #488
@rupalichavan9860 I have fixed this issue, pls test it

[2020-01-22 18:26] BrentAllsop opened #583 ""Algorithm Information" links on the side bar should be to agreement camp."
Current, the Canonizer Algorithm link on the side bar is pointing to the 1 person 1 vote sub camp:

https://canonizer.com/topic/53-Canonized-Canonizer-Algorithms/2

It should be to the agreement camp and have the right name, like this:

https://canonizer.com/topic/53-Canonizer-Algorithms/1

[2020-01-23 15:49] rupalichavan9860 commented on #488
@gautamv16 Tested. This is not working for root camp(Agreement).Please refer attached screenshot
Rupali N has delegated their support to RC for topic: Testing : 11 dec 2019 / Agreement

![image](https://user-images.githubusercontent.com/40416610/72999640-a61f4280-3e25-11ea-86e8-d4f55c323164.png)

![image](https://user-images.githubusercontent.com/40416610/72999698-bd5e3000-3e25-11ea-88db-8978f04a7

[2020-01-23 15:55] rupalichavan9860 commented on #559
@gautamv16 Choice numbers are missing for agreement camp. Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/73000439-dc10f680-3e26-11ea-9d6a-decc1433e2f7.png)

[2020-01-23 17:35] rupalichavan9860 commented on #368
@gautamv16 I am still facing issues.
1. Canonized list for still not listing all topics under general namespace.
Following are some test topics that I am not able to see in Canonized list for but present on browse page
https://staging.canonizer.com/topic/238-test-all-topic/1
https://staging.canonizer.com/topic/236-test-new-topic/1
https://staging.canonizer.com/topic/246-test-topic/1

2. Also Some

[2020-01-23 18:20] gautamv16 commented on #368
Rupali,

Topic you are talking about have no support and will not come on home page
without filter change. So comparison with browse page will never match with
home page as there are different conditions on home page and browse page is
all about without conditions. So this not an issue.

Will check for duplicate, that also need to check what you did either u
have same name twice.

On Thu, Jan 23,

[2020-01-23 18:25] gautamv16 commented on #488
@rupalichavan9860 Fixed Pls test

[2020-01-24 06:03] rupalichavan9860 commented on #488
@gautamv16 Tested and verified.Everything is working for me now
@BrentAllsop I have checked this for multiple camps.Please refer attached screenshot
Can you please check functionality and layout also and close if fine for you?
![image](https://user-images.githubusercontent.com/40416610/73047890-52e8d680-3e9d-11ea-8b75-33f2f2f87a24.png)

[2020-01-24 17:22] rupalichavan9860 commented on #368
@gautamv16 I have checked and topics I have listed have support.
From above 3 topics 2 are created by you and you are the supporter and 1 topic is created by me and I am the supporter
Please check attached screenshot
![image](https://user-images.githubusercontent.com/40416610/73089174-b4d82900-3efb-11ea-99e1-6a57b4fc4262.png)

![image](https://user-images.githubusercontent.com/40416610/73089237-d7

[2020-01-24 17:31] rupalichavan9860 commented on #582
This is not an issue as I have applied filter <0001.So closing this

[2020-01-24 17:31] #582 closed, assigned to nobody

[2020-01-24 17:52] rupalichavan9860 commented on #471
@BrentAllsop I think I am facing same behavior for both default and include review filters.I am not able to verify this issue.Can you please check and verify?

[2020-01-24 21:57] BrentAllsop commented on #471
@rupalichavan9860 Could you describe what you are seeing?
I'm not seeing any problems, now.

[2020-01-24 22:05] BrentAllsop commented on #488
Yea, this looks good, so closing this.

[2020-01-25 09:07] gautamv16 commented on #559
@rupalichavan9860 Pls Test

[2020-01-26 13:45] rupalichavan9860 commented on #559
@gautamv16 Tested. I can see the choice numbers for agreement camp but still numbers are missing for delegated supporter.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/73136004-ffc67d80-406e-11ea-892c-e5ff2732bdb7.png)

And also when user supporting more than one camp under same topic choice numbers should be like 1,2, 3,....
As of now I can see choic

[2020-01-26 14:04] rupalichavan9860 commented on #517
@gautamv16 Tested. According to first comment the change should not go live until sub camp supporter approval
As of now I am not able to see approval checkbox for sub camp supporters.
@BrentAllsop Can you please check and confirm if I am missing something ?

[2020-01-26 14:07] BrentAllsop commented on #559
@rupalichavan9860, We don't need to show the choice numbers for delegated supporters, since they are the same as the delegate direct supporter at the top.  You are correct, the choice number for a third choice camp should be 3, not 1.

[2020-01-26 14:18] BrentAllsop commented on #517
@rupalichavan9860 , that is correct.  When you explicitly join a camp, you implicitly support all parent camps up to and including the agreement camp.   A "Supporter" of a camp includes both  explicit and implicit supporters.  Both types of supporters have the same editorial control of that camp.

[2020-01-26 17:29] gautamv16 commented on #559
@rupalichavan9860 I have fixed the issue to display 1,2,3.. numbers according to supported camp for topic. Pls test

[2020-01-27 03:15] rupalichavan9860 commented on #471
@gautamv16 @BrentAllsop Tested and verified.I am not facing any issue so closing this

[2020-01-27 03:15] #471 closed, assigned to nobody

[2020-01-27 03:32] rupalichavan9860 commented on #559
@gautamv16 Tested and verified.Working now so closing this

[2020-01-27 03:32] #559 closed, assigned to nobody

[2020-01-27 03:38] rupalichavan9860 opened #584 "List of supported camps page issues"
1. List of supported camps is displaying Not live topic name.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/73148821-40141300-40e4-11ea-8d20-896d956373f8.png)

![image](https://user-images.githubusercontent.com/40416610/73148852-60dc6880-40e4-11ea-8d48-f16398cb9e02.png)

2. List of supported camps is not listing delegated supported topic/camps
please r

[2020-01-27 04:00] rupalichavan9860 commented on #488
@gautamv16 @BrentAllsop  I just found that choice number order is different for delegated one.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/73149400-2922f000-40e7-11ea-953b-f00222840bf1.png)

![image](https://user-images.githubusercontent.com/40416610/73149417-4061dd80-40e7-11ea-8b02-23b82ffcc3d4.png)

Choice number order should display same for both

[2020-01-28 05:30] rupalichavan9860 opened #585 "Page layout issues after applying as of (yy/mm/dd) filter"
I can't see Help, White Paper and Blog menus after applying as of(yy/mm/dd) filter as any past date.
Also footer contents are displaying at the center of the page instead of bottom of the page.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/73237859-ecc1c380-41bc-11ea-8755-97a8f8417f69.png)

[2020-01-28 16:00] gautamv16 commented on #488
@rupalichavan9860 these are not the choice number as it was not asked to show choice number.
(In the my supports page, when it says: "Support delegated to Mike Gashler" it would be nice to show a non editable list of the camps on this topic Mike Gashler supports. in this form:
1: Revised Preface - 2019; 2: camp 2 name.
And make these the links to that camp.)
 These are just serial number to show t

[2020-01-28 16:50] BrentAllsop commented on #488
@gautamv16, it looks to me like Rupali's first screen shot shows the list of camp, in order the person she is delegating to supports them.  The second screen shot is the actual support list for that person, in the order they have chosen. which is different.  These two lists should be the same, right?
Sorry about the serial number comment that was wrong, don't know where that came from, so my fault

[2020-01-28 17:16] BrentAllsop commented on #585
Yes, go to a fairly new topic, and set the as of date before that topic was created to reproduce this.
Good catch.

[2020-01-28 18:24] rupalichavan9860 commented on #488
@BrentAllsop Karun already fixed the issue and asked me to test . I just tested and now I can see similar lists order for both the supporters.
This screenshots are from My Supports page so links will not work.I need to share my credentials,then only you can verify.Please let me know if required

[2020-01-28 18:37] BrentAllsop commented on #488
OH.  OK, great.  Then if you are good with it, I'm OK with closing this.

[2020-01-28 18:43] rupalichavan9860 commented on #488
Yeah I am OK with this so closing the issue

[2020-01-28 18:43] #488 closed, assigned to nobody

[2020-01-28 19:03] rupalichavan9860 opened #586 "Supported Camps page is not listing all the supported camp lists"
Please refer following scenario :
ref topic : https://staging.canonizer.com/topic/240-Test-topic-20-dec-2019--test/1
In this topic RC supported 14 sub camps and Rupali auto has delegated their support to RC for all this 14 camps .
Now when RC try to support Agreement camp RC can see  "Warning! The following camps are child camps to "Agreement" and will be removed if you commit this support." with

[2020-01-28 19:15] rupalichavan9860 commented on #586
I found one more minor issue on this page.
when there is only one camp under supported camp list warning is displaying as "Warning! The following camp **are** child camp to "Agreement" and will be removed if you commit this support."
It should be "Warning! The following camp **is** child camp to "Agreement" and will be removed if you commit this support."
Also
"Warning! The following camp **are**

[2020-01-28 19:55] BrentAllsop commented on #586
@rupalichavan9860 Oh, good catches.  Those are some complicated issues.
Lets go over some of this in our next meeting.
I'll add it to the agenda.

[2020-01-29 04:00] BrentAllsop opened #587 "Ether Block "Author" (miner) address hash list (Ether Miner canonizer algorithm)"
We need to make an API that, given an address, returns a list/count of blocks for which that address was the author.  This can start as a simple hash list of authors, and a count.

Ether blocks are currently produced every 15 seconds.  We probably want to have a process that runs every night to update the hash list DB.
We will need a management process that rebuilds the entire list, to at least ge

[2020-01-29 16:53] BrentAllsop commented on #585
Current message: "Topic does not have any record for selected date."
Could we easily change this to:
"This topic was first created on <date>."  And have the <date> be in the local time zone for the browser, and be a link that sets that as_of value so the first version of the topic will show up?

[2020-01-29 18:41] gautamv16 commented on #517
@rupalichavan9860 , I have fixed it. Pls test

[2020-01-30 03:13] BrentAllsop commented on #586
We need to make this consistent.
If you are delegating your support, and you delegate to someone else, or directly support any camp, you should get a message indicating your delegation to <delegate> will stop.
The error that shows only one delegated camp ist consistent with the fact that there are 14 camps the delegate is supporting, so this is confusing, as Rupali noticed.

[2020-01-30 05:27] rupalichavan9860 commented on #517
@gautamv16 Tested. Now I can see approval checkbox for sub camp supporters , but changes are not going live even after all the approvals

[2020-02-01 17:16] gautamv16 commented on #517
@rupalichavan9860 I have also tested it and it is working fine. I have used below case.

I have created a topic with user A and from same user created a new camp( say camp1) under this topic. Now i logged in with user B and created new camp with user B ( say campB). Now with User A i have created a subcamp for  camp1 named camp3.
I have supported this camp with user B. and with a new user C ( user

[2020-02-01 18:38] rupalichavan9860 commented on #517
@gautamv16 Can you please check following scenario
Please refer https://staging.canonizer.com/statement/history/245-Test-topic---issue-517/1
In this RC and Rupali N are supporting Agreement camp
Rupali Auto is supporting 2 sub camps :  Camp 1 and Camp 2
Now when RC has proposed a change to Agreement camp statement It should go live when Rupali N and Rupali Auto click on "I agree with this statemen

[2020-02-02 06:19] rupalichavan9860 opened #588 "Page crash on Manage/Edit Camp Statement"
Pre-condition :
User should not have nick name

Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to browse and select any topic
4. Click on Manage/Edit Camp Statement

Expected Result :
Specific page should get open

Actual Result :
It is displaying UnexpectedValueException. Please refer attached screenshot
![image](https://user-images.githu

[2020-02-02 16:34] gautamv16 commented on #517
@rupalichavan9860 yes in your scenario there is issue, i have fixed that also . Can you test it again and verify

[2020-02-02 17:52] rupalichavan9860 commented on #517
@gautamv16 Tested and verified..Above scenario is working fine now.But I have one more doubt
Rupali N have submitted change for topic ,camp and statement, but can Rupali N object to self  modified changes?
Because as of now Rupali N is able to see Object button for statement change but not for Topic and camp.Is this an issue?
Please refer attached screenshot
Camp Statement
![image](https://user-im

[2020-02-02 18:19] gautamv16 commented on #588
@rupalichavan9860 I have fixed it. please test

[2020-02-02 18:22] gautamv16 commented on #517
@rupalichavan9860 I guess its an issue so i have implemented the same condition as for camp name changes on it also, the object button should not appear for user who is making a change. Pls test it

@BrentAllsop Please correct me if i am wrong

[2020-02-02 18:24] rupalichavan9860 commented on #588
@gautamv16 Tested and verified.Working now so closing the issue

[2020-02-02 18:24] #588 closed, assigned to nobody

[2020-02-02 19:10] gautamv16 commented on #368
@rupalichavan9860 rupali after so many hours debugging for days found issue with load more topic offset as we have multiple enteries for single topic and when we are providing offset after first load of 30 topic it taking first 30 id not topic so in that way few topic was missing from home page now i have removed load more topic AND all topic as per default namespace will come once.

[2020-02-02 19:35] rupalichavan9860 commented on #368
@gautamv16 I have tested and looks good now.Multiple entries issue is resolved now but still I am working on count of topics on browse and canonizer main page.If this will work, I will close the issue

[2020-02-02 20:30] BrentAllsop commented on #517
Whether someone submitted a modification or not has no effect on whether they can object or not.
Non supporters can submit a change, but they can't object to it, unless they meet the same support requirements of everyone else.
Only requirements for anyone to be able to object (whether they are the submitter or not):
1. Supported the camp (or sub camp) when the change was submitted.
2. Currently su

[2020-02-02 20:56] BrentAllsop opened #589 "Email changes, including camp subscription."
Before spending time on implementing these changes, propose a design with brief pseudo code, so we can do a review of the design in a meeting, before it is implemented.  I would like to move towards a "canonize a topic structure" microservice.  (i.e. we shouldn't be building canonized structure with stuff like this, or when displaying html...  Just iterating on the topic structure the service prov

[2020-02-03 04:11] rupalichavan9860 commented on #368
@gautamv16 Tested and verified.Count of topics are matching now so closing this issue

[2020-02-03 04:11] #368 closed, assigned to nobody

[2020-02-03 18:43] rupalichavan9860 opened #590 "Frequent System crash"
We are facing system crash frequently because of disk space issue.
So Ashutosh will configure system monitoring if the size crosses 90% .

[2020-02-04 17:16] gautamv16 commented on #517
@rupalichavan9860 Pls Test

[2020-02-04 18:38] rupalichavan9860 commented on #517
@gautamv16 Tested . I have submitted 2 changes for each topic, camp and statement.But I can see object button only for the latest changed record(for statement and camp) and I can see Object button for both topic change records

[2020-02-05 15:44] gautamv16 commented on #517
@rupalichavan9860 Object button should be there for each change until they are in review. i have changes it. Pls Test

[2020-02-05 16:09] rupalichavan9860 commented on #517
@gautamv16 Tested and verified.Working fine now.
@BrentAllsop Can you please test this issue with your scenarios (If I missed some scenarios)and close if fine for you?

[2020-02-05 16:56] BrentAllsop commented on #517
The case where someone joins a camp, after a change has been submitted, solely to object, only to leave the camp, once they object is still a problem.  They can still "game the system" by doing this.
The "object" button, and the "I agree with this change" check box on yellow (in review) changes, should only exist for people that are currently supporting that camp AND were supporting the camp when

[2020-02-06 05:49] rupalichavan9860 opened #591 "Uncaught TypeError on User supports page"
Error --> Uncaught TypeError: Failed to execute 'scrollTo' on 'Window': parameter 1 ('options') is not an object
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/73909309-55eaba80-48d2-11ea-88b8-ac4b285d514f.png)

[2020-02-06 16:11] BrentAllsop commented on #591
Ah, nice catch.  We should notice and fix java script errors like this.
But I don't think this should stop the release of 16?

[2020-02-07 05:00] rupalichavan9860 commented on #591
@BrentAllsop Yes This will not stop release of 16..I found this during exploratory testing so I created issue .May be Varun will mark it for next release

[2020-02-09 16:50] gautamv16 commented on #517
@rupalichavan9860 , @BrentAllsop . I have fixed it. Pls Test

[2020-02-10 03:15] rupalichavan9860 commented on #561
@gautamv16 Changes are missing on blog page of production .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/74118487-9b183080-4be1-11ea-983b-1646980d2acc.png)

[2020-02-10 03:34] BrentAllsop opened #592 "Cookie error message in Console of Canonizer main page."
It'd be nice if we could fix this error which shows up in the console, when you display the home page:

A cookie associated with a cross-site resource at <URL> was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review cookies in developer tools under Application>Storage>C

[2020-02-10 18:21] rupalichavan9860 opened #593 "Email format changes"
1. Proposed change to statement for camp Agreement submitted

All topic and camp names should be html links to the appropriate page.

Subject line should be "Proposed change to statement for camp **Topic Name / Agreement** submitted" instead of "Proposed change to statement for camp **Agreement** submitted"
Also change the mail body contents to
"Username has proposed a change to this statement for

[2020-02-12 07:14] gautamv16 opened #594 "Load More Topic With Manual Pagination"
Load More Topic With Manual Pagination

[2020-02-12 18:16] rupalichavan9860 commented on #517
@gautamv16 Tested by Brent and me.Working fine for both so closing this issue

[2020-02-12 18:16] #517 closed, assigned to nobody

[2020-02-15 16:35] gautamv16 commented on #489
@rupalichavan9860  I have fixed it to 2020 year on production. pls test

[2020-02-15 16:59] gautamv16 commented on #591
@rupalichavan9860 Its Fixed. Pls Test

[2020-02-15 19:10] rupalichavan9860 commented on #591
@gautamv16 Tested.Still not fixed please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/74593735-7219f480-5054-11ea-9ead-bb99b493aec7.png)

[2020-02-15 19:19] rupalichavan9860 commented on #489
@gautamv16 Tested and verified.It is working now but "All these types of issues should be automatically calculated, and should never be wrong, forever."
It is developed like this?

[2020-02-16 12:04] gautamv16 commented on #591
@rupalichavan9860 Pls test now

[2020-02-16 16:11] rupalichavan9860 commented on #591
@gautamv16 Tested and verified.

[2020-02-16 16:11] #591 closed, assigned to nobody

[2020-02-16 17:45] gautamv16 commented on #580
@rupalichavan9860 Pls Test

[2020-02-16 17:46] gautamv16 commented on #579
@rupalichavan9860 Pls Test

[2020-02-16 18:13] gautamv16 commented on #561
@rupalichavan9860 Pls Test

[2020-02-17 05:06] rupalichavan9860 commented on #561
@gautamv16 Tested and verified.Looks good now so closing this issue

[2020-02-17 05:06] #561 closed, assigned to nobody

[2020-02-17 05:20] rupalichavan9860 commented on #579
@gautamv16 Tested and working now, but I can see green layout on Send Email page which was not there previously
It is fine? @BrentAllsop please confirm
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/74625543-aa175980-5172-11ea-871d-a4f6964bae63.png)

[2020-02-17 05:29] rupalichavan9860 commented on #580
@gautamv16 Tested and verified.I can see the link to "open source" and it is redirecting to given URL so closing this

[2020-02-17 05:29] #580 closed, assigned to nobody

[2020-02-18 11:51] rupalichavan9860 opened #595 "CKEDITOR error on admin->Video Podcast and Create Template"
Please refer attached screenshot for more details
![image](https://user-images.githubusercontent.com/40416610/74733276-001ef680-5272-11ea-8a23-6a5f4ce8c1d4.png)

![image](https://user-images.githubusercontent.com/40416610/74733393-3eb4b100-5272-11ea-84d0-31ad8bb54375.png)

[2020-02-19 22:49] BrentAllsop commented on #579
@rupalichavan9860   The green looks fine to me, so no problem.
@gautamv16 I have working credentials for admin on live, but nothing works on staging.
Shouldn't these duplicate across from live to staging with everything else?

[2020-02-23 08:08] rupalichavan9860 commented on #579
@BrentAllsop I have copied production database and files to staging.Please check whether your login credenitals working on staging or not.
Please check and close issue if working fine for you

[2020-02-23 17:13] gautamv16 commented on #569
@akuks  can u please check this one.

[2020-02-23 17:15] BrentAllsop commented on #579
Yes, things are working now.  Thanks.
The green shading looks fine to me.
So I'm OK to close this if you are.

[2020-02-23 17:25] rupalichavan9860 commented on #579
@BrentAllsop But previously we don't have the green shading .You can check in first comment.
And we don't have this type of shading on any other page of admin

Also I can see it's a part of success alert message.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/75116542-7d41d580-568f-11ea-98a0-89c0b374c40a.png)

but I am OK to close if you are fine with t

[2020-02-23 17:37] rupalichavan9860 commented on #578
@gautamv16 Tested.I just registered a new user and check but still The link to the "help" page in the Welcome to Canonizer e-mail is the old:
https://staging.canonizer.com/topic/38-Canonized-help-statement-text/1

[2020-02-23 17:52] rupalichavan9860 commented on #583
@gautamv16 Tested .Not fixed yet.Still redirecting to https://canonizer.com/topic/53-Canonized-Canonizer-Algorithms/2

[2020-02-23 18:36] BrentAllsop commented on #579
@gautamv16, or whoever did this, do you have any comments on this?
Let's talk about this in our next meeting.

[2020-02-25 17:14] gautamv16 commented on #579
@rupalichavan9860 Pls test it now. I have fixed it

[2020-02-25 17:56] gautamv16 commented on #489
@rupalichavan9860  I have changed this to get automatically updated for the current year

[2020-02-25 17:59] rupalichavan9860 commented on #579
@gautamv16 Tested and verified . Working now so closing this

[2020-02-25 18:01] #489 closed, assigned to nobody

[2020-02-25 18:02] #579 closed, assigned to nobody

[2020-02-26 17:41] gautamv16 commented on #592
@BrentAllsop I have researched more on this and found that those console messages are coming because of chrome's update to secure web applications from CSRF. they are not allowing the third party cookies having SameSite flag set to none. Since we are using google ads on our application which store some cookies for its functionality so those console warnings are coming.

[2020-02-26 22:01] BrentAllsop commented on #592
@gautamv16.   OK, thanks for looking into this.  But how about we keep this open, just low in priority, a little more than 'on-hold', maybe just a 'bug'.  That way if anyone has time, they can check to see if the problem has been resolved, or look into this further.  Seems to me we can't be the only google add user experiencing this.

[2020-03-05 17:50] akuks commented on #590
This is done.

[2020-03-05 19:25] rupalichavan9860 opened #596 "Staging and live are crashing"
Pre- condition : User is not logged in

Staging :
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Go to Browse
3. Click on any topic

Expected Result :
It should open respective agreement page

Actual Result :
It is displaying ErrorException.Please refer attached screenshot for more details
![image](https://user-images.githubusercontent.com/40416610/76017236-48156d00-5f44-11ea-88ce

[2020-03-05 19:35] rupalichavan9860 commented on #585
@gautamv16 Tested.I am getting page crash when I am selecting as of (yy/mm/dd) date is equal to  topic created date or past date.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/76018674-78f6a180-5f46-11ea-81a0-515c1b4b3a66.png)

[2020-03-06 09:23] rupalichavan9860 commented on #583
@gautamv16 Tested and verified

[2020-03-06 09:23] #583 closed, assigned to nobody

[2020-03-06 09:30] rupalichavan9860 commented on #578
@gautamv16 Tested.Still it is redirecting to old one

![image](https://user-images.githubusercontent.com/40416610/76070831-33c08700-5fbb-11ea-8de9-df5c5028df30.png)

[2020-03-06 09:41] rupalichavan9860 commented on #581
@gautamv16 Tested and verified.
@BrentAllsop Please check and close if fine for you

[2020-03-06 10:09] rupalichavan9860 commented on #584
@gautamv16 Tested.Second issue is still exists

[2020-03-07 17:43] gautamv16 commented on #585
@rupalichavan9860 Fixed, Pls test

[2020-03-07 18:53] gautamv16 commented on #578
@rupalichavan9860 Pls Test

[2020-03-08 06:35] rupalichavan9860 commented on #585
@gautamv16 Tested . I am not seeing page crash now but as per Brent's comment message need to do minor changes in message

It should display  "This topic was first created on ." And have the be in the local time zone for the browser, and be a link that sets that as_of value so the first version of the topic will show up?

Right now message is displaying as "**The** Topic was first created on 03/07

[2020-03-08 06:49] rupalichavan9860 commented on #585
Also It is displaying date as yesterday's date for some topics(Not created by me)- This may be timezone issue.But still I would suggest First version date should match with topic's  first version on Topic history page .Please refer attached screenshot
Please refer screenshot for "Help" topic

![image](https://user-images.githubusercontent.com/40416610/76157938-224fba00-6136-11ea-9039-6d70cd4f6994.

[2020-03-08 06:58] rupalichavan9860 commented on #578
@gautamv16 Tested and working fine so closing this issue

[2020-03-08 08:30] gautamv16 commented on #585
@rupalichavan9860 Fixed. Pls Test

[2020-03-08 08:31] gautamv16 commented on #589
@rupalichavan9860 Pls Test

[2020-03-08 09:31] rupalichavan9860 commented on #585
@gautamv16 Tested and looks good now.But I found one UI issue on the page- I am not able to see selected as of (yy/mm/dd) date properly .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/76160150-a7929900-614d-11ea-9cae-3ac01fbd8099.png)

[2020-03-08 11:52] gautamv16 commented on #584
@rupalichavan9860 Pls Test

[2020-03-08 12:11] gautamv16 commented on #585
@rupalichavan9860 Its working fine when i checked it in chrome
![image](https://user-images.githubusercontent.com/6199964/76162465-167aec80-6164-11ea-840e-5ec6e01818ae.png)

[2020-03-08 13:11] rupalichavan9860 commented on #585
@gautamv16 Can you please tell me your browser's text size? Because for me , when my text size is 90% it looks good but if it is 100% then it is not displaying properly

[2020-03-08 13:35] rupalichavan9860 commented on #584
@gautamv16 Tested. I can see the delegated supported camp list now.
@BrentAllsop Please check and close if fine for you.Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/76163836-abcfae00-616f-11ea-8602-fbf7d94b35f8.png)

[2020-03-09 03:16] BrentAllsop commented on #584
https://staging.canonizer.com/topic/195-Agreement/1
On the supports page (where the above URL came from) the URLs have “agreement” rather than the topic name, as is correctly done everywhere else.
Let's fix this before we close this.

Other than the above, this seems to be to be ready to close.

[2020-03-09 21:18] BrentAllsop commented on #546
The current robots.txt is still only:
    User-agent: *
    Disallow: /settings
    Allow: /

And I'm not seeing:
https://canonizer.com/robots-production.txt

[2020-03-09 21:39] BrentAllsop commented on #581
There seems to be multiple issues with this.
When I go to this topic:
https://staging.canonizer.com/topic/88-Theories-of-Consciousness/1
Then set the as-of date to before 2006,
It says:  This topic was first created on 12/1/2008, 7:23:55 AM
When I click on that, it set's the asof to: 11/30/2008, 5:00:00 PM
So it shouldn't exist at this time before the first created date?  It seems to me?
But the t

[2020-03-10 05:22] rupalichavan9860 commented on #581
@BrentAllsop I also tried this link.It says : This topic was first created on 12/1/2008, 7:53:55 PM .When I click on link it set's the as of to: 12/1/2008, 5:30:00 AM

[2020-03-10 16:17] BrentAllsop commented on #581
That is odd, it almost looks like the asof value is correcting for the browser's time zone (why it is different), as it should, but the "First created on" value is not being corrected for the browser's time zone (why it is kind of the same?), so needs to be fixed?
I wonder why you are getting a created on value of 12/1/2008, 7:53:55 PM, while I get almost the same: 12/1/2008/ 7:23:55 AM  ?
Anyway,

[2020-03-11 05:18] rupalichavan9860 commented on #589
@gautamv16 Tested.
Following points are not working :
1. When you are subscribed, you get all e-mails a direct supporter would get.
2. For all direct supporters or subscribers of this camp (or sub camp) add a message for that user to indicate support was added, deleted or changed.

[2020-03-12 01:18] BrentAllsop opened #597 "Design and implement O-Auth login."
We need to first design and then implement O-Auth login ability, so people can login and link their identity, using credentials from google, facebook, twitter and github.

https://developer.okta.com/blog/2017/06/21/what-the-heck-is-oauth

Does laravel have some libraries for that?

[2020-03-12 02:48] BrentAllsop commented on #199
We also need to validate and clean the names of topics.
Can't allow "/" and ":" and such (same as camp names).

[2020-03-12 02:49] BrentAllsop commented on #199
We also need to make a list of all current topic names with bad characters, to figure out, case by case, the fix for those.  We'll need to do db patching for each, by hand.

[2020-03-12 20:11] BrentAllsop commented on #551
There is another issue along these lines.
A change should go live as long as all direct supporters agree.
Delegated supporters should not prevent something from going live.
If you have one direct supporter, and one supporter delegating to that one direct supporter, a change submitted by the one direct supporter does not go live, instantly, as it should.
Only direct supporters should have the optio

[2020-03-15 15:07] gautamv16 commented on #585
@rupalichavan9860 I have checked it at 100% text size, but i have made some fixes by changing the text size . Pls test it again if it is working fine now at your end

[2020-03-15 15:37] gautamv16 commented on #584
@BrentAllsop @rupalichavan9860  I have fixed the url issue mentioned above. Pls test and confirm

[2020-03-15 15:47] gautamv16 commented on #596
@rupalichavan9860 Pls test

[2020-03-15 16:57] gautamv16 commented on #581
@rupalichavan9860 Pls test

[2020-03-15 16:59] rupalichavan9860 commented on #596
@gautamv16 Tested. Still I am getting page crash .

please refer following steps
Staging :
Pre- condition : User is not logged in
Steps to reproduce :
1.Go to https://staging.canonizer.com/
2.Go to Browse
3.Click on any topic
4.Click on Manage/Edit Camp Statement or Manage/Edit This Topic or Manage/Edit This Camp

![image](https://user-images.githubusercontent.com/40416610/76706279-45690380-670c-1

[2020-03-15 17:08] rupalichavan9860 commented on #585
@gautamv16 Tested and verified.Looking good now so closing this issue

[2020-03-15 17:08] #585 closed, assigned to nobody

[2020-03-15 17:20] rupalichavan9860 commented on #584
@gautamv16 Tested and verified.Working fine so closing this

[2020-03-15 17:20] #584 closed, assigned to nobody

[2020-03-16 02:46] BrentAllsop commented on #581
We tested this.  That as of value is correct, but the topic isn't showing the state of the topic at that date.  It is showing current state of topic.

[2020-03-18 16:15] gautamv16 commented on #596
@rupalichavan9860 I haves fixed it Pls test

[2020-03-18 16:45] BrentAllsop opened #598 "Both topic and camp name in optional URL SEO values."
Currently, we have optional SEO values in the URLs like this for the agreement camp with the topic name:
https://canonizer.com/topic/88-Theories-of-Consciousness/1

For camps, we replace the topic name with the camp name like this:
https://canonizer.com/topic/88-Representational-Qualia/6

It would be more informational and more consistent to always have the topic name, with the topic number, and t

[2020-03-18 17:45] rupalichavan9860 commented on #596
@gautamv16 Tested and verified.Working fine now so closing this issue

[2020-03-18 17:45] #596 closed, assigned to nobody

[2020-03-18 17:57] gautamv16 commented on #589
@rupalichavan9860 Pls Test

[2020-03-18 18:07] gautamv16 commented on #546
@BrentAllsop I have updated the robots.txt on production and added it to .gitignore so it will not get updated

[2020-03-19 02:57] BrentAllsop commented on #598
It would be nice if all the code that requires these changes be moved into one unified procedure.  So part of the requirements is to refactor things so that changes like this only require changes in one function, which everyone calls to get the same URL.

Also, testing this is much easier, since only one test would be required.

[2020-03-19 09:53] rupalichavan9860 commented on #589
@gautamv16 I have tested some scenarios.But still facing some issues and have some doubts
1. For all direct supporters or subscribers of this camp (or sub camp) add a message for that user to indicate support was added, deleted or changed : I am not getting mails when support added or deleted,only getting mails when someone delegated their support to other
Doubt on delegated mail :
User 1 is submi

[2020-03-19 13:23] rupalichavan9860 opened #599 "Uncaught SyntaxError: Unexpected token ';'"
Please refer attached screenshot for errors
Pre-condition : User is not logged in

![image](https://user-images.githubusercontent.com/40416610/77071542-3dfa7080-6a12-11ea-850a-894d77ced88b.png)

Pre-condition : User is logged in

![image](https://user-images.githubusercontent.com/40416610/77071652-70a46900-6a12-11ea-8f5c-9b9d2af01e8b.png)

[2020-03-22 14:03] gautamv16 commented on #581
@rupalichavan9860 Fixed Pls test

[2020-03-22 15:26] gautamv16 commented on #589
@rupalichavan9860 Fixed pls test.
"support to User 1.) User 1 is getting 2 mails (1.User 3 has just delegated their support to you and 2. User 3 has just delegated their support to User 1 ).It is fine?Or User 1 should get only one mail?" For this we need to confirm with @BrentAllsop

[2020-03-22 16:39] rupalichavan9860 commented on #581
@gautamv16 I am getting page crash when I click on following date link
![image](https://user-images.githubusercontent.com/40416610/77254851-9edfae00-6c89-11ea-9fee-2272e98a0606.png)

Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/77254873-b5860500-6c89-11ea-9af2-28076b5e7cb5.png)

[2020-03-22 17:17] gautamv16 commented on #581
@rupalichavan9860 Pls Test

[2020-03-23 09:27] rupalichavan9860 commented on #581
@gautamv16 Tested and working fine for me.
@BrentAllsop Can you please check once and close if fine for you?

[2020-03-23 09:30] rupalichavan9860 commented on #540
@BrentAllsop  I can see the google ads now. Can you please check and close if fine for you?

[2020-03-24 18:13] rupalichavan9860 commented on #589
@gautamv16 I am facing following issues

- Added the support

1. Supporter name is missing in email tile and body.
2. Topic name/camp name should be link in email body
3. Email title should include topic name also
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/77460789-9b822900-6e27-11ea-9aa8-4bda39df8eec.png)

4. If User 1 is subscriber and supporter

[2020-03-25 03:36] BrentAllsop commented on #540
Let's put this into "ready to release", since all we are doing is reverting code.
If we have time some day, or if we get more info, It'd be nice to get back to this.
So leaving it open, but low in priority.

[2020-03-25 03:44] BrentAllsop commented on #581
This is nicely fixed.
Just one minor issue.
Currently, the year selector goes all the way back to 1920.
This only needs to go back to 2006, since Canonizer didn't exist before then.
Removing those years will simplify things.
Once this is fixed, we can close this.

[2020-03-25 05:59] gautamv16 commented on #581
@BrentAllsop @rupalichavan9860 I have made the changes as asked. Pls test and confirm

[2020-03-25 12:20] rupalichavan9860 opened #600 "Page crash on support page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Create a fresh topic or browse any topic
4. Create new camp using same user or use existing camp
5. Join the camp using same user
6. Now again click on Directly join or manage support
7. Click on cross sign on newly created camp name
8. Click on "Submit"

Please refer attached screenshot for erro

[2020-03-25 12:34] gautamv16 commented on #600
@rupalichavan9860 Pls test it is resolved

[2020-03-25 12:43] rupalichavan9860 commented on #600
@gautamv16 Tested and verified.Working now so closing

[2020-03-25 12:43] #600 closed, assigned to nobody

[2020-03-25 13:40] BrentAllsop commented on #581
@gautamv16 @rupalichavan9860   Sorry to be nit picky, and sorry I didn't notice this before.
How about we also do a date check and calculation to find out what year it is now, and limit the last year to be that, instead of 2030?  That would clean things up a bit more.  (And not break, once we get past 2030?)

[2020-03-25 15:13] gautamv16 commented on #581
@BrentAllsop It is not fixed to 2030, the year's max limit is current year + 10 years. If you want to change it to the current year only then pls confirm

[2020-03-25 18:29] gautamv16 commented on #581
@BrentAllsop I have changed that datepicker to set the current year as last year in range

[2020-03-25 18:30] gautamv16 commented on #589
@rupalichavan9860 pls test

[2020-03-26 02:22] BrentAllsop commented on #581
I'm still seeing a problem.
1. go to https://staging.canonizer.com
2. Set the as of date to: 2/28/2009, 5:00:00 PM
3. Then go to https://staging.canonizer.com/topic/88-Theories-of-Consciousness/1
Expected:  Early tree with only a few camps.
What you see:  The as of value default tree.

[2020-03-26 02:46] BrentAllsop commented on #581
Also it is possible to do the same on the main page.
It is possible to have the as of value different than the displayed tree.

Also, we have this string:
as of (yy/mm/dd)
This should be
as of date

[2020-03-26 02:49] BrentAllsop commented on #546
We need to fix robots-production.txt
so that it is for all robots, not just googlebot.

And also, once this is fixed, it needs to be deployed on production.

[2020-03-26 09:58] rupalichavan9860 commented on #589
@gautamv16 Tested.Still facing following issues
1. Added Support

![image](https://user-images.githubusercontent.com/40416610/77632730-6f27f300-6f74-11ea-8825-4dddd6a8e1f2.png)

2. Deleted the support
User is getting support added email when user deleting support

3. Subscription mails
Subscriber should receive forum emails also.
As of now subscribers are getting 2 emails.They should receive only

[2020-03-29 12:22] gautamv16 commented on #589
@rupalichavan9860 Pls test

[2020-03-29 12:35] gautamv16 commented on #546
@BrentAllsop  I have fixed it for all robots and deployed it on production

[2020-03-29 12:36] gautamv16 commented on #581
@BrentAllsop , @rupalichavan9860   Pls test

[2020-03-29 13:04] rupalichavan9860 commented on #581
@gautamv16 Tested. as of date is not working on Canonizer Main Page. Please refer attached screenshot
I have selected as of date as yesterday's date and it is not displaying topics under Canonized list for

![image](https://user-images.githubusercontent.com/40416610/77849747-8cb2c200-71eb-11ea-8799-5b66b8c710ec.png)

Also When I am selecting any topic and selecting as of date equal to topic create

[2020-03-29 18:19] gautamv16 commented on #581
@rupalichavan9860 Pls test

[2020-03-30 03:24] BrentAllsop commented on #581
Since the as-of value can effect the browse page.
We need to add an as-of box to the side bar of the browse page, so users can change this.

[2020-03-30 03:26] BrentAllsop commented on #581
Save the selected date in session.
If there is a session as of value, always display that in the as of date box (even if the as of checkbox is not selected)
If the user doesn't select a different date, after the as of checkbox is selected, go back to default.

[2020-03-30 16:18] rupalichavan9860 commented on #589
@gautamv16 Tested.

- Getting page crash on removing support

1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to any topic and support any camp
4. Go to Directly Join or manage support->click on cross sign
5. Click on Submit

![image](https://user-images.githubusercontent.com/40416610/77935131-ab3db980-72ce-11ea-88cf-3babc6e9cd49.png)

- Subscription Mails

- C

[2020-03-30 16:53] rupalichavan9860 commented on #546
@gautamv16 Can you please add the steps for how to test this issue?

[2020-04-01 13:19] gautamv16 commented on #581
@rupalichavan9860 Pls test it

[2020-04-01 19:12] gautamv16 commented on #589
@rupalichavan9860 Pls Test

[2020-04-01 19:28] gautamv16 commented on #546
@rupalichavan9860 go to below site

https://en.ryte.com/free-tools/robots-txt/

and check the urls above if those are allowed and all other url than above in the side should be disallowed

[2020-04-02 03:03] rupalichavan9860 commented on #581
@gautamv16 Tested and verified.It's working good for me now.
@BrentAllsop Can you please check once and close if fine for you?

[2020-04-02 03:25] rupalichavan9860 commented on #589
@gautamv16 Tested and verified.I tested all possible scenario's and all are working fine for me.
@BrentAllsop Can you please check emails changes once.because for supporter we have note like :

"If you do not wish to receive these notifications, you can either delegate your support to some other camp supporter in the topic, or remove your support from the camp. We request that all direct supporter

[2020-04-02 17:13] BrentAllsop commented on #581
This is still an issue:

Go to staging.canonizer.com.
Set an as-of date value to some time in 2009, but leave the selection on default.
This is currently correctly saved in session.
Go to the consciousness topic:
https://staging.canonizer.com/topic/88-Theories-of-Consciousness/1
As of value should still be set to default, and the date should still be the 2009 date.
When you switch between the defa

[2020-04-02 17:37] BrentAllsop commented on #589
@CanonizerJim @rupalichavan9860 @gautamv16
What do you think about the following changes from what rupali noted:

Since multiple supports and multiple subscribes can cause a single e-mail.

How about we change the additional part of the message to list all the reasons like this (will often only be one element in the list):

You are receiving this e-mail because:
•	You are directly supporting &lt;l

[2020-04-02 17:46] rupalichavan9860 commented on #589
@BrentAllsop Can you please check other emails also.There are some new emails also like Support added and removed.Please review once and let us know if required any changes

[2020-04-02 17:49] BrentAllsop commented on #589
@rupalichavan9860
Yes, all e-mails, being received for any of these reasons, should include all this at the end.

[2020-04-03 12:26] rupalichavan9860 commented on #546
@gautamv16 Tested and verified.I have tested all the above urls and they are allowed and others (history urls) are disallowed.So closing this issue

[2020-04-03 12:26] #546 closed, assigned to nobody

[2020-04-05 07:25] gautamv16 commented on #581
@BrentAllsop @rupalichavan9860  Pls test

[2020-04-06 02:20] BrentAllsop commented on #581
Nice, everything looks ready to close to me.

[2020-04-06 03:04] rupalichavan9860 commented on #581
@gautamv16 I can see some topics from /sandbox testing/ namespaces under /general/ namespace on Canonizer Main Page

![image](https://user-images.githubusercontent.com/40416610/78519520-4bb93f80-77e1-11ea-84f6-c39318e32f6b.png)

[2020-04-06 03:04] BrentAllsop commented on #581
Oops, on further testing, I found another issue with this.
Go to this camp on staging:
Camp: Agreement / Approachable Via Science / Representational Qualia / Dualism / Property Dualism / Mind-Brain Identity / Functional Prprty Dualism

Then set the as-of value to some time in early 2016.

It shows the breadcrumbs on the top of the page as:
Camp: Agreement / Approachable Via Science / Representatio

[2020-04-06 03:05] BrentAllsop commented on #581
Good catch rupali.
Also, that list on the front page should be sorted, according to the selected canonizer algorithm.
It doesn't look sorted, there.

[2020-04-07 13:39] rupalichavan9860 opened #601 "Page crash on Create New Camp link"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to browse and select any topic
4. Select filter as of date and select any date(past date) <= topic created date
5. Click on Create New Camp link

Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/78675461-bdd57580-7902-11ea-8007-6569358b50cd.png)

[2020-04-07 13:57] rupalichavan9860 commented on #581
I found one more issue .Please refer following scenario
Go to any topic and select any sub camp
Select as of date filter and select any date
Result :
Camp name is displaying as "N/A" and also it is displaying "No camp data available."Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/78677744-bcf21300-7905-11ea-972b-25120f130647.png)

[2020-04-07 14:03] rupalichavan9860 commented on #601
Also getting different page crash on Create New Camp link.Refer following scenario

1. Go to any topic and select any sub camp
2. Select as of date filter and select any date
3. Click on Create New Camp link

Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/78678455-9a142e80-7906-11ea-88e2-e712347f7c6a.png)

[2020-04-07 16:08] BrentAllsop commented on #601
Good catch.
I'm thinking that if you create a new camp, it should set the as-of value to default.

[2020-04-08 16:16] rupalichavan9860 commented on #601
@gautamv16 Tested and working.But now I am getting another page crash on camp save.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/78807896-50007b00-79e2-11ea-83db-aee71e573ce6.png)

[2020-04-08 18:24] akuks commented on #587
Ether not showing up in the settings page is fix.

[2020-04-08 18:49] gautamv16 commented on #601
@BrentAllsop yes i have done this and fixed it. @rupalichavan9860 pls test and confirm

[2020-04-08 18:50] gautamv16 commented on #589
@BrentAllsop @rupalichavan9860 Implemented the email changes as discussed. pls test

[2020-04-09 13:05] rupalichavan9860 commented on #601
@gautamv16 Tested and verified.Working fine now so closing this issue

[2020-04-09 13:05] #601 closed, assigned to nobody

[2020-04-12 17:51] rupalichavan9860 commented on #569
@akuks Tested .Still I can see not live camp name in forum emails

[2020-04-12 18:48] rupalichavan9860 commented on #587
@akuks I have one doubt.
I am supporting camp https://staging.canonizer.com/topic/214-Canonocracy/2

and I have 0.1 ETH balance.Please refer for more details

![image](https://user-images.githubusercontent.com/40416610/79076982-8c521500-7d1b-11ea-80c6-ce86581a2f54.png)

But I can see score for this camp as 0.4 .Please refer attachment
![image](https://user-images.githubusercontent.com/40416610/790

[2020-04-12 20:06] gautamv16 commented on #581
@BrentAllsop  @rupalichavan9860 Fixed . pls test

[2020-04-13 03:13] rupalichavan9860 opened #602 "List on the Canonizer Main Page should be sorted"
List on the Canonizer Main Page(Canonized list for) should be sorted, according to the selected canonizer algorithm.

[2020-04-13 03:16] rupalichavan9860 opened #603 "Filters are not working properly on Browse page"
As per discussion, Browse page should save selected namespace name in session

[2020-04-13 03:27] rupalichavan9860 opened #604 "User names are not listing properly under respective camp support Tree"
Steps to reproduce :

Go to any topic which have sub camp and try to add support to agreement camp(If user supported to sub camp) and sub camp(if user supported to agreement camp) .

Expected Result :
User's name should display under respective camp support tree(Agreement/sub camp)

Actual Result :
As of now when user is supporter of agreement camp and trying to add support to sub camp,user is get

[2020-04-13 03:54] rupalichavan9860 commented on #581
@gautamv16 Tested and verified.Looks fine to me so closing this issue

[2020-04-13 03:54] #581 closed, assigned to nobody

[2020-04-15 12:00] rupalichavan9860 opened #605 "Page crash on thread creation"
Error Exception on Thread creation.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/79334795-96079280-7f3e-11ea-98c9-6ae825cd2dea.png)

[2020-04-15 12:18] rupalichavan9860 commented on #605
Also not getting thread creation mail

[2020-04-15 13:15] akuks commented on #605
@rupalichavan9860 I am not getting this error. While creating threads in local and as well as staging environment. Can you please pen down the steps to reproduce?

[2020-04-15 13:16] akuks commented on #605
Thread is not created, hence you will not receive any emails. Otherwise you will.

[2020-04-15 13:45] rupalichavan9860 commented on #605
@akuks Thread is getting created but not getting mail.
Steps to reproduce :

1. Go to Camp Forum
2. Click on Create Thread
3. Enter Thread title and click on Submit

![image](https://user-images.githubusercontent.com/40416610/79344394-67dd7f00-7f4d-11ea-9a34-06d729dfd9ac.png)

[2020-04-15 13:51] rupalichavan9860 commented on #605
I just observed there are two different exceptions one is "Undefined variable: dataObject" and other is "Undefined variable: userSub"

[2020-04-15 16:43] gautamv16 commented on #605
@Ashutosh I have fixed it. and  deployed it to staging, sorry I did not checked the ticket on GitHub. I found this while checking and fixed

@rupalichavan9860  Pls test

[2020-04-15 17:25] akuks commented on #605
Oops. I didn't see this. I was working on it. I'll resync my branch.

[2020-04-15 18:09] rupalichavan9860 commented on #605
@akuks @gautamv16 Tested .Page crash issue is resolved but I am getting 12 thread creation and post submitted mails

[2020-04-18 07:31] rupalichavan9860 commented on #605
@gautamv16 I am getting 12 mails for specific topic https://staging.canonizer.com/topic/237-Test-topic---23-feb-2020-test/1

Please check

[2020-04-19 20:55] gautamv16 commented on #605
@rupalichavan9860 Fixed it pls test

[2020-04-21 12:15] rupalichavan9860 commented on #605
@gautamv16 I am still getting 12 mails for specific topic https://staging.canonizer.com/topic/237-Test-topic---23-feb-2020-test/1

[2020-04-22 09:46] rupalichavan9860 commented on #589
@gautamv16 Tested.It is working now for some mails.I found some mismatch in following scenarios

1. Support added : It is not listing supported camps,as of now it is only listing subscribed camps list
Please refer attached screenshot
Support added mail screenshot :
![image](https://user-images.githubusercontent.com/40416610/79965207-5cd4a280-84a9-11ea-9267-d9bd1e480240.png)

Support removed mail s

[2020-04-22 10:21] rupalichavan9860 commented on #605
@gautamv16 Tested and verified.Working fine now so closing this issue

[2020-04-22 10:21] #605 closed, assigned to akuks

[2020-04-22 15:45] gautamv16 commented on #589
@rupalichavan9860 pls test

[2020-04-24 00:36] BrentAllsop commented on #599
We shouldn't release the 17th release, unless this is fixed.
I thought this was fixed, on staging?

[2020-04-24 00:56] BrentAllsop opened #609 "Fix "Expert" canonizer algorithms."
The "expert" canonizer algorithms needs to handle the "pirate" case where all the pirates only vote for themselves to be the pirate leader.

See [this section of the "Captain Teague"](https://www.youtube.com/watch?v=nfKFHTaGzuU&t=105) scene from one of the Pirates of the Caribbean movies.

So we give the pirates a 5 times their vote reward, if they vote for anyone else.
It is OK to support themsel

[2020-04-24 07:52] rupalichavan9860 commented on #599
@BrentAllsop Yes I just checked and I am not seeing issue "Uncaught SyntaxError: Unexpected token ';'"
But still I can see "GET http://www.politicit.com/img/politicit_logo.png 404 (Not Found)"

Is this an issue?If no I am okay to close this issue

[2020-04-26 06:44] gautamv16 commented on #599
@rupalichavan9860 , @BrentAllsop , the issue with this
 http://www.politicit.com/img/politicit_logo.png is that this image is being used in the statement of this very camp. But the logo image has been removed from the original site ie from  http://www.politicit.com site. so it is not loading and hence canonizer shows this error in console, it can be fixed by editing the statement and entering the

[2020-04-26 08:06] rupalichavan9860 opened #610 "Error occured on camp history page"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/80301644-d4187800-87c2-11ea-9cf3-2bb6cf46cd6f.png)

[2020-04-26 08:23] rupalichavan9860 commented on #589
@gautamv16 Tested.Still some issues are there
Note is missing in all mails (when User is subscriber of the camp)
Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/80301888-4c336d80-87c4-11ea-89a9-43818b94daad.png)

please refer another mail
![image](https://user-images.githubusercontent.com/40416610/80301917-856bdd80-87c4-11ea-9961-e29d1f003b48.png)

[2020-04-26 12:06] gautamv16 commented on #589
@rupalichavan9860 , Its not missing , it is what requested to implement
Only include this last part after the above if any of the above reasons are from a “direct support”)

Note: We request that all <bold>direct</bold> supporters of a camp continue to receive notifications and take responsibility for the camp. You can avoid being notified by <bold>delegating</bold> your support to someone else."

[2020-04-26 13:11] rupalichavan9860 commented on #589
@gautamv16 Yes.My bad.. I missed it.
@BrentAllsop I have checked and verified all the mails .Can you please check if I am missing something and close if fine for you

[2020-04-26 13:36] gautamv16 commented on #610
@rupalichavan9860 , I have fixed it. Pls Test

[2020-04-26 16:30] rupalichavan9860 commented on #610
@gautamv16 Tested and verified.Working fine now so closing this issue

[2020-04-26 16:30] #610 closed, assigned to nobody

[2020-04-27 02:49] BrentAllsop commented on #599
Sorry for the confusion, I thought this was a different error.
But it is nice to have this one fixed, also.

[2020-04-27 02:49] #599 closed, assigned to nobody

[2020-04-27 02:50] BrentAllsop commented on #589
Thanks for all the great work to get all this done.
This was a hard one.
Looking great.

[2020-05-04 11:55] rupalichavan9860 commented on #597
@gautamv16 @BrentAllsop If possible can we design login page like below or any other  design

![sign-in-from-with-facebook-and-twitter-button](https://user-images.githubusercontent.com/40416610/80962826-6821b980-8e2b-11ea-81dd-e8da1a596ee2.png)

As of now current design is

![image](https://user-images.githubusercontent.com/40416610/80963058-dd8d8a00-8e2b-11ea-9d00-0b783ef7b76a.png)

@BrentAllsop

[2020-05-04 12:14] rupalichavan9860 commented on #597
@gautamv16

1. I am getting page crash on GitHub login .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/80963838-68bb4f80-8e2d-11ea-9512-138e9a881b5f.png)
I got this for first time and for second time I am able to logging in successfully.
is it an issue?

2. I am getting page crash on facebook Login page->Not Now link
Also on LinkedIn ->Cancel button

[2020-05-06 16:13] gautamv16 commented on #597
@rupalichavan9860 I have fixed the page crash issues and for design let @BrentAllsop confirm it

[2020-05-06 16:53] rupalichavan9860 commented on #597
@gautamv16 Tested and verified.Page crash issues are fixed now

[2020-05-09 10:05] rupalichavan9860 opened #611 "My Supports : Camp names are missing and getting page crash on remove support of the blank camp name"
Steps to reproduce :

1.  Go to https://staging.canonizer.com/
2.  Login with valid email and password
3.  Go to browse
4. Select Namespace as "Sandbox testing" and select as of filter "as of date" = "6/18/2019, 5:30:00 AM"
5. Go to Account settings -> My Supports

 Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/81470689-b3f8a800-9209-11ea-8653-1784b60

[2020-05-09 10:09] rupalichavan9860 commented on #611
@gautamv16 This issue is exists on live also. And when I am trying to remove this null supports I am getting page crash .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/81470918-2f0e8e00-920b-11ea-916f-9edef9e06ff7.png)

[2020-05-12 07:15] akuks commented on #609
pushed to staging

[2020-05-12 17:37] BrentAllsop commented on #609
Hi Ash,

Sorry I’m not being clearer with all this.
You added this code:

        $only_support_himself =
          ($directSupports->count() == 1 & $directSupports[0]->nick_name_id == $nick_name_id)
          ? 1
          : 0;

$nick_name_id    is the id for which we want to know their canonized score.
$expert_camp     is the camp with the camp_about_id the same as $nick_name_id.

What you have

[2020-05-12 22:07] BrentAllsop commented on #589
There are still multiple issues with this.

When I made a change to the "Computer Science Experts" camp (https://canonizer.com/topic/53-Computer-Science-Experts/13) , it listed all these as reasons for the person receiving this e-mail:

You are directly supporting Atheist
You are directly supporting RankingRunoff
You are directly supporting Mind Experts
You are directly supporting Computer Science

[2020-05-13 18:38] gautamv16 commented on #603
@rupalichavan9860 Pls test

[2020-05-13 18:38] gautamv16 commented on #593
@rupalichavan9860  Pls Test

[2020-05-13 18:39] gautamv16 commented on #604
@rupalichavan9860 Pls Test

[2020-05-13 18:39] gautamv16 commented on #611
@rupalichavan9860 Pls Test

[2020-05-13 20:04] BrentAllsop opened #613 "Enable uploading of files of any type."
We want to be able to host files of any type.
Especially mp4 files and such.
Currently you get this error:
Error! The file must be a file of type: jpeg, bmp, png, jpg, gif.

We want to remove this restriction.

[2020-05-14 03:46] rupalichavan9860 commented on #611
@gautamv16 Tested .I can see the camp names now but still getting page crash on removing support.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/81890332-642c2f00-95c3-11ea-98ef-9af2d0cc19d2.png)

[2020-05-14 08:21] rupalichavan9860 commented on #603
@gautamv16 still facing following issue
scenario :
Select any namespace click on Only My Topics checkbox and observe Namespace drop down value

Expected Result :
Selected namespace should display

Actual Result :
As of now it is always displaying selected value as /general/
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/81910631-d283e800-95e9-11ea-8e1

[2020-05-14 13:13] rupalichavan9860 opened #614 "Topic name is not getting highlighted on user supports page"
When user is on any sub camp and goes to user supports page we are displaying sub camp name and it is getting highlighted

![image](https://user-images.githubusercontent.com/40416610/81938118-230f3b80-9612-11ea-9a58-2b1b1fdfd821.png)

As per functionality,when user is on agreement camp and goes to user supports page we are displaying Topic name instead of camp name (Agreement)
But Topic name is no

[2020-05-14 22:02] BrentAllsop commented on #589
One more minor issue on this.
We need a space between the [canon] and the actual subject line.

[2020-05-15 15:57] rupalichavan9860 commented on #604
@gautamv16 Tested and verified.Working for me so closing this

[2020-05-15 15:57] #604 closed, assigned to nobody

[2020-05-15 16:14] rupalichavan9860 commented on #593
@gautamv16 Tested .
Proposed change to Topic submitted.Subject should be "Proposed change to topic Topic Name submitted" is still exists

![image](https://user-images.githubusercontent.com/40416610/82071893-5924ec00-96f4-11ea-8525-76f0fcfca990.png)

Other issues are working fine

[2020-05-15 16:44] rupalichavan9860 commented on #597
@gautamv16 I am getting page crash on github button

![image](https://user-images.githubusercontent.com/40416610/82075163-76a88480-96f9-11ea-9e56-d169b7a14157.png)

[2020-05-17 17:48] gautamv16 commented on #611
@rupalichavan9860 , Fixed Pls Test

[2020-05-17 17:49] gautamv16 commented on #603
@rupalichavan9860 Fixed Pls Test

[2020-05-17 17:49] gautamv16 commented on #593
@rupalichavan9860 pls test

[2020-05-18 02:42] BrentAllsop commented on #597
3 remaining issues:
1. Delete connection button, with a confirmation popup.
2. twitter link is broken.
3. Replace the user's login name, if available.  (i.e. "brent.allsop" from google, instead of 114378572079231599653

[2020-05-20 17:27] gautamv16 commented on #597
@BrentAllsop , @rupalichavan9860 , I have implemented the above mentioned points and deployed on staging. pls test

[2020-05-20 18:13] BrentAllsop commented on #597
This is all looking very nice.
The delete buttons look a little funky, would it work to have a seperate column for the delete button?

@CanonizerJim   Here is the current message Varun has implemented.
We need to clean this up, and have a link to the terms where it says it is a violation of Canonizer policy for single individuals to have multiple accounts.
=========================================

[2020-05-20 18:59] gautamv16 commented on #597
@BrentAllsop Fixed Delete button design

[2020-05-20 18:59] gautamv16 commented on #589
@BrentAllsop , @rupalichavan9860 . this is fixed and deployed on staging pls test

[2020-05-20 21:16] BrentAllsop commented on #589
@rupalichavan9860   Looks great to me, go ahead and close this, if you're OK with it, Rupali.

[2020-05-20 21:23] BrentAllsop commented on #597
Better, But there is a problem with the button, when you have a narrow window, it overlaps the link graphics.  This needs to be fixed.
Also, once it is linked, the words "google, facebook... are added to the linked image.
These names should be removed.  So that it just says link (when not linked) and linked (when linked) no name, just the icon.

Also instead of just "Delete" It should be "Unlink"?

[2020-05-20 21:34] BrentAllsop commented on #597
Let's move the default algorithm to the Profile Info page and remove that tab.
Let's remove the words "Manage" and "My".
Let's change the order of the remaining tabs to:

1. Profile Info
2. Social OAuth Verification  (Capitalize the a, so it isn't just the word oauth.)
3. Change Password
4. Nick Names
5. Supported Camps
6. Crypto Verification  (was Metamask Account)

[2020-05-21 02:46] BrentAllsop opened #615 "supports page isn't ignoring objected to records."
If you look up the supports of "Lenny":
https://canonizer.com/user/supports/38?topicnum=81&campnum=19&namespace=13#camp_81_19

you see that he supports the "Leon Maurer" camp under the "Daniel Dennett" topic.
While, "Daniel Dennett" is the name on the latest topic record, that record has been objected to (is red) so it should be ignored.  The name on the live record is: "Mind Experts" and this is

[2020-05-23 07:34] rupalichavan9860 commented on #611
@gautamv16 Tested and verified.Working fine now so closing this issue

[2020-05-23 07:34] #611 closed, assigned to nobody

[2020-05-23 07:54] rupalichavan9860 commented on #603
@gautamv16 Tested and verified. everything is working fine except namespace "All" .Please refer scenario

Select any namespace and again select "All" from namespace drop down and observe results

Expected Result :
List should display all the topics from all namespaces

Actual Result :
User can see previously selected list .
Please refer attached screenshot

![image](https://user-images.githubuserc

[2020-05-23 13:34] BrentAllsop opened #616 "Arrows obscure menue on mobile"
![Screenshot_20200523-073202](https://user-images.githubusercontent.com/6559312/82731982-90ccfe80-9cc7-11ea-9c9b-7847a13c3810.png)

The lines in the tree are correctly under the menu, but the arrows are not.

[2020-05-23 13:46] rupalichavan9860 commented on #597
Yes.I am also facing this issue .When screen is 100 % "Delete" buttons overlaps link button

![image](https://user-images.githubusercontent.com/40416610/82732277-d9b59f00-9d29-11ea-9f20-b8540a8fe348.png)

[2020-05-23 13:48] rupalichavan9860 commented on #589
@BrentAllsop @gautamv16 I am OK with this so closing this issue

[2020-05-23 16:58] rupalichavan9860 commented on #597
@gautamv16 I am getting page crash on twitter login .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/82736112-bd732b80-9d44-11ea-857f-20b6a82547f2.png)

[2020-05-23 18:22] gautamv16 commented on #603
@rupalichavan9860 Fixed Pls Test

[2020-05-24 12:11] rupalichavan9860 commented on #593
@gautamv16 Tested and verified.Working fine now so closing this issue

[2020-05-24 12:11] #593 closed, assigned to nobody

[2020-05-24 18:56] gautamv16 commented on #615
@rupalichavan9860 Fixed. pls test

[2020-05-24 19:32] gautamv16 commented on #569
@rupalichavan9860 Fixed, Pls Test

[2020-05-24 21:27] BrentAllsop commented on #615
nice, ok with me to close this one.

[2020-05-25 02:57] rupalichavan9860 commented on #603
@gautamv16 I am still facing the issue.Please check following scenario

Select All from Namespace drop down and click on "Only My Topics" and observe behavior

Expected Result :
It should lists all the topics created by logged in user

Actual Result :
When user click on "Only My Topics", it is getting deselected immediately

[2020-05-25 10:26] rupalichavan9860 commented on #569
@gautamv16 Tested .Still I can see not live camp name in forum emails.
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/82804570-24592780-9ea0-11ea-9801-2cfb1da8e123.png)

![image](https://user-images.githubusercontent.com/40416610/82804626-389d2480-9ea0-11ea-9436-5145cf1c0699.png)

[2020-05-28 17:11] rupalichavan9860 commented on #615
@gautamv16 @BrentAllsop Tested and verified.Working fine now so closing this issue

[2020-05-28 17:11] #615 closed, assigned to nobody

[2020-06-03 18:50] BrentAllsop opened #617 "namespaces need to be able to have "_" and " " in the names."
Admin system.

It appears that when you edit or create a new name space, even if there are spaces in the existing name, already, all spaces and underbars (_) get replaced with '-'  characters.

[2020-06-07 02:23] BrentAllsop commented on #597
I'd like to add an additional requirement for release 18.
In addition to the OAuth options on the login page:
Let's add an option to login via a one time code to their e-mail (doesn't require password).
And add an option to do the same via phone.
If they don't have a phone number, grey this option out, and if they mouse over it, throw up a (phone number required) message.

[2020-06-07 02:25] BrentAllsop opened #618 "make support@canonizer.com on bottom of all pages a link."
Like:
<a href="email://support@email.com">support@email.com</a>

[2020-06-08 03:06] BrentAllsop commented on #617
Don't do any mapping of characters.
Either allow or don't allow the character.

[2020-06-10 19:06] akuks commented on #609
@rupalichavan9860 @BrentAllsop Please test.

[2020-06-10 19:09] BrentAllsop commented on #609
I attempted using the "Mind Expert" canonizer on the [mind expert topic](https://staging.canonizer.com/topic/81-Mind-Experts/1) on staging, but got this error in the place of the camp tree structure:
topic-support-nickname-81Undefined offset: 0topic-support-nickname-81Undefined offset: 0topic-support-nickname-81Undefined offset: 0topic-support-nickname-81Undefined offset: 0topic-support-nickname-8

[2020-06-10 22:51] BrentAllsop opened #623 "Change "Browsing as: Guest_31" to just Guest."
Remove the "_31" from the "Browsing as Guest_31"

[2020-06-14 11:11] rupalichavan9860 commented on #578
@gautamv16 @BrentAllsop I just reset my password and I am getting "[staging.canon] Welcome to Canonizer.com 2.0 System" mail and observed that the link to the "help" page in the Welcome to Canonizer 2.0 System e-mail is the old:

https://staging.canonizer.com/topic/38-Canonized-help-statement-text/1

It should be updated to this current version:
https://staging.canonizer.com/topic/132-Help/1

So I

[2020-06-14 11:19] rupalichavan9860 commented on #589
@gautamv16 @BrentAllsop

The e-mails from production have this leader in the subject line:
[staging.canon] which makes it appear that it is from the staging system.
All e-mail from the live system should only have [canon] as the subject leader.

I can't see [staging.canon] in Password Reset Mail , so reopening this issue

[2020-06-15 02:49] BrentAllsop opened #624 "Create '/organizations/united_utah_party/' namespace."
Create '/organizations/united_utah_party/' namespace.

[2020-06-17 11:56] gautamv16 commented on #623
@rupalichavan9860 pls test

[2020-06-17 11:58] gautamv16 commented on #597
@rupalichavan9860 Pls test

[2020-06-17 16:34] rupalichavan9860 commented on #623
@gautamv16 Tested and verified.
@BrentAllsop  Please check and close if fine for you

[2020-06-17 17:14] rupalichavan9860 commented on #597
@gautamv16 Tested.Still facing following issues on Twitter login
Scenario 1:
1. Go to https://staging.canonizer.com/
2. Click on Log in->Twitter
3. Click on Cancel button
4. Click on Return to the_canonizer
5. Observe behaviour

Expected Result :
User should get redirect to canonizer home page

Actual Result :
I am getting page crash.Please refer following screenshot for more details
![image](http

[2020-06-17 17:32] BrentAllsop commented on #623
Yup, looking nice so closing this one.

[2020-06-17 17:32] #623 closed, assigned to nobody

[2020-06-17 17:45] gautamv16 commented on #589
@rupalichavan9860 Password reset mail issue is fixed. Pls test

[2020-06-17 18:41] gautamv16 commented on #603
@rupalichavan9860 Fixed. Pls Test

[2020-06-18 14:43] rupalichavan9860 commented on #589
@gautamv16 Tested and verified.Looking nice so closing this issue

[2020-06-18 14:43] #589 closed, assigned to nobody

[2020-06-18 14:47] rupalichavan9860 commented on #603
@gautamv16 Tested and verified.Working fine now so closing this

[2020-06-18 14:47] #603 closed, assigned to nobody

[2020-06-18 16:43] rupalichavan9860 opened #625 "Login Feature with OTP issues"
1. Design

Can we design Login Feature with OTP like Flipkart. Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/85047252-2e282f00-b1af-11ea-8287-e4f164268676.png)

As of now we are having checkbox for Request OTP , user needs to check the checkbox and also need to click on Log in button then only user is redirecting to verification page

2. Error messag

[2020-06-21 13:00] gautamv16 commented on #625
@rupalichavan9860 , I haved the issues mentioned, design part is not done yet.

[2020-06-21 13:01] gautamv16 commented on #597
@rupalichavan9860 Fixed.pls test

[2020-06-21 17:25] rupalichavan9860 commented on #625
@gautamv16 Tested and verified

[2020-06-21 17:41] gautamv16 commented on #578
@rupalichavan9860 Fixed Please Test

[2020-06-21 17:42] gautamv16 commented on #569
@rupalichavan9860 Fixed, Please Test

[2020-06-21 17:53] rupalichavan9860 commented on #578
@gautamv16 Tested and verified.Working fine now so closing issue

[2020-06-21 17:53] #578 closed, assigned to nobody

[2020-06-21 18:05] rupalichavan9860 commented on #569
@gautamv16 Tested.Still I can see not live camp name in forum emails.

[2020-06-22 02:48] BrentAllsop commented on #617
Let's not allow spaces (hopefully, don't allow the user to type spaces, or any other illegal character into the form field.
But we should allow "_".
Also, if the user supplies "/", before and after, this should work correctly. so we don't end up with something like:  "//organizations//united-utah-party/"

[2020-06-24 03:47] rupalichavan9860 commented on #597
@gautamv16 After copying production database and files to staging I checked Google login and on Google button click I am getting following page crash

![image](https://user-images.githubusercontent.com/40416610/85497264-3fcc6500-b5fb-11ea-9c50-ab04dfab865c.png)

Also on GitHub click and Account settings-> Social Oauth Verification tab click getting following page crash

![image](https://user-image

[2020-06-24 17:50] gautamv16 commented on #617
@BrentAllsop  I have fixed it , now space is not allowed only "-" and "_" is allowed but if user put a "-" in the namespace i have changed it to "_" in the backend.

@rupalichavan9860 . Pls test

[2020-06-24 17:51] gautamv16 commented on #624
@BrentAllsop , @rupalichavan9860  created this on staging. please check

[2020-06-24 17:53] gautamv16 commented on #569
@rupalichavan9860 I have fixed the issue for not live camps . pls test

[2020-06-24 17:57] gautamv16 commented on #597
@rupalichavan9860 , Yes it is coming because i have created a new table for social logins and which is not there on production since 18th release is not deployed to production yet. Because you have copied the production db to staging it has overwrite the database and now the social user tble is not there thats why it is displaying error

[2020-06-24 18:02] gautamv16 commented on #597
@rupalichavan9860 , I have added the table on staging. please test now

[2020-06-24 22:42] BrentAllsop commented on #624
Looks perfect on staging.

[2020-06-24 22:52] BrentAllsop commented on #617
Let's not do any changes of characters.
If it is illegal, just say so, don't change it, let the user change it, if they want that.
Also, when I tried "/a_dashed_name/", but it gave the error: 'Namespace name must not contain any space.'
Also 'any' is plural, so should be spaces, not just space.
I'm thinking we could just have one message where we list all illegal characters?

[2020-06-25 03:12] rupalichavan9860 commented on #569
@gautamv16 Tested and verified.Working fine now so closing the issue

[2020-06-25 03:12] #569 closed, assigned to nobody

[2020-06-25 13:17] rupalichavan9860 commented on #624
@gautamv16 @BrentAllsop Tested.Looks good to me also so closing this

[2020-06-25 13:17] #624 closed, assigned to nobody

[2020-06-25 13:25] rupalichavan9860 commented on #597
@gautamv16 Tested.I am facing page crash on verify email page.Please refer following screenshot
![image](https://user-images.githubusercontent.com/40416610/85728285-64b4fb00-b715-11ea-859e-e06834dbac4a.png)

[2020-06-25 13:59] rupalichavan9860 commented on #617
@gautamv16

1. When user trying to create namespace with some special characters like (@,#), e.g "test@@##$%^&*()_namespace",error message is displaying as "Namespace name must not contain any space."

Expected Result :

Error message should be specific

2. Multiple slashes in namespace label .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/85733897-35

[2020-06-28 17:31] gautamv16 commented on #597
@rupalichavan9860 fixed , pls test

[2020-06-28 17:32] gautamv16 commented on #625
@rupalichavan9860 design implamanted, pls check

[2020-06-28 17:44] rupalichavan9860 commented on #597
@gautamv16 Tested.Still getting same issue also Email validations are missing on verify email page
I just entered email e.g "aaaaaaaaaaaaaa" and I am getting page crash.Please refer screenshot

![image](https://user-images.githubusercontent.com/40416610/85954449-19108480-b995-11ea-928e-ea9b90f6e4bd.png)

[2020-06-28 17:55] rupalichavan9860 commented on #625
@gautamv16 Tested and verified.Looks good now
@BrentAllsop Can you please check and confirm if you are okay with design

[2020-06-28 18:30] gautamv16 commented on #617
@rupalichavan9860 , pls check its fixed

[2020-06-30 09:33] rupalichavan9860 commented on #617
@gautamv16 Tested and verified.Working good now.
but as per https://github.com/the-canonizer/canonizer.2.0/issues/617#issuecomment-647238633 namespace field should accept "/"

As of now namespace field is not accepting "/" character
@gautamv16 @BrentAllsop Please clarify? We should "/" character allow or not?

[2020-07-02 17:14] BrentAllsop commented on #617
Yes, I am thinking we should allow slashes and we should always force start and end with slash but make sure we don't end up with double slashes if the user does or does not add them.

[2020-07-03 14:36] rupalichavan9860 commented on #617
@BrentAllsop Thanks for clarification.
@gautamv16 Can you please implement above point.

[2020-07-06 17:40] gautamv16 commented on #597
@rupalichavan9860 email validation implemented . that page crash is also due to this so its also fixed. Pls Test

[2020-07-06 18:08] gautamv16 commented on #576
@BrentAllsop I have updated the readme file and pushed it on staging. Please check and verify if all is good

[2020-07-07 17:50] gautamv16 commented on #617
@BrentAllsop , @rupalichavan9860  I have allowed the backslashes in the name space, but i did not made it compulsory to add it in namespace, if user add it in namespace it will allow him and create label with single slashes only , if user donot put slashes in namespace name then name will be without slashes but label is with slashes which we have already in place. Please test

[2020-07-08 10:23] rupalichavan9860 commented on #597
@gautamv16 Tested.Still I am getting page crash when user enters  email like "1@1.com"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/86906974-f9662280-c131-11ea-9309-b029284ceb74.png)

[2020-07-08 10:44] rupalichavan9860 commented on #617
@gautamv16 Tested and verified.
@BrentAllsop Can you please check and close if fine for you?

[2020-07-08 18:22] rupalichavan9860 commented on #609
@BrentAllsop Can you please check this and close if fine for you?

[2020-07-08 18:24] rupalichavan9860 commented on #590
@BrentAllsop @akuks Can we close this issue?

[2020-07-12 09:51] gautamv16 commented on #586
@rupalichavan9860 , the issue we have found in the call is resolved. Please test and verify others as well

[2020-07-12 09:52] gautamv16 commented on #597
@rupalichavan9860 pls test

[2020-07-12 11:20] rupalichavan9860 commented on #597
@gautamv16 Tested and verified.Page crash issue is resolved now.

[2020-07-12 11:20] #597 closed, assigned to nobody

[2020-07-12 11:32] rupalichavan9860 opened #628 "irrelevant data on camp history page"
I can see some irrelevant data on camp history page.Please refer attached screenshot.

![image](https://user-images.githubusercontent.com/40416610/87245161-d3f25500-c460-11ea-98ff-1c2fc6d6ed11.png)

[2020-07-12 12:19] rupalichavan9860 commented on #586
@gautamv16 Tested.
I found some issues on supported camps pages.Please refer following scenario
Topic :  Testing 08 July 2020 test1
Testing 08 July 2020 test1 is having 5 sub camps " 1: test camp 1;2: test camp 2;3: test camp 3;4: test camp 4;5: test camp 5;" and User with nickname "RC" is supporting all 5 sub camps and User with nickname "Rupali Auto" is delegating support to RC in following 3 ca

[2020-07-12 17:05] gautamv16 commented on #199
@BrentAllsop I have found the topic names and camp names which have special characters which we do not allow while creating the topics as per current rules on its name. Please find below
[topic_special_character_data.xlsx](https://github.com/the-canonizer/canonizer.2.0/files/4908905/topic_special_character_data.xlsx)

[2020-07-12 18:28] gautamv16 commented on #586
@rupalichavan9860 . Issue is fixed. Please Test

[2020-07-14 17:09] gautamv16 commented on #628
@rupalichavan9860 this is fixed . Pls test

[2020-07-15 12:30] rupalichavan9860 commented on #586
@gautamv16 Tested.Still facing issues please refer attached screenshot
Displaying camp names 2 times also displaying non supported camp names
![image](https://user-images.githubusercontent.com/40416610/87544978-e7055f00-c6c4-11ea-9194-ffb46f0d9603.png)

[2020-07-15 12:34] rupalichavan9860 commented on #628
@gautamv16 Tested and verified. Looking nice now so closing this issue

[2020-07-15 12:34] #628 closed, assigned to nobody

[2020-07-15 18:18] gautamv16 commented on #586
@rupalichavan9860 Fixed. Please Test

[2020-07-16 02:51] rupalichavan9860 commented on #586
@gautamv16 Tested and verified.Working good now so closing this

[2020-07-16 02:51] #586 closed, assigned to nobody

[2020-07-16 03:41] BrentAllsop commented on #617
This name space name already exists in the staging db.
While this won't be possible in the db on the live system, when you submit any such, "/" it should only be (optionally) allowed at the beginning and end, and no place else in the name.
Also, if you were editing a name on page 3, when you hit submit, it should go back to page 3.  (maybe save this in session(not good) or send as an argument with

[2020-07-16 03:47] BrentAllsop commented on #609
I'd like to look at this more, before we close this.
But marking it for ready to release so it won't hold up release 18.

[2020-07-16 03:55] BrentAllsop commented on #576
Yes, nice to see instructions for windows/xampp.

Closing this.

[2020-07-16 03:55] #576 closed, assigned to nobody

[2020-07-16 04:01] BrentAllsop commented on #199
I see the list of all the names with problem characters, so this is progress.
but not seeing the value we will fix them to.
Also, we may want to allow a few, like space and question mark..??
Anyway, let's do some more work on this, with this new list, some day.
So I'm going to remove the 18th release tag.

[2020-07-20 02:35] #590 closed, assigned to nobody

[2020-07-20 16:42] gautamv16 commented on #617
@BrentAllsop , @rupalichavan9860  Pls test i have removed the label column from namespaces and implement the validation to add slashes only at beginning and end

[2020-07-21 17:19] rupalichavan9860 commented on #617
@gautamv16 I can't see the namespace names on browse page .Is this because of this changes.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/88086073-6521a400-cba4-11ea-9a19-76d24db5b043.png)

[2020-07-21 20:17] gautamv16 commented on #617
@rupalichavan9860 Fixed. Please Test

[2020-07-23 02:30] BrentAllsop commented on #617
If you submit the form, with an invalid name, the name is lost.
The invalid name should still populate the form, when returning from the submit, so you only need to fix it, rather than retype the whole thing.

Also, slash representations should be consistent and clean in the data.
So you don't need to do additional checks, everything the data is used.
the beginning and ending slashes should ether

[2020-07-23 16:51] gautamv16 commented on #617
@BrentAllsop  I have fixed the issues mentioned above and discussed in the meeting. Please test and verify

[2020-07-23 17:18] BrentAllsop commented on #617
Yes, functioning nice.  So I'm going to close this.

[2020-07-23 17:18] #617 closed, assigned to nobody

[2020-07-23 17:20] BrentAllsop commented on #538
https://github.com/the-canonizer/canonizer.2.0/issues/609
is still open, so we don't need both this and that one to remain open.
So I'm going to close this one.

[2020-07-26 17:49] BrentAllsop commented on #587
The user paradigm for this needs to be redesigned.
It should be able to work with any wallet, not just metamask.
The user should be able to see all addresses available from a linked wallet, and chose which ones to import/verify.
The user should be able to 'verify'  that they own an address by signing it with the private key.
Once an address has been verified, it should be permanently stored in the

[2020-07-26 18:10] BrentAllsop opened #629 "Separate all tree functionality into a Canonized Topic Tree Service."
We have lots of duplicate/similar complex code like this scattered all over:

        $supports = Cache::remember("$topicnum-supports-$key", 2, function () use($topicnum,$as_of_time) {
                 return Support::where('topic_num','=',$topicnum)
                    ->whereRaw("(start < $as_of_time) and ((end = 0) or (end > $as_of_time))")
                    ->orderBy('start','DESC')

[2020-07-27 12:13] rupalichavan9860 opened #630 "User is not getting removed support emails"
Previously when user removed support from any camp user is getting removed support mail .I am not getting removed support mails now.Please check

[2020-07-27 12:21] rupalichavan9860 opened #631 "User should not be able to Delegate their support to themselves"
Steps to reproduce :
1. Create any camp and support the camp
2. With the same user try to delegate the support

Actual Result :
As of now user can delegate their support to themselves

Expected Result :
User should not be able to delegate their support to themselves

[2020-07-27 12:32] rupalichavan9860 opened #632 "Social Oauth verification: Design issue"
When screen is 100 % and  when you have a narrow window "Unlink" buttons overlaps "Linked" button.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/88541614-b2819380-d032-11ea-8caf-cc36f2b4aa9b.png)

![image](https://user-images.githubusercontent.com/40416610/88541681-cf1dcb80-d032-11ea-9d3c-e89de076c236.png)

[2020-07-30 10:04] rupalichavan9860 opened #633 "Uncaught (in promise) undefined"
Steps to reproduce :

1. Go to https://staging.canonizer.com/ or https://canonizer.com/
2. Login with valid email ans password
3. Go to Account Settings->Crypto Verification (was Metamask Account)
4. Open developer tools

Please refer attached screenshot for more details

![image](https://user-images.githubusercontent.com/40416610/88910047-7db34d80-d279-11ea-8d1a-78744576a898.png)

[2020-08-03 02:45] BrentAllsop commented on #551
Have a camp with one direct supporter (name: dir) and one delegated suporter to dir (name: del)
Have dir propose a change.
Expected behavior:
Dir should have the "agree" option to make it live.
Del should not have the "agree" option to make it live.
Actual behavior is just the reverse.  Del has the option, and not Dir.

[2020-08-03 03:05] BrentAllsop commented on #630
I changed my camp (left one camp (a) and joined another (b) in one step
The "I left" email said I left camp (b), when a really left camp (a)
The "I joined" email had the correct (b) name.

[2020-08-04 18:29] rupalichavan9860 commented on #633
@gautamv16 Right click on Enable Metamask button and click on Inspect and check for console error

[2020-08-05 17:30] rupalichavan9860 opened #634 "Mismatch page titles"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Account Settings
4. Click on Social Oauth Verification and Crypto Verification (was Metamask Account)
5. Observe page titles

Expected Result :

Page titles must be "Social Oauth Verification" and "Crypto Verification (was Metamask Account) respectively"

Actual Result :

Page titles are di

[2020-08-06 16:11] rupalichavan9860 opened #635 "Design issues : Mobile device"
I found some design issues on mobile device.Please refer attached screenshots
1)Social Oauth Verification page
Social Name and Action columns are missing.

![image](https://user-images.githubusercontent.com/40416610/89554333-5980df00-d82c-11ea-820c-0864c5c05cf6.png)

2)Browse Page : Alignment is not proper

![image](https://user-images.githubusercontent.com/40416610/89554491-8b924100-d82c-11ea-857

[2020-08-09 16:15] rupalichavan9860 commented on #618
@gautamv16 Tested.I can see a link for support@canonizer.com on bottom of all pages except on Blog page.

[2020-08-09 16:28] rupalichavan9860 commented on #614
@gautamv16 Tested and verified.Working fine now so closing the issue

[2020-08-09 16:28] #614 closed, assigned to nobody

[2020-08-09 17:54] rupalichavan9860 commented on #634
@gautamv16 Tested and verified

[2020-08-09 17:54] #634 closed, assigned to nobody

[2020-08-09 17:57] rupalichavan9860 commented on #632
@gautamv16 Tested and verified.Looks good now so closing this issue

[2020-08-09 17:57] #632 closed, assigned to nobody

[2020-08-09 18:04] rupalichavan9860 commented on #635
@gautamv16 I found new layout issue on agreement page .Is this because of this fix?Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/89738759-ce585100-da98-11ea-8a33-062ca855b9d8.png)

Also following issue is still exists
1)Social Oauth Verification page
Social Name and Action columns are missing.

[2020-08-09 18:25] rupalichavan9860 commented on #616
@gautamv16 Still I can see some design issues.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/89739137-b8985b00-da9b-11ea-878d-12909594b7b6.png)

[2020-08-09 18:37] rupalichavan9860 commented on #595
@gautamv16 Tested.CKEDITOR errors are fixed but still I can see following issue

GET https://staging.canonizer.com/admin/template/img/favicon.ico 404 (Not Found)

![image](https://user-images.githubusercontent.com/40416610/89739316-4fb1e280-da9d-11ea-9407-83896d3b1098.png)

[2020-08-10 03:05] rupalichavan9860 commented on #631
@gautamv16 Tested and it is working good now.But I found one more issue on this

Scenario:
User A is already delegating their support to User B, But still User A can see "Delegate Your Support"/again able to delegate their support to User B for the same camp
And I can see 2 mails one is User A removed their support and another is User A has just delegated their support to you

I think user should

[2020-08-10 03:18] rupalichavan9860 commented on #630
@gautamv16 Tested and verified.I am getting removed support mails now so closing this issue

[2020-08-10 03:18] #630 closed, assigned to nobody

[2020-08-11 02:57] rupalichavan9860 commented on #613
@gautamv16 I am trying upload file of any type(in progress) but I found 1 minor issue.

As we can now upload file of any type we need to change the page title also.Currently page title is "Upload images only ( jpeg,bmp,png,jpg,gif ), Max size 5 MB"
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/89852223-08fede00-dbac-11ea-88f2-c664c2e94487.png)

[2020-08-11 19:04] gautamv16 commented on #618
@rupalichavan9860 fixed.pls test

[2020-08-12 13:56] rupalichavan9860 commented on #618
@gautamv16 Tested and verified.

[2020-08-12 22:59] BrentAllsop commented on #538
Sorry, I shouldn't have closed this.
This is the one for the meta mask linking.
We need to be able to link more than one address.
And addresses, once verified, should stay linked (even without metamask)

And we need to be able to use other wallets besides metamask.

[2020-08-12 23:01] BrentAllsop commented on #609
https://github.com/the-canonizer/canonizer.2.0/issues/538 is related to this one.
That one is currently tracking the wallet linking.

[2020-08-13 02:55] rupalichavan9860 commented on #595
@gautamv16 Tested. I can see this issue on Login page  .Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/90089204-58751380-dd3e-11ea-8c91-abdf8c5f5ede.png)

[2020-08-13 02:58] rupalichavan9860 opened #636 "Page crash on Admin->Namespace Requests"
I am getting page crash on Admin->Namespace Requests-> Create Namespace

Please refer attached screenshot
![image](https://user-images.githubusercontent.com/40416610/90089392-ebae4900-dd3e-11ea-9682-049bbedda98c.png)

[2020-08-14 14:10] rupalichavan9860 commented on #635
@gautamv16 Tested.Following issue is still exists
1)Social Oauth Verification page
Design is still not proper when using mobile device->Social Name and Action columns are missing.

[2020-08-14 14:17] rupalichavan9860 commented on #616
@gautamv16 Tested.I am still facing some layout issues.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/90258859-c1f04180-de66-11ea-849d-e78d8fd0331b.png)

@BrentAllsop Can you please check and confirm it this is still an issue or close if fine for you

[2020-08-14 14:36] rupalichavan9860 commented on #602
@gautamv16 Tested.When I am selecting algorithm "Mind Experts" it is taking time to load the page and after page load I can see page like below.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/90260478-2a402280-de69-11ea-8652-0d970088186f.png)

Is anyone facing this issue?

[2020-08-14 14:48] rupalichavan9860 commented on #631
@gautamv16 As per discussed in meeting user should not allow to delegate their support if user is already delegating their support to someone.
Also when delegated supporter want's to join the camp directly delegated supporter should see warning message that they are already delegating their support to someone for the same camp.

@BrentAllsop Please correct the above comment if any mistake

[2020-08-15 16:53] rupalichavan9860 commented on #613
@gautamv16 Tested and working fine for me.
@BrentAllsop Can you please test and close if fine for you

[2020-08-16 11:15] gautamv16 commented on #635
@rupalichavan9860 , i have checked this , it is fine as in mobile device it has horizontal scroll for those columns

[2020-08-16 15:51] gautamv16 commented on #602
@rupalichavan9860 , fixed it can you check it again

[2020-08-16 16:42] rupalichavan9860 commented on #595
@gautamv16 Tested and verified.

[2020-08-16 16:42] #595 closed, assigned to nobody

[2020-08-16 16:48] rupalichavan9860 commented on #636
@gautamv16 Tested and verified.Working fine now so closing the issue

[2020-08-16 16:48] #636 closed, assigned to nobody

[2020-08-16 16:56] rupalichavan9860 commented on #635
@gautamv16 Tested and verified.I can see the horizontal scrollbar and looks good so closing this issue

[2020-08-16 16:56] #635 closed, assigned to nobody

[2020-08-16 17:35] rupalichavan9860 commented on #602
@gautamv16 Tested .I can see the page properly but still page load time is almost 3 mins.
@BrentAllsop Is it fine?Can you please check and confirm

[2020-08-18 15:14] rupalichavan9860 commented on #631
@gautamv16 Tested and working great now.
I found one minor issue in delegated email .Please refer attached screenshot.

Email body should be "Rupali N has just delegated their support to Rupali Chavan in this **camp**:Exploratory testing 2 / test camp 1" instead of "Rupali N has just delegated their support to Rupali Chavan in this **topic**:Exploratory testing 2 / test camp 1"

![image](https://u

[2020-08-20 16:20] BrentAllsop commented on #631
Yes, camp is more precise.  Let's get this fixed, then we can close this one.

[2020-08-20 16:26] BrentAllsop commented on #616
Yea, I can see the issue Rupali is talking about here, on my phone.
It'd be nice to get this fixed, before we close this.

[2020-08-20 16:35] BrentAllsop commented on #613
Yea, I tried it and it is looking nice, so closing this one.

[2020-08-20 16:35] #613 closed, assigned to nobody

[2020-08-20 16:42] BrentAllsop commented on #594
Is this talking about bot the list of topics on the front page, and on the browse page?
Hopefully the performance will be adequate for both of these, when it is working.
If not, we'll need to try cashing/warehousing data, and updating that once a day, or something.

[2020-08-20 16:44] BrentAllsop commented on #594
Once this is completed, we should also make sure the performance for this closed issue is adequate,  Otherwise include some possible cashing solutions for that, also.
https://github.com/the-canonizer/canonizer.2.0/issues/602

[2020-08-20 16:45] BrentAllsop commented on #602
Seems workable to me, at least for now.
There is another issue dealing with pagination (rather than displaying all topics) which I believe will help with the performance.
https://github.com/the-canonizer/canonizer.2.0/issues/594
I referenced this performance in that issue, to make sure the performance is adequately fixed (or cashing of some kind is used) on this one, before closing that one.

[2020-08-20 16:46] #602 closed, assigned to nobody

[2020-08-23 17:05] gautamv16 commented on #598
@rupalichavan9860 Pls Test

[2020-08-23 17:07] gautamv16 commented on #551
@rupalichavan9860 Pls Test

[2020-08-24 02:48] BrentAllsop commented on #171
Let's spend a bit of time, now, checking for options to do an actual canonical address selector that does more than just country and state drop downs.  Takes you to the exact canonical address.
If we find a free, and easy one, let's do it now.
If not, let's list the options we find and
Let's change this to a future feature, then we can do that when we get to it.

[2020-08-28 08:03] rupalichavan9860 commented on #631
@gautamv16 Tested and verified.Looking nice so closing this issue

[2020-08-28 08:03] #631 closed, assigned to nobody

[2020-08-30 15:47] gautamv16 commented on #594
This is implemented and deployed on staging . @rupalichavan9860 pls test

[2020-08-31 02:25] BrentAllsop commented on #629
Let's get most of the other issues fixed first.
And the ability to automatically test at least 75% of the functionality, before we start on something like this.

[2020-08-31 03:01] rupalichavan9860 commented on #594
@gautamv16 Tested .It is not working properly when changing namespace from Canonized list for drop down(Not displaying topics even if topics are available)

[2020-08-31 03:04] rupalichavan9860 commented on #598
@gautamv16 Tested.
We should get the same URL when we goes to any topic name/camp name link , bread crumb links.

[2020-08-31 03:21] rupalichavan9860 commented on #551
@gautamv16 Tested and working fine for me.
@BrentAllsop Can you please check and close if fine for you?

[2020-09-01 13:52] rupalichavan9860 commented on #616
@gautamv16 as per discussion in meeting it is difficult to fix arrows issue on smaller size devices and everyone is okay with current layout so closing this issue

[2020-09-01 13:52] #616 closed, assigned to nobody

[2020-09-06 13:29] gautamv16 commented on #598
@rupalichavan9860 it is fixed for breadcrumb links . pls test

[2020-09-06 13:29] gautamv16 commented on #594
@rupalichavan9860 Fixed it and now if you change the namespace it will go to the 1st page

[2020-09-06 13:41] gautamv16 commented on #331
@rupalichavan9860 Pls Test

[2020-09-06 15:43] rupalichavan9860 commented on #594
@gautamv16 Tested and verified.Working great now.
@BrentAllsop Can you please check and close if fine for you

[2020-09-06 16:12] rupalichavan9860 commented on #598
@gautamv16 Tested.Please check this from user supports page

I have checked for camp
https://staging.canonizer.com/topic/88-Theories-of-Consciousness/6-Representational-Qualia

Click on any supporter nick name -> click on Representational Qualia

and it is displaying URL as
https://staging.canonizer.com/topic/88-Representational-Qualia-Theory/6

also camp name is mismatching.Please refer attached

[2020-09-06 16:48] rupalichavan9860 opened #637 "Page crash error on supported camps page"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Select as of date  as any date than current month date
4. Go to Username->Account Settings
5. Click on Supported camps sub tab

Expected Result :

It should display supported camps page

Actual Result :

As of now I am getting page crash on supported camps page.Please refer attached screenshot fo

[2020-09-06 17:16] rupalichavan9860 commented on #637
Also getting page crash on canonizer main page when selecting as of date as any date.
Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/92331215-b6252300-f092-11ea-9abc-02ce9ac1c310.png)

[2020-09-07 02:48] BrentAllsop commented on #594
When you change the the mind expert algorithm, with the /general/ namespace, the number topics per page isn't 20, and page 8 has no topics listed at all, so should not be listed in pagination set.

We need to make the current page graphically more clear in the pagination set.

[2020-09-07 12:28] rupalichavan9860 commented on #594
Please check the same scenario when you set Filter < any value

[2020-09-08 16:02] rupalichavan9860 opened #638 "Page crash on Social Oauth Verification"
Steps to reproduce :
1. Go to https://staging.canonizer.com/
2. Login with valid email and password
3. Go to Username->Account Settings->Social Oauth Verification
4. Multiple click on Unlink button

Actual Result :

Getting page crash.Please refer attached screenshot

![image](https://user-images.githubusercontent.com/40416610/92500381-b18b7680-f21a-11ea-95fd-33b8beb473a9.png)

[2020-09-09 16:53] BrentAllsop commented on #625
Old people (like me) may not understand "Request OTP"
So, let's solve that by changing it to:   "Request One Time Password"?

[2020-09-09 17:06] BrentAllsop commented on #551
Tested, and working great, so closing this one.

[2020-09-09 17:06] #551 closed, assigned to nobody

[2020-09-09 17:27] BrentAllsop commented on #331
I still see a problem.
1. Select the "Mormon" canonizer algorithm.
2. go to: https://staging.canonizer.com/topic/54-Temple-Recommend-Holder/9#statement
Before fix expected behavior: All supporters should have 2.
After fix expected behavior:  All supporters should have 1.
This camp should be removed from adding one in the canonizer algorithm
Currently on staging I'm seeing:
![image](https://user-im

[2020-09-13 18:51] gautamv16 commented on #331
@BrentAllsop I have just checked it by clicking on the link you shared above and i saw the score is 4 ie 1 for each as expected

![image](https://user-images.githubusercontent.com/6199964/93025982-1f231280-f620-11ea-8f97-7b3ca01242eb.png)

Can you please show me the use case you are getting this

[2020-09-13 18:57] gautamv16 commented on #594
graphical design for pagination is fixed . need to discuss the number of records displaying on the page

[2020-09-13 19:06] BrentAllsop opened #639 "bad links in someone objected email."
This was contained in an e-mail I received when someone objected to one of my proposals:

"See this link for options you can take when there are objections: | See this link for options you can take when there are objections: | See this link for options you can take when there are objections:"

The link is only a link to the objection in the history page.
That link should be provided, but not here.

[2020-09-13 19:13] BrentAllsop opened #640 "All the places that don't allow certain characters need to explain what characters."
All the places that don't allow certain characters need to explain what characters.

Any place a message like "The title format is invalid."  (camp thread title) is presented

A full description of what is and isn't legal needs to be provided, so users can fix it without trial and error.

And we need to look into way of allowing more characters, possibly by escaping them or something, internally.

[2020-09-13 19:23] BrentAllsop opened #641 "Bread Crumb links on forum thread page."
The camp forum thread pages only have a link back to the list of all threads.
It would be nice to also have the standard breadcrumbs link back to the camp, and all parent camps.

[2020-09-13 22:36] BrentAllsop commented on #331
I see what you are getting with the default algorithm, and I am seeing the problem 4.5 with the Mormon algorithm selected.

[2020-09-14 02:48] gautamv16 commented on #594
As discussed in the meeting , the number of topics on a particular page is not 20 as per our page length because of the filter for score . it is not displaying the topics having score value zero. So for now we will go with it and see if it does not create any problem or confusion, if so then we will reopen it and look for a solution.

@rupalichavan9860  Pls check the graphical design point and if

[2020-09-14 16:24] rupalichavan9860 commented on #598
@gautamv16 Tested.We need to change the same for following places

1. Go to Theories of Consciousness and click on `<Start new supporting camp here>`
URL should be
https://staging.canonizer.com/camp/create/88-Theories-of-Consciousness/1-Agreement
As of now URL is
https://staging.canonizer.com/camp/create/88-Theories-of-Consciousness/1

2.  Go to Theories of Consciousness and click on Manage/Edit C

[2020-09-14 16:32] rupalichavan9860 commented on #594
@gautamv16 Tested and I am fine with graphical design
@BrentAllsop Can you please check and close if fine for you

[2020-09-14 20:31] BrentAllsop commented on #598
Hi Rupali, thanks for finding all of these.
It seems to me this is bad coding.  All of these places in the code should be using the same code.
So one change fixes them all?
Let's code review these changes, before we close this.

[2020-09-17 21:59] BrentAllsop opened #642 "Messaging when user has not yet created a nick name."
When a user first attempts to contribute, he may have not yet created a nick name.
They see this and might not know what to do:
![image](https://user-images.githubusercontent.com/6559312/93532329-0bb4c780-f8fe-11ea-81d9-7eb04f75f8fe.png)

If there are no nick names yet, we should add the message, before the "Add New Nick Name" link:
"You have not yet added a nick name.  A public or private nick na

[2020-09-19 22:06] BrentAllsop opened #643 "Wrong edit summary for proposed change."
I proposed a change to a camp record.
I only changed the parent and provided an "Edit Summary:" value.
Then e-mail was sent out, giving the wrong "Edit Summary"
The email had the edit summary from the previous, in this case also the first, record, not the new one I submitted.

[2020-09-23 17:23] BrentAllsop commented on #629
This also needs to provide the canonized data for the pagination system used on the front page.
And it needs to have an advanced caching system for significant future expansion capabilities, all calls need to be produce resulting canonized data in less than 10 seconds, no matter how large the data.
There is a separate but related caching design issue here:
https://github.com/the-canonizer/canonize